P5/Schema/certainty.rnc

namespace tei = "http://www.tei-c.org/ns/1.0"
namespace teix = "http://www.tei-c.org/ns/Examples"

# Schema generated 2019-01-21T23:48:03Z
# Edition: Version 3.5.0a. Last updated on
#	19th January 2019, revision e6ccc03
# This material is dual-licensed.
# [http://creativecommons.org/licenses/by/3.0/] Distributed under a Creative Commons Attribution 3.0 Unported License.  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2019 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium. Certainty and uncertainty

# Definitions from module certainty

# Set global predeclared macros

# Set predeclared macros

# 0. predeclared macros

# 1. classes

# 2. elements
certainty =
  
  ## indicates the degree of certainty associated with some aspect of the text markup. []
  element certainty { certainty.content, certainty.localattributes }
certainty.content = (model.descLike | model.certLike)*
certainty.localattributes =
  att.scoping.attributes,
  att.global.attribute.xmlid,
  att.global.attribute.n,
  att.global.attribute.xmllang,
  att.global.attribute.xmlbase,
  att.global.attribute.xmlspace,
  att.global.rendition.attribute.rend,
  att.global.rendition.attribute.style,
  att.global.rendition.attribute.rendition,
  att.global.linking.attribute.corresp,
  att.global.linking.attribute.synch,
  att.global.linking.attribute.sameAs,
  att.global.linking.attribute.copyOf,
  att.global.linking.attribute.next,
  att.global.linking.attribute.prev,
  att.global.linking.attribute.exclude,
  att.global.linking.attribute.select,
  att.global.analytic.attribute.ana,
  att.global.facs.attribute.facs,
  att.global.change.attribute.change,
  att.global.responsibility.attribute.resp,
  att.global.source.attribute.source,
  
  ## (certainty) signifies the degree of certainty associated with the object pointed to by the certainty element.
  attribute cert {
    
    ##
    "high"
    | 
      ##
      "medium"
    | 
      ##
      "low"
    | 
      ##
      "unknown"
  }?,
  
  ## indicates more exactly the aspect concerning which certainty is being expressed: specifically, whether the markup is correctly located, whether the correct element or attribute name has been used, or whether the content of the element or attribute is correct, etc.
  attribute locus {
    
    ## uncertainty concerns whether the name of the element or attribute used is correctly applied.
    "name"
    | 
      ## uncertainty concerns whether the start of the element is correctly identified.
      "start"
    | 
      ## uncertainty concerns whether the end of the element is correctly identified.
      "end"
    | 
      ## uncertainty concerns both the start and the end of the element.
      "location"
    | 
      ## uncertainty concerns the content (for an element) or the value (for an attribute)
      "value"
  },
  
  ## provides an alternative value for the aspect of the markup in question—an alternative generic identifier, transcription, or attribute value, or the identifier of an anchor element (to indicate an alternative starting or ending location). If an assertedValue is given, the confidence level specified by degree applies to the alternative markup specified by assertedValue; if none is given, it applies to the markup in the text.
  attribute assertedValue {
    xsd:token { pattern = "(\p{L}|\p{N}|\p{P}|\p{S})+" }
  }?,
  
  ## indicates one or more element(s) characterizing the conditions which are assumed in the assignment of a degree of confidence.
  attribute given {
    list { xsd:anyURI+ }
  }?,
  
  ## indicates the degree of confidence assigned to the aspect of the markup named by the locus attribute.
  attribute degree { xsd:double }?,
  empty
precision =
  
  ## indicates the numerical accuracy or precision associated with some aspect of the text markup. []
  element precision { precision.content, precision.localattributes }
precision.content = (model.descLike | model.certLike)*
precision.localattributes =
  att.global.attributes,
  att.scoping.attributes,
  att.ranging.attributes,
  att.datable.attributes,
  
  ## characterizes the precision of the element or attribute pointed to by the precision element.
  attribute precision {
    
    ##
    "high"
    | 
      ##
      "medium"
    | 
      ##
      "low"
    | 
      ##
      "unknown"
  }?,
  
  ## supplies a standard deviation associated with the value in question
  attribute stdDeviation {
    xsd:double
    | xsd:token { pattern = "(\-?[\d]+/\-?[\d]+)" }
    | xsd:decimal
  }?,
  empty
respons =
  
  ## (responsibility) identifies the individual(s) responsible for some aspect of the content or markup of particular element(s). []
  element respons { respons.content, respons.localattributes }
respons.content = (model.descLike | model.certLike)*
respons.localattributes =
  att.global.attributes,
  att.scoping.attributes,
  
  ## indicates the specific aspect of the encoding (markup or content) for which responsibility is being assigned.
  attribute locus {
    list {
      (
       ## responsibility is being assigned concerning the name of the element or attribute used.
       "name"
       | 
         ## responsibility is being assigned concerning the start of the element concerned.
         "start"
       | 
         ## responsibility is being assigned concerning the end of the element concerned.
         "end"
       | 
         ## responsibility is being assigned concerning the location of the element concerned.
         "location"
       | 
         ## responsibility is being assigned concerning the content (for an element) or the value (for an attribute)
         "value")+
    }
  },
  empty
# 3. macros
