P5/Schema/gaiji.rnc

namespace tei = "http://www.tei-c.org/ns/1.0"
namespace teix = "http://www.tei-c.org/ns/Examples"

# Schema generated 2019-01-21T23:48:03Z
# Edition: Version 3.5.0a. Last updated on
#	19th January 2019, revision e6ccc03
# This material is dual-licensed.
# [http://creativecommons.org/licenses/by/3.0/] Distributed under a Creative Commons Attribution 3.0 Unported License.  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2019 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium. Character and glyph documentation

# Definitions from module gaiji

# Set global predeclared macros

# Set predeclared macros

# 0. predeclared macros

# 1. classes

# 2. elements
char =
  
  ## (character) provides descriptive information about a character. []
  element char { char.content, char.localattributes }
char.content =
  charName?,
  model.descLike*,
  charProp*,
  mapping*,
  figure*,
  model.graphicLike*,
  model.noteLike*
char.localattributes = att.global.attributes, empty
charDecl =
  
  ## (character declarations) provides information about nonstandard characters and glyphs. []
  element charDecl { charDecl.content, charDecl.localattributes }
charDecl.content = desc?, (char | glyph)+
charDecl.localattributes = att.global.attributes, empty
charName =
  
  ## (character name) contains the name of a character, expressed following Unicode conventions. []
  element charName { charName.content, charName.localattributes }
charName.content = text
charName.localattributes = att.global.attributes, empty
charProp =
  
  ## (character property) provides a name and value for some property of the parent character or glyph. []
  element charProp { charProp.content, charProp.localattributes }
charProp.content = (unicodeName | localName), value
charProp.localattributes =
  att.global.attributes, att.typed.attributes, empty
g =
  
  ## (character or glyph) represents a glyph, or a non-standard character. []
  element g { g.content, g.localattributes }
g.content = text
g.localattributes =
  att.global.attributes,
  att.typed.attributes,
  
  ## points to a description of the character or glyph intended.
  attribute ref { xsd:anyURI }?,
  empty
glyph =
  
  ## (character glyph) provides descriptive information about a character glyph. []
  element glyph { glyph.content, glyph.localattributes }
glyph.content =
  glyphName?,
  model.descLike*,
  charProp*,
  mapping*,
  figure*,
  model.graphicLike*,
  model.noteLike*
glyph.localattributes = att.global.attributes, empty
glyphName =
  
  ## (character glyph name) contains the name of a glyph, expressed following Unicode conventions for character names. []
  element glyphName { glyphName.content, glyphName.localattributes }
glyphName.content = text
glyphName.localattributes = att.global.attributes, empty
localName =
  
  ## (locally-defined property name) contains a locally defined name for some property. []
  element localName { localName.content, localName.localattributes }
localName.content = text
localName.localattributes = att.global.attributes, empty
mapping =
  
  ## (character mapping) contains one or more characters which are related to the parent character or glyph in some respect, as specified by the type attribute. []
  element mapping { mapping.content, mapping.localattributes }
mapping.content = macro.xtext
mapping.localattributes =
  att.global.attributes, att.typed.attributes, empty
unicodeName =
  
  ## (unicode property name) contains the name of a registered Unicode normative or informative property. []
  element unicodeName {
    unicodeName.content, unicodeName.localattributes
  }
unicodeName.content = text
unicodeName.localattributes =
  att.global.attributes,
  
  ## specifies the version number of the Unicode Standard in which this property name is defined.
  attribute version {
    xsd:token { pattern = "[\d]+(\.[\d]+){0,2}" }
  }?,
  empty
value =
  
  ## contains a single value for some property, attribute, or other analysis. []
  element value { value.content, value.localattributes }
value.content = macro.xtext
value.localattributes = att.global.attributes, empty
# 3. macros
