P5/Test/testbasic.odd

<?xml version="1.0" encoding="utf-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Basic tests</title>
        <author>TEI Council</author>
      </titleStmt>
      <publicationStmt>
        <p/>
      </publicationStmt>
      <sourceDesc>
        <p/>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec prefix="tei_" ident="testbasic" xml:lang="en" start="TEI div">
        <moduleRef key="core"/>
        <moduleRef key="tei"/>
        <moduleRef key="header"/>
        <moduleRef key="namesdates"/>
        <moduleRef key="analysis"/>
        <moduleRef key="dictionaries"/>
        <moduleRef key="transcr"/>
        <moduleRef key="figures"/>
        <moduleRef key="linking"/>
        <moduleRef key="textstructure"/>
        <moduleRef key="iso-fs"/>
        <macroSpec xmlns="http://www.tei-c.org/ns/1.0" type="pe" ident="macro.anyXML" module="tei"
          mode="replace">
          <desc versionDate="2008-09-05" xml:lang="en">defines a content model within which any XML
            elements are permitted</desc>
          <desc versionDate="2009-07-16" xml:lang="fr">définit un modèle de contenu dans lequel tous
            les éléments XML sont autorisés.</desc>
          <content>
            <element xmlns="http://relaxng.org/ns/structure/1.0">
              <anyName>
                <except>
                  <nsName ns="http://www.tei-c.org/ns/1.0"/>
                  <nsName ns="http://www.oucs.ox.ac.uk/ns"/>
                  <name ns="http://www.tei-c.org/ns/Examples">egXML</name>
                </except>
              </anyName>
              <zeroOrMore>
                <attribute>
                  <anyName/>
                </attribute>
              </zeroOrMore>
              <zeroOrMore>
                <choice>
                  <text/>
                  <ref name="macro.anyXML"/>
                </choice>
              </zeroOrMore>
            </element>
          </content>
        </macroSpec>
        <elementSpec ident="div1" module="textstructure" mode="delete"/>
        <elementSpec ident="div2" module="textstructure" mode="delete"/>
        <elementSpec ident="div3" module="textstructure" mode="delete"/>
        <elementSpec ident="div4" module="textstructure" mode="delete"/>
        <elementSpec ident="div5" module="textstructure" mode="delete"/>
        <elementSpec ident="div6" module="textstructure" mode="delete"/>
        <elementSpec ident="div7" module="textstructure" mode="delete"/>
        <elementSpec ident="Menu" mode="add" ns="http://www.oucs.ox.ac.uk/ns">
          <classes>
            <memberOf key="model.pPart.data"/>
          </classes>
          <content>
            <rng:text/>
          </content>
	  <attList>
	    <attRef class="att.global" name="xml:id"/>
	    <attRef class="att.global.rendition" name="rend"/>
	  </attList>
        </elementSpec>
        <classSpec ident="att.global.rendition" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="rend" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="bold"/>
                <valItem ident="boxed"/>
                <valItem ident="center"/>
                <valItem ident="italic"/>
                <valItem ident="underline"/>
              </valList>
            </attDef>
          </attList>
        </classSpec>

	<elementSpec ident="title" module="core" mode="change">
	  <attList>
	    <attDef ident="type" mode="change">
	      <datatype minOccurs="1" maxOccurs="unbounded">
		<rng:text xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
	      </datatype>
	      <valList mode="replace" type="semi">
		<valItem ident="biography"/>
		<valItem ident="chronology"/>
		<valItem ident="introduction"/>
		<valItem ident="project"/>
	      </valList>
	    </attDef>
	  </attList>
	</elementSpec>

        <elementSpec ident="div" module="textstructure" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="Act"/>
                <valItem ident="Scene"/>
                <valItem ident="play"/>
                <valItem ident="letter"/>
              </valList>
            </attDef>
          </attList>
	</elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
