P5/Test/test_meta2010.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"  xmlns="http://www.tei-c.org/ns/1.0"
 xmlns:rng="http://relaxng.org/ns/structure/1.0" n="testfs">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Minimal TEI for testing new ODD features</title>
         </titleStmt>
         <publicationStmt>
	   <p> </p>
	 </publicationStmt>
         <sourceDesc>
            <p>authored from scratch</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
     <body>
       <p>First, define the very bare list of the elements we expect to see in
       the output schema. Just these elements, no more and no less.</p>
       <specGrp xml:id="Include">
	 <elementRef key="TEI"/>
	 <elementRef key="author"/>
	 <elementRef key="back"/>
	 <elementRef key="body"/>
	 <elementRef key="div"/>
	 <elementRef key="fileDesc"/>
	 <elementRef key="front"/>
	 <elementRef key="head"/>
	 <elementRef key="item"/>
	 <elementRef key="label"/>
	 <elementRef key="list"/>
	 <elementRef key="p"/>
	 <elementRef key="hi"/>
	 <elementRef key="sourceDesc"/>
	 <elementRef key="teiHeader"/>
	 <elementRef key="text"/>
	 <elementRef key="title"/>
	 <elementRef key="titleStmt"/>
	 <classRef key="att.typed"/>
	 <p>Make some changes to the elements we have included.</p>
	 <elementSpec ident="list" mode="change">
	   <attList>
	     <attDef ident="type" mode="change">
	       <valList type="closed">
		 <valItem ident="enumerated"/>
		 <valItem ident="itemized"/>
	       </valList>
	     </attDef>
	   </attList>
	 </elementSpec>
       </specGrp>


       <p>Now add an element in another namespace, implementing parts
       of TBX. The <gi>admin</gi> element has <gi>hi</gi> as its
       content model, but the TBX one and not the TEI one.</p>
       <specGrp xml:id="TBX">
	 <elementSpec 
	     prefix="tbx_"
	     mode="add"
	     ns="http://www.lisa.org/TBX-Specification.33.0.html"
	     ident="admin">
	   <desc>Contains information of an administrative nature for the node (parent element)
	   in question, such as the source of information, or the project or client for
	   which it applies.</desc>
	   <classes>
	     <memberOf key="model.hiLike"/>
	   </classes>
	   <content autoPrefix="false">
	     <rng:ref name="tei_hi"/>
	   </content>
	 </elementSpec>
	 
	 <elementSpec 
	     prefix="tbx_"
	     mode="add"
	     ns="http://www.lisa.org/TBX-Specification.33.0.html"
	     ident="hi">
	   <desc> Highlights a segment of text and optionally points to another element.</desc>
	   <content>
	     <rng:text/>
	   </content>
	 </elementSpec>
       </specGrp>
       
<p>The schema should be built using version 1.4 of TEI P5</p>

       <schemaSpec ident="test_meta2010_1" start="TEI" source="../p5subset.xml">
	 <moduleRef key="tei"/>
	 <specGrpRef target="#Include"/>
	 <specGrpRef target="#TBX"/>
       </schemaSpec>


       <schemaSpec ident="test_meta2010_2" start="TEI" source="../p5subset.xml">
	 <moduleRef key="tei"/>
	 <moduleRef key="header"/>
	 <moduleRef key="core" except="p"/>
	 <moduleRef key="textstructure"/>
	 <moduleRef key="figures" except="table row cell"/>
	 <moduleRef key="namesdates" include="persName"/>
	 <elementSpec module="textstructure" ident="argument" mode="delete"/>
	 <elementSpec module="textstructure" ident="byline" mode="delete"/>
	 <elementSpec module="textstructure" ident="closer" mode="delete"/>
	 <elementSpec module="textstructure" ident="div1" mode="delete"/>
	 <elementSpec module="textstructure" ident="div2" mode="delete"/>
	 <elementSpec module="textstructure" ident="div3" mode="delete"/>
	 <elementSpec module="textstructure" ident="div4" mode="delete"/>
	 <elementSpec module="textstructure" ident="div5" mode="delete"/>
	 <elementSpec module="textstructure" ident="div6" mode="delete"/>
	 <elementSpec module="textstructure" ident="div7" mode="delete"/>
	 <elementSpec module="textstructure" ident="imprimatur" mode="delete"/>
	 <elementSpec module="textstructure" ident="opener" mode="delete"/>
	 <elementSpec module="textstructure" ident="postscript" mode="delete"/>
	 <elementSpec module="textstructure" ident="salute" mode="delete"/>
	 <elementSpec module="textstructure" ident="signed" mode="delete"/>
	 <elementSpec module="textstructure" ident="titlePage" mode="delete"/>
	 <elementSpec module="textstructure" ident="titlePart" mode="delete"/>
	 <elementSpec module="textstructure" ident="trailer" mode="delete"/>
       </schemaSpec>

       <!--
       <schemaSpec ident="test_meta2010_4"
		   source="http://www.tei-c.org/P5/1.4/p5.odd" start="TEI">
	 <moduleRef key="tei"/>
	 <moduleRef source="http://www.example.com/dict.odd" name="md"/>
	 <moduleRef source="http://www.example.com/tbx.odd" name="tbx"/>
	 <elementSpec ident="term" module="md" mode="delete"/>
	 <elementSpec ident="term" module="tbx" mode="change">
	    <desc>not the same</desc>
	 </elementSpec>
       </schemaSpec>
       -->
     </body>
   </text>
</TEI>
