P5/Test/testbare.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.tei-c.org/ns/1.0"><!--
Schema generated from ODD source 2019-01-21T23:48:47Z. .
TEI Edition: Version 3.5.0a. Last updated on
	19th January 2019, revision e6ccc03
TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 3.5.0a./
  
--><!--This template file is freely available and you are hereby authorised to copy, modify, and redistribute it in any way without further reference or permissions. When making such modifications, you are strongly recommended to change the present text to include an accurate statement of the licencing conditions applicable to your modified text.-->
   <define name="baremacro.paraContent">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="baremodel.gLike"/>
            <ref name="baremodel.phrase"/>
            <ref name="baremodel.inter"/>
            <ref name="baremodel.global"/>
        
            <ref name="baremodel.lLike"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="baremacro.phraseSeq">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="baremodel.gLike"/>
            <ref name="baremodel.qLike"/>
            <ref name="baremodel.phrase"/>
            <ref name="baremodel.global"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="baremacro.specialPara">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="baremodel.gLike"/>
            <ref name="baremodel.phrase"/>
            <ref name="baremodel.inter"/>
            <ref name="baremodel.divPart"/>
            <ref name="baremodel.global"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="bareatt.canonical.attributes">
      <ref name="bareatt.canonical.attribute.key"/>
      <ref name="bareatt.canonical.attribute.ref"/>
   </define>
   <define name="bareatt.canonical.attribute.key">
      <optional>
         <attribute name="key">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides an externally-defined means of identifying the entity (or entities) being named, using a coded value of some kind.</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.canonical.attribute.ref">
      <optional>
         <attribute name="ref">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference) provides an explicit means of locating a full definition or identity for the entity being named by means of one or more URIs.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.written.attributes">
      <ref name="bareatt.written.attribute.hand"/>
   </define>
   <define name="bareatt.written.attribute.hand">
      <optional>
         <attribute name="hand">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to a handNote element describing the hand considered responsible for the content of the element concerned.</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.datable.w3c.attributes">
      <ref name="bareatt.datable.w3c.attribute.when"/>
      <ref name="bareatt.datable.w3c.attribute.notBefore"/>
      <ref name="bareatt.datable.w3c.attribute.notAfter"/>
      <ref name="bareatt.datable.w3c.attribute.from"/>
      <ref name="bareatt.datable.w3c.attribute.to"/>
   </define>
   <define name="bareatt.datable.w3c.attribute.when">
      <optional>
         <attribute name="when">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of the date or time in a standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.datable.w3c.attribute.notBefore">
      <optional>
         <attribute name="notBefore">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the earliest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.datable.w3c.attribute.notAfter">
      <optional>
         <attribute name="notAfter">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the latest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.datable.w3c.attribute.from">
      <optional>
         <attribute name="from">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the starting point of the period in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.datable.w3c.attribute.to">
      <optional>
         <attribute name="to">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the ending point of the period in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="tei_bare-att.datable.w3c-att-datable-w3c-when-constraint-rule-1">
      <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="tei:*[@when]">
        <sch:report test="@notBefore|@notAfter|@from|@to" role="nonfatal">The @when attribute cannot be used with any other att.datable.w3c attributes.</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="tei_bare-att.datable.w3c-att-datable-w3c-from-constraint-rule-2">
      <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="tei:*[@from]">
        <sch:report test="@notBefore" role="nonfatal">The @from and @notBefore attributes cannot be used together.</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="tei_bare-att.datable.w3c-att-datable-w3c-to-constraint-rule-3">
      <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="tei:*[@to]">
        <sch:report test="@notAfter" role="nonfatal">The @to and @notAfter attributes cannot be used together.</sch:report>
      </sch:rule>
   </pattern>
   <define name="bareatt.datable.attributes">
      <ref name="bareatt.datable.w3c.attributes"/>
      <ref name="bareatt.datable.attribute.calendar"/>
      <ref name="bareatt.datable.attribute.period"/>
   </define>
   <define name="bareatt.datable.attribute.calendar">
      <optional>
         <attribute name="calendar">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the system or calendar to which the date represented by the content of this element belongs.</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="tei_bare-att.datable-calendar-calendar-constraint-rule-4">
      <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="tei:*[@calendar]">
            <sch:assert test="string-length(.) gt 0">
@calendar indicates the system or calendar to which the date represented by the content of this element
belongs, but this <sch:name/> element has no textual content.</sch:assert>
          </sch:rule>
   </pattern>
   <define name="bareatt.datable.attribute.period">
      <optional>
         <attribute name="period">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a pointer to some location defining a named period of time within which the datable item is understood to have occurred.</a:documentation>
            <data type="anyURI"/>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.divLike.attributes">
      <empty/>
   </define>
   <define name="bareatt.global.responsibility.attributes">
      <ref name="bareatt.global.responsibility.attribute.cert"/>
      <ref name="bareatt.global.responsibility.attribute.resp"/>
   </define>
   <define name="bareatt.global.responsibility.attribute.cert">
      <optional>
         <attribute name="cert">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(certainty) signifies the degree of certainty associated with the intervention or interpretation.</a:documentation>
            <choice>
               <data type="double"/>
               <choice>
                  <value>high</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>medium</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>low</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>unknown</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.global.responsibility.attribute.resp">
      <optional>
         <attribute name="resp">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsible party) indicates the agency responsible for the intervention or interpretation, for example an editor or transcriber.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.global.rendition.attributes">
      <ref name="bareatt.global.rendition.attribute.style"/>
      <ref name="bareatt.global.rendition.attribute.rendition"/>
   </define>
   <define name="bareatt.global.rendition.attribute.style">
      <optional>
         <attribute name="style">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an expression in some formal style definition language which defines the rendering or presentation used for this element in the source text</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.global.rendition.attribute.rendition">
      <optional>
         <attribute name="rendition">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to a description of the rendering or presentation used for this element in the source text.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.global.source.attributes">
      <ref name="bareatt.global.source.attribute.source"/>
   </define>
   <define name="bareatt.global.source.attribute.source">
      <optional>
         <attribute name="source">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the source from which some aspect of this element is drawn.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.global.attributes">
      <ref name="bareatt.global.rendition.attributes"/>
      <ref name="bareatt.global.responsibility.attributes"/>
      <ref name="bareatt.global.source.attributes"/>
      <ref name="bareatt.global.attribute.xmlid"/>
      <ref name="bareatt.global.attribute.n"/>
      <ref name="bareatt.global.attribute.xmllang"/>
   </define>
   <define name="bareatt.global.attribute.xmlid">
      <optional>
         <attribute name="xml:id">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) provides a unique identifier for the element bearing the attribute.</a:documentation>
            <data type="ID"/>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.global.attribute.n">
      <optional>
         <attribute name="n">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(number) gives a number (or other label) for an element, which is not necessarily unique within the document.</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.global.attribute.xmllang">
      <optional>
         <attribute name="xml:lang">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(language) indicates the language of the element content using a tag generated according to BCP 47.</a:documentation>
            <choice>
               <data type="language"/>
               <choice>
                  <value/>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.naming.attributes">
      <ref name="bareatt.canonical.attributes"/>
      <ref name="bareatt.naming.attribute.role"/>
      <ref name="bareatt.naming.attribute.nymRef"/>
   </define>
   <define name="bareatt.naming.attribute.role">
      <optional>
         <attribute name="role">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">may be used to specify further information about the entity referenced by this name in the form of a set of whitespace-separated values, for example the occupation of a person, or the status of a place.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.naming.attribute.nymRef">
      <optional>
         <attribute name="nymRef">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference to the canonical name) provides a means of locating the canonical form (nym) of the names associated with the object named by the element bearing it.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.placement.attributes">
      <ref name="bareatt.placement.attribute.place"/>
   </define>
   <define name="bareatt.placement.attribute.place">
      <optional>
         <attribute name="place">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies where this item is placed.
Suggested values include: 1] below; 2] bottom; 3] margin; 4] top; 5] opposite; 6] overleaf; 7] above; 8] end; 9] inline; 10] inspace</a:documentation>
            <list>
               <oneOrMore>
                  <choice>
                     <value>below</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">below the line</a:documentation>
                     <value>bottom</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">at the foot of the page</a:documentation>
                     <value>margin</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">in the margin (left, right, or both)</a:documentation>
                     <value>top</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">at the top of the page</a:documentation>
                     <value>opposite</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">on the opposite, i.e. facing, page</a:documentation>
                     <value>overleaf</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">on the other side of the leaf</a:documentation>
                     <value>above</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">above the line</a:documentation>
                     <value>end</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">at the end of e.g. chapter or volume.</a:documentation>
                     <value>inline</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">within the body of the text.</a:documentation>
                     <value>inspace</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">in a predefined space, for example left by an earlier scribe.</a:documentation>
                     <data type="token">
                        <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
                     </data>
                  </choice>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.typed.attributes">
      <ref name="bareatt.typed.attribute.type"/>
      <ref name="bareatt.typed.attribute.subtype"/>
   </define>
   <define name="bareatt.typed.attribute.type">
      <optional>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient classification scheme or typology.</a:documentation>
            <data type="token">
               <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="bareatt.typed.attribute.subtype">
      <optional>
         <attribute name="subtype">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a sub-categorization of the element, if needed</a:documentation>
            <data type="token">
               <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="tei_bare-att.typed-subtypeTyped-constraint-rule-5">
      <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="tei:*[@subtype]">
        <sch:assert test="@type">The <sch:name/> element should not be categorized in detail with @subtype unless also categorized in general with @type</sch:assert>
      </sch:rule>
   </pattern>
   <define name="bareatt.sortable.attributes">
      <ref name="bareatt.sortable.attribute.sortKey"/>
   </define>
   <define name="bareatt.sortable.attribute.sortKey">
      <optional>
         <attribute name="sortKey">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the sort key for this element in an index, list or group which contains it.</a:documentation>
            <data type="token">
               <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="baremodel.nameLike.agent">
      <notAllowed/>
   </define>
   <define name="baremodel.nameLike.agent_alternation">
      <notAllowed/>
   </define>
   <define name="baremodel.nameLike.agent_sequence">
      <empty/>
   </define>
   <define name="baremodel.nameLike.agent_sequenceOptional">
      <empty/>
   </define>
   <define name="baremodel.nameLike.agent_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="baremodel.nameLike.agent_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="baremodel.segLike">
      <notAllowed/>
   </define>
   <define name="baremodel.hiLike">
      <notAllowed/>
   </define>
   <define name="baremodel.hiLike_alternation">
      <notAllowed/>
   </define>
   <define name="baremodel.hiLike_sequence">
      <empty/>
   </define>
   <define name="baremodel.hiLike_sequenceOptional">
      <empty/>
   </define>
   <define name="baremodel.hiLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="baremodel.hiLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="baremodel.emphLike">
      <choice>
         <ref name="baretitle"/>
      </choice>
   </define>
   <define name="baremodel.emphLike_alternation">
      <choice>
         <ref name="baretitle"/>
      </choice>
   </define>
   <define name="baremodel.emphLike_sequence">
      <ref name="baretitle"/>
   </define>
   <define name="baremodel.emphLike_sequenceOptional">
      <optional>
         <ref name="baretitle"/>
      </optional>
   </define>
   <define name="baremodel.emphLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="baretitle"/>
      </zeroOrMore>
   </define>
   <define name="baremodel.emphLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="baretitle"/>
      </oneOrMore>
   </define>
   <define name="baremodel.highlighted">
      <choice>
         <ref name="baremodel.hiLike"/>
         <ref name="baremodel.emphLike"/>
      </choice>
   </define>
   <define name="baremodel.dateLike">
      <notAllowed/>
   </define>
   <define name="baremodel.dateLike_alternation">
      <notAllowed/>
   </define>
   <define name="baremodel.dateLike_sequence">
      <empty/>
   </define>
   <define name="baremodel.dateLike_sequenceOptional">
      <empty/>
   </define>
   <define name="baremodel.dateLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="baremodel.dateLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="baremodel.measureLike">
      <notAllowed/>
   </define>
   <define name="baremodel.measureLike_alternation">
      <notAllowed/>
   </define>
   <define name="baremodel.measureLike_sequence">
      <empty/>
   </define>
   <define name="baremodel.measureLike_sequenceOptional">
      <empty/>
   </define>
   <define name="baremodel.measureLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="baremodel.measureLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="baremodel.egLike">
      <notAllowed/>
   </define>
   <define name="baremodel.egLike_alternation">
      <notAllowed/>
   </define>
   <define name="baremodel.egLike_sequence">
      <empty/>
   </define>
   <define name="baremodel.egLike_sequenceOptional">
      <empty/>
   </define>
   <define name="baremodel.egLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="baremodel.egLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="baremodel.graphicLike">
      <notAllowed/>
   </define>
   <define name="baremodel.offsetLike">
      <notAllowed/>
   </define>
   <define name="baremodel.offsetLike_alternation">
      <notAllowed/>
   </define>
   <define name="baremodel.offsetLike_sequence">
      <empty/>
   </define>
   <define name="baremodel.offsetLike_sequenceOptional">
      <empty/>
   </define>
   <define name="baremodel.offsetLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="baremodel.offsetLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="baremodel.pPart.msdesc">
      <notAllowed/>
   </define>
   <define name="baremodel.pPart.editorial">
      <notAllowed/>
   </define>
   <define name="baremodel.pPart.editorial_alternation">
      <notAllowed/>
   </define>
   <define name="baremodel.pPart.editorial_sequence">
      <empty/>
   </define>
   <define name="baremodel.pPart.editorial_sequenceOptional">
      <empty/>
   </define>
   <define name="baremodel.pPart.editorial_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="baremodel.pPart.editorial_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="baremodel.pPart.transcriptional">
      <notAllowed/>
   </define>
   <define name="baremodel.pPart.transcriptional_alternation">
      <notAllowed/>
   </define>
   <define name="baremodel.pPart.transcriptional_sequence">
      <empty/>
   </define>
   <define name="baremodel.pPart.transcriptional_sequenceOptional">
      <empty/>
   </define>
   <define name="baremodel.pPart.transcriptional_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="baremodel.pPart.transcriptional_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="baremodel.pPart.edit">
      <choice>
         <ref name="baremodel.pPart.editorial"/>
         <ref name="baremodel.pPart.transcriptional"/>
      </choice>
   </define>
   <define name="baremodel.ptrLike">
      <notAllowed/>
   </define>
   <define name="baremodel.lPart">
      <notAllowed/>
   </define>
   <define name="baremodel.global.meta">
      <notAllowed/>
   </define>
   <define name="baremodel.milestoneLike">
      <notAllowed/>
   </define>
   <define name="baremodel.gLike">
      <notAllowed/>
   </define>
   <define name="baremodel.oddDecl">
      <notAllowed/>
   </define>
   <define name="baremodel.oddDecl_alternation">
      <notAllowed/>
   </define>
   <define name="baremodel.oddDecl_sequence">
      <empty/>
   </define>
   <define name="baremodel.oddDecl_sequenceOptional">
      <empty/>
   </define>
   <define name="baremodel.oddDecl_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="baremodel.oddDecl_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="baremodel.phrase.xml">
      <notAllowed/>
   </define>
   <define name="baremodel.specDescLike">
      <notAllowed/>
   </define>
   <define name="baremodel.biblLike">
      <notAllowed/>
   </define>
   <define name="baremodel.biblLike_alternation">
      <notAllowed/>
   </define>
   <define name="baremodel.biblLike_sequence">
      <empty/>
   </define>
   <define name="baremodel.biblLike_sequenceOptional">
      <empty/>
   </define>
   <define name="baremodel.biblLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="baremodel.biblLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="baremodel.headLike">
      <choice>
         <ref name="barehead"/>
      </choice>
   </define>
   <define name="baremodel.headLike_alternation">
      <choice>
         <ref name="barehead"/>
      </choice>
   </define>
   <define name="baremodel.headLike_sequence">
      <ref name="barehead"/>
   </define>
   <define name="baremodel.headLike_sequenceOptional">
      <optional>
         <ref name="barehead"/>
      </optional>
   </define>
   <define name="baremodel.headLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="barehead"/>
      </zeroOrMore>
   </define>
   <define name="baremodel.headLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="barehead"/>
      </oneOrMore>
   </define>
   <define name="baremodel.labelLike">
      <choice>
         <ref name="barelabel"/>
      </choice>
   </define>
   <define name="baremodel.labelLike_alternation">
      <choice>
         <ref name="barelabel"/>
      </choice>
   </define>
   <define name="baremodel.labelLike_sequence">
      <ref name="barelabel"/>
   </define>
   <define name="baremodel.labelLike_sequenceOptional">
      <optional>
         <ref name="barelabel"/>
      </optional>
   </define>
   <define name="baremodel.labelLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="barelabel"/>
      </zeroOrMore>
   </define>
   <define name="baremodel.labelLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="barelabel"/>
      </oneOrMore>
   </define>
   <define name="baremodel.listLike">
      <choice>
         <ref name="barelist"/>
      </choice>
   </define>
   <define name="baremodel.listLike_alternation">
      <choice>
         <ref name="barelist"/>
      </choice>
   </define>
   <define name="baremodel.listLike_sequence">
      <ref name="barelist"/>
   </define>
   <define name="baremodel.listLike_sequenceOptional">
      <optional>
         <ref name="barelist"/>
      </optional>
   </define>
   <define name="baremodel.listLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="barelist"/>
      </zeroOrMore>
   </define>
   <define name="baremodel.listLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="barelist"/>
      </oneOrMore>
   </define>
   <define name="baremodel.noteLike">
      <notAllowed/>
   </define>
   <define name="baremodel.lLike">
      <notAllowed/>
   </define>
   <define name="baremodel.lLike_alternation">
      <notAllowed/>
   </define>
   <define name="baremodel.lLike_sequence">
      <empty/>
   </define>
   <define name="baremodel.lLike_sequenceOptional">
      <empty/>
   </define>
   <define name="baremodel.lLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="baremodel.lLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="baremodel.pLike">
      <choice>
         <ref name="barep"/>
      </choice>
   </define>
   <define name="baremodel.pLike_alternation">
      <choice>
         <ref name="barep"/>
      </choice>
   </define>
   <define name="baremodel.pLike_sequence">
      <ref name="barep"/>
   </define>
   <define name="baremodel.pLike_sequenceOptional">
      <optional>
         <ref name="barep"/>
      </optional>
   </define>
   <define name="baremodel.pLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="barep"/>
      </zeroOrMore>
   </define>
   <define name="baremodel.pLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="barep"/>
      </oneOrMore>
   </define>
   <define name="baremodel.stageLike">
      <notAllowed/>
   </define>
   <define name="baremodel.stageLike_alternation">
      <notAllowed/>
   </define>
   <define name="baremodel.stageLike_sequence">
      <empty/>
   </define>
   <define name="baremodel.stageLike_sequenceOptional">
      <empty/>
   </define>
   <define name="baremodel.stageLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="baremodel.stageLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="baremodel.global.edit">
      <notAllowed/>
   </define>
   <define name="baremodel.divPart">
      <choice>
         <ref name="baremodel.lLike"/>
         <ref name="baremodel.pLike"/>
      </choice>
   </define>
   <define name="baremodel.placeNamePart">
      <notAllowed/>
   </define>
   <define name="baremodel.placeNamePart_alternation">
      <notAllowed/>
   </define>
   <define name="baremodel.placeNamePart_sequence">
      <empty/>
   </define>
   <define name="baremodel.placeNamePart_sequenceOptional">
      <empty/>
   </define>
   <define name="baremodel.placeNamePart_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="baremodel.placeNamePart_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="baremodel.placeStateLike">
      <choice>
         <ref name="baremodel.placeNamePart"/>
      </choice>
   </define>
   <define name="baremodel.placeStateLike_alternation">
      <choice>
         <ref name="baremodel.placeNamePart_alternation"/>
      </choice>
   </define>
   <define name="baremodel.placeStateLike_sequence">
      <ref name="baremodel.placeNamePart_sequence"/>
   </define>
   <define name="baremodel.placeStateLike_sequenceOptional">
      <optional>
         <ref name="baremodel.placeNamePart_sequenceOptional"/>
      </optional>
   </define>
   <define name="baremodel.placeStateLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="baremodel.placeNamePart_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="baremodel.placeStateLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="baremodel.placeNamePart_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="baremodel.publicationStmtPart.agency">
      <notAllowed/>
   </define>
   <define name="baremodel.publicationStmtPart.detail">
      <choice>
         <ref name="baremodel.ptrLike"/>
      </choice>
   </define>
   <define name="baremodel.quoteLike">
      <notAllowed/>
   </define>
   <define name="baremodel.quoteLike_alternation">
      <notAllowed/>
   </define>
   <define name="baremodel.quoteLike_sequence">
      <empty/>
   </define>
   <define name="baremodel.quoteLike_sequenceOptional">
      <empty/>
   </define>
   <define name="baremodel.quoteLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="baremodel.quoteLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="baremodel.qLike">
      <choice>
         <ref name="baremodel.quoteLike"/>
      </choice>
   </define>
   <define name="baremodel.qLike_alternation">
      <choice>
         <ref name="baremodel.quoteLike_alternation"/>
      </choice>
   </define>
   <define name="baremodel.qLike_sequence">
      <ref name="baremodel.quoteLike_sequence"/>
   </define>
   <define name="baremodel.qLike_sequenceOptional">
      <optional>
         <ref name="baremodel.quoteLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="baremodel.qLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="baremodel.quoteLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="baremodel.qLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="baremodel.quoteLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="baremodel.respLike">
      <choice>
         <ref name="bareauthor"/>
      </choice>
   </define>
   <define name="baremodel.divWrapper">
      <notAllowed/>
   </define>
   <define name="baremodel.divTopPart">
      <choice>
         <ref name="baremodel.headLike"/>
      </choice>
   </define>
   <define name="baremodel.divTop">
      <choice>
         <ref name="baremodel.divWrapper"/>
         <ref name="baremodel.divTopPart"/>
      </choice>
   </define>
   <define name="baremodel.frontPart.drama">
      <notAllowed/>
   </define>
   <define name="baremodel.pLike.front">
      <choice>
         <ref name="barehead"/>
      </choice>
   </define>
   <define name="baremodel.divBottomPart">
      <notAllowed/>
   </define>
   <define name="baremodel.divBottom">
      <choice>
         <ref name="baremodel.divWrapper"/>
         <ref name="baremodel.divBottomPart"/>
      </choice>
   </define>
   <define name="baremodel.addressLike">
      <notAllowed/>
   </define>
   <define name="baremodel.addressLike_alternation">
      <notAllowed/>
   </define>
   <define name="baremodel.addressLike_sequence">
      <empty/>
   </define>
   <define name="baremodel.addressLike_sequenceOptional">
      <empty/>
   </define>
   <define name="baremodel.addressLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="baremodel.addressLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="baremodel.nameLike">
      <choice>
         <ref name="baremodel.nameLike.agent"/>
         <ref name="baremodel.offsetLike"/>
         <ref name="baremodel.placeStateLike"/>
      </choice>
   </define>
   <define name="baremodel.nameLike_alternation">
      <choice>
         <ref name="baremodel.nameLike.agent_alternation"/>
         <ref name="baremodel.offsetLike_alternation"/>
         <ref name="baremodel.placeStateLike_alternation"/>
      </choice>
   </define>
   <define name="baremodel.nameLike_sequence">
      <ref name="baremodel.nameLike.agent_sequence"/>
      <ref name="baremodel.offsetLike_sequence"/>
      <ref name="baremodel.placeStateLike_sequence"/>
   </define>
   <define name="baremodel.nameLike_sequenceOptional">
      <optional>
         <ref name="baremodel.nameLike.agent_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="baremodel.offsetLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="baremodel.placeStateLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="baremodel.nameLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="baremodel.nameLike.agent_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="baremodel.offsetLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="baremodel.placeStateLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="baremodel.nameLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="baremodel.nameLike.agent_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="baremodel.offsetLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="baremodel.placeStateLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="baremodel.global">
      <choice>
         <ref name="baremodel.global.meta"/>
         <ref name="baremodel.milestoneLike"/>
         <ref name="baremodel.noteLike"/>
         <ref name="baremodel.global.edit"/>
      </choice>
   </define>
   <define name="baremodel.frontPart">
      <choice>
         <ref name="baremodel.frontPart.drama"/>
      </choice>
   </define>
   <define name="baremodel.pPart.data">
      <choice>
         <ref name="baremodel.dateLike"/>
         <ref name="baremodel.measureLike"/>
         <ref name="baremodel.addressLike"/>
         <ref name="baremodel.nameLike"/>
      </choice>
   </define>
   <define name="baremodel.inter">
      <choice>
         <ref name="baremodel.egLike"/>
         <ref name="baremodel.oddDecl"/>
         <ref name="baremodel.biblLike"/>
         <ref name="baremodel.labelLike"/>
         <ref name="baremodel.listLike"/>
         <ref name="baremodel.stageLike"/>
         <ref name="baremodel.qLike"/>
      </choice>
   </define>
   <define name="baremodel.common">
      <choice>
         <ref name="baremodel.divPart"/>
         <ref name="baremodel.inter"/>
      </choice>
   </define>
   <define name="baremodel.phrase">
      <choice>
         <ref name="baremodel.segLike"/>
         <ref name="baremodel.highlighted"/>
         <ref name="baremodel.graphicLike"/>
         <ref name="baremodel.pPart.msdesc"/>
         <ref name="baremodel.pPart.edit"/>
         <ref name="baremodel.ptrLike"/>
         <ref name="baremodel.lPart"/>
         <ref name="baremodel.phrase.xml"/>
         <ref name="baremodel.specDescLike"/>
         <ref name="baremodel.pPart.data"/>
      </choice>
   </define>
   <define name="baremodel.divLike">
      <choice>
         <ref name="barediv"/>
      </choice>
   </define>
   <define name="baremodel.divGenLike">
      <notAllowed/>
   </define>
   <define name="baremodel.div1Like">
      <notAllowed/>
   </define>
   <define name="baremodel.teiHeaderPart">
      <notAllowed/>
   </define>
   <define name="baremodel.sourceDescPart">
      <notAllowed/>
   </define>
   <define name="baremodel.resourceLike">
      <choice>
         <ref name="baretext"/>
      </choice>
   </define>
   <define name="barep">
      <element name="p">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(paragraph) marks paragraphs in prose. [3.1. Paragraphs 7.2.5. Speech Contents]</a:documentation>
         <ref name="baremacro.paraContent"/>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="tei_bare-p-abstractModel-structure-p-constraint-report-4">
            <rule context="tei:p">
               <report test="not(ancestor::tei:floatingText) and (ancestor::tei:p or ancestor::tei:ab)          and not(parent::tei:exemplum                |parent::tei:item                |parent::tei:note                |parent::tei:q                |parent::tei:quote                |parent::tei:remarks                |parent::tei:said                |parent::tei:sp                |parent::tei:stage                |parent::tei:cell                |parent::tei:figure                )">
        Abstract model violation: Paragraphs may not occur inside other paragraphs or ab elements.
      </report>
            </rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="tei_bare-p-abstractModel-structure-l-constraint-report-5">
            <rule context="tei:p">
               <report test="ancestor::tei:l[not(.//tei:note//tei:p[. = current()])]">
        Abstract model violation: Lines may not contain higher-level structural elements such as div, p, or ab.
      </report>
            </rule>
         </pattern>
         <ref name="bareatt.global.attributes"/>
         <ref name="bareatt.written.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="barelist">
      <element name="list">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains any sequence of items organized as a list. [3.7. Lists]</a:documentation>
         <group>
      
            <zeroOrMore>
               <choice>
          
                  <ref name="baremodel.divTop"/>
          
          
                  <ref name="baremodel.global"/>
          
               </choice>
            </zeroOrMore>
      
            <choice>
               <oneOrMore>
                  <group>
                     <ref name="bareitem"/>
          
                     <zeroOrMore>
                        <ref name="baremodel.global"/>
                     </zeroOrMore>
          
                  </group>
               </oneOrMore>
               <group>
          
            
          
          
            
          
                  <oneOrMore>
                     <group>
                        <ref name="barelabel"/>
            
                        <zeroOrMore>
                           <ref name="baremodel.global"/>
                        </zeroOrMore>
            
                        <ref name="bareitem"/>
            
                        <zeroOrMore>
                           <ref name="baremodel.global"/>
                        </zeroOrMore>
            
                     </group>
                  </oneOrMore>
               </group>
            </choice>
      
            <zeroOrMore>
               <group>
          
                  <ref name="baremodel.divBottom"/>
          
          
                  <zeroOrMore>
                     <ref name="baremodel.global"/>
                  </zeroOrMore>
          
               </group>
            </zeroOrMore>
      
         </group>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="tei_bare-list-gloss-list-must-have-labels-constraint-rule-6">
            <sch:rule xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      context="tei:list[@type='gloss']">
	              <sch:assert test="tei:label">The content of a "gloss" list should include a sequence of one or more pairs of a label element followed by an item element</sch:assert>
            </sch:rule>
         </pattern>
         <ref name="bareatt.global.attributes"/>
         <ref name="bareatt.sortable.attributes"/>
         <ref name="bareatt.typed.attribute.subtype"/>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the nature of the items in the list.
Suggested values include: 1] gloss; 2] index; 3] instructions; 4] litany; 5] syllogism</a:documentation>
               <choice>
                  <value>gloss</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">each list item glosses some term or concept, which is given by a label element preceding the list item.</a:documentation>
                  <value>index</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">each list item is an entry in an index such as the alphabetical topical index at the back of a print volume.</a:documentation>
                  <value>instructions</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">each list item is a step in a sequence of instructions, as in a recipe.</a:documentation>
                  <value>litany</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">each list item is one of a sequence of petitions, supplications or invocations, typically in a religious ritual.</a:documentation>
                  <value>syllogism</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">each list item is part of an argument consisting of two or more propositions and a final conclusion derived from them.</a:documentation>
                  <data type="token">
                     <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
                  </data>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="bareitem">
      <element name="item">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains one component of a list. [3.7. Lists 2.6. The Revision Description]</a:documentation>
         <ref name="baremacro.specialPara"/>
         <ref name="bareatt.global.attributes"/>
         <ref name="bareatt.sortable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="barelabel">
      <element name="label">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains any label or heading used to identify part of a text, typically but not exclusively in a list or glossary. [3.7. Lists]</a:documentation>
         <ref name="baremacro.phraseSeq"/>
         <ref name="bareatt.global.attributes"/>
         <ref name="bareatt.typed.attributes"/>
         <ref name="bareatt.placement.attributes"/>
         <ref name="bareatt.written.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="barehead">
      <element name="head">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. [4.2.1. Headings and Trailers]</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
        
               <ref name="baremodel.gLike"/>
               <ref name="baremodel.phrase"/>
               <ref name="baremodel.inter"/>
               <ref name="baremodel.lLike"/>
               <ref name="baremodel.global"/>
            </choice>
         </zeroOrMore>
         <ref name="bareatt.global.attributes"/>
         <ref name="bareatt.typed.attributes"/>
         <ref name="bareatt.placement.attributes"/>
         <ref name="bareatt.written.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="bareauthor">
      <element name="author">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement]</a:documentation>
         <ref name="baremacro.phraseSeq"/>
         <ref name="bareatt.global.attributes"/>
         <ref name="bareatt.naming.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="baretitle">
      <element name="title">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a title for any kind of work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement]</a:documentation>
         <ref name="baremacro.paraContent"/>
         <ref name="bareatt.global.attributes"/>
         <ref name="bareatt.canonical.attributes"/>
         <ref name="bareatt.typed.attribute.subtype"/>
         <ref name="bareatt.datable.attributes"/>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">classifies the title according to some convenient typology.
Sample values include: 1] main; 2] sub (subordinate) ; 3] alt (alternate) ; 4] short; 5] desc (descriptive) </a:documentation>
               <data type="token">
                  <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
               </data>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="bareteiHeader">
      <element name="teiHeader">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI header) supplies descriptive and declarative metadata associated with a digital resource or set of resources. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text]</a:documentation>
         <group>
            <ref name="barefileDesc"/>
      
            <zeroOrMore>
               <ref name="baremodel.teiHeaderPart"/>
            </zeroOrMore>
      
      
        
      
         </group>
         <ref name="bareatt.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="barefileDesc">
      <element name="fileDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(file description) contains a full bibliographic description of an electronic file. [2.2. The File Description 2.1.1. The TEI Header and Its Components]</a:documentation>
         <group>
            <group>
               <ref name="baretitleStmt"/>
        
          
        
        
          
        
               <ref name="barepublicationStmt"/>
        
          
        
        
          
        
            </group>
      
            <oneOrMore>
               <ref name="baresourceDesc"/>
            </oneOrMore>
      
         </group>
         <ref name="bareatt.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="baretitleStmt">
      <element name="titleStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(title statement) groups information about the title of a work and those responsible for its content. [2.2.1. The Title Statement 2.2. The File Description]</a:documentation>
         <group>
      
            <oneOrMore>
               <ref name="baretitle"/>
            </oneOrMore>
      
      
            <zeroOrMore>
               <ref name="baremodel.respLike"/>
            </zeroOrMore>
      
         </group>
         <ref name="bareatt.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="barepublicationStmt">
      <element name="publicationStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description]</a:documentation>
         <choice>
      
	           <oneOrMore>
               <group>
	  
	                 <ref name="baremodel.publicationStmtPart.agency"/>
	  
	  
	                 <zeroOrMore>
                     <ref name="baremodel.publicationStmtPart.detail"/>
                  </zeroOrMore>
	  
	              </group>
            </oneOrMore>
      
      
	           <oneOrMore>
               <ref name="baremodel.pLike"/>
            </oneOrMore>
      
         </choice>
         <ref name="bareatt.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="baresourceDesc">
      <element name="sourceDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(source description) describes the source from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. The Source Description]</a:documentation>
         <choice>
            <oneOrMore>
               <ref name="baremodel.pLike"/>
            </oneOrMore>
            <oneOrMore>
               <choice>
                  <ref name="baremodel.biblLike"/>
                  <ref name="baremodel.sourceDescPart"/>
                  <ref name="baremodel.listLike"/>
               </choice>
            </oneOrMore>
         </choice>
         <ref name="bareatt.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="bareTEI">
      <element name="TEI">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI document) contains a single TEI-conformant document, combining a single TEI header with one or more members of the model.resourceLike class. Multiple TEI elements may be combined to form a teiCorpus element. [4. Default Text Structure 15.1. Varieties of Composite Text]</a:documentation>
         <group>
            <ref name="bareteiHeader"/>
            <oneOrMore>
               <ref name="baremodel.resourceLike"/>
            </oneOrMore>
         </group>
         <ns xmlns="http://purl.oclc.org/dsdl/schematron"
             prefix="tei"
             uri="http://www.tei-c.org/ns/1.0"/>
         <ns xmlns="http://purl.oclc.org/dsdl/schematron"
             prefix="xs"
             uri="http://www.w3.org/2001/XMLSchema"/>
         <ns xmlns="http://purl.oclc.org/dsdl/schematron"
             prefix="rng"
             uri="http://relaxng.org/ns/structure/1.0"/>
         <ref name="bareatt.global.attributes"/>
         <ref name="bareatt.typed.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="baretext">
      <element name="text">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4. Default Text Structure 15.1. Varieties of Composite Text]</a:documentation>
         <group>
      
            <zeroOrMore>
               <ref name="baremodel.global"/>
            </zeroOrMore>
      
            <optional>
               <group>
                  <ref name="barefront"/>
        
                  <zeroOrMore>
                     <ref name="baremodel.global"/>
                  </zeroOrMore>
        
               </group>
            </optional>
            <choice>
               <ref name="barebody"/>
        
            </choice>
      
            <zeroOrMore>
               <ref name="baremodel.global"/>
            </zeroOrMore>
      
            <optional>
               <group>
                  <ref name="bareback"/>
        
                  <zeroOrMore>
                     <ref name="baremodel.global"/>
                  </zeroOrMore>
        
               </group>
            </optional>
         </group>
         <ref name="bareatt.global.attributes"/>
         <ref name="bareatt.typed.attributes"/>
         <ref name="bareatt.written.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="barebody">
      <element name="body">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure]</a:documentation>
         <group>
      
      
            <zeroOrMore>
               <ref name="baremodel.global"/>
            </zeroOrMore>
      
      
      
            <optional>
               <group>
          
                  <ref name="baremodel.divTop"/>
          
          
                  <zeroOrMore>
                     <choice>
                        <ref name="baremodel.global"/>
                        <ref name="baremodel.divTop"/>
                     </choice>
                  </zeroOrMore>
          
               </group>
            </optional>
      
      
      
            <optional>
               <group>
          
                  <ref name="baremodel.divGenLike"/>
          
          
                  <zeroOrMore>
                     <choice>
                        <ref name="baremodel.global"/>
                        <ref name="baremodel.divGenLike"/>
                     </choice>
                  </zeroOrMore>
          
               </group>
            </optional>
      
      
        
            <choice>
          
          
               <oneOrMore>
                  <group>
              
                     <ref name="baremodel.divLike"/>
              
              
                     <zeroOrMore>
                        <choice>
                           <ref name="baremodel.global"/>
                           <ref name="baremodel.divGenLike"/>
                        </choice>
                     </zeroOrMore>
              
                  </group>
               </oneOrMore>
          
          
          
               <oneOrMore>
                  <group>
              
                     <ref name="baremodel.div1Like"/>
              
              
                     <zeroOrMore>
                        <choice>
                           <ref name="baremodel.global"/>
                           <ref name="baremodel.divGenLike"/>
                        </choice>
                     </zeroOrMore>
              
                  </group>
               </oneOrMore>
          
          
               <group>
                  <oneOrMore>
                     <group>
              
                        <ref name="baremodel.common"/>
              
              
                        <zeroOrMore>
                           <ref name="baremodel.global"/>
                        </zeroOrMore>
              
                     </group>
                  </oneOrMore>
            
                  <optional>
                     <choice>
                
                
                        <oneOrMore>
                           <group>
                    
                              <ref name="baremodel.divLike"/>
                    
                    
                              <zeroOrMore>
                                 <choice>
                                    <ref name="baremodel.global"/>
                                    <ref name="baremodel.divGenLike"/>
                                 </choice>
                              </zeroOrMore>
                    
                           </group>
                        </oneOrMore>
                
                
                
                        <oneOrMore>
                           <group>
                    
                              <ref name="baremodel.div1Like"/>
                    
                    
                              <zeroOrMore>
                                 <choice>
                                    <ref name="baremodel.global"/>
                                    <ref name="baremodel.divGenLike"/>
                                 </choice>
                              </zeroOrMore>
                    
                           </group>
                        </oneOrMore>
                
                     </choice>
                  </optional>
            
               </group>
            </choice>
        
      
      
      
            <zeroOrMore>
               <group>
          
                  <ref name="baremodel.divBottom"/>
          
          
                  <zeroOrMore>
                     <ref name="baremodel.global"/>
                  </zeroOrMore>
          
               </group>
            </zeroOrMore>
      
         </group>
         <ref name="bareatt.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="barediv">
      <element name="div">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text division) contains a subdivision of the front, body, or back of a text. [4.1. Divisions of the Body]</a:documentation>
         <group>
      
            <zeroOrMore>
               <choice>
                  <ref name="baremodel.divTop"/>
          
                  <ref name="baremodel.global"/>
               </choice>
            </zeroOrMore>
      
            <optional>
               <group>
                  <choice>
          
                     <oneOrMore>
                        <group>
                           <choice>
                              <ref name="baremodel.divLike"/>
                              <ref name="baremodel.divGenLike"/>
                           </choice>
              
                           <zeroOrMore>
                              <ref name="baremodel.global"/>
                           </zeroOrMore>
              
                        </group>
                     </oneOrMore>
          
                     <group>
                        <oneOrMore>
                           <group>
              
                              <ref name="baremodel.common"/>
              
              
                              <zeroOrMore>
                                 <ref name="baremodel.global"/>
                              </zeroOrMore>
              
                           </group>
                        </oneOrMore>
                        <zeroOrMore>
                           <group>
                              <choice>
                                 <ref name="baremodel.divLike"/>
                                 <ref name="baremodel.divGenLike"/>
                              </choice>
              
                              <zeroOrMore>
                                 <ref name="baremodel.global"/>
                              </zeroOrMore>
              
                           </group>
                        </zeroOrMore>
                     </group>
                  </choice>
                  <zeroOrMore>
                     <group>
          
                        <ref name="baremodel.divBottom"/>
          
          
                        <zeroOrMore>
                           <ref name="baremodel.global"/>
                        </zeroOrMore>
          
                     </group>
                  </zeroOrMore>
               </group>
            </optional>
         </group>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="tei_bare-div-abstractModel-structure-l-constraint-report-6">
            <rule context="tei:div">
               <report test="ancestor::tei:l">
        Abstract model violation: Lines may not contain higher-level structural elements such as div.
      </report>
            </rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="tei_bare-div-abstractModel-structure-p-constraint-report-7">
            <rule context="tei:div">
               <report test="ancestor::tei:p or ancestor::tei:ab and not(ancestor::tei:floatingText)">
        Abstract model violation: p and ab may not contain higher-level structural elements such as div.
      </report>
            </rule>
         </pattern>
         <ref name="bareatt.global.attributes"/>
         <ref name="bareatt.divLike.attributes"/>
         <ref name="bareatt.typed.attributes"/>
         <ref name="bareatt.written.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="barefront">
      <element name="front">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(front matter) contains any prefatory matter (headers, abstracts, title page, prefaces, dedications, etc.) found at the start of a document, before the main body. [4.6. Title Pages 4. Default Text Structure]</a:documentation>
         <group>
      
            <zeroOrMore>
               <choice>
                  <ref name="baremodel.frontPart"/>
                  <ref name="baremodel.pLike"/>
                  <ref name="baremodel.pLike.front"/>
                  <ref name="baremodel.global"/>
               </choice>
            </zeroOrMore>
            <optional>
               <group>
                  <choice>
          
                     <group>
                        <ref name="baremodel.div1Like"/>
                        <zeroOrMore>
                           <choice>
                              <ref name="baremodel.div1Like"/>
                              <ref name="baremodel.frontPart"/>
                              <ref name="baremodel.global"/>
                           </choice>
                        </zeroOrMore>
                     </group>
          
                     <group>
                        <ref name="baremodel.divLike"/>
                        <zeroOrMore>
                           <choice>
                              <ref name="baremodel.divLike"/>
                              <ref name="baremodel.frontPart"/>
                              <ref name="baremodel.global"/>
                           </choice>
                        </zeroOrMore>
                     </group>
                  </choice>
        
                  <optional>
                     <group>
                        <ref name="baremodel.divBottom"/>
                        <zeroOrMore>
                           <choice>
                              <ref name="baremodel.divBottom"/>
                              <ref name="baremodel.global"/>
                           </choice>
                        </zeroOrMore>
                     </group>
                  </optional>
               </group>
            </optional>
         </group>
         <ref name="bareatt.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="bareback">
      <element name="back">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(back matter) contains any appendixes, etc. following the main part of a text. [4.7. Back Matter 4. Default Text Structure]</a:documentation>
         <group>

            <zeroOrMore>
               <choice>
                  <ref name="baremodel.frontPart"/>
                  <ref name="baremodel.pLike.front"/>
                  <ref name="baremodel.pLike"/>
                  <ref name="baremodel.listLike"/>
                  <ref name="baremodel.global"/>
               </choice>
            </zeroOrMore>



            <optional>
               <choice>
                  <group>

                     <ref name="baremodel.div1Like"/>


                     <zeroOrMore>
                        <choice>
                           <ref name="baremodel.frontPart"/>
                           <ref name="baremodel.div1Like"/>
                           <ref name="baremodel.global"/>
                        </choice>
                     </zeroOrMore>

                  </group>
                  <group>

                     <ref name="baremodel.divLike"/>


                     <zeroOrMore>
                        <choice>
                           <ref name="baremodel.frontPart"/>
                           <ref name="baremodel.divLike"/>
                           <ref name="baremodel.global"/>
                        </choice>
                     </zeroOrMore>

                  </group>
               </choice>
            </optional>



            <optional>
               <group>

                  <ref name="baremodel.divBottomPart"/>


                  <zeroOrMore>
                     <choice>
                        <ref name="baremodel.divBottomPart"/>
                        <ref name="baremodel.global"/>
                     </choice>
                  </zeroOrMore>

               </group>
            </optional>

         </group>
         <ref name="bareatt.global.attributes"/>
         <empty/>
      </element>
   </define>
   <start>
      <ref name="bareTEI"/>
   </start>
</grammar>
