P5/Test/test_meta2010.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"  xmlns="http://www.tei-c.org/ns/1.0"
 xmlns:rng="http://relaxng.org/ns/structure/1.0" n="testfs">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI with Feature Structures</title>
            <author>Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
	   <p> </p>
	 </publicationStmt>
         <sourceDesc>
            <p>authored from scratch</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
     <body>
       <p>First, define the very bare list of the elements we expect to see in
       the output schema. Just these elements, no more and no less.</p>
       <specGrp xml:id="Include">
	 <elementRef key="TEI"/>
	 <elementRef key="author"/>
	 <elementRef key="back"/>
	 <elementRef key="body"/>
	 <elementRef key="div"/>
	 <elementRef key="fileDesc"/>
	 <elementRef key="front"/>
	 <elementRef key="head"/>
	 <elementRef key="item"/>
	 <elementRef key="label"/>
	 <elementRef key="list"/>
	 <elementRef key="p"/>
	 <elementRef key="hi"/>
	 <elementRef key="sourceDesc"/>
	 <elementRef key="teiHeader"/>
	 <elementRef key="text"/>
	 <elementRef key="title"/>
	 <elementRef key="titleStmt"/>
	 <classRef key="att.typed"/>
       </specGrp>

       <p>Make some changes to the elements we have included.</p>
       <elementSpec ident="list" mode="change">
	 <attList>
	   <attDef ident="type" mode="change">
	     <valList type="closed">
	       <valItem ident="enumerated"/>
	       <valItem ident="itemized"/>
	     </valList>
	   </attDef>
	 </attList>
       </elementSpec>

       <p>Now add an element in another namespace, implementing parts
       of TBX. The <gi>admin</gi> element has <gi>hi</gi> as its
       content model, but the TBX one and not the TEI one.</p>
       <specGrp xml:id="TBX">
	 <elementSpec 
	     prefix="tbx_"
	     mode="add"
	     ns="http://www.lisa.org/TBX-Specification.33.0.html"
	     ident="admin">
	   <desc>Contains information of an administrative nature for the node (parent element)
	   in question, such as the source of information, or the project or client for
	   which it applies.</desc>
	   <classes>
	     <memberOf key="model.hiLike"/>
	   </classes>
	   <content preserveNames="true">
	     <rng:ref name="tbx_hi"/>
	   </content>
	 </elementSpec>
	 
	 <elementSpec 
	     prefix="tbx_"
	     mode="add"
	     ns="http://www.lisa.org/TBX-Specification.33.0.html"
	     ident="hi">
	   <desc> Highlights a segment of text and optionally points to another element.</desc>
	   <content>
	     <rng:text/>
	   </content>
	 </elementSpec>
       </specGrp>
       
       <schemaSpec ident="test_meta2010" start="TEI">
	 <specGrpRef target="#Include"/>
	 <specGrpRef target="#TBX"/>
       </schemaSpec>

     </body>
   </text>
</TEI>
