P5/Test/testconstraint2.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"  
     xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:s="http://www.ascc.net/xml/schematron" 
     xmlns:rng="http://relaxng.org/ns/structure/1.0"
     n="testconstraint"
     xmlns:xsl="http://www.w3.org/1999/XSL/Transform">

  <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI with constraint setup</title>
            <author>Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
	   <p> </p>
	 </publicationStmt>
         <sourceDesc>
            <p>authored from scratch</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>
<divGen type="toc"/>
<div>
<head>My Constraint Schema</head>
<p>Here is the introduction to your document</p>
  <p>Here is the schema:</p>
    <schemaSpec ident="testconstraint2" start="TEI">
      <moduleRef key="header"/>
      <moduleRef key="core"/>
      <moduleRef key="tei"/>
      <moduleRef key="namesdates"/>
      <moduleRef key="textstructure"/>
      <elementSpec ident="div" mode="change">
	<constraint mode="add" ident="canondiv"
		    scheme="isoschematron">
	  <data>
	    <s:report test="@type='canon' and
			      parent::tei:div/@type='canon'">
	      divs of type 'canon' may not be nested
	    </s:report>
	    <s:report test="@type='canon' and
			      parent::tei:div/@type='register'">
	      divs of type 'canon' may not be nested within 'register'
	    </s:report>
	    <s:report test="@type='canon' and count
			      (tei:div[@type='canonText']) &gt;1">
	      divs of type 'canon' may contain only one 'canonText'
	    </s:report>
	    <s:report test="@type='canonText' and 
			      not(parent::tei:div[@type='canon'])">
	      divs of type 'canonText' can only occur inside 'canon'
	    </s:report>
	  </data>
	</constraint>
      </elementSpec>
      <elementSpec ident="p" mode="change">
	  <constraint mode="add" ident="c1" scheme="isoschematron">
	    <data>
	    <s:report test="tei:list"> 
	    lists inside paragraphs not supported </s:report>
	    </data>
	  </constraint>
	  <constraint mode="add" ident="c2"  scheme="isoschematron">
	    <data>
	      <s:rule context="tei:p|tei:q">
		<s:report test="contains(@rend,' ')"> 
		multi-valued rend is not supported </s:report>
	      </s:rule>
	    </data>
	  </constraint>


	<attList>
	  <attDef ident="type" mode="change">
		<datatype><rng:data type="float"/></datatype>
	  </attDef>
	</attList>


      </elementSpec>

      <elementSpec ident="relation" mode="change" >
	 <constraint ident="activepassive" mode="delete" scheme="isoschematron"/>
      </elementSpec>

    </schemaSpec>
</div>
</body>
</text>
</TEI>



