P5/Test/testconstraint.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"  
     xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:rng="http://relaxng.org/ns/structure/1.0"
     xmlns:s="http://www.ascc.net/xml/schematron" 
     n="testconstraint">
  <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI with constraint setup</title>
            <author>Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
	   <p> </p>
	 </publicationStmt>
         <sourceDesc>
            <p>authored from scratch</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>
<divGen type="toc"/>
<div>
<head>My Constraint Schema</head>
<p>Here is the introduction to your document</p>
  <p>Here is the schema:</p>
    <schemaSpec ident="testconstraint" start="TEI">
      <moduleRef key="header"/>
      <moduleRef key="core"/>
      <moduleRef key="tei"/>
      <moduleRef key="namesdates"/>
      <moduleRef key="textstructure"/>

      <elementSpec ident="p" mode="change">
	<attList>
	  <attDef ident="type" mode="change">
	  </attDef>
	</attList>

	<constraintList  scheme="xsl">
	  <constraint>
	    <xsl:template match="tei:p">
	      <xsl:if test="count(foo)=4">
		<xsl:message>rubbish</xsl:message>
	      </xsl:if>
	    </xsl:template>
	  </constraint>
	</constraintList>

	<constraintList  scheme="schematron">
	  <constraint mode="change" ident="c1">
	    <s:report test="tei:list"> 
	    lists inside paragraphs not supported </s:report>
	  </constraint>
	</constraintList>
      </elementSpec>

      <constraint ident="c1">
	  <s:rule context="tei:p|tei:q">
	    <s:report test="contains(@rend,' ')"> 
	    multi-valued rend is not supported </s:report>
	  </s:rule>
      </constraint>

      <constraint ident="c2" mimeType="text/schematron">
	<s:report test="contains(@rend,' ')"> 
	    multi-valued rend is not supported </s:report>
      </constraint>

      <elementSpec ident="relation" mode="change">
	<constraint ident="c1" mode="delete"/> 
      </elementSpec>

    </schemaSpec>
</div>
</body>
</text>
</TEI>



