P5/Test/testfand.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"  xmlns="http://www.tei-c.org/ns/1.0"
 xmlns:rng="http://relaxng.org/ns/structure/1.0"
 n="testfand">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI with FAND setup</title>
            <author>Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
	   <p> </p>
	 </publicationStmt>
         <sourceDesc>
            <p>authored from scratch</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>
<divGen type="toc"/>
<div>
<head>My FAND Schema</head>
<p>Here is the introduction to your document</p>
  <p>Here is the schema:</p>
    <schemaSpec ident="testfand" start="TEI">
      <moduleRef key="tei"/>
      <moduleRef key="core"/>
      <moduleRef key="header"/>
      <moduleRef key="textstructure"/>
      <moduleRef key="msdescription"/>

      <elementSpec ident="div2" module="textstructure" mode="delete"/>
      <elementSpec ident="div3" module="textstructure" mode="delete"/>
      <elementSpec ident="div4" module="textstructure" mode="delete"/>
      <elementSpec ident="div5" module="textstructure" mode="delete"/>
      <elementSpec ident="div6" module="textstructure" mode="delete"/>
      <elementSpec ident="div7" module="textstructure" mode="delete"/>



<!--
      <elementSpec ident="div0" module="textstructure" mode="delete"/>
      <elementSpec ident="div1" module="textstructure" mode="delete"/>
-->
<elementSpec ident="div0" mode="change">
  <classes>
    <memberOf key="att.divLike"/>
    <memberOf key="att.declaring"/>
    <memberOf key="model.ndivLike"/>
  </classes>
</elementSpec>


<elementSpec ident="div1" mode="change">
  <classes>
    <memberOf key="att.divLike"/>
    <memberOf key="att.declaring"/>
    <memberOf key="model.ndivLike"/>
  </classes>
</elementSpec>


<elementSpec ident="div" module="textstructure" mode="delete"/>

<!--
<elementSpec ident="divGen" mode="change">
  <classes>
    <memberOf key="model.divGenLike"/>
  </classes>
</elementSpec>


<elementSpec ident="divGen" module="textstructure" mode="delete"/>
<elementSpec ident="div" mode="change">
  <classes>
    <memberOf key="model.divLike"/>
    <memberOf key="att.divLike"/>
    <memberOf key="att.declaring"/>
  </classes>
</elementSpec>
-->

<classSpec ident="model.divLike" mode="add" module="tei" type="model">
  <desc>A major structural division</desc>
</classSpec>

<classSpec ident="model.divGenLike" mode="add" module="tei" type="model">
  <desc>A major generated division</desc>
</classSpec>

<classSpec ident="model.ndivLike" mode="add" module="tei" type="model">
  <desc>A major structural division</desc>
</classSpec>

<elementSpec module="textstructure" mode="change" ident="body">
  <content>
    <rng:group>
<!-- first, some globals or divWrappers interleaved -->
      <rng:zeroOrMore>
	<rng:choice>
	  <rng:group>
	    <rng:ref name="model.divWrapper"/>
	  </rng:group>
	  <rng:group>
	    <rng:choice>
	      <rng:ref name="model.global"/>
	      <rng:ref name="model.divGenLike"/>
	    </rng:choice>
	  </rng:group>
	</rng:choice>
      </rng:zeroOrMore>

      <rng:group>
	<!-- 
	     now a choice between
	     
	     a) some components, with globals after them if needed
	     b) some divLike things, with globals after them if needed
	     c) some ndivLike things, with globals after them if needed
	-->
	<!-- a -->
	<rng:choice>
	  <rng:oneOrMore>
	    <rng:group>
	      <rng:group>
		<rng:ref name="macro.component"/>
	      </rng:group>
	      <rng:zeroOrMore>
		<rng:choice>
		  <rng:ref name="model.global"/>
		  <rng:ref name="model.divGenLike"/>
		</rng:choice>
	      </rng:zeroOrMore>
	    </rng:group>
	  </rng:oneOrMore>

	  <!-- b -->	  
	  <rng:oneOrMore>
	    <rng:group>
	      <rng:group>
		<rng:ref name="model.divLike"/>
	      </rng:group>
	      <rng:zeroOrMore>
		<rng:choice>
		  <rng:ref name="model.global"/>
		  <rng:ref name="model.divGenLike"/>
		</rng:choice>
	      </rng:zeroOrMore>
	    </rng:group>
	  </rng:oneOrMore>

	  <!-- c -->	  
	  <rng:oneOrMore>
	    <rng:group>
	      <rng:group>
		<rng:ref name="model.ndivLike"/>
	      </rng:group>
	      <rng:zeroOrMore>
		<rng:choice>
		  <rng:ref name="model.global"/>
		  <rng:ref name="model.divGenLike"/>
		</rng:choice>
	      </rng:zeroOrMore>
	    </rng:group>
	  </rng:oneOrMore>

	</rng:choice>
      </rng:group>
      <!-- end of choice -->
      
      <!-- finally, some divWrappers -->
      <rng:zeroOrMore>
	<rng:ref name="model.divWrapper.bottom"/>
      </rng:zeroOrMore>
    </rng:group>

<!--
    <s:pattern xmlns:s="http://www.ascc.net/xml/schematron" name="pattern.body">
      <s:rule context="tei:body">
	<s:report test="tei:div and (tei:div0 or tei:div1)">
	  You cannot mix numbered divs with unnumbered divs in body
	</s:report>
	<s:report test="tei:div0 and tei:div1">
	  You cannot mix div0 with div1 at the same level in body
	</s:report>
      </s:rule>
    </s:pattern>
-->
  </content>
</elementSpec>

<elementSpec ident="front" mode="change">
  <classes>
    <memberOf key="att.declaring"/>
  </classes>
  <content>
    <rng:group xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.frontPart"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:choice>

	  <rng:oneOrMore>
	    <rng:group>
	      <rng:group>
		<rng:ref name="model.pLike.front"/>
	      </rng:group>
	      <rng:zeroOrMore>
		<rng:ref name="model.global"/>
		</rng:zeroOrMore>
	    </rng:group>
	  </rng:oneOrMore>

	  <rng:oneOrMore>
	    <rng:group>
	      <rng:group>
		<rng:ref name="model.divLike"/>
	      </rng:group>
	      <rng:zeroOrMore>
		<rng:ref name="model.global"/>
		</rng:zeroOrMore>
	    </rng:group>
	  </rng:oneOrMore>

	  <rng:oneOrMore>
	    <rng:group>
	      <rng:group>
		<rng:ref name="model.ndivLike"/>
	      </rng:group>
	      <rng:zeroOrMore>
		<rng:ref name="model.global"/>
		</rng:zeroOrMore>
	    </rng:group>
	  </rng:oneOrMore>

        </rng:choice>
      </rng:optional>
    </rng:group>
  </content>
</elementSpec>


<elementSpec ident="back" mode="change">
  <content>
    <rng:group xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:zeroOrMore>
	<rng:choice>
	  <rng:ref name="model.frontPart"/>
	  <rng:ref name="model.global"/>
	  <rng:ref name="model.divWrapper"/>
	</rng:choice>
      </rng:zeroOrMore>

      <rng:optional>
        <rng:choice>
	  <rng:oneOrMore>
	    <rng:group>
	      <rng:group>
		<rng:ref name="model.divLike"/>
	      </rng:group>
	      <rng:zeroOrMore>
		<rng:ref name="model.global"/>
		</rng:zeroOrMore>
	    </rng:group>
	  </rng:oneOrMore>

	  <rng:oneOrMore>
	    <rng:group>
	      <rng:group>
		<rng:ref name="model.ndivLike"/>
	      </rng:group>
	      <rng:zeroOrMore>
		<rng:ref name="model.global"/>
		</rng:zeroOrMore>
	    </rng:group>
	  </rng:oneOrMore>

        </rng:choice>
      </rng:optional>

      <rng:zeroOrMore>
	<rng:ref name="model.divWrapper.bottom"/>
      </rng:zeroOrMore>
    </rng:group>
  </content>
</elementSpec>
    </schemaSpec>
</div>
</body>
</text>
</TEI>



<!-- older more complex model for body
<content>
    <rng:group>

      <rng:zeroOrMore>
    <rng:choice>
      <rng:group>
        <rng:ref name="model.divWrapper"/>
      </rng:group>
      <rng:group>
        <rng:ref name="model.global"/>
      </rng:group>
    </rng:choice>
      </rng:zeroOrMore>

      <rng:group>
    <rng:choice>
      <rng:group>
        <rng:oneOrMore>
          <rng:group>
        <rng:ref name="macro.component"/>
          </rng:group>
          <rng:zeroOrMore>
        <rng:ref name="model.global"/>
          </rng:zeroOrMore>
        </rng:oneOrMore>
      </rng:group>
     
      <rng:group>
        <rng:group>
          <rng:ref name="model.divLike"/>
        </rng:group>
        <rng:zeroOrMore>
          <rng:choice>
        <rng:ref name="model.divLike"/>
        <rng:ref name="model.global"/>
          </rng:choice>
        </rng:zeroOrMore>
      </rng:group>
    </rng:choice>
      </rng:group>

      <rng:zeroOrMore>
    <rng:ref name="model.divWrapper.bottom"/>
      </rng:zeroOrMore>
    </rng:group>

  </content>

-->