P5/Test/testmultattrval.odd

<?xml version="1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI repeated enumeration test</title>
        <author>Syd Bauman</author>
        <editor xml:id="sbauman.emt">Syd Bauman</editor>
      </titleStmt>
      <publicationStmt>
        <availability status="restricted">
          <p>Copyright 2007 Syd Bauman and TEI-C.</p>
          <p>Intended soley for testing within the TEI, but freely
            available under Creative Commons
            "Attribution-ShareAlike 2.5" license for those foolish
            enough to want to copy it.</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Initially created on <date value="2006-10-12T05:24:41"
            >Thursday 12th October 2006</date> by the form at
          http://www.tei-c.org.uk/Roma/.</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change date="2007-03-02" who="#sbauman.emt"> Created, using
      tei_bare as a starting point.</change>
      <change date="2007-03-04" who="#sbauman.emt"> Changed from
      multiple enumeration testing to multiple occurences of any
      datatype testing </change>
    </revisionDesc>
  </teiHeader>
  <text>
    <front>
      <divGen type="toc"/>
    </front>
    <body>
      <schemaSpec ident="testmultattrval" xml:lang="en" start="TEI div">
        <moduleRef key="core"/>
        <moduleRef key="tei"/>
        <moduleRef key="header"/>
        <moduleRef key="textstructure"/>
        <elementSpec ident="abbr" mode="delete" module="core"/>
        <elementSpec ident="add" mode="delete" module="core"/>
        <elementSpec ident="addrLine" mode="delete" module="core"/>
        <elementSpec ident="address" mode="delete" module="core"/>
        <elementSpec ident="altIdent" mode="delete" module="core"/>
        <elementSpec ident="analytic" mode="delete" module="core"/>
        <elementSpec ident="bibl" mode="delete" module="core"/>
        <elementSpec ident="biblFull" mode="delete" module="core"/>
        <elementSpec ident="biblItem" mode="delete" module="core"/>
        <elementSpec ident="biblScope" mode="delete" module="core"/>
        <elementSpec ident="biblStruct" mode="delete" module="core"/>
        <elementSpec ident="binaryObject" mode="delete" module="core"/>
        <elementSpec ident="cb" mode="delete" module="core"/>
        <elementSpec ident="choice" mode="delete" module="core"/>
        <elementSpec ident="cit" mode="delete" module="core"/>
        <elementSpec ident="corr" mode="delete" module="core"/>
        <elementSpec ident="date" mode="delete" module="core"/>
        <elementSpec ident="dateRange" mode="delete" module="core"/>
        <elementSpec ident="del" mode="delete" module="core"/>
        <elementSpec ident="desc" mode="delete" module="core"/>
        <elementSpec ident="distinct" mode="change" module="core">
	  <attList xmlns:rng="http://relaxng.org/ns/structure/1.0">
	    <attDef ident="r11" usage="req">
	      <gloss>required, min 1, max 1</gloss>
	      <datatype minOccurs="1" maxOccurs="1"><rng:ref name="data.count"/></datatype>
	    </attDef>
	    <attDef ident="r12" usage="req">
	      <gloss>required, min 1, max 2</gloss>
	      <datatype minOccurs="1" maxOccurs="2"><rng:ref name="data.count"/></datatype>
	    </attDef>
	    <attDef ident="r22" usage="req">
	      <gloss>required, min 2, max 2</gloss>
	      <datatype minOccurs="2" maxOccurs="2"><rng:ref name="data.count"/></datatype>
	    </attDef>
	    <attDef ident="r01" usage="req">
	      <gloss>required, min 0, max 1</gloss>
	      <datatype minOccurs="0" maxOccurs="1"><rng:ref name="data.count"/></datatype>
	    </attDef>
	    <attDef ident="r0i" usage="req">
	      <gloss>required, min 0, max unbounded</gloss>
	      <datatype minOccurs="0" maxOccurs="unbounded"><rng:ref name="data.count"/></datatype>
	    </attDef>
	    <attDef ident="r1i" usage="req">
	      <gloss>required, min 1, max unbounded</gloss>
	      <datatype minOccurs="1" maxOccurs="unbounded"><rng:ref name="data.count"/></datatype>
	    </attDef>
	    <attDef ident="r2i" usage="req">
	      <gloss>required, min 2, max unbounded</gloss>
	      <datatype minOccurs="2" maxOccurs="unbounded"><rng:ref name="data.count"/></datatype>
	    </attDef>
	    <attDef ident="o11" usage="opt">
	      <gloss>required, min 1, max 1</gloss>
	      <datatype minOccurs="1" maxOccurs="1"><rng:ref name="data.count"/></datatype>
	    </attDef>
	    <attDef ident="o12" usage="opt">
	      <gloss>required, min 1, max 2</gloss>
	      <datatype minOccurs="1" maxOccurs="2"><rng:ref name="data.count"/></datatype>
	    </attDef>
	    <attDef ident="o22" usage="opt">
	      <gloss>required, min 2, max 2</gloss>
	      <datatype minOccurs="2" maxOccurs="2"><rng:ref name="data.count"/></datatype>
	    </attDef>
	    <attDef ident="o01" usage="opt">
	      <gloss>required, min 0, max 1</gloss>
	      <datatype minOccurs="0" maxOccurs="1"><rng:ref name="data.count"/></datatype>
	    </attDef>
	    <attDef ident="o0i" usage="opt">
	      <gloss>required, min 0, max unbounded</gloss>
	      <datatype minOccurs="0" maxOccurs="unbounded"><rng:ref name="data.count"/></datatype>
	    </attDef>
	    <attDef ident="o1i" usage="opt">
	      <gloss>required, min 1, max unbounded</gloss>
	      <datatype minOccurs="1" maxOccurs="unbounded"><rng:ref name="data.count"/></datatype>
	    </attDef>
	    <attDef ident="o2i" usage="opt">
	      <gloss>required, min 2, max unbounded</gloss>
	      <datatype minOccurs="2" maxOccurs="unbounded"><rng:ref name="data.count"/></datatype>
	    </attDef>
	  </attList>
	</elementSpec>
        <elementSpec ident="divGen" mode="delete" module="core"/>
        <elementSpec ident="editor" mode="delete" module="core"/>
        <elementSpec ident="emph" mode="delete" module="core"/>
        <elementSpec ident="equiv" mode="delete" module="core"/>
        <elementSpec ident="expan" mode="delete" module="core"/>
        <elementSpec ident="foreign" mode="delete" module="core"/>
        <elementSpec ident="gap" mode="delete" module="core"/>
        <elementSpec ident="gloss" mode="delete" module="core"/>
        <elementSpec ident="graphic" mode="delete" module="core"/>
        <elementSpec ident="headItem" mode="delete" module="core"/>
        <elementSpec ident="headLabel" mode="delete" module="core"/>
        <elementSpec ident="hi" mode="delete" module="core"/>
        <elementSpec ident="imprint" mode="delete" module="core"/>
        <elementSpec ident="index" mode="delete" module="core"/>
        <elementSpec ident="l" mode="delete" module="core"/>
        <elementSpec ident="lb" mode="delete" module="core"/>
        <elementSpec ident="lg" mode="delete" module="core"/>
        <elementSpec ident="listBibl" mode="delete" module="core"/>
        <elementSpec ident="measure" mode="delete" module="core"/>
        <elementSpec ident="meeting" mode="delete" module="core"/>
        <elementSpec ident="mentioned" mode="delete" module="core"/>
        <elementSpec ident="milestone" mode="delete" module="core"/>
        <elementSpec ident="monogr" mode="delete" module="core"/>
        <elementSpec ident="name" mode="delete" module="core"/>
        <elementSpec ident="note" mode="delete" module="core"/>
        <elementSpec ident="num" mode="delete" module="core"/>
        <elementSpec ident="orig" mode="delete" module="core"/>
        <elementSpec ident="pb" mode="delete" module="core"/>
        <elementSpec ident="postBox" mode="delete" module="core"/>
        <elementSpec ident="postCode" mode="delete" module="core"/>
        <elementSpec ident="ptr" mode="delete" module="core"/>
        <elementSpec ident="pubPlace" mode="delete" module="core"/>
        <elementSpec ident="publisher" mode="delete" module="core"/>
        <elementSpec ident="q" mode="delete" module="core"/>
        <elementSpec ident="quote" mode="delete" module="core"/>
        <elementSpec ident="ref" mode="delete" module="core"/>
        <elementSpec ident="reg" mode="delete" module="core"/>
        <elementSpec ident="resp" mode="delete" module="core"/>
        <elementSpec ident="respStmt" mode="delete" module="core"/>
        <elementSpec ident="rs" mode="delete" module="core"/>
        <elementSpec ident="series" mode="delete" module="core"/>
        <elementSpec ident="sic" mode="delete" module="core"/>
        <elementSpec ident="soCalled" mode="delete" module="core"/>
        <elementSpec ident="sp" mode="delete" module="core"/>
        <elementSpec ident="speaker" mode="delete" module="core"/>
        <elementSpec ident="stage" mode="delete" module="core"/>
        <elementSpec ident="street" mode="delete" module="core"/>
        <elementSpec ident="teiCorpus" mode="delete" module="core"/>
        <elementSpec ident="term" mode="delete" module="core"/>
        <elementSpec ident="time" mode="delete" module="core"/>
        <elementSpec ident="timeRange" mode="delete" module="core"/>
        <elementSpec ident="unclear" mode="delete" module="core"/>
        <elementSpec ident="authority" mode="delete"
          module="header"/>
        <elementSpec ident="availability" mode="delete"
          module="header"/>
        <elementSpec ident="broadcast" mode="delete"
          module="header"/>
        <elementSpec ident="cRefPattern" mode="delete"
          module="header"/>
        <elementSpec ident="catDesc" mode="delete" module="header"/>
        <elementSpec ident="catRef" mode="delete" module="header"/>
        <elementSpec ident="category" mode="delete"
          module="header"/>
        <elementSpec ident="change" mode="delete" module="header"/>
        <elementSpec ident="classCode" mode="delete"
          module="header"/>
        <elementSpec ident="classDecl" mode="delete"
          module="header"/>
        <elementSpec ident="correction" mode="delete"
          module="header"/>
        <elementSpec ident="creation" mode="delete"
          module="header"/>
        <elementSpec ident="distributor" mode="delete"
          module="header"/>
        <elementSpec ident="edition" mode="delete" module="header"/>
        <elementSpec ident="editorialDecl" mode="delete"
          module="header"/>
        <elementSpec ident="encodingDesc" mode="delete"
          module="header"/>
        <elementSpec ident="equipment" mode="delete"
          module="header"/>
        <elementSpec ident="extent" mode="delete" module="header"/>
        <elementSpec ident="fsdDecl" mode="delete" module="header"/>
        <elementSpec ident="funder" mode="delete" module="header"/>
        <elementSpec ident="hyphenation" mode="delete"
          module="header"/>
        <elementSpec ident="idno" mode="delete" module="header"/>
        <elementSpec ident="interpretation" mode="delete"
          module="header"/>
        <elementSpec ident="keywords" mode="delete"
          module="header"/>
        <elementSpec ident="langUsage" mode="delete"
          module="header"/>
        <elementSpec ident="language" mode="delete"
          module="header"/>
        <elementSpec ident="metDecl" mode="delete" module="header"/>
        <elementSpec ident="metSym" mode="delete" module="header"/>
        <elementSpec ident="namespace" mode="delete"
          module="header"/>
        <elementSpec ident="normalization" mode="delete"
          module="header"/>
        <elementSpec ident="notesStmt" mode="delete"
          module="header"/>
        <elementSpec ident="principal" mode="delete"
          module="header"/>
        <elementSpec ident="profileDesc" mode="delete"
          module="header"/>
        <elementSpec ident="projectDesc" mode="delete"
          module="header"/>
        <elementSpec ident="quotation" mode="delete"
          module="header"/>
        <elementSpec ident="recording" mode="delete"
          module="header"/>
        <elementSpec ident="recordingStmt" mode="delete"
          module="header"/>
        <elementSpec ident="refsDecl" mode="delete"
          module="header"/>
        <elementSpec ident="rendition" mode="delete"
          module="header"/>
        <elementSpec ident="revisionDesc" mode="delete"
          module="header"/>
        <elementSpec ident="samplingDecl" mode="delete"
          module="header"/>
        <elementSpec ident="scriptStmt" mode="delete"
          module="header"/>
        <elementSpec ident="segmentation" mode="delete"
          module="header"/>
        <elementSpec ident="seriesStmt" mode="delete"
          module="header"/>
        <elementSpec ident="sponsor" mode="delete" module="header"/>
        <elementSpec ident="state" mode="delete" module="header"/>
        <elementSpec ident="stdVals" mode="delete" module="header"/>
        <elementSpec ident="tagUsage" mode="delete"
          module="header"/>
        <elementSpec ident="tagsDecl" mode="delete"
          module="header"/>
        <elementSpec ident="taxonomy" mode="delete"
          module="header"/>
        <elementSpec ident="textClass" mode="delete"
          module="header"/>
        <elementSpec ident="variantEncoding" mode="delete"
          module="header"/>
        <elementSpec ident="argument" mode="delete"
          module="textstructure"/>
        <elementSpec ident="byline" mode="delete"
          module="textstructure"/>
        <elementSpec ident="closer" mode="delete"
          module="textstructure"/>
        <elementSpec ident="dateline" mode="delete"
          module="textstructure"/>
        <elementSpec ident="div0" mode="delete"
          module="textstructure"/>
        <elementSpec ident="div1" mode="delete"
          module="textstructure"/>
        <elementSpec ident="div2" mode="delete"
          module="textstructure"/>
        <elementSpec ident="div3" mode="delete"
          module="textstructure"/>
        <elementSpec ident="div4" mode="delete"
          module="textstructure"/>
        <elementSpec ident="div5" mode="delete"
          module="textstructure"/>
        <elementSpec ident="div6" mode="delete"
          module="textstructure"/>
        <elementSpec ident="div7" mode="delete"
          module="textstructure"/>
        <elementSpec ident="docAuthor" mode="delete"
          module="textstructure"/>
        <elementSpec ident="docDate" mode="delete"
          module="textstructure"/>
        <elementSpec ident="docEdition" mode="delete"
          module="textstructure"/>
        <elementSpec ident="docImprint" mode="delete"
          module="textstructure"/>
        <elementSpec ident="docTitle" mode="delete"
          module="textstructure"/>
        <elementSpec ident="epigraph" mode="delete"
          module="textstructure"/>
        <elementSpec ident="group" mode="delete"
          module="textstructure"/>
        <elementSpec ident="imprimatur" mode="delete"
          module="textstructure"/>
        <elementSpec ident="opener" mode="delete"
          module="textstructure"/>
        <elementSpec ident="salute" mode="delete"
          module="textstructure"/>
        <elementSpec ident="signed" mode="delete"
          module="textstructure"/>
        <elementSpec ident="titlePage" mode="delete"
          module="textstructure"/>
        <elementSpec ident="titlePart" mode="delete"
          module="textstructure"/>
        <elementSpec ident="trailer" mode="delete"
          module="textstructure"/>
        <elementSpec ident="editionStmt" mode="delete"
          module="header"/>
        <classSpec ident="att.global" mode="change" module="tei"
          type="atts">
          <attList>
            <attDef ident="xml:space" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.divLike" mode="change" module="tei"
          type="atts">
          <attList>
            <attDef ident="org" mode="delete"/>
            <attDef ident="sample" mode="delete"/>
            <attDef ident="part" mode="delete"/>
          </attList>
        </classSpec>
        <elementSpec ident="title" mode="change">
          <attList>
            <attDef ident="level" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="sourceDesc" mode="change">
          <attList>
            <attDef ident="default" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="TEI" mode="change"
          module="textstructure">
          <attList>
            <attDef ident="version" mode="delete"/>
          </attList>
        </elementSpec>
        <classSpec ident="att.declaring" mode="change"
          module="tei" type="atts">
          <attList>
            <attDef ident="decls" mode="delete"/>
          </attList>
        </classSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
