P5/Test/testjustfs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tei-c.org/ns/1.0" xmlns:dcr="http://www.isocat.org/ns/dcr" xmlns:tei="http://www.tei-c.org/ns/1.0">
  <xs:import namespace="http://www.isocat.org/ns/dcr" schemaLocation="testjustfs_dcr.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="testjustfs_xml.xsd"/>
  <!--
    Schema generated from ODD source 2019-01-21T23:49:53Z. .
    TEI Edition: Version 3.5.0a. Last updated on
    	19th January 2019, revision e6ccc03
    TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 3.5.0a./
    
  -->
  <!---->
  <xs:attributeGroup name="att.datcat.attributes">
    <xs:attributeGroup ref="tei:att.datcat.attribute.datcat"/>
    <xs:attributeGroup ref="tei:att.datcat.attribute.valueDatcat"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datcat.attribute.datcat">
    <xs:attribute ref="dcr:datcat"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.datcat.attribute.valueDatcat">
    <xs:attribute ref="dcr:valueDatcat"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.responsibility.attributes">
    <xs:attributeGroup ref="tei:att.global.responsibility.attribute.cert"/>
    <xs:attributeGroup ref="tei:att.global.responsibility.attribute.resp"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.responsibility.attribute.cert">
    <xs:attribute name="cert">
      <xs:annotation>
        <xs:documentation>(certainty) signifies the degree of certainty associated with the intervention or interpretation.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:double">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="high">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="medium">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="low">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="unknown">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.responsibility.attribute.resp">
    <xs:attribute name="resp">
      <xs:annotation>
        <xs:documentation>(responsible party) indicates the agency responsible for the intervention or interpretation, for example an editor or transcriber.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.rendition.attributes">
    <xs:attributeGroup ref="tei:att.global.rendition.attribute.rend"/>
    <xs:attributeGroup ref="tei:att.global.rendition.attribute.style"/>
    <xs:attributeGroup ref="tei:att.global.rendition.attribute.rendition"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.rendition.attribute.rend">
    <xs:attribute name="rend">
      <xs:annotation>
        <xs:documentation>(rendition) indicates how the element in question was rendered or presented in the source text.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.rendition.attribute.style">
    <xs:attribute name="style" type="xs:string">
      <xs:annotation>
        <xs:documentation>contains an expression in some formal style definition language which defines the rendering or presentation used for this element in the source text</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.rendition.attribute.rendition">
    <xs:attribute name="rendition">
      <xs:annotation>
        <xs:documentation>points to a description of the rendering or presentation used for this element in the source text.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.source.attributes">
    <xs:attributeGroup ref="tei:att.global.source.attribute.source"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.source.attribute.source">
    <xs:attribute name="source">
      <xs:annotation>
        <xs:documentation>specifies the source from which some aspect of this element is drawn.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="xs:anyURI"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attributes">
    <xs:attributeGroup ref="tei:att.global.rendition.attributes"/>
    <xs:attributeGroup ref="tei:att.global.responsibility.attributes"/>
    <xs:attributeGroup ref="tei:att.global.source.attributes"/>
    <xs:attributeGroup ref="tei:att.global.attribute.xmlid"/>
    <xs:attributeGroup ref="tei:att.global.attribute.n"/>
    <xs:attributeGroup ref="tei:att.global.attribute.xmllang"/>
    <xs:attributeGroup ref="tei:att.global.attribute.xmlbase"/>
    <xs:attributeGroup ref="tei:att.global.attribute.xmlspace"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.xmlid">
    <xs:attribute ref="xml:id"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.n">
    <xs:attribute name="n" type="xs:string">
      <xs:annotation>
        <xs:documentation>(number) gives a number (or other label) for an element, which is not necessarily unique within the document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.xmllang">
    <xs:attribute ref="xml:lang"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.xmlbase">
    <xs:attribute ref="xml:base"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="att.global.attribute.xmlspace">
    <xs:attribute ref="xml:space"/>
  </xs:attributeGroup>
  <xs:group name="model.featureVal.complex">
    <xs:choice>
      <xs:element ref="tei:fs"/>
      <xs:element ref="tei:vColl"/>
      <xs:element ref="tei:vNot"/>
      <xs:element ref="tei:vMerge"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.featureVal.single">
    <xs:choice>
      <xs:element ref="tei:binary"/>
      <xs:element ref="tei:symbol"/>
      <xs:element ref="tei:numeric"/>
      <xs:element ref="tei:string"/>
      <xs:element ref="tei:vLabel"/>
      <xs:element ref="tei:default"/>
      <xs:element ref="tei:vAlt"/>
    </xs:choice>
  </xs:group>
  <xs:group name="model.featureVal">
    <xs:choice>
      <xs:group ref="tei:model.featureVal.complex"/>
      <xs:group ref="tei:model.featureVal.single"/>
    </xs:choice>
  </xs:group>
  <xs:element name="fsDecl">
    <xs:annotation>
      <xs:documentation>(feature structure declaration) declares one type of feature structure. [18.11. Feature System Declaration]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tei:fsDescr"/>
        <xs:element maxOccurs="unbounded" ref="tei:fDecl"/>
        <xs:element minOccurs="0" ref="tei:fsConstraints"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attribute name="type" use="required">
        <xs:annotation>
          <xs:documentation>gives a name for the type of feature structure being declared.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="baseTypes">
        <xs:annotation>
          <xs:documentation>gives the name of one or more typed feature structures from which this type inherits feature specifications and constraints; if this type includes a feature specification with the same name as that of any of those specified by this attribute, or if more than one specification of the same name is inherited, then the set of possible values is defined by unification. Similarly, the set of constraints applicable is derived by combining those specified explicitly within this element with those implied by the baseTypes attribute. When no baseTypes attribute is specified, no feature specification or constraint is inherited.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list itemType="xs:Name"/>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="fsDescr">
    <xs:annotation>
      <xs:documentation>(feature system description (in FSD)) describes in prose what is represented by the type of feature structure declared in the enclosing fsDecl. [18.11. Feature System Declaration]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fsdLink">
    <xs:annotation>
      <xs:documentation>(feature structure declaration link) associates the name of a typed feature structure with a feature structure declaration for it. [18.11. Feature System Declaration]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attribute name="type" use="required">
        <xs:annotation>
          <xs:documentation>identifies the type of feature structure to be documented; this will be the value of the type attribute on at least one feature structure.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="target" use="required" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>supplies a pointer to a feature structure declaration (fsDecl) element within the current document or elsewhere.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="fDecl">
    <xs:annotation>
      <xs:documentation>(feature declaration) declares a single feature, specifying its name, organization, range of allowed values, and optionally its default value. [18.11. Feature System Declaration]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="tei:fDescr"/>
        <xs:element ref="tei:vRange"/>
        <xs:element minOccurs="0" ref="tei:vDefault"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attribute name="name" use="required" type="xs:Name">
        <xs:annotation>
          <xs:documentation>a single word which follows the rules defining a legal XML name (see ), indicating the name of the feature being declared; matches the name attribute of f elements in the text.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="optional" default="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>indicates whether or not the value of this feature may be present.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="fDescr">
    <xs:annotation>
      <xs:documentation>(feature description (in FSD)) describes in prose what is represented by the feature being declared and its values. [18.11. Feature System Declaration]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vRange">
    <xs:annotation>
      <xs:documentation>(value range) defines the range of allowed values for a feature, in the form of an fs, vAlt, or primitive value; for the value of an f to be valid, it must be subsumed by the specified range; if the f contains multiple values (as sanctioned by the org attribute), then each value must be subsumed by the vRange. [18.11. Feature System Declaration]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group ref="tei:model.featureVal"/>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vDefault">
    <xs:annotation>
      <xs:documentation>(value default) declares the default value to be supplied when a feature structure does not contain an instance of f for this name; if unconditional, it is specified as one (or, depending on the value of the org attribute of the enclosing fDecl) more fs elements or primitive values; if conditional, it is specified as one or more if elements; if no default is specified, or no condition matches, the value none is assumed. [18.11. Feature System Declaration]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:group maxOccurs="unbounded" ref="tei:model.featureVal"/>
        <xs:element maxOccurs="unbounded" ref="tei:if"/>
      </xs:choice>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="if">
    <xs:annotation>
      <xs:documentation>defines a conditional default value for a feature; the condition is specified as a feature structure, and is met if it subsumes the feature structure in the text for which a default value is sought. [18.11. Feature System Declaration]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="tei:fs"/>
          <xs:element ref="tei:f"/>
        </xs:choice>
        <xs:element ref="tei:then"/>
        <xs:group ref="tei:model.featureVal"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="then">
    <xs:annotation>
      <xs:documentation>separates the condition from the default in an if, or the antecedent and the consequent in a cond element. [18.11. Feature System Declaration]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fsConstraints">
    <xs:annotation>
      <xs:documentation>(feature-structure constraints) specifies constraints on the content of valid feature structures. [18.11. Feature System Declaration]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:cond"/>
        <xs:element ref="tei:bicond"/>
      </xs:choice>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cond">
    <xs:annotation>
      <xs:documentation>(conditional feature-structure constraint) defines a conditional feature-structure constraint; the consequent and the antecedent are specified as feature structures or feature-structure collections; the constraint is satisfied if both the antecedent and the consequent subsume a given feature structure, or if the antecedent does not. [18.11. Feature System Declaration]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="tei:fs"/>
          <xs:element ref="tei:f"/>
        </xs:choice>
        <xs:element ref="tei:then"/>
        <xs:choice>
          <xs:element ref="tei:fs"/>
          <xs:element ref="tei:f"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="bicond">
    <xs:annotation>
      <xs:documentation>(bi-conditional feature-structure constraint) defines a biconditional feature-structure constraint; both consequent and antecedent are specified as feature structures or groups of feature structures; the constraint is satisfied if both subsume a given feature structure, or if both do not. [18.11. Feature System Declaration]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="tei:fs"/>
          <xs:element ref="tei:f"/>
        </xs:choice>
        <xs:element ref="tei:iff"/>
        <xs:choice>
          <xs:element ref="tei:fs"/>
          <xs:element ref="tei:f"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="iff">
    <xs:annotation>
      <xs:documentation>(if and only if) separates the condition from the consequence in a bicond element. [18.11. Feature System Declaration]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fs">
    <xs:annotation>
      <xs:documentation>(feature structure) represents a feature structure, that is, a collection of feature-value pairs organized as a structural unit. [18.2. Elementary Feature Structures and the Binary
Feature Value]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:f"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.datcat.attributes"/>
      <xs:attribute name="type">
        <xs:annotation>
          <xs:documentation>specifies the type of the feature structure.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="feats">
        <xs:annotation>
          <xs:documentation>(features) references the feature-value specifications making up this feature structure.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list itemType="xs:anyURI"/>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="f">
    <xs:annotation>
      <xs:documentation>(feature) represents a feature value specification, that is, the association of a name with a value of any of several different types. [18.2. Elementary Feature Structures and the Binary
Feature Value]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" ref="tei:model.featureVal"/>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.datcat.attributes"/>
      <xs:attribute name="name" use="required" type="xs:Name">
        <xs:annotation>
          <xs:documentation>a single word which follows the rules defining a legal XML name (see ), providing a name for the feature.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="fVal" type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>(feature value) references any element which can be used to represent the value of a feature.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="binary">
    <xs:annotation>
      <xs:documentation>(binary value) represents the value part of a feature-value specification which can contain either of exactly two possible values. [18.2. Elementary Feature Structures and the Binary
Feature Value]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.datcat.attributes"/>
      <xs:attribute name="value" use="required" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>supplies a binary value.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="symbol">
    <xs:annotation>
      <xs:documentation>(symbolic value) represents the value part of a feature-value specification which contains one of a finite list of symbols. [18.3. Other Atomic Feature Values]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.datcat.attributes"/>
      <xs:attribute name="value" use="required">
        <xs:annotation>
          <xs:documentation>supplies a symbolic value for the feature, one of a finite list that may be specified in a feature declaration.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="numeric">
    <xs:annotation>
      <xs:documentation>(numeric value) represents the value part of a feature-value specification which contains a numeric value or range. [18.3. Other Atomic Feature Values]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.datcat.attributes"/>
      <xs:attribute name="value" use="required">
        <xs:annotation>
          <xs:documentation>supplies a lower bound for the numeric value represented, and also (if max is not supplied) its upper bound.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="xs:double xs:decimal">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:pattern value="(\-?[\d]+/\-?[\d]+)"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="max">
        <xs:annotation>
          <xs:documentation>supplies an upper bound for the numeric value represented.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:union memberTypes="xs:double xs:decimal">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:pattern value="(\-?[\d]+/\-?[\d]+)"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:union>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="trunc" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>specifies whether the value represented should be truncated to give an integer value.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="string">
    <xs:annotation>
      <xs:documentation>(string value) represents the value part of a feature-value specification which contains a string. [18.3. Other Atomic Feature Values]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attributeGroup ref="tei:att.datcat.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vLabel">
    <xs:annotation>
      <xs:documentation>(value label) represents the value part of a feature-value specification which appears at more than one point in a feature structure. [18.6. Re-entrant Feature Structures]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group minOccurs="0" ref="tei:model.featureVal"/>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attribute name="name" use="required">
        <xs:annotation>
          <xs:documentation>supplies a name identifying the sharing point.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="vColl">
    <xs:annotation>
      <xs:documentation>(collection of values) represents the value part of a feature-value specification which contains multiple values organized as a set, bag, or list. [18.7. Collections as Complex Feature Values]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="tei:fs"/>
        <xs:group ref="tei:model.featureVal.single"/>
      </xs:choice>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attribute name="org">
        <xs:annotation>
          <xs:documentation>(organization) indicates organization of given value or values as set, bag or list.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="set">
              <xs:annotation>
                <xs:documentation>indicates that the given values are organized as a set.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="bag">
              <xs:annotation>
                <xs:documentation>indicates that the given values are organized as a bag (multiset).</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="list">
              <xs:annotation>
                <xs:documentation>indicates that the given values are organized as a list.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="default">
    <xs:annotation>
      <xs:documentation>(default feature value) represents the value part of a feature-value specification which contains a defaulted value. [18.9. Default Values]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vAlt">
    <xs:annotation>
      <xs:documentation>(value alternation) represents the value part of a feature-value specification which contains a set of values, only one of which can be valid. [18.8.1. Alternation]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="tei:model.featureVal"/>
        <xs:group maxOccurs="unbounded" ref="tei:model.featureVal"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vNot">
    <xs:annotation>
      <xs:documentation>(value negation) represents a feature value which is the negation of its content. [18.8.2. Negation]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group ref="tei:model.featureVal"/>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vMerge">
    <xs:annotation>
      <xs:documentation>(merged collection of values) represents a feature value which is the result of merging together the feature values contained by its children, using the organization specified by the org attribute. [18.8.3. Collection of Values]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="tei:model.featureVal"/>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
      <xs:attribute name="org">
        <xs:annotation>
          <xs:documentation>indicates the organization of the resulting merged values as set, bag or list.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="set">
              <xs:annotation>
                <xs:documentation>indicates that the resulting values are organized as a set.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="bag">
              <xs:annotation>
                <xs:documentation>indicates that the resulting values are organized as a bag (multiset).</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="list">
              <xs:annotation>
                <xs:documentation>indicates that the resulting values are organized as a list.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="fLib">
    <xs:annotation>
      <xs:documentation>(feature library) assembles a library of f (feature) elements. [18.4. Feature Libraries and Feature-Value Libraries]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tei:f"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fvLib">
    <xs:annotation>
      <xs:documentation>(feature-value library) assembles a library of reusable feature value elements (including complete feature structures). [18.4. Feature Libraries and Feature-Value Libraries]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:model.featureVal"/>
      <xs:attributeGroup ref="tei:att.global.attributes"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
