P5/Test/testdocbook4.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"  xmlns="http://www.tei-c.org/ns/1.0"
 xmlns:rng="http://relaxng.org/ns/structure/1.0"
 n="testdocbook4">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI with docbook setup</title>
            <author>Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
	   <p> </p>
	 </publicationStmt>
         <sourceDesc>
            <p>authored from scratch</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>
    <schemaSpec ident="testdocbook4" start="">
      <moduleRef key="header"/>
      <moduleRef key="core"/>
      <moduleRef key="tei"/>
      <moduleRef key="figures"/>
      <moduleRef key="textstructure"/>
    <elementSpec module="figures" ident="formula" mode="change">
      <attList>
	<attDef ident="type" mode="add">
	<desc xml:lang="en" versionDate="2014-01-12">what sort of formula is this?</desc>
	<datatype><rng:text/></datatype>
	</attDef>
	<attDef ident="notation" mode="change">
	<desc xml:lang="en" versionDate="2014-01-12">what notation is used to describe the math</desc>
	<datatype><rng:text/></datatype>
	</attDef>
      </attList>
    </elementSpec>
    <macroSpec module="figures" type="pe" ident="datatype.Formula" mode="change">
      <content>
	<rng:ref name="mathml.math"/>
      </content>
    </macroSpec>
    <elementSpec ident="code" mode="add">
      <classes><memberOf key="model.pPart.data"/></classes>
      <content>
	<rng:text/>
      </content>
    </elementSpec>
    <moduleRef url="mathml2-main.rng"/>
    <moduleRef url="docbook.rng">
      <content>
	<rng:div>
	  <rng:define name="tei.teiHeader" combine="choice">
	    <rng:ref name="db.article.info"/>
	  </rng:define>
	  <rng:start combine="choice">
	    <rng:ref name="TEI"/>
	  </rng:start>
	</rng:div>
      </content>
    </moduleRef>
    <elementSpec ident="teiHeader" module="header" mode="delete"/>
    </schemaSpec>
</body>
</text>
</TEI>



