P5/Test/testconstraint.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"  
     xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:rng="http://relaxng.org/ns/structure/1.0"
     xmlns:sch="http://purl.oclc.org/dsdl/schematron"
     n="testconstraint"
     xmlns:xsl="http://www.w3.org/1999/XSL/Transform">

  <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI with constraint setup</title>
            <author>Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
	   <p> </p>
	 </publicationStmt>
         <sourceDesc>
            <p>authored from scratch</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>
<divGen type="toc"/>
<div>
<head>My Constraint Schema</head>
<p>Here is the introduction to your document</p>
  <p>Here is the schema:</p>
    <schemaSpec ident="testconstraint" start="TEI">
      <moduleRef key="header"/>
      <moduleRef key="core"/>
      <moduleRef key="tei"/>
      <moduleRef key="namesdates"/>
      <moduleRef key="textstructure"/>
      <elementSpec ident="p" mode="change">

<!--
	<constraintList  scheme="xsl">
	  <constraint mode="add" ident="p-xsl-1">
	    <xsl:template match="tei:p">
	      <xsl:if test="count(foo)=4">
		<xsl:message>rubbish</xsl:message>
	      </xsl:if>
	    </xsl:template>
	  </constraint>
	</constraintList>
-->

	<constraintList  scheme="isoschematron">
	  <constraint mode="add" ident="c1">
	    <sch:report test="tei:list"> 
	    lists inside paragraphs not supported </sch:report>
	  </constraint>
	  <constraint mode="add" ident="c2">
	    <sch:rule context="tei:p|tei:q">
	      <sch:report test="contains(@rend,' ')"> 
	      multi-valued rend is not supported </sch:report>
	    </sch:rule>
	  </constraint>
	</constraintList>

	<attList>
	  <attDef ident="type" mode="change">
		<datatype><rng:data type="float"/></datatype>
	  </attDef>
	</attList>


      </elementSpec>

      <elementSpec ident="relation" mode="change">
	<constraintList  scheme="isoschematron">
	 <constraint ident="activepassive" mode="delete"/> 
	</constraintList>
      </elementSpec>

    </schemaSpec>
</div>
</body>
</text>
</TEI>



