P5/Test/testClasses.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"  xmlns="http://www.tei-c.org/ns/1.0"
 xmlns:rng="http://relaxng.org/ns/structure/1.0"
 n="testClasses">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI with some class changes</title>
            <author>Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
	   <p> </p>
	 </publicationStmt>
         <sourceDesc>
            <p>authored from scratch</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>
<divGen type="toc"/>
<div>
<head>My Classes-Manipulation Schema</head>
<p>Documents against this schema will probably not be 
TEI compliant</p>
<p>Here is the introduction to your document</p>
  <p>Here is the schema:</p>
    <schemaSpec ident="testClasses" start="TEI">
      <moduleRef key="header"/>
      <moduleRef key="core"/>
      <moduleRef key="tei"/>
      <moduleRef key="textstructure"/>
      <elementSpec ident="div" mode="change">
	<classes mode="change">
	  <memberOf key="att.datable"/>
	  <memberOf key="att.divLike" mode="delete"/>
	  <memberOf key="att.global" mode="delete"/>
	</classes>
      </elementSpec>
      <elementSpec ident="div1" mode="change">
	<classes>
	  <memberOf key="att.datable"/>
	  <memberOf key="att.divLike"/>
	</classes>
      </elementSpec>
      <elementSpec ident="div2" mode="change">
	<classes>
	  <memberOf key="att.datable"/>
	</classes>
      </elementSpec>
    </schemaSpec>
</div>
</body>
</text>
</TEI>



