P5/DTD/analysis.dtd


<!--
DTD module analysis. generated from ODD source 2019-01-21T23:48:00Z. This material is dual-licensed.
[http://creativecommons.org/licenses/by/3.0/] Distributed under a Creative Commons Attribution 3.0 Unported License.  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2019 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium.
Edition: Version 3.5.0a. Last updated on
	19th January 2019, revision e6ccc03
Simple analytic mechanisms
-->

<!ENTITY % c 'INCLUDE' >
<![ %c; [

<!--doc:(character) represents a character. [] -->
<!ELEMENT %n.c; %om.RR; %macro.xtext;>
<!ATTLIST %n.c; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.c;
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
 %att.notated.attributes; >
]]>

<!ENTITY % cl 'INCLUDE' >
<![ %cl; [

<!--doc:(clause) represents a grammatical clause. [] -->
<!ELEMENT %n.cl; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.cl; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.cl;
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
 %att.notated.attributes; >
]]>

<!ENTITY % interp 'INCLUDE' >
<![ %interp; [

<!--doc:(interpretation) summarizes a specific interpretative annotation which can be linked to a span of text. [] -->
<!ELEMENT %n.interp; %om.RR; (#PCDATA|%model.gLike;|%model.descLike;|%model.certLike;)*>
<!ATTLIST %n.interp; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.interp;
 %att.global.attributes;
 %att.interpLike.attributes; >
]]>

<!ENTITY % interpGrp 'INCLUDE' >
<![ %interpGrp; [

<!--doc:(interpretation group) collects together a set of related interpretations which share responsibility or type. [] -->
<!ELEMENT %n.interpGrp; %om.RR; (((%model.descLike;)*,(%n.interp;)+))>
<!ATTLIST %n.interpGrp; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.interpGrp;
 %att.global.attributes;
 %att.interpLike.attributes; >
]]>

<!ENTITY % m 'INCLUDE' >
<![ %m; [

<!--doc:(morpheme) represents a grammatical morpheme. [] -->
<!ELEMENT %n.m; %om.RR; (#PCDATA|%model.gLike;|%model.hiLike;|%n.seg;|%n.m;|%n.c;|%model.global;)*>
<!ATTLIST %n.m; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.m;
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
 %att.notated.attributes;
baseForm %teidata.word;  #IMPLIED >
]]>

<!ENTITY % pc 'INCLUDE' >
<![ %pc; [

<!--doc:(punctuation character) contains a character or string of characters regarded as constituting a single punctuation mark. [ ] -->
<!ELEMENT %n.pc; %om.RR; (#PCDATA|%model.gLike;|%n.c;|%model.pPart.edit;)*>
<!ATTLIST %n.pc; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.pc;
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
 %att.linguistic.attributes;
force (strong|weak|inter) #IMPLIED
unit %teidata.enumerated;  #IMPLIED
pre %teidata.truthValue;  #IMPLIED >
]]>

<!ENTITY % phr 'INCLUDE' >
<![ %phr; [

<!--doc:(phrase) represents a grammatical phrase. [] -->
<!ELEMENT %n.phr; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.phr; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.phr;
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
 %att.notated.attributes; >
]]>

<!ENTITY % s 'INCLUDE' >
<![ %s; [

<!--doc:(s-unit) contains a sentence-like division of a text. [ ] -->
<!ELEMENT %n.s; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.s; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.s;
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
 %att.notated.attributes; >
]]>

<!ENTITY % span 'INCLUDE' >
<![ %span; [

<!--doc:associates an interpretative annotation directly with a span of text. [] -->
<!ELEMENT %n.span; %om.RR; %macro.phraseSeq.limited;>
<!ATTLIST %n.span; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.span;
 %att.global.attributes;
 %att.interpLike.attributes;
 %att.pointing.attributes;
from %teidata.pointer;  #IMPLIED
to %teidata.pointer;  #IMPLIED >
]]>

<!ENTITY % spanGrp 'INCLUDE' >
<![ %spanGrp; [

<!--doc:(span group) collects together span tags. [] -->
<!ELEMENT %n.spanGrp; %om.RR; (%n.span;)*>
<!ATTLIST %n.spanGrp; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.spanGrp;
 %att.global.attributes;
 %att.interpLike.attributes; >
]]>

<!ENTITY % w 'INCLUDE' >
<![ %w; [

<!--doc:(word) represents a grammatical (not necessarily orthographic) word. [ ] -->
<!ELEMENT %n.w; %om.RR; (#PCDATA|%model.gLike;|%n.seg;|%n.w;|%n.m;|%n.c;|%n.pc;|%model.global;|%model.lPart;|%model.hiLike;|%model.pPart.edit;)*>
<!ATTLIST %n.w; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.w;
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
 %att.linguistic.attributes;
 %att.notated.attributes; >
]]>
