P5/DTD/core.dtd


<!--
DTD module core. generated from ODD source 2019-01-21T23:48:00Z. This material is dual-licensed.
[http://creativecommons.org/licenses/by/3.0/] Distributed under a Creative Commons Attribution 3.0 Unported License.  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2019 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium.
Edition: Version 3.5.0a. Last updated on
	19th January 2019, revision e6ccc03
Elements common to all TEI documents
-->

<!ENTITY % abbr 'INCLUDE' >
<![ %abbr; [

<!--doc:(abbreviation) contains an abbreviation of any sort. [] -->
<!ELEMENT %n.abbr; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.abbr; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.abbr;
 %att.global.attributes;
 %att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % add 'INCLUDE' >
<![ %add; [

<!--doc:(addition) contains letters, words, or phrases inserted in the source text by an author, scribe, or a previous annotator or corrector. [] -->
<!ELEMENT %n.add; %om.RR; %macro.paraContent;>
<!ATTLIST %n.add; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.add;
 %att.global.attributes;
 %att.transcriptional.attributes;
 %att.placement.attributes;
 %att.typed.attributes;
 %att.dimensions.attributes; >
]]>

<!ENTITY % addrLine 'INCLUDE' >
<![ %addrLine; [

<!--doc:(address line) contains one line of a postal address. [  ] -->
<!ELEMENT %n.addrLine; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.addrLine; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.addrLine;
 %att.global.attributes; >
]]>

<!ENTITY % address 'INCLUDE' >
<![ %address; [

<!--doc:contains a postal address, for example of a publisher, an organization, or an individual. [  ] -->
<!ELEMENT %n.address; %om.RR; (((%model.global;)*,((%model.addrPart;),(%model.global;)*)+))>
<!ATTLIST %n.address; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.address;
 %att.global.attributes; >
]]>

<!ENTITY % analytic 'INCLUDE' >
<![ %analytic; [

<!--doc:(analytic level) contains bibliographic elements describing an item (e.g. an article or poem) published within a monograph or journal and not as an independent publication. [] -->
<!ELEMENT %n.analytic; %om.RR; (%n.author;|%n.editor;|%n.respStmt;|%n.title;|%model.ptrLike;|%n.date;|%n.textLang;|%n.idno;|%n.availability;)*>
<!ATTLIST %n.analytic; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.analytic;
 %att.global.attributes; >
]]>

<!ENTITY % author 'INCLUDE' >
<![ %author; [

<!--doc:in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority. [ ] -->
<!ELEMENT %n.author; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.author; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.author;
 %att.global.attributes;
 %att.naming.attributes; >
]]>

<!ENTITY % bibl 'INCLUDE' >
<![ %bibl; [

<!--doc:(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged. [  ] -->
<!ELEMENT %n.bibl; %om.RR; (#PCDATA|%model.gLike;|%model.highlighted;|%model.pPart.data;|%model.pPart.edit;|%model.segLike;|%model.ptrLike;|%model.biblPart;|%model.global;)*>
<!ATTLIST %n.bibl; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.bibl;
 %att.global.attributes;
 %att.declarable.attributes;
 %att.typed.attributes;
 %att.sortable.attributes;
 %att.docStatus.attributes; >
]]>

<!ENTITY % biblScope 'INCLUDE' >
<![ %biblScope; [

<!--doc:(scope of bibliographic reference) defines the scope of a bibliographic reference, for example as a list of page numbers, or a named subdivision of a larger work. [] -->
<!ELEMENT %n.biblScope; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.biblScope; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.biblScope;
 %att.global.attributes;
 %att.citing.attributes; >
]]>

<!ENTITY % biblStruct 'INCLUDE' >
<![ %biblStruct; [

<!--doc:(structured bibliographic citation) contains a structured bibliographic citation, in which only bibliographic sub-elements appear and in a specified order. [  ] -->
<!ELEMENT %n.biblStruct; %om.RR; (((%n.analytic;)*,(%n.monogr;,(%n.series;)*)+,(%model.noteLike;|%model.ptrLike;|%n.relatedItem;|%n.citedRange;)*))>
<!ATTLIST %n.biblStruct; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.biblStruct;
 %att.global.attributes;
 %att.declarable.attributes;
 %att.typed.attributes;
 %att.sortable.attributes;
 %att.docStatus.attributes; >
]]>

<!ENTITY % binaryObject 'INCLUDE' >
<![ %binaryObject; [

<!--doc:provides encoded binary data representing an inline graphic, audio, video or other object. [] -->
<!ELEMENT %n.binaryObject; %om.RR; (#PCDATA)>
<!ATTLIST %n.binaryObject; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.binaryObject;
 %att.global.attributes;
 %att.media.attributes;
 %att.timed.attributes;
 %att.typed.attributes;
encoding CDATA  #IMPLIED >
]]>

<!ENTITY % cb 'INCLUDE' >
<![ %cb; [

<!--doc:(column beginning) marks the beginning of a new column of a text on a multi-column page. [] -->
<!ELEMENT %n.cb; %om.RR;  EMPTY>
<!ATTLIST %n.cb; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.cb;
 %att.global.attributes;
 %att.typed.attributes;
 %att.edition.attributes;
 %att.spanning.attributes;
 %att.breaking.attributes; >
]]>

<!ENTITY % choice 'INCLUDE' >
<![ %choice; [

<!--doc:groups a number of alternative encodings for the same point in a text. [] -->
<!ELEMENT %n.choice; %om.RR; (%model.choicePart;|%n.choice;)+>
<!ATTLIST %n.choice; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.choice;
 %att.global.attributes; >
]]>

<!ENTITY % cit 'INCLUDE' >
<![ %cit; [

<!--doc:(cited quotation) contains a quotation from some other document, together with a bibliographic reference to its source. In a dictionary it may contain an example text with at least one occurrence of the word form, used in the sense being described, or a translation of the headword, or an example. [  ] -->
<!ELEMENT %n.cit; %om.RR; (%model.qLike;|%model.egLike;|%model.biblLike;|%model.ptrLike;|%model.global;|%model.entryPart;)+>
<!ATTLIST %n.cit; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.cit;
 %att.global.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % citedRange 'INCLUDE' >
<![ %citedRange; [

<!--doc:(cited range) defines the range of cited content, often represented by pages or other units [] -->
<!ELEMENT %n.citedRange; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.citedRange; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.citedRange;
 %att.global.attributes;
 %att.pointing.attributes;
 %att.citing.attributes; >
]]>

<!ENTITY % corr 'INCLUDE' >
<![ %corr; [

<!--doc:(correction) contains the correct form of a passage apparently erroneous in the copy text. [] -->
<!ELEMENT %n.corr; %om.RR; %macro.paraContent;>
<!ATTLIST %n.corr; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.corr;
 %att.global.attributes;
 %att.editLike.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % date 'INCLUDE' >
<![ %date; [

<!--doc:contains a date in any format. [     ] -->
<!ELEMENT %n.date; %om.RR; (#PCDATA|%model.gLike;|%model.phrase;|%model.global;)*>
<!ATTLIST %n.date; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.date;
 %att.global.attributes;
 %att.canonical.attributes;
 %att.datable.attributes;
 %att.duration.attributes;
 %att.editLike.attributes;
 %att.dimensions.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % del 'INCLUDE' >
<![ %del; [

<!--doc:(deletion) contains a letter, word, or passage deleted, marked as deleted, or otherwise indicated as superfluous or spurious in the copy text by an author, scribe, or a previous annotator or corrector. [] -->
<!ELEMENT %n.del; %om.RR; %macro.paraContent;>
<!ATTLIST %n.del; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.del;
 %att.global.attributes;
 %att.transcriptional.attributes;
 %att.typed.attributes;
 %att.dimensions.attributes; >
]]>

<!ENTITY % desc 'INCLUDE' >
<![ %desc; [

<!--doc:(description) contains a brief description of the object documented by its parent element, typically a documentation element or an entity. [] -->
<!ELEMENT %n.desc; %om.RR; %macro.limitedContent;>
<!ATTLIST %n.desc; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.desc;
 %att.global.attributes;
 %att.translatable.attributes;
 %att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % distinct 'INCLUDE' >
<![ %distinct; [

<!--doc:identifies any word or phrase which is regarded as linguistically distinct, for example as archaic, technical, dialectal, non-preferred, etc., or as forming part of a sublanguage. [] -->
<!ELEMENT %n.distinct; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.distinct; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.distinct;
 %att.global.attributes;
type %teidata.enumerated;  #IMPLIED
time %teidata.text;  #IMPLIED
space %teidata.text;  #IMPLIED
social %teidata.text;  #IMPLIED >
]]>

<!ENTITY % divGen 'INCLUDE' >
<![ %divGen; [

<!--doc:(automatically generated text division) indicates the location at which a textual division generated automatically by a text-processing application is to appear. [] -->
<!ELEMENT %n.divGen; %om.RR; (%model.headLike;)*>
<!ATTLIST %n.divGen; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.divGen;
 %att.global.attributes;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % editor 'INCLUDE' >
<![ %editor; [

<!--doc:contains a secondary statement of responsibility for a bibliographic item, for example the name of an individual, institution or organization, (or of several such) acting as editor, compiler, translator, etc. [] -->
<!ELEMENT %n.editor; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.editor; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.editor;
 %att.global.attributes;
 %att.naming.attributes; >
]]>

<!ENTITY % email 'INCLUDE' >
<![ %email; [

<!--doc:(electronic mail address) contains an email address identifying a location to which email messages can be delivered. [] -->
<!ELEMENT %n.email; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.email; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.email;
 %att.global.attributes; >
]]>

<!ENTITY % emph 'INCLUDE' >
<![ %emph; [

<!--doc:(emphasized) marks words or phrases which are stressed or emphasized for linguistic or rhetorical effect. [ ] -->
<!ELEMENT %n.emph; %om.RR; %macro.paraContent;>
<!ATTLIST %n.emph; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.emph;
 %att.global.attributes; >
]]>

<!ENTITY % expan 'INCLUDE' >
<![ %expan; [

<!--doc:(expansion) contains the expansion of an abbreviation. [] -->
<!ELEMENT %n.expan; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.expan; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.expan;
 %att.global.attributes;
 %att.editLike.attributes; >
]]>

<!ENTITY % foreign 'INCLUDE' >
<![ %foreign; [

<!--doc:identifies a word or phrase as belonging to some language other than that of the surrounding text. [] -->
<!ELEMENT %n.foreign; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.foreign; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.foreign;
 %att.global.attributes; >
]]>

<!ENTITY % gap 'INCLUDE' >
<![ %gap; [

<!--doc:indicates a point where material has been omitted in a transcription, whether for editorial reasons described in the TEI header, as part of sampling practice, or because the material is illegible, invisible, or inaudible. [] -->
<!ELEMENT %n.gap; %om.RR; (%model.descLike;|%model.certLike;)*>
<!ATTLIST %n.gap; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.gap;
 %att.global.attributes;
 %att.timed.attributes;
 %att.editLike.attributes;
 %att.dimensions.attributes;
reason NMTOKENS  #IMPLIED
agent %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % gb 'INCLUDE' >
<![ %gb; [

<!--doc:(gathering beginning) marks the beginning of a new gathering or quire in a transcribed codex. [] -->
<!ELEMENT %n.gb; %om.RR;  EMPTY>
<!ATTLIST %n.gb; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.gb;
 %att.global.attributes;
 %att.typed.attributes;
 %att.spanning.attributes;
 %att.breaking.attributes;
 %att.edition.attributes; >
]]>

<!ENTITY % gloss 'INCLUDE' >
<![ %gloss; [

<!--doc:identifies a phrase or word used to provide a gloss or definition for some other word or phrase. [ ] -->
<!ELEMENT %n.gloss; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.gloss; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.gloss;
 %att.global.attributes;
 %att.declaring.attributes;
 %att.translatable.attributes;
 %att.typed.attributes;
 %att.pointing.attributes;
 %att.cReferencing.attributes; >
]]>

<!ENTITY % graphic 'INCLUDE' >
<![ %graphic; [

<!--doc:indicates the location of a graphic or illustration, either forming part of a text, or providing an image of it. [ ] -->
<!ELEMENT %n.graphic; %om.RR; (%model.descLike;)*>
<!ATTLIST %n.graphic; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.graphic;
 %att.global.attributes;
 %att.media.attributes;
 %att.resourced.attributes;
 %att.declaring.attributes; >
]]>

<!ENTITY % head 'INCLUDE' >
<![ %head; [

<!--doc:(heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. [] -->
<!ELEMENT %n.head; %om.RR; (#PCDATA|%n.lg;|%model.gLike;|%model.phrase;|%model.inter;|%model.lLike;|%model.global;)*>
<!ATTLIST %n.head; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.head;
 %att.global.attributes;
 %att.typed.attributes;
 %att.placement.attributes;
 %att.written.attributes; >
]]>

<!ENTITY % headItem 'INCLUDE' >
<![ %headItem; [

<!--doc:(heading for list items) contains the heading for the item or gloss column in a glossary list or similar structured list. [] -->
<!ELEMENT %n.headItem; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.headItem; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.headItem;
 %att.global.attributes; >
]]>

<!ENTITY % headLabel 'INCLUDE' >
<![ %headLabel; [

<!--doc:(heading for list labels) contains the heading for the label or term column in a glossary list or similar structured list. [] -->
<!ELEMENT %n.headLabel; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.headLabel; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.headLabel;
 %att.global.attributes; >
]]>

<!ENTITY % hi 'INCLUDE' >
<![ %hi; [

<!--doc:(highlighted) marks a word or phrase as graphically distinct from the surrounding text, for reasons concerning which no claim is made. [ ] -->
<!ELEMENT %n.hi; %om.RR; %macro.paraContent;>
<!ATTLIST %n.hi; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.hi;
 %att.global.attributes;
 %att.written.attributes; >
]]>

<!ENTITY % imprint 'INCLUDE' >
<![ %imprint; [

<!--doc:groups information relating to the publication or distribution of a bibliographic item. [] -->
<!ELEMENT %n.imprint; %om.RR; (((%n.classCode;|%n.catRef;)*,((%model.imprintPart;|%model.dateLike;),(%n.respStmt;)*,(%model.global;)*)+))>
<!ATTLIST %n.imprint; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.imprint;
 %att.global.attributes; >
]]>

<!ENTITY % index 'INCLUDE' >
<![ %index; [

<!--doc:(index entry) marks a location to be indexed for whatever purpose. [] -->
<!ELEMENT %n.index; %om.RR; ((%n.term;,(%n.index;)?)*)*>
<!ATTLIST %n.index; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.index;
 %att.global.attributes;
 %att.spanning.attributes;
indexName %teidata.name;  #IMPLIED >
]]>

<!ENTITY % item 'INCLUDE' >
<![ %item; [

<!--doc:contains one component of a list. [ ] -->
<!ELEMENT %n.item; %om.RR; %macro.specialPara;>
<!ATTLIST %n.item; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.item;
 %att.global.attributes;
 %att.sortable.attributes; >
]]>

<!ENTITY % l 'INCLUDE' >
<![ %l; [

<!--doc:(verse line) contains a single, possibly incomplete, line of verse. [  ] -->
<!ELEMENT %n.l; %om.RR; (#PCDATA|%model.gLike;|%model.phrase;|%model.inter;|%model.global;)*>
<!ATTLIST %n.l; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.l;
 %att.global.attributes;
 %att.metrical.attributes;
 %att.enjamb.attributes;
 %att.fragmentable.attributes; >
]]>

<!ENTITY % label 'INCLUDE' >
<![ %label; [

<!--doc:contains any label or heading used to identify part of a text, typically but not exclusively in a list or glossary. [] -->
<!ELEMENT %n.label; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.label; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.label;
 %att.global.attributes;
 %att.typed.attributes;
 %att.placement.attributes;
 %att.written.attributes; >
]]>

<!ENTITY % lb 'INCLUDE' >
<![ %lb; [

<!--doc:(line beginning) marks the beginning of a new (typographic) line in some edition or version of a text. [ ] -->
<!ELEMENT %n.lb; %om.RR;  EMPTY>
<!ATTLIST %n.lb; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.lb;
 %att.global.attributes;
 %att.typed.attributes;
 %att.edition.attributes;
 %att.spanning.attributes;
 %att.breaking.attributes; >
]]>

<!ENTITY % lg 'INCLUDE' >
<![ %lg; [

<!--doc:(line group) contains one or more verse lines functioning as a formal unit, e.g. a stanza, refrain, verse paragraph, etc. [  ] -->
<!ELEMENT %n.lg; %om.RR; (((%model.divTop;|%model.global;)*,(%model.lLike;|%model.stageLike;|%model.labelLike;|%n.lg;),(%model.lLike;|%model.stageLike;|%model.labelLike;|%model.global;|%n.lg;)*,((%model.divBottom;),(%model.global;)*)*))>
<!ATTLIST %n.lg; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.lg;
 %att.global.attributes;
 %att.divLike.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
]]>

<!ENTITY % list 'INCLUDE' >
<![ %list; [

<!--doc:contains any sequence of items organized as a list. [] -->
<!ELEMENT %n.list; %om.RR; (((%model.divTop;|%model.global;)*,((%n.item;,(%model.global;)*)+|((%n.headLabel;)?,(%n.headItem;)?,(%n.label;,(%model.global;)*,%n.item;,(%model.global;)*)+)),((%model.divBottom;),(%model.global;)*)*))>
<!ATTLIST %n.list; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.list;
 %att.global.attributes;
 %att.sortable.attributes;
 %att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % listBibl 'INCLUDE' >
<![ %listBibl; [

<!--doc:(citation list) contains a list of bibliographic citations of any kind. [  ] -->
<!ELEMENT %n.listBibl; %om.RR; (((%model.headLike;)*,(%model.biblLike;|%model.milestoneLike;)+,(%n.relation;|%n.listRelation;)*))>
<!ATTLIST %n.listBibl; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.listBibl;
 %att.global.attributes;
 %att.sortable.attributes;
 %att.declarable.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % measure 'INCLUDE' >
<![ %measure; [

<!--doc:contains a word or phrase referring to some quantity of an object or commodity, usually comprising a number, a unit, and a commodity name. [] -->
<!ELEMENT %n.measure; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.measure; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.measure;
 %att.global.attributes;
 %att.measurement.attributes;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % measureGrp 'INCLUDE' >
<![ %measureGrp; [

<!--doc:(measure group) contains a group of dimensional specifications which relate to the same object, for example the height and width of a manuscript page. [] -->
<!ELEMENT %n.measureGrp; %om.RR; (#PCDATA|%model.gLike;|%model.measureLike;)*>
<!ATTLIST %n.measureGrp; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.measureGrp;
 %att.global.attributes;
 %att.measurement.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % media 'INCLUDE' >
<![ %media; [

<!--doc:indicates the location of any form of external media such as an audio or video clip etc. [] -->
<!ELEMENT %n.media; %om.RR; (%model.descLike;)*>
<!ATTLIST %n.media; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.media;
 %att.typed.attributes;
 %att.global.attributes;
 %att.resourced.attributes;
 %att.declaring.attributes;
 %att.timed.attributes;
 %att.media.attribute.width;
 %att.media.attribute.height;
 %att.media.attribute.scale;
mimeType CDATA  #REQUIRED >
]]>

<!ENTITY % meeting 'INCLUDE' >
<![ %meeting; [

<!--doc:contains the formalized descriptive title for a meeting or conference, for use in a bibliographic description for an item derived from such a meeting, or as a heading or preamble to publications emanating from it. [] -->
<!ELEMENT %n.meeting; %om.RR; %macro.limitedContent;>
<!ATTLIST %n.meeting; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.meeting;
 %att.global.attributes;
 %att.canonical.attributes; >
]]>

<!ENTITY % mentioned 'INCLUDE' >
<![ %mentioned; [

<!--doc:marks words or phrases mentioned, not used. [] -->
<!ELEMENT %n.mentioned; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.mentioned; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.mentioned;
 %att.global.attributes; >
]]>

<!ENTITY % milestone 'INCLUDE' >
<![ %milestone; [

<!--doc:marks a boundary point separating any kind of section of a text, typically but not necessarily indicating a point at which some part of a standard reference system changes, where the change is not represented by a structural element. [] -->
<!ELEMENT %n.milestone; %om.RR;  EMPTY>
<!ATTLIST %n.milestone; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.milestone;
 %att.global.attributes;
 %att.milestoneUnit.attributes;
 %att.typed.attributes;
 %att.edition.attributes;
 %att.spanning.attributes;
 %att.breaking.attributes; >
]]>

<!ENTITY % monogr 'INCLUDE' >
<![ %monogr; [

<!--doc:(monographic level) contains bibliographic elements describing an item (e.g. a book or journal) published as an independent item (i.e. as a separate physical object). [] -->
<!ELEMENT %n.monogr; %om.RR; (((((%n.author;|%n.editor;|%n.meeting;|%n.respStmt;),(%n.author;|%n.editor;|%n.meeting;|%n.respStmt;)*,(%n.title;)+,(%model.ptrLike;|%n.idno;|%n.textLang;|%n.editor;|%n.respStmt;)*)|((%n.title;|%model.ptrLike;|%n.idno;)+,(%n.textLang;|%n.author;|%n.editor;|%n.meeting;|%n.respStmt;)*)|(%n.authority;,%n.idno;))?,(%n.availability;)*,(%model.noteLike;)*,(%n.edition;,(%n.idno;|%model.ptrLike;|%n.editor;|%n.sponsor;|%n.funder;|%n.respStmt;)*)*,%n.imprint;,(%n.imprint;|%n.extent;|%n.biblScope;)*))>
<!ATTLIST %n.monogr; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.monogr;
 %att.global.attributes; >
]]>

<!ENTITY % name 'INCLUDE' >
<![ %name; [

<!--doc:(name, proper noun) contains a proper noun or noun phrase. [] -->
<!ELEMENT %n.name; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.name; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.name;
 %att.global.attributes;
 %att.personal.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % note 'INCLUDE' >
<![ %note; [

<!--doc:contains a note or annotation. [   ] -->
<!ELEMENT %n.note; %om.RR; %macro.specialPara;>
<!ATTLIST %n.note; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.note;
 %att.global.attributes;
 %att.placement.attributes;
 %att.pointing.attributes;
 %att.typed.attributes;
 %att.written.attributes;
anchored %teidata.truthValue;  "true" 
targetEnd CDATA  #IMPLIED >
]]>

<!ENTITY % num 'INCLUDE' >
<![ %num; [

<!--doc:(number) contains a number, written in any form. [] -->
<!ELEMENT %n.num; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.num; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.num;
 %att.global.attributes;
 %att.ranging.attributes;
type %teidata.enumerated;  #IMPLIED
value %teidata.numeric;  #IMPLIED >
]]>

<!ENTITY % orig 'INCLUDE' >
<![ %orig; [

<!--doc:(original form) contains a reading which is marked as following the original, rather than being normalized or corrected. [ ] -->
<!ELEMENT %n.orig; %om.RR; %macro.paraContent;>
<!ATTLIST %n.orig; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.orig;
 %att.global.attributes; >
]]>

<!ENTITY % p 'INCLUDE' >
<![ %p; [

<!--doc:(paragraph) marks paragraphs in prose. [ ] -->
<!ELEMENT %n.p; %om.RR; %macro.paraContent;>
<!ATTLIST %n.p; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.p;
 %att.global.attributes;
 %att.declaring.attributes;
 %att.fragmentable.attributes;
 %att.written.attributes; >
]]>

<!ENTITY % pb 'INCLUDE' >
<![ %pb; [

<!--doc:(page beginning) marks the beginning of a new page in a paginated document. [] -->
<!ELEMENT %n.pb; %om.RR;  EMPTY>
<!ATTLIST %n.pb; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.pb;
 %att.global.attributes;
 %att.typed.attributes;
 %att.edition.attributes;
 %att.spanning.attributes;
 %att.breaking.attributes; >
]]>

<!ENTITY % postBox 'INCLUDE' >
<![ %postBox; [

<!--doc:(postal box or post office box) contains a number or other identifier for some postal delivery point other than a street address. [] -->
<!ELEMENT %n.postBox; %om.RR; (#PCDATA)>
<!ATTLIST %n.postBox; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.postBox;
 %att.global.attributes; >
]]>

<!ENTITY % postCode 'INCLUDE' >
<![ %postCode; [

<!--doc:(postal code) contains a numerical or alphanumeric code used as part of a postal address to simplify sorting or delivery of mail. [] -->
<!ELEMENT %n.postCode; %om.RR; (#PCDATA)>
<!ATTLIST %n.postCode; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.postCode;
 %att.global.attributes; >
]]>

<!ENTITY % ptr 'INCLUDE' >
<![ %ptr; [

<!--doc:(pointer) defines a pointer to another location. [ ] -->
<!ELEMENT %n.ptr; %om.RR;  EMPTY>
<!ATTLIST %n.ptr; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.ptr;
 %att.global.attributes;
 %att.pointing.attributes;
 %att.internetMedia.attributes;
 %att.typed.attributes;
 %att.declaring.attributes;
 %att.cReferencing.attributes; >
]]>

<!ENTITY % pubPlace 'INCLUDE' >
<![ %pubPlace; [

<!--doc:(publication place) contains the name of the place where a bibliographic item was published. [] -->
<!ELEMENT %n.pubPlace; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.pubPlace; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.pubPlace;
 %att.global.attributes;
 %att.naming.attributes; >
]]>

<!ENTITY % publisher 'INCLUDE' >
<![ %publisher; [

<!--doc:provides the name of the organization responsible for the publication or distribution of a bibliographic item. [ ] -->
<!ELEMENT %n.publisher; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.publisher; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.publisher;
 %att.global.attributes;
 %att.canonical.attributes; >
]]>

<!ENTITY % q 'INCLUDE' >
<![ %q; [

<!--doc:(quoted) contains material which is distinguished from the surrounding text using quotation marks or a similar method, for any one of a variety of reasons including, but not limited to: direct speech or thought, technical terms or jargon, authorial distance, quotations from elsewhere, and passages that are mentioned but not used. [] -->
<!ELEMENT %n.q; %om.RR; %macro.specialPara;>
<!ATTLIST %n.q; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.q;
 %att.global.attributes;
 %att.ascribed.directed.attributes;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % quote 'INCLUDE' >
<![ %quote; [

<!--doc:(quotation) contains a phrase or passage attributed by the narrator or author to some agency external to the text. [ ] -->
<!ELEMENT %n.quote; %om.RR; %macro.specialPara;>
<!ATTLIST %n.quote; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.quote;
 %att.global.attributes;
 %att.typed.attributes;
 %att.msExcerpt.attributes;
 %att.notated.attributes; >
]]>

<!ENTITY % ref 'INCLUDE' >
<![ %ref; [

<!--doc:(reference) defines a reference to another location, possibly modified by additional text or comment. [ ] -->
<!ELEMENT %n.ref; %om.RR; %macro.paraContent;>
<!ATTLIST %n.ref; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.ref;
 %att.global.attributes;
 %att.pointing.attributes;
 %att.internetMedia.attributes;
 %att.typed.attributes;
 %att.declaring.attributes;
 %att.cReferencing.attributes; >
]]>

<!ENTITY % reg 'INCLUDE' >
<![ %reg; [

<!--doc:(regularization) contains a reading which has been regularized or normalized in some sense. [ ] -->
<!ELEMENT %n.reg; %om.RR; %macro.paraContent;>
<!ATTLIST %n.reg; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.reg;
 %att.global.attributes;
 %att.editLike.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % relatedItem 'INCLUDE' >
<![ %relatedItem; [

<!--doc:contains or references some other bibliographic item which is related to the present one in some specified manner, for example as a constituent or alternative version of it. [] -->
<!ELEMENT %n.relatedItem; %om.RR; (%model.biblLike;|%model.ptrLike;)?>
<!ATTLIST %n.relatedItem; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.relatedItem;
 %att.global.attributes;
 %att.typed.attributes;
target %teidata.pointer;  #IMPLIED >
]]>

<!ENTITY % resp 'INCLUDE' >
<![ %resp; [

<!--doc:(responsibility) contains a phrase describing the nature of a person's intellectual responsibility, or an organization's role in the production or distribution of a work. [   ] -->
<!ELEMENT %n.resp; %om.RR; %macro.phraseSeq.limited;>
<!ATTLIST %n.resp; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.resp;
 %att.global.attributes;
 %att.canonical.attributes;
 %att.datable.attributes; >
]]>

<!ENTITY % respStmt 'INCLUDE' >
<![ %respStmt; [

<!--doc:(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition, recording, or series, where the specialized elements for authors, editors, etc. do not suffice or do not apply. May also be used to encode information about individuals or organizations which have played a role in the production or distribution of a bibliographic work. [   ] -->
<!ELEMENT %n.respStmt; %om.RR; (((((%n.resp;)+,(%model.nameLike.agent;)+)|((%model.nameLike.agent;)+,(%n.resp;)+)),(%n.note;)*))>
<!ATTLIST %n.respStmt; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.respStmt;
 %att.global.attributes;
 %att.canonical.attributes; >
]]>

<!ENTITY % rs 'INCLUDE' >
<![ %rs; [

<!--doc:(referencing string) contains a general purpose name or referring string. [ ] -->
<!ELEMENT %n.rs; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.rs; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.rs;
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % said 'INCLUDE' >
<![ %said; [

<!--doc:(speech or thought) indicates passages thought or spoken aloud, whether explicitly indicated in the source or not, whether directly or indirectly reported, whether by real people or fictional characters. [] -->
<!ELEMENT %n.said; %om.RR; %macro.specialPara;>
<!ATTLIST %n.said; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.said;
 %att.global.attributes;
 %att.ascribed.directed.attributes;
aloud %teidata.xTruthValue;  #IMPLIED
direct %teidata.xTruthValue;  "true"  >
]]>

<!ENTITY % series 'INCLUDE' >
<![ %series; [

<!--doc:(series information) contains information about the series in which a book or other bibliographic item has appeared. [] -->
<!ELEMENT %n.series; %om.RR; (#PCDATA|%model.gLike;|%n.title;|%model.ptrLike;|%n.editor;|%n.respStmt;|%n.biblScope;|%n.idno;|%n.textLang;|%model.global;|%n.availability;)*>
<!ATTLIST %n.series; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.series;
 %att.global.attributes; >
]]>

<!ENTITY % sic 'INCLUDE' >
<![ %sic; [

<!--doc:(Latin for thus or so) contains text reproduced although apparently incorrect or inaccurate. [] -->
<!ELEMENT %n.sic; %om.RR; %macro.paraContent;>
<!ATTLIST %n.sic; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.sic;
 %att.global.attributes; >
]]>

<!ENTITY % soCalled 'INCLUDE' >
<![ %soCalled; [

<!--doc:contains a word or phrase for which the author or narrator indicates a disclaiming of responsibility, for example by the use of scare quotes or italics. [] -->
<!ELEMENT %n.soCalled; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.soCalled; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.soCalled;
 %att.global.attributes; >
]]>

<!ENTITY % sp 'INCLUDE' >
<![ %sp; [

<!--doc:(speech) contains an individual speech in a performance text, or a passage presented as such in a prose or verse text. [  ] -->
<!ELEMENT %n.sp; %om.RR; (((%model.global;)*,(%n.speaker;,(%model.global;)*)?,((%n.lg;|%model.lLike;|%model.pLike;|%model.listLike;|%model.stageLike;|%model.qLike;),(%model.global;)*)+))>
<!ATTLIST %n.sp; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.sp;
 %att.global.attributes;
 %att.ascribed.directed.attributes; >
]]>

<!ENTITY % speaker 'INCLUDE' >
<![ %speaker; [

<!--doc:contains a specialized form of heading or label, giving the name of one or more speakers in a dramatic text or fragment. [] -->
<!ELEMENT %n.speaker; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.speaker; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.speaker;
 %att.global.attributes; >
]]>

<!ENTITY % stage 'INCLUDE' >
<![ %stage; [

<!--doc:(stage direction) contains any kind of stage direction within a dramatic text or fragment. [  ] -->
<!ELEMENT %n.stage; %om.RR; %macro.specialPara;>
<!ATTLIST %n.stage; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.stage;
 %att.ascribed.directed.attributes;
 %att.global.attributes;
 %att.placement.attributes;
type NMTOKENS  #IMPLIED >
]]>

<!ENTITY % street 'INCLUDE' >
<![ %street; [

<!--doc:contains a full street address including any name or number identifying a building as well as the name of the street or route on which it is located. [] -->
<!ELEMENT %n.street; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.street; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.street;
 %att.global.attributes; >
]]>

<!ENTITY % teiCorpus 'INCLUDE' >
<![ %teiCorpus; [

<!--doc:contains the whole of a TEI encoded corpus, comprising a single corpus header and one or more TEI elements, each containing a single text header and a text. [ ] -->
<!ELEMENT %n.teiCorpus; %om.RR; ((%n.teiHeader;,(((%model.resourceLike;)+,(%n.TEI;|%n.teiCorpus;)*)|(%n.TEI;|%n.teiCorpus;)+)))>
<!ATTLIST %n.teiCorpus; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.teiCorpus;
 %att.global.attributes;
 %att.typed.attributes;
version %teidata.version;  #IMPLIED >
<!ATTLIST %n.teiCorpus; xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
]]>

<!ENTITY % term 'INCLUDE' >
<![ %term; [

<!--doc:contains a single-word, multi-word, or symbolic designation which is regarded as a technical term. [] -->
<!ELEMENT %n.term; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.term; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.term;
 %att.global.attributes;
 %att.declaring.attributes;
 %att.pointing.attributes;
 %att.typed.attributes;
 %att.canonical.attributes;
 %att.sortable.attributes;
 %att.cReferencing.attributes; >
]]>

<!ENTITY % textLang 'INCLUDE' >
<![ %textLang; [

<!--doc:(text language) describes the languages and writing systems identified within the bibliographic work being described, rather than its description. [ ] -->
<!ELEMENT %n.textLang; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.textLang; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.textLang;
 %att.global.attributes;
mainLang %teidata.language;  #IMPLIED
otherLangs CDATA  #IMPLIED >
]]>

<!ENTITY % time 'INCLUDE' >
<![ %time; [

<!--doc:contains a phrase defining a time of day in any format. [] -->
<!ELEMENT %n.time; %om.RR; (#PCDATA|%model.gLike;|%model.phrase;|%model.global;)*>
<!ATTLIST %n.time; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.time;
 %att.global.attributes;
 %att.datable.attributes;
 %att.duration.attributes;
 %att.editLike.attributes;
 %att.dimensions.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % title 'INCLUDE' >
<![ %title; [

<!--doc:contains a title for any kind of work. [  ] -->
<!ELEMENT %n.title; %om.RR; %macro.paraContent;>
<!ATTLIST %n.title; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.title;
 %att.global.attributes;
 %att.canonical.attributes;
 %att.datable.attributes;
 %att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED
level (a|m|j|s|u) #IMPLIED >
]]>

<!ENTITY % unclear 'INCLUDE' >
<![ %unclear; [

<!--doc:contains a word, phrase, or passage which cannot be transcribed with certainty because it is illegible or inaudible in the source. [ ] -->
<!ELEMENT %n.unclear; %om.RR; %macro.paraContent;>
<!ATTLIST %n.unclear; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.unclear;
 %att.global.attributes;
 %att.editLike.attributes;
 %att.dimensions.attributes;
reason NMTOKENS  #IMPLIED
agent %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % unit 'INCLUDE' >
<![ %unit; [

<!--doc:contains a symbol, a word or a phrase referring to a unit of measurement in any kind of formal or informal system. [] -->
<!ELEMENT %n.unit; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.unit; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.unit;
 %att.global.attributes;
 %att.typed.attributes;
 %att.measurement.attributes; >
]]>
