P5/DTD/corpus.dtd


<!--
DTD module corpus. generated from ODD source 2019-01-21T23:48:00Z. This material is dual-licensed.
[http://creativecommons.org/licenses/by/3.0/] Distributed under a Creative Commons Attribution 3.0 Unported License.  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2019 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium.
Edition: Version 3.5.0a. Last updated on
	19th January 2019, revision e6ccc03
Corpus texts
-->

<!ENTITY % activity 'INCLUDE' >
<![ %activity; [

<!--doc:contains a brief informal description of what a participant in a language interaction is doing other than speaking, if anything. [] -->
<!ELEMENT %n.activity; %om.RR; %macro.phraseSeq.limited;>
<!ATTLIST %n.activity; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.activity;
 %att.global.attributes; >
]]>

<!ENTITY % channel 'INCLUDE' >
<![ %channel; [

<!--doc:(primary channel) describes the medium or channel by which a text is delivered or experienced. For a written text, this might be print, manuscript, email, etc.; for a spoken one, radio, telephone, face-to-face, etc. [] -->
<!ELEMENT %n.channel; %om.RR; %macro.phraseSeq.limited;>
<!ATTLIST %n.channel; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.channel;
 %att.global.attributes;
mode (s|w|sw|ws|m|x) "x"  >
]]>

<!ENTITY % constitution 'INCLUDE' >
<![ %constitution; [

<!--doc:describes the internal composition of a text or text sample, for example as fragmentary, complete, etc. [] -->
<!ELEMENT %n.constitution; %om.RR; %macro.phraseSeq.limited;>
<!ATTLIST %n.constitution; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.constitution;
 %att.global.attributes;
type (single|composite|frags|unknown) "single"  >
]]>

<!ENTITY % derivation 'INCLUDE' >
<![ %derivation; [

<!--doc:describes the nature and extent of originality of this text. [] -->
<!ELEMENT %n.derivation; %om.RR; %macro.phraseSeq.limited;>
<!ATTLIST %n.derivation; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.derivation;
 %att.global.attributes;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % domain 'INCLUDE' >
<![ %domain; [

<!--doc:(domain of use) describes the most important social context in which the text was realized or for which it is intended, for example private vs. public, education, religion, etc. [] -->
<!ELEMENT %n.domain; %om.RR; %macro.phraseSeq.limited;>
<!ATTLIST %n.domain; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.domain;
 %att.global.attributes;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % factuality 'INCLUDE' >
<![ %factuality; [

<!--doc:describes the extent to which the text may be regarded as imaginative or non-imaginative, that is, as describing a fictional or a non-fictional world. [] -->
<!ELEMENT %n.factuality; %om.RR; %macro.phraseSeq.limited;>
<!ATTLIST %n.factuality; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.factuality;
 %att.global.attributes;
type (fiction|fact|mixed|inapplicable) #IMPLIED >
]]>

<!ENTITY % interaction 'INCLUDE' >
<![ %interaction; [

<!--doc:describes the extent, cardinality and nature of any interaction among those producing and experiencing the text, for example in the form of response or interjection, commentary, etc. [] -->
<!ELEMENT %n.interaction; %om.RR; %macro.phraseSeq.limited;>
<!ATTLIST %n.interaction; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.interaction;
 %att.global.attributes;
type (none|partial|complete|inapplicable) #IMPLIED
active %teidata.enumerated;  #IMPLIED
passive %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % locale 'INCLUDE' >
<![ %locale; [

<!--doc:contains a brief informal description of the kind of place concerned, for example: a room, a restaurant, a park bench, etc. [] -->
<!ELEMENT %n.locale; %om.RR; %macro.phraseSeq.limited;>
<!ATTLIST %n.locale; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.locale;
 %att.global.attributes; >
]]>

<!ENTITY % particDesc 'INCLUDE' >
<![ %particDesc; [

<!--doc:(participation description) describes the identifiable speakers, voices, or other participants in any kind of text or other persons named or otherwise referred to in a text, edition, or metadata. [] -->
<!ELEMENT %n.particDesc; %om.RR; ((%model.pLike;)+|(%model.personLike;|%n.listPerson;|%n.listOrg;)+)>
<!ATTLIST %n.particDesc; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.particDesc;
 %att.global.attributes;
 %att.declarable.attributes; >
]]>

<!ENTITY % preparedness 'INCLUDE' >
<![ %preparedness; [

<!--doc:describes the extent to which a text may be regarded as prepared or spontaneous. [] -->
<!ELEMENT %n.preparedness; %om.RR; %macro.phraseSeq.limited;>
<!ATTLIST %n.preparedness; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.preparedness;
 %att.global.attributes;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % purpose 'INCLUDE' >
<![ %purpose; [

<!--doc:characterizes a single purpose or communicative function of the text. [] -->
<!ELEMENT %n.purpose; %om.RR; %macro.phraseSeq.limited;>
<!ATTLIST %n.purpose; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.purpose;
 %att.global.attributes;
type %teidata.enumerated;  #IMPLIED
degree %teidata.certainty;  #IMPLIED >
]]>

<!ENTITY % setting 'INCLUDE' >
<![ %setting; [

<!--doc:describes one particular setting in which a language interaction takes place. [] -->
<!ELEMENT %n.setting; %om.RR; ((%model.pLike;)+|(%model.nameLike.agent;|%model.dateLike;|%model.settingPart;)*)>
<!ATTLIST %n.setting; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.setting;
 %att.global.attributes;
 %att.ascribed.attributes; >
]]>

<!ENTITY % settingDesc 'INCLUDE' >
<![ %settingDesc; [

<!--doc:(setting description) describes the setting or settings within which a language interaction takes place, or other places otherwise referred to in a text, edition, or metadata. [ ] -->
<!ELEMENT %n.settingDesc; %om.RR; ((%model.pLike;)+|(%n.setting;|%model.placeLike;|%n.listPlace;)+)>
<!ATTLIST %n.settingDesc; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.settingDesc;
 %att.global.attributes;
 %att.declarable.attributes; >
]]>

<!ENTITY % textDesc 'INCLUDE' >
<![ %textDesc; [

<!--doc:(text description) provides a description of a text in terms of its situational parameters. [] -->
<!ELEMENT %n.textDesc; %om.RR; (((%model.textDescPart_sequence;),(%n.purpose;)+))>
<!ATTLIST %n.textDesc; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.textDesc;
 %att.global.attributes;
 %att.declarable.attributes; >
]]>
