P5/DTD/figures.dtd


<!--
DTD module figures. generated from ODD source 2019-01-21T23:48:00Z. This material is dual-licensed.
[http://creativecommons.org/licenses/by/3.0/] Distributed under a Creative Commons Attribution 3.0 Unported License.  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2019 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium.
Edition: Version 3.5.0a. Last updated on
	19th January 2019, revision e6ccc03
Tables, formulæ, notated music, and figures
-->

<!ENTITY % cell 'INCLUDE' >
<![ %cell; [

<!--doc:contains one cell of a table. [] -->
<!ELEMENT %n.cell; %om.RR; %macro.specialPara;>
<!ATTLIST %n.cell; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.cell;
 %att.global.attributes;
 %att.tableDecoration.attributes; >
]]>

<!ENTITY % figDesc 'INCLUDE' >
<![ %figDesc; [

<!--doc:(description of figure) contains a brief prose description of the appearance or content of a graphic figure, for use when documenting an image without displaying it. [] -->
<!ELEMENT %n.figDesc; %om.RR; %macro.limitedContent;>
<!ATTLIST %n.figDesc; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.figDesc;
 %att.global.attributes; >
]]>

<!ENTITY % figure 'INCLUDE' >
<![ %figure; [

<!--doc:groups elements representing or containing graphic information such as an illustration, formula, or figure. [] -->
<!ELEMENT %n.figure; %om.RR; (%model.headLike;|%model.common;|%n.figDesc;|%model.graphicLike;|%model.global;|%model.divBottom;)*>
<!ATTLIST %n.figure; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.figure;
 %att.global.attributes;
 %att.placement.attributes;
 %att.typed.attributes;
 %att.written.attributes; >
]]>

<!ENTITY % formula 'INCLUDE' >
<![ %formula; [

<!--doc:contains a mathematical or other formula. [] -->
<!ELEMENT %n.formula; %om.RR; (#PCDATA|%model.graphicLike;|%model.hiLike;)*>
<!ATTLIST %n.formula; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.formula;
 %att.global.attributes;
 %att.notated.attributes; >
]]>

<!ENTITY % notatedMusic 'INCLUDE' >
<![ %notatedMusic; [

<!--doc:encodes the presence of music notation in a text [] -->
<!ELEMENT %n.notatedMusic; %om.RR; (%model.labelLike;|%model.ptrLike;|%n.graphic;|%n.binaryObject;|%n.seg;)*>
<!ATTLIST %n.notatedMusic; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.notatedMusic;
 %att.global.attributes;
 %att.placement.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % row 'INCLUDE' >
<![ %row; [

<!--doc:contains one row of a table. [] -->
<!ELEMENT %n.row; %om.RR; (%n.cell;)+>
<!ATTLIST %n.row; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.row;
 %att.global.attributes;
 %att.tableDecoration.attributes; >
]]>

<!ENTITY % table 'INCLUDE' >
<![ %table; [

<!--doc:contains text displayed in tabular form, in rows and columns. [] -->
<!ELEMENT %n.table; %om.RR; (((%model.headLike;|%model.global;)*,((%n.row;,(%model.global;)*)+|((%model.graphicLike;),(%model.global;)*)+),((%model.divBottom;),(%model.global;)*)*))>
<!ATTLIST %n.table; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.table;
 %att.global.attributes;
 %att.typed.attributes;
rows %teidata.count;  #IMPLIED
cols %teidata.count;  #IMPLIED >
]]>
