P5/DTD/namesdates.dtd


<!--
DTD module namesdates. generated from ODD source 2019-01-21T23:48:00Z. This material is dual-licensed.
[http://creativecommons.org/licenses/by/3.0/] Distributed under a Creative Commons Attribution 3.0 Unported License.  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2019 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium.
Edition: Version 3.5.0a. Last updated on
	19th January 2019, revision e6ccc03
Names and dates
-->

<!ENTITY % addName 'INCLUDE' >
<![ %addName; [

<!--doc:(additional name) contains an additional name component, such as a nickname, epithet, or alias, or any other descriptive phrase used within a personal name. [] -->
<!ELEMENT %n.addName; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.addName; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.addName;
 %att.global.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % affiliation 'INCLUDE' >
<![ %affiliation; [

<!--doc:contains an informal description of a person's present or past affiliation with some organization, for example an employer or sponsor. [] -->
<!ELEMENT %n.affiliation; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.affiliation; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.affiliation;
 %att.global.attributes;
 %att.editLike.attributes;
 %att.datable.attributes;
 %att.naming.attributes;
 %att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % age 'INCLUDE' >
<![ %age; [

<!--doc:specifies the age of a person. [] -->
<!ELEMENT %n.age; %om.RR; %macro.phraseSeq.limited;>
<!ATTLIST %n.age; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.age;
 %att.global.attributes;
 %att.editLike.attributes;
 %att.datable.attributes;
 %att.dimensions.attributes;
 %att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED
value %teidata.count;  #IMPLIED >
]]>

<!ENTITY % birth 'INCLUDE' >
<![ %birth; [

<!--doc:contains information about a person's birth, such as its date and place. [] -->
<!ELEMENT %n.birth; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.birth; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.birth;
 %att.global.attributes;
 %att.editLike.attributes;
 %att.datable.attributes;
 %att.dimensions.attributes;
 %att.naming.attributes;
 %att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % bloc 'INCLUDE' >
<![ %bloc; [

<!--doc:contains the name of a geo-political unit consisting of two or more nation states or countries. [] -->
<!ELEMENT %n.bloc; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.bloc; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.bloc;
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes;
 %att.datable.attributes; >
]]>

<!ENTITY % climate 'INCLUDE' >
<![ %climate; [

<!--doc:contains information about the physical climate of a place. [] -->
<!ELEMENT %n.climate; %om.RR; (((%n.precision;)*,(%model.headLike;)*,((%model.pLike;)+|(%model.labelLike;)+),(%model.noteLike;|%model.biblLike;)*,(%n.climate;)*))>
<!ATTLIST %n.climate; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.climate;
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.naming.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % country 'INCLUDE' >
<![ %country; [

<!--doc:contains the name of a geo-political unit, such as a nation, country, colony, or commonwealth, larger than or administratively superior to a region and smaller than a bloc. [] -->
<!ELEMENT %n.country; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.country; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.country;
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes;
 %att.datable.attributes; >
]]>

<!ENTITY % death 'INCLUDE' >
<![ %death; [

<!--doc:contains information about a person's death, such as its date and place. [] -->
<!ELEMENT %n.death; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.death; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.death;
 %att.datable.attributes;
 %att.dimensions.attributes;
 %att.editLike.attributes;
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % district 'INCLUDE' >
<![ %district; [

<!--doc:contains the name of any kind of subdivision of a settlement, such as a parish, ward, or other administrative or geographic unit. [] -->
<!ELEMENT %n.district; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.district; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.district;
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes;
 %att.datable.attributes; >
]]>

<!ENTITY % education 'INCLUDE' >
<![ %education; [

<!--doc:contains a description of the educational experience of a person. [] -->
<!ELEMENT %n.education; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.education; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.education;
 %att.global.attributes;
 %att.editLike.attributes;
 %att.datable.attributes;
 %att.naming.attributes;
 %att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % event 'INCLUDE' >
<![ %event; [

<!--doc:contains data relating to any kind of significant event associated with a person, place, or organization. [] -->
<!ELEMENT %n.event; %om.RR; (((%model.headLike;)*,((%model.pLike;)+|(%model.labelLike;)+),(%model.noteLike;|%model.biblLike;|%n.linkGrp;|%n.link;)*,(%n.event;)*))>
<!ATTLIST %n.event; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.event;
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.typed.attributes;
 %att.naming.attributes;
 %att.sortable.attributes;
where %teidata.pointer;  #IMPLIED >
]]>

<!ENTITY % faith 'INCLUDE' >
<![ %faith; [

<!--doc:specifies the faith, religion, or belief set of a person. [] -->
<!ELEMENT %n.faith; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.faith; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.faith;
 %att.global.attributes;
 %att.editLike.attributes;
 %att.datable.attributes;
 %att.canonical.attributes;
 %att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % floruit 'INCLUDE' >
<![ %floruit; [

<!--doc:contains information about a person's period of activity. [] -->
<!ELEMENT %n.floruit; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.floruit; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.floruit;
 %att.global.attributes;
 %att.datable.attributes;
 %att.dimensions.attributes;
 %att.editLike.attributes; >
]]>

<!ENTITY % forename 'INCLUDE' >
<![ %forename; [

<!--doc:contains a forename, given or baptismal name. [] -->
<!ELEMENT %n.forename; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.forename; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.forename;
 %att.global.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % genName 'INCLUDE' >
<![ %genName; [

<!--doc:(generational name component) contains a name component used to distinguish otherwise similar names on the basis of the relative ages or generations of the persons named. [] -->
<!ELEMENT %n.genName; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.genName; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.genName;
 %att.global.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % geo 'INCLUDE' >
<![ %geo; [

<!--doc:(geographical coordinates) contains any expression of a set of geographic coordinates, representing a point, line, or area on the surface of the earth in some notation. [] -->
<!ELEMENT %n.geo; %om.RR; (#PCDATA)>
<!ATTLIST %n.geo; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.geo;
 %att.global.attributes;
 %att.declaring.attributes; >
]]>

<!ENTITY % geogFeat 'INCLUDE' >
<![ %geogFeat; [

<!--doc:(geographical feature name) contains a common noun identifying some geographical feature contained within a geographic name, such as valley, mount, etc. [] -->
<!ELEMENT %n.geogFeat; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.geogFeat; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.geogFeat;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes;
 %att.dimensions.attributes; >
]]>

<!ENTITY % geogName 'INCLUDE' >
<![ %geogName; [

<!--doc:(geographical name) identifies a name associated with some geographical feature such as Windrush Valley or Mount Sinai. [] -->
<!ELEMENT %n.geogName; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.geogName; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.geogName;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % langKnowledge 'INCLUDE' >
<![ %langKnowledge; [

<!--doc:(language knowledge) summarizes the state of a person's linguistic knowledge, either as prose or by a list of langKnown elements. [] -->
<!ELEMENT %n.langKnowledge; %om.RR; (((%n.precision;)*,(%model.pLike;|(%n.langKnown;)+)))>
<!ATTLIST %n.langKnowledge; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.langKnowledge;
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED
tags CDATA  #IMPLIED >
]]>

<!ENTITY % langKnown 'INCLUDE' >
<![ %langKnown; [

<!--doc:(language known) summarizes the state of a person's linguistic competence, i.e., knowledge of a single language. [] -->
<!ELEMENT %n.langKnown; %om.RR; %macro.phraseSeq.limited;>
<!ATTLIST %n.langKnown; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.langKnown;
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
tag %teidata.language;  #REQUIRED
level %teidata.word;  #IMPLIED >
]]>

<!ENTITY % listEvent 'INCLUDE' >
<![ %listEvent; [

<!--doc:(list of events) contains a list of descriptions, each of which provides information about an identifiable event. [] -->
<!ELEMENT %n.listEvent; %om.RR; (((%model.headLike;)*,(%model.eventLike;)+,(%n.relation;|%n.listRelation;)*))>
<!ATTLIST %n.listEvent; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.listEvent;
 %att.global.attributes;
 %att.typed.attributes;
 %att.declarable.attributes;
 %att.sortable.attributes; >
]]>

<!ENTITY % listNym 'INCLUDE' >
<![ %listNym; [

<!--doc:(list of canonical names) contains a list of nyms, that is, standardized names for any thing. [] -->
<!ELEMENT %n.listNym; %om.RR; (((%model.headLike;)*,(%n.nym;|%n.listNym;)+,(%n.relation;|%n.listRelation;)*))>
<!ATTLIST %n.listNym; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.listNym;
 %att.global.attributes;
 %att.typed.attributes;
 %att.declarable.attributes;
 %att.sortable.attributes; >
]]>

<!ENTITY % listObject 'INCLUDE' >
<![ %listObject; [

<!--doc:(list of objects) contains a list of descriptions, each of which provides information about an identifiable object. [] -->
<!ELEMENT %n.listObject; %om.RR; (((%model.headLike;)*,(%model.objectLike;)+,(%n.relation;|%n.listRelation;)*))>
<!ATTLIST %n.listObject; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.listObject;
 %att.global.attributes;
 %att.typed.attributes;
 %att.declarable.attributes;
 %att.sortable.attributes; >
]]>

<!ENTITY % listOrg 'INCLUDE' >
<![ %listOrg; [

<!--doc:(list of organizations) contains a list of elements, each of which provides information about an identifiable organization. [] -->
<!ELEMENT %n.listOrg; %om.RR; (((%model.headLike;)*,(%n.org;|%n.listOrg;)+,(%n.relation;|%n.listRelation;)*))>
<!ATTLIST %n.listOrg; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.listOrg;
 %att.global.attributes;
 %att.typed.attributes;
 %att.declarable.attributes;
 %att.sortable.attributes; >
]]>

<!ENTITY % listPerson 'INCLUDE' >
<![ %listPerson; [

<!--doc:(list of persons) contains a list of descriptions, each of which provides information about an identifiable person or a group of people, for example the participants in a language interaction, or the people referred to in a historical source. [   ] -->
<!ELEMENT %n.listPerson; %om.RR; (((%model.headLike;)*,(%model.personLike;|%n.listPerson;)+,(%n.relation;|%n.listRelation;)*))>
<!ATTLIST %n.listPerson; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.listPerson;
 %att.global.attributes;
 %att.typed.attributes;
 %att.declarable.attributes;
 %att.sortable.attributes; >
]]>

<!ENTITY % listPlace 'INCLUDE' >
<![ %listPlace; [

<!--doc:(list of places) contains a list of places, optionally followed by a list of relationships (other than containment) defined amongst them. [ ] -->
<!ELEMENT %n.listPlace; %om.RR; (((%model.headLike;)*,(%model.placeLike;|%n.listPlace;)+,(%n.relation;|%n.listRelation;)*))>
<!ATTLIST %n.listPlace; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.listPlace;
 %att.global.attributes;
 %att.typed.attributes;
 %att.declarable.attributes;
 %att.sortable.attributes; >
]]>

<!ENTITY % listRelation 'INCLUDE' >
<![ %listRelation; [

<!--doc:provides information about relationships identified amongst people, places, and organizations, either informally as prose or as formally expressed relation links. [] -->
<!ELEMENT %n.listRelation; %om.RR; (((%model.headLike;)*,(%model.pLike;|(%n.relation;|%n.listRelation;)+)))>
<!ATTLIST %n.listRelation; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.listRelation;
 %att.global.attributes;
 %att.typed.attributes;
 %att.sortable.attributes; >
]]>

<!ENTITY % location 'INCLUDE' >
<![ %location; [

<!--doc:defines the location of a place as a set of geographical coordinates, in terms of other named geo-political entities, or as an address. [] -->
<!ELEMENT %n.location; %om.RR; (%n.precision;|%model.labelLike;|%model.placeNamePart;|%model.offsetLike;|%model.measureLike;|%model.addressLike;|%model.noteLike;|%model.biblLike;)*>
<!ATTLIST %n.location; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.location;
 %att.global.attributes;
 %att.typed.attributes;
 %att.datable.attributes;
 %att.editLike.attributes; >
]]>

<!ENTITY % nameLink 'INCLUDE' >
<![ %nameLink; [

<!--doc:(name link) contains a connecting phrase or link used within a name but not regarded as part of it, such as van der or of. [] -->
<!ELEMENT %n.nameLink; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.nameLink; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.nameLink;
 %att.global.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % nationality 'INCLUDE' >
<![ %nationality; [

<!--doc:contains an informal description of a person's present or past nationality or citizenship. [] -->
<!ELEMENT %n.nationality; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.nationality; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.nationality;
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.naming.attributes;
 %att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % nym 'INCLUDE' >
<![ %nym; [

<!--doc:(canonical name) contains the definition for a canonical name or name component of any kind. [] -->
<!ELEMENT %n.nym; %om.RR; (((%model.entryPart;)*,(%model.pLike;)*,(%n.nym;)*))>
<!ATTLIST %n.nym; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.nym;
 %att.global.attributes;
 %att.typed.attributes;
 %att.sortable.attributes;
parts CDATA  #IMPLIED >
]]>

<!ENTITY % object 'INCLUDE' >
<![ %object; [

<!--doc:contains a description of a single identifiable physical object. [] -->
<!ELEMENT %n.object; %om.RR; (((%n.objectIdentifier;)+,(%model.headLike;)*,((%model.pLike;)*|((%n.msContents;)?,(%n.physDesc;)?,(%n.history;)?,(%n.additional;)?)),(%model.noteLike;|%model.biblLike;|%n.linkGrp;|%n.link;)*,(%n.object;)?))>
<!ATTLIST %n.object; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.object;
 %att.global.attributes;
 %att.sortable.attributes;
 %att.typed.attributes;
 %att.declaring.attributes;
 %att.docStatus.attributes;
 %att.canonical.attributes; >
]]>

<!ENTITY % objectIdentifier 'INCLUDE' >
<![ %objectIdentifier; [

<!--doc:(object identifier) groups one or more identifiers or pieces of locating information concerning a single object [] -->
<!ELEMENT %n.objectIdentifier; %om.RR; (%model.placeNamePart;|%n.institution;|%n.repository;|%n.collection;|%n.idno;|%n.msName;|%n.objectName;|%n.altIdentifier;|%n.address;)*>
<!ATTLIST %n.objectIdentifier; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.objectIdentifier;
 %att.global.attributes; >
]]>

<!ENTITY % objectName 'INCLUDE' >
<![ %objectName; [

<!--doc:(name of an object) contains a proper noun or noun phrase used to refer to an object. [] -->
<!ELEMENT %n.objectName; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.objectName; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.objectName;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.global.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % occupation 'INCLUDE' >
<![ %occupation; [

<!--doc:contains an informal description of a person's trade, profession or occupation. [] -->
<!ELEMENT %n.occupation; %om.RR; %macro.specialPara;>
<!ATTLIST %n.occupation; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.occupation;
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.naming.attributes;
 %att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED
scheme %teidata.pointer;  #IMPLIED
code %teidata.pointer;  #IMPLIED >
]]>

<!ENTITY % offset 'INCLUDE' >
<![ %offset; [

<!--doc:marks that part of a relative temporal or spatial expression which indicates the direction of the offset between the two place names, dates, or times involved in the expression. [] -->
<!ELEMENT %n.offset; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.offset; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.offset;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes;
 %att.dimensions.attributes; >
]]>

<!ENTITY % org 'INCLUDE' >
<![ %org; [

<!--doc:(organization) provides information about an identifiable organization such as a business, a tribe, or any other grouping of people. [] -->
<!ELEMENT %n.org; %om.RR; (((%model.headLike;)*,((%model.pLike;)*|(%model.labelLike;|%model.nameLike;|%model.placeLike;|%model.orgPart;|%model.milestoneLike;)*),(%model.noteLike;|%model.biblLike;|%n.linkGrp;|%n.link;)*,(%model.personLike;)*))>
<!ATTLIST %n.org; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.org;
 %att.global.attributes;
 %att.typed.attributes;
 %att.editLike.attributes;
 %att.sortable.attributes;
role CDATA  #IMPLIED >
]]>

<!ENTITY % orgName 'INCLUDE' >
<![ %orgName; [

<!--doc:(organization name) contains an organizational name. [] -->
<!ELEMENT %n.orgName; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.orgName; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.orgName;
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % persName 'INCLUDE' >
<![ %persName; [

<!--doc:(personal name) contains a proper noun or proper-noun phrase referring to a person, possibly including one or more of the person's forenames, surnames, honorifics, added names, etc. [] -->
<!ELEMENT %n.persName; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.persName; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.persName;
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % person 'INCLUDE' >
<![ %person; [

<!--doc:provides information about an identifiable individual, for example a participant in a language interaction, or a person referred to in a historical source. [ ] -->
<!ELEMENT %n.person; %om.RR; ((%model.pLike;)+|(%model.personPart;|%model.global;)*)>
<!ATTLIST %n.person; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.person;
 %att.global.attributes;
 %att.editLike.attributes;
 %att.sortable.attributes;
role NMTOKENS  #IMPLIED
sex CDATA  #IMPLIED
age %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % personGrp 'INCLUDE' >
<![ %personGrp; [

<!--doc:(personal group) describes a group of individuals treated as a single person for analytic purposes. [] -->
<!ELEMENT %n.personGrp; %om.RR; ((%model.pLike;)+|(%model.personPart;|%model.global;)*)>
<!ATTLIST %n.personGrp; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.personGrp;
 %att.global.attributes;
 %att.sortable.attributes;
role %teidata.enumerated;  #IMPLIED
sex CDATA  #IMPLIED
age %teidata.enumerated;  #IMPLIED
size CDATA  #IMPLIED >
]]>

<!ENTITY % persona 'INCLUDE' >
<![ %persona; [

<!--doc:provides information about one of the personalities identified for a given individual, where an individual has multiple personalities. [] -->
<!ELEMENT %n.persona; %om.RR; ((%model.pLike;)+|(%model.personPart;|%model.global;)*)>
<!ATTLIST %n.persona; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.persona;
 %att.global.attributes;
 %att.editLike.attributes;
 %att.sortable.attributes;
role NMTOKENS  #IMPLIED
sex CDATA  #IMPLIED
age %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % place 'INCLUDE' >
<![ %place; [

<!--doc:contains data about a geographic location [] -->
<!ELEMENT %n.place; %om.RR; (((%model.headLike;)*,((%model.pLike;)*|(%model.labelLike;|%model.placeStateLike;|%model.eventLike;)*),(%model.noteLike;|%model.biblLike;|%n.idno;|%n.linkGrp;|%n.link;)*,(%model.placeLike;|%n.listPlace;)*))>
<!ATTLIST %n.place; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.place;
 %att.global.attributes;
 %att.typed.attributes;
 %att.editLike.attributes;
 %att.sortable.attributes; >
]]>

<!ENTITY % placeName 'INCLUDE' >
<![ %placeName; [

<!--doc:contains an absolute or relative place name. [] -->
<!ELEMENT %n.placeName; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.placeName; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.placeName;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.global.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % population 'INCLUDE' >
<![ %population; [

<!--doc:contains information about the population of a place. [] -->
<!ELEMENT %n.population; %om.RR; (((%n.precision;)*,(%model.headLike;)*,(((%model.pLike;)+|(%model.labelLike;)+),(%model.noteLike;|%model.biblLike;)*)?,(%n.population;)*))>
<!ATTLIST %n.population; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.population;
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.naming.attributes;
 %att.typed.attributes;
 %att.dimensions.attributes; >
]]>

<!ENTITY % region 'INCLUDE' >
<![ %region; [

<!--doc:contains the name of an administrative unit such as a state, province, or county, larger than a settlement, but smaller than a country. [] -->
<!ELEMENT %n.region; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.region; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.region;
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes;
 %att.datable.attributes; >
]]>

<!ENTITY % relation 'INCLUDE' >
<![ %relation; [

<!--doc:(relationship) describes any kind of relationship or linkage amongst a specified group of places, events, persons, objects or other items. [] -->
<!ELEMENT %n.relation; %om.RR; (%n.desc;)?>
<!ATTLIST %n.relation; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.relation;
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.canonical.attributes;
 %att.sortable.attributes;
 %att.typed.attributes;
name %teidata.enumerated;  #IMPLIED
active CDATA  #IMPLIED
mutual CDATA  #IMPLIED
passive CDATA  #IMPLIED >
]]>

<!ENTITY % residence 'INCLUDE' >
<![ %residence; [

<!--doc:describes a person's present or past places of residence. [] -->
<!ELEMENT %n.residence; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.residence; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.residence;
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.naming.attributes;
 %att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % roleName 'INCLUDE' >
<![ %roleName; [

<!--doc:contains a name component which indicates that the referent has a particular role or position in society, such as an official title or rank. [] -->
<!ELEMENT %n.roleName; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.roleName; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.roleName;
 %att.global.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % settlement 'INCLUDE' >
<![ %settlement; [

<!--doc:contains the name of a settlement such as a city, town, or village identified as a single geo-political or administrative unit. [] -->
<!ELEMENT %n.settlement; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.settlement; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.settlement;
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes;
 %att.datable.attributes; >
]]>

<!ENTITY % sex 'INCLUDE' >
<![ %sex; [

<!--doc:specifies the sex of a person. [] -->
<!ELEMENT %n.sex; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.sex; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.sex;
 %att.global.attributes;
 %att.editLike.attributes;
 %att.datable.attributes;
 %att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED
value CDATA  #IMPLIED >
]]>

<!ENTITY % socecStatus 'INCLUDE' >
<![ %socecStatus; [

<!--doc:(socio-economic status) contains an informal description of a person's perceived social or economic status. [] -->
<!ELEMENT %n.socecStatus; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.socecStatus; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.socecStatus;
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.naming.attributes;
 %att.typed.attribute.subtype;
type %teidata.enumerated;  #IMPLIED
scheme %teidata.pointer;  #IMPLIED
code %teidata.pointer;  #IMPLIED >
]]>

<!ENTITY % state 'INCLUDE' >
<![ %state; [

<!--doc:contains a description of some status or quality attributed to a person, place, or organization often at some specific time or for a specific date range. [ ] -->
<!ELEMENT %n.state; %om.RR; (((%n.precision;)*,((%n.state;)+|((%model.headLike;)*,(%model.pLike;)+,(%model.noteLike;|%model.biblLike;)*)|(%model.labelLike;|%model.noteLike;|%model.biblLike;)*)))>
<!ATTLIST %n.state; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.state;
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.typed.attributes;
 %att.naming.attributes;
 %att.dimensions.attributes; >
]]>

<!ENTITY % surname 'INCLUDE' >
<![ %surname; [

<!--doc:contains a family (inherited) name, as opposed to a given, baptismal, or nick name. [] -->
<!ELEMENT %n.surname; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.surname; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.surname;
 %att.global.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % terrain 'INCLUDE' >
<![ %terrain; [

<!--doc:contains information about the physical terrain of a place. [] -->
<!ELEMENT %n.terrain; %om.RR; (((%n.precision;)*,(%model.headLike;)*,((%model.pLike;)+|(%model.labelLike;)+),(%model.noteLike;|%model.biblLike;)*,(%n.terrain;)*))>
<!ATTLIST %n.terrain; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.terrain;
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.naming.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % trait 'INCLUDE' >
<![ %trait; [

<!--doc:contains a description of some status or quality attributed to a person, place, or organization typically, but not necessarily, independent of the volition or action of the holder and usually not at some specific time or for a specific date range. [ ] -->
<!ELEMENT %n.trait; %om.RR; (((%n.precision;)*,((%n.trait;)+|((%model.headLike;)*,(%model.pLike;)+,(%model.noteLike;|%model.biblLike;)*)|(%model.labelLike;|%model.noteLike;|%model.biblLike;)*)))>
<!ATTLIST %n.trait; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.trait;
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.naming.attributes;
 %att.typed.attributes;
 %att.dimensions.attributes; >
]]>
