P5/DTD/nets.dtd


<!--
DTD module nets. generated from ODD source 2019-01-21T23:48:00Z. This material is dual-licensed.
[http://creativecommons.org/licenses/by/3.0/] Distributed under a Creative Commons Attribution 3.0 Unported License.  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2019 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium.
Edition: Version 3.5.0a. Last updated on
	19th January 2019, revision e6ccc03
Graphs, networks, and trees
-->

<!ENTITY % arc 'INCLUDE' >
<![ %arc; [

<!--doc:encodes an arc, the connection from one node to another in a graph. [] -->
<!ELEMENT %n.arc; %om.RR; ((%n.label;,(%n.label;)?)?)?>
<!ATTLIST %n.arc; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.arc;
 %att.global.attributes;
from %teidata.pointer;  #REQUIRED
to %teidata.pointer;  #REQUIRED >
]]>

<!ENTITY % eLeaf 'INCLUDE' >
<![ %eLeaf; [

<!--doc:(leaf or terminal node of an embedding tree) provides explicitly for a leaf of an embedding tree, which may also be encoded with the eTree element. [] -->
<!ELEMENT %n.eLeaf; %om.RR; (((%n.label;)?,((%model.ptrLike;)?)))>
<!ATTLIST %n.eLeaf; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.eLeaf;
 %att.global.attributes;
 %att.typed.attributes;
value %teidata.pointer;  #IMPLIED >
]]>

<!ENTITY % eTree 'INCLUDE' >
<![ %eTree; [

<!--doc:(embedding tree) provides an alternative to the tree element for representing ordered rooted tree structures. [] -->
<!ELEMENT %n.eTree; %om.RR; (((%n.label;)?,(%n.eTree;|%n.triangle;|%n.eLeaf;|%model.ptrLike;)*))>
<!ATTLIST %n.eTree; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.eTree;
 %att.global.attributes;
 %att.typed.attributes;
value %teidata.pointer;  #IMPLIED >
]]>

<!ENTITY % forest 'INCLUDE' >
<![ %forest; [

<!--doc:provides for groups of rooted trees. [] -->
<!ELEMENT %n.forest; %om.RR; (%n.tree;|%n.eTree;|%n.triangle;)+>
<!ATTLIST %n.forest; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.forest;
 %att.global.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % graph 'INCLUDE' >
<![ %graph; [

<!--doc:encodes a graph, which is a collection of nodes, and arcs which connect the nodes. [] -->
<!ELEMENT %n.graph; %om.RR; (((%n.label;,(%model.global;)*)?,(((%n.node;,(%model.global;)*)+,(%n.arc;,(%model.global;)*)*)|((%n.arc;,(%model.global;)*)+,(%n.node;,(%model.global;)*)+))))>
<!ATTLIST %n.graph; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.graph;
 %att.global.attributes;
type %teidata.enumerated;  #IMPLIED
order %teidata.count;  #IMPLIED
size %teidata.count;  #IMPLIED >
]]>

<!ENTITY % iNode 'INCLUDE' >
<![ %iNode; [

<!--doc:(intermediate (or internal) node) represents an intermediate (or internal) node of a tree. [] -->
<!ELEMENT %n.iNode; %om.RR; (%n.label;)?>
<!ATTLIST %n.iNode; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.iNode;
 %att.global.attributes;
value %teidata.pointer;  #IMPLIED
children CDATA  #REQUIRED
parent %teidata.pointer;  #IMPLIED
ord %teidata.xTruthValue;  #IMPLIED
follow %teidata.pointer;  #IMPLIED
outDegree %teidata.count;  #IMPLIED >
]]>

<!ENTITY % leaf 'INCLUDE' >
<![ %leaf; [

<!--doc:encodes the leaves (terminal nodes) of a tree. [] -->
<!ELEMENT %n.leaf; %om.RR; (%n.label;)?>
<!ATTLIST %n.leaf; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.leaf;
 %att.global.attributes;
value %teidata.pointer;  #IMPLIED
parent %teidata.pointer;  #IMPLIED
follow %teidata.pointer;  #IMPLIED >
]]>

<!ENTITY % listForest 'INCLUDE' >
<![ %listForest; [

<!--doc:provides for lists of forests. [] -->
<!ELEMENT %n.listForest; %om.RR; (%n.forest;)+>
<!ATTLIST %n.listForest; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.listForest;
 %att.global.attributes;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % node 'INCLUDE' >
<![ %node; [

<!--doc:encodes a node, a possibly labeled point in a graph. [] -->
<!ELEMENT %n.node; %om.RR; ((%n.label;,(%n.label;)?)?)?>
<!ATTLIST %n.node; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.node;
 %att.global.attributes;
value %teidata.pointer;  #IMPLIED
type %teidata.enumerated;  #IMPLIED
adjTo CDATA  #IMPLIED
adjFrom CDATA  #IMPLIED
adj CDATA  #IMPLIED
inDegree %teidata.count;  #IMPLIED
outDegree %teidata.count;  #IMPLIED
degree %teidata.count;  #IMPLIED >
]]>

<!ENTITY % root 'INCLUDE' >
<![ %root; [

<!--doc:(root node) represents the root node of a tree. [] -->
<!ELEMENT %n.root; %om.RR; (%n.label;)?>
<!ATTLIST %n.root; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.root;
 %att.global.attributes;
value %teidata.pointer;  #IMPLIED
children CDATA  #REQUIRED
ord %teidata.xTruthValue;  #IMPLIED
outDegree %teidata.count;  #IMPLIED >
]]>

<!ENTITY % tree 'INCLUDE' >
<![ %tree; [

<!--doc:encodes a tree, which is made up of a root, internal nodes, leaves, and arcs from root to leaves. [] -->
<!ELEMENT %n.tree; %om.RR; (((%n.label;)?,((%n.leaf;|%n.iNode;)*,%n.root;,(%n.leaf;|%n.iNode;)*)))>
<!ATTLIST %n.tree; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.tree;
 %att.global.attributes;
arity %teidata.count;  #IMPLIED
ord (true|partial|false) #REQUIRED
order %teidata.count;  #IMPLIED >
]]>

<!ENTITY % triangle 'INCLUDE' >
<![ %triangle; [

<!--doc:(underspecified embedding tree, so called because of its
  characteristic shape when drawn) provides for an underspecified eTree, that is, an eTree with information left out. [] -->
<!ELEMENT %n.triangle; %om.RR; (((%n.label;)?,(%n.eTree;|%n.triangle;|%n.eLeaf;)*))>
<!ATTLIST %n.triangle; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.triangle;
 %att.global.attributes;
value %teidata.pointer;  #IMPLIED >
]]>
