P5/DTD/textstructure.dtd


<!--
DTD module textstructure. generated from ODD source 2019-01-21T23:48:00Z. This material is dual-licensed.
[http://creativecommons.org/licenses/by/3.0/] Distributed under a Creative Commons Attribution 3.0 Unported License.  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2019 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium.
Edition: Version 3.5.0a. Last updated on
	19th January 2019, revision e6ccc03
Default text structure
-->

<!ENTITY % TEI 'INCLUDE' >
<![ %TEI; [

<!--doc:(TEI document) contains a single TEI-conformant document, combining a single TEI header with one or more members of the model.resourceLike class. Multiple TEI elements may be combined to form a teiCorpus element. [ ] -->
<!ELEMENT %n.TEI; %om.RR; ((%n.teiHeader;,(%model.resourceLike;)+))>
<!ATTLIST %n.TEI; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.TEI;
 %att.global.attributes;
 %att.typed.attributes;
version %teidata.version;  #IMPLIED >
<!ATTLIST %n.TEI; xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
]]>

<!ENTITY % argument 'INCLUDE' >
<![ %argument; [

<!--doc:contains a formal list or prose description of the topics addressed by a subdivision of a text. [ ] -->
<!ELEMENT %n.argument; %om.RR; (((%model.global;|%model.headLike;)*,((%model.common;),(%model.global;)*)+))>
<!ATTLIST %n.argument; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.argument;
 %att.global.attributes; >
]]>

<!ENTITY % back 'INCLUDE' >
<![ %back; [

<!--doc:(back matter) contains any appendixes, etc. following the main part of a text. [ ] -->
<!ELEMENT %n.back; %om.RR; (((%model.frontPart;|%model.pLike.front;|%model.pLike;|%model.listLike;|%model.global;)*,(((%model.div1Like;),(%model.frontPart;|%model.div1Like;|%model.global;)*)|((%model.divLike;),(%model.frontPart;|%model.divLike;|%model.global;)*))?,((%model.divBottomPart;),(%model.divBottomPart;|%model.global;)*)?))>
<!ATTLIST %n.back; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.back;
 %att.global.attributes;
 %att.declaring.attributes; >
]]>

<!ENTITY % body 'INCLUDE' >
<![ %body; [

<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. [] -->
<!ELEMENT %n.body; %om.RR; (((%model.global;)*,((%model.divTop;),(%model.global;|%model.divTop;)*)?,((%model.divGenLike;),(%model.global;|%model.divGenLike;)*)?,(((%model.divLike;),(%model.global;|%model.divGenLike;)*)+|((%model.div1Like;),(%model.global;|%model.divGenLike;)*)+|(((%model.common;),(%model.global;)*)+,(((%model.divLike;),(%model.global;|%model.divGenLike;)*)+|((%model.div1Like;),(%model.global;|%model.divGenLike;)*)+)?)),((%model.divBottom;),(%model.global;)*)*))>
<!ATTLIST %n.body; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.body;
 %att.global.attributes;
 %att.declaring.attributes; >
]]>

<!ENTITY % byline 'INCLUDE' >
<![ %byline; [

<!--doc:contains the primary statement of responsibility given for a work on its title page or at the head or end of the work. [ ] -->
<!ELEMENT %n.byline; %om.RR; (#PCDATA|%model.gLike;|%model.phrase;|%n.docAuthor;|%model.global;)*>
<!ATTLIST %n.byline; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.byline;
 %att.global.attributes; >
]]>

<!ENTITY % closer 'INCLUDE' >
<![ %closer; [

<!--doc:groups together salutations, datelines, and similar phrases appearing as a final group at the end of a division, especially of a letter. [ ] -->
<!ELEMENT %n.closer; %om.RR; (#PCDATA|%model.gLike;|%n.signed;|%n.dateline;|%n.salute;|%model.phrase;|%model.global;)*>
<!ATTLIST %n.closer; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.closer;
 %att.global.attributes;
 %att.written.attributes; >
]]>

<!ENTITY % dateline 'INCLUDE' >
<![ %dateline; [

<!--doc:contains a brief description of the place, date, time, etc. of production of a letter, newspaper story, or other work, prefixed or suffixed to it as a kind of heading or trailer. [] -->
<!ELEMENT %n.dateline; %om.RR; (#PCDATA|%model.gLike;|%model.phrase;|%model.global;|%n.docDate;)*>
<!ATTLIST %n.dateline; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.dateline;
 %att.global.attributes; >
]]>

<!ENTITY % div 'INCLUDE' >
<![ %div; [

<!--doc:(text division) contains a subdivision of the front, body, or back of a text. [] -->
<!ELEMENT %n.div; %om.RR; (((%model.divTop;|%model.global;)*,((((%model.divLike;|%model.divGenLike;),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.divLike;|%model.divGenLike;),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST %n.div; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.div;
 %att.global.attributes;
 %att.divLike.attributes;
 %att.typed.attributes;
 %att.declaring.attributes;
 %att.written.attributes; >
]]>

<!ENTITY % div1 'INCLUDE' >
<![ %div1; [

<!--doc:(level-1 text division) contains a first-level subdivision of the front, body, or back of a text. [] -->
<!ELEMENT %n.div1; %om.RR; (((%model.divTop;|%model.global;)*,((((%model.div2Like;|%model.divGenLike;),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.div2Like;|%model.divGenLike;),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST %n.div1; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.div1;
 %att.global.attributes;
 %att.divLike.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
]]>

<!ENTITY % div2 'INCLUDE' >
<![ %div2; [

<!--doc:(level-2 text division) contains a second-level subdivision of the front, body, or back of a text. [] -->
<!ELEMENT %n.div2; %om.RR; (((%model.divTop;|%model.global;)*,((((%model.div3Like;|%model.divGenLike;),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.div3Like;|%model.divGenLike;),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST %n.div2; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.div2;
 %att.global.attributes;
 %att.divLike.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
]]>

<!ENTITY % div3 'INCLUDE' >
<![ %div3; [

<!--doc:(level-3 text division) contains a third-level subdivision of the front, body, or back of a text. [] -->
<!ELEMENT %n.div3; %om.RR; (((%model.divTop;|%model.global;)*,((((%model.div4Like;|%model.divGenLike;),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.div4Like;|%model.divGenLike;),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST %n.div3; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.div3;
 %att.global.attributes;
 %att.divLike.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
]]>

<!ENTITY % div4 'INCLUDE' >
<![ %div4; [

<!--doc:(level-4 text division) contains a fourth-level subdivision of the front, body, or back of a text. [] -->
<!ELEMENT %n.div4; %om.RR; (((%model.divTop;|%model.global;)*,((((%model.div5Like;|%model.divGenLike;),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.div5Like;|%model.divGenLike;),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST %n.div4; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.div4;
 %att.global.attributes;
 %att.divLike.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
]]>

<!ENTITY % div5 'INCLUDE' >
<![ %div5; [

<!--doc:(level-5 text division) contains a fifth-level subdivision of the front, body, or back of a text. [] -->
<!ELEMENT %n.div5; %om.RR; (((%model.divTop;|%model.global;)*,((((%model.div6Like;|%model.divGenLike;),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.div6Like;|%model.divGenLike;),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST %n.div5; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.div5;
 %att.global.attributes;
 %att.divLike.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
]]>

<!ENTITY % div6 'INCLUDE' >
<![ %div6; [

<!--doc:(level-6 text division) contains a sixth-level subdivision of the front, body, or back of a text. [] -->
<!ELEMENT %n.div6; %om.RR; (((%model.divTop;|%model.global;)*,((((%model.div7Like;|%model.divGenLike;),(%model.global;)*)+|(((%model.common;),(%model.global;)*)+,((%model.div7Like;|%model.divGenLike;),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST %n.div6; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.div6;
 %att.global.attributes;
 %att.divLike.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
]]>

<!ENTITY % div7 'INCLUDE' >
<![ %div7; [

<!--doc:(level-7 text division) contains the smallest possible subdivision of the front, body or back of a text, larger than a paragraph. [] -->
<!ELEMENT %n.div7; %om.RR; (((%model.divTop;|%model.global;)*,(((%model.common;),(%model.global;)*)+,((%model.divBottom;),(%model.global;)*)*)?))>
<!ATTLIST %n.div7; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.div7;
 %att.global.attributes;
 %att.divLike.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
]]>

<!ENTITY % docAuthor 'INCLUDE' >
<![ %docAuthor; [

<!--doc:(document author) contains the name of the author of the document, as given on the title page (often but not always contained in a byline). [] -->
<!ELEMENT %n.docAuthor; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.docAuthor; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.docAuthor;
 %att.global.attributes;
 %att.canonical.attributes; >
]]>

<!ENTITY % docDate 'INCLUDE' >
<![ %docDate; [

<!--doc:(document date) contains the date of a document, as given on a title page or in a dateline. [] -->
<!ELEMENT %n.docDate; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.docDate; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.docDate;
 %att.global.attributes;
when %teidata.temporal.w3c;  #IMPLIED >
]]>

<!ENTITY % docEdition 'INCLUDE' >
<![ %docEdition; [

<!--doc:(document edition) contains an edition statement as presented on a title page of a document. [] -->
<!ELEMENT %n.docEdition; %om.RR; %macro.paraContent;>
<!ATTLIST %n.docEdition; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.docEdition;
 %att.global.attributes; >
]]>

<!ENTITY % docImprint 'INCLUDE' >
<![ %docImprint; [

<!--doc:(document imprint) contains the imprint statement (place and date of publication, publisher name), as given (usually) at the foot of a title page. [] -->
<!ELEMENT %n.docImprint; %om.RR; (#PCDATA|%model.gLike;|%model.phrase;|%n.pubPlace;|%n.docDate;|%n.publisher;|%model.global;)*>
<!ATTLIST %n.docImprint; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.docImprint;
 %att.global.attributes; >
]]>

<!ENTITY % docTitle 'INCLUDE' >
<![ %docTitle; [

<!--doc:(document title) contains the title of a document, including all its constituents, as given on a title page. [] -->
<!ELEMENT %n.docTitle; %om.RR; (((%model.global;)*,(%n.titlePart;,(%model.global;)*)+))>
<!ATTLIST %n.docTitle; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.docTitle;
 %att.global.attributes;
 %att.canonical.attributes; >
]]>

<!ENTITY % epigraph 'INCLUDE' >
<![ %epigraph; [

<!--doc:contains a quotation, anonymous or attributed, appearing at the start or end of a section or on a title page. [  ] -->
<!ELEMENT %n.epigraph; %om.RR; (%model.common;|%model.global;)*>
<!ATTLIST %n.epigraph; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.epigraph;
 %att.global.attributes; >
]]>

<!ENTITY % floatingText 'INCLUDE' >
<![ %floatingText; [

<!--doc:contains a single text of any kind, whether unitary or composite, which interrupts the text containing it at any point and after which the surrounding text resumes. [] -->
<!ELEMENT %n.floatingText; %om.RR; (((%model.global;)*,(%n.front;,(%model.global;)*)?,(%n.body;|%n.group;),(%model.global;)*,(%n.back;,(%model.global;)*)?))>
<!ATTLIST %n.floatingText; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.floatingText;
 %att.global.attributes;
 %att.declaring.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % front 'INCLUDE' >
<![ %front; [

<!--doc:(front matter) contains any prefatory matter (headers, abstracts, title page, prefaces, dedications, etc.) found at the start of a document, before the main body. [ ] -->
<!ELEMENT %n.front; %om.RR; (((%model.frontPart;|%model.pLike;|%model.pLike.front;|%model.global;)*,((((%model.div1Like;),(%model.div1Like;|%model.frontPart;|%model.global;)*)|((%model.divLike;),(%model.divLike;|%model.frontPart;|%model.global;)*)),((%model.divBottom;),(%model.divBottom;|%model.global;)*)?)?))>
<!ATTLIST %n.front; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.front;
 %att.global.attributes;
 %att.declaring.attributes; >
]]>

<!ENTITY % group 'INCLUDE' >
<![ %group; [

<!--doc:contains the body of a composite text, grouping together a sequence of distinct texts (or groups of such texts) which are regarded as a unit for some purpose, for example the collected works of an author, a sequence of prose essays, etc. [  ] -->
<!ELEMENT %n.group; %om.RR; (((%model.divTop;|%model.global;)*,((%n.text;|%n.group;),(%n.text;|%n.group;|%model.global;)*),(%model.divBottom;)*))>
<!ATTLIST %n.group; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.group;
 %att.global.attributes;
 %att.declaring.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % imprimatur 'INCLUDE' >
<![ %imprimatur; [

<!--doc:contains a formal statement authorizing the publication of a work, sometimes required to appear on a title page or its verso. [] -->
<!ELEMENT %n.imprimatur; %om.RR; %macro.paraContent;>
<!ATTLIST %n.imprimatur; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.imprimatur;
 %att.global.attributes; >
]]>

<!ENTITY % opener 'INCLUDE' >
<![ %opener; [

<!--doc:groups together dateline, byline, salutation, and similar phrases appearing as a preliminary group at the start of a division, especially of a letter. [] -->
<!ELEMENT %n.opener; %om.RR; (#PCDATA|%model.gLike;|%model.phrase;|%n.argument;|%n.byline;|%n.dateline;|%n.epigraph;|%n.salute;|%n.signed;|%model.global;)*>
<!ATTLIST %n.opener; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.opener;
 %att.global.attributes;
 %att.written.attributes; >
]]>

<!ENTITY % postscript 'INCLUDE' >
<![ %postscript; [

<!--doc:contains a postscript, e.g. to a letter. [] -->
<!ELEMENT %n.postscript; %om.RR; (((%model.global;|%model.divTopPart;)*,(%model.common;),(%model.global;|%model.common;)*,((%model.divBottomPart;),(%model.global;)*)*))>
<!ATTLIST %n.postscript; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.postscript;
 %att.global.attributes;
 %att.written.attributes; >
]]>

<!ENTITY % salute 'INCLUDE' >
<![ %salute; [

<!--doc:(salutation) contains a salutation or greeting prefixed to a foreword, dedicatory epistle, or other division of a text, or the salutation in the closing of a letter, preface, etc. [] -->
<!ELEMENT %n.salute; %om.RR; %macro.paraContent;>
<!ATTLIST %n.salute; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.salute;
 %att.global.attributes;
 %att.written.attributes; >
]]>

<!ENTITY % signed 'INCLUDE' >
<![ %signed; [

<!--doc:(signature) contains the closing salutation, etc., appended to a foreword, dedicatory epistle, or other division of a text. [] -->
<!ELEMENT %n.signed; %om.RR; %macro.paraContent;>
<!ATTLIST %n.signed; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.signed;
 %att.global.attributes;
 %att.written.attributes; >
]]>

<!ENTITY % text 'INCLUDE' >
<![ %text; [

<!--doc:contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [ ] -->
<!ELEMENT %n.text; %om.RR; (((%model.global;)*,(%n.front;,(%model.global;)*)?,(%n.body;|%n.group;),(%model.global;)*,(%n.back;,(%model.global;)*)?))>
<!ATTLIST %n.text; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.text;
 %att.global.attributes;
 %att.declaring.attributes;
 %att.typed.attributes;
 %att.written.attributes; >
]]>

<!ENTITY % titlePage 'INCLUDE' >
<![ %titlePage; [

<!--doc:(title page) contains the title page of a text, appearing within the front or back matter. [] -->
<!ELEMENT %n.titlePage; %om.RR; (((%model.global;)*,(%model.titlepagePart;),(%model.titlepagePart;|%model.global;)*))>
<!ATTLIST %n.titlePage; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.titlePage;
 %att.global.attributes;
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % titlePart 'INCLUDE' >
<![ %titlePart; [

<!--doc:contains a subsection or division of the title of a work, as indicated on a title page. [] -->
<!ELEMENT %n.titlePart; %om.RR; %macro.paraContent;>
<!ATTLIST %n.titlePart; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.titlePart;
 %att.global.attributes;
type %teidata.enumerated;  "main"  >
]]>

<!ENTITY % trailer 'INCLUDE' >
<![ %trailer; [

<!--doc:contains a closing title or footer appearing at the end of a division of a text. [ ] -->
<!ELEMENT %n.trailer; %om.RR; (#PCDATA|%n.lg;|%model.gLike;|%model.phrase;|%model.inter;|%model.lLike;|%model.global;)*>
<!ATTLIST %n.trailer; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.trailer;
 %att.global.attributes;
 %att.typed.attributes; >
]]>
