P5/DTD/textcrit.dtd


<!--
DTD module textcrit. generated from ODD source 2019-01-21T23:48:00Z. This material is dual-licensed.
[http://creativecommons.org/licenses/by/3.0/] Distributed under a Creative Commons Attribution 3.0 Unported License.  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2019 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium.
Edition: Version 3.5.0a. Last updated on
	19th January 2019, revision e6ccc03
Critical Apparatus
-->

<!ENTITY % app 'INCLUDE' >
<![ %app; [

<!--doc:(apparatus entry) contains one entry in a critical apparatus, with an optional lemma and usually one or more readings or notes on the relevant passage. [] -->
<!ELEMENT %n.app; %om.RR; (((%n.lem;)?,(%model.rdgLike;|%model.noteLike;|%n.witDetail;|%n.wit;|%n.rdgGrp;)*))>
<!ATTLIST %n.app; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.app;
 %att.global.attributes;
type %teidata.enumerated;  #IMPLIED
from %teidata.pointer;  #IMPLIED
to %teidata.pointer;  #IMPLIED
loc CDATA  #IMPLIED >
]]>

<!ENTITY % lacunaEnd 'INCLUDE' >
<![ %lacunaEnd; [

<!--doc:indicates the end of a lacuna in a mostly complete textual witness. [] -->
<!ELEMENT %n.lacunaEnd; %om.RR;  EMPTY>
<!ATTLIST %n.lacunaEnd; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.lacunaEnd;
 %att.global.attributes;
 %att.rdgPart.attributes; >
]]>

<!ENTITY % lacunaStart 'INCLUDE' >
<![ %lacunaStart; [

<!--doc:indicates the beginning of a lacuna in the text of a mostly complete textual witness. [] -->
<!ELEMENT %n.lacunaStart; %om.RR;  EMPTY>
<!ATTLIST %n.lacunaStart; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.lacunaStart;
 %att.global.attributes;
 %att.rdgPart.attributes; >
]]>

<!ENTITY % lem 'INCLUDE' >
<![ %lem; [

<!--doc:(lemma) contains the lemma, or base text, of a textual variation. [] -->
<!ELEMENT %n.lem; %om.RR; (#PCDATA|%model.divLike;|%model.divPart;|%model.gLike;|%model.phrase;|%model.inter;|%model.global;|%model.rdgPart;)*>
<!ATTLIST %n.lem; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.lem;
 %att.global.attributes;
 %att.textCritical.attributes;
 %att.witnessed.attributes; >
]]>

<!ENTITY % listApp 'INCLUDE' >
<![ %listApp; [

<!--doc:(list of apparatus entries) contains a list of apparatus entries. [] -->
<!ELEMENT %n.listApp; %om.RR; (((%model.headLike;)*,(%n.app;|%n.listApp;)+))>
<!ATTLIST %n.listApp; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.listApp;
 %att.global.attributes;
 %att.sortable.attributes;
 %att.declarable.attributes;
 %att.typed.attributes; >
]]>

<!ENTITY % listWit 'INCLUDE' >
<![ %listWit; [

<!--doc:(witness list) lists definitions for all the witnesses referred to by a critical apparatus, optionally grouped hierarchically. [] -->
<!ELEMENT %n.listWit; %om.RR; ((((%model.headLike;)?),(%n.witness;|%n.listWit;)+))>
<!ATTLIST %n.listWit; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.listWit;
 %att.global.attributes;
 %att.sortable.attributes; >
]]>

<!ENTITY % rdg 'INCLUDE' >
<![ %rdg; [

<!--doc:(reading) contains a single reading within a textual variation. [] -->
<!ELEMENT %n.rdg; %om.RR; (#PCDATA|%model.divLike;|%model.divPart;|%model.gLike;|%model.phrase;|%model.inter;|%model.global;|%model.rdgPart;)*>
<!ATTLIST %n.rdg; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.rdg;
 %att.global.attributes;
 %att.textCritical.attributes;
 %att.witnessed.attributes; >
]]>

<!ENTITY % rdgGrp 'INCLUDE' >
<![ %rdgGrp; [

<!--doc:(reading group) within a textual variation, groups two or more readings perceived to have a genetic relationship or other affinity. [] -->
<!ELEMENT %n.rdgGrp; %om.RR; ((%n.rdgGrp;,(%n.wit;)?)|((%n.lem;,(%n.wit;)?)?,((%model.rdgLike;),(%n.wit;)?))*|(%model.noteLike;)*|(%n.witDetail;)*)+>
<!ATTLIST %n.rdgGrp; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.rdgGrp;
 %att.global.attributes;
 %att.textCritical.attributes; >
]]>

<!ENTITY % variantEncoding 'INCLUDE' >
<![ %variantEncoding; [

<!--doc:declares the method used to encode text-critical variants. [] -->
<!ELEMENT %n.variantEncoding; %om.RR;  EMPTY>
<!ATTLIST %n.variantEncoding; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.variantEncoding;
 %att.global.attributes;
method (location-referenced|double-end-point|parallel-segmentation) #REQUIRED
location (internal|external) #REQUIRED >
]]>

<!ENTITY % wit 'INCLUDE' >
<![ %wit; [

<!--doc:contains a list of one or more sigla of witnesses attesting a given reading, in a textual variation. [] -->
<!ELEMENT %n.wit; %om.RR; %macro.phraseSeq;>
<!ATTLIST %n.wit; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.wit;
 %att.global.attributes;
 %att.rdgPart.attributes; >
]]>

<!ENTITY % witDetail 'INCLUDE' >
<![ %witDetail; [

<!--doc:(witness detail) gives further information about a particular witness, or witnesses, to a particular reading. [] -->
<!ELEMENT %n.witDetail; %om.RR; (#PCDATA|%model.gLike;|%model.phrase;|%model.global;|%n.bibl;)*>
<!ATTLIST %n.witDetail; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.witDetail;
 %att.global.attributes;
 %att.placement.attributes;
 %att.pointing.attributes;
wit CDATA  #REQUIRED
type %teidata.enumerated;  #IMPLIED >
]]>

<!ENTITY % witEnd 'INCLUDE' >
<![ %witEnd; [

<!--doc:(fragmented witness end) indicates the end, or suspension, of the text of a fragmentary witness. [] -->
<!ELEMENT %n.witEnd; %om.RR;  EMPTY>
<!ATTLIST %n.witEnd; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.witEnd;
 %att.global.attributes;
 %att.rdgPart.attributes; >
]]>

<!ENTITY % witStart 'INCLUDE' >
<![ %witStart; [

<!--doc:(fragmented witness start) indicates the beginning, or resumption, of the text of a fragmentary witness. [] -->
<!ELEMENT %n.witStart; %om.RR;  EMPTY>
<!ATTLIST %n.witStart; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.witStart;
 %att.global.attributes;
 %att.rdgPart.attributes; >
]]>

<!ENTITY % witness 'INCLUDE' >
<![ %witness; [

<!--doc:contains either a description of a single witness referred to within the critical apparatus, or a list of witnesses which is to be referred to by a single sigil. [] -->
<!ELEMENT %n.witness; %om.RR; %macro.limitedContent;>
<!ATTLIST %n.witness; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.witness;
 %att.global.attributes;
 %att.sortable.attributes; >
]]>
