P5/DTD/verse.dtd


<!--
DTD module verse. generated from ODD source 2019-01-21T23:48:00Z. This material is dual-licensed.
[http://creativecommons.org/licenses/by/3.0/] Distributed under a Creative Commons Attribution 3.0 Unported License.  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2019 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the TEI Consortium.
Edition: Version 3.5.0a. Last updated on
	19th January 2019, revision e6ccc03
Verse structures
-->

<!ENTITY % caesura 'INCLUDE' >
<![ %caesura; [

<!--doc:marks the point at which a metrical line may be divided. [] -->
<!ELEMENT %n.caesura; %om.RR;  EMPTY>
<!ATTLIST %n.caesura; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.caesura;
 %att.global.attributes; >
]]>

<!ENTITY % metDecl 'INCLUDE' >
<![ %metDecl; [

<!--doc:(metrical notation declaration) documents the notation employed to represent a metrical pattern when this is specified as the value of a met, real, or rhyme attribute on any structural element of a metrical text (e.g. lg, l, or seg). [ ] -->
<!ELEMENT %n.metDecl; %om.RR; ((%model.pLike;|%model.noteLike;)+|(%n.metSym;)+)>
<!ATTLIST %n.metDecl; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.metDecl;
 %att.global.attributes;
 %att.declarable.attributes;
type NMTOKENS  "met real" 
pattern %teidata.pattern;  #IMPLIED >
]]>

<!ENTITY % metSym 'INCLUDE' >
<![ %metSym; [

<!--doc:(metrical notation symbol) documents the intended significance of a particular character or character sequence within a metrical notation, either explicitly or in terms of other metSym elements in the same metDecl. [] -->
<!ELEMENT %n.metSym; %om.RR; %macro.phraseSeq.limited;>
<!ATTLIST %n.metSym; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.metSym;
 %att.global.attributes;
value CDATA  #REQUIRED
terminal %teidata.truthValue;  "true"  >
]]>

<!ENTITY % rhyme 'INCLUDE' >
<![ %rhyme; [

<!--doc:marks the rhyming part of a metrical line. [] -->
<!ELEMENT %n.rhyme; %om.RR; %macro.paraContent;>
<!ATTLIST %n.rhyme; xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST %n.rhyme;
 %att.global.attributes;
 %att.typed.attributes;
label %teidata.word;  #IMPLIED >
]]>
