Test/detest.odd

<?xml version="1.0" encoding="utf-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:rng="http://relaxng.org/ns/structure/1.0" xml:lang="en" 
xmlns:sch="http://purl.oclc.org/dsdl/schematron" n="detest">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Testing errors</title>
        <author>Lou Burnard</author>
      </titleStmt>
      <publicationStmt>
        <p> </p>
      </publicationStmt>
      <sourceDesc>
        <p>authored from scratch</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <div>
        <head>My Minimal Schema</head>
        <p>Here is the introduction to your document</p>
        <p>Here is the schema:</p>
        <schemaSpec ident="detest" start="TEI">
          <moduleRef key="header"/>
          <moduleRef key="core"/>
          <moduleRef key="tei"/>
          <moduleRef key="textstructure"/>
          <moduleRef key="analysis"/>
          <moduleRef key="textcrit"/>
          <moduleRef key="transcr"/>

        <elementSpec ident="p" mode="change">
          <constraintSpec mode="add" ident="c1" scheme="isoschematron">
            <constraint>
              <sch:report test="tei:list"> 
	    lists inside paragraphs not supported </sch:report>
            </constraint>
          </constraintSpec>
          <constraintSpec mode="add" ident="c2" scheme="isoschematron">
            <constraint>
              <sch:rule context="tei:p|tei:q">
                <sch:report test="contains(@rend,' ')"> 
		multi-valued rend is not supported </sch:report>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <attList>
            <attDef ident="rend" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="center"/>
                <valItem ident="boxed"/>
              </valList>
            </attDef>
            <attDef ident="type" mode="change">
              <datatype>
                <rng:data type="float"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="distinct" mode="change" module="core">
          <attList xmlns:rng="http://relaxng.org/ns/structure/1.0">
            <!-- min=0 max=1,2,* -->
            <attDef ident="o01" usage="opt">
              <gloss>optional, min 0, max 1</gloss>
              <datatype minOccurs="0" maxOccurs="1">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
            <attDef ident="o02" usage="opt">
              <gloss>optional, min 0, max 2</gloss>
              <datatype minOccurs="0" maxOccurs="2">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
            <attDef ident="o0i" usage="opt">
              <gloss>optional, min 0, max unbounded</gloss>
              <datatype minOccurs="0" maxOccurs="unbounded">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
            <!-- min=1 max=1,2,* -->
            <attDef ident="o11" usage="opt">
              <gloss>optional, min 1, max 1</gloss>
              <datatype minOccurs="1" maxOccurs="1">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
            <attDef ident="o12" usage="opt">
              <gloss>optional, min 1, max 2</gloss>
              <datatype minOccurs="1" maxOccurs="2">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
            <attDef ident="o1i" usage="opt">
              <gloss>optional, min 1, max unbounded</gloss>
              <datatype minOccurs="1" maxOccurs="unbounded">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
            <!-- min=2 max=2,* -->
            <attDef ident="o22" usage="opt">
              <gloss>optional, min 2, max 2</gloss>
              <datatype minOccurs="2" maxOccurs="2">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
            <attDef ident="o2i" usage="opt">
              <gloss>optional, min 2, max unbounded</gloss>
              <datatype minOccurs="2" maxOccurs="unbounded">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>

        <elementSpec ident="div" mode="change">
          <constraintSpec mode="add" ident="canondiv" scheme="isoschematron">
            <constraint>
              <sch:report test="@type='canon' and          parent::tei:div/@type='canon'">
	      divs of type 'canon' may not be nested
	    </sch:report>
              <sch:report test="@type='canon' and          parent::tei:div/@type='register'">
	      divs of type 'canon' may not be nested within 'register'
	    </sch:report>
              <sch:report test="@type='canon' and count          (tei:div[@type='canonText']) &gt;1">
	      divs of type 'canon' may contain only one 'canonText'
	    </sch:report>
              <sch:report test="@type='canonText' and           not(parent::tei:div[@type='canon'])">
	      divs of type 'canonText' can only occur inside 'canon'
	    </sch:report>
            </constraint>
          </constraintSpec>
        </elementSpec>

          <elementSpec ident="lg" mode="change">
            <content>
              <group xmlns="http://relaxng.org/ns/structure/1.0">
                <zeroOrMore>
                  <choice>
                    <ref name="model.divTop"/>
                    <ref name="model.global"/>
                  </choice>
                </zeroOrMore>
                <choice>
                  <ref name="model.lLike_sequence"/>
                  <ref name="model.stageLike"/>
                  <ref name="model.labelLike"/>
                  <ref name="lg"/>
                </choice>
                <zeroOrMore>
                  <choice>
                    <ref name="model.lLike_sequence"/>
                    <ref name="model.stageLike"/>
                    <ref name="model.labelLike"/>
                    <ref name="model.global"/>
                    <ref name="lg"/>
                  </choice>
                </zeroOrMore>
                <zeroOrMore>
                  <group>
                    <ref name="model.divBottom"/>
                  </group>
                  <zeroOrMore>
                    <ref name="model.global"/>
                  </zeroOrMore>
                </zeroOrMore>
              </group>
            </content>
          </elementSpec>
          <elementSpec ident="l" mode="change">
            <classes mode="replace">
              <memberOf key="att.global"/>
              <memberOf key="att.metrical"/>
              <memberOf key="att.enjamb"/>
              <memberOf key="model.lLike" min="2" max="6"/>
            </classes>
          </elementSpec>
          <elementSpec ident="blort" mode="add">
            <desc>a completely spurious element made up for testing purposes only</desc>
            <classes>
              <memberOf key="model.pPart.data"/>
            </classes>
            <content>
              <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
            </content>
            <attList>
              <attDef ident="cert">
                <desc>certainty</desc>
                <datatype>
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.certainty"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="code">
                <desc>code</desc>
                <datatype>
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.code"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="dur">
                <desc>duration</desc>
                <datatype>
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.duration.w3c"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="enumerated">
                <desc>enumerated</desc>
                <datatype>
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.enumerated"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="key">
                <desc>key</desc>
                <datatype>
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.key"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="count">
                <desc>count</desc>
                <datatype>
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.count"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="language">
                <desc>language</desc>
                <datatype>
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.language"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="name">
                <desc>name</desc>
                <datatype>
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.name"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="names">
                <desc>names</desc>
                <datatype maxOccurs="unbounded">
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.name"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="pattern">
                <desc>pattern</desc>
                <datatype>
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.pattern"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="numeric">
                <desc>numeric</desc>
                <datatype>
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.numeric"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="pointer">
                <desc>pointer</desc>
                <datatype>
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.pointer"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="pointers">
                <desc>pointers</desc>
                <datatype maxOccurs="unbounded">
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.pointer"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="prob">
                <desc>probability</desc>
                <datatype>
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.probability"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="sex">
                <desc>sex</desc>
                <datatype>
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.sex"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="temporal">
                <desc>temporal</desc>
                <datatype>
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.temporal.w3c"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="truth">
                <desc>truth</desc>
                <datatype>
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.truthValue"/>
                </datatype>
                <valDesc/>
              </attDef>
              <attDef ident="xtruth">
                <desc>xtruth</desc>
                <datatype>
                  <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.xTruthValue"/>
                </datatype>
                <valDesc/>
              </attDef>
            </attList>
          </elementSpec>
        </schemaSpec>
      </div>
    </body>
  </text>
</TEI>
