Test/testglobals.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"  xmlns="http://www.tei-c.org/ns/1.0"
 xmlns:rng="http://relaxng.org/ns/structure/1.0"
 n="testglobals">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Stress test for globals</title>
            <author>Lou Burnard</author>
         </titleStmt>
         <publicationStmt>
	   <p> </p>
	 </publicationStmt>
         <sourceDesc>
            <p>authored from scratch</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>
<divGen type="toc"/>
<div>
<head>Stress Test for Globals</head>
<p>This schema deletes numbered divs.</p>
  <p>Here is the schema:</p>
    <schemaSpec ident="testglobals" start="TEI">
      <moduleRef key="tei"/>
      <moduleRef key="core"/>
      <moduleRef key="header"/>
      <moduleRef key="textstructure"/>
      <moduleRef key="msdescription"/>
      <moduleRef key="namesdates"/>

      <elementSpec ident="div1" module="textstructure" mode="delete"/>
      <elementSpec ident="div2" module="textstructure" mode="delete"/>
      <elementSpec ident="div3" module="textstructure" mode="delete"/>
      <elementSpec ident="div4" module="textstructure" mode="delete"/>
      <elementSpec ident="div5" module="textstructure" mode="delete"/>
      <elementSpec ident="div6" module="textstructure" mode="delete"/>
      <elementSpec ident="div7" module="textstructure" mode="delete"/>


    </schemaSpec>
</div>
</body>
</text>
</TEI>

