Test/testfand.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"  xmlns="http://www.tei-c.org/ns/1.0"
 xmlns:rng="http://relaxng.org/ns/structure/1.0"
 n="testfand">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI with FAND setup</title>
            <author>Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
	   <p> </p>
	 </publicationStmt>
         <sourceDesc>
            <p>authored from scratch</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>
<divGen type="toc"/>
<div1>
<head>My Fand Schema</head>
<p>Here is the introduction to your document</p>
  <p>Here is the schema:</p>
    <schemaSpec ident="testfand" start="TEI">
      <moduleRef key="header"/>
      <moduleRef key="core"/>
      <moduleRef key="tei"/>
      <moduleRef key="textstructure"/>
      <moduleRef key="msdescription"/>
      <elementSpec ident="div0" module="textstructure" mode="delete"/>
      <elementSpec ident="div1" module="textstructure" mode="delete"/>
      <elementSpec ident="div2" module="textstructure" mode="delete"/>
      <elementSpec ident="div3" module="textstructure" mode="delete"/>
      <elementSpec ident="div4" module="textstructure" mode="delete"/>
      <elementSpec ident="div5" module="textstructure" mode="delete"/>
      <elementSpec ident="div6" module="textstructure" mode="delete"/>
      <elementSpec ident="div7" module="textstructure" mode="delete"/>
    </schemaSpec>
</div1>
</body>
</text>
</TEI>



