Test/testlite.odd

<?xml version="1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Encoding for Interchange: an introduction to the TEI</title>
      </titleStmt>
      <publicationStmt>
        <p>Not for publication or redistribution</p>
      </publicationStmt>
      <sourceDesc>
        <bibl>TEI U5 (derived from TEI U1: An
Introduction to TEI Tagging (derived from TEI ED W21: Living with the
Guidelines)</bibl>
      </sourceDesc>
    </fileDesc>

  </teiHeader>
  <text>
<body><p>This document provides an introduction to the recommendations
of the Text Encoding Initiative (TEI), by describing a specific subset
of the full TEI encoding scheme. The scheme documented here can be
used to encode a wide variety of commonly encountered textual
features, in such a way as to maximize the usability of electronic
transcriptions and to facilitate their interchange among scholars
using different computer systems. It is fully compatible with the full
TEI scheme, as defined by TEI document P5, <title>Guidelines for
Electronic Text Encoding and Interchange</title>, as of February 2006,
and available from the TEI Consortium website at <ptr
target="http://www.tei-c.org"/>.
</p>

    </body>
    <back>
      <head>Appendixes</head>
      <div xml:id="changes">
        <head>Substantive changes from the P4
version</head>
        <p>This revision of the TEI Lite schema conforms to the TEI P5
Guidelines, which makes a number of changes from the TEI P4 Guidelines
underlying earlier versions of TEI Lite. The following brief list
indicates some of the major changes which will be needed in existing
TEI P4-conformant documents before they can be used with the new
schema. A fuller list is in preparation for publication as a part of
TEI P5: the items listed here relate specifically to changes in TEI Lite
only.</p>
        <list>
          <item>At P5, a TEI document must declare a namespace of
<code>http://www.tei-c.org/ns/1.0</code></item>
          <item>The attributes <att>id</att> and <att>lang</att> are replaced by
the attributes <att>xml:id</att> and <att>xml:lang</att>
respectively. Values for the latter attribute must conform to RFC
3066</item>
          <item>The element <gi>choice</gi> must be used to wrap <gi>reg</gi>
and <gi>orig</gi> if both are supplied. Similarly for
<gi>sic</gi> and <gi>corr</gi>, and for <gi>abbr</gi> and
<gi>expan</gi>.</item>
          <item><soCalled>numbered divs</soCalled> (<gi>div1</gi>,
<gi>div2</gi>, etc.) are not supported in this version of TEI Lite</item>
          <item>all pointing and linking mechanisms now use the same W3C-defined
mechanism: there is no longer any distinction between internal and
external pointing elements</item>
          <item>the content model of <gi>change</gi> has changed
significantly</item>
          <item>
            <hi>hic desunt multa</hi>
          </item>
        </list>
      </div>
      <div>
        <head>Formal specification</head>
        <p>The TEI Lite is a pure subset of the TEI. All of the  elements
defined in it are taken from the following  standard TEI
modules:

 <ident type="module">tei</ident>, <ident type="module">core</ident>, <ident type="module">header</ident>, <ident type="module">textstructure</ident>, <ident type="module">figures</ident>, <ident type="module">linking</ident>, <ident type="module">analysis</ident>, and <ident type="module">tagdocs</ident>.
</p>
        <p>The following elements from those modules are excluded from the
schema:
<gi>ab</gi>, 
<gi>alt</gi>, 
<gi>altGrp</gi>, 
<gi>altIdent</gi>, 
<gi>analytic</gi>, 
<gi>attDef</gi>, 
<gi>attList</gi>, 
<gi>attRef</gi>, 
<gi>biblItem</gi>, 
<gi>biblStruct</gi>, 
<gi>binaryObject</gi>, 
<gi>broadcast</gi>, 
<gi>c</gi>, 
<gi>cb</gi>, 
<gi>cl</gi>, 
<gi>classSpec</gi>, 
<gi>classes</gi>, 
<gi>content</gi>, 
<gi>correction</gi>, 
<gi>datatype</gi>, 
<gi>defaultVal</gi>, 
<gi>desc</gi>, 
<gi>distinct</gi>, 
<gi>div1</gi>, 
<gi>div2</gi>, 
<gi>div3</gi>, 
<gi>div4</gi>, 
<gi>div5</gi>, 
<gi>div6</gi>, 
<gi>div7</gi>, 
<gi>egXML</gi>, 
<gi>elementSpec</gi>, 
<gi>equipment</gi>, 
<gi>equiv</gi>, 
<gi>exemplum</gi>, 
<gi>fsdDecl</gi>, 
<gi>floatingText</gi>, 
<gi>headItem</gi>, 
<gi>headLabel</gi>, 
<gi>hyphenation</gi>, 
<gi>imprimatur</gi>, 
<gi>interpretation</gi>, 
<gi>join</gi>, 
<gi>joinGrp</gi>, 
<gi>link</gi>, 
<gi>linkGrp</gi>, 
<gi>listRef</gi>, 
<gi>m</gi>, 
<gi>macroSpec</gi>, 
<gi>measure</gi>, 
<gi>meeting</gi>, 
<gi>memberOf</gi>, 
<gi>metDecl</gi>, 
<gi>metSym</gi>, 
<gi>moduleRef</gi>, 
<gi>moduleSpec</gi>, 
<gi>monogr</gi>, 
<gi>normalization</gi>, 
<gi>phr</gi>, 
<gi>postBox</gi>, 
<gi>postCode</gi>, 
<gi>quotation</gi>, 
<!--<gi>quote</gi>, -->
<gi>recording</gi>, 
<gi>recordingStmt</gi>, 
<gi>remarks</gi>, 
<gi>schemaSpec</gi>, 
<gi>scriptStmt</gi>, 
<gi>segmentation</gi>, 
<gi>series</gi>, 
<gi>span</gi>, 
<gi>spanGrp</gi>, 
<gi>specDesc</gi>, 
<gi>specGrp</gi>, 
<gi>specGrpRef</gi>, 
<gi>specList</gi>, 
<gi>state</gi>, 
<gi>stdVals</gi>, 
<gi>street</gi>, 
<gi>stringVal</gi>, 
<gi>tag</gi>, 
<gi>timeline</gi>, 
<gi>valDesc</gi>, 
<gi>valItem</gi>, 
<gi>valList</gi>, 
<gi>variantEncoding</gi>, 
<gi>w</gi>, 
<gi>when</gi></p>
        <p>Here is the TEI Lite schema itself :</p>
        <schemaSpec ident="testlite" start="TEI teiCorpus">

          <moduleRef key="tei"/>
          <moduleRef key="core"/>
          <moduleRef key="header"/>
          <moduleRef key="textstructure"/>
          <moduleRef key="figures"/>
          <moduleRef key="linking"/>
          <moduleRef key="analysis"/>
          <moduleRef key="tagdocs"/>

          <elementSpec ident="ab" mode="delete" module="linking"/>
          <elementSpec ident="altGrp" mode="delete" module="linking"/>
          <elementSpec ident="altIdent" mode="delete" module="tagdocs"/>
          <elementSpec ident="alt" mode="delete" module="linking"/>
          <elementSpec ident="analytic" mode="delete" module="core"/>
          <elementSpec ident="attDef" mode="delete" module="tagdocs"/>
          <elementSpec ident="attList" mode="delete" module="tagdocs"/>
          <elementSpec ident="attRef" mode="delete" module="tagdocs"/>
          <elementSpec ident="biblItem" mode="delete" module="core"/>
          <elementSpec ident="biblStruct" mode="delete" module="core"/>
          <elementSpec ident="binaryObject" mode="delete" module="core"/>
          <elementSpec ident="broadcast" mode="delete" module="header"/>
          <elementSpec ident="cb" mode="delete" module="core"/>
          <elementSpec ident="classes" mode="delete" module="tagdocs"/>
          <elementSpec ident="classSpec" mode="delete" module="tagdocs"/>
          <elementSpec ident="cl" mode="delete" module="analysis"/>
          <elementSpec ident="c" mode="delete" module="analysis"/>
          <elementSpec ident="content" mode="delete" module="tagdocs"/>
          <elementSpec ident="constraintGrp" mode="delete" module="tagdocs"/>
          <elementSpec ident="constraint" mode="delete" module="tagdocs"/>
          <elementSpec ident="correction" mode="delete" module="header"/>
          <elementSpec ident="data" mode="delete" module="tagdocs"/>
          <elementSpec ident="datatype" mode="delete" module="tagdocs"/>
          <elementSpec ident="defaultVal" mode="delete" module="tagdocs"/>
          <elementSpec ident="distinct" mode="delete" module="core"/>
          <elementSpec ident="div1" module="textstructure" mode="delete"/>
          <elementSpec ident="div2" module="textstructure" mode="delete"/>
          <elementSpec ident="div3" module="textstructure" mode="delete"/>
          <elementSpec ident="div4" module="textstructure" mode="delete"/>
          <elementSpec ident="div5" module="textstructure" mode="delete"/>
          <elementSpec ident="div6" module="textstructure" mode="delete"/>
          <elementSpec ident="div7" module="textstructure" mode="delete"/>
          <elementSpec ident="egXML" mode="delete" module="tagdocs"/>
          <elementSpec ident="email" mode="delete" module="core"/>
          <elementSpec ident="elementSpec" mode="delete" module="tagdocs"/>
          <elementSpec ident="equipment" mode="delete" module="header"/>
          <elementSpec ident="equiv" mode="delete" module="core"/>
          <elementSpec ident="exemplum" mode="delete" module="tagdocs"/>
          <elementSpec ident="floatingText" mode="delete" module="textstructure"/>

          <elementSpec ident="fsdDecl" mode="delete" module="header"/>
          <elementSpec ident="headItem" mode="delete" module="core"/>
          <elementSpec ident="headLabel" mode="delete" module="core"/>
          <elementSpec ident="hyphenation" mode="delete" module="header"/>
          <elementSpec ident="imprimatur" mode="delete" module="textstructure"/>
          <elementSpec ident="interpretation" mode="delete" module="header"/>
          <elementSpec ident="joinGrp" mode="delete" module="linking"/>
          <elementSpec ident="join" mode="delete" module="linking"/>
          <elementSpec ident="linkGrp" mode="delete" module="linking"/>
          <elementSpec ident="link" mode="delete" module="linking"/>
          <elementSpec ident="listRef" mode="delete" module="tagdocs"/>
          <elementSpec ident="macroSpec" mode="delete" module="tagdocs"/>
          <elementSpec ident="measure" mode="delete" module="core"/>
          <elementSpec ident="meeting" mode="delete" module="core"/>
          <elementSpec ident="memberOf" mode="delete" module="tagdocs"/>
          <elementSpec ident="metDecl" mode="delete" module="header"/>
          <elementSpec ident="metSym" mode="delete" module="header"/>
          <elementSpec ident="m" mode="delete" module="analysis"/>
          <elementSpec ident="moduleRef" mode="delete" module="tagdocs"/>
          <elementSpec ident="moduleSpec" mode="delete" module="tagdocs"/>
          <elementSpec ident="monogr" mode="delete" module="core"/>
          <elementSpec ident="normalization" mode="delete" module="header"/>
          <elementSpec ident="phr" mode="delete" module="analysis"/>
          <elementSpec ident="postBox" mode="delete" module="core"/>
          <elementSpec ident="postCode" mode="delete" module="core"/>
          <elementSpec ident="quotation" mode="delete" module="header"/>
          <elementSpec ident="recording" mode="delete" module="header"/>
          <elementSpec ident="recordingStmt" mode="delete" module="header"/>
          <elementSpec ident="remarks" mode="delete" module="tagdocs"/>
          <elementSpec ident="schemaSpec" mode="delete" module="tagdocs"/>
          <elementSpec ident="scriptStmt" mode="delete" module="header"/>
          <elementSpec ident="segmentation" mode="delete" module="header"/>
          <elementSpec ident="series" mode="delete" module="core"/>
          <elementSpec ident="spanGrp" mode="delete" module="analysis"/>
          <elementSpec ident="span" mode="delete" module="analysis"/>
          <elementSpec ident="specDesc" mode="delete" module="tagdocs"/>
          <elementSpec ident="specGrp" mode="delete" module="tagdocs"/>
          <elementSpec ident="specGrpRef" mode="delete" module="tagdocs"/>
          <elementSpec ident="specList" mode="delete" module="tagdocs"/>
          <elementSpec ident="state" mode="delete" module="header"/>
          <elementSpec ident="stdVals" mode="delete" module="header"/>
          <elementSpec ident="street" mode="delete" module="core"/>
          <elementSpec ident="stringVal" mode="delete" module="tagdocs"/>
          <elementSpec ident="tag" mode="delete" module="tagdocs"/>
          <elementSpec ident="tagsDecl" mode="delete" module="header"/>
          <elementSpec ident="timeline" mode="delete" module="linking"/>
          <elementSpec ident="valDesc" mode="delete" module="tagdocs"/>
          <elementSpec ident="valItem" mode="delete" module="tagdocs"/>
          <elementSpec ident="valList" mode="delete" module="tagdocs"/>
          <elementSpec ident="variantEncoding" mode="delete" module="header"/>
          <elementSpec ident="when" mode="delete" module="linking"/>
          <elementSpec ident="w" mode="delete" module="analysis"/>

<!-- added 2008/01/30, after discovering these are all unreachable -->

          <elementSpec ident="handNote" mode="delete" module="header"/>
          <elementSpec ident="tagUsage" mode="delete" module="header"/>
          <elementSpec ident="imprint" mode="delete" module="core"/>
          <elementSpec ident="rendition" mode="delete" module="header"/>
          <elementSpec ident="namespace" mode="delete"
		       module="header"/>

	  <classSpec ident="att.global" type="atts" mode="change" module="tei">
	    <attList>
	      <attDef ident="rendition" mode="delete"/>
	    </attList>
	  </classSpec>

        </schemaSpec>
      </div>
    </back>
  </text>
</TEI>
