Test/testtite-ns.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:sch="http://purl.oclc.org/dsdl/schematron"
     xmlns:rng="http://relaxng.org/ns/structure/1.0">
  <teiHeader>
  <fileDesc>
   <titleStmt>
    <title type="main">TEI Tite</title>
    <title type="sub">A recommendation for off-site text encoding</title>
    <author>Perry Trolard</author>
   </titleStmt>
   <publicationStmt>
    <p>Written as the principal product of an independent study under <name>John
      Unsworth</name> at the <name>Graduate School of Library and Information
      Science</name>, <name>University of Illinois at Urbana-Champaign</name>,
      <date>May 2009</date>.</p>
   </publicationStmt>
   <sourceDesc>
    <p>This electronic document is the original, but it primarily synthesizes
     work done at the <list>
      <item><name>University of Michigan Digital Library Production
       Service</name>, </item>
      <item><name>University of Virginia Digital Library Production
       Service</name>, </item>
      <item>and the <name>California Digital Library</name></item>
     </list> and represented in their documents <list>
      <item><ref target="http://www.umdl.umich.edu/docs/encodingstandards.html">
        <title>Minimum standards for text capture</title>
       </ref>, </item>
      <item><ref
        target="http://pogo.lib.virginia.edu/dlps/public/text/vendor/vendor.html">
        <title>Text Encoding Guidelines for Keyboarding Vendors</title>
       </ref>, </item>
      <item> and <ref
        target="http://www.cdlib.org/inside/diglib/stwg/base/BASE_BPG.html">
        <title>CDL TEI Base Encoding Guidelines</title>
       </ref>. </item>
     </list>, respectively. </p>
   </sourceDesc>
  </fileDesc>
  <revisionDesc>
<change when="2010-12-14" who="LB">Revised to use elementRef </change>
<change when="2009-05-03" who="DPOD">Added prose indicating that the absence of <gi>teiHeader</gi> breaks the abstract model as a convenience to transcribers but needs to be addressed after further processing.</change>
   <change when="2009-05-01" who="PJT">Incorporated prose edits recommended by the 
        TEI-in-Libraries SIG. Removed header module, <gi>TEI</gi>; added <gi>g</gi>.</change>
   <change when="2008-01-31" who="PJT">Edited prose to conform to P5 official 
    release.</change>
   <change when="2008-01-30" who="DRS">Removed @rendition from att.global, as there
     is no <gi>tagsDecl</gi> element to contain a <gi>rendition</gi> target. 
     Added several more element exclusions from TEI Lite (handNote, namespace,
     rendition, tagUsage).</change>
   <change when="2007-06-24" who="SPQR">Added sugar elements to att.global</change>
   <change when="2007-06-07" who="SPQR">Added equiv for ornament and
   cols, and changed prose about ornament to use @rend</change>
   <change when="2007-05-08" who="SPQR">Added equiv the hi-like objects</change>
   <change when="2007-01-23" who="PJT">Modified available attributes for
    <gi>gap</gi>, <gi>unclear</gi>; added <att>ed</att> attribute to
    <gi>cols</gi>.</change>
   <change when="2007-01-20" who="PJT">Misc. prose edits; cleaned up unnecessary
     <gi>elementSpec</gi> elements.</change>
   <change when="2006-12-21" who="PJT">Added <gi>text</gi> as alternate root (on
     <att>start</att> attribute of <gi>schemaSpec</gi>), making teitite-nohead
    redundant; added <gi>div0</gi> to list of elements Tite excludes (it's
    always been exluded, but now is reported).</change>
   <change when="2006-12-16" who="PJT">Finished initial draft.</change>
  </revisionDesc>
 </teiHeader>
 <text>
  <front>
   <titlePage>
    <docTitle>
     <titlePart type="main">TEI Tite</titlePart>
     <titlePart type="sub">A recommendation for off-site text encoding</titlePart>
    </docTitle>
    <docAuthor>Perry Trolard, for TEI Consortium</docAuthor>
    <docDate>Version 1.0 — May 2009</docDate>
   </titlePage>
  </front>
  <body>
   <div type="section" xml:id="intro">
    <head>Introduction</head>

    <p> This document specifies how TEI Tite should be applied.  Its
     organizing model is roughly the structure of a TEI document itself, and it
     proceeds from high-level features to low, starting with general
     requirements, text structure, directions on when to group texts,
     considerations about type of text (genre and format), continuing down to
     instructions on marking phrase-level features, reference systems, and so
     forth.  In its original ODD (one document does-it-all) format, this
     document can generate everything necessary for working in TEI Tite: both
     documentation (this Tite-specific prose as well as the full technical
     documentation for each of its elements) and schemas in either W3C Schema,
     RELAX NG, or XML DTD.  Software utilities, including the <ref
     target="http://www.tei-c.org/Roma/">Roma web tool</ref>, can generate
     these.</p>

    <p> Tite-encoded documents are TEI documents, and TEI Tite, with the
     exception of convenience elements (<gi>b</gi>,
    <gi>i</gi>, <gi>ul</gi>, <gi>sup</gi>, <gi>sub</gi>, <gi>smcap</gi>,
    <gi>cols</gi> and <gi>ornament</gi>, all of which can be converted back to
    canonical TEI), is a pure subset of the TEI.  That is, it was created
    primarily by <emph>removing</emph> elements and attributes from the TEI, and
    not from extensive <emph>modification</emph>.  As a TEI customization, Tite
    inherits TEI semantics, and ambiguity in this specification should be
    resolved with reference to the <ref
    target="http://www.tei-c.org/Guidelines">TEI Guidelines</ref>.  What makes
    Tite distinct is that where the TEI in general is famously tolerant of
    multiple methods of encoding a given feature, Tite seeks uniformity of
    encoding through constraint, via its stripped-down tag set and via this
    specification.</p>

    <p>Tite can be used to encode printed prose, poetry, drama,
    newspapers, and anything else which can be described with the
    basic TEI building-blocks of divisions, paragraphs, line groups,
    and speeches.</p>

    <p>In this documentation, <term>document</term> refers generally to the
     item (book, pamphlet, newspaper, etc.) to be encoded and <term>text</term>
     to either linguistic (as opposed to graphic) material or a logically
     distinct literary unit.</p>

   </div>
   <div type="section" xml:id="genreq">
    <head>General Requirements</head>
    <div type="subsection" xml:id="capture">
     <head>What to Capture</head>
     <p> All printed material should be captured: all text (that is, printed
      characters) should be transcribed and the presence of graphical items or
      other non-transcribable elements should be indicated with markup.
      <!-- April 2009, PJT
      Normally <mentioned>text</mentioned> is understood to mean text in a
      Western character set, but this will be negotiated for each job.  The
      presence of text in character sets outside the current scope should be
      indicated with the <gi>gap</gi> element.</p>
      -->
     </p>
    </div>
    <div type="subsection" xml:id="e-o-l">
     <head>End-of-line Hyphens</head>

     <p> A distinction should be maintained in the electronic transcription
      between end-of-line or <soCalled>soft</soCalled> hyphens (an artifact of
      page layout) and <soCalled>hard</soCalled> hyphens (a linguistic feature).
      The former should be transcribed as the SOFT HYPHEN (U+00AD) character;
      the latter, as the HYPHEN-MINUS (U+002D) character generally available on
      Western keyboards.  In the rare case of coincidence of the two types —
      where a word that is normally hyphenated is split across a line
      break at its hyphen — the hyphen should be considered hard, and
      transcribed as the HYPHEN-MINUS.</p>

    </div>
    <div type="subsection" xml:id="charcode">
     <head>Character Encoding</head>
     <p>Characters should be encoded in UTF-8.  For characters not easily input
     from the keyboard, use hexadecimal numeric entities (e.g. é, the small
     latin e with acute accent, is represented as &amp;#x00E9;).</p>
    </div>
    <div type="subsection" xml:id="accuracy">
     <head>Accuracy and Verification</head>
     <p> The standard for accuracy of transcription should be at least 99.99% (1
     error in 10,000 characters).  The sample size for verification will be 5%
     of the total text.</p>
    </div>
    <div type="subsection" xml:id="vendnotes">
     <head>Documenting the Encoding Process</head>
     <p>Almost surely, difficult encoding situations will arise whose
        resolution may not be covered by this documentation or the TEI Guidelines. 
        In such cases, it is important to document the markup choices that are 
        made. To this end each encoded file should be accompanied by a document 
        with such notes. These notes should reference features of a document that 
        seem remarkable to encoders and how these were handled by encoders.</p>
    </div>
   </div>
   <div type="section" xml:id="globalstruct">
    <head>Global Text Structure</head>
    <div type="subsection" xml:id="teistruct">
     <head>TEI Tite text structure</head>
     <p>In TEI Tite, <gi>text</gi> is the root element, containing front matter, the 
        body of the text, and back matter.
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
        <text xml:id="unique-identifier">
           <front> <!-- front matter --> </front>
           <body>  <!-- body of text --> </body>
           <back>  <!-- back matter --> </back>
        </text>
     </egXML>
     </p>
      <p>The <gi>text</gi>'s <att>xml:id</att> attribute should contain a unique
         identifier for the document being encoded.
      </p>
      <p>Tite omits the <gi>teiHeader</gi> element as a convenience to transcribers. This departs from 
        normal TEI practice, which requires <gi>TEI</gi> as the root element, 
        containing <gi>teiHeader</gi> and <gi>text</gi> elements. In order to bring a document
	encoded in TEI Tite into adherence with the TEI abstract model, projects should
	add a teiHeader before engaging in post-transcription processing. 
        <!-- Shd say more? : May 09 PJT
        (Note that this simplification breaks with the TEI abstract model.)
        -->
      </p>
     
    </div>
    <div type="subsection" xml:id="group">
     <head>Groups of Texts</head>
     <p> A document should be encoded as a group of texts only when each
      member of the group contains its own front or back matter (most
      often, a separate title page). In this case the <gi>group</gi> element
      should be a child of the <gi>text</gi> element, and should contain child
       <gi>text</gi> elements each containing a <gi>front</gi>, <gi>body</gi>,
      and <gi>back</gi> (each <gi>text</gi> need not have both front and back
      matter, but should have at least one). Note that this group of texts will
      still have its own front and back matter. When dealing with a group of
      texts, the basic TEI text structure is modified to look like: <egXML
       xmlns="http://www.tei-c.org/ns/Examples">
        <text>
           <front> <!-- front matter for the group --> </front>
         <group>
          <text>
           <front> <!-- front matter of first text --> </front>
           <body>  <!-- body of first text --> </body>
           <back>  <!-- back matter of first text --> </back>
          </text>
          <text>
           <front> <!-- front matter of second text --> </front>
           <body>  <!-- body of second text --> </body>
           <back>  <!-- back matter of second text --> </back>
          </text> 
                <!-- more texts or groups of texts here --> 
         </group>
         <back>    <!-- back matter for the group --> </back>
        </text>
      </egXML></p>
     <p> In cases where a document appears to contain a group of texts but the
        above condition is not met, encode each unit as a (numbered) <gi>div</gi> 
        with an appropriate <att>type</att> attribute.</p>
    </div>
    <div type="subsection" xml:id="div">
     <head>Structural Divisions</head>
     <p>Tite uses numbered divisions: <gi>div1</gi> through
      <gi>div7</gi>, which stand for levels of nesting within a text.
      <gi>div1</gi>s nest inside or are contained by the <gi>front</gi>,
       <gi>body</gi>, and <gi>back</gi> elements, <gi>div2</gi>s nest inside or
      are contained by <gi>div1</gi>s, etc. The document's table of contents is
      often a good place to find cues about where structural divisions start and
      end; other cues can be blank pages, recurring typographical or ornamental
      features, or a numbering system ("Chapter 5" etc.). Also, the presence of
      a heading will often indicate the beginning of a division.</p>

     <p>The <att>type</att> attribute should be used to express the type of
   	division being marked.  Where present, use a name for division type
	   given in the document itself.  Though any constrained enumerated list of
      <att>type</att> values will have to be determined on a job-by-job basis,
      some examples of appropriate division types are: <list>
       <item>
        <val>act</val>
       </item>
       <item>
        <val>article</val>
       </item>
       <item>
        <val>book</val>
       </item>
       <item>
        <val>chapter</val>
       </item>
       <item>
        <val>essay</val>
       </item>
       <item>
        <val>letter</val>
       </item>
       <item>
        <val>part</val>
       </item>
       <item>
        <val>scene</val>
       </item>
       <item>
        <val>section</val>
       </item>
       <item>
        <val>subsection</val>
       </item>
    </list> 
      </p>
     <p>When a heading is present, encode it with the <gi>head</gi> element. If
      there is more than one heading at the beginning of a given division,
      encode each heading with its own <gi>head</gi> element, using the 
      <att>type</att> attribute to distinguish them. Appropriate values are: <list>
       <item>
        <val>main</val>
       </item>
       <item><val>sub</val> (subtitle)</item>
       <item><val>alt</val> (alternate)</item>
       <item><val>desc</val> (descriptive)</item>
      </list>
     </p>
     <p>The <att>n</att> attribute should be used to record sequential labels
      associated with a structural division (numbers, numerals, letters). When
      present, these labels should also be transcribed within the content of 
      <gi>head</gi> element. For instance: 
      <egXML xmlns="http://www.tei-c.org/ns/Examples">
       <div1 n="III" type="part">
        <head>III: It Awakes</head> 
        <!-- ... -->
       </div1>
      </egXML></p>
     <div type="subsubsection" xml:id="nondivs">
      <head>False Indicators</head>
      <p>A <term>divisional title</term> is a page that resembles a half-title
       page: it displays the title or heading of a major structural unit on an
       otherwise blank page. <term>Divisional titles</term> should be encoded
       not with a separate <gi>div</gi> element, but as a <gi>head</gi> within
       the appropriate <gi>div</gi>. For <term>half-title pages</term> and
       similar <term>fly-title pages</term> see the section on <ref
        target="#frontback">Front Matter</ref>.</p>
      <p>Another potential false indication of a new structural division is an
        <term>ornament</term> used as an informal division: a printer's ornament
       of some sort, a string of asterisks or periods, or a horizontal line.
       Mark these with the special <gi>ornament</gi> element. If the ornament is
       a horizontal line or printer's device or otherwise not transcribable,
       make the element empty and include an appropriate <att>type</att>
       attribute (<val>line</val> or <val>ornament</val>); if the ornament
       is made up of characters, transcribe the characters into the 
       <gi>ornament</gi>'s content.</p>
     </div>
    </div>
    <div type="subsection" xml:id="frontback">
     <head>Front and Back Matter</head>
     <p>Front and back matter should be encoded with the <gi>front</gi> and
       <gi>back</gi> elements, respectively. <gi>div1</gi> elements should
      contain the major sections and should be characterized by <att>type</att>
      attribute values. The exception, however, is the title page, which should
      be encoded with the <gi>titlePage</gi> element and its children. The 
      <gi>titlePart</gi> element should have a <att>type</att> attribute with
      one of the following values: <list>
       <item>
        <val>main</val>
       </item>
       <item><val>sub</val> (subtitle)</item>
       <item><val>desc</val> (descriptive title)</item>
       <item><val>alt</val> (alternate title)</item>
       <item><val>volume</val> (volume information)</item>
      </list>
      <tag>titlePart type="volume"</tag> should be used to
      encode volume information wherever it is found on the title page, even if
      it is separated from the other title information. The elements that make up
      the <gi>titlePage</gi> content model are: <gi>graphic</gi>, <gi>byline</gi>,
      <gi>epigraph</gi>, <gi>docTitle</gi>, <gi>titlePart</gi>, <gi>docAuthor</gi>,
      <gi>docEdition</gi>, <gi>docImprint</gi>, <gi>docDate</gi>, <gi>figure</gi>, 
      <gi>ornament</gi>.
     </p>
     <p>Information on the verso of the title page should be included as well
      (after a <gi>pb</gi>).</p>
     <p>Common items to encode in front and back matter -- and therefore common
       <att>type</att> attribute values for <gi>front</gi> and <gi>back</gi>
      divisions are: <list>
       <head>front</head>
       <item>acknowledgements</item>
       <item>advertisement</item>
       <item>castlist</item>
       <item>contents</item>
       <item>dedication</item>
       <item>fly-title</item>
       <item>foreword</item>
       <item>introduction</item>
       <item>preface</item>
      </list>
      <list>
       <head>back</head>
       <item>appendix</item>
       <item>bibliography</item>
       <item>colophon</item>
       <item>glossary</item>
       <item>index</item>
      </list>
     </p>
     <p><term>Half-title</term> and <term>fly-title</term> pages may be
      encountered in the front matter. A <term>half-title</term> page precedes
      the title page proper and sometimes includes volume or series information;
      a <term>fly-title</term> page comes at the very end of the front matter,
      just before the body. In the case of half-titles, encode these as
       <tag>div1 type="half-title"</tag> (with
      <gi>titlePart</gi> elements as appropriate); in the case of fly-titles,
      encode them likewise with <tag>div1
      type="fly-title"</tag>, making sure to make the fly-title
      division the last part of the front matter (and not the first part of the
      body, as may seem reasonable as well). </p>
    </div>
   </div>
   <div type="section" xml:id="genre">
    <head>Types of Text</head>
    <p>Tite is equipped to support basic encoding of several types of text: in
     terms of genre, it supports prose, verse, and drama, and in terms of
     format, it supports books, newspapers, pamphlets, and other similar printed
     material. Tite has special elements for letters, verse, drama, and newspapers.</p>
    <div type="subsection" xml:id="letters">
     <head>Letters</head>
     <p><gi>opener</gi> and <gi>closer</gi> are elements designed to encode the
      beginning and ending sections of letters, prefaces, diary entries, or
      other personal types of writing. Both elements contain: <list>
       <item><gi>dateline</gi>: for recording time and place of composition;
         use <gi>date</gi> with <att>when</att> value (formatted
          yyyy-mm-dd) to record date information</item>
       <item><gi>signed</gi>: for recording a signature</item>
       <item><gi>salute</gi>: for recording salutation at the beginning ("Dear
        Roger,") or end ("Yours truly,")</item>
      </list>
     </p>
     <p>
        <gi>opener</gi> contains the additional elements <gi>epigraph</gi>,
        <gi>argument</gi>, and <gi>byline</gi>. <gi>epigraph</gi> will often 
        be useful in the context of a letter. When encoding an epigraph, make 
        sure to encode the content as you would any other feature, marking line 
        groups, bibliographical elements, etc.        
     </p>
     <p><gi>argument</gi> and <gi>byline</gi>, however, are not intended specifically for
        use with letters: 
      <list>
       <item><gi>argument</gi>: for a summary that precedes a division</item>
       <item><gi>byline</gi>: for a statement of responsibility for the
       document</item>
      </list>
     </p>
    </div>
    <div type="subsection" xml:id="verse">
     <head>Verse</head>
     <p>All verse should be encoded within at least one <gi>lg</gi> element, even
      when there are no distinct stanzas or when the verse is interspersed with
      prose. If it is known, use the <att>type</att> attribute to express the
      type of line group. Sometimes within a poem there is a question about what
      should be tagged as a <gi>lg</gi> or as a separate <gi>div</gi>. As a
      rough rule of thumb, if there is a title accompanying the division, use
      the <gi>div</gi> element; otherwise, use <gi>lg</gi>.</p>
     <p> Each line of verse should be encoded with the <gi>l</gi> element, and care
      should be taken to distinguish these logical lines of verse from lines
      motivated by page layout. The latter should be encoded as <gi>lb</gi>s.
      Thus <eg rend="pre">
       <![CDATA[
AS virtuous men pass mildly away,  
   And whisper to their souls to 
go,  
Whilst some of their sad friends 
do say, 
   "Now his breath goes," and 
some say, "No."  
]]>
      </eg> should be encoded as <egXML xmlns="http://www.tei-c.org/ns/Examples">
       <lg type="stanza">
        <l>AS virtuous men pass mildly away,</l>
        <l rend="indent(1)">And whisper to their souls to<lb/> go,</l>
        <l>Whilst some of their sad friends<lb/> do say,</l>
        <l rend="indent(1)">"Now his breath goes," and<lb/> some say, "No."</l>
       </lg>
      </egXML> Also, as in the example above, use the <att>rend</att> attribute
      to mark when a line is indented more than its siblings. Use
       <soCalled>numbered</soCalled> indent values (e.g. <q>indent(1)</q>, <q>indent(2)</q>,
      etc.) to make clear levels of indentation.</p>

    </div>
    <div type="subsection" xml:id="drama">
     <head>Drama</head>
     <p>The standard TEI elements for drama should be used: <gi>sp</gi>,
       <gi>stage</gi>, <gi>speaker</gi>. If the <att>who</att> attribute is used
      on <gi>sp</gi>, also transcribe who is given as the speaker, in whatever
      form it is written, in the <gi>speaker</gi> element. Short pieces of
      stage direction that accompany the speaker designation may be included in
      the <gi>speaker</gi> element. </p>
     <p>Scenes and acts should be encoded as appropriately nested <gi>div</gi>
      elements with <att>type</att> attributes of <val>scene</val> or
       <val>act</val>, respectively. Cast lists can likewise be encoded using
       <gi>div</gi> and <code>type="castlist"</code>. </p>
     <p>Prologues and epilogues can be treated as <gi>sp</gi>s of their own,
        unless their structure would be better represented by nested <gi>div</gi> 
        elements. </p>
    </div>
    <div type="subsection" xml:id="newspaper">
     <head>Newspapers</head>
     <p>Tite includes the elements <gi>cols</gi> and <gi>cb</gi> which are well
        suited for the multi-column layout of newspapers. Additional relevant elements 
        are: <gi>ref</gi>, to encode a pointer to the continuation of a story in a 
        different column or on a different page; and <gi>figure</gi>, to describe 
        illustrations, advertisements, and cartoons.</p>
     <!-- This may have to be re-visited. March 2009, PJT
     <p>Decisions about how to render the layout in markup may not be well addressed 
        here, but as an example of project-specific specifications see the <ref
       target="http://pogo.lib.virginia.edu/dlps/public/text/vendor/vendor.html"
       >University of Virginia Library's documentation</ref>. </p>
      -->
    </div>
   </div>
   <div type="section" xml:id="block">
    <head>Block-level Features</head>
    <div type="subsection" xml:id="block-quote">
     <head>Block Quotations</head>
     <p>Use the <gi>q</gi> element to encode block quotations. A block quotation 
        is indicated by its being set off from
      surrounding text either with extra line-spacing or margins or with a
      different typeface. If the quotation is of an entire text, use the
      <gi>floatingText</gi> element and its children inside the <gi>q</gi> element: 
         <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <div1 type="intro">
           <p><!-- ... --></p>
           <q>
              <floatingText>
                 <body>
                    <lg type="poem">
                       <!-- poem -->
                     </lg>
                  </body>
               </floatingText>
            </q>
            <p><!-- ... --></p>
          </div1>
         </egXML>      
      </p>
      <p>If present, transcribe all quotation marks or other delimiters inside 
         the <gi>q</gi> element.</p>
    </div>
    <div type="subsection" xml:id="figures">
     <head>Figures</head>
     <p>Use the <gi>figure</gi> element to encode figures. If a figure has a heading 
        or caption, encode it with the <gi>head</gi> element. If there is associated 
        text, simply use a <gi>p</gi> to encode it.
     </p>
    </div>
    <div type="subsection" xml:id="tableslists">
     <head>Tables and Lists</head>
     <p>Tables and lists are encoded as in the TEI Guidelines, but note the 
        following.</p>
     <p>If a cell in a table is a heading or a label, set the <att>role</att>
        attribute to <val>label</val>; if the cell contains data, there is no 
        need to use <att>role</att>:
       <val>data</val> is the default. If a cell or row spans more than one
      column or row, use the <att>rows</att> or <att>cols</att> attributes set
      to the number of columns or rows that it spans. </p>
     <p>If unsure about whether a structure is best encoded as a list or table,
      record it as a table only if it would not be properly understood without
      tabular layout. </p>
     <p>Lists should be encoded as either sequences of <gi>items</gi> or
        <gi>label</gi>-<gi>item</gi> pairs. When items in the list contain a
        label, as in a gloss list, be sure to use the latter form. </p>
    </div>
    <div type="subsection" xml:id="notes">
     <head>Notes</head>
     <p>Both the reference to the note in the running text and the note itself
      must be encoded. Use <gi>ptr</gi> or <gi>ref</gi> to encode the reference.
      If there is no reference in the text (often the case for marginal notes),
      supply a <gi>ptr</gi> element in a reasonable place in the text running
      beside the note. If there is a reference (number, symbol, etc.), use the
       <gi>ref</gi> element and include the reference text as the content. In
      both cases, a <att>target</att> attribute must be supplied which contains
      the <att>xml:id</att> value of the associated <gi>note</gi>. </p>
     <p>When encoding the note itself with the <gi>note</gi> element, the
       <att>xml:id</att> and <att>place</att> attributes must be supplied. See
      the TEI documentation for acceptable values for <att>place</att>; the most
      common will be <val>foot</val>, <val>end</val>, <val>margin-left
       (-right, -top, -bot)</val>.</p>
     <p>Transcribe the note directly after it is referenced in the document. In
      the case of notes without explicit reference (pointed to with
      <gi>ptr</gi>), set the <att>anchored</att> attribute to
      <val>false</val>.</p>
    </div>
    <div type="subsection" xml:id="divwrap">
     <head><soCalled>divWrapper</soCalled> Elements</head>
     <p>Elements that can appear at the beginning and end of structural
      divisions, such as <gi>argument</gi>, <gi>epigraph</gi>, and
      <gi>opener</gi>, are called <soCalled>divWrapper</soCalled> elements in
      the TEI class system. An <term>argument</term> is a summary of what is to 
      come; be sure to distinguish this from a <term>heading</term>, which is a 
      <emph>title</emph> for the division. If an epigraph comes with 
      bibliographic or simple citation material, encode this as well. For example: 
      <egXML xmlns="http://www.tei-c.org/ns/Examples">
       <epigraph>
        <cit>
         <q>"I have sworn upon the altar of God eternal hostility against every
          form of tyranny over the mind of man."</q>
         <bibl>
          <author>Thomas Jefferson.</author>
         </bibl>
        </cit>
       </epigraph>
      </egXML>
     </p>
    </div>
    <div type="subsection" xml:id="ab">
     <head>Uncertain Blocks</head>
     <p>In rare cases where the logical identity of a block-level element is
      hard to discern, use the TEI element <gi>ab</gi> (anonymous block) instead
      of applying a <gi>p</gi> or <gi>div</gi> element. In these cases, be sure to
      document this decision in accompanying notes. <emph>Applying this element
       should be viewed as a last resort.</emph></p>
     <p>The <gi>gap</gi> element should be used when for some reason the
      document being transcribed contains illegible text (smudged, torn,
      missing, etc.) or something outside the scope of transcription for a given
      project: characters in an unsupported character set, for instance.
      <gi>gap</gi> indicates that something is omitted. When using <gi>gap</gi>,
      set the <att>reason</att> attribute to an appropriate value. (See <ref
       target="#seg">
       <gi>unclear</gi>
      </ref> below.)</p>
    </div>
   </div>
   <div type="section" xml:id="phrase">
    <head>Phrase-level Features</head>
    <div type="subsection" xml:id="typographical">
     <head>Typographical Changes</head>
     <p>There are six elements in Tite that capture specific typographical
      features: <list>
       <label>
        <gi>b</gi>
       </label>
       <item>for bold-face glyphs</item>
       <label>
        <gi>i</gi>
       </label>
       <item>for italicized glyphs</item>
       <label>
        <gi>ul</gi>
       </label>
       <item>for underlined glyphs</item>
       <label>
        <gi>smcap</gi>
       </label>
       <item>for glyphs in small-caps</item>
       <label>
        <gi>sub</gi>
       </label>
       <item>for glyphs in subscript</item>
       <label>
        <gi>sup</gi>
       </label>
       <item>for glyphs in superscript</item>
      </list> These mark the physical change, and are agnostic about a logical
      motivation for it. There are two exceptions to this approach, however:
      marking foreign words and titles. In the case of foreign words, use the
      <gi>foreign</gi> element; in the case of titles, use the <gi>title</gi> 
      element only if certain that the word or phrase in question is a title. If a
      phrase is, say, italicized, but you are uncertain about its being a title,
      use the <gi>i</gi> element instead. Foreign words should be marked only if
      they are typographically distinguished from surrounding text.</p>
     <p>If there is a typographical feature not covered by the above elements,
        the TEI <gi>hi</gi> element is still available in Tite. Use it without a 
        <att>rend</att> attribute.</p>
    </div>
    <div type="subsection" xml:id="phrase-quote">
       <head>Phrase-level Quotation</head>
       <p>For passages set off by quotation marks or another delimeter, use the 
          <gi>q</gi> element, including the delimeter inside the tag.</p>
    </div>
    <div type="subsection" xml:id="align">
     <head>Alignment and Indentation</head>
     <p>If the alignment of an element seems remarkable, set the element's
       <att>rend</att> attribute to an appropriate value (normally
      <val>center</val>, <val>right</val>, <val>left</val>, etc.).
      However, when semantic already accounts for its cause, description 
      of alignment is not necessary. Headings, for instance, do not need 
      to be marked as being centered.</p>
      <p>To indicate level of indentation (often in verse), use numerical <q>arguments</q>
         to <q>indent</q>, as in <val>indent(1)</val>, <val>indent(-1)</val>, and so on.
      </p>
    </div>
    <!-- Seems unnecessary to me now. April 2009, PJT
    <div type="subsection" xml:id="punctuation">
     <head>Punctuation</head>
     <p>Standard keyboard punctuation marks should suffice for transcribing
      document punctuation.</p>
    </div>
    -->
    <div type="subsection" xml:id="seg">
     <head>Uncertain Segments</head>
     <p>The <gi>seg</gi> element is the phrase-level analogue to the <gi>ab</gi>
      element. If a phrase-level feature seems to be present but its identity is
      hard to fathom, use this element. This, again, is a last resort.</p>
     <p>Alternately, when a passage of text is for some reason too hard to
      read, use the <gi>unclear</gi> element, setting the <att>reason</att>
      attribute to an appropriate value. When using <gi>unclear</gi>, surround
      the entire word with the tag if any part of it is unclear (not just the
      illegible letter, say).</p>
    </div>
    <div type="subsection" xml:id="g">
       <head>Unknown Glyphs</head>
       <p>For cases in which it is unknown which character a given glyph
          corresponds to, mark the glyph with the <gi>g</gi> element to 
          indicate the uncertainty. By convention in Tite, <gi>g</gi> represents
          any unknown glyph; no <att>ref</att> attribute is necessary. Note that
          unknown glyphs are different from <emph>illegible</emph> text.
       </p>
    </div>
   </div>
   <div type="section" xml:id="reference">
    <head>Reference Systems</head>
    <p>Encode page breaks (<gi>pb</gi>) at the <emph>start</emph> of each page,
     and encode breaks even for blank pages. If the page is numbered, include
     the page number as the value of the <att>n</att> attribute and, again, no 
     matter where the page number is printed on the page, place the <gi>pb</gi> 
     element at the <q>top.</q></p>
    <p>If marking column breaks, follow the same rules as for page breaks.
     Column breaks are imagined to appear at the <emph>top</emph> of the column,
     at the beginning of the column's text. The <gi>cols</gi> element exists to
     record a change in columnar layout. If such a change occurs, mark the
     beginning of the new layout with <gi>cols</gi> and supply the new number of
     columns as the value for the <att>n</att> attribute.</p>
    <p>If line breaks are to be captured, use the <gi>lb</gi> element. </p>

   </div>
  </body>
  <back>
   <head>Appendices</head>
   <div xml:id="tei-in-lib-bpg">
      <head>TEI Tite and <title>TEI Text Encoding in Libraries</title> Guidelines</head>
      <p>As of May 2009, the <ref target="http://wiki.tei-c.org/index.php/SIG:Libraries">TEI 
            Special Interest Group (SIG) on Libraries</ref> is in the process 
         of revising its <title>TEI Text Encoding in Libraries: Guidelines 
            for Best Encoding Practices</title> (GBP) document, which creates 
         common definitions of <q>levels of encoding</q> based on depth of markup 
         applied. A <ref 
            target="http://wiki.tei-c.org/index.php/TEI_in_Libraries:_Guidelines_for_Best_Practices"
            >draft</ref> of this document is available at the Libraries SIG's 
         wiki. Because the levels of encoding provide a tremendously useful 
         common set of terms, it's helpful to situate TEI Tite according to 
         them.
      </p>
      <p>Mapped to GBP levels, TEI Tite would sit between three and four: it 
         requires use of all the elements from level three plus additional ones, 
         but requires fewer elements than level four. Relative to level three,
         <q>Simple Analysis,</q> Tite
         <list>
            <item>encourages the use of the <att>rend</att> attribute on 
               typographically distinct text (marked with <gi>hi</gi>), 
               implicitly, through the provision of convenience elements 
               (<gi>i</gi>, <gi>b</gi>, etc.), and it provides the <gi>title</gi>
               and <gi>foreign</gi> elements for semantic markup of typographically 
               distinct phrases; in level 3, the <att>rend</att> attribute is optional,
               and <gi>title</gi> and <gi>foreign</gi> are not provided
            </item>
            <item>provides some genre-specific elements in addition to those for
               verse that level three also provides (<gi>lg</gi>, <gi>l</gi>):
               <gi>sp</gi>, <gi>speaker</gi>, and <gi>stage</gi> for drama, 
                     the <gi>cols</gi> element especially for newspapers.
            </item>
         </list>
      </p>
      <p>Because Tite is closer to it, it's level four (<q>Basic Content Analysis</q>) that provides the most useful 
         comparison. The folowing items represent instances where Tite is 
         <emph>less</emph> ambitious than level four:
         <list>
            <item>except in the case of the <gi>foreign</gi> and <gi>title</gi> elements, 
               it is preferred in Tite to describe typographical changes physically, 
               rather than semantically; Tite uses <gi>i</gi>, <gi>b</gi>, etc. where 
               level four uses <gi>emph</gi>, <gi>gloss</gi>, <gi>term</gi>
            </item>
            <item>Tite provides only <gi>q</gi> for quoted material, 
               where level four is more discriminating, using <gi>quote</gi>, <gi>said</gi>, 
               <gi>mentioned</gi>, <gi>soCalled</gi>
            </item>
            <item>Tite doesn't provide elements for editorial intervention, as level 
               four does: <gi>choice</gi>, <gi>sic</gi>, <gi>corr</gi>
            </item>
            <item>Tite doesn't provide entity-specific naming elements, like 
               <gi>persName</gi>, <gi>placeName</gi>, <gi>orgName</gi> and their 
               list- (<gi>listPerson</gi>, etc.) forms
            </item>
         </list>
         As of this point, it seems that bringing Tite-encoded documents up to GBP 
         level four would simply require additional application of markup, not significant
         reworking of markup, and in that way Tite seems compatible with the GBP.
      </p>
      <p>Not mentioned above is one key but purposeful incompatibility: Tite's lack of 
         a header. A TEI header must be added, and the root <gi>TEI</gi> element used 
         for compatibility with the GBP, and with the TEI abstract model in general.
      </p>
      </div>

   <div xml:id="acknowledgments">
      <head>Acknowledgments</head>
       <p>The TEI Tite is simply a synthesis of work done at the <list>
         <item><name>University of Michigan Digital Library Production
          Service</name>, </item>
         <item><name>University of Virginia Digital Library Production
          Service</name>, </item>
         <item>and the <name>California Digital Library</name></item>
        </list> and represented in their documents <list>
         <item><ref target="http://www.umdl.umich.edu/docs/encodingstandards.html">
           <title>Minimum standards for text capture</title>
          </ref>, </item>
         <item><ref
           target="http://pogo.lib.virginia.edu/dlps/public/text/vendor/vendor.html">
           <title>Text Encoding Guidelines for Keyboarding Vendors</title>
          </ref>, </item>
         <item> and <ref
           target="http://www.cdlib.org/inside/diglib/stwg/base/BASE_BPG.html">
           <title>CDL TEI Base Encoding Guidelines</title>
          </ref>, </item>
       </list> respectively. Many thanks to the institutions and individuals responsible
       for sharing their experience and expertise for the benefit of the TEI community at
       large.
    </p>
    <p>Also, thank you to members of the TEI Special Interest Group on Libraries who 
       provided very valuable corrections and suggestions.
    </p>
  </div>
   <div>
    <head>Formal specification</head>
    <!-- I'm afraid of keeping the below, as Lite is a moving target : April 09 PJT -->
    <!--
    <p>With the exception of two added elements and six easily convertible
      <soCalled>convenience elements</soCalled>, TEI Tite is a pure subset
     of the TEI, modelled by stripping down TEI Lite. All of the elements
     defined in it are taken from the following standard TEI modules: <ident
        type="module">tei</ident>, <ident type="module">core</ident>, 
     <ident type="module">textstructure</ident>,
     <ident type="module">figures</ident>, <ident type="module">gaigi</ident>,
     and <ident type="module">linking</ident>. </p>
    <p>The following elements from those modules are excluded from the schema in
     both the TEI Lite and Tite: <gi>alt</gi>, <gi>altGrp</gi>,
     <gi>altIdent</gi>, <gi>analytic</gi>, <gi>attDef</gi>, <gi>attList</gi>,
      <gi>attRef</gi>, <gi>biblItem</gi>, <gi>biblStruct</gi>,
     <gi>binaryObject</gi>, <gi>broadcast</gi>, <gi>cb</gi>, <gi>classSpec</gi>,
      <gi>classes</gi>, <gi>content</gi>, <gi>correction</gi>,
     <gi>datatype</gi>, <gi>defaultVal</gi>, <gi>desc</gi>, <gi>distinct</gi>,
      <gi>div0</gi>, <gi>egXML</gi>, <gi>elementSpec</gi>, <gi>equipment</gi>,
      <gi>equiv</gi>, <gi>exemplum</gi>, <gi>fsdDecl</gi>, <gi>headItem</gi>,
      <gi>headLabel</gi>, <gi>hyphenation</gi>, <gi>imprimatur</gi>,
      <gi>interpretation</gi>, <gi>join</gi>, <gi>joinGrp</gi>, <gi>link</gi>,
      <gi>linkGrp</gi>, <gi>listRef</gi>, <gi>macroSpec</gi>, <gi>measure</gi>,
      <gi>meeting</gi>, <gi>memberOf</gi>, <gi>metDecl</gi>, <gi>metSym</gi>,
      <gi>moduleRef</gi>, <gi>moduleSpec</gi>, <gi>monogr</gi>,
      <gi>normalization</gi>, <gi>postBox</gi>, <gi>postCode</gi>,
     <gi>quotation</gi>, <gi>quote</gi>, <gi>recording</gi>,
     <gi>recordingStmt</gi>, <gi>remarks</gi>, <gi>schemaSpec</gi>,
      <gi>scriptStmt</gi>, <gi>segmentation</gi>, <gi>series</gi>,
     <gi>specDesc</gi>, <gi>specGrp</gi>, <gi>specGrpRef</gi>,
     <gi>specList</gi>, <gi>state</gi>, <gi>stdVals</gi>, <gi>street</gi>,
      <gi>stringVal</gi>, <gi>tag</gi>, <gi>timeline</gi>, <gi>valDesc</gi>,
      <gi>valItem</gi>, <gi>valList</gi>, <gi>variantEncoding</gi>,
     <gi>when</gi>. </p>

    <p>Tite excludes the modules <ident type="module">analysis</ident> and
      <ident type="module">tagdocs</ident> where Lite includes some elements
     from these modules. Therefore Tite is less those elements as well. </p>

    <p>The following elements are excluded in the TEI Lite but included in Tite:
      <gi>ab</gi>, <gi>div1</gi>, <gi>div2</gi>, <gi>div3</gi>, <gi>div4</gi>,
      <gi>div5</gi>, <gi>div6</gi>, <gi>div7</gi>.  </p>
    <p>The following are the elements that Tite excludes from the TEI Lite:
      <gi>add</gi> <gi>altIdent</gi>, <gi>anchor</gi>, <gi>biblFull</gi>,
      <gi>choice</gi>, <gi>corr</gi>, <gi>del</gi>, <gi>div</gi>,
      <gi>divGen</gi>, <gi>emph</gi>, <gi>expan</gi>, <gi>gloss</gi>,
      <gi>imprint</gi>, <gi>index</gi>, <gi>mentioned</gi>, <gi>orig</gi>,
      <gi>reg</gi>, <gi>rs</gi>, <gi>sic</gi>, <gi>soCalled</gi>,
      <gi>teiCorpus</gi>, <gi>term</gi>.  </p>


    <p>Finally, the following are the elements that Tite adds to the TEI:
     <gi>b</gi>, <gi>i</gi>, <gi>ul</gi>, <gi>smcap</gi>, <gi>sub</gi>,
     <gi>sup</gi>, <gi>cols</gi>, and <gi>ornament</gi>. </p>

    <p>Here is the TEI Tite schema itself:</p>
    -->


    <schemaSpec ident="testtite-ns"
		xmlns="http://www.tei-c.org/ns/1.0"
		xmlns:rng="http://relaxng.org/ns/structure/1.0"
		docLang="en"
		start="text"
		targetLang="en">

          <moduleRef key="tei" except="TEI"/>
<!--          <moduleRef key="core"/>
          <moduleRef key="textstructure"/>
          <moduleRef key="figures"/>
          <moduleRef key="linking"/>
       <moduleRef key="gaiji"/>
-->
<!-- use only these TEI elements -->

    <elementRef key="ab"/>
    <elementRef key="abbr"/>
    <elementRef key="addrLine"/>
    <elementRef key="address"/>
    <elementRef key="argument"/>
    <elementRef key="author"/>
    <elementRef key="back"/>
    <elementRef key="bibl"/>
    <elementRef key="biblScope"/>
    <elementRef key="body"/>
    <elementRef key="byline"/>
    <elementRef key="cb"/>
    <elementRef key="cell"/>
    <elementRef key="cit"/>
    <elementRef key="closer"/>
    <elementRef key="date"/>
    <elementRef key="dateline"/>
    <elementRef key="desc"/>
    <elementRef key="div1"/>
    <elementRef key="div2"/>
    <elementRef key="div3"/>
    <elementRef key="div4"/>
    <elementRef key="div5"/>
    <elementRef key="div6"/>
    <elementRef key="div7"/>
    <elementRef key="docAuthor"/>
    <elementRef key="docDate"/>
    <elementRef key="docEdition"/>
    <elementRef key="docImprint"/>
    <elementRef key="docTitle"/>
    <elementRef key="editor"/>
    <elementRef key="email"/>
    <elementRef key="epigraph"/>
    <elementRef key="figure"/>
    <elementRef key="floatingText"/>
    <elementRef key="foreign"/>
    <elementRef key="formula"/>
    <elementRef key="front"/>
    <elementRef key="g"/>
    <elementRef key="gap"/>
    <elementRef key="graphic"/>
    <elementRef key="group"/>
    <elementRef key="head"/>
    <elementRef key="hi"/>
    <elementRef key="item"/>
    <elementRef key="l"/>
    <elementRef key="label"/>
    <elementRef key="lb"/>
    <elementRef key="lg"/>
    <elementRef key="list"/>
    <elementRef key="listBibl"/>
    <elementRef key="measureGrp"/>
    <elementRef key="milestone"/>
    <elementRef key="name"/>
    <elementRef key="note"/>
    <elementRef key="num"/>
    <elementRef key="opener"/>
    <elementRef key="p"/>
    <elementRef key="pb"/>
    <elementRef key="postscript"/>
    <elementRef key="ptr"/>
    <elementRef key="pubPlace"/>
    <elementRef key="publisher"/>
    <elementRef key="q"/>
    <elementRef key="ref"/>
    <elementRef key="relatedItem"/>
    <elementRef key="resp"/>
    <elementRef key="respStmt"/>
    <elementRef key="row"/>
    <elementRef key="salute"/>
    <elementRef key="seg"/>
    <elementRef key="signed"/>
    <elementRef key="sp"/>
    <elementRef key="speaker"/>
    <elementRef key="stage"/>
    <elementRef key="table"/>
    <elementRef key="text"/>
    <elementRef key="time"/>
    <elementRef key="title"/>
    <elementRef key="titlePage"/>
    <elementRef key="titlePart"/>
    <elementRef key="trailer"/>
    <elementRef key="unclear"/>
          <!-- Tite additions -->
          <elementSpec ident="b" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
            <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="b"/>
            <desc>(bold) for capturing typographical feature: bold glyphs.</desc>
            <classes>
              <memberOf key="model.hiLike"/>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <rng:ref name="macro.paraContent"/>
            </content>
          </elementSpec>
          <elementSpec ident="i" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
            <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="i"/>
            <desc>(italics) for capturing typographical feature: italicized 
               glyphs.</desc>
            <classes>
              <memberOf key="model.hiLike"/>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <rng:ref name="macro.paraContent"/>
            </content>
          </elementSpec>
          <elementSpec ident="ul" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
            <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="ul"/>
            <desc>(underline) for capturing typographical feature: underlined 
               glyphs.</desc>
            <classes>
              <memberOf key="model.hiLike"/>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <rng:ref name="macro.paraContent"/>
            </content>
          </elementSpec>
          <elementSpec ident="sub" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
            <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="sub"/>
            <desc>(subscript) for capturing typographical feature: subscript 
               glyphs.</desc>
            <classes>
              <memberOf key="model.hiLike"/>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <rng:ref name="macro.paraContent"/>
            </content>
          </elementSpec>
          <elementSpec ident="sup" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
            <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="sup"/>
            <desc>(superscript) for capturing typographical feature: superscript
               glyphs.</desc>
            <classes>
              <memberOf key="model.hiLike"/>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <rng:ref name="macro.paraContent"/>
            </content>
          </elementSpec>
          <elementSpec ident="smcap" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
            <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="smcap"/>
            <desc>(smallcaps) for capturing typographical feature: glyphs in small
               capitals.</desc>
            <classes>
              <memberOf key="model.hiLike"/>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <rng:ref name="macro.paraContent"/>
            </content>
          </elementSpec>
          <elementSpec ident="cols" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
            <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="cols"/>
            <desc>(columns) with the <q>n</q> attribute (denoting new number of columns) is
               used to mark where a document changes columnar layout.</desc>
            <classes>
              <memberOf key="model.milestoneLike"/>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <rng:empty/>
            </content>
            <attList>
              <attDef ident="ed" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
                <desc>indicates the edition or version in which the change in columnar
                  layout is located at this point</desc>
                <datatype>
                  <rng:ref name="data.code"/>
                </datatype>
              </attDef>
            </attList>
          </elementSpec>
          <elementSpec ident="ornament" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
            <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="ornament"/>
            <desc>for capturing typographical feature: printer's ornament,
      horizontal line, strings of asterisks or periods, etc,
      indicating an informal division that does not call for a new
      <gi>div</gi> element. If a horizontal rule or printer's
      ornament, use appropriate <att>rend</att> attribute and leave
      the element empy; if the ornament can be represented with
      characters, include these in the element.</desc>
            <classes>
              <memberOf key="model.inter"/>
              <memberOf key="model.titlepagePart"/>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <rng:text/>
            </content>
          </elementSpec>

          <classSpec ident="att.authorialIntervention" mode="change" module="tei" type="atts">
            <attList>
              <attDef ident="hand" mode="delete"/>
              <attDef ident="status" mode="delete"/>
              <attDef ident="type" mode="delete"/>
            </attList>
          </classSpec>
          <classSpec ident="att.declarable" mode="change" module="tei" type="atts">
            <attList>
              <attDef ident="default" mode="delete"/>
            </attList>
          </classSpec>
          <classSpec ident="att.divLike" mode="delete" module="tei"
		     type="atts"/>

          <classSpec ident="att.editLike" mode="change" module="tei" type="atts">
            <attList>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="evidence" mode="delete"/>
            </attList>
          </classSpec>

          <classSpec ident="att.global" type="atts" mode="change" module="tei">
            <attList>
              <attDef ident="rendition" mode="delete"/>
            </attList>
          </classSpec>
          <classSpec ident="att.global.linking" mode="delete"
		     module="linking" type="atts"/>

          <classSpec ident="att.segLike" mode="delete" module="tei"
		     type="atts"/>

          <classSpec ident="att.typed" mode="change" module="tei" type="atts">
            <attList>
              <attDef ident="subtype" mode="delete"/>
            </attList>
          </classSpec>

          <!-- Tite attribute modifications: elements -->

          <elementSpec ident="gap" mode="change" module="core">
            <attList>
              <attDef ident="hand" mode="delete"/>
              <attDef ident="agent" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="evidence" mode="delete"/>
            </attList>
          </elementSpec>
          <elementSpec ident="unclear" mode="change" module="core">
            <attList>
              <attDef ident="hand" mode="delete"/>
              <attDef ident="agent" mode="delete"/>
              <attDef ident="cert" mode="delete"/>
              <attDef ident="resp" mode="delete"/>
              <attDef ident="evidence" mode="delete"/>
            </attList>
          </elementSpec>


	    <constraintSpec mode="add" ident="c1" scheme="isoschematron">
	      <constraint>
		<sch:ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
	      </constraint>
	    </constraintSpec>
	    <constraintSpec ident="c2" mode="add"  scheme="isoschematron">
	      <constraint>
		<sch:ns prefix="rng" uri="http://relaxng.org/ns/structure/1.0"/>
	      </constraint>
	    </constraintSpec>

      </schemaSpec>
    </div>
  </back>
 </text>
</TEI>
