Test/testoucs.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"  xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:rng="http://relaxng.org/ns/structure/1.0"
     n="testoucs">
  <teiHeader>
    <fileDesc>
      <titleStmt>
	<title>TEI with OUCS setup</title>
	<author>Sebastian Rahtz</author>
      </titleStmt>
      <publicationStmt>
	<p> </p>
      </publicationStmt>
      <sourceDesc>
	<p>authored from scratch</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
	<schemaSpec ident="testoucs" start="TEI" ns="">
	  <moduleRef key="header"/>
	  <moduleRef key="core"/>
	  <moduleRef key="tei"/>
	  <moduleRef key="textstructure"/>
	  <moduleRef key="linking"/>
	  <moduleRef key="figures"/>
	  <!--
	      <elementSpec ident="TEI" mode="change">
	      <attList>
	      <attDef ident="xmlns:html">
	      CDATA #FIXED "http://www.w3.org/1999/xhtml"
	      <datatype>
	      </datatype>
	      </attDef>
	      </attList>
	      </elementSpec>
	  -->
	  
	  <elementSpec ident="table" module="figures" mode="change">
	    <attList>
	      <attDef mode="add" ident="align"><datatype><rng:text/></datatype></attDef>
	      <attDef mode="add" ident="summary"><datatype><rng:text/></datatype></attDef>
	      <attDef mode="add" ident="width"><datatype><rng:text/></datatype></attDef>
	      <attDef mode="add" ident="border"><datatype><rng:text/></datatype></attDef>
	      <attDef mode="add" ident="frame"><datatype><rng:text/></datatype></attDef>
	      <attDef mode="add" ident="rules"><datatype><rng:text/></datatype></attDef>
	      <attDef mode="add" ident="cellspacing"><datatype><rng:text/></datatype></attDef>
	      <attDef mode="add" ident="cellpadding"><datatype><rng:text/></datatype></attDef>
	    </attList>
	  </elementSpec>
	  
	  <elementSpec ident="cell" module="figures" mode="change">
	    <attList>
	      <attDef mode="add" ident="align"><datatype><rng:text/></datatype></attDef>
	    </attList>
	  </elementSpec>
	  <elementSpec module="textstructure" ident="front" mode="change">
	    <content>
	      <rng:group xmlns:rng="http://relaxng.org/ns/structure/1.0">
		<rng:zeroOrMore>
		  <rng:ref name="model.pLike.front"/>
		</rng:zeroOrMore>
		<rng:zeroOrMore>
		  <rng:ref name="titlePage"/>
		</rng:zeroOrMore>
		<rng:zeroOrMore>
		  <rng:ref name="model.common"/>
		</rng:zeroOrMore>
		<rng:zeroOrMore>
		  <rng:ref name="div"/>
		</rng:zeroOrMore>
	      </rng:group>
	    </content>
	  </elementSpec>
	  <elementSpec module="textstructure" ident="back" mode="change">
	    <content>
	      <rng:group xmlns:rng="http://relaxng.org/ns/structure/1.0">
		<rng:zeroOrMore>
		  <rng:ref name="model.common"/>
		</rng:zeroOrMore>
		<rng:zeroOrMore>
		  <rng:ref name="div"/>
		</rng:zeroOrMore>
		<rng:zeroOrMore>
		  <rng:choice>
		    <rng:ref name="trailer"/>
		  </rng:choice>
		</rng:zeroOrMore>
	      </rng:group>
	    </content>
	  </elementSpec>
	  <elementSpec module="textstructure" mode="change" ident="body">
	    <content>
	      <rng:group xmlns:rng="http://relaxng.org/ns/structure/1.0">
		<rng:zeroOrMore>
		  <rng:ref name="model.divTop"/>
		</rng:zeroOrMore>
		<rng:zeroOrMore>
		  <rng:group><rng:ref name="model.common"/></rng:group>
		</rng:zeroOrMore>
		<rng:zeroOrMore>
		  <rng:choice>
		    <rng:ref name="div"/>
		    <rng:ref name="divGen"/>
		  </rng:choice>
		</rng:zeroOrMore>
		<rng:zeroOrMore>
		  <rng:ref name="model.divBottom"/>
		</rng:zeroOrMore>
	      </rng:group>
	    </content>
	  </elementSpec>
	  <elementSpec ident="list" module="core" mode="change">
	    <content>
	      <rng:choice xmlns:rng="http://relaxng.org/ns/structure/1.0">
		<rng:oneOrMore>
		  <rng:ref name="item"/>
		</rng:oneOrMore>
		<rng:oneOrMore>
		  <rng:group>
		    <rng:ref name="label"/>
		    <rng:ref name="item"/>
		  </rng:group>
		</rng:oneOrMore>
	      </rng:choice>
	    </content>
	  </elementSpec>
	  <elementSpec ident="ab" module="linking" mode="change">
	    <content>
	      <rng:ref name="macro.specialPara"/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="add" module="core" mode="delete"/>
	  <elementSpec ident="altGrp" module="linking" mode="delete"/>
	  <elementSpec ident="alt" module="linking" mode="delete"/>
	  <elementSpec ident="argument" module="textstructure" mode="delete"/>
	  <elementSpec ident="byline" module="textstructure" mode="delete"/>
	  <elementSpec ident="cb" module="core" mode="delete"/>
	  <elementSpec ident="cit" module="core" mode="delete"/>
	  <elementSpec ident="closer" module="textstructure" mode="delete"/>
	  <elementSpec ident="corr" module="core" mode="delete"/>
	  <elementSpec ident="dateline" module="textstructure" mode="delete"/>
	  <elementSpec ident="dateRange" module="core" mode="delete"/>
	  <elementSpec ident="del" module="core" mode="delete"/>
	  <elementSpec ident="distinct" module="core" mode="delete"/>
	  <elementSpec ident="div1" module="textstructure" mode="delete"/>
	  <elementSpec ident="div2" module="textstructure" mode="delete"/>
	  <elementSpec ident="div3" module="textstructure" mode="delete"/>
	  <elementSpec ident="div4" module="textstructure" mode="delete"/>
	  <elementSpec ident="div5" module="textstructure" mode="delete"/>
	  <elementSpec ident="div6" module="textstructure" mode="delete"/>
	  <elementSpec ident="div7" module="textstructure" mode="delete"/>
	  <elementSpec ident="epigraph" module="textstructure" mode="delete"/>
	  <elementSpec ident="expan" module="core" mode="delete"/>
	  <elementSpec ident="foreign" module="core" mode="delete"/>
	  <elementSpec ident="formula" module="figures" mode="delete"/>
	  <elementSpec ident="gap" module="core" mode="delete"/>
	  <elementSpec ident="group" module="textstructure" mode="delete"/>
	  <elementSpec ident="headItem" module="core" mode="delete"/>
	  <elementSpec ident="headLabel" module="core" mode="delete"/>
	  <elementSpec ident="imprimatur" module="textstructure" mode="delete"/>
	  <elementSpec ident="index" module="core" mode="delete"/>
	  <elementSpec ident="joinGrp" module="linking" mode="delete"/>
	  <elementSpec ident="join" module="linking" mode="delete"/>
	  <elementSpec ident="l" module="core" mode="delete"/>
	  <elementSpec ident="lg" module="core" mode="delete"/>
	  <elementSpec ident="linkGrp" module="linking" mode="delete"/>
	  <elementSpec ident="link" module="linking" mode="delete"/>
	  <elementSpec ident="measure" module="core" mode="delete"/>
	  <elementSpec ident="meeting" module="core" mode="delete"/>
	  <elementSpec ident="mentioned" module="core" mode="delete"/>
	  <elementSpec ident="milestone" module="core" mode="delete"/>
	  <elementSpec ident="num" module="core" mode="delete"/>
	  <elementSpec ident="opener" module="textstructure" mode="delete"/>
	  <elementSpec ident="orig" module="core" mode="delete"/>
	  <elementSpec ident="pb" module="core" mode="delete"/>
	  <elementSpec ident="phr" module="analysis" mode="delete"/>
	  <elementSpec ident="postBox" module="core" mode="delete"/>
	  <elementSpec ident="postCode" module="core" mode="delete"/>
	  <elementSpec ident="reg" module="core" mode="delete"/>
	  <elementSpec ident="rs" module="core" mode="delete"/>
	  <elementSpec ident="salute" module="textstructure" mode="delete"/>
	  <elementSpec ident="seg" module="linking" mode="delete"/>
	  <elementSpec ident="sic" module="core" mode="delete"/>
	  <elementSpec ident="signed" module="textstructure" mode="delete"/>
	  <elementSpec ident="sp" module="core" mode="delete"/>
	  <elementSpec ident="speaker" module="core" mode="delete"/>
	  <elementSpec ident="stage" module="core" mode="delete"/>
	  <elementSpec ident="street" module="core" mode="delete"/>
	  <elementSpec ident="time" module="core" mode="delete"/>
	  <elementSpec ident="timeline" module="linking" mode="delete"/>
	  <elementSpec ident="timeRange" module="core" mode="delete"/>
	  <elementSpec ident="unclear" module="core" mode="delete"/>
	  <elementSpec ident="when" module="linking" mode="delete"/>
	  
	  <elementSpec ident="Button" mode="add">
	    <classes>
	      <memberOf key="model.pPart.data"/>
	    </classes>
	    <content>
	      <rng:ref name="macro.paraContent"/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Code" mode="add">
	    <classes>
	      <memberOf key="model.pPart.data"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Command" mode="add">
	    <classes>
	      <memberOf key="model.pPart.data"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Exercise" mode="add">
	    <classes>
	      <memberOf key="model.common"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Field" mode="add">
	    <classes>
	      <memberOf key="model.pPart.data"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Filespec" mode="add">
	    <classes>
	      <memberOf key="model.pPart.data"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Icon" mode="add">
	    <classes>
	      <memberOf key="model.pPart.data"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Input" mode="add">
	    <classes>
	      <memberOf key="model.pPart.data"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Keyword" mode="add">
	    <classes>
	      <memberOf key="model.pPart.data"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Key" mode="add">
	    <classes>
	      <memberOf key="model.pPart.data"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Label" mode="add">
	    <classes>
	      <memberOf key="model.pPart.data"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Link" mode="add">
	    <classes>
	      <memberOf key="model.pPart.data"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Menu" mode="add">
	    <classes>
	      <memberOf key="model.pPart.data"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Name" mode="add">
	    <classes>
	      <memberOf key="model.pPart.data"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Output" mode="add">
	    <classes>
	      <memberOf key="model.inter"/>
	      <memberOf key="model.common"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Program" mode="add">
	    <classes>
	      <memberOf key="model.inter"/>
	      <memberOf key="model.common"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Prompt" mode="add">
	    <classes>
	      <memberOf key="model.pPart.data"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Screen" mode="add">
	    <classes>
	      <memberOf key="model.inter"/>
	      <memberOf key="model.common"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Software" mode="add">
	    <classes>
	      <memberOf key="model.pPart.data"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
	  <elementSpec ident="Value" mode="add">
	    <classes>
	      <memberOf key="model.pPart.data"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>
<!--	  <elementSpec ident="email" mode="add">
	    <classes>
	      <memberOf key="model.addrPart"/>
	    </classes>
	    <content>
	      <rng:text/>
	    </content>
	  </elementSpec>-->
	  <elementSpec ident="TEI" module="core" mode="change">
	    <altIdent>TEI.2</altIdent>
	    <attList>
	      <attDef ident="xmlns" mode="delete"/>
	    </attList>
	  </elementSpec>


	  <elementSpec ident="xptr" mode="add">
	    <classes>
	      <memberOf key="model.ptrLike"/>
	      <memberOf key="att.pointing"/>
	      <memberOf key="att.declaring"/>
	    </classes>
	    <content>
	      <rng:empty/>
	    </content>
	    <attList>
	      <attDef ident="url">
		<datatype><rng:data type="anyURI"/></datatype>
	      </attDef>
	      <attDef ident="doc" mode="add">
		<datatype><rng:data type="ENTITY"/></datatype>
	      </attDef>
	    </attList>
	  </elementSpec>

	  <elementSpec ident="xref" mode="add">
	    <classes>
	      <memberOf key="model.ptrLike"/>
	      <memberOf key="att.pointing"/>
	      <memberOf key="att.declaring"/>
	    </classes>
	    <content>
	      <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
	    </content>
	    <attList>
	      <attDef ident="url">
		<datatype><rng:data type="anyURI"/></datatype>
	      </attDef>
	      <attDef ident="doc" mode="add">
		<datatype><rng:data type="ENTITY"/></datatype>
	      </attDef>
	    </attList>
	  </elementSpec>

	  <classSpec module="tei" type="atts" ident="att.global" mode="replace">
	    <classes>
	      <memberOf key="att.global.linking"/>
	      <memberOf key="att.analytic"/>
	    </classes>

	    <attList>
	      <attDef ident="id" mode="add">
		<datatype><rng:text/></datatype>
	      </attDef>
	      <attDef ident="rend"  mode="replace">
		<datatype><rng:text/></datatype>
	      </attDef>
	      <attDef ident="n"  mode="replace">
		<datatype><rng:text/></datatype>
	      </attDef>

	    </attList>
	  </classSpec>

	  <classSpec predeclare="true" module="linking"
		     type="atts" ident="att.global.linking" mode="change">
	    <attList>
	      <attDef ident="corresp" mode="delete"/>
	      <attDef ident="synch" mode="delete"/>
	      <attDef ident="sameAs" mode="delete"/>      
	      <attDef ident="copyOf" mode="delete"/>
	      <attDef ident="next" mode="delete"/>
	      <attDef ident="prev" mode="delete"/>
	      <attDef ident="exclude" mode="delete"/>
	      <attDef ident="select" mode="delete"/> 
	    </attList>
	  </classSpec>

	</schemaSpec>
    </body>
  </text>
</TEI>



