Test/testfand5.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"  xmlns="http://www.tei-c.org/ns/1.0"
 xmlns:rng="http://relaxng.org/ns/structure/1.0"
 n="testfand5">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI with anti-FAND setup</title>
            <author>Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
	   <p> </p>
	 </publicationStmt>
         <sourceDesc>
            <p>authored from scratch</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>
<divGen type="toc"/>
<div>
<head>My readable</head>
<p>This schema renames specifically numbered divs to specific names.</p>
  <p>Here is the schema:</p>
    <schemaSpec ident="testfand5" start="TEI">
      <moduleRef key="tei"/>
      <moduleRef key="core"/>
      <moduleRef key="header"/>
      <moduleRef key="textstructure"/>

      <elementSpec ident="div1" mode="change">
	<altIdent>chapter</altIdent>
      </elementSpec>
      <elementSpec ident="div2" mode="change">
	<altIdent>section</altIdent>
      </elementSpec>
      <elementSpec ident="div3" mode="change">
	<altIdent>subsection</altIdent>
      </elementSpec>
      <elementSpec ident="div4" mode="change">
	<altIdent>subsubsection</altIdent>
      </elementSpec>
    </schemaSpec>
</div>
</body>
</text>
</TEI>

