Test/testbare.odd

<?xml version="1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Just the words</title>
        <author>Lou Burnard</author>
      </titleStmt>
      <publicationStmt>
        <availability status="free">
          <p>This template file is freely available and you are hereby
            authorised to copy, modify, and redistribute it in any way without
            further reference or permissions.</p>
          <p>When making such modifications, you are strongly recommended to
            change the present text to include an accurate statement of the
            licencing conditions applicable to your modified text.</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Hand edited from TEI Bare</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
<change when="2010-02-02" who="#LB">first version</change>
    </revisionDesc>
  </teiHeader>
  <text>    <body>
      <p>This customization creates a TEI schema with the bare minimum of tags
        to make a recognizable document, which can then be made
	unrecognisable by addition of word-level linguistic
	analysis. 
      </p>
<div><head>Basic text structure</head>

<p>In this very simple schema, a document contains just a
<gi>body</gi>, though this may be subdivided using nested <gi>div</gi>
elements. Within the <gi>div</gi> elements only <gi>head</gi> and
<gi>p</gi> elements are permitted. 
<specList>
<specDesc key="div"/>
<specDesc key="head"/>
<specDesc key="p"/>
</specList>
</p>
<p>The <gi>head</gi> and <gi>p</gi> elements have the same structure:
they must contain at least one <gi>s</gi> element, representing a
sentence-like unit. The <gi>s</gi> element can contain any number of
<gi>w</gi> or <gi>pc</gi> elements, representing lexical and
punctuation tokens respectively. To make formatting easier, white
space is also permitted within <gi>s</gi> elements.</p>

<p>The following specification group deletes all the unwanted
elements:
<specGrp xml:id="bodydels">
        <elementSpec ident="abbr" mode="delete" module="core"/>
        <elementSpec ident="add" mode="delete" module="core"/>
        <elementSpec ident="addrLine" mode="delete" module="core"/>
        <elementSpec ident="address" mode="delete" module="core"/>
        <elementSpec ident="altIdent" mode="delete" module="core"/>
        <elementSpec ident="analytic" mode="delete" module="core"/>
        <elementSpec ident="bibl" mode="delete" module="core"/>
        <elementSpec ident="biblFull" mode="delete" module="core"/>
        <elementSpec ident="biblItem" mode="delete" module="core"/>
        <elementSpec ident="biblScope" mode="delete" module="core"/>
        <elementSpec ident="biblStruct" mode="delete" module="core"/>
        <elementSpec ident="binaryObject" mode="delete" module="core"/>
        <elementSpec ident="cb" mode="delete" module="core"/>
        <elementSpec ident="choice" mode="delete" module="core"/>
        <elementSpec ident="cit" mode="delete" module="core"/>
        <elementSpec ident="corr" mode="delete" module="core"/>
        <elementSpec ident="date" mode="delete" module="core"/>
        <elementSpec ident="dateRange" mode="delete" module="core"/>
        <elementSpec ident="del" mode="delete" module="core"/>
        <elementSpec ident="desc" mode="delete" module="core"/>
        <elementSpec ident="distinct" mode="delete" module="core"/>
        <elementSpec ident="divGen" mode="delete" module="core"/>
        <elementSpec ident="email" mode="delete" module="core"/>
        <elementSpec ident="editor" mode="delete" module="core"/>
        <elementSpec ident="emph" mode="delete" module="core"/>
        <elementSpec ident="equiv" mode="delete" module="core"/>
        <elementSpec ident="expan" mode="delete" module="core"/>
        <elementSpec ident="foreign" mode="delete" module="core"/>
        <elementSpec ident="gap" mode="delete" module="core"/>
        <elementSpec ident="gloss" mode="delete" module="core"/>
        <elementSpec ident="graphic" mode="delete" module="core"/>
        <elementSpec ident="headItem" mode="delete" module="core"/>
        <elementSpec ident="headLabel" mode="delete" module="core"/>
        <elementSpec ident="hi" mode="delete" module="core"/>
        <elementSpec ident="imprint" mode="delete" module="core"/>
        <elementSpec ident="index" mode="delete" module="core"/>
        <elementSpec ident="item" mode="delete" module="core"/>
        <elementSpec ident="l" mode="delete" module="core"/>
        <elementSpec ident="lb" mode="delete" module="core"/>
        <elementSpec ident="lg" mode="delete" module="core"/>
        <elementSpec ident="listBibl" mode="delete" module="core"/>
        <elementSpec ident="list" mode="delete" module="core"/>
        <elementSpec ident="measure" mode="delete" module="core"/>
        <elementSpec ident="meeting" mode="delete" module="core"/>
        <elementSpec ident="mentioned" mode="delete" module="core"/>
        <elementSpec ident="milestone" mode="delete" module="core"/>
        <elementSpec ident="monogr" mode="delete" module="core"/>
        <elementSpec ident="name" mode="delete" module="core"/>
        <elementSpec ident="note" mode="delete" module="core"/>
        <elementSpec ident="num" mode="delete" module="core"/>
        <elementSpec ident="orig" mode="delete" module="core"/>
        <elementSpec ident="pb" mode="delete" module="core"/>
        <elementSpec ident="postBox" mode="delete" module="core"/>
        <elementSpec ident="postCode" mode="delete" module="core"/>
        <elementSpec ident="ptr" mode="delete" module="core"/>
        <elementSpec ident="pubPlace" mode="delete" module="core"/>
        <elementSpec ident="publisher" mode="delete" module="core"/>
        <elementSpec ident="q" mode="delete" module="core"/>
        <elementSpec ident="quote" mode="delete" module="core"/>
        <elementSpec ident="ref" mode="delete" module="core"/>
        <elementSpec ident="reg" mode="delete" module="core"/>
        <elementSpec ident="resp" mode="delete" module="core"/>
        <elementSpec ident="respStmt" mode="delete" module="core"/>
        <elementSpec ident="rs" mode="delete" module="core"/>
        <elementSpec ident="series" mode="delete" module="core"/>
        <elementSpec ident="sic" mode="delete" module="core"/>
        <elementSpec ident="soCalled" mode="delete" module="core"/>
        <elementSpec ident="sp" mode="delete" module="core"/>
        <elementSpec ident="speaker" mode="delete" module="core"/>
        <elementSpec ident="stage" mode="delete" module="core"/>
        <elementSpec ident="street" mode="delete" module="core"/>
        <elementSpec ident="teiCorpus" mode="delete" module="core"/>
        <elementSpec ident="term" mode="delete" module="core"/>
        <elementSpec ident="time" mode="delete" module="core"/>
        <elementSpec ident="timeRange" mode="delete" module="core"/>
        <elementSpec ident="unclear" mode="delete" module="core"/>
        <elementSpec ident="argument" mode="delete" module="textstructure"/>
        <elementSpec ident="byline" mode="delete" module="textstructure"/>
        <elementSpec ident="closer" mode="delete" module="textstructure"/>
        <elementSpec ident="dateline" mode="delete" module="textstructure"/>
        <elementSpec ident="div0" mode="delete" module="textstructure"/>
        <elementSpec ident="div1" mode="delete" module="textstructure"/>
        <elementSpec ident="div2" mode="delete" module="textstructure"/>
        <elementSpec ident="div3" mode="delete" module="textstructure"/>
        <elementSpec ident="div4" mode="delete" module="textstructure"/>
        <elementSpec ident="div5" mode="delete" module="textstructure"/>
        <elementSpec ident="div6" mode="delete" module="textstructure"/>
        <elementSpec ident="div7" mode="delete" module="textstructure"/>
        <elementSpec ident="docAuthor" mode="delete" module="textstructure"/>
        <elementSpec ident="docDate" mode="delete" module="textstructure"/>
        <elementSpec ident="docEdition" mode="delete" module="textstructure"/>
        <elementSpec ident="docImprint" mode="delete" module="textstructure"/>
        <elementSpec ident="docTitle" mode="delete" module="textstructure"/>
        <elementSpec ident="epigraph" mode="delete" module="textstructure"/>
        <elementSpec ident="floatingText" mode="delete" module="textstructure"/>
        <elementSpec ident="group" mode="delete" module="textstructure"/>
        <elementSpec ident="imprimatur" mode="delete" module="textstructure"/>
        <elementSpec ident="opener" mode="delete" module="textstructure"/>
        <elementSpec ident="salute" mode="delete" module="textstructure"/>
        <elementSpec ident="signed" mode="delete" module="textstructure"/>
        <elementSpec ident="titlePage" mode="delete" module="textstructure"/>
        <elementSpec ident="titlePart" mode="delete" module="textstructure"/>
	<elementSpec ident="trailer" mode="delete" module="textstructure"/>
	<elementSpec ident="said" mode="delete"/>
	<elementSpec ident="measureGrp" mode="delete"/>
	<elementSpec ident="relatedItem" mode="delete"/>
	<elementSpec ident="appInfo" mode="delete"/>
	<elementSpec ident="application" mode="delete"/>
	<elementSpec ident="geoDecl" mode="delete"/>
	<elementSpec ident="postscript" mode="delete"/>
        <elementSpec ident="title" mode="change" module="core">

          <attList>
            <attDef ident="level" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="TEI" mode="change" module="textstructure">
          <attList>
            <attDef ident="version" mode="delete"/>
          </attList>
        </elementSpec>
</specGrp>
</p>
</div>
<div><head>Header structure</head>
<p>A much simplified version of the TEI Header is defined, again by
the deletion of many elements. For validity, all that is required
within it is the <gi>fileDesc</gi>, which contains only the following elements:
<specList>
<specDesc key="titleStmt"/>
<specDesc key="publicationStmt"/>
<specDesc key="sourceDesc"/>
</specList>
</p>
<p>Within the <gi>titleStmt</gi> only a <gi>title</gi> is permitted;
within the other two elements only a <gi>p</gi> is permitted.
The <att>default</att> attribute on the <gi>sourceDesc</gi> element is
also removed. </p>
<p>The following specification group deletes all the other possible
elements from the header:
<specGrp xml:id="hdrdels">
        <elementSpec ident="authority" mode="delete" module="header"/>
        <elementSpec ident="availability" mode="delete" module="header"/>
        <elementSpec ident="broadcast" mode="delete" module="header"/>
        <elementSpec ident="cRefPattern" mode="delete" module="header"/>
        <elementSpec ident="catDesc" mode="delete" module="header"/>
        <elementSpec ident="catRef" mode="delete" module="header"/>
        <elementSpec ident="category" mode="delete" module="header"/>
        <elementSpec ident="change" mode="delete" module="header"/>
        <elementSpec ident="classCode" mode="delete" module="header"/>
        <elementSpec ident="classDecl" mode="delete" module="header"/>
        <elementSpec ident="correction" mode="delete" module="header"/>
        <elementSpec ident="creation" mode="delete" module="header"/>
        <elementSpec ident="distributor" mode="delete" module="header"/>
        <elementSpec ident="edition" mode="delete" module="header"/>
        <elementSpec ident="editorialDecl" mode="delete" module="header"/>
        <elementSpec ident="encodingDesc" mode="delete" module="header"/>
        <elementSpec ident="equipment" mode="delete" module="header"/>
        <elementSpec ident="fsdDecl" mode="delete" module="header"/>
        <elementSpec ident="funder" mode="delete" module="header"/>
        <elementSpec ident="hyphenation" mode="delete" module="header"/>
        <elementSpec ident="idno" mode="delete" module="header"/>
        <elementSpec ident="interpretation" mode="delete" module="header"/>
        <elementSpec ident="keywords" mode="delete" module="header"/>
        <elementSpec ident="langUsage" mode="delete" module="header"/>
        <elementSpec ident="language" mode="delete" module="header"/>
        <elementSpec ident="metDecl" mode="delete" module="header"/>
        <elementSpec ident="metSym" mode="delete" module="header"/>
        <elementSpec ident="namespace" mode="delete" module="header"/>
        <elementSpec ident="normalization" mode="delete" module="header"/>
        <elementSpec ident="principal" mode="delete" module="header"/>
        <elementSpec ident="profileDesc" mode="delete" module="header"/>
        <elementSpec ident="projectDesc" mode="delete" module="header"/>
        <elementSpec ident="quotation" mode="delete" module="header"/>
        <elementSpec ident="recording" mode="delete" module="header"/>
        <elementSpec ident="recordingStmt" mode="delete" module="header"/>
        <elementSpec ident="refsDecl" mode="delete" module="header"/>
        <elementSpec ident="rendition" mode="delete" module="header"/>
        <elementSpec ident="revisionDesc" mode="delete" module="header"/>
        <elementSpec ident="samplingDecl" mode="delete" module="header"/>
        <elementSpec ident="scriptStmt" mode="delete" module="header"/>
        <elementSpec ident="segmentation" mode="delete" module="header"/>
        <elementSpec ident="sponsor" mode="delete" module="header"/>
        <elementSpec ident="state" mode="delete" module="header"/>
        <elementSpec ident="stdVals" mode="delete" module="header"/>
        <elementSpec ident="tagUsage" mode="delete" module="header"/>
        <elementSpec ident="tagsDecl" mode="delete" module="header"/>
        <elementSpec ident="taxonomy" mode="delete" module="header"/>
        <elementSpec ident="textClass" mode="delete" module="header"/>
        <elementSpec ident="variantEncoding" mode="delete" module="header"/>
        <elementSpec ident="sourceDesc" mode="change" module="header">
          <attList>
            <attDef ident="default" mode="delete"/>
          </attList>
        </elementSpec>
</specGrp>
</p></div>

<div><head>Class modifications</head>
<p>Finally three of  the TEI attribute
classes are simplified. The attributes xml:space, rend, and xml:base
are removed from the att.global class, so that this now makes
available to all elements only the following attributes:
<att>xml:id</att>, <att>n</att>, and
<att>xml:lang</att>.
</p>
<p>Three un-needed attributes are removed from the  att.divLike class so that
the <gi>div</gi> element inherits from it only
the following attributes: <att>xml:id</att>,
<att>n</att>,
<att>xml:lang</att>.
The attribute class <ident>att.declaring</ident> is deleted
completely, so that none of its members inherit the <att>decls</att>
attribute defined in the unmodified TEI.</p>

<specGrp xml:id="classmods">
        <classSpec ident="att.global" mode="change" module="tei" type="atts">
          <attList>
            <attDef ident="xml:space" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="xml:base" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.fragmentable" mode="delete" module="tei" type="atts"/>
   
        <classSpec ident="att.divLike" mode="change" module="tei" type="atts">
          <attList>
            <attDef ident="org" mode="delete"/>
            <attDef ident="sample" mode="delete"/>
          </attList>
        </classSpec>

        <classSpec ident="att.declaring" mode="delete" module="tei" type="atts"/>
<!--          <attList>
            <attDef ident="decls" mode="delete"/>
          </attList>
        </classSpec>
--></specGrp></div>
<div><head>Formal declaration</head>
      <schemaSpec ident="testbare" xml:lang="en">
        <moduleRef key="core"/>
        <moduleRef key="tei"/>
        <moduleRef key="header"/>
        <moduleRef key="textstructure"/>
	<specGrpRef target="#bodydels"/>
	<specGrpRef target="#classmods"/>
	<specGrpRef target="#hdrdels"/>
      </schemaSpec>
</div>
    </body>
  </text>
</TEI>
