Test/testappinfo.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"  xmlns="http://www.tei-c.org/ns/1.0"
 xmlns:rng="http://relaxng.org/ns/structure/1.0"
 n="testappinfo">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI with appInfo setup</title>
            <author>Martin Holmes and Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
	   <p> </p>
	 </publicationStmt>
         <sourceDesc>
            <p>authored from scratch</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>
<divGen type="toc"/>
<div>
<head>My appInfo Schema</head>
<p>The minutes of the TEI Council meeting in April 2007 record
<quote>
A new <gi>tei:appInfo</gi> element will be created that is a member of
<name type="class">model.encodingPart</name>, which contains one or
more occurrences of a new element, <gi>application</gi> that can be
used by programs to record information intended for other
programs. The content of <gi>application</gi>, like <gi>egXML</gi>,
must be well-formed XML, but no further constraints are placed on it
at this time. It is a future work item to develop a mechanism to
associate an <gi>application</gi> with an actual particular
program.</quote>
</p>
  <p>Here is the schema:</p>
    <schemaSpec ident="testappinfo" start="TEI">
      <moduleRef key="header"/>
      <moduleRef key="core"/>
      <moduleRef key="tei"/>
      <moduleRef key="textstructure"/>
      <elementSpec ident="appInfo" mode="add">
	    <gloss>application information</gloss>
	    <desc>records information about an application which has
	    edited the TEI file. </desc>
	<classes>
	  <memberOf key="model.encodingPart"/>
	</classes>
	<content>
	  <rng:oneOrMore>
	    <rng:ref name="model.applicationLike"/>
	  </rng:oneOrMore>
	</content>
	<remarks><p>The main purposes of this element are: 1) to allow an
	application to discover that it has previously
	opened/edited a file, and what version of itself was used
	to do that; 2) to show (through a date) which
	application last edited the file to allow for diagnosis of
	any problems that might have been caused by that
	application; 3) to allow users to discover information
	about an application used to edit the file; 4) to allow
	the application to declare an interest in elements of
	the file which it has edited, so that other applications
	or human editors may be more wary of making changes to
	those sections of the file. The <att>ident</att> and 
	<att>version</att> attributes should be
	used to uniquely identifie the
	application and its major version number (for example,
	<hi>ImageMarkupTool 1.0</hi>).</p></remarks>
      </elementSpec>

      <classSpec ident="model.applicationLike" mode="add" type="model">
	<desc>Elements used to record information about software
	applications which have acted upon the current TEI document.</desc>
      </classSpec>

      <elementSpec ident="application" mode="add">
	<desc>provides information about an application which has acted
	upon the document.</desc>
	<classes>
	  <memberOf key="att.typed"/>
	  <memberOf key="att.datable"/>
	  <memberOf key="model.applicationLike"/>
	</classes>
	<content>
	  <rng:group>
	    <rng:oneOrMore>
	      <rng:ref name="model.labelLike"/>
	    </rng:oneOrMore>
	    <rng:choice>
	      <rng:zeroOrMore>
		<rng:ref name="model.ptrLike"/>
	      </rng:zeroOrMore>
	      <rng:zeroOrMore>
		<rng:ref name="model.pLike"/>
	      </rng:zeroOrMore>
	    </rng:choice>
	  </rng:group>
	</content>
	<attList>
	  <attDef ident="ident" usage="req">
	    <desc>Supplies an identifier for the application, independent of
	    its version number or display name.</desc>
	    <datatype>
	      <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.name"/>
	    </datatype>
	  </attDef>
	  
	  <attDef ident="version" usage="req">
	    <desc>Supplies a version number for the application, independent of
	    its identifier or display name.</desc>
	    <datatype xmlns:rng="http://relaxng.org/ns/structure/1.0">
	      <rng:data type="token">
		 <rng:param 
name="pattern">[\d]+[a-z]*[\d]*(\.[\d]+[a-z]*[\d]*){0,3}</rng:param>  
	      </rng:data>
<!--Explanation from Martin:

Start of string
One or more digits
0 or more lower-case letters
0 or more digits

then between 0 and 3 of:
Period
One or more digits
0 or more lower-case letters
0 or more digits

then end of string

And only one of the entire thing.

This matches the following types of version numbers:

1
12
1.1
1b
1.2b6
1.3.4.5
1.2.3b.5
1.2.3b.5b
1.3alpha.5 
-->
	    </datatype>
	  </attDef>
	</attList>
	<exemplum>
	  <egXML xmlns="http://www.tei-c.org/ns/Examples">
	    <appInfo>
	      <application  version="1.5"
			    ident="ImageMarkupTool1"
			    notAfter="2006-06-01">
		<label>Image Markup Tool</label>
		<ptr target="#imtAnnotationCategories"/>
		<ptr target="#imtAnnotatedImage"/>
	      </application>
	    </appInfo>
	  </egXML>
	  <p>This example shows an appInfo tag describing an
	  application called the Image Markup Tool, 
	  which has declared an interest in two sections of the file,
	  and which last saved the file on June 6 2006.</p>
	</exemplum>
	
      </elementSpec>
    </schemaSpec>
</div>
</body>
</text>
</TEI>
