Test/testits.odd

<?xml version="1.0" encoding="utf-8"?>
<TEI xml:lang="en"  
     xmlns:its="http://www.w3.org/2005/11/its"
     xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:rng="http://relaxng.org/ns/structure/1.0"
     n="testminimal">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI with ITS setup</title>
            <author>Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
	   <p> </p>
	 </publicationStmt>
         <sourceDesc>
            <p>authored from scratch</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>
<div>
<head>TEI schema including W3C ITS information</head>
  <p>Here is the schema:</p>
    <schemaSpec ident="testits" prefix="tei_" start="TEI teiCorpus">
      <moduleRef key="header"/>
      <moduleRef key="core"/>
      <moduleRef key="tei"/>
      <moduleRef key="textstructure"/>
      <moduleRef url="its.rng">
      	<content>
	  <rng:define name="tei_model.teiHeaderPart" combine="choice">
	    <rng:ref name="its_rules"/>
	  </rng:define>
	  <rng:define name="tei_model.inter" combine="choice">
	    <rng:ref name="its_span"/>
	  </rng:define>
	</content>
      </moduleRef>
      <elementSpec ident="body"  mode="change">
	<attList>
	  <attDef ident="n" mode="delete"/>
	</attList>
      </elementSpec>
      <classSpec ident="att.global" type="atts" mode="change">
	<attList>
	  <attRef name="its_att.translate.attributes"/>
	  <attRef name="its_att.locNote.attributes"/>
	  <attRef name="its_att.term.attributes"/>
	  <attRef name="its_att.dir.attributes"/>
	</attList>
      </classSpec>
    </schemaSpec>
</div>
</body>
</text>
</TEI>



