Test/testmultipleschema.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"  xmlns="http://www.tei-c.org/ns/1.0"
 xmlns:rng="http://relaxng.org/ns/structure/1.0"
 n="testmultipleschema">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI with multipleschema setup</title>
            <author>Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
	   <p> </p>
	 </publicationStmt>
         <sourceDesc>
            <p>authored from scratch</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>
<divGen type="toc"/>
<div>
<head>My Multiple Schema</head>
<p>Here is the introduction to your document</p>
  <p>Here is the schema:</p>
   <specGrp xml:id="baz">
      <elementSpec ident="baz">
	<content>
	  <rng:text/>
	</content>
      </elementSpec>
   </specGrp>

    <schemaSpec ident="testmultiple1" start="TEI">
      <elementSpec ident="foo">
	<content>
	  <rng:text/>
	</content>
      </elementSpec>
    </schemaSpec>
    <schemaSpec ident="testmultiple2" start="TEI">
       <specGrpRef target="#baz"/>
      <elementSpec ident="bar">
	<content>
	  <rng:text/>
	</content>
      </elementSpec>
    </schemaSpec>
</div>
</body>
</text>
</TEI>



