Test/tripReport.odd

<?xml version="1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
	<title>My TEI Extension</title>
	<author>generated by Roma</author>
      </titleStmt>
      <publicationStmt>
	<p>for use by whoever wants it</p>
      </publicationStmt>
      <sourceDesc>
	<p>created on Friday 25th of March 2005 09:20:37 AM by
	  the form at http://www.tei-c.org.uk/Roma</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text> 
    <body>
	<schemaSpec ident="tripReport">
	  <moduleRef key="core"/>
	  <moduleRef key="tei"/>
	  <moduleRef key="header"/>
	  <moduleRef key="textstructure"/>
	  <elementSpec module="core" ident="add" mode="delete"/>
	  <elementSpec module="core" ident="altIdent" mode="delete"/>
	  <elementSpec module="core" ident="bibl" mode="delete"/>
	  <elementSpec module="core" ident="biblFull" mode="delete"/>
	  <elementSpec module="core" ident="cb" mode="delete"/>
	  <elementSpec module="core" ident="del" mode="delete"/>
	  <elementSpec module="core" ident="desc" mode="delete"/>
	  <elementSpec module="core" ident="distinct" mode="delete"/>
	  <elementSpec module="core" ident="equiv" mode="delete"/>
	  <elementSpec module="core" ident="gap" mode="delete"/>
	  <elementSpec module="core" ident="hi" mode="delete"/>
	  <elementSpec module="core" ident="index" mode="delete"/>
	  <elementSpec module="core" ident="l" mode="delete"/>
	  <elementSpec module="core" ident="lb" mode="delete"/>
	  <elementSpec module="core" ident="lg" mode="delete"/>
	  <elementSpec module="core" ident="milestone" mode="delete"/>
	  <elementSpec module="core" ident="orig" mode="delete"/>
	  <elementSpec module="core" ident="pb" mode="delete"/>
	  <elementSpec module="core" ident="postBox" mode="delete"/>
	  <elementSpec module="core" ident="postCode" mode="delete"/>
	  <elementSpec module="core" ident="reg" mode="delete"/>
	  <elementSpec module="core" ident="sp" mode="delete"/>
	  <elementSpec module="core" ident="speaker" mode="delete"/>
	  <elementSpec module="core" ident="stage" mode="delete"/>
	  <elementSpec module="core" ident="street" mode="delete"/>
	  <elementSpec module="core" ident="teiCorpus" mode="delete"/>
	  <elementSpec module="core" ident="unclear" mode="delete"/>
	  <elementSpec ident="TEI" module="core" mode="change">
	    <attList>
	      <attDef ident="version" mode="change" usage="req">
<desc>The version of the TEI  scheme</desc>
<datatype>
		  <rng:data xmlns:rng="http://relaxng.org/ns/structure/1.0"
		    type="token"/>
		</datatype>
		<defaultVal>5.0alpha</defaultVal>

	      </attDef>
	      <attDef ident="xmlns" mode="change">
		<altIdent>xmlns</altIdent>
	      </attDef>
	    </attList>
	  </elementSpec>
	  <elementSpec module="textstructure" ident="divGen" mode="delete"/>
	  <elementSpec module="header" ident="broadcast" mode="delete"/>
	  <elementSpec module="header" ident="catDesc" mode="delete"/>
	  <elementSpec module="header" ident="catRef" mode="delete"/>
	  <elementSpec module="header" ident="category" mode="delete"/>
	  <elementSpec module="header" ident="classCode" mode="delete"/>
	  <elementSpec module="header" ident="classDecl" mode="delete"/>
	  <elementSpec module="header" ident="correction" mode="delete"/>
	  <elementSpec module="header" ident="equipment" mode="delete"/>
	  <elementSpec module="header" ident="extent" mode="delete"/>
	  <elementSpec module="header" ident="fragmentPattern" mode="delete"/>
	  <elementSpec module="header" ident="fsdDecl" mode="delete"/>
	  <elementSpec module="header" ident="keywords" mode="delete"/>
	  <elementSpec module="header" ident="metDecl" mode="delete"/>
	  <elementSpec module="header" ident="metSym" mode="delete"/>
	  <elementSpec module="header" ident="recording" mode="delete"/>
	  <elementSpec module="header" ident="recordingStmt" mode="delete"/>
	  <elementSpec module="header" ident="refsDecl" mode="delete"/>
	  <elementSpec module="header" ident="rendition" mode="delete"/>
	  <elementSpec module="header" ident="samplingDecl" mode="delete"/>
	  <elementSpec module="header" ident="scriptStmt" mode="delete"/>
	  <elementSpec module="header" ident="state" mode="delete"/>
	  <elementSpec module="header" ident="tagUsage" mode="delete"/>
	  <elementSpec module="header" ident="tagsDecl" mode="delete"/>
	  <elementSpec module="header" ident="taxonomy" mode="delete"/>
	  <elementSpec module="header" ident="textClass" mode="delete"/>
	  <elementSpec module="header" ident="variantEncoding" mode="delete"/>
	  <elementSpec module="textstructure" ident="argument" mode="delete"/>
	  <elementSpec module="textstructure" ident="div0" mode="delete"/>
	  <elementSpec module="textstructure" ident="div1" mode="delete"/>
	  <elementSpec module="textstructure" ident="div2" mode="delete"/>
	  <elementSpec module="textstructure" ident="div3" mode="delete"/>
	  <elementSpec module="textstructure" ident="div4" mode="delete"/>
	  <elementSpec module="textstructure" ident="div5" mode="delete"/>
	  <elementSpec module="textstructure" ident="div6" mode="delete"/>
	  <elementSpec module="textstructure" ident="div7" mode="delete"/>
	  <elementSpec module="textstructure" ident="docAuthor" mode="delete"/>
	  <elementSpec module="textstructure" ident="docDate" mode="delete"/>
	  <elementSpec module="textstructure" ident="docEdition" mode="delete"/>
	  <elementSpec module="textstructure" ident="docImprint" mode="delete"/>
	  <elementSpec module="textstructure" ident="docTitle" mode="delete"/>
	  <elementSpec module="textstructure" ident="group" mode="delete"/>
	  <elementSpec module="textstructure" ident="imprimatur" mode="delete"/>
	  <elementSpec module="textstructure" ident="titlePage" mode="delete"/>
	  <elementSpec module="textstructure" ident="titlePart" mode="delete"/>
	  <classSpec ident="att.divLike" module="tei" mode="change" type="atts">
	    <attList>
	      <attDef ident="org" mode="delete"/>
	      <attDef ident="sample" mode="delete"/>
	      <attDef ident="part" mode="delete"/>
	    </attList>
	  </classSpec>
	  <elementSpec ident="div" module="textstructure" mode="change">
	    <desc>contains a subdivision of the front,
	      body, or back of a text.</desc>
	    <classes>
	      <memberOf key="att.divLike"/>
	      <memberOf key="att.declaring"/>
	    </classes>
	    <attList>
	      <attDef ident="type" usage="req" mode="change">
		<gloss>You must indicate the level of the
		section</gloss> <!-- this is tag abuse LB, 22 xi 05 -->
		<datatype>
		  <rng:ref
		      xmlns:rng="http://relaxng.org/ns/structure/1.0"
		      name="datatype.Code"/>
		</datatype>
		<valList type="closed" mode="replace">
		  <valItem ident="section"><gloss>1st level section</gloss></valItem>
		  <valItem ident="subsection"><gloss>2nd level section</gloss></valItem>
		  <valItem ident="subsubsection"><gloss>3rd level section</gloss></valItem>
		</valList>
	      </attDef>
	    </attList>
	  </elementSpec>
	</schemaSpec>
    </body>
  </text>
</TEI>
