P5/Exemplars/tei_odds_plus.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns="http://www.tei-c.org/ns/1.0" xmlns:teix="http://www.tei-c.org/ns/Examples" xmlns:rng="http://relaxng.org/ns/structure/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD for ODDplus</title>
        <author>Lou Burnard</author>
      </titleStmt>
      <publicationStmt>
        <availability status="free">
          <p>This template file is freely available and you are
          hereby authorised to copy, modify, and redistribute it in
          any way without further reference or permissions.</p>
          <p>When making such modifications, you are strongly
          recommended to change the present text to include an
          accurate statement of the licencing conditions applicable
          to your modified text.</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Added new proposed elements to existing tei_odds.odd.</p>
      </sourceDesc>
    </fileDesc>
<revisionDesc>
<change when="2010-04-24" who="#LB">Drafted on train from Modane to
Paris</change>
</revisionDesc>
  </teiHeader>
  <text>
    <body>
      <p>In addition to the modules and external schemata necessary
      for writing TEI ODD documents, this customization defines and
      makes available the *Ref elements proposed as a means of
      providing support for schema definition by inclusion rather than
      exclusion .</p>

      <schemaSpec ident="tei_odds_plus" start="TEI schemaSpec elementSpec classSpec macroSpec div">

<elementSpec  ident="schemaSpec" mode="change">
<attList>
<attDef mode="add" ident="context">
<desc>specifies a default context or framework for components of the schema
being defined</desc>
<datatype>
<rng:data type="anyURI"/>
</datatype>
</attDef>
</attList>
<remarks><p>The context indicated must provide a set of TEI-conformant
specifications in a form directly usable by an ODD processor. By
default, this will be the location of the current release of the TEI
source Guidelines. </p></remarks>
</elementSpec>


<elementSpec  ident="moduleRef" mode="change">
<attList>
<attList  org="choice">
<attDef mode="add" ident="include">
<desc>supplies a list of the elements which are to be copied from the
specified module into the schema being defined.</desc> 
<datatype minOccurs="0" maxOccurs="unbounded">
<rng:data type="NCName"/>
</datatype>
</attDef>
<attDef mode="add" ident="exclude">
<desc>supplies a list of the elements which are not to be copied from the
specified module into the schema being defined.</desc> 
<datatype minOccurs="0" maxOccurs="unbounded">
<rng:data type="NCName"/>
</datatype>
</attDef>
</attList>
</attList>
<remarks><p>If neither <att>include</att> nor <att>exclude</att> is
specified, all objects available from the specified module are to be copied
into the schema being defined. If both attributes are supplied, an ODD
processor should signal an error, and ignore both.</p> 
</remarks>
</elementSpec>

<elementSpec xmlns="http://www.tei-c.org/ns/1.0"
    xmlns:s="http://www.ascc.net/xml/schematron" 
    xmlns:sch="http://purl.oclc.org/dsdl/schematron"
    xmlns:rng="http://relaxng.org/ns/structure/1.0" 
    ident="elementRef">
<desc>indicates an element which is to be included in a schema</desc> 
  <classes>
    <memberOf key="model.oddRef"/>
  </classes>
  <content>
    <rng:empty/>
  </content>
  <attList>
      <attDef ident="key" usage="req">
        <desc>the identifier used for the required element within the
	context in force.</desc>
        <datatype>
          <rng:data type="NCName"/>
        </datatype>
      </attDef>
<attDef usage="opt" ident="context">
<desc>specifies a context within which the element is to be found,
over-riding the default context. </desc>
<datatype>
<rng:data type="anyURI"/>
</datatype>
</attDef>
    </attList>

  <exemplum xml:lang="en">
    <egXML xmlns="http://www.tei-c.org/ns/Examples">
      <elementRef key="p"/>
    </egXML>
    <p>Include  in the schema an element named <gi>p</gi>  available from the
    current default context.</p>
  </exemplum>
  <exemplum xml:lang="en">
    <egXML xmlns="http://www.tei-c.org/ns/Examples">
      <elementRef key="p" context="http://www.tei-c.org/release/P5/1.2"/>
    </egXML>
    <p>Include  in the schema an element named <gi>p</gi> 
    available from the TEI P5 1.2 release.</p>
  </exemplum>
  <remarks>
    <p>Elements are identified by the name supplied as value for the
    <att>ident</att> attribute on the <gi>elementSpec</gi> element in
    which they are declared. 
    </p>
  </remarks>
</elementSpec>



<!-- from here on, unmodified from tei_odds.odd -->
        <moduleRef url="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/relaxng.rng"/>
        <moduleRef key="header"/>
        <moduleRef key="core"/>
        <moduleRef key="tei"/>
        <moduleRef key="gaiji"/>
        <moduleRef key="textstructure"/>
        <moduleRef key="tagdocs"/>
        <moduleRef key="dictionaries"/>
        <moduleRef key="linking"/>
        <moduleRef key="figures"/>
        <elementSpec ident="teiCorpus" mode="delete" module="core"/>
        <!-- required to avoid Sanity Checker complaint -->
        <elementSpec ident="handNote" mode="delete" module="header"/>
        <macroSpec ident="macro.schemaPattern" mode="change" module="tagdocs">
          <content>
            <group xmlns="http://relaxng.org/ns/structure/1.0">
              <choice>
                <text/>
                <oneOrMore>
                  <choice>
                    <ref name="pattern"/>
                    <ref name="define"/>
                  </choice>
                </oneOrMore>
              </choice>
              <zeroOrMore>
                <ref name="anySchematron"/>
              </zeroOrMore>
            </group>
          </content>
        </macroSpec>
        <elementSpec module="tagdocs" ns="http://www.tei-c.org/ns/Examples" ident="egXML" mode="change">
          <content>
            <oneOrMore xmlns="http://relaxng.org/ns/structure/1.0">
              <choice>
                <text/>
                <ref name="anyTEI"/>
              </choice>
            </oneOrMore>
          </content>
        </elementSpec>
        <macroSpec ident="anySchematron" mode="add">
          <content>
            <element xmlns="http://relaxng.org/ns/structure/1.0">
              <nsName ns="http://www.ascc.net/xml/schematron"/>
              <zeroOrMore>
                <choice>
                  <attribute>
                    <anyName/>
                  </attribute>
                  <ref name="anySchematron"/>
                  <text/>
                </choice>
              </zeroOrMore>
            </element>
          </content>
        </macroSpec>
        <macroSpec ident="anyTEI" mode="add">
          <content>
            <element xmlns="http://relaxng.org/ns/structure/1.0" ns="http://www.tei-c.org/ns/Examples">
	      <choice xmlns="http://relaxng.org/ns/structure/1.0">
   <name>TEI</name>
   <name>ab</name>
   <name>abbr</name>
   <name>accMat</name>
   <name>acquisition</name>
   <name>activity</name>
   <name>actor</name>
   <name>add</name>
   <name>addName</name>
   <name>addSpan</name>
   <name>additional</name>
   <name>additions</name>
   <name>addrLine</name>
   <name>address</name>
   <name>adminInfo</name>
   <name>affiliation</name>
   <name>age</name>
   <name>alt</name>
   <name>altGrp</name>
   <name>altIdent</name>
   <name>altIdentifier</name>
   <name>am</name>
   <name>analytic</name>
   <name>anchor</name>
   <name>app</name>
   <name>appInfo</name>
   <name>application</name>
   <name>arc</name>
   <name>argument</name>
   <name>att</name>
   <name>attDef</name>
   <name>attList</name>
   <name>attRef</name>
   <name>author</name>
   <name>authority</name>
   <name>availability</name>
   <name>back</name>
   <name>bibl</name>
   <name>biblFull</name>
   <name>biblScope</name>
   <name>biblStruct</name>
   <name>bicond</name>
   <name>binary</name>
   <name>binaryObject</name>
   <name>binding</name>
   <name>bindingDesc</name>
   <name>birth</name>
   <name>bloc</name>
   <name>body</name>
   <name>broadcast</name>
   <name>byline</name>
   <name>c</name>
   <name>cRefPattern</name>
   <name>caesura</name>
   <name>camera</name>
   <name>caption</name>
   <name>case</name>
   <name>castGroup</name>
   <name>castItem</name>
   <name>castList</name>
   <name>catDesc</name>
   <name>catRef</name>
   <name>catchwords</name>
   <name>category</name>
   <name>cb</name>
   <name>cell</name>
   <name>certainty</name>
   <name>change</name>
   <name>channel</name>
   <name>char</name>
   <name>charDecl</name>
   <name>charName</name>
   <name>charProp</name>
   <name>choice</name>
   <name>cit</name>
   <name>cl</name>
   <name>classCode</name>
   <name>classDecl</name>
   <name>classSpec</name>
   <name>classes</name>
   <name>climate</name>
   <name>closer</name>
   <name>code</name>
   <name>collation</name>
   <name>collection</name>
   <name>colloc</name>
   <name>colophon</name>
   <name>cond</name>
   <name>condition</name>
   <name>constitution</name>
   <name>constraint</name>
   <name>constraintSpec</name>
   <name>content</name>
   <name>corr</name>
   <name>correction</name>
   <name>country</name>
   <name>creation</name>
   <name>custEvent</name>
   <name>custodialHist</name>
   <name>damage</name>
   <name>damageSpan</name>
   <name>datatype</name>
   <name>date</name>
   <name>dateline</name>
   <name>death</name>
   <name>decoDesc</name>
   <name>decoNote</name>
   <name>def</name>
   <name>default</name>
   <name>defaultVal</name>
   <name>del</name>
   <name>delSpan</name>
   <name>depth</name>
   <name>derivation</name>
   <name>desc</name>
   <name>dictScrap</name>
   <name>dim</name>
   <name>dimensions</name>
   <name>distinct</name>
   <name>distributor</name>
   <name>district</name>
   <name>div</name>
   <name>div1</name>
   <name>div2</name>
   <name>div3</name>
   <name>div4</name>
   <name>div5</name>
   <name>div6</name>
   <name>div7</name>
   <name>divGen</name>
   <name>docAuthor</name>
   <name>docDate</name>
   <name>docEdition</name>
   <name>docImprint</name>
   <name>docTitle</name>
   <name>domain</name>
   <name>eLeaf</name>
   <name>eTree</name>
   <name>edition</name>
   <name>editionStmt</name>
   <name>editor</name>
   <name>editorialDecl</name>
   <name>education</name>
   <name>eg</name>
   <name>egXML</name>
   <name>elementSpec</name>
   <name>email</name>
   <name>emph</name>
   <name>encodingDesc</name>
   <name>entry</name>
   <name>entryFree</name>
   <name>epigraph</name>
   <name>epilogue</name>
   <name>equipment</name>
   <name>equiv</name>
   <name>etym</name>
   <name>event</name>
   <name>ex</name>
   <name>exemplum</name>
   <name>expan</name>
   <name>explicit</name>
   <name>extent</name>
   <name>f</name>
   <name>fDecl</name>
   <name>fDescr</name>
   <name>fLib</name>
   <name>facsimile</name>
   <name>factuality</name>
   <name>faith</name>
   <name>figDesc</name>
   <name>figure</name>
   <name>fileDesc</name>
   <name>filiation</name>
   <name>finalRubric</name>
   <name>floatingText</name>
   <name>floruit</name>
   <name>foliation</name>
   <name>foreign</name>
   <name>forename</name>
   <name>forest</name>
   <name>forestGrp</name>
   <name>form</name>
   <name>formula</name>
   <name>front</name>
   <name>fs</name>
   <name>fsConstraints</name>
   <name>fsDecl</name>
   <name>fsDescr</name>
   <name>fsdDecl</name>
   <name>fsdLink</name>
   <name>funder</name>
   <name>fvLib</name>
   <name>fw</name>
   <name>g</name>
   <name>gap</name>
   <name>gen</name>
   <name>genName</name>
   <name>geo</name>
   <name>geoDecl</name>
   <name>geogFeat</name>
   <name>geogName</name>
   <name>gi</name>
   <name>gloss</name>
   <name>glyph</name>
   <name>glyphName</name>
   <name>gram</name>
   <name>gramGrp</name>
   <name>graph</name>
   <name>graphic</name>
   <name>group</name>
   <name>handDesc</name>
   <name>handNote</name>
   <name>handNotes</name>
   <name>handShift</name>
   <name>head</name>
   <name>headItem</name>
   <name>headLabel</name>
   <name>height</name>
   <name>heraldry</name>
   <name>hi</name>
   <name>history</name>
   <name>hom</name>
   <name>hyph</name>
   <name>hyphenation</name>
   <name>iNode</name>
   <name>iType</name>
   <name>ident</name>
   <name>idno</name>
   <name>if</name>
   <name>iff</name>
   <name>imprimatur</name>
   <name>imprint</name>
   <name>incident</name>
   <name>incipit</name>
   <name>index</name>
   <name>institution</name>
   <name>interaction</name>
   <name>interp</name>
   <name>interpGrp</name>
   <name>interpretation</name>
   <name>item</name>
   <name>join</name>
   <name>joinGrp</name>
   <name>keywords</name>
   <name>kinesic</name>
   <name>l</name>
   <name>label</name>
   <name>lacunaEnd</name>
   <name>lacunaStart</name>
   <name>lang</name>
   <name>langKnowledge</name>
   <name>langKnown</name>
   <name>langUsage</name>
   <name>language</name>
   <name>layout</name>
   <name>layoutDesc</name>
   <name>lb</name>
   <name>lbl</name>
   <name>leaf</name>
   <name>lem</name>
   <name>lg</name>
   <name>link</name>
   <name>linkGrp</name>
   <name>list</name>
   <name>listBibl</name>
   <name>listEvent</name>
   <name>listNym</name>
   <name>listOrg</name>
   <name>listPerson</name>
   <name>listPlace</name>
   <name>listRef</name>
   <name>listWit</name>
   <name>localName</name>
   <name>locale</name>
   <name>location</name>
   <name>locus</name>
   <name>locusGrp</name>
   <name>m</name>
   <name>macroSpec</name>
   <name>mapping</name>
   <name>material</name>
   <name>measure</name>
   <name>measureGrp</name>
   <name>meeting</name>
   <name>memberOf</name>
   <name>mentioned</name>
   <name>metDecl</name>
   <name>metSym</name>
   <name>milestone</name>
   <name>moduleRef</name>
   <name>moduleSpec</name>
   <name>monogr</name>
   <name>mood</name>
   <name>move</name>
   <name>msContents</name>
   <name>msDesc</name>
   <name>msIdentifier</name>
   <name>msItem</name>
   <name>msItemStruct</name>
   <name>msName</name>
   <name>msPart</name>
   <name>musicNotation</name>
   <name>name</name>
   <name>nameLink</name>
   <name>namespace</name>
   <name>nationality</name>
   <name>node</name>
   <name>normalization</name>
   <name>note</name>
   <name>notesStmt</name>
   <name>num</name>
   <name>number</name>
   <name>numeric</name>
   <name>nym</name>
   <name>oRef</name>
   <name>oVar</name>
   <name>objectDesc</name>
   <name>occupation</name>
   <name>offset</name>
   <name>opener</name>
   <name>org</name>
   <name>orgName</name>
   <name>orig</name>
   <name>origDate</name>
   <name>origPlace</name>
   <name>origin</name>
   <name>orth</name>
   <name>p</name>
   <name>pRef</name>
   <name>pVar</name>
   <name>particDesc</name>
   <name>pause</name>
   <name>pb</name>
   <name>pc</name>
   <name>per</name>
   <name>performance</name>
   <name>persName</name>
   <name>person</name>
   <name>personGrp</name>
   <name>phr</name>
   <name>physDesc</name>
   <name>place</name>
   <name>placeName</name>
   <name>population</name>
   <name>pos</name>
   <name>postBox</name>
   <name>postCode</name>
   <name>postscript</name>
   <name>precision</name>
   <name>preparedness</name>
   <name>principal</name>
   <name>profileDesc</name>
   <name>projectDesc</name>
   <name>prologue</name>
   <name>pron</name>
   <name>provenance</name>
   <name>ptr</name>
   <name>pubPlace</name>
   <name>publicationStmt</name>
   <name>publisher</name>
   <name>purpose</name>
   <name>q</name>
   <name>quotation</name>
   <name>quote</name>
   <name>rdg</name>
   <name>rdgGrp</name>
   <name>re</name>
   <name>recordHist</name>
   <name>recording</name>
   <name>recordingStmt</name>
   <name>ref</name>
   <name>refState</name>
   <name>refsDecl</name>
   <name>reg</name>
   <name>region</name>
   <name>relatedItem</name>
   <name>relation</name>
   <name>relationGrp</name>
   <name>remarks</name>
   <name>rendition</name>
   <name>repository</name>
   <name>residence</name>
   <name>resp</name>
   <name>respStmt</name>
   <name>respons</name>
   <name>restore</name>
   <name>revisionDesc</name>
   <name>rhyme</name>
   <name>role</name>
   <name>roleDesc</name>
   <name>roleName</name>
   <name>root</name>
   <name>row</name>
   <name>rs</name>
   <name>rubric</name>
   <name>s</name>
   <name>said</name>
   <name>salute</name>
   <name>samplingDecl</name>
   <name>schemaSpec</name>
   <name>scriptStmt</name>
   <name>seal</name>
   <name>sealDesc</name>
   <name>secFol</name>
   <name>seg</name>
   <name>segmentation</name>
   <name>sense</name>
   <name>series</name>
   <name>seriesStmt</name>
   <name>set</name>
   <name>setting</name>
   <name>settingDesc</name>
   <name>settlement</name>
   <name>sex</name>
   <name>shift</name>
   <name>sic</name>
   <name>signatures</name>
   <name>signed</name>
   <name>soCalled</name>
   <name>socecStatus</name>
   <name>sound</name>
   <name>source</name>
   <name>sourceDesc</name>
   <name>sp</name>
   <name>space</name>
   <name>span</name>
   <name>spanGrp</name>
   <name>speaker</name>
   <name>specDesc</name>
   <name>specGrp</name>
   <name>specGrpRef</name>
   <name>specList</name>
   <name>sponsor</name>
   <name>stage</name>
   <name>stamp</name>
   <name>state</name>
   <name>stdVals</name>
   <name>street</name>
   <name>stress</name>
   <name>string</name>
   <name>stringVal</name>
   <name>subc</name>
   <name>subst</name>
   <name>summary</name>
   <name>superEntry</name>
   <name>supplied</name>
   <name>support</name>
   <name>supportDesc</name>
   <name>surface</name>
   <name>surname</name>
   <name>surplus</name>
   <name>surrogates</name>
   <name>syll</name>
   <name>symbol</name>
   <name>table</name>
   <name>tag</name>
   <name>tagUsage</name>
   <name>tagsDecl</name>
   <name>taxonomy</name>
   <name>tech</name>
   <name>teiCorpus</name>
   <name>teiHeader</name>
   <name>term</name>
   <name>terrain</name>
   <name>text</name>
   <name>textClass</name>
   <name>textDesc</name>
   <name>textLang</name>
   <name>then</name>
   <name>time</name>
   <name>timeline</name>
   <name>title</name>
   <name>titlePage</name>
   <name>titlePart</name>
   <name>titleStmt</name>
   <name>tns</name>
   <name>trailer</name>
   <name>trait</name>
   <name>tree</name>
   <name>triangle</name>
   <name>typeDesc</name>
   <name>typeNote</name>
   <name>u</name>
   <name>unclear</name>
   <name>unicodeName</name>
   <name>usg</name>
   <name>vAlt</name>
   <name>vColl</name>
   <name>vDefault</name>
   <name>vLabel</name>
   <name>vMerge</name>
   <name>vNot</name>
   <name>vRange</name>
   <name>val</name>
   <name>valDesc</name>
   <name>valItem</name>
   <name>valList</name>
   <name>value</name>
   <name>variantEncoding</name>
   <name>view</name>
   <name>vocal</name>
   <name>w</name>
   <name>watermark</name>
   <name>when</name>
   <name>width</name>
   <name>wit</name>
   <name>witDetail</name>
   <name>witEnd</name>
   <name>witStart</name>
   <name>witness</name>
   <name>writing</name>
   <name>xr</name>
   <name>zone</name>
</choice>
              <zeroOrMore>
                <attribute>
                  <anyName/>
                </attribute>
              </zeroOrMore>
              <zeroOrMore>
                <choice>
                  <text/>
                  <ref name="anyTEI"/>
                  <ref name="macro.schemaPattern"/>
                </choice>
              </zeroOrMore>
            </element>
          </content>
        </macroSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
