P5/Exemplars/tei_its.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"  
     xmlns:its="http://www.w3.org/2005/11/its"
     xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:rng="http://relaxng.org/ns/structure/1.0"
     n="testminimal">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI with ITS setup</title>
	    <author>Sebastian Rahtz</author>
	 </titleStmt>
	 <publicationStmt>
	   <publisher>TEI Consortium</publisher>
	   <availability status="free">
     <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a Creative
      Commons Attribution-ShareAlike 3.0 Unported License </licence>
     <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
      <p>Copyright 2013 TEI Consortium.</p>
      <p>All rights reserved.</p>
      <p>Redistribution and use in source and binary forms, with or without modification, are
       permitted provided that the following conditions are met:</p>
      <list>
       <item>Redistributions of source code must retain the above copyright notice, this list of
        conditions and the following disclaimer.</item>
       <item>Redistributions in binary form must reproduce the above copyright notice, this list of
        conditions and the following disclaimer in the documentation and/or other materials provided
        with the distribution.</item>
      </list>
      <p>This software is provided by the copyright holders and contributors "as is" and any express
       or implied warranties, including, but not limited to, the implied warranties of
       merchantability and fitness for a particular purpose are disclaimed. In no event shall the
       copyright holder or contributors be liable for any direct, indirect, incidental, special,
       exemplary, or consequential damages (including, but not limited to, procurement of substitute
       goods or services; loss of use, data, or profits; or business interruption) however caused
       and on any theory of liability, whether in contract, strict liability, or tort (including
       negligence or otherwise) arising in any way out of the use of this software, even if advised
       of the possibility of such damage.</p>
     </licence>
     <p>TEI material can be licensed differently depending on the use you intend to make of it.
      Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
      generally appropriate for usages which treat TEI content as data or documentation. The BSD-2
      licence is generally appropriate for usage of TEI content in a software environment. For
      further information or clarification, please contact the <ref target="mailto:info@tei-c.org"
       >TEI Consortium</ref>. </p>
	   </availability>
	 </publicationStmt>
	 <sourceDesc>
	   <p>This digital file is the original.</p>
      </sourceDesc>
    </fileDesc>
   </teiHeader>
<text>
<body>
<div>
<head>TEI schema including W3C ITS information</head>
  <p>The <ref target="http://www.w3.org/International/its/">The
  Internationalization Tag Set (ITS)</ref> Working Group is part of
  the W3C Internationalization Activity.  It has developed a set of
  elements and attributes that can be used with  DTDs/Schemas to
  support the internationalization and localization of documents; and
  provide best practice techniques for developers of DTDs/Schemas that
  show how to enable internationalization of their documents. This TEI
  customization adds the ITS markup to the TEI scheme.</p>
    <schemaSpec ident="tei_its" start="TEI teiCorpus" prefix="tei_">
      <moduleRef key="header"/>
      <moduleRef key="core"/>
      <moduleRef key="tei"/>
      <moduleRef key="textstructure"/>
      <moduleRef url="https://www.tei-c.org/release/xml/tei/Exemplars/its.rng">
      	<content>
	  <rng:define name="tei_model.teiHeaderPart" combine="choice">
	    <rng:ref name="its_rules"/>
	  </rng:define>
	  <rng:define name="tei_model.inter" combine="choice">
	    <rng:ref name="its_span"/>
	  </rng:define>
	</content>
      </moduleRef>
      <classSpec ident="att.global" type="atts" mode="change">
	<attList>
	  <attRef name="its_att.translate.attributes"/>
	  <attRef name="its_att.locNote.attributes"/>
	  <attRef name="its_att.term.attributes"/>
	  <attRef name="its_att.dir.attributes"/>
	</attList>
      </classSpec>
    </schemaSpec>
</div>
</body>
</text>
</TEI>



