P5/Exemplars/tei_tite.odd

<?xml version="1.0"?>
<!--
    Copyright TEI Consortium.
    Dual-licensed under CC-by and BSD2 licences
    See the file COPYING.txt for details
    $Date$
    $Id$
-->
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0"
 xmlns:sch="http://purl.oclc.org/dsdl/schematron">
 <teiHeader>
  <fileDesc>
   <titleStmt>
    <title type="main">TEI Tite</title>
    <title type="sub">A recommendation for off-site text encoding</title>
    <author>Perry Trolard</author>
   </titleStmt>
   <publicationStmt>
<publisher>TEI Consortium</publisher>
    <availability status="restricted">
     <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a Creative
      Commons Attribution-ShareAlike 3.0 Unported License </licence>
     <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
      <p>Copyright 2013 TEI Consortium.</p>
      <p>All rights reserved.</p>
      <p>Redistribution and use in source and binary forms, with or without modification, are
       permitted provided that the following conditions are met:</p>
      <list>
       <item>Redistributions of source code must retain the above copyright notice, this list of
        conditions and the following disclaimer.</item>
       <item>Redistributions in binary form must reproduce the above copyright notice, this list of
        conditions and the following disclaimer in the documentation and/or other materials provided
        with the distribution.</item>
      </list>
      <p>This software is provided by the copyright holders and contributors "as is" and any express
       or implied warranties, including, but not limited to, the implied warranties of
       merchantability and fitness for a particular purpose are disclaimed. In no event shall the
       copyright holder or contributors be liable for any direct, indirect, incidental, special,
       exemplary, or consequential damages (including, but not limited to, procurement of substitute
       goods or services; loss of use, data, or profits; or business interruption) however caused
       and on any theory of liability, whether in contract, strict liability, or tort (including
       negligence or otherwise) arising in any way out of the use of this software, even if advised
       of the possibility of such damage.</p>
     </licence>
     <p>TEI material can be licensed differently depending on the use you intend to make of it.
      Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
      generally appropriate for usages which treat TEI content as data or documentation. The BSD-2
      licence is generally appropriate for usage of TEI content in a software environment. For
      further information or clarification, please contact the <ref target="mailto:info@tei-c.org"
       >TEI Consortium</ref>. </p>
    </availability>

   </publicationStmt>
   <sourceDesc>
    <p>Written as the principal product of an independent study under <name>John Unsworth</name> at
     the <name>Graduate School of Library and Information Science</name>, <name>University of
      Illinois at Urbana-Champaign</name>, <date>May 2009</date>.</p>
    <p>This electronic document is the original, but it primarily synthesizes work done at the <list>
      <item><name>University of Michigan Digital Library Production Service</name>, </item>
      <item><name>University of Virginia Digital Library Production Service</name>, </item>
      <item>and the <name>California Digital Library</name></item>
     </list> and represented in their documents <list>
      <item><ref target="http://www.umdl.umich.edu/docs/encodingstandards.html">
        <title>Minimum standards for text capture</title>
       </ref>, </item>
      <item><ref target="http://pogo.lib.virginia.edu/dlps/public/text/vendor/vendor.html">
        <title>Text Encoding Guidelines for Keyboarding Vendors</title>
       </ref>, </item>
      <item> and <ref target="http://www.cdlib.org/inside/diglib/stwg/base/BASE_BPG.html">
        <title>CDL TEI Base Encoding Guidelines</title>
       </ref>. </item>
     </list>, respectively. </p>
   </sourceDesc>
  </fileDesc>
  <revisionDesc>
   <change when="2014-12-06" who="KSH">Corrected class for <att>ed</att> so that it's correctly deleted (along with <att>edRef</att>).</change>
   <change when="2014-12-06" who="KSH">Renamed <gi>cols</gi> to <gi>colShift</gi> per https://sourceforge.net/p/tei/feature-requests/269/ .</change>
   <change when="2014-12-05" who="SR">Fixed ODD deletion of <att>rendition</att>.</change>
   <change when="2014-12-04" who="KSH">Clarified wording about use of <att>when</att> per https://sourceforge.net/p/tei/bugs/281/ .</change>
   <change when="2014-11-21" who="LB">Fixed ODD inclusion of <gi>trailer</gi> per https://sourceforge.net/p/tei/bugs/700/ .</change>
   <change when="2012-09-10" who="RAW">Added prose explanation for handShift element to section 6.1 Typographical Changes, per ticket
    3418550</change>
   <change when="2011-11-01" who="KSH">Added add and del elements</change>
   <change when="2011-09-20" who="SR">Further clarifications.</change>
   <change when="2011-09-19" who="KSH">Corrected typos and clarified TEI conformance.</change>
   <change when="2011-09-18" who="KSH">Updated metadata, including version number to 1.1, and added
    some background on what Tite is. Copyedited section comparing Tite and the Best Practices for
    TEI in Libraries</change>
   <change when="2011-04-15" who="PJT">Removed unwanted elements &amp; attributes, as described in
    ticket 3136934; added handShift, described in 3164403.</change>
   <change when="2010-12-14" who="LB">Revised to use new syntax </change>
   <change when="2009-05-03" who="DPOD">Added prose indicating that the absence of
     <gi>teiHeader</gi> breaks the abstract model as a convenience to transcribers but needs to be
    addressed after further processing.</change>
   <change when="2009-05-01" who="PJT">Incorporated prose edits recommended by the TEI-in-Libraries
    SIG. Removed header module, <gi>TEI</gi>; added <gi>g</gi>.</change>
   <change when="2008-01-31" who="PJT">Edited prose to conform to P5 official release.</change>
   <change when="2008-01-30" who="DRS">Removed @rendition from att.global, as there is no
     <gi>tagsDecl</gi> element to contain a <gi>rendition</gi> target. Added several more element
    exclusions from TEI Lite (handNote, namespace, rendition, tagUsage).</change>
   <change when="2007-06-24" who="SPQR">Added sugar elements to att.global</change>
   <change when="2007-06-07" who="SPQR">Added equiv for ornament and cols, and changed prose about
    ornament to use @rend</change>
   <change when="2007-05-08" who="SPQR">Added equiv the hi-like objects</change>
   <change when="2007-01-23" who="PJT">Modified available attributes for <gi>gap</gi>,
     <gi>unclear</gi>; added <att>ed</att> attribute to <gi>cols</gi>.</change>
   <change when="2007-01-20" who="PJT">Misc. prose edits; cleaned up unnecessary
     <gi>elementSpec</gi> elements.</change>
   <change when="2006-12-21" who="PJT">Added <gi>text</gi> as alternate root (on <att>start</att>
    attribute of <gi>schemaSpec</gi>), making teitite-nohead redundant; added <gi>div0</gi> to list
    of elements Tite excludes (it's always been exluded, but now is reported).</change>
   <change when="2006-12-16" who="PJT">Finished initial draft.</change>
  </revisionDesc>
 </teiHeader>
 <text>
  <front>
   <titlePage>
    <docTitle>
     <titlePart type="main">TEI Tite</titlePart>
     <titlePart type="sub">A recommendation for off-site text encoding</titlePart>
    </docTitle>
    <docAuthor>Perry Trolard, for the TEI Consortium</docAuthor>
    <docDate>Version 1.1 — September 2011</docDate>
   </titlePage>
  </front>
  <body>
   <div type="section" xml:id="intro">
    <head>Introduction</head>

    <p>TEI Tite is a constrained customization of TEI designed for use when outsourcing production
     of TEI documents to vendors, who use some combination of OCR and keyboarding to produce encoded
     text. While the canonical version of Tite is maintained by the TEI Council, a derived version
     is used in the AccessTEI program.</p>

    <p>TEI Tite is meant to express a transitional format for documents, not an archival one. A
     project outsourcing encoding of documents using Tite should convert Tite documents created by
     vendors into a more suitable format for long-term preservation, such as one of the encoding
     levels of <title>Best Practices for TEI in Libraries</title> or a project-specific TEI
     customization.</p>

    <p>While Tite includes only a limited set of all of the elements in TEI, it should not be
     confused with <title><ref target="http://www.tei-c.org/Guidelines/Customization/Lite/"> TEI
       Lite</ref></title>, which also contains a subset of elements. What distinguishes Tite from
     other TEI customizations is that Tite is meant to prescribe <emph>exactly one</emph> way of
     encoding a particular feature of a document in as many cases as possible, ensuring that any two
     encoders would produce the same XML document for a source document.</p>

    <p>This document specifies how a source document should be encoded using TEI Tite. Its
     organizing model is roughly the structure of a TEI document itself, and it proceeds from
     high-level features to low, starting with general requirements, text structure, directions on
     when to group texts, considerations about type of text (genre and format), continuing down to
     instructions on marking phrase-level features, reference systems, and so forth. In its original
     ODD (one document does-it-all) format, this document can generate everything necessary for
     working in TEI Tite: both documentation (this Tite-specific prose as well as the full technical
     documentation for each of its elements) and schemas in either W3C Schema, RELAX NG, or XML DTD.
     Software utilities, including the <ref target="http://www.tei-c.org/Roma/">Roma web tool</ref>,
     can generate these.</p>

    <p>Tite uses a subset of the TEI's elements, except for a few shortcut elements for the
     convenience of use by vendors (<gi>b</gi>, <gi>i</gi>, <gi>ul</gi>, <gi>sup</gi>, <gi>sub</gi>,
      <gi>smcap</gi>, <gi>colShift</gi> and <gi>ornament</gi>) which can be transformed to normal TEI
     elements. Tite is also not a TEI-conformant customization since it breaks the TEI Abstract
     Model by omitting <gi>teiHeader</gi> for encoder convenience. That is, Tite was created
     primarily by <emph>removing</emph> elements and attributes from the TEI, and not from extensive
      <emph>modification</emph>. As a TEI customization, Tite inherits TEI semantics, and ambiguity
     in this specification should be resolved with reference to the <ref
      target="http://www.tei-c.org/Guidelines">TEI Guidelines</ref>. What makes Tite distinct is
     that where the TEI in general is famously tolerant of multiple methods of encoding a given
     feature, Tite seeks uniformity of encoding through constraint, via its stripped-down tag set
     and via this specification.</p>

    <p>Tite can be used to encode printed prose, poetry, drama, newspapers, and anything else which
     can be described with the basic TEI building-blocks of divisions, paragraphs, line groups, and
     speeches.</p>

    <p>In this documentation, <term>document</term> refers generally to the item (book, pamphlet,
     newspaper, etc.) to be encoded and <term>text</term> to either linguistic (as opposed to
     graphic) material or a logically distinct literary unit.</p>

   </div>
   <div type="section" xml:id="genreq">
    <head>General Requirements</head>
    <div type="subsection" xml:id="capture">
     <head>What to Capture</head>
     <p> All printed material should be captured: all text (that is, printed characters) should be
      transcribed and the presence of graphical items or other non-transcribable elements should be
      indicated with markup.
      <!-- April 2009, PJT
      Normally <mentioned>text</mentioned> is understood to mean text in a
      Western character set, but this will be negotiated for each job.  The
      presence of text in character sets outside the current scope should be
      indicated with the <gi>gap</gi> element.</p>
      -->
     </p>
    </div>
    <div type="subsection" xml:id="e-o-l">
     <head>End-of-line Hyphens</head>

     <p> A distinction should be maintained in the electronic transcription between end-of-line or
       <soCalled>soft</soCalled> hyphens (an artifact of page layout) and <soCalled>hard</soCalled>
      hyphens (a linguistic feature). The former should be transcribed as the SOFT HYPHEN (U+00AD)
      character; the latter, as the HYPHEN-MINUS (U+002D) character generally available on Western
      keyboards. In the rare case of coincidence of the two types — where a word that is normally
      hyphenated is split across a line break at its hyphen — the hyphen should be considered hard,
      and transcribed as the HYPHEN-MINUS.</p>

    </div>
    <div type="subsection" xml:id="charcode">
     <head>Character Encoding</head>
     <p>Characters should be encoded in UTF-8. For characters not easily input from the keyboard,
      use hexadecimal numeric entities (e.g. é, the small latin e with acute accent, is represented
      as &amp;#x00E9;).</p>
    </div>
    <div type="subsection" xml:id="accuracy">
     <head>Accuracy and Verification</head>
     <p> The standard for accuracy of transcription should be at least 99.99% (1 error in 10,000
      characters). The sample size for verification will be 5% of the total text.</p>
    </div>
    <div type="subsection" xml:id="vendnotes">
     <head>Documenting the Encoding Process</head>
     <p>Almost surely, difficult encoding situations will arise whose resolution may not be covered
      by this documentation or the TEI Guidelines. In such cases, it is important to document the
      markup choices that are made. To this end each encoded file should be accompanied by a
      document with such notes. These notes should reference features of a document that seem
      remarkable to encoders and how these were handled by encoders.</p>
    </div>
   </div>
   <div type="section" xml:id="globalstruct">
    <head>Global Text Structure</head>
    <div type="subsection" xml:id="teistruct">
     <head>TEI Tite text structure</head>
     <p>In TEI Tite, <gi>text</gi> is the root element, containing front matter, the body of the
      text, and back matter. <egXML xmlns="http://www.tei-c.org/ns/Examples">
       <text xml:id="unique-identifier">
        <front>
         <!-- front matter -->
        </front>
        <body>
         <!-- body of text -->
        </body>
        <back>
         <!-- back matter -->
        </back>
       </text>
      </egXML>
     </p>
     <p>The <gi>text</gi>'s <att>xml:id</att> attribute should contain a unique identifier for the
      document being encoded. </p>
     <p>Tite omits the <gi>teiHeader</gi> element as a convenience to transcribers. This departs
      from normal TEI practice, which requires <gi>TEI</gi> as the root element, containing
       <gi>teiHeader</gi> and <gi>text</gi> elements. In order to bring a document encoded in TEI
      Tite into adherence with the TEI Abstract Model, projects should add a teiHeader before
      engaging in post-transcription processing.
      <!-- Shd say more? : May 09 PJT
        (Note that this simplification breaks with the TEI abstract model.)
        -->
     </p>

    </div>
    <div type="subsection" xml:id="group">
     <head>Groups of Texts</head>
     <p> A document should be encoded as a group of texts only when each member of the group
      contains its own front or back matter (most often, a separate title page). In this case the
       <gi>group</gi> element should be a child of the <gi>text</gi> element, and should contain
      child <gi>text</gi> elements each containing a <gi>front</gi>, <gi>body</gi>, and
       <gi>back</gi> (each <gi>text</gi> need not have both front and back matter, but should have
      at least one). Note that this group of texts will still have its own front and back matter.
      When dealing with a group of texts, the basic TEI text structure is modified to look like:
       <egXML xmlns="http://www.tei-c.org/ns/Examples">
       <text>
        <front>
         <!-- front matter for the group -->
        </front>
        <group>
         <text>
          <front>
           <!-- front matter of first text -->
          </front>
          <body>
           <!-- body of first text -->
          </body>
          <back>
           <!-- back matter of first text -->
          </back>
         </text>
         <text>
          <front>
           <!-- front matter of second text -->
          </front>
          <body>
           <!-- body of second text -->
          </body>
          <back>
           <!-- back matter of second text -->
          </back>
         </text>
         <!-- more texts or groups of texts here -->
        </group>
        <back>
         <!-- back matter for the group -->
        </back>
       </text>
      </egXML></p>
     <p> In cases where a document appears to contain a group of texts but the above condition is
      not met, encode each unit as a (numbered) <gi>div</gi> with an appropriate <att>type</att>
      attribute.</p>
    </div>
    <div type="subsection" xml:id="div">
     <head>Structural Divisions</head>
     <p>Tite uses numbered divisions: <gi>div1</gi> through <gi>div7</gi>, which stand for levels of
      nesting within a text. <gi>div1</gi>s nest inside or are contained by the <gi>front</gi>,
       <gi>body</gi>, and <gi>back</gi> elements, <gi>div2</gi>s nest inside or are contained by
       <gi>div1</gi>s, etc. The document's table of contents is often a good place to find cues
      about where structural divisions start and end; other cues can be blank pages, recurring
      typographical or ornamental features, or a numbering system ("Chapter 5" etc.). Also, the
      presence of a heading will often indicate the beginning of a division.</p>

     <p>The <att>type</att> attribute should be used to express the type of division being marked.
      Where present, use a name for division type given in the document itself. Though any
      constrained enumerated list of <att>type</att> values will have to be determined on a
      job-by-job basis, some examples of appropriate division types are: <list>
       <item>
        <val>act</val>
       </item>
       <item>
        <val>article</val>
       </item>
       <item>
        <val>book</val>
       </item>
       <item>
        <val>chapter</val>
       </item>
       <item>
        <val>essay</val>
       </item>
       <item>
        <val>letter</val>
       </item>
       <item>
        <val>part</val>
       </item>
       <item>
        <val>scene</val>
       </item>
       <item>
        <val>section</val>
       </item>
       <item>
        <val>subsection</val>
       </item>
      </list>
     </p>
     <p>When a heading is present, encode it with the <gi>head</gi> element. If there is more than
      one heading at the beginning of a given division, encode each heading with its own
       <gi>head</gi> element, using the <att>type</att> attribute to distinguish them. Appropriate
      values are: <list>
       <item>
        <val>main</val>
       </item>
       <item><val>sub</val> (subtitle)</item>
       <item><val>alt</val> (alternate)</item>
       <item><val>desc</val> (descriptive)</item>
      </list>
     </p>
     <p>The <att>n</att> attribute should be used to record sequential labels associated with a
      structural division (numbers, numerals, letters). When present, these labels should also be
      transcribed within the content of <gi>head</gi> element. For instance: <egXML
       xmlns="http://www.tei-c.org/ns/Examples">
       <div1 n="III" type="part">
        <head>III: It Awakes</head>
        <!-- ... -->
       </div1>
      </egXML></p>
     <div type="subsubsection" xml:id="nondivs">
      <head>False Indicators</head>
      <p>A <term>divisional title</term> is a page that resembles a half-title page: it displays the
       title or heading of a major structural unit on an otherwise blank page. <term>Divisional
        titles</term> should be encoded not with a separate <gi>div</gi> element, but as a
        <gi>head</gi> within the appropriate <gi>div</gi>. For <term>half-title pages</term> and
       similar <term>fly-title pages</term> see the section on <ref target="#frontback">Front
        Matter</ref>.</p>
      <p>Another potential false indication of a new structural division is an <term>ornament</term>
       used as an informal division: a printer's ornament of some sort, a string of asterisks or
       periods, or a horizontal line. Mark these with the special <gi>ornament</gi> element. If the
       ornament is a horizontal line or printer's device or otherwise not transcribable, make the
       element empty and include an appropriate <att>type</att> attribute (<val>line</val> or
        <val>ornament</val>); if the ornament is made up of characters, transcribe the characters
       into the <gi>ornament</gi>'s content.</p>
     </div>
    </div>
    <div type="subsection" xml:id="frontback">
     <head>Front and Back Matter</head>
     <p>Front and back matter should be encoded with the <gi>front</gi> and <gi>back</gi> elements,
      respectively. <gi>div1</gi> elements should contain the major sections and should be
      characterized by <att>type</att> attribute values. The exception, however, is the title page,
      which should be encoded with the <gi>titlePage</gi> element and its children. The
       <gi>titlePart</gi> element should have a <att>type</att> attribute with one of the following
      values: <list>
       <item>
        <val>main</val>
       </item>
       <item><val>sub</val> (subtitle)</item>
       <item><val>desc</val> (descriptive title)</item>
       <item><val>alt</val> (alternate title)</item>
       <item><val>volume</val> (volume information)</item>
      </list>
      <tag>titlePart type="volume"</tag> should be used to encode volume information wherever it is
      found on the title page, even if it is separated from the other title information. The
      elements that make up the <gi>titlePage</gi> content model are: <gi>graphic</gi>,
       <gi>byline</gi>, <gi>epigraph</gi>, <gi>docTitle</gi>, <gi>titlePart</gi>,
      <gi>docAuthor</gi>, <gi>docEdition</gi>, <gi>docImprint</gi>, <gi>docDate</gi>,
       <gi>figure</gi>, <gi>ornament</gi>. </p>
     <p>Information on the verso of the title page should be included as well (after a
      <gi>pb</gi>).</p>
     <p>Common items to encode in front and back matter -- and therefore common <att>type</att>
      attribute values for <gi>front</gi> and <gi>back</gi> divisions are: <list>
       <head>front</head>
       <item>acknowledgements</item>
       <item>advertisement</item>
       <item>castlist</item>
       <item>contents</item>
       <item>dedication</item>
       <item>fly-title</item>
       <item>foreword</item>
       <item>introduction</item>
       <item>preface</item>
      </list>
      <list>
       <head>back</head>
       <item>appendix</item>
       <item>bibliography</item>
       <item>colophon</item>
       <item>glossary</item>
       <item>index</item>
      </list>
     </p>
     <p><term>Half-title</term> and <term>fly-title</term> pages may be encountered in the front
      matter. A <term>half-title</term> page precedes the title page proper and sometimes includes
      volume or series information; a <term>fly-title</term> page comes at the very end of the front
      matter, just before the body. In the case of half-titles, encode these as <tag>div1
       type="half-title"</tag> (with <gi>titlePart</gi> elements as appropriate); in the case of
      fly-titles, encode them likewise with <tag>div1 type="fly-title"</tag>, making sure to make
      the fly-title division the last part of the front matter (and not the first part of the body,
      as may seem reasonable as well). </p>
    </div>
   </div>
   <div type="section" xml:id="genre">
    <head>Types of Text</head>
    <p>Tite is equipped to support basic encoding of several types of text: in terms of genre, it
     supports prose, verse, and drama, and in terms of format, it supports books, newspapers,
     pamphlets, and other similar printed material. Tite has special elements for letters, verse,
     drama, and newspapers.</p>
    <div type="subsection" xml:id="letters">
     <head>Letters</head>
     <p><gi>opener</gi> and <gi>closer</gi> are elements designed to encode the beginning and ending
      sections of letters, prefaces, diary entries, or other personal types of writing. Both
      elements contain: <list>
       <item><gi>dateline</gi>: for recording time and place of composition; use <gi>date</gi> with
         <att>when</att> value (in W3C format as in the TEI Guidelines) to record date information</item>
       <item><gi>signed</gi>: for recording a signature</item>
       <item><gi>salute</gi>: for recording salutation at the beginning ("Dear Roger,") or end
        ("Yours truly,")</item>
      </list>
     </p>
     <p>
      <gi>opener</gi> contains the additional elements <gi>epigraph</gi>, <gi>argument</gi>, and
       <gi>byline</gi>. <gi>epigraph</gi> will often be useful in the context of a letter. When
      encoding an epigraph, make sure to encode the content as you would any other feature, marking
      line groups, bibliographical elements, etc. </p>
     <p><gi>argument</gi> and <gi>byline</gi>, however, are not intended specifically for use with
      letters: <list>
       <item><gi>argument</gi>: for a summary that precedes a division</item>
       <item><gi>byline</gi>: for a statement of responsibility for the document</item>
      </list>
     </p>
    </div>
    <div type="subsection" xml:id="verse">
     <head>Verse</head>
     <p>All verse should be encoded within at least one <gi>lg</gi> element, even when there are no
      distinct stanzas or when the verse is interspersed with prose. If it is known, use the
       <att>type</att> attribute to express the type of line group. Sometimes within a poem there is
      a question about what should be tagged as a <gi>lg</gi> or as a separate <gi>div</gi>. As a
      rough rule of thumb, if there is a title accompanying the division, use the <gi>div</gi>
      element; otherwise, use <gi>lg</gi>.</p>
     <p> Each line of verse should be encoded with the <gi>l</gi> element, and care should be taken
      to distinguish these logical lines of verse from lines motivated by page layout. The latter
      should be encoded as <gi>lb</gi>s. Thus <eg rend="pre">
       <![CDATA[
AS virtuous men pass mildly away,  
   And whisper to their souls to 
go,  
Whilst some of their sad friends 
do say, 
   "Now his breath goes," and 
some say, "No."  
]]>
      </eg> should be encoded as <egXML xmlns="http://www.tei-c.org/ns/Examples">
       <lg type="stanza">
        <l>AS virtuous men pass mildly away,</l>
        <l rend="indent(1)">And whisper to their souls to<lb/> go,</l>
        <l>Whilst some of their sad friends<lb/> do say,</l>
        <l rend="indent(1)">"Now his breath goes," and<lb/> some say, "No."</l>
       </lg>
      </egXML> Also, as in the example above, use the <att>rend</att> attribute to mark when a line
      is indented more than its siblings. Use <soCalled>numbered</soCalled> indent values (e.g.
       <q>indent(1)</q>, <q>indent(2)</q>, etc.) to make clear levels of indentation.</p>

    </div>
    <div type="subsection" xml:id="drama">
     <head>Drama</head>
     <p>The standard TEI elements for drama should be used: <gi>sp</gi>, <gi>stage</gi>,
       <gi>speaker</gi>. If the <att>who</att> attribute is used on <gi>sp</gi>, also transcribe who
      is given as the speaker, in whatever form it is written, in the <gi>speaker</gi> element.
      Short pieces of stage direction that accompany the speaker designation may be included in the
       <gi>speaker</gi> element. </p>
     <p>Scenes and acts should be encoded as appropriately nested <gi>div</gi> elements with
       <att>type</att> attributes of <val>scene</val> or <val>act</val>, respectively. Cast lists
      can likewise be encoded using <gi>div</gi> and <code>type="castlist"</code>. </p>
     <p>Prologues and epilogues can be treated as <gi>sp</gi>s of their own, unless their structure
      would be better represented by nested <gi>div</gi> elements. </p>
    </div>
    <div type="subsection" xml:id="newspaper">
     <head>Newspapers</head>
     <p>Tite includes the elements <gi>colShift</gi> and <gi>cb</gi> which are well suited for the
      multi-column layout of newspapers. Additional relevant elements are: <gi>ref</gi>, to encode a
      pointer to the continuation of a story in a different column or on a different page; and
       <gi>figure</gi>, to describe illustrations, advertisements, and cartoons.</p>
     <!-- This may have to be re-visited. March 2009, PJT
     <p>Decisions about how to render the layout in markup may not be well addressed 
        here, but as an example of project-specific specifications see the <ref
       target="http://pogo.lib.virginia.edu/dlps/public/text/vendor/vendor.html"
       >University of Virginia Library's documentation</ref>. </p>
      -->
    </div>
   </div>
   <div type="section" xml:id="block">
    <head>Block-level Features</head>
    <div type="subsection" xml:id="block-quote">
     <head>Block Quotations</head>
     <p>Use the <gi>q</gi> element to encode block quotations. A block quotation is indicated by its
      being set off from surrounding text either with extra line-spacing or margins or with a
      different typeface. If the quotation is of an entire text, use the <gi>floatingText</gi>
      element and its children inside the <gi>q</gi> element: <egXML
       xmlns="http://www.tei-c.org/ns/Examples">
       <div1 type="intro">
        <p><!-- ... --></p>
        <q>
         <floatingText>
          <body>
           <lg type="poem">
            <!-- poem -->
           </lg>
          </body>
         </floatingText>
        </q>
        <p><!-- ... --></p>
       </div1>
      </egXML>
     </p>
     <p>If present, transcribe all quotation marks or other delimiters inside the <gi>q</gi>
      element.</p>
    </div>
    <div type="subsection" xml:id="figures">
     <head>Figures</head>
     <p>Use the <gi>figure</gi> element to encode figures. If a figure has a heading or caption,
      encode it with the <gi>head</gi> element. If there is associated text, simply use a <gi>p</gi>
      to encode it. </p>
    </div>
    <div type="subsection" xml:id="tableslists">
     <head>Tables and Lists</head>
     <p>Tables and lists are encoded as in the TEI Guidelines, but note the following.</p>
     <p>If a cell in a table is a heading or a label, set the <att>role</att> attribute to
       <val>label</val>; if the cell contains data, there is no need to use <att>role</att>:
       <val>data</val> is the default. If a cell or row spans more than one column or row, use the
       <att>rows</att> or <att>cols</att> attributes set to the number of columns or rows that it
      spans. </p>
     <p>If unsure about whether a structure is best encoded as a list or table, record it as a table
      only if it would not be properly understood without tabular layout. </p>
     <p>Lists should be encoded as either sequences of <gi>items</gi> or
       <gi>label</gi>-<gi>item</gi> pairs. When items in the list contain a label, as in a gloss
      list, be sure to use the latter form. </p>
    </div>
    <div type="subsection" xml:id="notes">
     <head>Notes</head>
     <p>Both the reference to the note in the running text and the note itself must be encoded. Use
       <gi>ptr</gi> or <gi>ref</gi> to encode the reference. If there is no reference in the text
      (often the case for marginal notes), supply a <gi>ptr</gi> element in a reasonable place in
      the text running beside the note. If there is a reference (number, symbol, etc.), use the
       <gi>ref</gi> element and include the reference text as the content. In both cases, a
       <att>target</att> attribute must be supplied which contains the <att>xml:id</att> value of
      the associated <gi>note</gi>. </p>
     <p>When encoding the note itself with the <gi>note</gi> element, the <att>xml:id</att> and
       <att>place</att> attributes must be supplied. See the TEI documentation for acceptable values
      for <att>place</att>; the most common will be <val>foot</val>, <val>end</val>,
       <val>margin-left (-right, -top, -bot)</val>.</p>
     <p>Transcribe the note directly after it is referenced in the document. In the case of notes
      without explicit reference (pointed to with <gi>ptr</gi>), set the <att>anchored</att>
      attribute to <val>false</val>.</p>
    </div>
    <div type="subsection" xml:id="divwrap">
     <head><soCalled>divWrapper</soCalled> Elements</head>
     <p>Elements that can appear at the beginning and end of structural divisions, such as
       <gi>argument</gi>, <gi>epigraph</gi>, and <gi>opener</gi>, are called
       <soCalled>divWrapper</soCalled> elements in the TEI class system. An <term>argument</term> is
      a summary of what is to come; be sure to distinguish this from a <term>heading</term>, which
      is a <emph>title</emph> for the division. If an epigraph comes with bibliographic or simple
      citation material, encode this as well. For example: <egXML
       xmlns="http://www.tei-c.org/ns/Examples">
       <epigraph>
        <cit>
         <q>"I have sworn upon the altar of God eternal hostility against every form of tyranny over
          the mind of man."</q>
         <bibl>
          <author>Thomas Jefferson.</author>
         </bibl>
        </cit>
       </epigraph>
      </egXML>
     </p>
    </div>
    <div type="subsection" xml:id="ab">
     <head>Uncertain Blocks</head>
     <p>In rare cases where the logical identity of a block-level element is hard to discern, use
      the TEI element <gi>ab</gi> (anonymous block) instead of applying a <gi>p</gi> or <gi>div</gi>
      element. In these cases, be sure to document this decision in accompanying notes.
       <emph>Applying this element should be viewed as a last resort.</emph></p>
     <p>The <gi>gap</gi> element should be used when for some reason the document being transcribed
      contains illegible text (smudged, torn, missing, etc.) or something outside the scope of
      transcription for a given project: characters in an unsupported character set, for instance.
       <gi>gap</gi> indicates that something is omitted. When using <gi>gap</gi>, set the
       <att>reason</att> attribute to an appropriate value. (See <ref target="#seg">
       <gi>unclear</gi>
      </ref> below.)</p>
    </div>
   </div>
   <div type="section" xml:id="phrase">
    <head>Phrase-level Features</head>
    <div type="subsection" xml:id="typographical">
     <head>Typographical Changes</head>
     <p>There are six elements in Tite that capture specific typographical features: <list>
       <label>
        <gi>b</gi>
       </label>
       <item>for bold-face glyphs</item>
       <label>
        <gi>i</gi>
       </label>
       <item>for italicized glyphs</item>
       <label>
        <gi>ul</gi>
       </label>
       <item>for underlined glyphs</item>
       <label>
        <gi>smcap</gi>
       </label>
       <item>for glyphs in small-caps</item>
       <label>
        <gi>sub</gi>
       </label>
       <item>for glyphs in subscript</item>
       <label>
        <gi>sup</gi>
       </label>
       <item>for glyphs in superscript</item>
      </list> These mark the physical change, and are agnostic about a logical motivation for it.
      There are two exceptions to this approach, however: marking foreign words and titles. In the
      case of foreign words, use the <gi>foreign</gi> element; in the case of titles, use the
       <gi>title</gi> element only if certain that the word or phrase in question is a title. If a
      phrase is, say, italicized, but you are uncertain about its being a title, use the <gi>i</gi>
      element instead. Foreign words should be marked only if they are typographically distinguished
      from surrounding text.</p>
     <p>In addition, the <gi>handshift</gi> element may be used within the body of a transcription
      to indicate where a change of hand is detected for whatever reason.</p>
     <p>If there is a typographical feature not covered by the above elements, the TEI <gi>hi</gi>
      element is still available in Tite. Use it without a <att>rend</att> attribute.</p>
    </div>
    <div type="subsection" xml:id="phrase-quote">
     <head>Phrase-level Quotation</head>
     <p>For passages set off by quotation marks or another delimeter, use the <gi>q</gi> element,
      including the delimeter inside the tag.</p>
    </div>
    <div type="subsection" xml:id="align">
     <head>Alignment and Indentation</head>
     <p>If the alignment of an element seems remarkable, set the element's <att>rend</att> attribute
      to an appropriate value (normally <val>center</val>, <val>right</val>, <val>left</val>, etc.).
      However, when semantic already accounts for its cause, description of alignment is not
      necessary. Headings, for instance, do not need to be marked as being centered.</p>
     <p>To indicate level of indentation (often in verse), use numerical <q>arguments</q> to
       <q>indent</q>, as in <val>indent(1)</val>, <val>indent(-1)</val>, and so on. </p>
    </div>
    <!-- Seems unnecessary to me now. April 2009, PJT
    <div type="subsection" xml:id="punctuation">
     <head>Punctuation</head>
     <p>Standard keyboard punctuation marks should suffice for transcribing
      document punctuation.</p>
    </div>
    -->
    <div type="subsection" xml:id="seg">
     <head>Uncertain Segments</head>
     <p>The <gi>seg</gi> element is the phrase-level analogue to the <gi>ab</gi> element. If a
      phrase-level feature seems to be present but its identity is hard to fathom, use this element.
      This, again, is a last resort.</p>
     <p>Alternately, when a passage of text is for some reason too hard to read, use the
       <gi>unclear</gi> element, setting the <att>reason</att> attribute to an appropriate value.
      When using <gi>unclear</gi>, surround the entire word with the tag if any part of it is
      unclear (not just the illegible letter, say).</p>
    </div>
    <div type="subsection" xml:id="g">
     <head>Unknown Glyphs</head>
     <p>For cases in which it is unknown which character a given glyph corresponds to, mark the
      glyph with the <gi>g</gi> element to indicate the uncertainty. By convention in Tite,
       <gi>g</gi> represents any unknown glyph; no <att>ref</att> attribute is necessary. Note that
      unknown glyphs are different from <emph>illegible</emph> text. </p>
    </div>
   </div>
   <div type="section" xml:id="reference">
    <head>Reference Systems</head>
    <p>Encode page breaks (<gi>pb</gi>) at the <emph>start</emph> of each page, and encode breaks
     even for blank pages. If the page is numbered, include the page number as the value of the
      <att>n</att> attribute and, again, no matter where the page number is printed on the page,
     place the <gi>pb</gi> element at the <q>top.</q></p>
    <p>If marking column breaks, follow the same rules as for page breaks. Column breaks are
     imagined to appear at the <emph>top</emph> of the column, at the beginning of the column's
     text. The <gi>colShift</gi> element exists to record a change in columnar layout. If such a change
     occurs, mark the beginning of the new layout with <gi>colShift</gi> and supply the new number of
     columns as the value for the <att>n</att> attribute.</p>
    <p>For many applications, it will not be important to capture line breaks in ordinary prose text, 
     but in cases where they are purposeful (such as the layout of acrostics, or where a word is 
     broken across a line),     they should be captured using the <gi>lb</gi> element, placing it at 
     the start of each line.</p>

   </div>
  </body>
  <back>
   <head>Appendices</head>
   <div xml:id="tei-in-lib-bpg">
    <head>TEI Tite and the <title>Best Practices for TEI in Libraries</title></head>
    <p>The <title><ref target="http://purl.oclc.org/NET/teiinlibraries">Best Practices for TEI in
       Libraries</ref></title> ("BP") creates common definitions of <q>levels of encoding</q> based
     on depth of markup applied. Because the levels of encoding provide a tremendously useful common
     set of terms, it's helpful to situate TEI Tite according to them.</p>
    <p>Mapped to BP levels, TEI Tite would sit between Level 3 and Level 4: it requires use of all
     the elements from Level 3 plus additional ones, but requires fewer elements than Level 4.
     Relative to Level 3, <q>Simple Analysis,</q> Tite <list>
      <item>encourages the use of the <att>rend</att> attribute on typographically distinct text
       (marked with <gi>hi</gi>), implicitly, through the provision of convenience elements
        (<gi>i</gi>, <gi>b</gi>, etc.), and it provides the <gi>title</gi> and <gi>foreign</gi>
       elements for semantic markup of typographically distinct phrases; in level 3, the
        <att>rend</att> attribute is optional, and <gi>title</gi> and <gi>foreign</gi> are not
       provided </item>
      <item>provides some genre-specific elements in addition to those for verse that level three
       also provides (<gi>lg</gi>, <gi>l</gi>): <gi>sp</gi>, <gi>speaker</gi>, and <gi>stage</gi>
       for drama, the <gi>colShift</gi> element especially for newspapers. </item>
     </list>
    </p>
    <p>The most useful comparison for Tite is to Level 4 (<q>Basic Content Analysis</q>), provides
     the most useful comparison. The folowing items represent instances where Tite is
      <emph>less</emph> ambitious than Level 4: <list>
      <item>except in the case of the <gi>foreign</gi> and <gi>title</gi> elements, it is preferred
       in Tite to describe typographical changes physically, rather than semantically; Tite uses
        <gi>i</gi>, <gi>b</gi>, etc. where level four uses <gi>emph</gi>, <gi>gloss</gi>,
        <gi>term</gi>
      </item>
      <item>Tite provides only <gi>q</gi> for quoted material, where level four is more
       discriminating, using <gi>quote</gi>, <gi>said</gi>, <gi>mentioned</gi>, <gi>soCalled</gi>
      </item>
      <item>Tite doesn't provide elements for editorial intervention, as level four does:
        <gi>choice</gi>, <gi>sic</gi>, <gi>corr</gi>
      </item>
      <item>Tite doesn't provide entity-specific naming elements, like <gi>persName</gi>,
        <gi>placeName</gi>, <gi>orgName</gi> and their list- (<gi>listPerson</gi>, etc.) forms
      </item>
     </list> Bringing Tite-encoded documents up to BP Level 4 would simply require application of
     additional markup, not significant reworking of markup, and in that way Tite is compatible with
     the BP.</p>
    <p>Do also keep in mind that Tite lacks both the <gi>teiHeader</gi> and root <gi>TEI</gi>
     element used in TEI-conformant documents.</p>
   </div>

   <div xmlns="http://www.tei-c.org/ns/1.0">
    <head>Formal specification</head>

    <schemaSpec ident="tei_tite" xmlns="http://www.tei-c.org/ns/1.0"
     docLang="en" start="text" targetLang="en">

     <moduleRef key="tei"/>

     <!-- class modifications: the following classes are removed -->
     <classSpec ident="att.ascribed" mode="delete" module="tei" type="atts"/>
     <!-- removes @who -->

     <classSpec ident="att.breaking" mode="delete" module="tei" type="atts"/>
     <!-- removes @break -->

     <classSpec ident="att.canonical" mode="delete" module="tei" type="atts"/>
     <!-- removes @key @ref -->

     <classSpec ident="att.datable.iso" mode="delete" module="tei" type="atts"/>
     <!-- only w3c datatypes supported -->

     <classSpec ident="att.datable.w3c" mode="change" module="tei" type="atts">
      <!-- only @when @from @to required, so...  -->
      <attList>
       <attDef ident="notBefore" mode="delete"/>
       <attDef ident="notAfter" mode="delete"/>
      </attList>
     </classSpec>

     <classSpec ident="att.datable" mode="change" module="tei" type="atts">
      <!-- only @when @from @to required, so...  -->
      <attList>
       <attDef ident="period" mode="delete"/>
</attList></classSpec>

     <classSpec ident="att.declaring" mode="delete" module="tei" type="atts"/>
     <!-- removes @decls -->

     <classSpec ident="att.dimensions" mode="delete" module="tei" type="atts">
      <!-- leave only @extent -->
      <attList>
       <attDef ident="unit" mode="delete"/>
       <attDef ident="quantity" mode="delete"/>
       <attDef ident="precision" mode="delete"/>
       <attDef ident="scope" mode="delete"/>
      </attList>
     </classSpec>

     <classSpec ident="att.duration" mode="delete" module="tei" type="atts"/>
     <!-- removes @dur -->

     <classSpec ident="att.internetMedia" mode="delete" module="tei" type="atts"/>
     <!-- removes @mimeType -->

     <classSpec ident="att.naming" mode="delete" module="tei" type="atts"/>
     <!-- removes @role and @nymRef -->

     <classSpec ident="att.placement" mode="delete" module="tei" type="atts"/>
     <!-- removes @place -->

     <classSpec ident="att.ranging" mode="delete" module="tei" type="atts"/>
     <!-- removes @atLeast @atMost @min @max -->

     <classSpec ident="att.responsibility" mode="delete" module="tei" type="atts"/>
     <!-- removes @atLeast @cert @resp -->

     <classSpec ident="att.edition" mode="delete" module="tei" type="atts"/>
     <!-- removes @ed @edRef -->

     <classSpec ident="att.spanning" mode="delete" module="tei" type="atts"/>
     <!-- removes @spanTo -->

     <classSpec ident="att.translatable" mode="delete" module="tei" type="atts"/>
     <!-- removes @version -->

     <classSpec ident="att.divLike" mode="delete" module="tei" type="atts"/>
     <!-- removes @org @sample @part -->

     <classSpec ident="att.editLike" mode="delete" module="tei" type="atts"/>
     <!-- removes @evidence @source -->

     <classSpec ident="att.global" type="atts" mode="change" module="tei">
      <attList>
       <attDef ident="xml:base" mode="delete"/>
      </attList>
     </classSpec>
     <classSpec ident="att.global.rendition" type="atts" mode="change" module="tei">
      <attList>
       <attDef ident="rendition" mode="delete"/>
      </attList>
     </classSpec>

     <classSpec ident="att.pointing" type="atts" mode="change" module="tei">
      <attList>
       <attDef ident="evaluate" mode="delete"/>
      </attList>
     </classSpec>


     <classSpec ident="att.segLike" mode="delete" module="tei" type="atts"/>
     <!-- removes @function @part -->

     <classSpec ident="att.typed" mode="change" module="tei" type="atts">
      <attList>
       <attDef ident="subtype" mode="delete"/>
      </attList>
     </classSpec>


     <moduleRef key="textstructure"
      include="argument back body byline closer
	      dateline div1 div2  div3 div4 div5 div6 div7 docAuthor
	      docDate docEdition  docImprint docTitle epigraph
 	      floatingText front group opener postscript salute
	      signed text  titlePage titlePart trailer"/>

     <moduleRef key="figures" include="cell figure formula row table"/>

     <moduleRef key="linking" include="ab seg"/>

     <moduleRef key="gaiji" include="g"/>

     <moduleRef key="core"
      include="abbr add addrLine address author  bibl cb  cit  date del desc editor email 
      foreign  gap graphic head hi item l label lb lg list listBibl milestone name note num
  p pb ptr pubPlace publisher q ref resp respStmt sp speaker stage   time  title   unclear"/>


     <moduleRef key="transcr" include="att.global.facs handShift"/>
     <!-- add @facs, handShift -->

     <classSpec ident="att.handFeatures" mode="delete" module="transcr" type="atts"/>
     <!-- removes @scribe @scribeRef @script @scriptRef @medium @scope -->

     <elementSpec ident="pb" module="core" mode="change">
      <classes mode="change">
       <!--memberOf key="att.global"/-->
       <!--memberOf key="model.milestoneLike"/-->
       <!--<memberOf key="att.global.facs"/>-->
      </classes>
     </elementSpec>

     <!-- delete assorted attributes -->

     <elementSpec ident="date" mode="change" module="core">
      <attList>
       <attDef ident="calendar" mode="delete"/>
      </attList>
     </elementSpec>

     <elementSpec ident="time" mode="change" module="core">
      <attList>
       <attDef ident="from" mode="delete"/>
       <attDef ident="to" mode="delete"/>
       <attDef ident="extent" mode="delete"/>
      </attList>
     </elementSpec>

     <elementSpec ident="gap" mode="change" module="core">
      <attList>
       <attDef ident="hand" mode="delete"/>
       <attDef ident="agent" mode="delete"/>
      </attList>
     </elementSpec>

     <elementSpec ident="graphic" mode="change" module="core">
      <attList>
       <attDef ident="width" mode="delete"/>
       <attDef ident="height" mode="delete"/>
       <attDef ident="scale" mode="delete"/>
      </attList>
     </elementSpec>

     <elementSpec ident="l" mode="change" module="core">
      <attList>
       <attDef ident="part" mode="delete"/>
      </attList>
     </elementSpec>

     <elementSpec ident="ptr" mode="change" module="core">
      <attList>
       <attDef ident="cRef" mode="delete"/>
      </attList>
     </elementSpec>

     <elementSpec ident="ref" mode="change" module="core">
      <attList>
       <attDef ident="cRef" mode="delete"/>
      </attList>
     </elementSpec>

     <elementSpec ident="note" mode="change" module="core">
      <attList>
       <attDef ident="anchored" mode="delete"/>
       <attDef ident="targetEnd" mode="delete"/>
      </attList>
     </elementSpec>

     <elementSpec ident="unclear" mode="change" module="core">
      <attList>
       <attDef ident="hand" mode="delete"/>
       <attDef ident="agent" mode="delete"/>
      </attList>
     </elementSpec>

     <elementSpec ident="num" mode="change" module="core">
      <attList>
       <attDef ident="value" mode="delete"/>
      </attList>
     </elementSpec>

     <elementSpec ident="g" mode="change" module="gaiji">
      <attList>
       <attDef ident="ref" mode="delete"/>
      </attList>
     </elementSpec>

     <elementSpec ident="formula" mode="change" module="figures">
      <attList>
       <attDef ident="notation" mode="delete"/>
      </attList>
     </elementSpec>

     <elementSpec ident="abbr" mode="change" module="core">
      <attList>
       <attDef ident="type" mode="delete"/>
       <!-- in this case @type is explicitly supplied, sigh -->
      </attList>
     </elementSpec>

     <elementSpec ident="stage" mode="change" module="core">
      <attList>
       <attDef ident="type" mode="delete"/>
       <!-- in this case @type is explicitly supplied, sigh -->
      </attList>
     </elementSpec>

     <elementSpec ident="ab" mode="change" module="core">
      <classes>
       <!--memberOf key="att.global"/-->
       <memberOf key="model.pLike"/>
      </classes>
      <attList>
       <attDef ident="part" mode="delete"/>
      </attList>
     </elementSpec>

     <elementSpec ident="cit" mode="change" module="core">
      <classes>
       <!--memberOf key="att.global"/-->
       <memberOf key="model.quoteLike"/>
      </classes>
     </elementSpec>



     <!-- Tite additions -->
     <elementSpec ident="b" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
      <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="b"/>
      <desc  xml:lang="en" versionDate="2014-01-12">(bold) for capturing typographical feature: bold glyphs.</desc>
      <classes>
       <memberOf key="model.hiLike"/>
       <memberOf key="att.global"/>
      </classes>
      <content>
       <macroRef key="macro.paraContent"/>
      </content>
     </elementSpec>
     <elementSpec ident="i" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
      <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="i"/>
      <desc  xml:lang="en" versionDate="2014-01-12">(italics) for capturing typographical feature: italicized glyphs.</desc>
      <classes>
       <memberOf key="model.hiLike"/>
       <memberOf key="att.global"/>
      </classes>
      <content>
       <macroRef key="macro.paraContent"/>
      </content>
     </elementSpec>
     <elementSpec ident="ul" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
      <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="ul"/>
      <desc  xml:lang="en" versionDate="2014-01-12">(underline) for capturing typographical feature: underlined glyphs.</desc>
      <classes>
       <memberOf key="model.hiLike"/>
       <memberOf key="att.global"/>
      </classes>
      <content>
       <macroRef key="macro.paraContent"/>
      </content>
     </elementSpec>
     <elementSpec ident="sub" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
      <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="sub"/>
      <desc  xml:lang="en" versionDate="2014-01-12">(subscript) for capturing typographical feature: subscript glyphs.</desc>
      <classes>
       <memberOf key="model.hiLike"/>
       <memberOf key="att.global"/>
      </classes>
      <content>
       <macroRef key="macro.paraContent"/>
      </content>
     </elementSpec>
     <elementSpec ident="sup" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
      <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="sup"/>
      <desc  xml:lang="en" versionDate="2014-01-12">(superscript) for capturing typographical feature: superscript glyphs.</desc>
      <classes>
       <memberOf key="model.hiLike"/>
       <memberOf key="att.global"/>
      </classes>
      <content>
       <macroRef key="macro.paraContent"/>
      </content>
     </elementSpec>
     <elementSpec ident="smcap" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
      <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="smcap"/>
      <desc  xml:lang="en" versionDate="2014-01-12">(smallcaps) for capturing typographical feature: glyphs in small capitals.</desc>
      <classes>
       <memberOf key="model.hiLike"/>
       <memberOf key="att.global"/>
      </classes>
      <content>
       <macroRef key="macro.paraContent"/>
      </content>
     </elementSpec>

     <elementSpec ident="colShift" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
      <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="colShift"/>
      <gloss xml:lang="en" versionDate="2014-12-06">column shift</gloss>
      <desc  xml:lang="en" versionDate="2014-12-11">with the <att>cols</att> attribute is used to mark
       where a document changes columnar layout.</desc>
      <classes>
       <memberOf key="model.milestoneLike"/>
       <memberOf key="att.global"/>
      </classes>
      <content>
	<empty/>
      </content>
      <attList>
       <attDef ident="ed" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
        <desc  xml:lang="en" versionDate="2014-01-12">indicates the edition or version in which the change in columnar layout is located at
         this point</desc>
        <datatype>
         <dataRef key="teidata.word"/>
        </datatype>
       </attDef>
       <attDef ident="cols" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
        <desc  xml:lang="en" versionDate="2014-12-11">indicates the new number of columns</desc>
        <datatype>
         <dataRef key="teidata.count"/>
        </datatype>
       </attDef>
      </attList>
     </elementSpec>

     <elementSpec ident="ornament" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
      <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="ornament"/>
      <desc  xml:lang="en" versionDate="2014-01-12">for capturing typographical feature: printer's ornament, horizontal line, strings of
       asterisks or periods, etc, indicating an informal division that does not call for a new
        <gi>div</gi> element. If a horizontal rule or printer's ornament, use appropriate
        <att>rend</att> attribute and leave the element empy; if the ornament can be represented
       with characters, include these in the element.</desc>
      <classes>
       <memberOf key="model.inter"/>
       <memberOf key="model.titlepagePart"/>
       <memberOf key="att.global"/>
      </classes>
      <content>
       <textNode/>
      </content>
     </elementSpec>
    </schemaSpec>
   </div>
   <!--include xmlns="http://www.w3.org/2001/XInclude" href="tite-schemaspec.xml"/-->

   <div xml:id="acknowledgments">
    <head>Acknowledgments</head>
    <p>The TEI Tite is simply a synthesis of work done at the <list>
      <item><name>University of Michigan Digital Library Production Service</name>, </item>
      <item><name>University of Virginia Digital Library Production Service</name>, </item>
      <item>and the <name>California Digital Library</name></item>
     </list> and represented in their documents <list>
      <item><ref target="http://www.umdl.umich.edu/docs/encodingstandards.html">
        <title>Minimum standards for text capture</title>
       </ref>, </item>
      <item><ref target="http://pogo.lib.virginia.edu/dlps/public/text/vendor/vendor.html">
        <title>Text Encoding Guidelines for Keyboarding Vendors</title>
       </ref>, </item>
      <item> and <ref target="http://www.cdlib.org/inside/diglib/stwg/base/BASE_BPG.html">
        <title>CDL TEI Base Encoding Guidelines</title>
       </ref>, </item>
     </list> respectively. Many thanks to the institutions and individuals responsible for sharing
     their experience and expertise for the benefit of the TEI community at large. </p>
    <p>Also, thank you to members of the TEI Special Interest Group on Libraries who provided very
     valuable corrections and suggestions. </p>
   </div>
  </back>
 </text>
</TEI>
