Stylesheets/Test/testatts.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"
     xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:rng="http://relaxng.org/ns/structure/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Exploratory ODD for attribute classes</title>
            <author>Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
           <availability status="free">
             <p></p>
           </availability>
         </publicationStmt>
         <sourceDesc>
            <p>Written from scratch.</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
     <body>
       <schemaSpec ident="testatts" start="TEI"  source="file:///usr/share/xml/tei/odd/p5subset.xml" >
         <moduleRef key="tei"/>
         <moduleRef key="core"/>
         <moduleRef key="namesdates"/>
         <moduleRef key="linking"/>
         <moduleRef key="textstructure"/>
	 <classSpec ident="att.global" mode="change">
	   <attList>
	     <attDef ident="n" mode="delete"/>
	     <attDef ident="rend" mode="change">
	       <desc>foobar</desc>
	     </attDef>
	   </attList>
	 </classSpec>
	 <classSpec ident="att.typed" mode="change">
	   <attList>
	     <attDef ident="type" mode="change">
	       <valList mode="add" type="closed">
		 <valItem ident="A"/>
		 <valItem ident="B"/>
	       </valList>
	     </attDef>
	   </attList>
	 </classSpec>
	 <!-- four overrides for type attribute -->
	 <elementSpec ident="div" mode="change">
	   <attList>
	     <attDef ident="type" mode="replace">
	       <desc>freddy</desc>
	       <datatype>
		 <rng:data type="integer"/>
	       </datatype>
	     </attDef>
	   </attList>
	 </elementSpec>
	 <elementSpec ident="ptr" mode="change">
	   <attList>
	     <attDef ident="type" mode="change" usage="req"/>
	   </attList>
	 </elementSpec>
	 <elementSpec ident="text" mode="change">
	   <attList>
	     <attDef ident="type" mode="change">
	       <valList mode="add"  type="closed">
		 <valItem ident="A"/>
		 <valItem ident="B"/>
	       </valList>
	     </attDef>
	   </attList>
	 </elementSpec>
	 <elementSpec ident="lg" mode="change">
	   <attList>
	     <attDef ident="type" mode="change">
	       <defaultVal>A</defaultVal>
	     </attDef>
	   </attList>
	 </elementSpec>
	 <elementSpec ident="p" mode="change">
	   <attList>
	     <attDef ident="corresp" mode="change">
	       <datatype>
		 <rng:data type="integer"/>
	       </datatype>
	     </attDef>
	   </attList>
	 </elementSpec>
	 <!-- change a local attribute -->
	 <elementSpec ident="person" mode="change">
	   <attList>
	     <attDef ident="role" mode="change">
	       <valList mode="add"  type="closed">
		 <valItem ident="for"/>
		 <valItem ident="against"/>
	       </valList>
	     </attDef>
	   </attList>
	 </elementSpec>
	 <!-- change a change attribute -->
	 <elementSpec ident="editor" mode="change">
	   <attList>
	     <attDef ident="role" mode="change">
	       <valList mode="add"  type="closed">
		 <valItem ident="them"/>
		 <valItem ident="us"/>
	       </valList>
	     </attDef>
	   </attList>
	 </elementSpec>
	 <!-- delete a class attribute -->
	 <elementSpec ident="author" mode="change">
	   <attList>
	     <attDef ident="role" mode="delete">
	       <valList mode="add"  type="closed">
		 <valItem ident="for"/>
		 <valItem ident="against"/>
	       </valList>
	     </attDef>
	   </attList>
	 </elementSpec>
       </schemaSpec>
     </body>
   </text>
</TEI>
