Stylesheets/Test/test30.odd

<?xml version="1.0" encoding="utf-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Basic tests</title>
        <author>TEI Council</author>
      </titleStmt>
      <publicationStmt>
        <p/>
      </publicationStmt>
      <sourceDesc>
        <p/>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="testbasic" prefix="T" xml:lang="en" start="TEI div" xmlns:teix="http://www.tei-c.org/ns/Examples"
        defaultExceptions="http://www.tei-c.org/ns/1.0 http://www.oucs.ox.ac.uk/ns teix:egXML">
        <constraintSpec scheme="schematron" ident="outerconstraint">
          <constraint>
            <sch:rule context="tei:TEI">
              <sch:report test="count(*)=1"> I need more than 1 child for a TEI element
              </sch:report>
            </sch:rule>
          </constraint>
        </constraintSpec>
        <moduleRef key="core"/>
        <moduleRef key="tei"/>
        <moduleRef key="header"/>
        <moduleRef key="namesdates"/>
        <moduleRef key="transcr"/>
        <moduleRef key="figures"/>
        <moduleRef key="linking"/>
        <moduleRef key="textstructure"/>
        <classRef key="att.global.linking" except="synch next prev corresp"/>
        <classRef key="att.global" except="n"/>
        <elementRef key="setting"/>
        <elementRef key="settingDesc"/>
        <elementSpec ident="setting" mode="change">
          <content>
            <alternate maxOccurs="unbounded">
              <classRef key="model.nameLike.agent" except="orgName name"/>
              <classRef key="model.dateLike"/>
              <classRef key="model.settingPart"/>
            </alternate>
          </content>
        </elementSpec>

        <elementSpec ident="settingDesc" mode="change">
          <content>
            <alternate maxOccurs="unbounded">
              <classRef key="model.placeLike" include="place"/>
              <elementRef key="setting"/>
            </alternate>
          </content>
        </elementSpec>

        <elementSpec ident="platypus" mode="add">
          <classes mode="replace">
            <memberOf key="model.nameLike.agent"/>
          </classes>
          <attList>
            <attDef ident="bill">
              <datatype>
                <rng:value>duck</rng:value>
              </datatype>
              <constraintSpec scheme="schematron" ident="silly-test">
                <constraint>
                  <sch:report test="true()"> My context is <sch:value-of select="."/>
                  </sch:report>
                </constraint>
              </constraintSpec>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="div1" module="textstructure" mode="delete"/>
        <elementSpec ident="div2" module="textstructure" mode="delete"/>
        <elementSpec ident="div3" module="textstructure" mode="delete"/>
        <elementSpec ident="div4" module="textstructure" mode="delete"/>
        <elementSpec ident="div5" module="textstructure" mode="delete"/>
        <elementSpec ident="div6" module="textstructure" mode="delete"/>
        <elementSpec ident="div7" module="textstructure" mode="delete"/>
        <elementSpec ident="Menu" mode="add" ns="http://www.oucs.ox.ac.uk/ns">
          <classes>
            <memberOf key="model.pPart.data"/>
          </classes>
          <content>
            <rng:text/>
          </content>
          <attList>
            <attRef class="att.global" name="xmlid"/>
            <attRef class="att.global.rendition" name="rend"/>
          </attList>
        </elementSpec>
        <elementSpec ident="p" mode="change">
          <classes mode="replace">
            <memberOf key="model.pLike"/>
          </classes>
          <attList>
            <attRef class="att.global" name="xmlid"/>
          </attList>
        </elementSpec>
        <classSpec ident="att.global.rendition" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="rend" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="bold"/>
                <valItem ident="boxed"/>
                <valItem ident="center"/>
                <valItem ident="italic"/>
                <valItem ident="underline"/>
              </valList>
            </attDef>
          </attList>
        </classSpec>

        <elementSpec ident="title" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <datatype minOccurs="1" maxOccurs="unbounded">
                <rng:text xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
              </datatype>
              <valList mode="replace" type="semi">
                <valItem ident="biography"/>
                <valItem ident="chronology"/>
                <valItem ident="introduction"/>
                <valItem ident="project"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>

        <elementSpec ident="div" module="textstructure" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="add">
                <valItem ident="Act"/>
                <valItem ident="Scene"/>
                <valItem ident="play"/>
                <valItem ident="letter"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
