Test2/schemas/oddbyexample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tei="http://www.tei-c.org/ns/1.0"
           elementFormDefault="qualified"
           targetNamespace="http://www.tei-c.org/ns/1.0">
   <xs:import namespace="http://www.w3.org/XML/1998/namespace"
              schemaLocation="xml.tmp"/>
   <!--
    Schema generated from ODD source 2017-01-03T00:46:17Z. .
    TEI Edition: Version 3.1.0. Last updated on
    	15th December 2016, revision d3f5e70
    TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 3.1.0/
    
  -->
   <!---->
   <xs:complexType name="macro.paraContent" mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:group ref="tei:model.phrase"/>
         <xs:element ref="tei:model.global"/>
      </xs:choice>
   </xs:complexType>
   <xs:attributeGroup name="att.canonical.attributes">
      <xs:attributeGroup ref="tei:att.canonical.attribute.key"/>
      <xs:attributeGroup ref="tei:att.canonical.attribute.ref"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.canonical.attribute.key">
      <xs:attribute name="key" type="xs:string">
         <xs:annotation>
            <xs:documentation>provides an externally-defined means of identifying the entity (or entities) being named, using a coded value of some kind.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.canonical.attribute.ref">
      <xs:attribute name="ref">
         <xs:annotation>
            <xs:documentation>(reference) provides an explicit means of locating a full definition or identity for the entity being named by means of one or more URIs.</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="xs:anyURI"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.written.attributes">
      <xs:attributeGroup ref="tei:att.written.attribute.hand"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.written.attribute.hand">
      <xs:attribute name="hand" type="xs:anyURI">
         <xs:annotation>
            <xs:documentation>points to a handNote element describing the hand considered responsible for the textual content of the element concerned.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.datable.w3c.attributes">
      <xs:attributeGroup ref="tei:att.datable.w3c.attribute.when"/>
      <xs:attributeGroup ref="tei:att.datable.w3c.attribute.notBefore"/>
      <xs:attributeGroup ref="tei:att.datable.w3c.attribute.notAfter"/>
      <xs:attributeGroup ref="tei:att.datable.w3c.attribute.from"/>
      <xs:attributeGroup ref="tei:att.datable.w3c.attribute.to"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.datable.w3c.attribute.when">
      <xs:attribute name="when">
         <xs:annotation>
            <xs:documentation>supplies the value of the date or time in a standard form, e.g. yyyy-mm-dd.</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.datable.w3c.attribute.notBefore">
      <xs:attribute name="notBefore">
         <xs:annotation>
            <xs:documentation>specifies the earliest possible date for the event in standard form, e.g. yyyy-mm-dd.</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.datable.w3c.attribute.notAfter">
      <xs:attribute name="notAfter">
         <xs:annotation>
            <xs:documentation>specifies the latest possible date for the event in standard form, e.g. yyyy-mm-dd.</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.datable.w3c.attribute.from">
      <xs:attribute name="from">
         <xs:annotation>
            <xs:documentation>indicates the starting point of the period in standard form, e.g. yyyy-mm-dd.</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.datable.w3c.attribute.to">
      <xs:attribute name="to">
         <xs:annotation>
            <xs:documentation>indicates the ending point of the period in standard form, e.g. yyyy-mm-dd.</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.datable.attributes">
      <xs:attributeGroup ref="tei:att.datable.w3c.attributes"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.declarable.attributes">
      <xs:attributeGroup ref="tei:att.declarable.attribute.default"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.declarable.attribute.default">
      <xs:attribute name="default" default="false">
         <xs:annotation>
            <xs:documentation>indicates whether or not this element is selected by default when its parent is selected.</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="true">
                  <xs:annotation>
                     <xs:documentation>This element is selected if its parent is selected</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="false">
                  <xs:annotation>
                     <xs:documentation>This element can only be selected explicitly, unless it is the only one of its kind, in which case it is selected if its parent is selected.</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.declaring.attributes">
      <xs:attributeGroup ref="tei:att.declaring.attribute.decls"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.declaring.attribute.decls">
      <xs:attribute name="decls">
         <xs:annotation>
            <xs:documentation>identifies one or more declarable elements within the header, which are understood to apply to the element bearing this attribute and its content.</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="xs:anyURI"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.fragmentable.attributes">
      <xs:attributeGroup ref="tei:att.fragmentable.attribute.part"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.fragmentable.attribute.part">
      <xs:attribute name="part" default="N">
         <xs:annotation>
            <xs:documentation>specifies whether or not its parent element is fragmented in some way, typically by some other overlapping structure: for example a speech which is divided between two or more verse stanzas, a paragraph which is split across a page division, a verse line which is divided between two speakers.</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="Y">
                  <xs:annotation>
                     <xs:documentation>(yes) the element is fragmented in some (unspecified) respect</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="N">
                  <xs:annotation>
                     <xs:documentation>(no) the element is not fragmented, or no claim is made as to its completeness</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="I">
                  <xs:annotation>
                     <xs:documentation>(initial) this is the initial part of a fragmented element</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="M">
                  <xs:annotation>
                     <xs:documentation>(medial) this is a medial part of a fragmented element</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="F">
                  <xs:annotation>
                     <xs:documentation>(final) this is the final part of a fragmented element</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.global.responsibility.attributes">
      <xs:attributeGroup ref="tei:att.global.responsibility.attribute.cert"/>
      <xs:attributeGroup ref="tei:att.global.responsibility.attribute.resp"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.global.responsibility.attribute.cert">
      <xs:attribute name="cert">
         <xs:annotation>
            <xs:documentation>(certainty) signifies the degree of certainty associated with the intervention or interpretation.</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:union memberTypes="xs:double">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="high">
                        <xs:annotation>
                           <xs:documentation/>
                        </xs:annotation>
                     </xs:enumeration>
                     <xs:enumeration value="medium">
                        <xs:annotation>
                           <xs:documentation/>
                        </xs:annotation>
                     </xs:enumeration>
                     <xs:enumeration value="low">
                        <xs:annotation>
                           <xs:documentation/>
                        </xs:annotation>
                     </xs:enumeration>
                     <xs:enumeration value="unknown">
                        <xs:annotation>
                           <xs:documentation/>
                        </xs:annotation>
                     </xs:enumeration>
                  </xs:restriction>
               </xs:simpleType>
            </xs:union>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.global.responsibility.attribute.resp">
      <xs:attribute name="resp">
         <xs:annotation>
            <xs:documentation>(responsible party) indicates the agency responsible for the intervention or interpretation, for example an editor or transcriber.</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="xs:anyURI"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.global.rendition.attributes">
      <xs:attributeGroup ref="tei:att.global.rendition.attribute.rend"/>
      <xs:attributeGroup ref="tei:att.global.rendition.attribute.style"/>
      <xs:attributeGroup ref="tei:att.global.rendition.attribute.rendition"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.global.rendition.attribute.rend">
      <xs:attribute name="rend">
         <xs:annotation>
            <xs:documentation>(rendition) indicates how the element in question was rendered or presented in the source text.</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list>
                     <xs:simpleType>
                        <xs:restriction base="xs:token">
                           <xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:list>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.global.rendition.attribute.style">
      <xs:attribute name="style" type="xs:string">
         <xs:annotation>
            <xs:documentation>contains an expression in some formal style definition language which defines the rendering or presentation used for this element in the source text</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.global.rendition.attribute.rendition">
      <xs:attribute name="rendition">
         <xs:annotation>
            <xs:documentation>points to a description of the rendering or presentation used for this element in the source text.</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="xs:anyURI"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.global.source.attributes">
      <xs:attributeGroup ref="tei:att.global.source.attribute.source"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.global.source.attribute.source">
      <xs:attribute name="source">
         <xs:annotation>
            <xs:documentation>specifies the source from which some aspect of this element is drawn.</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="xs:anyURI"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.global.attributes">
      <xs:attributeGroup ref="tei:att.global.rendition.attributes"/>
      <xs:attributeGroup ref="tei:att.global.responsibility.attributes"/>
      <xs:attributeGroup ref="tei:att.global.source.attributes"/>
      <xs:attributeGroup ref="tei:att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="tei:att.global.attribute.n"/>
      <xs:attributeGroup ref="tei:att.global.attribute.xmllang"/>
      <xs:attributeGroup ref="tei:att.global.attribute.xmlbase"/>
      <xs:attributeGroup ref="tei:att.global.attribute.xmlspace"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.global.attribute.xmlid">
      <xs:attribute ref="xml:id"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.global.attribute.n">
      <xs:attribute name="n" type="xs:string">
         <xs:annotation>
            <xs:documentation>(number) gives a number (or other label) for an element, which is not necessarily unique within the document.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.global.attribute.xmllang">
      <xs:attribute ref="xml:lang"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.global.attribute.xmlbase">
      <xs:attribute ref="xml:base"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.global.attribute.xmlspace">
      <xs:attribute ref="xml:space"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.typed.attributes">
      <xs:attributeGroup ref="tei:att.typed.attribute.type"/>
      <xs:attributeGroup ref="tei:att.typed.attribute.subtype"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.typed.attribute.type">
      <xs:attribute name="type">
         <xs:annotation>
            <xs:documentation>characterizes the element in some sense, using any convenient classification scheme or typology.</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.typed.attribute.subtype">
      <xs:attribute name="subtype">
         <xs:annotation>
            <xs:documentation>provides a sub-categorization of the element, if needed</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:pattern value="(\p{L}|\p{N}|\p{P}|\p{S})+"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:group name="model.emphLike">
      <xs:sequence>
         <xs:element ref="tei:title"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="model.emphLike_alternation">
      <xs:sequence>
         <xs:element ref="tei:title"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="model.emphLike_sequence">
      <xs:sequence>
         <xs:element ref="tei:title"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="model.emphLike_sequenceOptional">
      <xs:sequence>
         <xs:element minOccurs="0" ref="tei:title"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="model.emphLike_sequenceOptionalRepeatable">
      <xs:sequence>
         <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:title"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="model.emphLike_sequenceRepeatable">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" ref="tei:title"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="model.highlighted">
      <xs:sequence>
         <xs:group ref="tei:model.emphLike"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="model.pLike">
      <xs:sequence>
         <xs:element ref="tei:p"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="model.pLike_alternation">
      <xs:sequence>
         <xs:element ref="tei:p"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="model.pLike_sequence">
      <xs:sequence>
         <xs:element ref="tei:p"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="model.pLike_sequenceOptional">
      <xs:sequence>
         <xs:element minOccurs="0" ref="tei:p"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="model.pLike_sequenceOptionalRepeatable">
      <xs:sequence>
         <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:p"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="model.pLike_sequenceRepeatable">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" ref="tei:p"/>
      </xs:sequence>
   </xs:group>
   <xs:element name="model.global.edit"
               abstract="true"
               substitutionGroup="tei:model.global"/>
   <xs:group name="model.divPart">
      <xs:sequence>
         <xs:group ref="tei:model.pLike"/>
      </xs:sequence>
   </xs:group>
   <xs:element name="model.global" abstract="true">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" ref="tei:lem"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:model.rdgLike"/>
         </xs:sequence>
         <xs:attributeGroup ref="tei:att.global.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:group name="model.common">
      <xs:sequence>
         <xs:group ref="tei:model.divPart"/>
      </xs:sequence>
   </xs:group>
   <xs:group name="model.phrase">
      <xs:sequence>
         <xs:group ref="tei:model.highlighted"/>
      </xs:sequence>
   </xs:group>
   <xs:element name="model.resourceLike" abstract="true">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:model.global"/>
            <xs:element ref="tei:body"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:model.global"/>
         </xs:sequence>
         <xs:attributeGroup ref="tei:att.global.attributes"/>
         <xs:attributeGroup ref="tei:att.declaring.attributes"/>
         <xs:attributeGroup ref="tei:att.typed.attributes"/>
         <xs:attributeGroup ref="tei:att.written.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="p">
      <xs:annotation>
         <xs:documentation>(paragraph) marks paragraphs in prose. [3.1. Paragraphs 7.2.5. Speech Contents]</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="tei:macro.paraContent">
               <xs:attributeGroup ref="tei:att.global.attributes"/>
               <xs:attributeGroup ref="tei:att.declaring.attributes"/>
               <xs:attributeGroup ref="tei:att.fragmentable.attributes"/>
               <xs:attributeGroup ref="tei:att.written.attributes"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="title">
      <xs:annotation>
         <xs:documentation>contains a title for any kind of work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement]</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="tei:macro.paraContent">
               <xs:attributeGroup ref="tei:att.global.attributes"/>
               <xs:attributeGroup ref="tei:att.canonical.attributes"/>
               <xs:attributeGroup ref="tei:att.typed.attribute.subtype"/>
               <xs:attributeGroup ref="tei:att.datable.attributes"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="app" substitutionGroup="tei:model.global.edit">
      <xs:annotation>
         <xs:documentation>(apparatus entry) contains one entry in a critical apparatus, with an optional lemma and usually one or more readings or notes on the relevant passage. [12.1.1. The Apparatus Entry]</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="lem">
      <xs:annotation>
         <xs:documentation>(lemma) contains the lemma, or base text, of a textual variation. [12.1. The Apparatus Entry, Readings, and Witnesses]</xs:documentation>
      </xs:annotation>
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="tei:model.divPart"/>
            <xs:group ref="tei:model.phrase"/>
            <xs:element ref="tei:model.global"/>
         </xs:choice>
         <xs:attributeGroup ref="tei:att.global.attributes"/>
         <xs:attributeGroup ref="tei:att.textCritical.attributes"/>
         <xs:attributeGroup ref="tei:att.witnessed.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="rdg" substitutionGroup="tei:model.rdgLike">
      <xs:annotation>
         <xs:documentation>(reading) contains a single reading within a textual variation. [12.1. The Apparatus Entry, Readings, and Witnesses]</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="teiHeader">
      <xs:annotation>
         <xs:documentation>(TEI header) supplies descriptive and declarative metadata associated with a digital resource or set of resources. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text]</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="tei:fileDesc">
               <xs:attributeGroup ref="tei:att.global.attributes"/>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="fileDesc">
      <xs:sequence>
         <xs:element ref="tei:fileDesc"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="fileDesc">
      <xs:annotation>
         <xs:documentation>(file description) contains a full bibliographic description of an electronic file. [2.2. The File Description 2.1.1. The TEI Header and Its Components]</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:sequence>
               <xs:element ref="tei:titleStmt"/>
               <xs:element ref="tei:publicationStmt"/>
            </xs:sequence>
            <xs:element maxOccurs="unbounded" ref="tei:sourceDesc"/>
         </xs:sequence>
         <xs:attributeGroup ref="tei:att.global.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="titleStmt">
      <xs:annotation>
         <xs:documentation>(title statement) groups information about the title of a work and those responsible for its content. [2.2.1. The Title Statement 2.2. The File Description]</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="tei:title"/>
         </xs:sequence>
         <xs:attributeGroup ref="tei:att.global.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="publicationStmt">
      <xs:annotation>
         <xs:documentation>(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description]</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:group maxOccurs="unbounded" ref="tei:model.pLike"/>
         <xs:attributeGroup ref="tei:att.global.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="sourceDesc">
      <xs:annotation>
         <xs:documentation>(source description) describes the source from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. The Source Description]</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:group maxOccurs="unbounded" ref="tei:model.pLike"/>
         <xs:attributeGroup ref="tei:att.global.attributes"/>
         <xs:attributeGroup ref="tei:att.declarable.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="TEI">
      <xs:annotation>
         <xs:documentation>(TEI document) contains a single TEI-conformant document, combining a single TEI header with one or more members of the model.resourceLike class. Multiple TEI elements may be combined to form a teiCorpus element. [4. Default Text Structure 15.1. Varieties of Composite Text]</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="tei:teiHeader"/>
            <xs:element maxOccurs="unbounded" ref="tei:model.resourceLike"/>
         </xs:sequence>
         <xs:attributeGroup ref="tei:att.global.attributes"/>
         <xs:attributeGroup ref="tei:att.typed.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="text" substitutionGroup="tei:model.resourceLike">
      <xs:annotation>
         <xs:documentation>contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4. Default Text Structure 15.1. Varieties of Composite Text]</xs:documentation>
      </xs:annotation>
   </xs:element>
   <xs:element name="body">
      <xs:annotation>
         <xs:documentation>(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure]</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:model.global"/>
            <xs:sequence maxOccurs="unbounded">
               <xs:group ref="tei:model.common"/>
               <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:model.global"/>
            </xs:sequence>
         </xs:sequence>
         <xs:attributeGroup ref="tei:att.global.attributes"/>
         <xs:attributeGroup ref="tei:att.declaring.attributes"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup name="att.textCritical.attributes">
      <xs:attributeGroup ref="tei:att.written.attributes"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.witnessed.attributes">
      <xs:attributeGroup ref="tei:att.witnessed.attribute.wit"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="att.witnessed.attribute.wit">
      <xs:attribute name="wit">
         <xs:annotation>
            <xs:documentation>(witness or witnesses) contains a space-delimited list of one or more pointers indicating the witnesses which attest to a given reading.</xs:documentation>
         </xs:annotation>
         <xs:simpleType>
            <xs:restriction>
               <xs:simpleType>
                  <xs:list itemType="xs:anyURI"/>
               </xs:simpleType>
               <xs:minLength value="1"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:element name="model.rdgLike" abstract="true">
      <xs:complexType mixed="true">
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="tei:model.divPart"/>
            <xs:group ref="tei:model.phrase"/>
            <xs:element ref="tei:model.global"/>
         </xs:choice>
         <xs:attributeGroup ref="tei:att.global.attributes"/>
         <xs:attributeGroup ref="tei:att.textCritical.attributes"/>
      </xs:complexType>
   </xs:element>
</xs:schema>
