p5odds-ex.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:rng="http://relaxng.org/ns/structure/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
	<title>TEI with maximal setup</title>
	<author>Sebastian Rahtz</author>
      </titleStmt>
      <publicationStmt>
	<p> </p>
      </publicationStmt>
      <sourceDesc>
	<p>authored from scratch</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
	<schemaSpec ident="p5examples" start="egXML">
	  <moduleRef key="tei"/>
	  <moduleRef key="core"/>
	  <moduleRef url="mathml2-main.rng"/>
	  <moduleRef url="relaxng.rng"/>
	  <moduleRef key="analysis"/>
	  <moduleRef key="certainty"/>
	  <moduleRef key="corpus"/>
	  <moduleRef key="declarefs"/> 
	  <moduleRef key="dictionaries"/>
	  <moduleRef key="drama"/>
	  <moduleRef key="figures"/>
	  <moduleRef key="gaiji"/>
	  <moduleRef key="header"/>
	  <moduleRef key="iso-fs"/>
	  <moduleRef key="linking"/>
	  <moduleRef key="msdescription"/>
	  <moduleRef key="namesdates"/>
	  <moduleRef key="nets"/>
	  <moduleRef key="spoken"/>
	  <moduleRef key="tagdocs"/>
	  <moduleRef key="textcrit"/>
	  <moduleRef key="textstructure"/>
	  <moduleRef key="transcr"/>
	  <moduleRef key="verse"/>
	  <elementSpec module="figures" mode="change" ident="formula">
	    <content>
	      <rng:choice>
		<rng:ref name="mathml.math"/>
		<rng:text/>
	      </rng:choice>
	    </content>
	  </elementSpec>

	  <macroSpec ident="anySchematron" mode="add">
	    <content>
	      <element xmlns="http://relaxng.org/ns/structure/1.0">
		<nsName ns="http://www.ascc.net/xml/schematron"/>
		<zeroOrMore>
		  <choice>
		    <attribute>
		      <anyName/>
		    </attribute>
		    <ref name="anySchematron"/>
		    <text/>
		  </choice>
		</zeroOrMore>
	      </element>
	    </content>
	  </macroSpec>

	  <macroSpec ident="macro.schemapattern" mode="change"
		     module="tagdocs">
	    <content>
	      <group xmlns="http://relaxng.org/ns/structure/1.0">
		<choice>
		  <text/>
		  <oneOrMore>
		    <ref name="pattern"/>
		  </oneOrMore>
		</choice>
		<zeroOrMore>
		  <ref name="anySchematron"/>
		</zeroOrMore>
	      </group>
	    </content>
	  </macroSpec>
	  <classSpec mode="change" xmlns="http://www.tei-c.org/ns/1.0" module="tei" xml:id="GLOBAL" type="atts" ident="tei.global">
	    <attList>
	      <attDef ident="xml:id" usage="opt">
		<datatype><rng:data xmlns:rng="http://relaxng.org/ns/structure/1.0" type="NMTOKEN"/></datatype>
	      </attDef>
	    </attList>
	  </classSpec>
	  <elementSpec ident="egXML" module="tagdocs" mode="change">
	    <content>
	      <group xmlns="http://relaxng.org/ns/structure/1.0">
		<zeroOrMore >
		  <choice>
		    <text/>
		    <ref name="TEI"/>
		    <ref name="ab"/>
		    <ref name="abbr"/>
		    <ref name="accMat"/>
		    <ref name="acquisition"/>
		    <ref name="activity"/>
		    <ref name="actor"/>
		    <ref name="add"/>
 <ref name="faith"/>
 <ref name="floruit"/>
 <ref name="langKnowledge"/>
 <ref name="persEvent"/>
 <ref name="persState"/>
 <ref name="persTrait"/>
 <ref name="sex"/>
 <ref name="age"/>
		    <ref name="addName"/>
		    <ref name="addSpan"/>
		    <ref name="additional"/>
		    <ref name="additions"/>
		    <ref name="addrLine"/>
		    <ref name="address"/>
		    <ref name="adminInfo"/>
		    <ref name="affiliation"/>
		    <ref name="alt"/>
		    <ref name="altGrp"/>
		    <ref name="altIdent"/>
		    <ref name="altIdentifier"/>
		    <ref name="analytic"/>
		    <ref name="anchor"/>
		    <ref name="app"/>
		    <ref name="arc"/>
		    <ref name="argument"/>
		    <ref name="att"/>
		    <ref name="attDef"/>
		    <ref name="attList"/>
		    <ref name="attRef"/>
		    <ref name="author"/>
		    <ref name="authority"/>
		    <ref name="availability"/>
		    <ref name="back"/>
		    <ref name="bibl"/>
		    <ref name="biblFull"/>
		    <ref name="biblItem"/>
		    <ref name="biblScope"/>
		    <ref name="biblStruct"/>
		    <ref name="bicond"/>
		    <ref name="binary"/>
		    <ref name="binding"/>
		    <ref name="bindingDesc"/>
		    <ref name="birth"/>
		    <ref name="bloc"/>
		    <ref name="binaryObject"/>
		    <ref name="body"/>
		    <ref name="broadcast"/>
		    <ref name="byline"/>
		    <ref name="c"/>
		    <ref name="caesura"/>
		    <ref name="camera"/>
		    <ref name="caption"/>
		    <ref name="case"/>
		    <ref name="castGroup"/>
		    <ref name="castItem"/>
		    <ref name="castList"/>
		    <ref name="catDesc"/>
		    <ref name="catRef"/>
		    <ref name="catchwords"/>
		    <ref name="category"/>
		    <ref name="cb"/>
		    <ref name="cell"/>
		    <ref name="certainty"/>
		    <ref name="change"/>
		    <ref name="channel"/>
		    <ref name="char"/>
		    <ref name="charDesc"/>
		    <ref name="charName"/>
		    <ref name="charProp"/>
		    <ref name="choice"/>
		    <ref name="cit"/>
		    <ref name="cl"/>
		    <ref name="classCode"/>
		    <ref name="classDecl"/>
		    <ref name="classSpec"/>
		    <ref name="classes"/>
		    <ref name="closer"/>
		    <ref name="code"/>
		    <ref name="collation"/>
		    <ref name="collection"/>
		    <ref name="colloc"/>
		    <ref name="colophon"/>
		    <ref name="cond"/>
		    <ref name="condition"/>
		    <ref name="constitution"/>
		    <ref name="content"/>
		    <ref name="corr"/>
		    <ref name="correction"/>
		    <ref name="country"/>
		    <ref name="creation"/>
		    <ref name="cRefPattern"/>
		    <ref name="custEvent"/>
		    <ref name="custodialHist"/>
		    <ref name="damage"/>
		    <ref name="datatype"/>
		    <ref name="date"/>
		    <ref name="dateline"/>
		    <ref name="day"/>
		    <ref name="death"/>
		    <ref name="decoDesc"/>
		    <ref name="decoNote"/>
		    <ref name="def"/>
		    <ref name="default"/>
		    <ref name="defaultVal"/>
		    <ref name="del"/>
		    <ref name="delSpan"/>
		    <ref name="depth"/>
		    <ref name="derivation"/>
		    <ref name="desc"/>
		    <ref name="dictScrap"/>
		    <ref name="dicteg"/>
		    <ref name="dimensions"/>
		    <ref name="distance"/>
		    <ref name="distinct"/>
		    <ref name="distributor"/>
		    <ref name="district"/>
		    <ref name="div"/>
		    <ref name="div0"/>
		    <ref name="div1"/>
		    <ref name="div2"/>
		    <ref name="div3"/>
		    <ref name="div4"/>
		    <ref name="div5"/>
		    <ref name="div6"/>
		    <ref name="div7"/>
		    <ref name="divGen"/>
		    <ref name="docAuthor"/>
		    <ref name="docDate"/>
		    <ref name="docEdition"/>
		    <ref name="docImprint"/>
		    <ref name="docTitle"/>
		    <ref name="domain"/>
		    <ref name="eLeaf"/>
		    <ref name="eTree"/>
		    <ref name="edition"/>
		    <ref name="editionStmt"/>
		    <ref name="editor"/>
		    <ref name="editorialDecl"/>
		    <ref name="education"/>
		    <ref name="eg"/>
		    <ref name="egXML"/>
		    <ref name="elementSpec"/>
		    <ref name="emph"/>
		    <ref name="encodingDesc"/>
		    <ref name="entry"/>
		    <ref name="entryFree"/>
		    <ref name="epigraph"/>
		    <ref name="epilogue"/>
		    <ref name="equipment"/>
		    <ref name="equiv"/>
		    <ref name="etym"/>
		    <ref name="event"/>
		    <ref name="exemplum"/>
		    <ref name="expan"/>
		    <ref name="explicit"/>
		    <ref name="extent"/>
		    <ref name="f"/>
		    <ref name="fDecl"/>		    
		    <ref name="fDescr"/>
		    <ref name="fLib"/>
		    <ref name="factuality"/>
		    <ref name="figDesc"/>
		    <ref name="figure"/>
		    <ref name="fileDesc"/>
		    <ref name="filiation"/>
		    <ref name="finalRubric"/>
		    <ref name="firstLang"/>
		    <ref name="foliation"/>
		    <ref name="forename"/>
		    <ref name="foreign"/>
		    <ref name="forest"/>
		    <ref name="forestGrp"/>
		    <ref name="form"/>
		    <ref name="formula"/>
		    <ref name="front"/>
		    <ref name="fs"/>
		    <ref name="fsConstraints"/>
		    <ref name="fsDecl"/>
		    <ref name="fsDescr"/>
		    <ref name="fsdDecl"/>
		    <ref name="funder"/>
		    <ref name="fvLib"/>
		    <ref name="fw"/>
		    <ref name="g"/>
		    <ref name="gap"/>
		    <ref name="gen"/>
		    <ref name="genName"/>
		    <ref name="geog"/>
		    <ref name="geogName"/>
		    <ref name="gi"/>
		    <ref name="gloss"/>
		    <ref name="glyph"/>
		    <ref name="glyphName"/>
		    <ref name="gram"/>
		    <ref name="gramGrp"/>
		    <ref name="graph"/>
		    <ref name="graphic"/>
		    <ref name="group"/>
		    <ref name="hand"/>
		    <ref name="handDesc"/>
		    <ref name="handList"/>
		    <ref name="handNote"/>
		    <ref name="handShift"/>
		    <ref name="head"/>
		    <ref name="headItem"/>
		    <ref name="headLabel"/>
		    <ref name="height"/>
		    <ref name="heraldry"/>
		    <ref name="hi"/>
		    <ref name="history"/>
		    <ref name="hom"/>
		    <ref name="hour"/>
		    <ref name="hyph"/>
		    <ref name="hyphenation"/>
		    <ref name="iNode"/>
		    <ref name="ident"/>
		    <ref name="idno"/>
		    <ref name="if"/>
		    <ref name="iff"/>
		    <ref name="imprimatur"/>
		    <ref name="imprint"/>
		    <ref name="incipit"/>
		    <ref name="index"/>
		    <ref name="institution"/>
		    <ref name="interaction"/>
		    <ref name="interp"/>
		    <ref name="interpGrp"/>
		    <ref name="interpretation"/>
		    <ref name="item"/>
		    <ref name="iType"/>
		    <ref name="join"/>
		    <ref name="joinGrp"/>
		    <ref name="keywords"/>
		    <ref name="kinesic"/>
		    <ref name="l"/>
		    <ref name="label"/>
		    <ref name="lacunaEnd"/>
		    <ref name="lacunaStart"/>
		    <ref name="lang"/>
		    <ref name="langKnown"/>
		    <ref name="langUsage"/>
		    <ref name="language"/>
		    <ref name="layout"/>
		    <ref name="layoutDesc"/>
		    <ref name="lb"/>
		    <ref name="lbl"/>
		    <ref name="leaf"/>
		    <ref name="lem"/>
		    <ref name="lg"/>
		    <ref name="link"/>
		    <ref name="linkGrp"/>
		    <ref name="list"/>
		    <ref name="listBibl"/>
		    <ref name="listRef"/>
		    <ref name="listPerson"/>
		    <ref name="localName"/>
		    <ref name="locale"/>
		    <ref name="locus"/>
		    <ref name="m"/>
		    <ref name="macroSpec"/>
		    <ref name="mapping"/>
		    <ref name="material"/>
		    <ref name="mathml.math"/>
		    <ref name="measure"/>
		    <ref name="meeting"/>
		    <ref name="memberOf"/>
		    <ref name="mentioned"/>
		    <ref name="metDecl"/>
		    <ref name="metSym"/>
		    <ref name="milestone"/>
		    <ref name="minute"/>
		    <ref name="moduleRef"/>
		    <ref name="moduleSpec"/>
		    <ref name="monogr"/>
		    <ref name="month"/>
		    <ref name="mood"/>
		    <ref name="move"/>
		    <ref name="msContents"/>
		    <ref name="msDescription"/>
		    <ref name="msIdentifier"/>
		    <ref name="msItem"/>
		    <ref name="msName"/>
		    <ref name="msItemStruct"/>
		    <ref name="msPart"/>
		    <ref name="musicNotation"/>
		    <ref name="name"/>
		    <ref name="nameLink"/>
	      <ref name="namespace"/>
		    <ref name="nationality"/>
		    <ref name="node"/>
		    <ref name="normalization"/>
		    <ref name="note"/>
		    <ref name="notesStmt"/>
		    <ref name="num"/>
		    <ref name="number"/>
		    <ref name="numeric"/>
		    <ref name="oRef"/>
		    <ref name="oVar"/>
		    <ref name="objectDesc"/>
		    <ref name="occasion"/>
		    <ref name="occupation"/>
		    <ref name="offset"/>
		    <ref name="opener"/>
		    <ref name="orgDivn"/>
		    <ref name="orgName"/>
		    <ref name="orgTitle"/>
		    <ref name="orgType"/>
		    <ref name="orig"/>
		    <ref name="origDate"/>
		    <ref name="origPlace"/>
		    <ref name="origin"/>
		    <ref name="orth"/>
		    <ref name="p"/>
		    <ref name="pRef"/>
		    <ref name="pVar"/>
		    <ref name="particDesc"/>
		    <ref name="particLinks"/>
		    <ref name="pause"/>
		    <ref name="pb"/>
		    <ref name="per"/>
		    <ref name="performance"/>
		    <ref name="persName"/>
		    <ref name="person"/>
		    <ref name="personGrp"/>
		    <ref name="phr"/>
		    <ref name="physDesc"/>
		    <ref name="placeName"/>
		    <ref name="pos"/>
		    <ref name="postBox"/>
		    <ref name="postCode"/>
		    <ref name="preparedness"/>
		    <ref name="principal"/>
		    <ref name="profileDesc"/>
		    <ref name="projectDesc"/>
		    <ref name="prologue"/>
		    <ref name="pron"/>
		    <ref name="provenance"/>
		    <ref name="ptr"/>
		    <ref name="pubPlace"/>
		    <ref name="publicationStmt"/>
		    <ref name="publisher"/>
		    <ref name="purpose"/>
		    <ref name="q"/>
		    <ref name="quotation"/>
		    <ref name="quote"/>
		    <ref name="rdg"/>
		    <ref name="rdgGrp"/>
		    <ref name="re"/>
		    <ref name="recordHist"/>
		    <ref name="recording"/>
		    <ref name="recordingStmt"/>
		    <ref name="ref"/>
		    <ref name="refsDecl"/>
		    <ref name="reg"/>
		    <ref name="region"/>
		    <ref name="relation"/>
		    <ref name="remarks"/>
		    <ref name="rendition"/>
		    <ref name="repository"/>
		    <ref name="residence"/>
		    <ref name="resp"/>
		    <ref name="respStmt"/>
		    <ref name="respons"/>
		    <ref name="restore"/>
		    <ref name="revisionDesc"/>
		    <ref name="rhyme"/>
		    <ref name="role"/>
		    <ref name="roleDesc"/>
		    <ref name="roleName"/>
		    <ref name="root"/>
		    <ref name="row"/>
		    <ref name="rs"/>
		    <ref name="rubric"/>
		    <ref name="s"/>
		    <ref name="salute"/>
		    <ref name="samplingDecl"/>
		    <ref name="schemaSpec"/>
		    <ref name="scriptStmt"/>
		    <ref name="seal"/>
		    <ref name="sealDesc"/>
		    <ref name="secFol"/>
		    <ref name="second"/>
		    <ref name="seg"/>
		    <ref name="segmentation"/>
		    <ref name="sense"/>
		    <ref name="series"/>
		    <ref name="seriesStmt"/>
		    <ref name="set"/>
		    <ref name="setting"/>
		    <ref name="settingDesc"/>
		    <ref name="settlement"/>
		    <ref name="shift"/>
		    <ref name="sic"/>
		    <ref name="signatures"/>
		    <ref name="signed"/>
		    <ref name="soCalled"/>
		    <ref name="socecStatus"/>
		    <ref name="sound"/>
		    <ref name="source"/>
		    <ref name="sourceDesc"/>
		    <ref name="sp"/>
		    <ref name="space"/>
		    <ref name="span"/>
		    <ref name="spanGrp"/>
		    <ref name="speaker"/>
		    <ref name="specDesc"/>
		    <ref name="specGrp"/>
		    <ref name="specGrpRef"/>
		    <ref name="specList"/>
		    <ref name="sponsor"/>
		    <ref name="stage"/>
		    <ref name="state"/>
		    <ref name="stdVals"/>
		    <ref name="street"/>
		    <ref name="stress"/>
		    <ref name="string"/>
		    <ref name="stringVal"/>
		    <ref name="subc"/>
		    <ref name="summary"/>
		    <ref name="superEntry"/>
		    <ref name="supplied"/>
		    <ref name="support"/>
		    <ref name="supportDesc"/>
		    <ref name="surname"/>
		    <ref name="surrogates"/>
		    <ref name="syll"/>
		    <ref name="symbol"/>
		    <ref name="table"/>
		    <ref name="tag"/>
		    <ref name="tagUsage"/>
		    <ref name="tagsDecl"/>
		    <ref name="taxonomy"/>
		    <ref name="tech"/>
		    <ref name="teiCorpus"/>
		    <ref name="teiHeader"/>
		    <ref name="teifsd"/>
		    <ref name="term"/>
		    <ref name="text"/>
		    <ref name="textClass"/>
		    <ref name="textDesc"/>
		    <ref name="textLang"/>
		    <ref name="then"/>
		    <ref name="time"/>
		    <ref name="timeline"/>
		    <ref name="title"/>
		    <ref name="titlePage"/>
		    <ref name="titlePart"/>
		    <ref name="titleStmt"/>
		    <ref name="tns"/>
		    <ref name="tr"/>
		    <ref name="trailer"/>
		    <ref name="trans"/>
		    <ref name="tree"/>
		    <ref name="triangle"/>
		    <ref name="u"/>
		    <ref name="unclear"/>
		    <ref name="unicodeName"/>
		    <ref name="usg"/>
		    <ref name="vAlt"/>
		    <ref name="vDefault"/>
		    <ref name="vLabel"/>
		    <ref name="vMerge"/>
		    <ref name="vNot"/>
		    <ref name="val"/>
		    <ref name="valDesc"/>
		    <ref name="valItem"/>
		    <ref name="valList"/>
		    <ref name="value"/>
		    <ref name="variantEncoding"/>
		    <ref name="vColl"/>
		    <ref name="view"/>
		    <ref name="vocal"/>
		    <ref name="w"/>
		    <ref name="watermark"/>
		    <ref name="week"/>
		    <ref name="when"/>
		    <ref name="width"/>
		    <ref name="wit"/>
		    <ref name="witDetail"/>
		    <ref name="witEnd"/>
		    <ref name="witList"/>
		    <ref name="witStart"/>
		    <ref name="witness"/>
		    <ref name="writing"/>
		    <ref name="xr"/>
		    <ref name="year"/>
		    <rng:ref name="mathml.math"/>
		    <ref name="anySchematron"/>
		  </choice>
		</zeroOrMore>
	      </group>
	    </content>
	  </elementSpec>
	</schemaSpec>
    </body>
  </text>
</TEI>
