p5odds.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" 
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:rng="http://relaxng.org/ns/structure/1.0"
  xmlns:teix="http://www.tei-c.org/ns/Examples">
 <teiHeader>
  <fileDesc>
   <titleStmt>
    <title>TEI with ODD elements</title>
    <author>Sebastian Rahtz</author>
   </titleStmt>
   <publicationStmt>
    <p> </p>
   </publicationStmt>
   <sourceDesc>
    <p>authored from scratch</p>
   </sourceDesc>
  </fileDesc>
 </teiHeader>
 <text>
  <body>
   <schemaSpec 
       ident="p5odds" prefix="TEI_"
       start="TEI schemaSpec elementSpec classSpec macroSpec div">
    <moduleRef key="header"/>
    <moduleRef key="core"/>
    <moduleRef key="tei"/>
    <moduleRef key="gaiji"/>
    <moduleRef key="namesdates"/>
    <moduleRef key="textstructure"/>
    <moduleRef key="tagdocs"/>
    <moduleRef key="dictionaries"/>
    <moduleRef key="linking"/>
    <moduleRef key="figures"/>
    <elementSpec xmlns="http://www.tei-c.org/ns/1.0" 
		 module="tagdocs" 
		 mode="change"
		 ident="schemaSpec">
      <content>
	<rng:group>
	  <rng:zeroOrMore>
	  <rng:ref name="model.glossLike"/>
	  </rng:zeroOrMore>
	  <rng:zeroOrMore>
	    <rng:choice>
	      <rng:ref name="moduleRef"/>
	      <rng:ref name="specGrpRef"/>
	      <rng:ref name="model.oddDecl"/>
	    </rng:choice>
	  </rng:zeroOrMore>
	</rng:group>
	<rng:zeroOrMore>
	  <rng:ref name="anySchematron"/>
	</rng:zeroOrMore>
      </content>
    </elementSpec>

    <elementSpec ident="div1" module="textstructure" mode="delete"/>
    <elementSpec ident="div2" module="textstructure" mode="delete"/>
    <elementSpec ident="div3" module="textstructure" mode="delete"/>
    <elementSpec ident="div4" module="textstructure" mode="delete"/>
    <elementSpec ident="div5" module="textstructure" mode="delete"/>
    <elementSpec ident="div6" module="textstructure" mode="delete"/>
    <elementSpec ident="div7" module="textstructure" mode="delete"/>

    <xi:include href="oddity.odd"
		xpointer="xmlns(t=http://www.tei-c.org/ns/1.0)xpointer(//t:body/*)">
      <xi:fallback> ERROR: cannot locate XInclude ODD elements </xi:fallback>
    </xi:include>


   </schemaSpec>
  </body>
 </text>
</TEI>
