p5odds-ex.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:rng="http://relaxng.org/ns/structure/1.0"
     xmlns:xi="http://www.w3.org/2001/XInclude">
  <teiHeader>
    <fileDesc>
      <titleStmt>
	<title>TEI with maximal setup</title>
	<author>Sebastian Rahtz</author>
      </titleStmt>
      <publicationStmt>
	<p> </p>
      </publicationStmt>
      <sourceDesc>
	<p>authored from scratch</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ns="http://www.tei-c.org/ns/Examples" 
		  ident="p5examples" 
		  prefix="TEI_" 
		  start="egXML"  
		  xmlns:rng="http://relaxng.org/ns/structure/1.0">
	<moduleRef key="tei"/>
	<moduleRef key="core"/>
	<moduleRef url="Exemplars/mathml2-main.rng"/>
	<moduleRef url="Exemplars/relaxng.rng"/>
	<moduleRef url="Exemplars/svg11.rng"/>
	<moduleRef key="analysis"/>
	<moduleRef key="certainty"/>
	<moduleRef key="corpus"/>
	<moduleRef key="declarefs"/> 
	<moduleRef key="dictionaries"/>
	<moduleRef key="drama"/>
	<moduleRef key="figures"/>
	<moduleRef key="gaiji"/>
	<moduleRef key="header"/>
	<moduleRef key="iso-fs"/>
	<moduleRef key="linking"/>
	<moduleRef key="msdescription"/>
	<moduleRef key="namesdates"/>
	<moduleRef key="nets"/>
	<moduleRef key="spoken"/>
	<moduleRef key="tagdocs"/>
	<moduleRef key="textcrit"/>
	<moduleRef key="textstructure"/>
	<moduleRef key="transcr"/>
	<moduleRef key="verse"/>

	<classSpec module="tei" mode="change" ident="att.global" type="atts">
	  <attList>
	    <attDef ident="topic" mode="add"
		    ns="http://www.example.org/ns/nonTEI">
	      <datatype>
		<rng:data type="string"/>
	      </datatype>
	    </attDef>
	  </attList>
	</classSpec>

	<elementSpec module="figures" mode="change" ident="formula">
	  <content>
	    <rng:choice>
	      <rng:ref name="mathml.math"/>
	      <rng:text/>
	    </rng:choice>
	  </content>
	</elementSpec>
	
	<macroSpec ident="anyTEI" mode="add">
	  <content>
	    <oneOrMore xmlns="http://relaxng.org/ns/structure/1.0">
	      <choice>
		<text/>
		<?NameList?>
	      </choice>
	    </oneOrMore>
	  </content>
	</macroSpec>
	
	<macroSpec ident="anyISOSchematron" mode="add">
	  <content>
	    <element xmlns="http://relaxng.org/ns/structure/1.0">
	      <nsName ns="http://purl.oclc.org/dsdl/schematron"/>
	      <zeroOrMore>
		<choice>
		  <attribute>
		    <anyName/>
		  </attribute>
		  <ref name="anyISOSchematron"/>
		  <text/>
	      </choice>
	      </zeroOrMore>
	    </element>
	  </content>
	</macroSpec>
	
	
	<macroSpec ident="anySchematron" mode="add">
	  <content>
	    <element xmlns="http://relaxng.org/ns/structure/1.0">
	      <nsName ns="http://www.ascc.net/xml/schematron"/>
	      <zeroOrMore>
		<choice>
		  <attribute>
		    <anyName/>
		  </attribute>
		  <ref name="anySchematron"/>
		  <text/>
		</choice>
	      </zeroOrMore>
	    </element>
	  </content>
	</macroSpec>
	
	<macroSpec ident="macro.schemaPattern" mode="change"
		   module="tagdocs">
	  <content>
	    <group xmlns="http://relaxng.org/ns/structure/1.0">
	      <choice>
		<text/>
		<oneOrMore>
		  <ref name="pattern"/>
		</oneOrMore>
	      </choice>
	    </group>
	  </content>
	</macroSpec>

      <elementSpec ident="data" mode="change" module="tagdocs">
	<content>
	  <zeroOrMore xmlns="http://relaxng.org/ns/structure/1.0">
	    <choice>
	      <text/>
	      <ref name="anySchematron"/>
	      <ref name="anyISOSchematron"/>
	    </choice>
	  </zeroOrMore>
	</content>
      </elementSpec>

	<elementSpec ident="fallback" ns="http://www.example.org/cannot/really/use/XInclude" mode="add">
	<content>
	  <oneOrMore xmlns="http://relaxng.org/ns/structure/1.0">
	    <choice>
	      <text/>
	      <ref name="macro.anyThing"/>
	    </choice>
	  </oneOrMore>
	</content>
	</elementSpec>

	<!-- in examples we'd like to be able to show use of <xi:include>; of course, -->
	<!-- we can't put in an <xi:include> element, or it will be processed! Thus, -->
	<!-- here we use a bogus namespace -->
	<elementSpec ident="include" ns="http://www.example.org/cannot/really/use/XInclude" mode="add">
	  <!-- the content and attributes were devised based on my reading of the spec at
	       http://www.w3.org/TR/2006/REC-xinclude-20061115/, also having looked at
	       Norm Walsh's implementation for DocBook. -sb -->
	  <content>
	    <rng:optional>
	      <rng:ref name="fallback"/>
	    </rng:optional>
	  </content>
	  <attList>
	    <attDef ident="href">
	      <datatype>
		<rng:data type="anyURI">
		  <rng:param name="pattern">[^#]+</rng:param>
		</rng:data>
	      </datatype>
	    </attDef>
	    <attDef ident="parse">
	      <defaultVal>xml</defaultVal>
	      <valList>
		<valItem ident="xml"/>
		<valItem ident="text"/>
	      </valList>
	    </attDef>
	    <attDef ident="xpointer">
	      <datatype>
		<rng:data type="string"/>
	      </datatype>
	    </attDef>
	    <attDef ident="encoding">
	      <datatype>
		<rng:data type="string"/>
	      </datatype>
	    </attDef>
	    <attDef ident="accept">
	      <datatype>
		<rng:data type="string"/>
	      </datatype>
	    </attDef>
	    <attDef ident="accept-language">
	      <datatype>
		<rng:data type="string"/>
	      </datatype>
	    </attDef>
	  </attList>
	</elementSpec>

	<elementSpec ident="egXML" module="tagdocs" mode="change">
	  <content>
	    <oneOrMore xmlns="http://relaxng.org/ns/structure/1.0">
	      <choice>
		<text/>
		<ref name="macro.anyThing"/>
	      </choice>
	    </oneOrMore>
	  </content>
	</elementSpec>

	<macroSpec ident="macro.anyThing" mode="add">
	  <content>
	    <?NameList?>
	  </content>
	</macroSpec>
	
	<macroSpec ident="macro.anyXML" mode="change">
	  <content>
	    <element xmlns="http://relaxng.org/ns/structure/1.0">
	      <anyName>
		<except>
		  <nsName ns="http://www.tei-c.org/ns/Examples"/>
		  <nsName ns="http://www.w3.org/1998/Math/MathML"/>
		  <nsName ns="http://www.w3.org/2000/svg"/>
		</except>
	      </anyName>
	      <zeroOrMore>
		<attribute>
		  <anyName/>
		</attribute>
	      </zeroOrMore>
	      <zeroOrMore>
		<choice>
		  <text/>
		  <ref name="macro.anyXML"/>
		</choice>
	      </zeroOrMore>
	    </element>
	  </content>
	</macroSpec>	  
	</schemaSpec>
    </body>
  </text>
</TEI>
