p5valid.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
 startMode="tei">

  <mode name="nested">    
    <namespace ns="http://www.ascc.net/xml/schematron">
      <validate schema="schematron.rng"/>
      <attach useMode="allow"/>
    </namespace>
    
    <namespace ns="http://purl.oclc.org/dsdl/schematron">
      <validate schema="iso-schematron.rng"/>
      <attach useMode="allow"/>    
    </namespace>
    
    <namespace ns="http://relaxng.org/ns/structure/1.0">
      <validate schema="relax.rng"/>
      <attach useMode="allow"/>
    </namespace>
    
    <namespace ns="http://www.tei-c.org/ns/Examples">
      <validate schema="p5odds-examples.rng"/>
      <attach useMode="allow"/>
    </namespace>

    <!-- just used in examples, allow anything -->

    <namespace ns="http://www.w3.org/2000/svg">
      <validate schema="Exemplars/svg.rng"/>
      <attach useMode="allow"/>
      <allow/>
    </namespace>

    <namespace
	ns="http://relaxng.org/ns/compatibility/annotations/1.0">
      <allow/>
    </namespace>

    <namespace ns="http://www.w3.org/1999/xhtml">
      <allow/>
    </namespace>

    <namespace ns="http://www.w3.org/2001/SMIL20/Language">
      <allow/>
    </namespace>

    <namespace ns="http://www.opengis.net/gml">
      <allow/>
    </namespace>

    <namespace ns="http://www.example.org/ns/nonTEI">
      <allow/>
    </namespace>

    <namespace ns="">
      <allow/>
    </namespace>

    <namespace ns="http://www.gram.org">
      <allow/>
    </namespace>
  </mode>
  
  <mode name="tei">   
    <namespace ns="http://www.tei-c.org/ns/1.0">
      <validate schema="p5.isosch"   useMode="nested"/>
      <validate schema="p5odds.rng"  useMode="nested"/>
    </namespace>
  </mode>
  
 
  <mode name="allow">
    <anyNamespace>
      <attach/>
    </anyNamespace>
  </mode> 

</rules>
