Extensions/Menota/menota.odd

<?xml version="1.0" encoding="UTF-8"?>
<?oxygen RNGSchema="http://www.tei-c.org/P5/Test/testodds.rng" type="xml"?>

<TEI xmlns="http://www.tei-c.org/ns/1.0"
xmlns:rng="http://relaxng.org/ns/structure/1.0" xml:lang="en" n="menota">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>The Menota TEI Extensions</title>
                <author>Tone Merete Bruvik</author>
            </titleStmt>
            <publicationStmt>
                <p>for Menota</p>
            </publicationStmt>
            <sourceDesc>
                <p>derived from old DTD extension files for P4 by
                Sebastian Rahtz</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change>
                <date>2005.06.06</date>
                <respStmt>
                    <name>Tone Merete Bruvik</name>
                    <name type="affiliation">University of Bergen</name>
                </respStmt>
                <item>Updated with some changes for the MENOTA handbook 2.0 beta.</item>
            </change>
            </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <p>The Menota TEI schema consists some new elements and a
            view of the TEI. There are some new elements, some existing
            elements are redefined to be null.</p>
            <p>Menota ODD file for the TEI, where the TEI is to be
            generated by the TEI Roma at
            http://www.tei-c.org.uk/Roma/</p>
            <p>The TEI Roma settings: Upload this file as a existing
            customization, then choose DTD, Relax NG or W3C Schema.</p>
            <p>Made orginally for the research group Editing medieval
            manuscripts at Centre for Advanced Study, 2000-2001.</p>
            <p>Further changed and updated for the Menota project, see
            http://www.menota.org, by Tone Merete Bruvik, Aksis, see
            http://www.aksis.uib.no/, Norway, 2001-2004.</p>
            <p>Changes done by Tone Merete Bruvik are marked with TMB.
            Changes done by Odd Einar Haugen are marked with OEH</p>
            <p>2004.11.22-23 TMB: Added changes to reflect chnages in
            Menota 2.0a.</p>
            <p>2004.10.24 Sebastian Rahtz, Oxford Computing Center:
            first version for TEI P5, where the extention files are in
            RELAX NG syntax.</p>
            <p>
                <schemaSpec ident="menota" start="TEI teiCorpus">
                    <moduleRef key="analysis" />
                    <moduleRef key="core" />
                    <moduleRef key="corpus" />
                    <moduleRef key="figures" />
                    <moduleRef key="header" />
                    <moduleRef key="linking" />
                    <moduleRef key="msdescription" />
                    <moduleRef key="namesdates" />
                    <moduleRef key="tei" />
                    <moduleRef key="textcrit" />
                    <moduleRef key="textstructure" />
                    <moduleRef key="transcr" />
                    <moduleRef key="verse" />
                    <!-- March 15, 2004, TMB: removed 'type' from the class of metrical attributes. -->
                    <!-- February 6, 2004, TMB: added 'ass' and 'all' attributes to the class 
                                                 of metrical attributes. These attributes are used in ch. 9 of the Menota  
                                                 handbook: the attribute 'ass' is used to indicate assonance in the  
                                                 stanzaic text and the attribute 'all' is used to indicate alliteration in the
                                                 stanzaic text. -->
                    <classSpec ident="tei.metrical" type="atts"
                    mode="change" module="verse">
                        <attList>
                            <attDef ident="type" mode="delete" />
                            <attDef ident="ass" mode="add" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                            <attDef ident="all" mode="add" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                        </attList>
                    </classSpec>
                    <classSpec ident="tei.names" type="atts" mode="change" module="core">
                        <attList>                         
                            <attDef ident="role" mode="add" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                        </attList>
                    </classSpec>

                    <elementSpec ident="dipl" mode="add">
                        <desc>2004.04.28 TMB: Using 'a.seg' to include
                        the attributes 'type', 'function' and 'part',
                        thus the attributes in a.metrical will also be
                        included, although these are probably not used
                        in Menota texts. 2004.04.15 TMB: added
                        comments: the element is based on the element
                        'orig' in TEI, but with some changes: 'note'
                        and 'm.fragmentary' are added to the content
                        model, and 'function', 'part' and 'type' are
                        added as attributes. The attributes 'reg' and
                        'resp' correspond to the same attributes in the
                        orig-element i TEI: 'reg' (regularization):
                        gives a regularized (normalized) form of the
                        text. 'resp' (responsibility): identifies the
                        individual responsible for the regularization
                        of the word or phrase. The attributes
                        'function', 'part' and 'type' are like the same
                        attributes in the a.seg i TEI: 'type':
                        characterizes the type of segment. 'function':
                        characterizes the function of the segment.
                        'part': specifies whether or not the segment is
                        fragmented by some other structural element,
                        for example a clause which is divided between
                        two or more sentences. 2003.05.14 OEH: changed
                        name of element 'expForm' to 'dipl'. Also
                        changed the content model for this element as
                        parameter entity 'phrase' is used instead of
                        previous content model to ensure conformity
                        between the 'facs', 'dipl' and 'norm' elements.
                        2002.05.02 TMB: changed from expform to
                        expForm. 2001.05.21 TMB: note and supplied
                        added to the content model of expform.
                        2001.04.24 ESO: element expform added to the
                        dtd.</desc>
                        <classes>
                            <memberOf key="tei.seg" />
                        </classes>
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text />
                                    <rng:ref name="tei.phrase" />
                                    <rng:ref name="note" />
                                    <rng:ref name="tei.fragmentary" />
                                    <rng:ref name="tei.Incl" />
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                        <attList>
                            <attDef ident="resp" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                            <attDef ident="reg" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                        </attList> 
                   </elementSpec>
                   <elementSpec ident="expunged" mode="add">
                        <desc>New ELEMENT expunged.
                        Made with the element 'del' as model, contains a letter,
                        word or passage expunged, marked as expunged,
                        or otherwise indicated as superfluous or
                        spurious in the copy text by the transcriber
                        or editor. Added by TMB, 2004.06.24</desc>
                       <classes>
                            <memberOf key="tei.seg" />
                       </classes>
                        <content>
                            <rng:text />
                        </content>
                       <attList>
                            <attDef ident="type" mode="replace" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                            <attDef ident="status" mode="replace"  usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                                <defaultVal>unremarkable</defaultVal>
                            </attDef>
                            <attDef ident="resp" mode="add"
                            usage="opt">
                                <datatype>
                                    <rng:data type="IDREF" />
                                </datatype>
                            </attDef>
                            <attDef ident="cert" mode="add"
                            usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                            <attDef ident="hand" mode="add"
                            usage="opt">
                                <datatype>
                                    <rng:data type="IDREF" />
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="facs" mode="add">
                        <desc>2004.04.28 TMB: Using 'a.seg' to include
                        the attributes 'type', 'function' and 'part',
                        thus the attributes in a.metrical will also be
                        included, although these are probably not used
                        in Menota texts. 2004.04.15 TMB: added
                        comments: the element is based on the element
                        'orig' in TEI, but with some changes: 'note'
                        and 'm.fragmentary' are added to the content
                        model, and 'function', 'part' and 'type' are
                        added as attributes. The attributes 'reg' and
                        'resp' are like the same attributes in the
                        orig-element i TEI: 'reg' (regularization):
                        gives a regularized (normalized) form of the
                        text. 'resp' (responsibility): identifies the
                        individual responsible for the regularization
                        of the word or phrase. The attributes
                        'function', 'part' and 'type' correspond to the
                        same attributes in the a.seg i TEI: 'type':
                        characterizes the type of segment. 'function':
                        characterizes the function of the segment.
                        'part': specifies whether or not the segment is
                        fragmented by some other structural element,
                        for example a clause which is divided between
                        two or more sentences. 2003.05.14 OEH: element
                        'orig' renamed to 'facs' parameter entity
                        'phrase' used instead of previous content model
                        to ensure conformity between the 'facs', 'dipl'
                        and 'norm' elements. 2002.03.22 TMB: 'note'
                        added to the content model.</desc>
                        <classes>
                            <memberOf key="tei.seg" />
                        </classes>
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text />
                                    <rng:ref name="tei.phrase" />
                                    <rng:ref name="note" />
                                    <rng:ref name="tei.fragmentary" />
                                    <rng:ref name="tei.Incl" />
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                        <attList>
                            <attDef ident="resp" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                            <attDef ident="reg" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="lemma" mode="add">
                        <desc>2004.09.16 TMB: new element defined. 
                            The element is based on the element 
                            'lem' in TEI P4.
                        </desc>
                        <classes>
                            <memberOf key="tei.seg" />
                            <!--<memberOf key="tei.readings" />-->
                        </classes>
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text />
                                    <rng:ref name="tei.phrase" />
                                    <rng:ref name="tei.Incl" />
                                    <rng:ref name="tei.inter" />
                                    <rng:ref name="tei.fragmentary" />
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                    </elementSpec>
                    
                    
                    <elementSpec ident="norm" mode="add">
                        <desc>2004.04.29 TMB: The attribute 'orig' to
                        replace 'reg', which was wrongly used here.
                        2004.04.28 TMB: Using 'a.seg' to include the
                        attributes 'type', 'function' and 'part', thus
                        the attributes in a.metrical will also be
                        included, although these are probably not used
                        in Menota texts. 2004.04.15 TMB: added
                        comments: the element is based on the element
                        'reg' in TEI, but with some changes: 'note' and
                        'm.fragmentary' are added to the content model,
                        and 'function', 'part' and 'type' are added as
                        attributes. The attributes 'orig' and 'resp'
                        correspond to the same attributes in the
                        reg-element i TEI: 'orig' (original) gives the
                        unregularized form of the text as found in the
                        source copy. 'resp' (responsibility) identifies
                        the individual responsible for the
                        regularization of the word or phrase. The
                        attributes 'function', 'part' and 'type' are
                        like the same attributes in the a.seg i TEI:
                        'type': characterizes the type of segment.
                        'function': characterizes the function of the
                        segment. 'part': specifies whether or not the
                        segment is fragmented by some other structural
                        element, for example a clause which is divided
                        between two or more sentences. 2003.05.14 OEH:
                        element 'reg' renamed to 'norm', parameter
                        entity 'phrase' used instead of previous
                        content model to ensure conformity between the
                        'facs', 'dipl' and 'norm' elements. 2002.03.22
                        TMB: 'note' added to the content.</desc>
                        <classes>
                            <memberOf key="tei.seg" />
                        </classes>
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text />
                                    <rng:ref name="tei.phrase" />
                                    <rng:ref name="note" />
                                    <rng:ref name="tei.fragmentary" />
                                    <rng:ref name="tei.Incl" />
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                        <attList>
                            <attDef ident="resp" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                            <attDef ident="orig" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="pal" mode="add">
                        <desc>2004.06.28 TMB: new element defined. 
                            The element is based on the element 
                            'facs', but used to encode the paleographic level of the text.
                        </desc>
                        <classes>
                            <memberOf key="tei.seg" />
                        </classes>
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text />
                                    <rng:ref name="tei.phrase" />
                                    <rng:ref name="note" />
                                    <rng:ref name="tei.fragmentary" />
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                        <attList>
                            <attDef ident="reg" mode="change"
                            usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                            <attDef ident="resp" mode="change"
                            usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="punct" mode="add">
                        <desc>New ELEMENT punct (punctuation) Made with
                        the element 'w' (word) as model, to encode
                        punctuation, especially in cases when
                        punctuation is added at the normalised level.
                        Added by tmb, 2004.06.24</desc>
                        <classes>
                            <memberOf key="tei.seg" />
                        </classes>
                        <content>
                            <rng:ref name="macro.phraseSeq" />
                        </content>
                        <attList>
                            <attDef ident="pos" usage="opt" mode="add">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                            <attDef ident="reg" usage="opt" mode="add">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="textSpan" mode="add">
                        <desc>2004.06.28 TMB: new element defined. The
                        element is based on the element TEI 'addSpan'
                        with an extra attribute 'category', and to
                        encode a generic span of text that might be
                        added, deleted etc. This element is a milestone. 
                        The element is made to avoid to make a
                        series of 'delSpan', 'suppliedSpan'etc.</desc>
                        <classes>
                            <memberOf key="tei.editIncl" />
                        </classes>
                        <content >
			              <rng:empty/>
			            </content>
                        <attList>
                            <attDef ident="category" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                                <valList type="open">
                                    <valItem ident="add" />
                                    <valItem ident="del" />
                                    <valItem ident="supplied" />
                                    <valItem ident="expunged" />
                                    <valItem ident="unclear" />
                                    <valItem ident="gap" />
                                    <valItem ident="seg" />
                                    <valItem ident="sic" />
                                    <valItem ident="corr" />
                                    <valItem ident="other" />
                                </valList>
                                
                            </attDef>
                            <attDef ident="type" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                            <attDef ident="place" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                            <attDef ident="resp" usage="opt">
                                <datatype>
                                    <rng:data type="IDREF" />
                                </datatype>
                            </attDef>
                            <attDef ident="cert" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                            <attDef ident="hand" usage="opt">
                                <datatype>
                                    <rng:data type="IDREF" />
                                </datatype>
                            </attDef>
                            <attDef ident="to" usage="opt">
                                <datatype>
                                    <rng:data type="IDREF" />
                                </datatype>
                            </attDef>
                            <attDef ident="source" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>                                
                            </attDef>
                            <attDef ident="agent" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>               
                    <elementSpec ident="w" module="analysis"
                    mode="change">
                        <desc>2004.06.28 TMB: new element 'pal' added
                        to the content model, TEI elements 'lemma' and
                        'pos' added as well. 2004.04.28 TMB: Attribute
                        'reg' (regularization) reentered: gives a
                        regularized (normalized) form of the text. Used
                        in samples in the Menota Handbook, ch. 7.
                        2003.05.14 OEH: new elements 'facs', 'dipl' and
                        'norm' (previous 'orig', 'expForm' and 'reg')
                        added to content model. Additional elements
                        'hi', 'sic' and 'foreign' added to content
                        model 2002.03.15 TMB: 'lacunaEnd',
                        'lacunaStart', 'witEnd' and 'witStart' added to
                        the content model of 'w' 2001.06.08 OEH and
                        KGJ: 'add', 'del', 'unclear' and 'supplied'
                        added to the content model of 'w' 2001.04.24
                        ESO: 'orig', 'reg' and 'expform' added to the
                        content model of 'w' 2001.04.24 ESO:
                        (recursive) w-element removed from the content
                        model. PS! (2004.04.28 TMB: We might allow
                        recursive 'w' again in the future).</desc>
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text />
                                    <rng:ref name="add" />
                                    <rng:ref name="c" />
                                    <rng:ref name="del" />
                                    <rng:ref name="dipl" />
                                    <rng:ref name="facs" />
                                    <rng:ref name="foreign" />
                                    <rng:ref name="hi" />
                                    <rng:ref name="lemma" />
                                    <rng:ref name="m" />
                                    <rng:ref name="norm" />
                                    <rng:ref name="pal" />
                                    <rng:ref name="seg" />
                                    <rng:ref name="sic" />
                                    <rng:ref name="supplied" />
                                    <rng:ref name="tei.Incl" />
                                    <rng:ref name="tei.fragmentary" />
                                    <rng:ref name="unclear" />
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                        <attList>
                            <attDef ident="pos" usage="opt" mode="add">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                            <attDef ident="reg" usage="opt" mode="add">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="term" mode="change">
                        <desc>Unknown date (comment added April 28,
                        2004 TMB): The attribute 'reg' (regularised)
                        added. Used in ch. 10.5 of the handbook. The
                        use of the TEI element 'term', with attributes
                        'type' and 'reg' ('regularised'), allows for
                        more precise searching than would be possible
                        with free text (but is obviously dependent on
                        there being a commonly agreed taxonomy). Are
                        however questionable and might be removed in
                        later editions.</desc>
                        <attList>
                            <attDef ident="reg" mode="add" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="supplied" mode="change"
                    module="transcr">
                        <desc>February 6, 2004 TMB: 'facs', 'dipl' and
                        'norm' added to the content model of
                        'supplied'. March 15, 2002, TMB: 'lacunaEnd',
                        'lacunaStart', 'witEnd' and 'witStart' added to
                        the content model of 'supplied' by including
                        'm.fragmentary'. April 24, 2001, ESO:
                        type-attribute added, other attributes are as
                        in the original.</desc>
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text />
                                    <rng:ref name="tei.phrase" />
                                    <rng:ref name="tei.inter" />
                                    <rng:ref name="tei.Incl" />
                                    <rng:ref name="tei.fragmentary" />
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                        <attList>
                            <attDef ident="type" mode="add"
                            usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>
                    <elementSpec ident="m" module="analysis"
                    mode="change">
                        <desc>represents a grammatical morpheme.</desc>
                        <classes>
                            <memberOf key="tei.seg" />
                        </classes>
                        <content>
                            <rng:zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">

                                <rng:choice>
                                    <rng:text />
                                    <rng:ref name="tei.segment" />
                                    <rng:ref name="c" />
                                    <rng:ref name="facs" />
                                    <rng:ref name="dipl" />
                                    <rng:ref name="norm" />
                                    <rng:ref name="pal" />
                                    <rng:ref name="lemma" />
                                    <rng:ref name="tei.Incl" />
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                    </elementSpec>
                    <elementSpec ident="lg" module="core"
                    mode="change">
                        <desc>contains a group of verse lines
                        functioning as a formal unit, e.g. a stanza,
                        refrain, verse paragraph, etc. 2004.11.23 TMB:
                        Menota add 'p' to the content motel.</desc>
                        <classes>
                            <memberOf key="tei.chunk" />
                            <memberOf key="tei.divn" />
                        </classes>
                        <content>
                            <rng:group xmlns:rng="http://relaxng.org/ns/structure/1.0">

                                <rng:zeroOrMore>
                                    <rng:choice>
                                        <rng:ref name="tei.divtop" />
                                        <rng:ref name="tei.Incl" />
                                    </rng:choice>
                                </rng:zeroOrMore>
                                <rng:choice>
                                    <rng:ref name="l" />
                                    <rng:ref name="lg" />
                                    <rng:ref name="p" />
                                </rng:choice>
                                <rng:zeroOrMore>
                                    <rng:choice>
                                        <rng:ref name="l" />
                                        <rng:ref name="lg" />
                                        <rng:ref name="tei.Incl" />
                                    </rng:choice>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore><?teidtd (?>
                                    <rng:ref name="tei.divbot" />
<?teidtd )?>
                                    <rng:zeroOrMore>
                                        <rng:ref name="tei.Incl" />
                                    </rng:zeroOrMore>
                                </rng:zeroOrMore>
                            </rng:group>
                        </content>
                    </elementSpec>
                    <elementSpec ident="l" module="core" mode="change">
                        <desc>contains a single, possibly incomplete,
                        line of verse.</desc>
                        <classes>
                            <memberOf key="tei.hqinter" />
                            <memberOf key="tei.enjamb" />
                            <memberOf key="tei.metrical" />
                        </classes>
                        <content>
                            <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0"
                                     name="macro.paraContent" />
                        </content>
                    </elementSpec>
                </schemaSpec>
            </p>
        </body>
    </text>
</TEI>

