profiles/iso/schema/isotei-odd.dtd


<!--
DTD Generated 2010-05-20T14:05:17Z. 
Edition: 1.5.0 (March 2010)

-->

<!-- start datatypes -->

<!-- end datatypes -->

<!--predeclared classes -->

<!ENTITY % model.entryPart ""> 
<!ENTITY % model.entryPart_sequence ""> 
<!ENTITY % model.entryPart_sequenceOptional ""> 
<!ENTITY % model.entryPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.entryPart_sequenceRepeatable ""> 
<!ENTITY % model.resourceLike ""> 
<!ENTITY % model.resourceLike_sequence ""> 
<!ENTITY % model.resourceLike_sequenceOptional ""> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.resourceLike_sequenceRepeatable ""> 
<!ENTITY % att.global.facs.attributes '
facs CDATA  #IMPLIED'> 
<!ENTITY % att.global.facs.attribute.facs '
facs CDATA  #IMPLIED'>

<!ENTITY % model.persNamePart "surname |
 forename"> 
<!ENTITY % model.persNamePart_sequence "surname, forename"> 
<!ENTITY % model.persNamePart_sequenceOptional "surname?, forename?"> 
<!ENTITY % model.persNamePart_sequenceOptionalRepeatable "surname*, forename*"> 
<!ENTITY % model.persNamePart_sequenceRepeatable "surname+, forename+"> 
<!ENTITY % att.datable.iso.attributes '
when-iso CDATA #IMPLIED
notBefore-iso CDATA #IMPLIED
notAfter-iso CDATA #IMPLIED
from-iso CDATA #IMPLIED
to-iso CDATA #IMPLIED'> 
<!ENTITY % att.datable.iso.attribute.when-iso '
when-iso CDATA #IMPLIED'>

<!ENTITY % att.datable.iso.attribute.notBefore-iso '
notBefore-iso CDATA #IMPLIED'>

<!ENTITY % att.datable.iso.attribute.notAfter-iso '
notAfter-iso CDATA #IMPLIED'>

<!ENTITY % att.datable.iso.attribute.from-iso '
from-iso CDATA #IMPLIED'>

<!ENTITY % att.datable.iso.attribute.to-iso '
to-iso CDATA #IMPLIED'>

<!ENTITY % att.global.analytic.attributes '
ana CDATA  #IMPLIED'> 
<!ENTITY % att.global.analytic.attribute.ana '
ana CDATA  #IMPLIED'>

<!--end of predeclared classes -->

<!ENTITY % att.ascribed.attributes '
who CDATA  #IMPLIED'> 
<!ENTITY % att.ascribed.attribute.who '
who CDATA  #IMPLIED'>

<!ENTITY % att.canonical.attributes '
key CDATA #IMPLIED
ref CDATA  #IMPLIED'> 
<!ENTITY % att.canonical.attribute.key '
key CDATA #IMPLIED'>

<!ENTITY % att.canonical.attribute.ref '
ref CDATA  #IMPLIED'>

<!ENTITY % att.ranging.attributes '
atLeast CDATA #IMPLIED
atMost CDATA #IMPLIED
min CDATA #IMPLIED
max CDATA #IMPLIED'> 
<!ENTITY % att.ranging.attribute.atLeast '
atLeast CDATA #IMPLIED'>

<!ENTITY % att.ranging.attribute.atMost '
atMost CDATA #IMPLIED'>

<!ENTITY % att.ranging.attribute.min '
min CDATA #IMPLIED'>

<!ENTITY % att.ranging.attribute.max '
max CDATA #IMPLIED'>

<!ENTITY % att.dimensions.attributes ' %att.ranging.attributes;
unit NMTOKEN  #IMPLIED
quantity CDATA #IMPLIED
extent CDATA  #IMPLIED
precision CDATA #IMPLIED
scope NMTOKEN  #IMPLIED'> 
<!ENTITY % att.dimensions.attribute.unit '
unit NMTOKEN  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.quantity '
quantity CDATA #IMPLIED'>

<!ENTITY % att.dimensions.attribute.extent '
extent CDATA  #IMPLIED'>

<!ENTITY % att.dimensions.attribute.precision '
precision CDATA #IMPLIED'>

<!ENTITY % att.dimensions.attribute.scope '
scope NMTOKEN  #IMPLIED'>

<!ENTITY % att.datable.w3c.attributes '
period CDATA #IMPLIED
when CDATA #IMPLIED
notBefore CDATA #IMPLIED
notAfter CDATA #IMPLIED
from CDATA #IMPLIED
to CDATA #IMPLIED'> 
<!ENTITY % att.datable.w3c.attribute.period '
period CDATA #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.when '
when CDATA #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.notBefore '
notBefore CDATA #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.notAfter '
notAfter CDATA #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.from '
from CDATA #IMPLIED'>

<!ENTITY % att.datable.w3c.attribute.to '
to CDATA #IMPLIED'>

<!ENTITY % att.datable.attributes ' %att.datable.w3c.attributes; %att.datable.iso.attributes;'> 
<!ENTITY % att.declarable.attributes '
default (true|
false) "false" '> 
<!ENTITY % att.declarable.attribute.default '
default (true|
false) "false" '>

<!ENTITY % att.declaring.attributes '
decls CDATA  #IMPLIED'> 
<!ENTITY % att.declaring.attribute.decls '
decls CDATA  #IMPLIED'>

<!ENTITY % att.divLike.attributes '
org (composite|
uniform) "uniform" 
sample (initial|
medial|
final|
unknown|
complete) "complete" 
part (Y|
N|
I|
M|
F) "N" '> 
<!ENTITY % att.divLike.attribute.org '
org (composite|
uniform) "uniform" '>

<!ENTITY % att.divLike.attribute.sample '
sample (initial|
medial|
final|
unknown|
complete) "complete" '>

<!ENTITY % att.divLike.attribute.part '
part (Y|
N|
I|
M|
F) "N" '>

<!ENTITY % att.docStatus.attributes '
status NMTOKEN  "draft" '> 
<!ENTITY % att.docStatus.attribute.status '
status NMTOKEN  "draft" '>

<!ENTITY % att.responsibility.attributes '
cert CDATA #IMPLIED
resp CDATA  #IMPLIED'> 
<!ENTITY % att.responsibility.attribute.cert '
cert CDATA #IMPLIED'>

<!ENTITY % att.responsibility.attribute.resp '
resp CDATA  #IMPLIED'>

<!ENTITY % att.editLike.attributes ' %att.dimensions.attributes; %att.responsibility.attributes;
evidence NMTOKEN  #IMPLIED
source CDATA  #IMPLIED'> 
<!ENTITY % att.editLike.attribute.evidence '
evidence NMTOKEN  #IMPLIED'>

<!ENTITY % att.editLike.attribute.source '
source CDATA  #IMPLIED'>

<!ENTITY % att.global.attributes ' %att.global.analytic.attributes; %att.global.facs.attributes;
style CDATA #IMPLIED
meta (Date completed|
Dialogue Language|
Document number|
Language|
Solution ID|
committeeReference|
complementaryTitle|
complementaryTitle_fr|
copyright|
docBaseName|
docDate|
docEdition|
docLanguage|
docLanguage|
docNumber|
docPartNumber|
docReference|
docStage|
docSubtype|
docType|
docTypeFull|
draftNumber|
fullTitle|
fullTitle_fr|
fw_parts|
fw_patents|
fw_revision|
introductoryTitle|
introductoryTitle_fr|
mainTitle|
mainTitle_fr|
organization|
partNumber|
projectId|
scNumber|
secretariat|
serialNumber|
stage|
supplementTitle|
supplementTitle_fr|
tcNumber|
wgNumber|
referenceNumber) #IMPLIED
status (normative|
informative) #IMPLIED
provision (requirement|
recommendation|
statement|
permission|
capability|
possibility|
possibilityandcapability) #IMPLIED
spaceBefore CDATA #IMPLIED
spaceAfter CDATA #IMPLIED
align CDATA #IMPLIED
replaceable CDATA #IMPLIED
xml:id ID #IMPLIED
n CDATA  #IMPLIED
xml:lang CDATA #IMPLIED
rend CDATA  #IMPLIED
xml:base CDATA #IMPLIED
xml:space (default|
preserve) #IMPLIED'> 
<!ENTITY % att.global.attribute.style '
style CDATA #IMPLIED'>

<!ENTITY % att.global.attribute.meta '
meta (Date completed|
Dialogue Language|
Document number|
Language|
Solution ID|
committeeReference|
complementaryTitle|
complementaryTitle_fr|
copyright|
docBaseName|
docDate|
docEdition|
docLanguage|
docLanguage|
docNumber|
docPartNumber|
docReference|
docStage|
docSubtype|
docType|
docTypeFull|
draftNumber|
fullTitle|
fullTitle_fr|
fw_parts|
fw_patents|
fw_revision|
introductoryTitle|
introductoryTitle_fr|
mainTitle|
mainTitle_fr|
organization|
partNumber|
projectId|
scNumber|
secretariat|
serialNumber|
stage|
supplementTitle|
supplementTitle_fr|
tcNumber|
wgNumber|
referenceNumber) #IMPLIED'>

<!ENTITY % att.global.attribute.status '
status (normative|
informative) #IMPLIED'>

<!ENTITY % att.global.attribute.provision '
provision (requirement|
recommendation|
statement|
permission|
capability|
possibility|
possibilityandcapability) #IMPLIED'>

<!ENTITY % att.global.attribute.spaceBefore '
spaceBefore CDATA #IMPLIED'>

<!ENTITY % att.global.attribute.spaceAfter '
spaceAfter CDATA #IMPLIED'>

<!ENTITY % att.global.attribute.align '
align CDATA #IMPLIED'>

<!ENTITY % att.global.attribute.replaceable '
replaceable CDATA #IMPLIED'>

<!ENTITY % att.global.attribute.xmlid '
xml:id ID #IMPLIED'>

<!ENTITY % att.global.attribute.n '
n CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.xmllang '
xml:lang CDATA #IMPLIED'>

<!ENTITY % att.global.attribute.rend '
rend CDATA  #IMPLIED'>

<!ENTITY % att.global.attribute.xmlbase '
xml:base CDATA #IMPLIED'>

<!ENTITY % att.global.attribute.xmlspace '
xml:space (default|
preserve) #IMPLIED'>

<!ENTITY % att.internetMedia.attributes '
mimeType CDATA #IMPLIED'> 
<!ENTITY % att.internetMedia.attribute.mimeType '
mimeType CDATA #IMPLIED'>

<!ENTITY % att.naming.attributes ' %att.canonical.attributes;
role NMTOKEN  #IMPLIED
nymRef CDATA  #IMPLIED'> 
<!ENTITY % att.naming.attribute.role '
role NMTOKEN  #IMPLIED'>

<!ENTITY % att.naming.attribute.nymRef '
nymRef CDATA  #IMPLIED'>

<!ENTITY % att.placement.attributes '
place NMTOKENS  #IMPLIED'> 
<!ENTITY % att.placement.attribute.place '
place NMTOKENS  #IMPLIED'>

<!ENTITY % att.typed.attributes '
type NMTOKEN  #IMPLIED
subtype NMTOKEN  #IMPLIED'> 
<!ENTITY % att.typed.attribute.type '
type NMTOKEN  #IMPLIED'>

<!ENTITY % att.typed.attribute.subtype '
subtype NMTOKEN  #IMPLIED'>

<!ENTITY % att.pointing.attributes '
target CDATA  #IMPLIED'> 
<!ENTITY % att.pointing.attribute.target '
target CDATA  #IMPLIED'>

<!ENTITY % att.readFrom.attributes '
source CDATA #IMPLIED'> 
<!ENTITY % att.readFrom.attribute.source '
source CDATA #IMPLIED'>

<!ENTITY % att.segLike.attributes '
function NMTOKEN  #IMPLIED
part (Y|
N|
I|
M|
F) "N" '> 
<!ENTITY % att.segLike.attribute.function '
function NMTOKEN  #IMPLIED'>

<!ENTITY % att.segLike.attribute.part '
part (Y|
N|
I|
M|
F) "N" '>

<!ENTITY % att.sourced.attributes '
ed CDATA  #IMPLIED'> 
<!ENTITY % att.sourced.attribute.ed '
ed CDATA  #IMPLIED'>

<!ENTITY % att.spanning.attributes '
spanTo CDATA #IMPLIED'> 
<!ENTITY % att.spanning.attribute.spanTo '
spanTo CDATA #IMPLIED'>

<!ENTITY % att.tableDecoration.attributes '
role NMTOKEN  "data" 
rows CDATA "1" 
cols CDATA "1" '> 
<!ENTITY % att.tableDecoration.attribute.role '
role NMTOKEN  "data" '>

<!ENTITY % att.tableDecoration.attribute.rows '
rows CDATA "1" '>

<!ENTITY % att.tableDecoration.attribute.cols '
cols CDATA "1" '>

<!ENTITY % att.transcriptional.attributes ' %att.editLike.attributes;
hand CDATA #IMPLIED
status NMTOKEN  "unremarkable" 
seq CDATA  #IMPLIED'> 
<!ENTITY % att.transcriptional.attribute.hand '
hand CDATA #IMPLIED'>

<!ENTITY % att.transcriptional.attribute.status '
status NMTOKEN  "unremarkable" '>

<!ENTITY % att.transcriptional.attribute.seq '
seq CDATA  #IMPLIED'>

<!ENTITY % att.translatable.attributes '
version CDATA #IMPLIED'> 
<!ENTITY % att.translatable.attribute.version '
version CDATA #IMPLIED'>

<!ENTITY % model.nameLike.agent "name |
 orgName |
 persName"> 
<!ENTITY % model.nameLike.agent_sequence "name, orgName, persName"> 
<!ENTITY % model.nameLike.agent_sequenceOptional "name?, orgName?, persName?"> 
<!ENTITY % model.nameLike.agent_sequenceOptionalRepeatable "name*, orgName*, persName*"> 
<!ENTITY % model.nameLike.agent_sequenceRepeatable "name+, orgName+, persName+"> 
<!ENTITY % model.segLike "seg |
 w |
 c |
 pc"> 
<!ENTITY % model.segLike_sequence "seg, w, c, pc"> 
<!ENTITY % model.segLike_sequenceOptional "seg?, w?, c?, pc?"> 
<!ENTITY % model.segLike_sequenceOptionalRepeatable "seg*, w*, c*, pc*"> 
<!ENTITY % model.segLike_sequenceRepeatable "seg+, w+, c+, pc+"> 
<!ENTITY % model.hiLike "hi"> 
<!ENTITY % model.hiLike_sequence "hi"> 
<!ENTITY % model.hiLike_sequenceOptional "hi?"> 
<!ENTITY % model.hiLike_sequenceOptionalRepeatable "hi*"> 
<!ENTITY % model.hiLike_sequenceRepeatable "hi+"> 
<!ENTITY % model.emphLike "foreign |
 emph |
 mentioned |
 gloss |
 term |
 title |
 code"> 
<!ENTITY % model.emphLike_sequence "foreign, emph, mentioned, gloss, term, title, code"> 
<!ENTITY % model.emphLike_sequenceOptional "foreign?, emph?, mentioned?, gloss?, term?, title?, code?"> 
<!ENTITY % model.emphLike_sequenceOptionalRepeatable "foreign*, emph*, mentioned*, gloss*, term*, title*, code*"> 
<!ENTITY % model.emphLike_sequenceRepeatable "foreign+, emph+, mentioned+, gloss+, term+, title+, code+"> 
<!ENTITY % model.highlighted "%model.hiLike; |
 %model.emphLike;"> 
<!ENTITY % model.highlighted_sequence "%model.hiLike;, %model.emphLike;"> 
<!ENTITY % model.highlighted_sequenceOptional "%model.hiLike;?, %model.emphLike;?"> 
<!ENTITY % model.highlighted_sequenceOptionalRepeatable "%model.hiLike;*, %model.emphLike;*"> 
<!ENTITY % model.highlighted_sequenceRepeatable "%model.hiLike;+, %model.emphLike;+"> 
<!ENTITY % model.dateLike "date |
 time"> 
<!ENTITY % model.dateLike_sequence "date, time"> 
<!ENTITY % model.dateLike_sequenceOptional "date?, time?"> 
<!ENTITY % model.dateLike_sequenceOptionalRepeatable "date*, time*"> 
<!ENTITY % model.dateLike_sequenceRepeatable "date+, time+"> 
<!ENTITY % model.measureLike "num"> 
<!ENTITY % model.measureLike_sequence "num"> 
<!ENTITY % model.measureLike_sequenceOptional "num?"> 
<!ENTITY % model.measureLike_sequenceOptionalRepeatable "num*"> 
<!ENTITY % model.measureLike_sequenceRepeatable "num+"> 
<!ENTITY % model.egLike "eg"> 
<!ENTITY % model.egLike_sequence "eg"> 
<!ENTITY % model.egLike_sequenceOptional "eg?"> 
<!ENTITY % model.egLike_sequenceOptionalRepeatable "eg*"> 
<!ENTITY % model.egLike_sequenceRepeatable "eg+"> 
<!ENTITY % model.graphicLike "graphic |
 formula"> 
<!ENTITY % model.graphicLike_sequence "graphic, formula"> 
<!ENTITY % model.graphicLike_sequenceOptional "graphic?, formula?"> 
<!ENTITY % model.graphicLike_sequenceOptionalRepeatable "graphic*, formula*"> 
<!ENTITY % model.graphicLike_sequenceRepeatable "graphic+, formula+"> 
<!ENTITY % model.pPart.editorial "abbr"> 
<!ENTITY % model.pPart.editorial_sequence "abbr"> 
<!ENTITY % model.pPart.editorial_sequenceOptional "abbr?"> 
<!ENTITY % model.pPart.editorial_sequenceOptionalRepeatable "abbr*"> 
<!ENTITY % model.pPart.editorial_sequenceRepeatable "abbr+"> 
<!ENTITY % model.pPart.transcriptional "add |
 del"> 
<!ENTITY % model.pPart.transcriptional_sequence "add, del"> 
<!ENTITY % model.pPart.transcriptional_sequenceOptional "add?, del?"> 
<!ENTITY % model.pPart.transcriptional_sequenceOptionalRepeatable "add*, del*"> 
<!ENTITY % model.pPart.transcriptional_sequenceRepeatable "add+, del+"> 
<!ENTITY % model.pPart.edit "%model.pPart.editorial; |
 %model.pPart.transcriptional;"> 
<!ENTITY % model.pPart.edit_sequence "%model.pPart.editorial;, %model.pPart.transcriptional;"> 
<!ENTITY % model.pPart.edit_sequenceOptional "%model.pPart.editorial;?, %model.pPart.transcriptional;?"> 
<!ENTITY % model.pPart.edit_sequenceOptionalRepeatable "%model.pPart.editorial;*, %model.pPart.transcriptional;*"> 
<!ENTITY % model.pPart.edit_sequenceRepeatable "%model.pPart.editorial;+, %model.pPart.transcriptional;+"> 
<!ENTITY % model.ptrLike "ptr |
 ref"> 
<!ENTITY % model.ptrLike_sequence "ptr, ref"> 
<!ENTITY % model.ptrLike_sequenceOptional "ptr?, ref?"> 
<!ENTITY % model.ptrLike_sequenceOptionalRepeatable "ptr*, ref*"> 
<!ENTITY % model.ptrLike_sequenceRepeatable "ptr+, ref+"> 
<!ENTITY % model.lPart ""> 
<!ENTITY % model.lPart_sequence ""> 
<!ENTITY % model.lPart_sequenceOptional ""> 
<!ENTITY % model.lPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.lPart_sequenceRepeatable ""> 
<!ENTITY % model.global.meta "index"> 
<!ENTITY % model.global.meta_sequence "index"> 
<!ENTITY % model.global.meta_sequenceOptional "index?"> 
<!ENTITY % model.global.meta_sequenceOptionalRepeatable "index*"> 
<!ENTITY % model.global.meta_sequenceRepeatable "index+"> 
<!ENTITY % model.milestoneLike "milestone |
 pb |
 lb |
 fw |
 anchor |
 wordObject"> 
<!ENTITY % model.milestoneLike_sequence "milestone, pb, lb, fw, anchor, wordObject"> 
<!ENTITY % model.milestoneLike_sequenceOptional "milestone?, pb?, lb?, fw?, anchor?, wordObject?"> 
<!ENTITY % model.milestoneLike_sequenceOptionalRepeatable "milestone*, pb*, lb*, fw*, anchor*, wordObject*"> 
<!ENTITY % model.milestoneLike_sequenceRepeatable "milestone+, pb+, lb+, fw+, anchor+, wordObject+"> 
<!ENTITY % model.gLike "g"> 
<!ENTITY % model.gLike_sequence "g"> 
<!ENTITY % model.gLike_sequenceOptional "g?"> 
<!ENTITY % model.gLike_sequenceOptionalRepeatable "g*"> 
<!ENTITY % model.gLike_sequenceRepeatable "g+"> 
<!ENTITY % model.oddRef "elementRef |
 macroRef"> 
<!ENTITY % model.oddRef_sequence "elementRef, macroRef"> 
<!ENTITY % model.oddRef_sequenceOptional "elementRef?, macroRef?"> 
<!ENTITY % model.oddRef_sequenceOptionalRepeatable "elementRef*, macroRef*"> 
<!ENTITY % model.oddRef_sequenceRepeatable "elementRef+, macroRef+"> 
<!ENTITY % model.phrase.xml "gi"> 
<!ENTITY % model.phrase.xml_sequence "gi"> 
<!ENTITY % model.phrase.xml_sequenceOptional "gi?"> 
<!ENTITY % model.phrase.xml_sequenceOptionalRepeatable "gi*"> 
<!ENTITY % model.phrase.xml_sequenceRepeatable "gi+"> 
<!ENTITY % model.biblLike "bibl |
 biblStruct |
 biblFull"> 
<!ENTITY % model.biblLike_sequence "bibl, biblStruct, biblFull"> 
<!ENTITY % model.biblLike_sequenceOptional "bibl?, biblStruct?, biblFull?"> 
<!ENTITY % model.biblLike_sequenceOptionalRepeatable "bibl*, biblStruct*, biblFull*"> 
<!ENTITY % model.biblLike_sequenceRepeatable "bibl+, biblStruct+, biblFull+"> 
<!ENTITY % model.headLike "head"> 
<!ENTITY % model.headLike_sequence "head"> 
<!ENTITY % model.headLike_sequenceOptional "head?"> 
<!ENTITY % model.headLike_sequenceOptionalRepeatable "head*"> 
<!ENTITY % model.headLike_sequenceRepeatable "head+"> 
<!ENTITY % model.labelLike "desc |
 label"> 
<!ENTITY % model.labelLike_sequence "desc, label"> 
<!ENTITY % model.labelLike_sequenceOptional "desc?, label?"> 
<!ENTITY % model.labelLike_sequenceOptionalRepeatable "desc*, label*"> 
<!ENTITY % model.labelLike_sequenceRepeatable "desc+, label+"> 
<!ENTITY % model.listLike "list |
 listBibl |
 listEvent"> 
<!ENTITY % model.listLike_sequence "list, listBibl, listEvent"> 
<!ENTITY % model.listLike_sequenceOptional "list?, listBibl?, listEvent?"> 
<!ENTITY % model.listLike_sequenceOptionalRepeatable "list*, listBibl*, listEvent*"> 
<!ENTITY % model.listLike_sequenceRepeatable "list+, listBibl+, listEvent+"> 
<!ENTITY % model.noteLike "note"> 
<!ENTITY % model.noteLike_sequence "note"> 
<!ENTITY % model.noteLike_sequenceOptional "note?"> 
<!ENTITY % model.noteLike_sequenceOptionalRepeatable "note*"> 
<!ENTITY % model.noteLike_sequenceRepeatable "note+"> 
<!ENTITY % model.lLike "l"> 
<!ENTITY % model.lLike_sequence "l"> 
<!ENTITY % model.lLike_sequenceOptional "l?"> 
<!ENTITY % model.lLike_sequenceOptionalRepeatable "l*"> 
<!ENTITY % model.lLike_sequenceRepeatable "l+"> 
<!ENTITY % model.pLike "p"> 
<!ENTITY % model.pLike_sequence "p"> 
<!ENTITY % model.pLike_sequenceOptional "p?"> 
<!ENTITY % model.pLike_sequenceOptionalRepeatable "p*"> 
<!ENTITY % model.pLike_sequenceRepeatable "p+"> 
<!ENTITY % model.entryPart ""> 
<!ENTITY % model.entryPart_sequence ""> 
<!ENTITY % model.entryPart_sequenceOptional ""> 
<!ENTITY % model.entryPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.entryPart_sequenceRepeatable ""> 
<!ENTITY % model.entryPart.top "cit"> 
<!ENTITY % model.entryPart.top_sequence "cit"> 
<!ENTITY % model.entryPart.top_sequenceOptional "cit?"> 
<!ENTITY % model.entryPart.top_sequenceOptionalRepeatable "cit*"> 
<!ENTITY % model.entryPart.top_sequenceRepeatable "cit+"> 
<!ENTITY % model.global.edit "addSpan |
 delSpan"> 
<!ENTITY % model.global.edit_sequence "addSpan, delSpan"> 
<!ENTITY % model.global.edit_sequenceOptional "addSpan?, delSpan?"> 
<!ENTITY % model.global.edit_sequenceOptionalRepeatable "addSpan*, delSpan*"> 
<!ENTITY % model.global.edit_sequenceRepeatable "addSpan+, delSpan+"> 
<!ENTITY % model.divPart "%model.lLike; |
 %model.pLike;"> 
<!ENTITY % model.divPart_sequence "%model.lLike;, %model.pLike;"> 
<!ENTITY % model.divPart_sequenceOptional "%model.lLike;?, %model.pLike;?"> 
<!ENTITY % model.divPart_sequenceOptionalRepeatable "%model.lLike;*, %model.pLike;*"> 
<!ENTITY % model.divPart_sequenceRepeatable "%model.lLike;+, %model.pLike;+"> 
<!ENTITY % model.persStateLike "persName"> 
<!ENTITY % model.persStateLike_sequence "persName"> 
<!ENTITY % model.persStateLike_sequenceOptional "persName?"> 
<!ENTITY % model.persStateLike_sequenceOptionalRepeatable "persName*"> 
<!ENTITY % model.persStateLike_sequenceRepeatable "persName+"> 
<!ENTITY % model.personLike "org"> 
<!ENTITY % model.personLike_sequence "org"> 
<!ENTITY % model.personLike_sequenceOptional "org?"> 
<!ENTITY % model.personLike_sequenceOptionalRepeatable "org*"> 
<!ENTITY % model.personLike_sequenceRepeatable "org+"> 
<!ENTITY % model.personPart "%model.persStateLike; |
 bibl"> 
<!ENTITY % model.personPart_sequence "%model.persStateLike;, bibl"> 
<!ENTITY % model.personPart_sequenceOptional "%model.persStateLike;?, bibl?"> 
<!ENTITY % model.personPart_sequenceOptionalRepeatable "%model.persStateLike;*, bibl*"> 
<!ENTITY % model.personPart_sequenceRepeatable "%model.persStateLike;+, bibl+"> 
<!ENTITY % model.publicationStmtPart "address |
 date |
 publisher |
 pubPlace |
 distributor |
 authority |
 idno |
 availability"> 
<!ENTITY % model.publicationStmtPart_sequence "address, date, publisher, pubPlace, distributor, authority, idno, availability"> 
<!ENTITY % model.publicationStmtPart_sequenceOptional "address?, date?, publisher?, pubPlace?, distributor?, authority?, idno?, availability?"> 
<!ENTITY % model.publicationStmtPart_sequenceOptionalRepeatable "address*, date*, publisher*, pubPlace*, distributor*, authority*, idno*, availability*"> 
<!ENTITY % model.publicationStmtPart_sequenceRepeatable "address+, date+, publisher+, pubPlace+, distributor+, authority+, idno+, availability+"> 
<!ENTITY % model.glossLike "desc |
 gloss"> 
<!ENTITY % model.glossLike_sequence "desc, gloss"> 
<!ENTITY % model.glossLike_sequenceOptional "desc?, gloss?"> 
<!ENTITY % model.glossLike_sequenceOptionalRepeatable "desc*, gloss*"> 
<!ENTITY % model.glossLike_sequenceRepeatable "desc+, gloss+"> 
<!ENTITY % model.quoteLike "quote |
 cit"> 
<!ENTITY % model.quoteLike_sequence "quote, cit"> 
<!ENTITY % model.quoteLike_sequenceOptional "quote?, cit?"> 
<!ENTITY % model.quoteLike_sequenceOptionalRepeatable "quote*, cit*"> 
<!ENTITY % model.quoteLike_sequenceRepeatable "quote+, cit+"> 
<!ENTITY % model.qLike "%model.quoteLike; |
 q"> 
<!ENTITY % model.qLike_sequence "%model.quoteLike;, q"> 
<!ENTITY % model.qLike_sequenceOptional "%model.quoteLike;?, q?"> 
<!ENTITY % model.qLike_sequenceOptionalRepeatable "%model.quoteLike;*, q*"> 
<!ENTITY % model.qLike_sequenceRepeatable "%model.quoteLike;+, q+"> 
<!ENTITY % model.respLike "author |
 editor |
 respStmt |
 meeting |
 sponsor |
 funder |
 principal"> 
<!ENTITY % model.respLike_sequence "author, editor, respStmt, meeting, sponsor, funder, principal"> 
<!ENTITY % model.respLike_sequenceOptional "author?, editor?, respStmt?, meeting?, sponsor?, funder?, principal?"> 
<!ENTITY % model.respLike_sequenceOptionalRepeatable "author*, editor*, respStmt*, meeting*, sponsor*, funder*, principal*"> 
<!ENTITY % model.respLike_sequenceRepeatable "author+, editor+, respStmt+, meeting+, sponsor+, funder+, principal+"> 
<!ENTITY % model.divWrapper "meeting"> 
<!ENTITY % model.divWrapper_sequence "meeting"> 
<!ENTITY % model.divWrapper_sequenceOptional "meeting?"> 
<!ENTITY % model.divWrapper_sequenceOptionalRepeatable "meeting*"> 
<!ENTITY % model.divWrapper_sequenceRepeatable "meeting+"> 
<!ENTITY % model.divTopPart "%model.headLike;"> 
<!ENTITY % model.divTopPart_sequence "%model.headLike;"> 
<!ENTITY % model.divTopPart_sequenceOptional "%model.headLike;?"> 
<!ENTITY % model.divTopPart_sequenceOptionalRepeatable "%model.headLike;*"> 
<!ENTITY % model.divTopPart_sequenceRepeatable "%model.headLike;+"> 
<!ENTITY % model.divTop "%model.divWrapper; |
 %model.divTopPart;"> 
<!ENTITY % model.divTop_sequence "%model.divWrapper;, %model.divTopPart;"> 
<!ENTITY % model.divTop_sequenceOptional "%model.divWrapper;?, %model.divTopPart;?"> 
<!ENTITY % model.divTop_sequenceOptionalRepeatable "%model.divWrapper;*, %model.divTopPart;*"> 
<!ENTITY % model.divTop_sequenceRepeatable "%model.divWrapper;+, %model.divTopPart;+"> 
<!ENTITY % model.pLike.front "head |
 titlePart"> 
<!ENTITY % model.pLike.front_sequence "head, titlePart"> 
<!ENTITY % model.pLike.front_sequenceOptional "head?, titlePart?"> 
<!ENTITY % model.pLike.front_sequenceOptionalRepeatable "head*, titlePart*"> 
<!ENTITY % model.pLike.front_sequenceRepeatable "head+, titlePart+"> 
<!ENTITY % model.divBottomPart ""> 
<!ENTITY % model.divBottomPart_sequence ""> 
<!ENTITY % model.divBottomPart_sequenceOptional ""> 
<!ENTITY % model.divBottomPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.divBottomPart_sequenceRepeatable ""> 
<!ENTITY % model.divBottom "%model.divWrapper;"> 
<!ENTITY % model.divBottom_sequence "%model.divWrapper;"> 
<!ENTITY % model.divBottom_sequenceOptional "%model.divWrapper;?"> 
<!ENTITY % model.divBottom_sequenceOptionalRepeatable "%model.divWrapper;*"> 
<!ENTITY % model.divBottom_sequenceRepeatable "%model.divWrapper;+"> 
<!ENTITY % model.titlepagePart "graphic |
 titlePart"> 
<!ENTITY % model.titlepagePart_sequence "graphic, titlePart"> 
<!ENTITY % model.titlepagePart_sequenceOptional "graphic?, titlePart?"> 
<!ENTITY % model.titlepagePart_sequenceOptionalRepeatable "graphic*, titlePart*"> 
<!ENTITY % model.titlepagePart_sequenceRepeatable "graphic+, titlePart+"> 
<!ENTITY % model.msQuoteLike "title"> 
<!ENTITY % model.msQuoteLike_sequence "title"> 
<!ENTITY % model.msQuoteLike_sequenceOptional "title?"> 
<!ENTITY % model.msQuoteLike_sequenceOptionalRepeatable "title*"> 
<!ENTITY % model.msQuoteLike_sequenceRepeatable "title+"> 
<!ENTITY % model.msItemPart "%model.quoteLike; |
 %model.respLike; |
 %model.msQuoteLike; |
 bibl |
 listBibl"> 
<!ENTITY % model.msItemPart_sequence "%model.quoteLike;, %model.respLike;, %model.msQuoteLike;, bibl, listBibl"> 
<!ENTITY % model.msItemPart_sequenceOptional "%model.quoteLike;?, %model.respLike;?, %model.msQuoteLike;?, bibl?, listBibl?"> 
<!ENTITY % model.msItemPart_sequenceOptionalRepeatable "%model.quoteLike;*, %model.respLike;*, %model.msQuoteLike;*, bibl*, listBibl*"> 
<!ENTITY % model.msItemPart_sequenceRepeatable "%model.quoteLike;+, %model.respLike;+, %model.msQuoteLike;+, bibl+, listBibl+"> 
<!ENTITY % model.choicePart "abbr |
 seg"> 
<!ENTITY % model.choicePart_sequence "abbr, seg"> 
<!ENTITY % model.choicePart_sequenceOptional "abbr?, seg?"> 
<!ENTITY % model.choicePart_sequenceOptionalRepeatable "abbr*, seg*"> 
<!ENTITY % model.choicePart_sequenceRepeatable "abbr+, seg+"> 
<!ENTITY % model.imprintPart "publisher |
 biblScope |
 pubPlace |
 distributor"> 
<!ENTITY % model.imprintPart_sequence "publisher, biblScope, pubPlace, distributor"> 
<!ENTITY % model.imprintPart_sequenceOptional "publisher?, biblScope?, pubPlace?, distributor?"> 
<!ENTITY % model.imprintPart_sequenceOptionalRepeatable "publisher*, biblScope*, pubPlace*, distributor*"> 
<!ENTITY % model.imprintPart_sequenceRepeatable "publisher+, biblScope+, pubPlace+, distributor+"> 
<!ENTITY % model.catDescPart ""> 
<!ENTITY % model.catDescPart_sequence ""> 
<!ENTITY % model.catDescPart_sequenceOptional ""> 
<!ENTITY % model.catDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.catDescPart_sequenceRepeatable ""> 
<!ENTITY % model.addressLike "address"> 
<!ENTITY % model.addressLike_sequence "address"> 
<!ENTITY % model.addressLike_sequenceOptional "address?"> 
<!ENTITY % model.addressLike_sequenceOptionalRepeatable "address*"> 
<!ENTITY % model.addressLike_sequenceRepeatable "address+"> 
<!ENTITY % model.nameLike "%model.nameLike.agent; |
 idno |
 %model.persNamePart;"> 
<!ENTITY % model.nameLike_sequence "%model.nameLike.agent;, idno, %model.persNamePart;"> 
<!ENTITY % model.nameLike_sequenceOptional "%model.nameLike.agent;?, idno?, %model.persNamePart;?"> 
<!ENTITY % model.nameLike_sequenceOptionalRepeatable "%model.nameLike.agent;*, idno*, %model.persNamePart;*"> 
<!ENTITY % model.nameLike_sequenceRepeatable "%model.nameLike.agent;+, idno+, %model.persNamePart;+"> 
<!ENTITY % model.global "%model.global.meta; |
 %model.milestoneLike; |
 %model.noteLike; |
 %model.global.edit; |
 figure"> 
<!ENTITY % model.global_sequence "%model.global.meta;, %model.milestoneLike;, %model.noteLike;, %model.global.edit;, figure"> 
<!ENTITY % model.global_sequenceOptional "%model.global.meta;?, %model.milestoneLike;?, %model.noteLike;?, %model.global.edit;?, figure?"> 
<!ENTITY % model.global_sequenceOptionalRepeatable "%model.global.meta;*, %model.milestoneLike;*, %model.noteLike;*, %model.global.edit;*, figure*"> 
<!ENTITY % model.global_sequenceRepeatable "%model.global.meta;+, %model.milestoneLike;+, %model.noteLike;+, %model.global.edit;+, figure+"> 
<!ENTITY % model.biblPart "%model.respLike; |
 %model.imprintPart; |
 series |
 edition |
 extent"> 
<!ENTITY % model.biblPart_sequence "%model.respLike;, %model.imprintPart;, series, edition, extent"> 
<!ENTITY % model.biblPart_sequenceOptional "%model.respLike;?, %model.imprintPart;?, series?, edition?, extent?"> 
<!ENTITY % model.biblPart_sequenceOptionalRepeatable "%model.respLike;*, %model.imprintPart;*, series*, edition*, extent*"> 
<!ENTITY % model.biblPart_sequenceRepeatable "%model.respLike;+, %model.imprintPart;+, series+, edition+, extent+"> 
<!ENTITY % model.frontPart "divGen"> 
<!ENTITY % model.frontPart_sequence "divGen"> 
<!ENTITY % model.frontPart_sequenceOptional "divGen?"> 
<!ENTITY % model.frontPart_sequenceOptionalRepeatable "divGen*"> 
<!ENTITY % model.frontPart_sequenceRepeatable "divGen+"> 
<!ENTITY % model.addrPart "%model.nameLike; |
 addrLine"> 
<!ENTITY % model.addrPart_sequence "%model.nameLike;, addrLine"> 
<!ENTITY % model.addrPart_sequenceOptional "%model.nameLike;?, addrLine?"> 
<!ENTITY % model.addrPart_sequenceOptionalRepeatable "%model.nameLike;*, addrLine*"> 
<!ENTITY % model.addrPart_sequenceRepeatable "%model.nameLike;+, addrLine+"> 
<!ENTITY % model.pPart.data "%model.dateLike; |
 %model.measureLike; |
 %model.addressLike; |
 %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequence "%model.dateLike;, %model.measureLike;, %model.addressLike;, %model.nameLike;"> 
<!ENTITY % model.pPart.data_sequenceOptional "%model.dateLike;?, %model.measureLike;?, %model.addressLike;?, %model.nameLike;?"> 
<!ENTITY % model.pPart.data_sequenceOptionalRepeatable "%model.dateLike;*, %model.measureLike;*, %model.addressLike;*, %model.nameLike;*"> 
<!ENTITY % model.pPart.data_sequenceRepeatable "%model.dateLike;+, %model.measureLike;+, %model.addressLike;+, %model.nameLike;+"> 
<!ENTITY % model.inter "%model.egLike; |
 %model.oddRef; |
 %model.biblLike; |
 %model.labelLike; |
 %model.listLike; |
 %model.qLike; |
 table |
 table |
 termEntry"> 
<!ENTITY % model.inter_sequence "%model.egLike;, %model.oddRef;, %model.biblLike;, %model.labelLike;, %model.listLike;, %model.qLike;, table, table, termEntry"> 
<!ENTITY % model.inter_sequenceOptional "%model.egLike;?, %model.oddRef;?, %model.biblLike;?, %model.labelLike;?, %model.listLike;?, %model.qLike;?, table?, table?, termEntry?"> 
<!ENTITY % model.inter_sequenceOptionalRepeatable "%model.egLike;*, %model.oddRef;*, %model.biblLike;*, %model.labelLike;*, %model.listLike;*, %model.qLike;*, table*, table*, termEntry*"> 
<!ENTITY % model.inter_sequenceRepeatable "%model.egLike;+, %model.oddRef;+, %model.biblLike;+, %model.labelLike;+, %model.listLike;+, %model.qLike;+, table+, table+, termEntry+"> 
<!ENTITY % model.common "%model.divPart; |
 %model.inter;"> 
<!ENTITY % model.common_sequence "%model.divPart;, %model.inter;"> 
<!ENTITY % model.common_sequenceOptional "%model.divPart;?, %model.inter;?"> 
<!ENTITY % model.common_sequenceOptionalRepeatable "%model.divPart;*, %model.inter;*"> 
<!ENTITY % model.common_sequenceRepeatable "%model.divPart;+, %model.inter;+"> 
<!ENTITY % model.phrase "%model.segLike; |
 %model.highlighted; |
 %model.graphicLike; |
 %model.pPart.edit; |
 %model.ptrLike; |
 %model.phrase.xml; |
 %model.pPart.data; |
 dynamicContent"> 
<!ENTITY % model.phrase_sequence "%model.segLike;, %model.highlighted;, %model.graphicLike;, %model.pPart.edit;, %model.ptrLike;, %model.phrase.xml;, %model.pPart.data;, dynamicContent"> 
<!ENTITY % model.phrase_sequenceOptional "%model.segLike;?, %model.highlighted;?, %model.graphicLike;?, %model.pPart.edit;?, %model.ptrLike;?, %model.phrase.xml;?, %model.pPart.data;?, dynamicContent?"> 
<!ENTITY % model.phrase_sequenceOptionalRepeatable "%model.segLike;*, %model.highlighted;*, %model.graphicLike;*, %model.pPart.edit;*, %model.ptrLike;*, %model.phrase.xml;*, %model.pPart.data;*, dynamicContent*"> 
<!ENTITY % model.phrase_sequenceRepeatable "%model.segLike;+, %model.highlighted;+, %model.graphicLike;+, %model.pPart.edit;+, %model.ptrLike;+, %model.phrase.xml;+, %model.pPart.data;+, dynamicContent+"> 
<!ENTITY % model.limitedPhrase "%model.emphLike; |
 %model.pPart.editorial; |
 %model.ptrLike; |
 %model.phrase.xml; |
 %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequence "%model.emphLike;, %model.pPart.editorial;, %model.ptrLike;, %model.phrase.xml;, %model.pPart.data;"> 
<!ENTITY % model.limitedPhrase_sequenceOptional "%model.emphLike;?, %model.pPart.editorial;?, %model.ptrLike;?, %model.phrase.xml;?, %model.pPart.data;?"> 
<!ENTITY % model.limitedPhrase_sequenceOptionalRepeatable "%model.emphLike;*, %model.pPart.editorial;*, %model.ptrLike;*, %model.phrase.xml;*, %model.pPart.data;*"> 
<!ENTITY % model.limitedPhrase_sequenceRepeatable "%model.emphLike;+, %model.pPart.editorial;+, %model.ptrLike;+, %model.phrase.xml;+, %model.pPart.data;+"> 
<!ENTITY % model.divLike "div"> 
<!ENTITY % model.divLike_sequence "div"> 
<!ENTITY % model.divLike_sequenceOptional "div?"> 
<!ENTITY % model.divLike_sequenceOptionalRepeatable "div*"> 
<!ENTITY % model.divLike_sequenceRepeatable "div+"> 
<!ENTITY % model.divGenLike "divGen"> 
<!ENTITY % model.divGenLike_sequence "divGen"> 
<!ENTITY % model.divGenLike_sequenceOptional "divGen?"> 
<!ENTITY % model.divGenLike_sequenceOptionalRepeatable "divGen*"> 
<!ENTITY % model.divGenLike_sequenceRepeatable "divGen+"> 
<!ENTITY % model.div1Like ""> 
<!ENTITY % model.div1Like_sequence ""> 
<!ENTITY % model.div1Like_sequenceOptional ""> 
<!ENTITY % model.div1Like_sequenceOptionalRepeatable ""> 
<!ENTITY % model.div1Like_sequenceRepeatable ""> 
<!ENTITY % model.resourceLike ""> 
<!ENTITY % model.resourceLike_sequence ""> 
<!ENTITY % model.resourceLike_sequenceOptional ""> 
<!ENTITY % model.resourceLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.resourceLike_sequenceRepeatable ""> 
<!ENTITY % att.personal.attributes ' %att.naming.attributes;
full (yes|
abb|
init) "yes" 
sort CDATA #IMPLIED'> 
<!ENTITY % att.personal.attribute.full '
full (yes|
abb|
init) "yes" '>

<!ENTITY % att.personal.attribute.sort '
sort CDATA #IMPLIED'>

<!ENTITY % model.placeLike ""> 
<!ENTITY % model.placeLike_sequence ""> 
<!ENTITY % model.placeLike_sequenceOptional ""> 
<!ENTITY % model.placeLike_sequenceOptionalRepeatable ""> 
<!ENTITY % model.placeLike_sequenceRepeatable ""> 
<!ENTITY % model.teiHeaderPart "encodingDesc |
 profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequence "encodingDesc, profileDesc"> 
<!ENTITY % model.teiHeaderPart_sequenceOptional "encodingDesc?, profileDesc?"> 
<!ENTITY % model.teiHeaderPart_sequenceOptionalRepeatable "encodingDesc*, profileDesc*"> 
<!ENTITY % model.teiHeaderPart_sequenceRepeatable "encodingDesc+, profileDesc+"> 
<!ENTITY % model.sourceDescPart ""> 
<!ENTITY % model.sourceDescPart_sequence ""> 
<!ENTITY % model.sourceDescPart_sequenceOptional ""> 
<!ENTITY % model.sourceDescPart_sequenceOptionalRepeatable ""> 
<!ENTITY % model.sourceDescPart_sequenceRepeatable ""> 
<!ENTITY % model.encodingDescPart "projectDesc |
 refsDecl |
 classDecl |
 appInfo"> 
<!ENTITY % model.encodingDescPart_sequence "projectDesc, refsDecl, classDecl, appInfo"> 
<!ENTITY % model.encodingDescPart_sequenceOptional "projectDesc?, refsDecl?, classDecl?, appInfo?"> 
<!ENTITY % model.encodingDescPart_sequenceOptionalRepeatable "projectDesc*, refsDecl*, classDecl*, appInfo*"> 
<!ENTITY % model.encodingDescPart_sequenceRepeatable "projectDesc+, refsDecl+, classDecl+, appInfo+"> 
<!ENTITY % model.applicationLike "application"> 
<!ENTITY % model.applicationLike_sequence "application"> 
<!ENTITY % model.applicationLike_sequenceOptional "application?"> 
<!ENTITY % model.applicationLike_sequenceOptionalRepeatable "application*"> 
<!ENTITY % model.applicationLike_sequenceRepeatable "application+"> 
<!ENTITY % model.profileDescPart "creation |
 langUsage |
 textClass"> 
<!ENTITY % model.profileDescPart_sequence "creation, langUsage, textClass"> 
<!ENTITY % model.profileDescPart_sequenceOptional "creation?, langUsage?, textClass?"> 
<!ENTITY % model.profileDescPart_sequenceOptionalRepeatable "creation*, langUsage*, textClass*"> 
<!ENTITY % model.profileDescPart_sequenceRepeatable "creation+, langUsage+, textClass+"> 
<!ENTITY % att.global.facs.attributes '
facs CDATA  #IMPLIED'> 
<!ENTITY % att.global.facs.attribute.facs '
facs CDATA  #IMPLIED'>

<!ENTITY % model.persNamePart "surname |
 forename"> 
<!ENTITY % model.persNamePart_sequence "surname, forename"> 
<!ENTITY % model.persNamePart_sequenceOptional "surname?, forename?"> 
<!ENTITY % model.persNamePart_sequenceOptionalRepeatable "surname*, forename*"> 
<!ENTITY % model.persNamePart_sequenceRepeatable "surname+, forename+"> 
<!ENTITY % att.datable.iso.attributes '
when-iso CDATA #IMPLIED
notBefore-iso CDATA #IMPLIED
notAfter-iso CDATA #IMPLIED
from-iso CDATA #IMPLIED
to-iso CDATA #IMPLIED'> 
<!ENTITY % att.datable.iso.attribute.when-iso '
when-iso CDATA #IMPLIED'>

<!ENTITY % att.datable.iso.attribute.notBefore-iso '
notBefore-iso CDATA #IMPLIED'>

<!ENTITY % att.datable.iso.attribute.notAfter-iso '
notAfter-iso CDATA #IMPLIED'>

<!ENTITY % att.datable.iso.attribute.from-iso '
from-iso CDATA #IMPLIED'>

<!ENTITY % att.datable.iso.attribute.to-iso '
to-iso CDATA #IMPLIED'>

<!ENTITY % att.global.analytic.attributes '
ana CDATA  #IMPLIED'> 
<!ENTITY % att.global.analytic.attribute.ana '
ana CDATA  #IMPLIED'>

<!ENTITY % idlang.attributes ' %id.attributes; %lang.attributes;'> 
<!ENTITY % id.attributes '
id CDATA #IMPLIED'> 
<!ENTITY % id.attribute.id '
id CDATA #IMPLIED'>

<!ENTITY % target-IDREF.attributes '
target CDATA #IMPLIED'> 
<!ENTITY % target-IDREF.attribute.target '
target CDATA #IMPLIED'>

<!ENTITY % lang.attributes '
xml:lang CDATA #IMPLIED'> 
<!ENTITY % lang.attribute.xmllang '
xml:lang CDATA #IMPLIED'>

<!ENTITY % IDLangTgtDtyp.attributes ' %lang.attributes; %id.attributes; %target-IDREF.attributes;
datatype CDATA #IMPLIED'> 
<!ENTITY % IDLangTgtDtyp.attribute.datatype '
datatype CDATA #IMPLIED'>

<!-- start predeclared patterns -->

<!-- start rest of patterns -->

<!ENTITY % macro.paraContent '( #PCDATA |
 %model.gLike; |
 %model.phrase; |
 %model.inter; |
 %model.global;)*' >

<!ENTITY % macro.limitedContent '( #PCDATA |
 %model.limitedPhrase; |
 %model.inter;)*' >

<!ENTITY % macro.phraseSeq '( #PCDATA |
 %model.gLike; |
 %model.phrase; |
 %model.global;)*' >

<!ENTITY % macro.phraseSeq.limited '( #PCDATA |
 %model.limitedPhrase; |
 %model.global;)*' >

<!ENTITY % macro.specialPara '( #PCDATA |
 %model.gLike; |
 %model.phrase; |
 %model.inter; |
 %model.divPart; |
 %model.global;)*' >

<!ENTITY % macro.xtext '( #PCDATA |
 %model.gLike;)*' >

<!ENTITY % anyVML 'ANY' >

<!ENTITY % anyOLE 'ANY' >

<!ENTITY % anyOOXML 'ANY' >

<!ENTITY % anyOOXMLDrawing 'ANY' >

<!ENTITY % anyOOXMLDrawingMain 'ANY' >

<!ENTITY % anyOOXMLDrawingPic 'ANY' >

<!ENTITY % yesorno ' (0|
1) ' >

<!ENTITY % entity.noteText '(%macro.xtext; |
 %model.segLike; |
 %model.hiLike; |
 %model.ptrLike; |
 hihi)*' >

<!ENTITY % entity.auxInfo '' >

<!ENTITY % entity.basicText '(%macro.xtext; |
 %model.pPart.transcriptional; |
 %model.segLike; |
 hihi)*' >

<!-- end patterns -->

<!-- start elements -->

<!--doc:(TEI document) contains a single TEI-conformant document,
comprising a TEI header and a text, either in isolation or as part of a
teiCorpus element. -->
<!ELEMENT TEI (teiHeader,((_DUMMY_model.resourceLike+,text?) |
 text))>
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST TEI
 %att.global.attributes;
version CDATA "5.0"  >
<!ATTLIST TEI xsi:schemaLocation CDATA #IMPLIED
 xmlns:xsi CDATA #FIXED 'http://www.w3.org/2001/XMLSchema-instance'
 >
<!--doc:(abbreviation) contains an abbreviation of any sort. -->
<!ELEMENT abbr %macro.phraseSeq;>
<!ATTLIST abbr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST abbr
 %att.global.attributes;
 %att.responsibility.attributes;
type NMTOKEN  #IMPLIED >
<!--doc:(addition) contains letters, words, or phrases inserted in the text by an
        author, scribe, annotator, or corrector. -->
<!ELEMENT add %macro.paraContent;>
<!ATTLIST add xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST add
 %att.global.attributes;
 %att.datable.attributes;
 %att.transcriptional.attributes;
 %att.placement.attributes;
 %att.typed.attributes; >
<!--doc:(added span of text) marks the beginning of a longer sequence of text added by an
  author, scribe, annotator or corrector (see also add). -->
<!ELEMENT addSpan EMPTY>
<!ATTLIST addSpan xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST addSpan
 %att.global.attributes;
 %att.datable.attributes;
 %att.transcriptional.attributes;
 %att.placement.attributes;
 %att.typed.attributes;
 %att.spanning.attributes; >
<!--doc:(address line) contains one line of a postal address. -->
<!ELEMENT addrLine %macro.phraseSeq;>
<!ATTLIST addrLine xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST addrLine
 %att.global.attributes; >
<!--doc:contains a postal  address, for example of a
        publisher, an organization, or an individual. -->
<!ELEMENT address ((%model.global;)*,((%model.addrPart;),(%model.global;)*)+)>
<!ATTLIST address xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST address
 %att.global.attributes; >
<!--doc:Contains information of an administrative nature for the node (parent element)
					in question, such as the source of information, or the project or client for
					which it applies. The type of administrative information is indicated by the
					value of the type attribute. It can appear alone, or, if additional
					information needs to be provided, such as a note or a reference, it can be
					nested in an adminGrp element. This element can occur at any of
						the three levels of the terminological entry. Several types, however,
						logically should occur at restricted levels, as indicated with the
						corresponding data-category descriptions. For instance,
						databaseType and conceptOrigin would typically occur
						at the termEntry level. Care should be taken to insert the admin at
						the appropriate level of the entry according to its type attribute value and
						the parent node to which the administrative information applies.
                      -->
<!ELEMENT admin ()>
<!ATTLIST admin xmlns CDATA "http://www.lisa.org/TBX-Specification.33.0.html">
<!ATTLIST admin
 %IDLangTgtDtyp.attributes;
type (annotatedNote|
applicationSubset|
businessUnitSubset|
conceptOrigin|
customerSubset|
databaseType|
domainExpert|
elementWorkingStatus|
entrySource|
environmentSubset|
indexHeading|
keyword|
originatingDatabase|
originatingInstitution|
originatingPerson|
productSubset|
projectSubset|
searchTerm|
securitySubset|
sortKey|
source|
sourceIdentifier|
subsetOwner) #REQUIRED >
<!--doc:(analytic level) contains bibliographic elements describing an item (e.g. an article or poem) published
    within a monograph or journal and not as an independent publication. -->
<!ELEMENT analytic (author |
 editor |
 respStmt |
 title |
 refref)*>
<!ATTLIST analytic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST analytic
 %att.global.attributes; >
<!--doc:(anchor point) attaches an identifier to a point within a text, whether or not it corresponds with a textual element. -->
<!ELEMENT anchor EMPTY>
<!ATTLIST anchor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST anchor
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(application information) records information about an application which has
  edited the TEI file.  -->
<!ELEMENT appInfo (%model.applicationLike;)+>
<!ATTLIST appInfo xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST appInfo
 %att.global.attributes; >
<!--doc:provides information about an application which has acted upon the document. -->
<!ELEMENT application ((%model.labelLike;)*,((%model.ptrLike;)* |
 (%model.pLike;)*))>
<!ATTLIST application xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST application
ident NMTOKEN  #REQUIRED
version CDATA #REQUIRED
 %att.global.attributes;
 %att.typed.attributes;
 %att.datable.attributes; >
<!--doc:in a bibliographic reference, contains the name(s) of the
  author(s), personal or corporate, of a work; for example in the same
  form as that provided by a recognized bibliographic name authority.  -->
<!ELEMENT author %macro.phraseSeq;>
<!ATTLIST author xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST author
 %att.global.attributes;
 %att.naming.attributes; >
<!--doc:(release authority) supplies the name of a person or other agency responsible for
  making an electronic file available, other than a publisher or
  distributor. -->
<!ELEMENT authority  (#PCDATA)>
<!ATTLIST authority xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST authority
 %att.global.attributes; >
<!--doc:supplies information about the availability of a text, for example any restrictions on its
    use or distribution, its copyright status, etc. -->
<!ELEMENT availability (%model.pLike;)+>
<!ATTLIST availability xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST availability
 %att.global.attributes;
 %att.declarable.attributes;
status (free|
unknown|
restricted) "unknown"  >
<!--doc:(back matter) contains any appendixes, etc. following the main part of a text. -->
<!ELEMENT back ((%model.frontPart; |
 %model.pLike.front; |
 %model.global;)*,((_DUMMY_model.div1Like,(%model.frontPart; |
 _DUMMY_model.div1Like |
 %model.global;)*) |
 ((%model.divLike;),(%model.frontPart; |
 %model.divLike; |
 %model.global;)*))?,(_DUMMY_model.divBottomPart,(_DUMMY_model.divBottomPart |
 %model.global;)*)?)>
<!ATTLIST back xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST back
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may
    not be explicitly tagged.  -->
<!ELEMENT bibl ( #PCDATA |
 %model.gLike; |
 %model.highlighted; |
 %model.pPart.data; |
 %model.pPart.edit; |
 %model.segLike; |
 %model.ptrLike; |
 %model.biblPart; |
 %model.global;)*>
<!ATTLIST bibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST bibl
 %att.global.attributes;
 %att.declarable.attributes;
 %att.typed.attributes; >
<!--doc:(fully-structured bibliographic citation) contains a fully-structured bibliographic citation, in which all components of the TEI file
    description are present. -->
<!ELEMENT biblFull ((titleStmt,editionStmt?,extent?,publicationStmt,seriesStmt?,notesStmt?),sourceDesc*)>
<!ATTLIST biblFull xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST biblFull
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(scope of citation) defines the scope of a bibliographic reference, for example as a
        list of page numbers, or a named subdivision of a larger work. -->
<!ELEMENT biblScope %macro.phraseSeq;>
<!ATTLIST biblScope xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST biblScope
 %att.global.attributes;
type NMTOKEN  #IMPLIED
from CDATA #IMPLIED
to CDATA #IMPLIED >
<!--doc:(structured bibliographic citation) contains a structured bibliographic citation, in which only bibliographic sub-elements
    appear and in a specified order.  -->
<!ELEMENT biblStruct (analytic*,(monogr,series*)+,(%model.noteLike; |
 idno)*)>
<!ATTLIST biblStruct xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST biblStruct
 %att.global.attributes;
 %att.declarable.attributes;
 %att.typed.attributes; >
<!--doc:(text body) contains the whole body of a single unitary text, excluding any front or back matter. -->
<!ELEMENT body ((%model.global;)*,((%model.divTop;),(%model.global; |
 %model.divTop;)*)?,((%model.divGenLike;),(%model.global; |
 %model.divGenLike;)*)?,(((%model.divLike;),(%model.global; |
 %model.divGenLike;)*)+ |
 (_DUMMY_model.div1Like,(%model.global; |
 %model.divGenLike;)*)+ |
 (((%model.common;),(%model.global;)*)+,(((%model.divLike;),(%model.global; |
 %model.divGenLike;)*)+ |
 (_DUMMY_model.div1Like,(%model.global; |
 %model.divGenLike;)*)+)?)),((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST body xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST body
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:(character) represents a character. -->
<!ELEMENT c %macro.xtext;>
<!ATTLIST c xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST c
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes; >
<!--doc: -->
<!ELEMENT row (entry)+>
<!ATTLIST row xmlns CDATA "http://www.oasis-open.org/specs/tm9901">
<!ATTLIST row
style CDATA #IMPLIED
rowsep %yesorno;  #IMPLIED
valign (top|
middle|
bottom) #IMPLIED >
<!--doc: -->
<!ELEMENT table ((title)?,(tgroup)+)>
<!ATTLIST table xmlns CDATA "http://www.oasis-open.org/specs/tm9901">
<!ATTLIST table
corresp CDATA #IMPLIED
style CDATA #IMPLIED
xml:id ID #IMPLIED
frame (top|
bottom|
topbot|
all|
sides|
none) #IMPLIED
colsep %yesorno;  #IMPLIED
rowsep %yesorno;  #IMPLIED >
<!--doc: -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.oasis-open.org/specs/tm9901">
<!ATTLIST title
xml:id ID #IMPLIED >
<!--doc:(category description) describes some category within a taxonomy or text typology, either in the form of a brief
    prose description or in terms of the situational parameters used by the TEI formal textDesc. -->
<!ELEMENT catDesc ( #PCDATA |
 %model.limitedPhrase; |
 _DUMMY_model.catDescPart)*>
<!ATTLIST catDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST catDesc
 %att.global.attributes; >
<!--doc:(category reference) specifies one or more defined categories within some taxonomy or text typology. -->
<!ELEMENT catRef EMPTY>
<!ATTLIST catRef xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST catRef
 %att.global.attributes;
 %att.pointing.attributes;
scheme CDATA #IMPLIED >
<!--doc:contains an individual descriptive category, possibly nested within a superordinate
    category, within a user-defined taxonomy. -->
<!ELEMENT category ((catDesc+ |
 (%model.glossLike;)*),category*)>
<!ATTLIST category xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST category
 %att.global.attributes; >
<!--doc:contains one cell of a table.  -->
<!ELEMENT cell %macro.paraContent;>
<!ATTLIST cell xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cell
 %att.global.attributes;
 %att.tableDecoration.attributes; >
<!--doc:summarizes a particular change or correction made to a particular version of an electronic
    text which is shared between several researchers. -->
<!ELEMENT change ( #PCDATA |
 %model.limitedPhrase; |
 %model.inter; |
 %model.global;)*>
<!ATTLIST change xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST change
 %att.global.attributes;
 %att.ascribed.attributes;
 %att.datable.attributes;
 %att.docStatus.attributes; >
<!--doc:(cited quotation) contains a quotation from some other document, together with a bibliographic reference to
    its source. In a dictionary it may contain an example text with at least one occurrence of the
    word form, used in the sense being described, or a translation of the headword, or an example.  -->
<!ELEMENT cit (%model.qLike; |
 %model.biblLike; |
 %model.ptrLike; |
 %model.global; |
 _DUMMY_model.entryPart)+>
<!ATTLIST cit xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST cit
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(classification code) contains the classification code used for this text in some standard classification system. -->
<!ELEMENT classCode %macro.phraseSeq.limited;>
<!ATTLIST classCode xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST classCode
 %att.global.attributes;
scheme CDATA #REQUIRED >
<!--doc:(classification declarations) contains one or more taxonomies defining any classificatory
codes used elsewhere in the text. -->
<!ELEMENT classDecl (taxonomy)+>
<!ATTLIST classDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST classDecl
 %att.global.attributes; >
<!--doc:contains literal code from some formal language such as a
programming language. -->
<!ELEMENT code  (#PCDATA)>
<!ATTLIST code xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST code
 %att.global.attributes;
lang CDATA #IMPLIED >
<!--doc: -->
<!ELEMENT colspec EMPTY>
<!ATTLIST colspec xmlns CDATA "http://www.oasis-open.org/specs/tm9901">
<!ATTLIST colspec
colnum NMTOKEN #IMPLIED
colname NMTOKEN #IMPLIED
colwidth CDATA #IMPLIED
colsep %yesorno;  #IMPLIED
rowsep %yesorno;  #IMPLIED
align (left|
right|
center|
justify|
char) #IMPLIED
char CDATA #IMPLIED
charoff NMTOKEN #IMPLIED >
<!--doc:contains information about the creation of a text. -->
<!ELEMENT creation %macro.phraseSeq.limited;>
<!ATTLIST creation xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST creation
 %att.global.attributes; >
<!--doc:contains a date in any format. -->
<!ELEMENT date ( #PCDATA |
 %model.gLike; |
 %model.phrase; |
 %model.global;)*>
<!ATTLIST date xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST date
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.typed.attributes;
calendar NMTOKEN  #IMPLIED >
<!--doc:(deletion) contains a letter, word, or passage deleted, marked as deleted, or otherwise indicated as
    superfluous or spurious in the copy text by an author, scribe, annotator, or corrector. -->
<!ELEMENT del %macro.paraContent;>
<!ATTLIST del xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST del
 %att.global.attributes;
 %att.datable.attributes;
 %att.transcriptional.attributes;
 %att.typed.attributes; >
<!--doc:(deleted span of text) marks the beginning of a longer sequence of text deleted,
marked as deleted, or otherwise signaled as superfluous or spurious by an
author, scribe, annotator, or corrector. -->
<!ELEMENT delSpan EMPTY>
<!ATTLIST delSpan xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST delSpan
 %att.global.attributes;
 %att.datable.attributes;
 %att.transcriptional.attributes;
 %att.typed.attributes;
 %att.spanning.attributes; >
<!--doc:(description) contains a brief description of the object documented by its parent element, including its
    intended usage, purpose, or application where this is appropriate. -->
<!ELEMENT desc %macro.limitedContent;>
<!ATTLIST desc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST desc
 %att.global.attributes;
 %att.translatable.attributes; >
<!--doc:An element that contains descriptive information about a concept, or relations
					to other concepts. The type of information that the element contains, and any
					restrictions on the permissible values of the element, are determined by the
					value of the type attribute. -->
<!ELEMENT descrip ( #PCDATA |
 %model.noteLike; |
 %model.phrase; |
 %model.inter;)+>
<!ATTLIST descrip xmlns CDATA "http://www.lisa.org/TBX-Specification.33.0.html">
<!ATTLIST descrip
 %IDLangTgtDtyp.attributes;
type (antonymConcept|
associatedConcept|
audio|
broaderConceptGeneric|
broaderConceptPartitive|
characteristic|
classificationCode|
conceptPosition|
context|
coordinateConceptGeneric|
coordinateConceptPartitive|
definition|
example|
explanation|
figure|
otherBinaryData|
quantity|
range|
relatedConcept|
relatedConceptBroader|
relatedConceptNarrower|
reliabilityCode|
sampleSentence|
sequentiallyRelatedConcept|
spatiallyRelatedConcept|
subjectField|
subordinateConceptGeneric|
subordinateConceptPartitive|
superordinateConceptGeneric|
superordinateConceptPartitive|
table|
temporallyRelatedConcept|
thesaurusDescriptor|
unit|
video) #REQUIRED >
<!--doc:Contains one descrip element as well as additional child elements for
					associated administrative information. -->
<!ELEMENT descripGrp (>
<!ATTLIST descripGrp xmlns CDATA "http://www.lisa.org/TBX-Specification.33.0.html">
<!ATTLIST descripGrp
 %id.attributes; >
<!--doc:Element used to indicate the type of definition or context with which it is
					associated. -->
<!ELEMENT descripNote  (#PCDATA)>
<!ATTLIST descripNote xmlns CDATA "http://www.lisa.org/TBX-Specification.33.0.html">
<!ATTLIST descripNote
 %IDLangTgtDtyp.attributes;
type (contextType|
definitionType) #REQUIRED >
<!--doc:supplies the name of a person or other agency responsible for the
distribution of a text. -->
<!ELEMENT distributor %macro.phraseSeq;>
<!ATTLIST distributor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST distributor
 %att.global.attributes; >
<!--doc:(text division) contains a subdivision of the front, body, or back of a text. -->
<!ELEMENT div ((%model.divTop; |
 %model.global;)*,((((%model.divLike; |
 %model.divGenLike;),(%model.global;)*)+ |
 (((%model.common;),(%model.global;)*)+,((%model.divLike; |
 %model.divGenLike;),(%model.global;)*)*)),((%model.divBottom;),(%model.global;)*)*)?)>
<!ATTLIST div xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST div
type (foreword|
introduction|
scope|
annex|
annexSection|
normativeReferences|
termsAndDefinitions|
termHeading|
symbolsAndTerms|
requirements|
sampling|
test|
classification|
marking|
bibliography|
closed|
headless) #IMPLIED
 %att.global.attributes;
 %att.divLike.attributes;
 %att.typed.attribute.subtype;
 %att.declaring.attributes; >
<!--doc:(automatically generated text division) indicates the location at which a textual division generated
        automatically by a text-processing application is to appear. -->
<!ELEMENT divGen (%model.headLike;)*>
<!ATTLIST divGen xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST divGen
 %att.global.attributes;
type NMTOKEN  #IMPLIED >
<!--doc: -->
<!ELEMENT dynamicContent  EMPTY>
<!ATTLIST dynamicContent xmlns CDATA "http://www.tei-c.org/ns/teidocx/1.0">
<!ATTLIST dynamicContent
type CDATA #IMPLIED >
<!--doc:(edition) describes the particularities of one edition of a text. -->
<!ELEMENT edition %macro.phraseSeq;>
<!ATTLIST edition xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST edition
 %att.global.attributes; >
<!--doc:(edition statement) groups information relating to one edition of a text. -->
<!ELEMENT editionStmt ((%model.pLike;)+ |
 (edition,respStmt*))>
<!ATTLIST editionStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editionStmt
 %att.global.attributes; >
<!--doc:secondary statement of responsibility for a bibliographic item, for example the name of an
    individual, institution or organization, (or of several such) acting as editor, compiler,
    translator, etc.  -->
<!ELEMENT editor %macro.phraseSeq;>
<!ATTLIST editor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST editor
 %att.global.attributes;
 %att.naming.attributes; >
<!--doc:(example) contains any kind of illustrative example.  -->
<!ELEMENT eg ( #PCDATA |
 hihi)+>
<!ATTLIST eg xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST eg
 %att.global.attributes; >
<!--doc:points to the specification for some element which is to be included in a schema -->
<!ELEMENT elementRef EMPTY>
<!ATTLIST elementRef xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST elementRef
 %att.global.attributes;
 %att.readFrom.attributes;
key CDATA #REQUIRED >
<!--doc:(emphasized) marks words or phrases which are stressed or emphasized for
        linguistic or rhetorical effect. -->
<!ELEMENT emph %macro.paraContent;>
<!ATTLIST emph xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST emph
 %att.global.attributes; >
<!--doc:(encoding description) documents the relationship between an electronic text and the
source or sources from which it was derived. -->
<!ELEMENT encodingDesc (%model.encodingDescPart; |
 %model.pLike;)+>
<!ATTLIST encodingDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST encodingDesc
 %att.global.attributes; >
<!--doc: -->
<!ELEMENT entry (p |
 %model.global; |
 %macro.paraContent;)+>
<!ATTLIST entry xmlns CDATA "http://www.oasis-open.org/specs/tm9901">
<!ATTLIST entry
style CDATA #IMPLIED
colname NMTOKEN #IMPLIED
namest NMTOKEN #IMPLIED
nameend NMTOKEN #IMPLIED
morerows NMTOKEN #IMPLIED
colsep %yesorno;  #IMPLIED
rowsep %yesorno;  #IMPLIED
rotate %yesorno;  #IMPLIED
align (left|
right|
center|
justify|
char) #IMPLIED
char CDATA #IMPLIED
charoff NMTOKEN #IMPLIED
valign (top|
middle|
bottom) #IMPLIED >
<!--doc:describes the approximate size of a text as stored on some carrier medium, whether digital
    or non-digital, specified in any convenient units. -->
<!ELEMENT extent %macro.phraseSeq;>
<!ATTLIST extent xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST extent
 %att.global.attributes; >
<!--doc:(description of figure) contains a brief prose description of the appearance or content
of a graphic figure, for use when documenting an image without
displaying it. -->
<!ELEMENT figDesc %macro.limitedContent;>
<!ATTLIST figDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST figDesc
 %att.global.attributes; >
<!--doc:groups elements representing or containing graphic information such as an illustration or
    figure. -->
<!ELEMENT figure (%model.headLike; |
 %model.pLike; |
 figDesc |
 %model.graphicLike; |
 %model.egLike; |
 %model.global;)*>
<!ATTLIST figure xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST figure
 %att.global.attributes;
 %att.placement.attributes; >
<!--doc:(file description) contains a full bibliographic description of an electronic file. -->
<!ELEMENT fileDesc ((titleStmt,editionStmt?,extent?,publicationStmt,seriesStmt?,notesStmt?),sourceDesc+)>
<!ATTLIST fileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST fileDesc
 %att.global.attributes; >
<!--doc: -->
<!ELEMENT footer EMPTY>
<!ATTLIST footer xmlns CDATA "http://www.tei-c.org/ns/teidocx/1.0">
<!ATTLIST footer
type CDATA #IMPLIED
ref CDATA #IMPLIED >
<!--doc:(foreign) identifies a word or phrase as belonging to some language other than that of the
                surrounding text.  -->
<!ELEMENT foreign %macro.phraseSeq;>
<!ATTLIST foreign xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST foreign
 %att.global.attributes; >
<!--doc:contains a forename, given or baptismal name. -->
<!ELEMENT forename %macro.phraseSeq;>
<!ATTLIST forename xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST forename
 %att.global.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
<!--doc:contains a mathematical or other formula. -->
<!ELEMENT formula (%macro.xtext; |
 %model.milestoneLike; |
 %model.hiLike; |
 %model.graphicLike;)+>
<!ATTLIST formula xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST formula
notation CDATA #IMPLIED
 %att.global.attributes; >
<!--doc:(front matter) contains any prefatory matter (headers,
title page, prefaces, dedications, etc.)
found  at the start of a document, before the main body. -->
<!ELEMENT front ((%model.frontPart; |
 %model.pLike.front; |
 %model.global;)*,((_DUMMY_model.div1Like,(%model.frontPart; |
 _DUMMY_model.div1Like |
 %model.global;)*) |
 ((%model.divLike;),(%model.frontPart; |
 %model.divLike; |
 %model.global;)*))?,(_DUMMY_model.divBottomPart,(_DUMMY_model.divBottomPart |
 %model.global;)*)?)>
<!ATTLIST front xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST front
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:(funding body) specifies the name of an individual, institution, or organization responsible for the
    funding of a project or text. -->
<!ELEMENT funder %macro.phraseSeq.limited;>
<!ATTLIST funder xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST funder
 %att.global.attributes; >
<!--doc:(forme work) contains a running head (e.g. a header, footer), catchword, or
  similar material appearing on the current page. -->
<!ELEMENT fw (%model.inter; |
 %model.pLike;)+>
<!ATTLIST fw xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST fw
type NMTOKEN  #IMPLIED
 %att.global.attributes;
 %att.placement.attributes; >
<!--doc:(character or glyph) represents a non-standard character or glyph. -->
<!ELEMENT g  (#PCDATA)>
<!ATTLIST g xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST g
 %att.global.attributes;
 %att.typed.attributes;
ref CDATA #IMPLIED >
<!--doc:(element name) contains the name (generic identifier) of an element. -->
<!ELEMENT gi  (#PCDATA)>
<!ATTLIST gi xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST gi
 %att.global.attributes;
scheme NMTOKEN  "TEI"  >
<!--doc:identifies a phrase or word used to provide a gloss or definition for some other word or
    phrase. -->
<!ELEMENT gloss %macro.phraseSeq;>
<!ATTLIST gloss xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST gloss
 %att.global.attributes;
 %att.declaring.attributes;
 %att.translatable.attributes;
 %att.typed.attributes;
 %att.pointing.attributes;
cRef CDATA #IMPLIED >
<!--doc:indicates the location of an inline graphic, illustration, or figure. -->
<!ELEMENT graphic (%model.glossLike;)*>
<!ATTLIST graphic xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST graphic
 %att.global.attributes;
 %att.internetMedia.attributes;
 %att.declaring.attributes;
width CDATA #IMPLIED
height CDATA #IMPLIED
scale CDATA #IMPLIED
url CDATA #REQUIRED >
<!--doc:contains the body of a composite text, grouping together a sequence of distinct texts (or
    groups of such texts) which are regarded as a unit for some purpose, for example the collected
    works of an author, a sequence of prose essays, etc. -->
<!ELEMENT group ((%model.divTop; |
 %model.global;)*,((text |
 group),(text |
 group |
 %model.global;)*),(%model.divBottom;)*)>
<!ATTLIST group xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST group
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc:(heading) contains any type of heading, for example the title of a section, or the heading of a list,
    glossary, manuscript description, etc. -->
<!ELEMENT head %macro.paraContent;>
<!ATTLIST head xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST head
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc: -->
<!ELEMENT header EMPTY>
<!ATTLIST header xmlns CDATA "http://www.tei-c.org/ns/teidocx/1.0">
<!ATTLIST header
type CDATA #IMPLIED
ref CDATA #IMPLIED >
<!--doc:(highlighted) marks a word or phrase as graphically distinct from the
        surrounding text, for reasons concerning which no claim is
        made.  -->
<!ELEMENT hi %macro.paraContent;>
<!ATTLIST hi xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST hi
rend CDATA  #REQUIRED
 %att.global.attribute.style;
 %att.global.attribute.meta;
 %att.global.attribute.status;
 %att.global.attribute.provision;
 %att.global.attribute.spaceBefore;
 %att.global.attribute.spaceAfter;
 %att.global.attribute.align;
 %att.global.attribute.replaceable;
 %att.global.attribute.xmlid;
 %att.global.attribute.n;
 %att.global.attribute.xmllang;
 %att.global.attribute.xmlbase;
 %att.global.attribute.xmlspace;
 %att.global.analytic.attributes;
 %att.global.facs.attributes; >
<!--doc: Highlights a segment of text and optionally points to another element. -->
<!ELEMENT hi  (#PCDATA)>
<!ATTLIST hi xmlns CDATA "http://www.lisa.org/TBX-Specification.33.0.html">
<!ATTLIST hi
 %target-IDREF.attributes;
 %lang.attributes;
type (entailedTerm|
hotkey|
italics|
bold|
superscript|
subscript|
math) #IMPLIED >
<!--doc:(identifier) supplies any form of identifier used to identify some object,
  such as a bibliographic item, a person, a title, an organization,
  etc. in a standardized way. -->
<!ELEMENT idno  (#PCDATA)>
<!ATTLIST idno xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST idno
type (wgNumber|
serialNumber|
documentNumber|
partNumber|
draftNumber|
ISO|
IEC|
stage|
supplNumber|
corrNumber|
corrType|
corrYear|
docNumber|
docPartNumber|
documentType|
parts|
supplType|
supplYear) #IMPLIED
 %att.global.attributes; >
<!--doc:groups information relating to the publication or distribution
        of a bibliographic item. -->
<!ELEMENT imprint (((%model.imprintPart;) |
 (%model.dateLike;)),(%model.global;)*)+>
<!ATTLIST imprint xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST imprint
 %att.global.attributes; >
<!--doc:(index entry) marks a location to be indexed for whatever purpose. -->
<!ELEMENT index (termterm,index?)*>
<!ATTLIST index xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST index
 %att.global.attributes;
 %att.spanning.attributes;
indexName NMTOKEN  #IMPLIED >
<!--doc:contains one component of a list. -->
<!ELEMENT item %macro.specialPara;>
<!ATTLIST item xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST item
 %att.global.attributes; >
<!--doc:contains a list of keywords or phrases identifying the topic or nature of a text. -->
<!ELEMENT keywords (termterm+ |
 list)>
<!ATTLIST keywords xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST keywords
 %att.global.attributes;
scheme CDATA #REQUIRED >
<!--doc:(verse line) contains a single, possibly incomplete, line of verse. -->
<!ELEMENT l %macro.paraContent;>
<!ATTLIST l xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST l
 %att.global.attributes;
part (Y|
N|
I|
M|
F) "N"  >
<!--doc:contains the label associated with an item in a list; in glossaries, marks the term being
    defined. -->
<!ELEMENT label %macro.phraseSeq;>
<!ATTLIST label xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST label
 %att.global.attributes; >
<!--doc:A nesting element that contains all the information in a terminological entry
					pertaining to one language, including all the tig or
					ntigelements (terms and associated information) for that language. -->
<!ELEMENT langSet (>
<!ATTLIST langSet xmlns CDATA "http://www.lisa.org/TBX-Specification.33.0.html">
<!ATTLIST langSet
xml:lang CDATA #REQUIRED >
<!--doc:(language usage) describes the languages, sublanguages, registers, dialects, etc.
represented within a text. -->
<!ELEMENT langUsage (language)+>
<!ATTLIST langUsage xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST langUsage
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:characterizes a single language or sublanguage used within a text. -->
<!ELEMENT language %macro.phraseSeq.limited;>
<!ATTLIST language xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST language
 %att.global.attributes;
ident CDATA #REQUIRED
usage CDATA #IMPLIED >
<!--doc:(line break) marks the start of a new (typographic) line in some edition or version of a text. -->
<!ELEMENT lb EMPTY>
<!ATTLIST lb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST lb
 %att.global.attributes;
 %att.typed.attributes;
 %att.sourced.attributes; >
<!--doc:(list) contains any sequence of items organized as a list. -->
<!ELEMENT list (((%model.divTop;) |
 (%model.global;))*,((item,(%model.global;)*)+ |
 (label,(%model.global;)*,item,(%model.global;)*)+),((%model.divBottom;),(%model.global;)*)*)>
<!ATTLIST list xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST list
type (ordered|
unordered|
gloss) #REQUIRED
 %att.global.attributes; >
<!--doc:(citation list) contains a list of bibliographic citations of any kind.  -->
<!ELEMENT listBibl ((%model.headLike;)*,(%model.biblLike; |
 %model.milestoneLike; |
 listBibl)+)>
<!ATTLIST listBibl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listBibl
 %att.global.attributes;
 %att.declarable.attributes;
 %att.typed.attributes; >
<!--doc:(list of events) contains a list of descriptions, each of which provides information
    about an identifiable event.  -->
<!ELEMENT listEvent ((%model.headLike;)*,listEvent+)>
<!ATTLIST listEvent xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST listEvent
 %att.global.attributes;
 %att.typed.attributes;
 %att.declarable.attributes; >
<!--doc:points to the specification for some pattern which is to be included in a schema -->
<!ELEMENT macroRef EMPTY>
<!ATTLIST macroRef xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST macroRef
 %att.global.attributes;
 %att.readFrom.attributes;
key CDATA #REQUIRED >
<!--doc:contains the formalized descriptive title for a meeting or conference, for use in a
    bibliographic description for an item derived from such a meeting, or as a heading or preamble
    to publications emanating from it. -->
<!ELEMENT meeting %macro.limitedContent;>
<!ATTLIST meeting xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST meeting
 %att.global.attributes; >
<!--doc:marks words or phrases mentioned, not used. -->
<!ELEMENT mentioned %macro.phraseSeq;>
<!ATTLIST mentioned xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST mentioned
 %att.global.attributes; >
<!--doc:marks a boundary point separating any kind of section of a text, typically but not
    necessarily indicating a point at which some part of a standard reference system changes, where
    the change is not represented by a structural element. -->
<!ELEMENT milestone (orientation |
 footer |
 header |
 pageNumbering)*>
<!ATTLIST milestone xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST milestone
unit NMTOKEN  #REQUIRED
 %att.global.attributes;
 %att.typed.attributes;
 %att.sourced.attributes; >
<!--doc:(monographic level) contains bibliographic elements describing an item (e.g. a book or journal) published as an
    independent item (i.e. as a separate physical object). -->
<!ELEMENT monogr ((((author |
 editor |
 respStmt),(author |
 editor |
 respStmt)*,title+,(idno |
 editor |
 respStmt)*) |
 ((title |
 refref)+,(idno |
 author |
 editor |
 respStmt)*))?,(%model.noteLike; |
 meeting)*,(edition,(idno |
 editor |
 respStmt)*)*,imprint,(imprint |
 extent |
 biblScope)*)>
<!ATTLIST monogr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST monogr
 %att.global.attributes; >
<!--doc:(name, proper noun) contains a proper noun or noun phrase. -->
<!ELEMENT name %macro.phraseSeq;>
<!ATTLIST name xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST name
 %att.global.attributes;
 %att.naming.attributes;
 %att.typed.attributes; >
<!--doc:contains a note or annotation. -->
<!ELEMENT note %macro.specialPara;>
<!ATTLIST note xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST note
place (inline|
foot|
bottom|
end|
comment) #IMPLIED
anchored CDATA "true" 
targetEnd CDATA  #IMPLIED
 %att.global.attributes;
 %att.pointing.attributes;
 %att.responsibility.attributes;
 %att.typed.attributes; >
<!--doc:Any kind of note.  -->
<!ELEMENT note ()>
<!ATTLIST note xmlns CDATA "http://www.lisa.org/TBX-Specification.33.0.html">
<!ATTLIST note
 %idlang.attributes; >
<!--doc:(notes statement) collects together any notes providing information about a text additional to that recorded
    in other parts of the bibliographic description. -->
<!ELEMENT notesStmt (%model.noteLike;)+>
<!ATTLIST notesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST notesStmt
 %att.global.attributes; >
<!--doc:A nesting term information group. A grouping element that
					contains child elements describing a term. It is equivalent to a tig
					except that it allows the description of term components. -->
<!ELEMENT ntig (,)>
<!ATTLIST ntig xmlns CDATA "http://www.lisa.org/TBX-Specification.33.0.html">
<!ATTLIST ntig
 %id.attributes; >
<!--doc:(number) contains a number, written in any form. -->
<!ELEMENT num %macro.phraseSeq;>
<!ATTLIST num xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST num
 %att.global.attributes;
 %att.ranging.attributes;
type NMTOKEN  #IMPLIED
value CDATA #IMPLIED >
<!--doc:(organization) provides information about an identifiable organization such as a business, a tribe, or
        any other grouping of people. -->
<!ELEMENT org ((%model.headLike;)*,((%model.pLike;)* |
 (%model.labelLike; |
 %model.nameLike; |
 _DUMMY_model.placeLike)*),(%model.noteLike; |
 %model.biblLike;)*,(%model.personLike;)*)>
<!ATTLIST org xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST org
 %att.global.attributes;
 %att.typed.attributes;
 %att.editLike.attributes;
role CDATA  #IMPLIED >
<!--doc:(organization name) contains an organizational name.  -->
<!ELEMENT orgName %macro.phraseSeq;>
<!ATTLIST orgName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST orgName
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
<!--doc: -->
<!ELEMENT orientation  EMPTY>
<!ATTLIST orientation xmlns CDATA "http://www.tei-c.org/ns/teidocx/1.0">
<!ATTLIST orientation
type CDATA #IMPLIED >
<!--doc:(paragraph) marks paragraphs in prose. -->
<!ELEMENT p %macro.paraContent;>
<!ATTLIST p xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST p
 %att.global.attributes;
 %att.declaring.attributes; >
<!--doc: -->
<!ELEMENT pageNumbering  EMPTY>
<!ATTLIST pageNumbering xmlns CDATA "http://www.tei-c.org/ns/teidocx/1.0">
<!ATTLIST pageNumbering
type CDATA #IMPLIED
start CDATA #IMPLIED >
<!--doc:(page break) marks the boundary between one page of a text and the next in a standard reference system. -->
<!ELEMENT pb EMPTY>
<!ATTLIST pb xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pb
 %att.global.attributes;
 %att.typed.attributes;
 %att.sourced.attributes; >
<!--doc: (punctuation character) a character or string of characters regarded as constituting a
  single punctuation mark. -->
<!ELEMENT pc ( #PCDATA |
 %model.gLike; |
 c)*>
<!ATTLIST pc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pc
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
force NMTOKEN  #IMPLIED
unit NMTOKEN  #IMPLIED
pre CDATA #IMPLIED >
<!--doc:(personal name) contains a proper noun or proper-noun phrase referring to a person, possibly including any
    or all of the person's forenames, surnames, honorifics, added names, etc. -->
<!ELEMENT persName %macro.phraseSeq;>
<!ATTLIST persName xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST persName
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
<!--doc:(principal researcher) supplies the name of the principal researcher responsible for the
creation of an electronic text. -->
<!ELEMENT principal %macro.phraseSeq.limited;>
<!ATTLIST principal xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST principal
 %att.global.attributes; >
<!--doc:(text-profile description) provides a detailed description of non-bibliographic aspects of a text, specifically the
    languages and sublanguages used, the situation in which it was produced, the participants and
    their setting. -->
<!ELEMENT profileDesc (%model.profileDescPart;)*>
<!ATTLIST profileDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST profileDesc
 %att.global.attributes; >
<!--doc:(project description) describes in detail the aim or purpose for which an electronic file was encoded, together
    with any other relevant information concerning the process by which it was assembled or
    collected. -->
<!ELEMENT projectDesc (%model.pLike;)+>
<!ATTLIST projectDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST projectDesc
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(pointer) defines a pointer to another location. -->
<!ELEMENT ptr EMPTY>
<!ATTLIST ptr xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ptr
 %att.global.attributes;
 %att.pointing.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
<!--doc:(publication place) contains the name of the place where a bibliographic item was published. -->
<!ELEMENT pubPlace %macro.phraseSeq;>
<!ATTLIST pubPlace xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST pubPlace
 %att.global.attributes;
 %att.naming.attributes; >
<!--doc:(publication statement) groups information concerning the publication or distribution of an electronic or other
    text.  -->
<!ELEMENT publicationStmt ((%model.pLike;)+ |
 (%model.publicationStmtPart;)+)>
<!ATTLIST publicationStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publicationStmt
 %att.global.attributes; >
<!--doc:provides the name of the organization responsible for the publication or distribution of a
        bibliographic item. -->
<!ELEMENT publisher %macro.phraseSeq;>
<!ATTLIST publisher xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST publisher
 %att.global.attributes; >
<!--doc:(separated from the surrounding text with quotation marks) contains material which is marked as (ostensibly) being somehow different than the
    surrounding text, for any one of a variety of reasons including, but not limited to: direct
    speech or thought, technical terms or jargon, authorial distance, quotations from elsewhere, and
    passages that are mentioned but not used. -->
<!ELEMENT q %macro.specialPara;>
<!ATTLIST q xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST q
 %att.global.attributes;
 %att.ascribed.attributes;
type NMTOKEN  #IMPLIED >
<!--doc:(quotation) contains a phrase or passage attributed by the narrator or author to some agency external
        to the text. -->
<!ELEMENT quote %macro.specialPara;>
<!ATTLIST quote xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST quote
 %att.global.attributes;
 %att.typed.attributes; >
<!--doc:(reference) defines a reference to another location, possibly modified by additional text or comment. -->
<!ELEMENT ref %macro.paraContent;>
<!ATTLIST ref xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST ref
 %att.global.attributes;
 %att.pointing.attributes;
 %att.typed.attributes;
 %att.declaring.attributes; >
<!--doc:A cross-reference that points to another element within the martif
					element of the TBX document instance. The content of the element is display text
					of the target element (i.e. the term), and shall be in plainText. -->
<!ELEMENT ref  (#PCDATA)>
<!ATTLIST ref xmlns CDATA "http://www.lisa.org/TBX-Specification.33.0.html">
<!ATTLIST ref
 %IDLangTgtDtyp.attributes;
type (crossReference|
see) #REQUIRED >
<!--doc:(references declaration) specifies how canonical references are constructed for this
  text. -->
<!ELEMENT refsDecl (%model.pLike;)+>
<!ATTLIST refsDecl xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST refsDecl
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:(responsibility) contains a phrase describing the nature of a person's intellectual responsibility. -->
<!ELEMENT resp %macro.phraseSeq.limited;>
<!ATTLIST resp xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST resp
 %att.global.attributes;
 %att.canonical.attributes; >
<!--doc:(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition,
    recording, or series, where the specialized elements for authors, editors, etc. do not suffice
    or do not apply. -->
<!ELEMENT respStmt ((resp+,(%model.nameLike.agent;)+) |
 ((%model.nameLike.agent;)+,resp+))>
<!ATTLIST respStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST respStmt
 %att.global.attributes; >
<!--doc:(revision description) summarizes the revision history for a file. -->
<!ELEMENT revisionDesc (list |
 change+)>
<!ATTLIST revisionDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST revisionDesc
 %att.global.attributes;
 %att.docStatus.attributes; >
<!--doc:contains one row of a table.  -->
<!ELEMENT row (cell)+>
<!ATTLIST row xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST row
 %att.global.attributes;
 %att.tableDecoration.attributes; >
<!--doc:(arbitrary segment) represents any segmentation of text below the chunk level. -->
<!ELEMENT seg %macro.paraContent;>
<!ATTLIST seg xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST seg
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
 %att.responsibility.attributes; >
<!--doc:(series information) contains information about the series in which a book or other bibliographic item has
    appeared. -->
<!ELEMENT series ( #PCDATA |
 %model.gLike; |
 title |
 refref |
 editor |
 respStmt |
 biblScope |
 %model.global;)*>
<!ATTLIST series xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST series
 %att.global.attributes; >
<!--doc:(series statement) groups information about the series, if any, to which a publication belongs. -->
<!ELEMENT seriesStmt ((%model.pLike;)+ |
 (title+,(idno |
 respStmt)*))>
<!ATTLIST seriesStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST seriesStmt
 %att.global.attributes; >
<!--doc:(source description) describes the source from which an electronic text was derived or generated, typically a
    bibliographic description in the case of a digitized text, or a phrase such as "born digital"
    for a text which has no previous existence. -->
<!ELEMENT sourceDesc ((%model.pLike;)+ |
 (%model.biblLike; |
 _DUMMY_model.sourceDescPart |
 %model.listLike;)+)>
<!ATTLIST sourceDesc xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sourceDesc
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc:specifies the name of a sponsoring organization or institution. -->
<!ELEMENT sponsor %macro.phraseSeq.limited;>
<!ATTLIST sponsor xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST sponsor
 %att.global.attributes; >
<!--doc:contains a family (inherited) name, as opposed to a given, baptismal, or nick name. -->
<!ELEMENT surname %macro.phraseSeq;>
<!ATTLIST surname xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST surname
 %att.global.attributes;
 %att.personal.attributes;
 %att.typed.attributes; >
<!--doc:contains text displayed in tabular form, in rows and columns. -->
<!ELEMENT table ((%model.headLike; |
 %model.global;)*,(row,(%model.global;)*)+)>
<!ATTLIST table xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST table
 %att.global.attributes;
rows CDATA #IMPLIED
cols CDATA #IMPLIED >
<!--doc:defines a typology used to classify texts either implicitly, by means of a bibliographic
    citation, or explicitly by a structured taxonomy. -->
<!ELEMENT taxonomy ((%model.glossLike;)* |
 category+ |
 ((%model.biblLike;),category*))>
<!ATTLIST taxonomy xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST taxonomy
 %att.global.attributes; >
<!--doc: -->
<!ELEMENT tbody (row)+>
<!ATTLIST tbody xmlns CDATA "http://www.oasis-open.org/specs/tm9901">
<!ATTLIST tbody
valign (top|
middle|
bottom) #IMPLIED >
<!--doc:(TEI Header) supplies the descriptive and declarative information making up an electronic title page
    prefixed to every TEI-conformant text. -->
<!ELEMENT teiHeader (fileDesc,(%model.teiHeaderPart;)*,revisionDesc?)>
<!ATTLIST teiHeader xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST teiHeader
type NMTOKEN  "text" 
 %att.global.attributes; >
<!--doc:contains a single-word, multi-word, or symbolic designation which is regarded as a technical
    term. -->
<!ELEMENT term %macro.phraseSeq;>
<!ATTLIST term xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST term
 %att.global.attributes;
 %att.declaring.attributes;
 %att.pointing.attributes;
 %att.typed.attributes;
 %att.canonical.attributes;
cRef CDATA #IMPLIED
sortKey CDATA #IMPLIED >
<!--doc:The term that is being described in a tig or ntig. This
					element, as well as other term-like elements such as those mentioned in the
					table Types of terms, relations to terms in section 9, can contain
					a hi element to allow a limited amount of inline markup. This is
					intended to handle markup requirements in special cases such as may be required
					for terms that represent scientific concepts. However, it is strongly
					recommended to use inline markup only when necessary to represent the term in
					its base form. Do not use the hi element for presentational styles
					chosen for esthetic purposes. -->
<!ELEMENT term ()>
<!ATTLIST term xmlns CDATA "http://www.lisa.org/TBX-Specification.33.0.html">
<!ATTLIST term
 %id.attributes; >
<!--doc:A term component. It includes the text of a part of a word (such as a morpheme
					or a syllable) or one of the words making up a multi-word term. The type of term
					component will depend on the value of the type attribute of the
						termCompList element. -->
<!ELEMENT termComp  (#PCDATA)>
<!ATTLIST termComp xmlns CDATA "http://www.lisa.org/TBX-Specification.33.0.html">
<!ATTLIST termComp
 %idlang.attributes; >
<!--doc:A grouping element that includes one termComp plus additional
					elements describing the term component, such as notes, administrative
					information, and cross references. -->
<!ELEMENT termCompGrp (,)>
<!ATTLIST termCompGrp xmlns CDATA "http://www.lisa.org/TBX-Specification.33.0.html">
<!ATTLIST termCompGrp
 %id.attributes; >
<!--doc:A grouping element that contains at least one termComp element
					(usually more) or at least one termCompGrp element plus optionally some
					additional information about the term components. This element is designed to
					contain the components of a term. The value of the type attribute
					indicates what type of term components it contains. -->
<!ELEMENT termCompList (>
<!ATTLIST termCompList xmlns CDATA "http://www.lisa.org/TBX-Specification.33.0.html">
<!ATTLIST termCompList
 %id.attributes;
type (hyphenation|
lemma|
morphologicalElement|
syllabification|
termElement) #REQUIRED >
<!--doc:The root element of a terminological entry. It shall contain at least one
					language section. -->
<!ELEMENT termEntry (>
<!ATTLIST termEntry xmlns CDATA "http://www.lisa.org/TBX-Specification.33.0.html">
<!ATTLIST termEntry
 %id.attributes; >
<!--doc:Element used in an ntig which contains one term and
					optionally additional information about the term. This element is primarily used
					in conjunction with ntig when the term is broken down into components.  -->
<!ELEMENT termGrp (>
<!ATTLIST termGrp xmlns CDATA "http://www.lisa.org/TBX-Specification.33.0.html">
<!ATTLIST termGrp
 %id.attributes; >
<!--doc:A meta data-category used for describing terms. A type attribute
					specifies what kind of information is included in a particular instance of this
					element. -->
<!ELEMENT termNote ()>
<!ATTLIST termNote xmlns CDATA "http://www.lisa.org/TBX-Specification.33.0.html">
<!ATTLIST termNote
 %IDLangTgtDtyp.attributes;
type (abbreviatedFormFor|
administrativeStatus|
animacy|
antonymTerm|
directionality|
etymology|
falseFriend|
frequency|
geographicalUsage|
grammaticalGender|
grammaticalNumber|
grammaticalValency|
homograph|
language-planningQualifier|
lionHotkey|
normativeAuthorization|
partOfSpeech|
processStatus|
pronunciation|
proprietaryRestriction|
register|
shortFormFor|
temporalQualifier|
termLocation|
termProvenance|
termStructure|
termType|
timeRestriction|
transferComment|
usageNote) #REQUIRED >
<!--doc:contains a single text of any kind, whether unitary or composite, for example a poem or
    drama, a collection of essays, a novel, a dictionary, or a corpus sample. -->
<!ELEMENT text ((%model.global;)*,(front,(%model.global;)*)?,(body |
 group),(%model.global;)*,(back,(%model.global;)*)?)>
<!ATTLIST text xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST text
 %att.global.attributes;
 %att.declaring.attributes;
 %att.typed.attributes; >
<!--doc:(text classification) groups information which describes the nature or topic of a text in terms of a standard
    classification scheme, thesaurus, etc. -->
<!ELEMENT textClass (classCode |
 catRef |
 keywords)*>
<!ATTLIST textClass xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST textClass
 %att.global.attributes;
 %att.declarable.attributes; >
<!--doc: -->
<!ELEMENT tgroup ((colspec)*,(thead)?,tbody)>
<!ATTLIST tgroup xmlns CDATA "http://www.oasis-open.org/specs/tm9901">
<!ATTLIST tgroup
cols NMTOKEN #IMPLIED
colsep %yesorno;  #IMPLIED
rowsep %yesorno;  #IMPLIED
align (left|
right|
center|
justify|
char) #IMPLIED >
<!--doc: -->
<!ELEMENT thead (row)+>
<!ATTLIST thead xmlns CDATA "http://www.oasis-open.org/specs/tm9901">
<!ATTLIST thead
valign (top|
middle|
bottom) #IMPLIED >
<!--doc:contains a phrase defining a time of day in any format. -->
<!ELEMENT time ( #PCDATA |
 %model.gLike; |
 %model.phrase; |
 %model.global;)*>
<!ATTLIST time xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST time
 %att.global.attributes;
 %att.datable.attributes;
 %att.editLike.attributes;
 %att.typed.attributes; >
<!--doc:contains a title for any kind of work. -->
<!ELEMENT title %macro.paraContent;>
<!ATTLIST title xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST title
 %att.global.attributes;
 %att.canonical.attributes;
level (a|
m|
j|
s|
u) #IMPLIED
type NMTOKEN  #IMPLIED >
<!--doc:contains a subsection or division of the title of a work, as
indicated on a title page. -->
<!ELEMENT titlePart %macro.paraContent;>
<!ATTLIST titlePart xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titlePart
 %att.global.attributes;
type NMTOKEN  "main"  >
<!--doc:(title statement) groups information about the title of a work and those responsible for its intellectual
    content. -->
<!ELEMENT titleStmt (title+,(%model.respLike;)*)>
<!ATTLIST titleStmt xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST titleStmt
 %att.global.attributes; >
<!--doc:(word) represents a grammatical (not necessarily orthographic) word. -->
<!ELEMENT w ( #PCDATA |
 %model.gLike; |
 seg |
 w |
 c |
 %model.global; |
 _DUMMY_model.lPart |
 %model.hiLike; |
 %model.pPart.edit;)*>
<!ATTLIST w xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ATTLIST w
 %att.global.attributes;
 %att.segLike.attributes;
 %att.typed.attributes;
lemma CDATA #IMPLIED
lemmaRef CDATA  #IMPLIED >
<!--doc:Any Word-specific chunk of XML code -->
<!ELEMENT wordObject (%anyOOXML; |
 %anyOLE; |
 %anyVML;)+>
<!ATTLIST wordObject xmlns CDATA "http://www.iso.org/ns/1.0">
<!-- end elements -->
