Exemplars/tei_bare.odd

<?xml version="1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Absolutely Bare</title>
                <author>Laurent Romary</author>
            </titleStmt>
	    <publicationStmt>
	      <availability status="free">
		<p>This template file is freely available and you are
		hereby authorised to copy, modify, and redistribute it in
		any way without further reference or permissions.</p>
		<p>When making such modifications, you are strongly
		recommended to change the present text to include an
		accurate statement of the licencing conditions applicable
		to your modified text.</p>
	      </availability>
	    </publicationStmt>
	    <sourceDesc>
	      <p>created on Thursday 12th October 2006 05:24:41 PM by the form at
	      http://www.tei-c.org.uk/Roma/</p>
	    </sourceDesc>
	</fileDesc>
    </teiHeader>
    <text>
        <front>            
	  <divGen type="toc"/>
	</front>
	<body>
	  <p>This customization creates a TEI schema with the bare
	  minimum of tags to make a recognizable document. It loads
	  the four key modules, but takes out many elements.</p>
	  <schemaSpec ident="tei_bare" xml:lang="en">
                <moduleRef key="core"/>
		<moduleRef key="tei"/>
                <moduleRef key="header"/>
                <moduleRef key="textstructure"/>
                <elementSpec module="core" ident="abbr" mode="delete"/>
                <elementSpec module="core" ident="add" mode="delete"/>
                <elementSpec module="core" ident="addrLine" mode="delete"/>
                <elementSpec module="core" ident="address" mode="delete"/>
                <elementSpec module="core" ident="altIdent" mode="delete"/>
                <elementSpec module="core" ident="analytic" mode="delete"/>
                <elementSpec module="core" ident="bibl" mode="delete"/>
                <elementSpec module="core" ident="biblFull" mode="delete"/>
                <elementSpec module="core" ident="biblItem" mode="delete"/>
                <elementSpec module="core" ident="biblScope" mode="delete"/>
                <elementSpec module="core" ident="biblStruct" mode="delete"/>
                <elementSpec module="core" ident="binaryObject" mode="delete"/>
                <elementSpec module="core" ident="cb" mode="delete"/>
                <elementSpec module="core" ident="choice" mode="delete"/>
                <elementSpec module="core" ident="cit" mode="delete"/>
                <elementSpec module="core" ident="corr" mode="delete"/>
                <elementSpec module="core" ident="date" mode="delete"/>
                <elementSpec module="core" ident="dateRange" mode="delete"/>
                <elementSpec module="core" ident="del" mode="delete"/>
                <elementSpec module="core" ident="desc" mode="delete"/>
                <elementSpec module="core" ident="distinct" mode="delete"/>
                <elementSpec module="core" ident="divGen" mode="delete"/>
                <elementSpec module="core" ident="editor" mode="delete"/>
                <elementSpec module="core" ident="emph" mode="delete"/>
                <elementSpec module="core" ident="equiv" mode="delete"/>
                <elementSpec module="core" ident="expan" mode="delete"/>
                <elementSpec module="core" ident="foreign" mode="delete"/>
                <elementSpec module="core" ident="gap" mode="delete"/>
                <elementSpec module="core" ident="gloss" mode="delete"/>
                <elementSpec module="core" ident="graphic" mode="delete"/>
                <elementSpec module="core" ident="headItem" mode="delete"/>
                <elementSpec module="core" ident="headLabel" mode="delete"/>
                <elementSpec module="core" ident="hi" mode="delete"/>
                <elementSpec module="core" ident="imprint" mode="delete"/>
                <elementSpec module="core" ident="index" mode="delete"/>
                <elementSpec module="core" ident="item" mode="delete"/>
                <elementSpec module="core" ident="l" mode="delete"/>
                <elementSpec module="core" ident="label" mode="delete"/>
                <elementSpec module="core" ident="lb" mode="delete"/>
                <elementSpec module="core" ident="lg" mode="delete"/>
                <elementSpec module="core" ident="list" mode="delete"/>
                <elementSpec module="core" ident="listBibl" mode="delete"/>
                <elementSpec module="core" ident="measure" mode="delete"/>
                <elementSpec module="core" ident="meeting" mode="delete"/>
                <elementSpec module="core" ident="mentioned" mode="delete"/>
                <elementSpec module="core" ident="milestone" mode="delete"/>
                <elementSpec module="core" ident="monogr" mode="delete"/>
                <elementSpec module="core" ident="name" mode="delete"/>
                <elementSpec module="core" ident="note" mode="delete"/>
                <elementSpec module="core" ident="num" mode="delete"/>
                <elementSpec module="core" ident="orig" mode="delete"/>
                <elementSpec module="core" ident="pb" mode="delete"/>
                <elementSpec module="core" ident="postBox" mode="delete"/>
                <elementSpec module="core" ident="postCode" mode="delete"/>
                <elementSpec module="core" ident="ptr" mode="delete"/>
                <elementSpec module="core" ident="pubPlace" mode="delete"/>
                <elementSpec module="core" ident="publisher" mode="delete"/>
                <elementSpec module="core" ident="q" mode="delete"/>
                <elementSpec module="core" ident="quote" mode="delete"/>
                <elementSpec module="core" ident="ref" mode="delete"/>
                <elementSpec module="core" ident="reg" mode="delete"/>
                <elementSpec module="core" ident="resp" mode="delete"/>
                <elementSpec module="core" ident="respStmt" mode="delete"/>
                <elementSpec module="core" ident="rs" mode="delete"/>
                <elementSpec module="core" ident="series" mode="delete"/>
                <elementSpec module="core" ident="sic" mode="delete"/>
                <elementSpec module="core" ident="soCalled" mode="delete"/>
                <elementSpec module="core" ident="sp" mode="delete"/>
                <elementSpec module="core" ident="speaker" mode="delete"/>
                <elementSpec module="core" ident="stage" mode="delete"/>
                <elementSpec module="core" ident="street" mode="delete"/>
                <elementSpec module="core" ident="teiCorpus" mode="delete"/>
                <elementSpec module="core" ident="term" mode="delete"/>
                <elementSpec module="core" ident="time" mode="delete"/>
                <elementSpec module="core" ident="timeRange" mode="delete"/>
                <elementSpec module="core" ident="unclear" mode="delete"/>
                <elementSpec module="header" ident="authority" mode="delete"/>
                <elementSpec module="header" ident="availability" mode="delete"/>
                <elementSpec module="header" ident="broadcast" mode="delete"/>
                <elementSpec module="header" ident="cRefPattern" mode="delete"/>
                <elementSpec module="header" ident="catDesc" mode="delete"/>
                <elementSpec module="header" ident="catRef" mode="delete"/>
                <elementSpec module="header" ident="category" mode="delete"/>
                <elementSpec module="header" ident="change" mode="delete"/>
                <elementSpec module="header" ident="classCode" mode="delete"/>
                <elementSpec module="header" ident="classDecl" mode="delete"/>
                <elementSpec module="header" ident="correction" mode="delete"/>
                <elementSpec module="header" ident="creation" mode="delete"/>
                <elementSpec module="header" ident="distributor" mode="delete"/>
                <elementSpec module="header" ident="edition" mode="delete"/>
                <elementSpec module="header" ident="editorialDecl" mode="delete"/>
                <elementSpec module="header" ident="encodingDesc" mode="delete"/>
                <elementSpec module="header" ident="equipment" mode="delete"/>
                <elementSpec module="header" ident="extent" mode="delete"/>
                <elementSpec module="header" ident="fsdDecl" mode="delete"/>
                <elementSpec module="header" ident="funder" mode="delete"/>
                <elementSpec module="header" ident="hyphenation" mode="delete"/>
                <elementSpec module="header" ident="idno" mode="delete"/>
                <elementSpec module="header" ident="interpretation" mode="delete"/>
                <elementSpec module="header" ident="keywords" mode="delete"/>
                <elementSpec module="header" ident="langUsage" mode="delete"/>
                <elementSpec module="header" ident="language" mode="delete"/>
                <elementSpec module="header" ident="metDecl" mode="delete"/>
                <elementSpec module="header" ident="metSym" mode="delete"/>
                <elementSpec module="header" ident="namespace" mode="delete"/>
                <elementSpec module="header" ident="normalization" mode="delete"/>
                <elementSpec module="header" ident="notesStmt" mode="delete"/>
                <elementSpec module="header" ident="principal" mode="delete"/>
                <elementSpec module="header" ident="profileDesc" mode="delete"/>
                <elementSpec module="header" ident="projectDesc" mode="delete"/>
                <elementSpec module="header" ident="quotation" mode="delete"/>
                <elementSpec module="header" ident="recording" mode="delete"/>
                <elementSpec module="header" ident="recordingStmt" mode="delete"/>
                <elementSpec module="header" ident="refsDecl" mode="delete"/>
                <elementSpec module="header" ident="rendition" mode="delete"/>
                <elementSpec module="header" ident="revisionDesc" mode="delete"/>
                <elementSpec module="header" ident="samplingDecl" mode="delete"/>
                <elementSpec module="header" ident="scriptStmt" mode="delete"/>
                <elementSpec module="header" ident="segmentation" mode="delete"/>
                <elementSpec module="header" ident="seriesStmt" mode="delete"/>
                <elementSpec module="header" ident="sponsor" mode="delete"/>
                <elementSpec module="header" ident="state" mode="delete"/>
                <elementSpec module="header" ident="stdVals" mode="delete"/>
                <elementSpec module="header" ident="tagUsage" mode="delete"/>
                <elementSpec module="header" ident="tagsDecl" mode="delete"/>
                <elementSpec module="header" ident="taxonomy" mode="delete"/>
                <elementSpec module="header" ident="textClass" mode="delete"/>
                <elementSpec module="header" ident="variantEncoding" mode="delete"/>
                <elementSpec module="textstructure" ident="argument" mode="delete"/>
                <elementSpec module="textstructure" ident="byline" mode="delete"/>
                <elementSpec module="textstructure" ident="closer" mode="delete"/>
                <elementSpec module="textstructure" ident="dateline" mode="delete"/>
                <elementSpec module="textstructure" ident="div0" mode="delete"/>
                <elementSpec module="textstructure" ident="div1" mode="delete"/>
                <elementSpec module="textstructure" ident="div2" mode="delete"/>
                <elementSpec module="textstructure" ident="div3" mode="delete"/>
                <elementSpec module="textstructure" ident="div4" mode="delete"/>
                <elementSpec module="textstructure" ident="div5" mode="delete"/>
                <elementSpec module="textstructure" ident="div6" mode="delete"/>
                <elementSpec module="textstructure" ident="div7" mode="delete"/>
                <elementSpec module="textstructure" ident="docAuthor" mode="delete"/>
                <elementSpec module="textstructure" ident="docDate" mode="delete"/>
                <elementSpec module="textstructure" ident="docEdition" mode="delete"/>
                <elementSpec module="textstructure" ident="docImprint" mode="delete"/>
                <elementSpec module="textstructure" ident="docTitle" mode="delete"/>
                <elementSpec module="textstructure" ident="epigraph" mode="delete"/>
                <elementSpec module="textstructure" ident="group" mode="delete"/>
                <elementSpec module="textstructure" ident="imprimatur" mode="delete"/>
                <elementSpec module="textstructure" ident="opener" mode="delete"/>
                <elementSpec module="textstructure" ident="salute" mode="delete"/>
                <elementSpec module="textstructure" ident="signed" mode="delete"/>
                <elementSpec module="textstructure" ident="titlePage" mode="delete"/>
                <elementSpec module="textstructure" ident="titlePart" mode="delete"/>
                <elementSpec module="textstructure" ident="trailer" mode="delete"/>
            </schemaSpec>
        </body>
    </text>
</TEI> 
