Exemplars/tei_tite.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0"
 xmlns:rng="http://relaxng.org/ns/structure/1.0">
 <teiHeader>
  <fileDesc>
   <titleStmt>
    <title type="main">The TEI Tite</title>
    <title type="sub">A standard for off-site text encoding</title>
    <author>Perry Trolard</author>
   </titleStmt>
   <publicationStmt>
    <p>Written as the principal product of an independent study under <name>John
      Unsworth</name> at the <name>Graduate School of Library and Information
      Science</name>, <name>University of Illinois at Urbana-Champaign</name>,
      <date>Spring 2006</date>.</p>
   </publicationStmt>
   <sourceDesc>
    <p>This electronic document is the original, but it primarily synthesizes
     work done at the <list>
      <item><name>University of Michigan Digital Library Production
       Service</name>, </item>
      <item><name>University of Virginia Digital Library Production
       Service</name>, </item>
      <item>and the <name>California Digital Library</name></item>
     </list> and represented in their documents <list>
      <item><ref target="http://www.umdl.umich.edu/docs/encodingstandards.html">
        <title>Minimum standards for text capture</title>
       </ref>, </item>
      <item><ref
        target="http://pogo.lib.virginia.edu/dlps/public/text/vendor/vendor.html">
        <title>Text Encoding Guidelines for Keyboarding Vendors</title>
       </ref>, </item>
      <item> and <ref
        target="http://www.cdlib.org/inside/diglib/stwg/base/BASE_BPG.html">
        <title>CDL TEI Base Encoding Guidelines</title>
       </ref>. </item>
     </list>, respectively. </p>
   </sourceDesc>
  </fileDesc>
  <revisionDesc>
   <change when="2007-06-24" who="SPQR">Added sugar elements to att.global</change>
   <change when="2007-06-07" who="SPQR">Added equiv for ornament and
   cols,
and changed prose about ornament to use @rend</change>
   <change when="2007-05-08" who="SPQR">Added equiv the hi-like objects</change>
   <change when="2007-01-23" who="PJT">Modified available attributes for
    <gi>gap</gi>, <gi>unclear</gi>; added <att>ed</att> attribute to
    <gi>cols</gi>.</change>
   <change when="2007-01-20" who="PJT">Misc. prose edits; cleaned up unnecessary
     <gi>elementSpec</gi> elements.</change>
   <change when="2006-12-21" who="PJT">Added <gi>text</gi> as alternate root (on
     <att>start</att> attribute of <gi>schemaSpec</gi>), making teitite-nohead
    redundant; added <gi>div0</gi> to list of elements Tite excludes (it's
    always been exluded, but now is reported).</change>
   <change when="2006-12-16" who="PJT">Finished initial draft.</change>
  </revisionDesc>
 </teiHeader>
 <text>
  <front>
   <titlePage>
    <docTitle>
     <titlePart type="main">The TEI Tite</titlePart>
     <titlePart type="sub">A standard for off-site text encoding</titlePart>
    </docTitle>
    <docAuthor>Perry Trolard</docAuthor>
    <docDate>December 2006</docDate>
   </titlePage>
  </front>
  <body>
   <div type="section" xml:id="intro">
    <head>Introduction</head>
    <p> This document specifies how the Tite standard should be applied. Its
     organizing model is roughly the structure of a TEI document itself, and it
     proceeds from high-level features to low, starting with general
     requirements, text structure, directions on when to group texts,
     considerations about type of text (genre and format), down to instructions
     on marking phrase-level features, reference systems, and so forth. In its
     original <soCalled>
      <abbr>ODD</abbr>
     </soCalled> (one document does-it-all) format, this document can generate
     everything necessary for working in Tite: both documentation (this
     Tite-specific prose as well as the full TEI technical documentation for
     relevant elements) and schemas in either W3C Schema, RelaxNG, or XML DTD.
     The <ref target="http://www.tei-c.org/Roma/">Roma web tool</ref> can
     generate all of these.</p>
    <p> Tite-encoded documents are TEI documents, and the Tite
    standard, with the exception of convenience elements (<gi>b</gi>,
    <gi>i</gi>, <gi>ul</gi>, <gi>sup</gi>, <gi>sub</gi>,
    <gi>smcap</gi>, <gi>cols</gi> and <gi>ornament</gi> all of which
    can be converted back to canonical TEI), is a pure subset of the
    TEI. That is, it was created primarily by <emph>removing</emph>
    elements and attributes from the TEI, and not from extensive
    <emph>modification</emph>. Thus as part of the TEI family, Tite
    inherits TEI semantics, and ambiguity in this specification should
    be resolved with reference to TEI Guidelines. What makes Tite
    distinct is that where the TEI in general is famously tolerant of
    multiple methods of encoding a given feature, Tite seeks
    uniformity of encoding through constraint, constraint via its
    stripped-down tag set and via this specification.</p>

    <p>Tite can be used to encode printed prose, poetry, drama,
    newspapers, and anything else which can be described with the
    basic TEI building-blocks of divisions, paragraphs, line groups,
    and speeches.</p>
    <p> A note on terms: I use <term>document</term> to refer generally to the
     item (book, pamphlet, newspaper, etc.) to be encoded and <term>text</term>
     as either linguistic material (as opposed to graphic or imagistic) or a
     logically distinct literary unit.</p>
   </div>
   <div type="section" xml:id="genreq">
    <head>General Requirements</head>
    <div type="subsection" xml:id="capture">
     <head>What to Capture</head>
     <p> All printed material should be captured: all text (that is, printed
      characters) should be transcribed and the presence of graphical items or
      other non-transcribable elements should be indicated with markup (mostly
      the <gi>figure</gi> element). Normally <mentioned>text</mentioned> is
      understood to mean text in a Western character set, but this will be
      negotiated for each job. The presence of text in character sets outside
      the current scope should be indicated with the <gi>gap</gi> element.</p>
    </div>
    <div type="subsection" xml:id="e-o-l">
     <head>End-of-line Hyphens</head>
     <p> A distinction should be maintained in the electronic transcription
      between end-of-line or <soCalled>soft</soCalled> hyphens (an artifact of
      page layout) and <soCalled>hard</soCalled> hyphens (a linguistic feature).
      In the rare case of coincidence of the two types, the hyphen should be
      marked as hard (as it is not properly an end-of-line hyphen at all in this
      case).</p>
    </div>
    <div type="subsection" xml:id="charcode">
     <head>Character Encoding</head>
     <p> Texts should be encoded in UTF-8. For non-keyboard characters, each
      project should decide what kind of entities will serve best (mnemonic,
      numerical, etc.).</p>
    </div>
    <div type="subsection" xml:id="accuracy">
     <head>Accuracy and Verification</head>
     <p> The standard for accuracy of transcription should be 99.99% (1 error in
      10,000 characters). The sample size for verification should be 5% of the
      total text.</p>
    </div>
    <div type="subsection" xml:id="vendnotes">
     <head>Documenting the Encoding Process</head>
     <p>Almost unavoidably, difficult encoding situations will arise whose
      resolution may not be covered by these guidelines, <soCalled>common
      sense</soCalled>, or anything else close to hand. In any case like this
      where there is doubt or difficulty, it is important to document the markup
      choices that are made. To this end each encoded text should be accompanied
      by a document with such notes. These notes should reference both features
      of a document that seem remarkable to encoders (and how these were
      handled) and remarkable or non-obvious encoding decisions made by
      encoders.</p>
    </div>
   </div>
   <div type="section" xml:id="globalstruct">
    <head>Global Text Structure</head>
    <div type="subsection" xml:id="teistruct">
     <head>TEI text structure</head>
     <p>The basic structure of a TEI text is as follows: <egXML
       xmlns="http://www.tei-c.org/ns/Examples">

       <TEI>
        <teiHeader> [ TEI Header information ] </teiHeader>
        <text>
         <front> [ front matter ... ] </front>
         <body> [ body of text ... ] </body>
         <back> [ back matter ... ] </back>
        </text>
       </TEI>

      </egXML></p>
     <p>Thus there are two basic components: the (marked-up) text and its
      catalog-like description in the header. Tite is really only concerned with
      the text; it simply reproduces the <gi>teiHeader</gi> content model from
      the <ref target="http://www.tei-c.org/Lite/">TEI Lite</ref>. </p>
    </div>
    <div type="subsection" xml:id="teihead">
     <head>The <gi>teiHeader</gi></head>
     <p> Normally the patron institution maintains responsibility for the
      header. The header can be sent to the off-site location to be kept with
      the encoded text or no header may be sent. In the latter case a unique
      identifying number should be given as the <att>xml:id</att> attribute of
      the <gi>text</gi> element. For validation of header-less <gi>text</gi>s,
      if an XML DTD is being used as the schema, simply replace the <gi>TEI</gi>
      element with <gi>text</gi> as the root element in the document type
      declaration. (I.e. <code>&lt;!DOCTYPE text PUBLIC . . .
      &gt;</code>.) Otherwise any number of means could be employed to
      support intermediate validation, such as attaching dummy headers to all
      texts or temporarily modifying the schema to make the <gi>teiHeader</gi>
      element optional. </p>
     <p>As was said above, the content model for Tite is taken verbatim from the
      TEI Tite, thus maintaining full flexibility for the patron institution
      while at the same time not imposing undue burden: a valid header can
      include as little as a title (<gi>titleStmt</gi>), publication statement
       (<gi>publicationStmt</gi>), and a description of the source document
       (<gi>sourceDesc</gi>).</p>
    </div>
    <div type="subsection" xml:id="group">
     <head>Groups of Texts</head>
     <p> A document should be encoded as a group of texts only when each
      potential member of the group contains its own front or back matter (most
      often, a separate title page). In this case the <gi>group</gi> element
      should replace the <gi>text</gi> element, and should contain child
       <gi>text</gi> elements each containing a <gi>front</gi>, <gi>body</gi>,
      and <gi>back</gi> (each <gi>text</gi> need not have both front and back
      matter, but should have at least one). Note that this group of texts will
      still have its own front and back matter. When dealing with a group of
      texts, the basic TEI text structure is modified to look like: <egXML
       xmlns="http://www.tei-c.org/ns/Examples">
       <TEI>
        <teiHeader> [ header information for the group ] </teiHeader>
        <text>
         <front> [ front matter for the group ] </front>
         <group>
          <text>
           <front> [ front matter of first text ] </front>
           <body> [ body of first text ] </body>
           <back> [ back matter of first text ] </back>
          </text>
          <text>
           <front> [ front matter of second text ] </front>
           <body> [ body of second text ] </body>
           <back> [ back matter of second text ] </back>
          </text> [ more texts or groups of texts here ] </group>
         <back> [ back matter for the group ] </back>
        </text>
       </TEI>
      </egXML></p>
     <p> In cases where a document appears to contain a group of texts but the
      above condition is not met, encode each unit as a <gi>div</gi> with an
      appropriate <att>type</att> attribute.</p>
    </div>
    <div type="subsection" xml:id="div">
     <head>Structural Divisions</head>
     <p>Tite uses numbered <gi>div</gi> elements: <gi>div1</gi> through
      <gi>div7</gi>, which stand for levels of nesting within a text.
      <gi>div1</gi>s nest inside or are contained by the <gi>front</gi>,
       <gi>body</gi>, and <gi>back</gi> elements, <gi>div2</gi>s nest inside or
      are contained by <gi>div1</gi>s, etc. The document's table of contents is
      often a good place to find cues about where structural divisions start and
      end; other cues can be blank pages, recurring typographical or ornamental
      features, or a numbering system ("Chapter 5" etc.). Also, the presence of
      a heading will often indicate the beginning of a division.</p>
     <p>The <att>type</att> attribute should be used to express the type of
      division being marked. Where present, use the unit name given in the
      document itself. Though any constrained enumerated list of <att>type</att>
      values will have to be determined on a job-by-job basis, some examples of
      appropriate division types are: <list>
       <item>
        <code>act</code>
       </item>
       <item>
        <code>article</code>
       </item>
       <item>
        <code>book</code>
       </item>
       <item>
        <code>chapter</code>
       </item>
       <item>
        <code>essay</code>
       </item>
       <item>
        <code>letter</code>
       </item>
       <item>
        <code>part</code>
       </item>
       <item>
        <code>scene</code>
       </item>
       <item>
        <code>section</code>
       </item>
       <item>
        <code>subsection</code>
       </item>
      </list> For a good example of extensive use of enumerated lists to
      constrain possible types, see the <ref
       target="http://pogo.lib.virginia.edu/dlps/public/text/vendor/vendor.html"
       >University of Virginia Library's DLPS vendor specification</ref>.</p>
     <p>The <att>n</att> attribute should be used to record sequential labels
      associated with a structural division (numbers, numerals, letters). When
      present, these labels should also be transcribed within the <gi>head</gi>
      tag. For instance: <egXML xmlns="http://www.tei-c.org/ns/Examples">
       <div n="III" type="part">
        <head>III: It Awakes</head> [...] </div>
      </egXML></p>
     <p>When a heading is present, encode it with the <gi>head</gi> tag. If
      there is more than one heading at the beginning of a given division,
      encode each heading separately, using the <att>type</att> attribute to
      distinguish them. Appropriate values are: <list>
       <item>
        <code>main</code>
       </item>
       <item><code>sub</code> (subtitle)</item>
       <item><code>alt</code> (alternate)</item>
       <item><code>desc</code> (descriptive)</item>
      </list>
     </p>
     <div type="subsubsection" xml:id="nondivs">
      <head>False Indicators</head>
      <p>A <term>divisional title</term> is a page that resembles a half-title
       page: it displays the title or heading of a major structural unit on an
       otherwise blank page. <term>Divisional titles</term> should be encoded
       not with a separate <gi>div</gi> element, but as a <gi>head</gi> within
       the appropriate <gi>div</gi>. For <term>half-title pages</term> and
       similar <term>fly-title pages</term> see the section on <ref
        target="frontback">Front Matter</ref>.</p>
      <p>Another potential false indication of a new structural division is an
        <term>ornament</term> used as an informal division: a printer's ornament
       of some sort, a string of asterisks or periods, or a horizontal line.
       Mark these with the special <gi>ornament</gi> element. If the ornament is
       a horizontal line or printer's device or otherwise not transcribable,
       make the element empty and include an appropriate <att>type</att>
       attribute (<code>line</code> or <code>ornament</code>); if the ornament
       is made up of characters, supply <code>characters</code> as the
       <att>type</att> value and transcribe the characters into
       <gi>ornament</gi>'s content.</p>
     </div>
    </div>
    <div type="subsection" xml:id="frontback">
     <head>Front and Back Matter</head>
     <p>Front and back matter should be encoded with the <gi>front</gi> and
       <gi>back</gi> elements, respectively. <gi>div1</gi> elements should
      contain the major sections and should be characterized by <att>type</att>
      attribute values. The exception, however, is the title page, which should
      be encoded with the <gi>titlePage</gi> element. The <gi>titlePart</gi>
      element should have <att>type</att> attributes like for <gi>head</gi> but
      with one addition (<code>volume</code>): <list>
       <item>
        <code>main</code>
       </item>
       <item><code>sub</code> (subtitle)</item>
       <item><code>desc</code> (descriptive title)</item>
       <item><code>alt</code> (alternate title)</item>
       <item><code>volume</code> (volume information)</item>
      </list>
      <code>&lt;titePart type="volume"&gt;</code> should be used to
      encode volume information wherever it is found on the title page, even if
      it is separated from the other title information. Here is the element
      class that forms the <gi>titlePage</gi> content model: <egXML
       xmlns="http://www.tei-c.org/ns/Examples"> &lt;!ENTITY %
       model.titlepagePart "graphic | byline | epigraph | docTitle | titlePart |
       docAuthor | docEdition | docImprint | docDate | figure | ornament"
       &gt; </egXML>
     </p>
     <p>Information on the verso of the title page should be included as well
      (after a <gi>pb</gi>).</p>
     <p>Common items to encode in front and back matter -- and therefore common
       <att>type</att> attribute values for <gi>front</gi> and <gi>back</gi>
      divisions are: <list>
       <item>acknowledgements</item>
       <item>advertisement</item>
       <item>castlist</item>
       <item>contents</item>
       <item>dedication</item>
       <item>fly-title</item>
       <item>foreword</item>
       <item>introduction</item>
       <item>preface</item>
       <item>appendix (back)</item>
       <item>bibliography (back)</item>
       <item>colophon (back)</item>
       <item>glossary (back)</item>
       <item>index (back)</item>
      </list>
     </p>
     <p><term>Half-title</term> and <term>fly-title</term> pages may be
      encountered in the front matter. A <term>half-title</term> page precedes
      the title page proper and sometimes includes volume or series information;
      a <term>fly-title</term> page comes at the very end of the front matter,
      just before the body. In the case of half-titles, encode these as
       <code>&lt;div1 type="half-title"&gt;</code> (with
      <gi>titlePart</gi> elements as appropriate); in the case of fly-titles,
      encode them likewise with <code>&lt;div1
      type="fly-title"&gt;</code>, making sure to make the fly-title
      division the last part of the front matter (and not the first part of the
      body, as may seem reasonable as well). </p>
    </div>
   </div>
   <div type="section" xml:id="genre">
    <head>Types of Text</head>
    <p>Tite is equipped to support basic encoding of several types of text: in
     terms of genre, it supports prose, verse, and drama, and in terms of
     format, it supports books, newspapers, pamphlets, and other similar printed
     material. Tite has special tags for letters, verse, drama, and newspapers.</p>
    <div type="subsection" xml:id="letters">
     <head>Letters</head>
     <p><gi>opener</gi> and <gi>closer</gi> are elements designed to encode the
      beginning and ending sections of letters, prefaces, diary entries, or
      other personal types of writing. Both elements contain: <list>
       <item><gi>dateline</gi>: for recording time and place of composition <list>
         <item>use <gi>date</gi> with <att>type</att> value (formatted
          yyyy-mm-dd) to record date information</item>
        </list>
       </item>
       <item><gi>signed</gi>: for recording a signature</item>
       <item><gi>salute</gi>: for recording salutation at the beginning ("Dear
        Roger,") or end ("Yours truly,")</item>
      </list>
     </p>
     <p>
      <gi>opener</gi> contains addition elements that are not intended for use
      with letters: <list>
       <item><gi>argument</gi>: for a summary that precedes a division</item>
       <item><gi>byline</gi>: for a statement of responsibility for the
       document</item>
      </list> However, the last <gi>opener</gi>-specific element,
      <gi>epigraph</gi>, will often be useful in the context of a letter. When
      encoding an epigraph, make sure to encode the content as you would any
      other feature, marking line groups, bibliographical elements, etc.</p>
    </div>
    <div type="subsection" xml:id="verse">
     <head>Verse</head>
     <p>All verse should be encoded within at least one <gi>lg</gi> tag, even
      when there are no distinct stanzas or when the verse is interspersed with
      prose. If it is known, use the <att>type</att> attribute to express the
      type of line group. Sometimes within a poem there is a question about what
      should be tagged as a <gi>lg</gi> or as a separate <gi>div</gi>. As a
      rough rule of thumb, if there is a title accompanying the division, use
      the <gi>div</gi> tag; otherwise, use <gi>lg</gi>.</p>
     <p> Each line of verse should be encoded with the <gi>l</gi> tag, and care
      should be taken to distinguish these logical lines of verse from lines
      motivated by page layout. The latter should be encoded as <gi>lb</gi>s.
      Thus <eg>
       <![CDATA[
AS virtuous men pass mildly away,  
  And whisper to their souls to 
 go,  
Whilst some of their sad friends 
 do say, 
  "Now his breath goes," and 
 some say, "No."  ]]>
      </eg> should be encoded as <egXML xmlns="http://www.tei-c.org/ns/Examples">
       <lg type="stanza">
        <l>AS virtuous men pass mildly away,</l>
        <l rend="indent1">And whisper to their souls to <lb/> go,</l>
        <l>Whilst some of their sad friends<lb/> do say,</l>
        <l rend="indent1"><q>Now his breath goes,</q> and <lb/> some say,
         <q>No.</q></l>
       </lg>
      </egXML> Also, as in the example above, use the <att>rend</att> attribute
      to mark when a line is indented more than its siblings. Using
       <soCalled>numbered</soCalled> indent values (e.g. "indent1", "indent2",
      etc.) makes clear different levels of indentation.</p>

    </div>
    <div type="subseciton" xml:id="drama">
     <head>Drama</head>
     <p>The standard TEI elements for drama should be used: <gi>sp</gi>,
       <gi>stage</gi>, <gi>speaker</gi>. If the <att>who</att> attribute is used
      on <gi>sp</gi>, also transcribe who is written as the speaker, in whatever
      form in which it is written, in the <gi>speaker</gi> tag. Short pieces of
      stage direction that accompany the speaker designation may be included in
      the <gi>speaker</gi> tag. </p>
     <p>Scenes and acts should be encoded as appropriately nested <gi>div</gi>
      elements with <att>type</att> attributes of <code>scene</code> or
       <code>act</code>, respectively. Cast lists can likewise be encoded used
       <gi>div</gi> and <code>type="castlist"</code>. </p>
     <p>Prologues and epilogues can be treated as <gi>sp</gi>s of their own,
      unless their structure would be better represented by nesting these in
       <gi>div</gi> tags. </p>
    </div>
    <div type="subsection" xml:id="newspaper">
     <head>Newspapers</head>
     <p>Tite includes the elements <gi>cols</gi> and <gi>cb</gi> which are well
      suited for the multi-column layout of newspapers. Decisions about how to
      render the layout in markup may not be well addressed here, but as an
      example of project-specific specifications see the <ref
       target="http://pogo.lib.virginia.edu/dlps/public/text/vendor/vendor.html"
       >University of Virginia Library's documentation</ref>. </p>
    </div>
   </div>
   <div type="section" xml:id="block">
    <head>Block-level Features</head>
    <div type="subsection" xml:id="quots">
     <head>Block Quotations</head>
     <p>Use the <gi>q</gi> element to encode block quotations, but not inline
      quotations. A block quotation is indicated by its being set off from
      surrounding text either with extra line-spacing or margins or with a
      different typeface. If necessary, an entire quoted text can go inside of a
       <gi>q</gi> tag, in which case a secondary TEI <gi>text</gi> hierarchy
      should nest inside of the quotation. This is preferable to employing an
      ambiguous use of <gi>div</gi> elements (where it is not clear whether the
       <gi>div</gi> is a structure in the containing text or the quoted text).
      Thus this is desirable: <egXML xmlns="http://www.tei-c.org/ns/Examples">
       <div1 type="intro">
        <p>[ . . . ]</p>
        <p>[ . . . ]</p>
        <q>[ here's a poem ]</q>
        <p>[ . . . ]</p>
       </div1>
      </egXML> and this is not: <egXML xmlns="http://www.tei-c.org/ns/Examples">
       <div1 type="introduction">
        <div2 type="stuff before the poem">
         <p>[ . . . ]</p>
        </div2>
        <div2 type="poem">
         <lg>
          <l>here's a poem</l>
         </lg>
        </div2>
        <div2 type="stuff after the poem">
         <p>[ . . . ]</p>
        </div2>
       </div1>
      </egXML>
     </p>
     <p>A <gi>q</gi> tag should not have any affect on the presence of quotation
      marks: if they are there, transcribe them.</p>
    </div>
    <div type="subsection" xml:id="figures">
     <head>Figures</head>
     <p> If a figure has a heading or caption, encode it with the <gi>head</gi>
      tag. If there is associated text, simply use a <gi>p</gi> to encode it.
     </p>
    </div>
    <div type="subsection" xml:id="tableslists">
     <head>Tables and Lists</head>
     <p>If a cell in a table is a heading or a label, use the <att>role</att>
      attribute on the <gi>cell</gi> tag and set it to <code>label</code>; if
      the cell contains data, there is no need to use <att>role</att>:
       <code>data</code> is the default. If a cell or row spans more than one
      column or row, use the <att>rows</att> or <att>cols</att> attributes set
      to the number of columns or rows that it spans. </p>
     <p>If unsure about whether a structure is best encoded as a list or table,
      record it as a table only if it would not be properly understood without
      tabular layout. </p>
     <p>TEI lists are either sequences of <gi>items</gi> or
       <gi>label</gi>-<gi>item</gi> pairs. If a list has the latter structure,
      be sure to encode each part. </p>
    </div>
    <div type="subsection" xml:id="notes">
     <head>Notes</head>
     <p>Both the reference to the note in the running text and the note itself
      must be encoded. Use <gi>ptr</gi> or <gi>ref</gi> to encode the reference.
      If there is no reference in the text (often the case for marginal notes),
      supply a <gi>ptr</gi> element in a reasonable place in the text running
      beside the note. If there is a reference (number, symbol, etc.), use the
       <gi>ref</gi> element and include the reference text as the content. In
      both cases, a <att>target</att> attribute must be supplied which contains
      the <att>xml:id</att> value of the associated <gi>note</gi>. </p>
     <p>When encoding the note itself with the <gi>note</gi> tag, the
       <att>xml:id</att> and <att>place</att> attributes must be supplied. See
      the TEI documentation for acceptable values for <att>place</att>; the most
      common will be <code>foot</code>, <code>end</code>, <code>margin-left
       (-right, -top, -bot)</code>.</p>
     <p>Transcribe the note directly after it is referenced in the document. In
      the case of notes without explicit reference (pointed to with
      <gi>ptr</gi>), set the <att>anchored</att> attribute to
      <code>false</code>.</p>
    </div>
    <div type="subsection" xml:id="divwrap">
     <head><soCalled>divWrapper</soCalled> Elements</head>
     <p>Elements that can appear at the beginning and end of structural
      divisions, such as <gi>argument</gi>, <gi>epigraph</gi>, and
      <gi>opener</gi>, are called <soCalled>divWrapper</soCalled> elements in
      the TEI class system. An <term>argument</term> is a summary, often
      peppered with dashes, of what is to come; be sure to distinguish this from
      a <term>heading</term>, which is a <emph>title</emph> for the division. If
      an epigraph comes with bibliographic or simple citation material, encode
      this as well. For example: <egXML xmlns="http://www.tei-c.org/ns/Examples">
       <epigraph>
        <cit>
         <q>"I have sworn upon the altar of God eternal hostility against every
          form of tyranny over the mind of man."</q>
         <bibl>
          <author>Thomas Jefferson.</author>
         </bibl>
        </cit>
       </epigraph>
      </egXML>
     </p>
    </div>
    <div type="subsection" xml:id="ab">
     <head>Uncertain Blocks</head>
     <p>In rare cases in which the logical identity of a block-level element is
      hard to discern, use the TEI element <gi>ab</gi> (anonymous block) instead
      of applying a <gi>p</gi> or <gi>div</gi> tag. In these cases, be sure to
      document this decision in accompanying notes. <emph>Applying this element
       should be viewed as a last resort.</emph></p>
     <p>The <gi>gap</gi> element should be used when for some reason the
      document being transcribed contains illegible text (smudged, torn,
      missing, etc.) or something outside the scope of transcription for a given
      project: characters in an unsupported character set, for instance.
      <gi>gap</gi> indicates that something is omitted. When using <gi>gap</gi>,
      set the <att>reason</att> attribute to an appropriate value. (See <ref
       target="seg">
       <gi>unclear</gi>
      </ref> below.)</p>
    </div>
   </div>
   <div type="section" xml:id="phrase">
    <head>Phrase-level features</head>
    <div type="subsection" xml:id="typographical">
     <head>Typographical Changes</head>
     <p>There are six elements in Tite that capture specific typographical
      features: <list>
       <label>
        <gi>b</gi>
       </label>
       <item>for bold-face glyphs</item>
       <label>
        <gi>i</gi>
       </label>
       <item>for italicized glyphs</item>
       <label>
        <gi>ul</gi>
       </label>
       <item>for underlined glyphs</item>
       <label>
        <gi>smcap</gi>
       </label>
       <item>for glyphs in small-caps</item>
       <label>
        <gi>sub</gi>
       </label>
       <item>for glyphs in subscript</item>
       <label>
        <gi>sup</gi>
       </label>
       <item>for glyphs in superscript</item>
      </list> These mark the physical change, and are agnostic about a logical
      motivation for it. There are two exceptions to this approach, however:
      marking foreign words and titles. In the case of foreign words, use the
       <gi>foreign</gi> tag; in the case of titles, use the <gi>title</gi> tag
      only if certain that the word or phrase in question is a title. If a
      phrase is, say, italicized but you are uncertain about its being a title,
      use the <gi>i</gi> tag instead. Foreign words should be marked only if
      they are typographically distinguished from surrounding text.</p>
     <p>If there is a typographical feature not covered by the above elements,
      the TEI <gi>hi</gi> tag is still available in Tite. Enumerated lists of
      attribute values for <gi>hi</gi>'s <att>rend</att> attribute should be
      negotiated job-by-job.</p>
    </div>
    <div type="subsection" xml:id="align">
     <head>Alignment and Indentation</head>
     <p>If the alignment of an element seems remarkable, set the element's
       <att>rend</att> attribute to an appropriate value (normally
      <code>center</code>, <code>right</code>, <code>left</code>, etc.).
      However, exhaustive description of alignment is not necessary. Headings,
      for instance, do not need to be marked as being centered, etc. </p>
    </div>
    <div type="subsection" xml:id="punctuation">
     <head>Punctuation</head>
     <p>Standard keyboard punctuation marks should suffice for transcribing
      document punctuation except in the case of the ampersand, which must be
      represented with the entity reference <code>&amp;mp;</code> in an XML
      document.</p>
    </div>
    <div type="subsection" xml:id="seg">
     <head>Uncertain Segments</head>
     <p>The <gi>seg</gi> element is the phrase-level analogue to the <gi>ab</gi>
      tag. If a phrase-level feature seems to be present but its identity is
      hard to fathom, use this tag. This, again, is a kind of last resort.</p>
     <p>Alternately, when a passage of text is for some reason too hard to
      discern, use the <gi>unclear</gi> element, setting the <att>reason</att>
      attribute to an appropriate value. When using <gi>unclear</gi>, surround
      the entire word with the tag if any part of it is unclear (not just the
      illegible letter, say).</p>
    </div>
   </div>
   <div type="section" xml:id="reference">
    <head>Reference Systems</head>
    <p>Encode page breaks (<gi>pb</gi>) at the <emph>start</emph> of each page,
     and encode breaks even for blank pages. If the page is numbered, include
     the page number as the value of the <att>n</att> attribute and no matter
     where the page number is printed on the page, place the <gi>pb</gi> tag at
     the "top." </p>
    <p>If marking column breaks, follow the same rules as for page breaks.
     Column breaks are imagined to appear at the <emph>top</emph> of the column,
     at the beginning of the column's text. The <gi>cols</gi> element exists to
     record a change in columnar layout. If such a change occurs, mark the
     beginning of the new layout with <gi>cols</gi> and supply the new number of
     columns as the value for the <att>n</att> attribute.</p>
    <p>If line breaks are to be captured, use the <gi>lb</gi> element. </p>

   </div>
  </body>
  <back>
   <head>Appendixes</head>
   <div xml:id="changes">
    <head>Substantive changes from P4</head>
    <p>The TEI Tite conforms to the TEI P5 Guidelines, which makes a number of
     changes from the TEI P4 Guidelines. The following brief list indicates some
     of the major changes in P4 encoding practice which will need to be employed
     for P5 conformance.</p>
    <list>
     <item>At P5, a TEI document must declare a namespace of
       <code>http://www.tei-c.org/ns/1.0</code></item>
     <item>The attributes <att>id</att> and <att>lang</att> are replaced by the
      attributes <att>xml:id</att> and <att>xml:lang</att> respectively. Values
      for the latter attribute must conform to RFC 3066</item>
     <item>all pointing and linking mechanisms now use the same W3C-defined
      mechanism: there is no longer any distinction between internal and
      external pointing elements</item>
     <item>the content model of <gi>change</gi> has changed significantly
       (<gloss>this only concerns the header</gloss>)</item>
    </list>
   </div>
   <div>
    <head>Formal specification</head>
    <p>With the exception of two added elements and six easily convertible
      <soCalled>convenience elements</soCalled>, the TEI Tite is a pure subset
     of the TEI, modelled by stripping down the TEI Lite. All of the elements
     defined in it are taken from the following standard TEI modules: <ident
      type="module">tei</ident>, <ident type="module">core</ident>, <ident
      type="module">header</ident>, <ident type="module">textstructure</ident>,
      <ident type="module">figures</ident>, and <ident type="module"
     >linking</ident>. </p>
    <p>The following elements from those modules are excluded from the schema in
     both the TEI Lite and Tite: <gi>alt</gi>, <gi>altGrp</gi>,
     <gi>altIdent</gi>, <gi>analytic</gi>, <gi>attDef</gi>, <gi>attList</gi>,
      <gi>attRef</gi>, <gi>biblItem</gi>, <gi>biblStruct</gi>,
     <gi>binaryObject</gi>, <gi>broadcast</gi>, <gi>cb</gi>, <gi>classSpec</gi>,
      <gi>classes</gi>, <gi>content</gi>, <gi>correction</gi>,
     <gi>datatype</gi>, <gi>defaultVal</gi>, <gi>desc</gi>, <gi>distinct</gi>,
      <gi>div0</gi>, <gi>egXML</gi>, <gi>elementSpec</gi>, <gi>equipment</gi>,
      <gi>equiv</gi>, <gi>exemplum</gi>, <gi>fsdDecl</gi>, <gi>headItem</gi>,
      <gi>headLabel</gi>, <gi>hyphenation</gi>, <gi>imprimatur</gi>,
      <gi>interpretation</gi>, <gi>join</gi>, <gi>joinGrp</gi>, <gi>link</gi>,
      <gi>linkGrp</gi>, <gi>listRef</gi>, <gi>macroSpec</gi>, <gi>measure</gi>,
      <gi>meeting</gi>, <gi>memberOf</gi>, <gi>metDecl</gi>, <gi>metSym</gi>,
      <gi>moduleRef</gi>, <gi>moduleSpec</gi>, <gi>monogr</gi>,
      <gi>normalization</gi>, <gi>postBox</gi>, <gi>postCode</gi>,
     <gi>quotation</gi>, <gi>quote</gi>, <gi>recording</gi>,
     <gi>recordingStmt</gi>, <gi>remarks</gi>, <gi>schemaSpec</gi>,
      <gi>scriptStmt</gi>, <gi>segmentation</gi>, <gi>series</gi>,
     <gi>specDesc</gi>, <gi>specGrp</gi>, <gi>specGrpRef</gi>,
     <gi>specList</gi>, <gi>state</gi>, <gi>stdVals</gi>, <gi>street</gi>,
      <gi>stringVal</gi>, <gi>tag</gi>, <gi>timeline</gi>, <gi>valDesc</gi>,
      <gi>valItem</gi>, <gi>valList</gi>, <gi>variantEncoding</gi>,
     <gi>when</gi>. </p>
    <p>Tite excludes the modules <ident type="module">analysis</ident> and
      <ident type="module">tagdocs</ident> where Lite includes some elements
     from these modules. Therefore Tite is less those elements as well. </p>
    <p>The following elements are excluded in the TEI Lite but included in Tite:
      <gi>ab</gi>, <gi>div1</gi>, <gi>div2</gi>, <gi>div3</gi>, <gi>div4</gi>,
      <gi>div5</gi>, <gi>div6</gi>, <gi>div7</gi>. </p>
    <p>The following are the elements that Tite excludes from the TEI Lite:
      <gi>add</gi>
     <gi>altIdent</gi>, <gi>biblFull</gi>, <gi>choice</gi>, <gi>corr</gi>,
      <gi>del</gi>, <gi>divGen</gi>, <gi>emph</gi>, <gi>expan</gi>,
     <gi>gloss</gi>, <gi>imprint</gi>, <gi>index</gi>, <gi>mentioned</gi>,
      <gi>orig</gi>, <gi>reg</gi>, <gi>rs</gi>, <gi>sic</gi>, <gi>soCalled</gi>,
      <gi>teiCorpus</gi>, <gi>term</gi>, <gi>div</gi>
     <gi>anchor</gi>. </p>


    <p>Finally, the following are the elements that Tite adds to the TEI:
     <gi>b</gi>, <gi>i</gi>, <gi>ul</gi>, <gi>smcap</gi>, <gi>sub</gi>,
     <gi>sup</gi>, <gi>cols</gi>, and <gi>ornament</gi>. </p>

    <p>Here is the TEI Tite schema itself:</p>

    <schemaSpec docLang="en" ident="tei_tite" start="TEI text" targetLang="en">
     <moduleRef key="tei"/>
     <moduleRef key="core"/>
     <moduleRef key="header"/>
     <moduleRef key="textstructure"/>
     <moduleRef key="figures"/>
     <moduleRef key="linking"/>

     <!-- deletions in common with Lite -->
     <elementSpec ident="altGrp" mode="delete" module="linking"/>
     <elementSpec ident="alt" mode="delete" module="linking"/>
     <elementSpec ident="analytic" mode="delete" module="core"/>
     <elementSpec ident="biblItem" mode="delete" module="core"/>
     <elementSpec ident="biblStruct" mode="delete" module="core"/>
     <elementSpec ident="binaryObject" mode="delete" module="core"/>
     <elementSpec ident="broadcast" mode="delete" module="header"/>
     <elementSpec ident="correction" mode="delete" module="header"/>
     <elementSpec ident="distinct" mode="delete" module="core"/>
     <elementSpec ident="equipment" mode="delete" module="header"/>
     <elementSpec ident="equiv" mode="delete" module="core"/>
     <elementSpec ident="fsdDecl" mode="delete" module="header"/>
     <elementSpec ident="headItem" mode="delete" module="core"/>
     <elementSpec ident="headLabel" mode="delete" module="core"/>
     <elementSpec ident="hyphenation" mode="delete" module="header"/>
     <elementSpec ident="imprimatur" mode="delete" module="textstructure"/>
     <elementSpec ident="interpretation" mode="delete" module="header"/>
     <elementSpec ident="joinGrp" mode="delete" module="linking"/>
     <elementSpec ident="join" mode="delete" module="linking"/>
     <elementSpec ident="linkGrp" mode="delete" module="linking"/>
     <elementSpec ident="link" mode="delete" module="linking"/>
     <elementSpec ident="measure" mode="delete" module="core"/>
     <elementSpec ident="meeting" mode="delete" module="core"/>
     <elementSpec ident="metDecl" mode="delete" module="header"/>
     <elementSpec ident="metSym" mode="delete" module="header"/>
     <elementSpec ident="m" mode="delete" module="analysis"/>
     <elementSpec ident="monogr" mode="delete" module="core"/>
     <elementSpec ident="normalization" mode="delete" module="header"/>
     <elementSpec ident="phr" mode="delete" module="analysis"/>
     <elementSpec ident="postBox" mode="delete" module="core"/>
     <elementSpec ident="postCode" mode="delete" module="core"/>
     <elementSpec ident="quotation" mode="delete" module="header"/>
     <elementSpec ident="quote" mode="delete" module="core"/>
     <elementSpec ident="recording" mode="delete" module="header"/>
     <elementSpec ident="recordingStmt" mode="delete" module="header"/>
     <elementSpec ident="schemaSpec" mode="delete" module="tagdocs"/>
     <elementSpec ident="scriptStmt" mode="delete" module="header"/>
     <elementSpec ident="segmentation" mode="delete" module="header"/>
     <elementSpec ident="series" mode="delete" module="core"/>
     <elementSpec ident="state" mode="delete" module="header"/>
     <elementSpec ident="stdVals" mode="delete" module="header"/>
     <elementSpec ident="street" mode="delete" module="core"/>
     <elementSpec ident="tagsDecl" mode="delete" module="header"/>
     <elementSpec ident="timeline" mode="delete" module="linking"/>
     <elementSpec ident="variantEncoding" mode="delete" module="header"/>
     <elementSpec ident="when" mode="delete" module="linking"/>

     <!-- Tite additions -->
     <elementSpec ident="b" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
       <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="b"/>
       <desc>(bold) for capturing typographical feature: bold glyphs.</desc>
      <classes>
       <memberOf key="model.hiLike"/>
       <memberOf key="att.global"/>
      </classes>
      <content>
       <rng:ref name="macro.paraContent"/>
      </content>
     </elementSpec>
     <elementSpec ident="i" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
       <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="i"/>
      <desc>(italics) for capturing typographical feature: italicized glyphs.
      </desc>
      <classes>
       <memberOf key="model.hiLike"/>
       <memberOf key="att.global"/>
      </classes>
      <content>
       <rng:ref name="macro.paraContent"/>
      </content>
     </elementSpec>
     <elementSpec ident="ul" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
       <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="ul"/>
      <desc>(underline) for capturing typographical feature: underlined glyphs.
      </desc>
      <classes>
       <memberOf key="model.hiLike"/>
       <memberOf key="att.global"/>
      </classes>
      <content>
       <rng:ref name="macro.paraContent"/>
      </content>
     </elementSpec>
     <elementSpec ident="sub" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
       <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="sub"/>
      <desc>(subscript) for capturing typographical feature: subscript glyphs.
      </desc>
      <classes>
       <memberOf key="model.hiLike"/>
       <memberOf key="att.global"/>
      </classes>
      <content>
       <rng:ref name="macro.paraContent"/>
      </content>
     </elementSpec>
     <elementSpec ident="sup" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
       <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="sup"/>
      <desc>(superscript) for capturing typographical feature: superscript
       glyphs. </desc>
      <classes>
       <memberOf key="model.hiLike"/>
       <memberOf key="att.global"/>
      </classes>
      <content>
       <rng:ref name="macro.paraContent"/>
      </content>
     </elementSpec>
     <elementSpec ident="smcap" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
       <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="smcap"/>
      <desc>(smallcaps) for capturing typographical feature: glyphs in small
       capitals.</desc>
      <classes>
       <memberOf key="model.hiLike"/>
       <memberOf key="att.global"/>
      </classes>
      <content>
       <rng:ref name="macro.paraContent"/>
      </content>
     </elementSpec>
     <elementSpec ident="cols" mode="add"
		  ns="http://www.tei-c.org/ns/tite/1.0">
       <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="cols"/>
      <desc>(columns) with the "n" attribute (denoting new number of columns) is
       used to mark where a document changes columnar layout.</desc>
      <classes>
       <memberOf key="model.milestoneLike"/>
       <memberOf key="att.global"/>
      </classes>
      <content>
       <rng:empty/>
      </content>
      <attList>
       <attDef ident="ed" mode="add" ns="http://www.tei-c.org/ns/tite/1.0">
        <desc>indicates the edition or version in which the change in columnar
         layout is located at this point</desc>
        <datatype>
         <rng:ref name="data.code"/>
        </datatype>
       </attDef>
      </attList>
     </elementSpec>
     <elementSpec ident="ornament" mode="add"
		  ns="http://www.tei-c.org/ns/tite/1.0">
       <equiv filter="tite-acdc.xsl" mimeType="text/xsl" name="ornament"/>
      <desc>for capturing typographical feature: printer's ornament,
      horizontal line, strings of asterisks or periods, etc,
      indicating an informal division that does not call for a new
      <gi>div</gi> element. If a horizontal rule or printer's
      ornament, use appropriate <att>rend</att> attribute and leave
      the element empy; if the ornament can be represented with
      characters, include these in the element.</desc>
      <classes>
       <memberOf key="model.inter"/>
       <memberOf key="model.titlepagePart"/>
       <memberOf key="model.common"/>
       <memberOf key="att.global"/>
      </classes>
      <content>
       <rng:text/>
      </content>
     </elementSpec>

     <!-- Tite deletions -->
     <elementSpec ident="add" mode="delete" module="core"/>
     <elementSpec ident="altIdent" mode="delete" module="core"/>
     <elementSpec ident="biblFull" mode="delete" module="core"/>
     <elementSpec ident="choice" mode="delete" module="core"/>
     <elementSpec ident="corr" mode="delete" module="core"/>
     <elementSpec ident="del" mode="delete" module="core"/>
     <elementSpec ident="divGen" mode="delete" module="core"/>
     <elementSpec ident="emph" mode="delete" module="core"/>
     <elementSpec ident="expan" mode="delete" module="core"/>
     <elementSpec ident="gloss" mode="delete" module="core"/>
     <elementSpec ident="imprint" mode="delete" module="core"/>
     <elementSpec ident="index" mode="delete" module="core"/>
     <elementSpec ident="mentioned" mode="delete" module="core"/>
     <elementSpec ident="orig" mode="delete" module="core"/>
     <elementSpec ident="reg" mode="delete" module="core"/>
     <elementSpec ident="rs" mode="delete" module="core"/>
     <elementSpec ident="sic" mode="delete" module="core"/>
     <elementSpec ident="soCalled" mode="delete" module="core"/>
     <elementSpec ident="teiCorpus" mode="delete" module="core"/>
     <elementSpec ident="term" mode="delete" module="core"/>
     <elementSpec ident="div" mode="delete" module="textstructure"/>
     <elementSpec ident="anchor" mode="delete" module="linking"/>
     <elementSpec ident="figDesc" mode="delete" module="figures"/>

     <!-- Tite attribute modifications -->
     <!-- classes -->
     <classSpec ident="att.authorialIntervention" mode="change" module="tei"
      type="atts">
      <attList>
       <attDef ident="hand" mode="delete"/>
       <attDef ident="status" mode="delete"/>
       <attDef ident="type" mode="delete"/>
      </attList>
     </classSpec>
     <classSpec ident="att.declarable" mode="change" module="tei" type="atts">
      <attList>
       <attDef ident="default" mode="delete"/>
      </attList>
     </classSpec>
     <classSpec ident="att.divLike" mode="change" module="tei" type="atts">
      <attList>
       <attDef ident="org" mode="delete"/>
       <attDef ident="sample" mode="delete"/>
       <attDef ident="part" mode="delete"/>
      </attList>
     </classSpec>
     <classSpec ident="att.editLike" mode="change" module="tei" type="atts">
      <attList>
       <attDef ident="cert" mode="delete"/>
       <attDef ident="resp" mode="delete"/>
       <attDef ident="evidence" mode="delete"/>
      </attList>
     </classSpec>
     <classSpec ident="att.global.linking" mode="change" module="linking"
      type="atts">
      <attList>
       <attDef ident="corresp" mode="delete"/>
       <attDef ident="synch" mode="delete"/>
       <attDef ident="sameAs" mode="delete"/>
       <attDef ident="copyOf" mode="delete"/>
       <attDef ident="next" mode="delete"/>
       <attDef ident="prev" mode="delete"/>
       <attDef ident="exclude" mode="delete"/>
       <attDef ident="select" mode="delete"/>
      </attList>
     </classSpec>
     <classSpec ident="att.segLike" mode="change" module="tei" type="atts">
      <attList>
       <attDef ident="type" mode="delete"/>
       <attDef ident="function" mode="delete"/>
       <attDef ident="part" mode="delete"/>
      </attList>
     </classSpec>
     <classSpec ident="att.typed" mode="change" module="tei" type="atts">
      <attList>
       <attDef ident="subtype" mode="delete"/>
      </attList>
     </classSpec>
     <!-- elements -->
     <elementSpec ident="gap" mode="change" module="core">
      <attList>
       <attDef ident="hand" mode="delete"/>
       <attDef ident="agent" mode="delete"/>
       <attDef ident="extent" mode="delete"/>
       <attDef ident="cert" mode="delete"/>
       <attDef ident="resp" mode="delete"/>
       <attDef ident="evidence" mode="delete"/>
      </attList>
     </elementSpec>
     <elementSpec ident="unclear" mode="change" module="core">
      <attList>
       <attDef ident="hand" mode="delete"/>
       <attDef ident="agent" mode="delete"/>
       <attDef ident="cert" mode="delete"/>
       <attDef ident="resp" mode="delete"/>
       <attDef ident="evidence" mode="delete"/>
      </attList>
     </elementSpec>
    </schemaSpec>
   </div>
  </back>
 </text>
</TEI>
