Exemplars/tei_its.odd

<?xml version="1.0" encoding="utf-8"?>
<TEI xml:lang="en"  
     xmlns:its="http://www.w3.org/2005/11/its"
     xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:rng="http://relaxng.org/ns/structure/1.0"
     n="testminimal">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI with ITS setup</title>
	    <author>Sebastian Rahtz</author>
	 </titleStmt>
	 <publicationStmt>
	   <availability status="free">
	     <p>This template file is freely available and you are hereby
	     authorised to copy, modify, and redistribute it in any way without
	     further reference or permissions.</p>
	     <p>When making such modifications, you are strongly recommended to
	     change the present text to include an accurate statement of the
	     licencing conditions applicable to your modified text.</p>
	   </availability>
	 </publicationStmt>
	 <sourceDesc>
	   <p>This digital file is the original.</p>
      </sourceDesc>
    </fileDesc>
   </teiHeader>
<text>
<body>
<div>
<head>TEI schema including W3C ITS information</head>
  <p>The <ref target="http://www.w3.org/International/its/">The
  Internationalization Tag Set (ITS)</ref> Working Group is part of
  the W3C Internationalization Activity.  It has developed a set of
  elements and attributes that can be used with  DTDs/Schemas to
  support the internationalization and localization of documents; and
  provide best practice techniques for developers of DTDs/Schemas that
  show how to enable internationalization of their documents. This TEI
  customization adds the ITS markup to the TEI scheme.</p>
    <schemaSpec ident="tei_its" start="TEI teiCorpus" prefix="tei_">
      <moduleRef key="header"/>
      <moduleRef key="core"/>
      <moduleRef key="tei"/>
      <moduleRef key="textstructure"/>
      <moduleRef url="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/its.rng">
      	<content>
	  <rng:define name="tei_model.teiHeaderPart" combine="choice">
	    <rng:ref name="its_rules"/>
	  </rng:define>
	  <rng:define name="tei_model.inter" combine="choice">
	    <rng:ref name="its_span"/>
	  </rng:define>
	</content>
      </moduleRef>
      <classSpec ident="att.global" type="atts" mode="change">
	<attList>
	  <attRef name="its_att.translate.attributes"/>
	  <attRef name="its_att.locNote.attributes"/>
	  <attRef name="its_att.term.attributes"/>
	  <attRef name="its_att.dir.attributes"/>
	</attList>
      </classSpec>
    </schemaSpec>
</div>
</body>
</text>
</TEI>



