Documents/Object/object.odd

<?xml version="1.0" encoding="utf-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Objects</title>
        <author>Sebastian Rahtz</author>
      </titleStmt>
      <publicationStmt>
        <p/>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <p>
	<quote>A place-name, then, is a word, or word-complex, that
	within one particular community—no matter whether great or
	small, but of a certain stability—instantly evokes the idea of
	one particular place through an association of
	contiguity. (Olsen, 1928, p. 5)</quote></p>

      <bibl>Olsen, Magnus. Farms and fanes of ancient Norway: the place-names of a
country discussed in their bearings on social and religious
history. Volume 9 of Instituttet for sammenlignende kulturforskning,
Serie A, Forelesninger. Oslo: Aschehoug, 1928.</bibl>

    <egXML xmlns="http://www.tei-c.org/ns/Examples">
<object xml:id="grindstone1">
  <trait type="type">Tool</trait>
  <p>Actually, it is the combination of wheel and grindstone which
  makes a <soCalled>Machine</soCalled> which Crusoe uses to sharpen
  his tools.</p>
  <bibl>chapter 3, April 3rd</bibl>
</object>
</egXML>

    <egXML xmlns="http://www.tei-c.org/ns/Examples">
<object xml:id="EXCALIBUR">
  <label>Mythical sword</label>
  <objectName>Excalibur</objectName>
  <objectName xml:lang="cy">Caledfwlch</objectName>
  <trait type="type">Sword</trait>
  <p><objectName>Excalibur</objectName> is the legendary sword of
  <persName ref="#ARTHUR">King Arthur</persName>, sometimes attributed
  with magical powers or associated with the rightful sovereignty of
  <placeName>Great Britain</placeName>. Sometimes Excalibur and the <rs type="object"
  ref="#SwordinStone">Sword in the Stone</rs> (the proof of <persName
  ref="#ARTHUR">Arthur</persName>'s lineage) are said to be the same
  weapon, but in most versions they are considered separate. The sword
  was associated with the Arthurian legend very early. In Welsh, the
  sword is called <objectName xml:lang="cy">Caledfwlch</objectName>.
  </p>
  <bibl><ptr target="http://en.wikipedia.org/wiki/Excalibur"/></bibl>
</object>
<listRelation>
<relation type="owned" active="#ARTHUR" passive="#EXC"/>
</listRelation>
</egXML>

<egXML xmlns="http://www.tei-c.org/ns/Examples">
<object xml:id="ROYALGEORGE">
  <label>Warship</label>
  <date type="start">1756</date>
  <date type="end">1782</date>
  <p><objectName>HMS Royal George</objectName> was a 100-gun
  first-rate ship of the line of the <orgName ref="#Royal_Navy">Royal
  Navy</orgName>, built at <placeName
  ref="#Woolwich_Dockyard">Woolwich Dockyard</placeName> and launched
  on <date when="1756-02-18">18 February 1756</date>. The largest
  warship in the world at the time of launching, she saw service
  during the <ref ref="#Seven_Years%27_War">Seven Years' War</ref>
  including being Admiral <persName ref="#Edward_Hawke">Sir Edward
  Hawke</persName>'s flagship at the <name type="event"
  ref="#Battle_of_Quiberon_Bay">Battle of Quiberon Bay</name> and
  later taking part in the <name type="event"
  ref="#Battle_of_Cape_St._Vincent">Battle of Cape St
  Vincent</name>. She sank undergoing routine maintenance work whilst
  anchored off <placeName ref="#Portsmouth">Portsmouth</placeName> on 
  <date when="1782-08-29">29 August 1782</date> with the
  loss of more than 800 lives, one of the most serious maritime losses
  to occur in British waters.</p>
  <bibl><ptr target="http://en.wikipedia.org#HMS_Royal_George_(1756)"/></bibl>
</object>
</egXML>


    <egXML xmlns="http://www.tei-c.org/ns/Examples">
<object xml:id="V9002441">
<idno>9002441</idno>
<trait type="Fabric">SOUTH ITALIAN, APULIAN</trait>
<trait type="Technique">RED-FIGURE</trait>
<trait type="ShapeName">AMPHORA, PANATHENAIC SHAPE</trait>
<bibl>Corpus Vasorum Antiquorum: LECCE, MUSEO PROVINCIALE SIGISMONDO CASTROMEDIANO 2, 26, PL.(283) 44.1.4</bibl>
</object>
</egXML>

    <egXML xmlns="http://www.tei-c.org/ns/Examples">
<p>April 22. The next Morning I began to consider of Means to put this
Resolve in Execution, but I was at a great loss about my Tools; I had
three large <term>Axes</term> and abundance of <term>Hatchets</term>,
(for we carried the <term>Hatchets</term> for Traffick with the
Indians) but with much chopping and cutting knotty hard Wood, they
were all full of Notches and dull, and tho' I had a <rs type="object"
ref="#rcgrindstone">Grindstone</rs>, I could not turn it and grind my
Tools too, this cost me as much Thought as a Statesman would have
bestow'd upon a grand Point of Politicks, or a Judge upon the Life and
Death of a Man. At length I contriv'd a Wheel with a String, to turn
it with my Foot, that I might have both my Hands at Liberty: Note, I
had never seen any such thing in England, or at least not to take
Notice how it was done, tho' since I have observ'd it is very common
there; besides that, my <rs type="object"
ref="#rcgrindstone">Grindstone</rs> was very large and heavy. This
<objectName ref="#rcgrindstone">Machine</objectName> cost me a full
Weeks Work to bring it to Perfection.</p>
</egXML>
<!--Daniel Defoe "The life and strange surprizing adventures of Robinson Crusoe: of
York, mariner: who lived eight and twenty years, all alone in an
un-inhabited island on the coast of America, near the mouth of the
great river of Oroonoque; ... Written by himself. — Robinson Crusoe"
1719-->
<!-- The Journal,  April 22-->

      <specGrp xml:id="NEW">
        <elementSpec ident="object" module="namesdates" mode="add">
          <desc>contains data about an identifiable object</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="att.typed"/>
            <memberOf key="att.declaring"/>
            <memberOf key="att.sortable"/>
            <memberOf key="model.objectLike"/>
          </classes>
          <content>
            <rng:group>
              <rng:zeroOrMore>
                <rng:ref name="model.headLike"/>
              </rng:zeroOrMore>
              <rng:choice>
                <rng:group>
                  <rng:zeroOrMore>
                    <rng:ref name="model.pLike"/>
                  </rng:zeroOrMore>
                </rng:group>
                <rng:zeroOrMore>
                  <rng:choice>
                    <rng:ref name="model.labelLike"/>
                    <rng:ref name="model.objectStateLike"/>
                    <rng:ref name="model.objectEventLike"/>
                  </rng:choice>
                </rng:zeroOrMore>
              </rng:choice>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:ref name="model.noteLike"/>
                  <rng:ref name="model.biblLike"/>
                </rng:choice>
              </rng:zeroOrMore>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:ref name="model.objectLike"/>
                  <rng:ref name="listObject"/>
                </rng:choice>
              </rng:zeroOrMore>
            </rng:group>
          </content>
        </elementSpec>
        <elementSpec module="namesdates" ident="listObject"  mode="add">
          <gloss>list of objects</gloss>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="att.typed"/>
            <memberOf key="att.declarable"/>
            <memberOf key="att.sortable"/>
            <memberOf key="model.listLike"/>
            <memberOf key="model.objectLike"/>
          </classes>
          <content>
            <rng:group>
              <rng:zeroOrMore>
                <rng:ref name="model.headLike"/>
              </rng:zeroOrMore>
              <rng:oneOrMore>
                <rng:choice>
                  <rng:ref name="model.objectLike"/>
                  <rng:ref name="listObject"/>
                </rng:choice>
              </rng:oneOrMore>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:ref name="listRelation"/>
                  <rng:ref name="relationGrp"/>
                  <rng:ref name="relation"/>
                </rng:choice>
              </rng:zeroOrMore>
            </rng:group>
          </content>
        </elementSpec>
        <elementSpec module="namesdates" ident="objectName" mode="add">
          <desc>contains the name of an identifiable object. </desc>
          <classes>
            <memberOf key="att.datable"/>
            <memberOf key="att.editLike"/>
            <memberOf key="att.global"/>
            <memberOf key="att.naming"/>
            <memberOf key="att.typed"/>
	    <memberOf key="model.nameLike"/>
          </classes>
          <content>
            <ref xmlns="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
          </content>
        </elementSpec>
        <classSpec ident="model.objectLike" type="model" module="namesdates" mode="add">
          <desc>groups elements used to provide information about
	   identifiable objects.</desc>
        </classSpec>
        <classSpec ident="model.objectStateLike" type="model" module="namesdates" mode="add">
          <desc>groups elements used to provide properties of identifiable objects.</desc>
        </classSpec>
        <classSpec ident="model.objectEventLike" type="model"
		   module="namesdates"  mode="add">
          <desc>groups elements used to provide information about
	   events relating to identifiable objects.</desc>
        </classSpec>
      </specGrp>
      <specGrp xml:id="CHANGES">
       </specGrp>
      <schemaSpec ident="object" start="TEI">
        <moduleRef key="tei"/>
        <moduleRef key="textstructure"/>
        <moduleRef key="core"/>
        <moduleRef key="header"/>
        <moduleRef key="linking"/>
        <moduleRef key="namesdates"/>
      </schemaSpec>
    </body>
  </text>
</TEI>
<!--

all xxxName are <rs type="xxxName"> but not all <rs type="xxxName">
are xxxName.

use rs when the phrase inside it is not a recognizable or simple name
according to local practice,in which case use xxxName

He picked up <objectName>Excalibur</objectName>

He made a sword

There was a collection of swords and axes

an object is <emph>identifiable</emph>, whether implicitly or
explicitly.

The large quanity of <stuff type="bones">animal bones</stuff> and
<stuff>bronze rings</stuff> found on the excavation

-->