Documents/Object/object.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
 startMode="validate">

  <mode name="validate">
    
    <namespace ns="http://www.ascc.net/xml/schematron">
      <validate schema="../../P5/schematron.rng"/>
    </namespace>
    
    <namespace ns="http://purl.oclc.org/dsdl/schematron">
      <validate schema="../../P5/iso-schematron.rng"/>
    </namespace>
    
    
    <namespace ns="http://www.tei-c.org/ns/1.0">
      <validate schema="../../P5/p5odds.rng">
	<mode>

	  <namespace ns="http://www.ascc.net/xml/schematron">
	    <validate schema="../../P5/schematron.rng"/>
	  </namespace>
	  
	  <namespace ns="http://purl.oclc.org/dsdl/schematron">
	    <validate schema="../../P5/iso-schematron.rng"/>
	  </namespace>

	  <namespace ns="http://relaxng.org/ns/structure/1.0">
	    <validate schema="../../P5/relax.rng"/>
	  </namespace>
	  
	  <namespace ns="http://www.tei-c.org/ns/Examples">
	    <validate schema="object-examples.rng">
	      <mode>
		<anyNamespace>
		  <allow/>
		</anyNamespace>
	      </mode>
	    </validate>
	  </namespace>
	</mode>
      </validate>
    </namespace>
  </mode>
  <mode name="attach">
    <anyNamespace><attach/></anyNamespace>
  </mode> 
</rules>
