Stylesheets/profiles/iso/schema/mathml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1998/Math/MathML" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:t="http://www.lisa.org/TBX-Specification.33.0.html" xmlns:teidocx="http://www.tei-c.org/ns/teidocx/1.0" xmlns:xinclude="http://www.w3.org/2001/XInclude" xmlns:tm9901="http://www.oasis-open.org/specs/tm9901" xmlns:ns2="http://www.tei-c.org/ns/1.0" xmlns:ns1="http://www.iso.org/ns/1.0" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import namespace="http://www.iso.org/ns/1.0" schemaLocation="ns1.xsd"/>
  <xs:import namespace="http://www.lisa.org/TBX-Specification.33.0.html" schemaLocation="t.xsd"/>
  <xs:import namespace="http://www.oasis-open.org/specs/tm9901" schemaLocation="tm9901.xsd"/>
  <xs:import namespace="http://www.tei-c.org/ns/1.0" schemaLocation="isotei.xsd"/>
  <xs:import namespace="http://www.tei-c.org/ns/teidocx/1.0" schemaLocation="teidocx.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/XInclude" schemaLocation="xinclude.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="mspace">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-mspace"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mprescripts">
    <xs:complexType/>
  </xs:element>
  <xs:element name="none">
    <xs:complexType/>
  </xs:element>
  <xs:element name="malignmark">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-malignmark"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="maligngroup">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-maligngroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mglyph">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-mglyph"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sep">
    <xs:complexType/>
  </xs:element>
  <xs:element name="integers">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-integers"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="reals">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-reals"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="rationals">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-rationals"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="naturalnumbers">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-naturalnumbers"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="complexes">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-complexes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="primes">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-primes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="exponentiale">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-exponentiale"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="imaginaryi">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-imaginaryi"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="notanumber">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-notanumber"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="true">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-true"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="false">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-false"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="emptyset">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-emptyset"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pi">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-pi"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="eulergamma">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-eulergamma"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="infinity">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-infinity"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="inverse">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-inverse"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="domain">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-domain"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="codomain">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-codomain"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="image">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-image"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ident">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-ident"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="compose">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-compose"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="exp">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-exp"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="abs">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-abs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arg">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-arg"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="real">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-real"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="imaginary">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-imaginary"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="conjugate">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-conjugate"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="factorial">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-factorial"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="floor">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-floor"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ceiling">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-ceiling"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="minus">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-minus"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="quotient">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-quotient"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="divide">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-divide"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="power">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-power"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="rem">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-rem"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="plus">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-plus"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="max">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-max"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="min">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-min"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="times">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-times"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="gcd">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-gcd"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lcm">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-lcm"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="root">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-root"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="exists">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-exists"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="forall">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-forall"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="and">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-and"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="or">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-or"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="xor">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-xor"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="not">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-not"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="implies">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-implies"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="divergence">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-divergence"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="grad">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-grad"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="curl">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-curl"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="laplacian">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-laplacian"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="log">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-log"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="int">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-int"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="diff">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-diff"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="partialdiff">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-partialdiff"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ln">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-ln"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="card">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-card"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="setdiff">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-setdiff"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="union">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-union"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="intersect">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-intersect"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cartesianproduct">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-cartesianproduct"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sum">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-sum"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="product">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-product"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="limit">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-limit"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sin">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-sin"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cos">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-cos"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tan">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-tan"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sec">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-sec"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="csc">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-csc"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cot">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-cot"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sinh">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-sinh"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cosh">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-cosh"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tanh">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-tanh"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sech">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-sech"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="csch">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-csch"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="coth">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-coth"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arcsin">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-arcsin"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arccos">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-arccos"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arctan">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-arctan"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arccosh">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-arccosh"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arccot">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-arccot"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arccoth">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-arccoth"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arccsc">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-arccsc"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arccsch">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-arccsch"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arcsec">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-arcsec"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arcsech">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-arcsech"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arcsinh">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-arcsinh"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arctanh">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-arctanh"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mean">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-mean"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sdev">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-sdev"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="variance">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-variance"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="median">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-median"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mode">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-mode"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="moment">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-moment"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="determinant">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-determinant"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="transpose">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-transpose"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="vectorproduct">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-vectorproduct"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="scalarproduct">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-scalarproduct"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="outerproduct">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-outerproduct"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="selector">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-selector"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="neq">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-neq"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="factorof">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-factorof"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="eq">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-eq"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="equivalent">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-equivalent"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="approx">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-approx"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="gt">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-gt"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lt">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-lt"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="geq">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-geq"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="leq">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-leq"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="in">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-in"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="notin">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-notin"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="notsubset">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-notsubset"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="notprsubset">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-notprsubset"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subset">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-subset"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="prsubset">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-prsubset"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tendsto">
    <xs:complexType>
      <xs:attributeGroup ref="ns2:mathml.attlist-tendsto"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ci">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns2:mathml.MathMLCharacters"/>
        <xs:group ref="ns2:mathml.PresInCont"/>
      </xs:choice>
      <xs:attributeGroup ref="ns2:mathml.attlist-ci"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="csymbol">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns2:mathml.MathMLCharacters"/>
        <xs:group ref="ns2:mathml.PresInCont"/>
      </xs:choice>
      <xs:attributeGroup ref="ns2:mathml.attlist-csymbol"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="cn">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns2:mathml.MathMLCharacters"/>
        <xs:element ref="mathml:sep"/>
        <xs:group ref="ns2:mathml.PresInCont"/>
      </xs:choice>
      <xs:attributeGroup ref="ns2:mathml.attlist-cn"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="apply">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-apply"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="reln">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-reln"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lambda">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-lambda"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="condition">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-condition"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="declare">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-declare"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="semantics">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-semantics"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="annotation">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns2:mathml.attlist-annotation"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="annotation-xml">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.any">
          <xs:attributeGroup ref="ns2:mathml.attlist-annotation-xml"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="interval">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-interval"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="set">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-set"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="list">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-list"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="vector">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-vector"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="matrix">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-matrix"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="matrixrow">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-matrixrow"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="piecewise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mathml:piece"/>
        <xs:element minOccurs="0" ref="mathml:otherwise"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns2:mathml.attlist-piecewise"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="piece">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-piece"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="otherwise">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-otherwise"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="fn">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-fn"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lowlimit">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-lowlimit"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="uplimit">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-uplimit"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="bvar">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-bvar"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="degree">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-degree"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="logbase">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-logbase"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="momentabout">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-momentabout"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="domainofapplication">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.ContentExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-domainofapplication"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mstyle">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-mstyle"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="merror">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-merror"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mphantom">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-mphantom"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mrow">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-mrow"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mfrac">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-mfrac"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="msqrt">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-msqrt"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="menclose">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-menclose"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mroot">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-mroot"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="msub">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-msub"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="msup">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-msup"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="msubsup">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-msubsup"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mmultiscripts">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-mmultiscripts"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="munder">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-munder"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mover">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-mover"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="munderover">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-munderover"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtable">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-mtable"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtr">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-mtr"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mlabeledtr">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-mlabeledtr"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtd">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-mtd"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="maction">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-maction"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mfenced">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-mfenced"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mpadded">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.PresExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-mpadded"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mi">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns2:mathml.MathMLCharacters"/>
        <xs:element ref="mathml:malignmark"/>
      </xs:choice>
      <xs:attributeGroup ref="ns2:mathml.attlist-mi"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mn">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns2:mathml.MathMLCharacters"/>
        <xs:element ref="mathml:malignmark"/>
      </xs:choice>
      <xs:attributeGroup ref="ns2:mathml.attlist-mn"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mo">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns2:mathml.MathMLCharacters"/>
        <xs:element ref="mathml:malignmark"/>
      </xs:choice>
      <xs:attributeGroup ref="ns2:mathml.attlist-mo"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="mtext">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns2:mathml.MathMLCharacters"/>
        <xs:element ref="mathml:malignmark"/>
      </xs:choice>
      <xs:attributeGroup ref="ns2:mathml.attlist-mtext"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ms">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns2:mathml.MathMLCharacters"/>
        <xs:element ref="mathml:malignmark"/>
      </xs:choice>
      <xs:attributeGroup ref="ns2:mathml.attlist-ms"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="math">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns2:mathml.MathExpression">
          <xs:attributeGroup ref="ns2:mathml.attlist-math"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
