Stylesheets/profiles/iso/schema/ns2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.iso.org/ns/1.0" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:t="http://www.lisa.org/TBX-Specification.33.0.html" xmlns:teidocx="http://www.tei-c.org/ns/teidocx/1.0" xmlns:tm9901="http://www.oasis-open.org/specs/tm9901" xmlns:ns1="http://www.tei-c.org/ns/1.0" xmlns:ns2="http://www.iso.org/ns/1.0" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import namespace="http://www.lisa.org/TBX-Specification.33.0.html" schemaLocation="t.xsd"/>
  <xs:import namespace="http://www.oasis-open.org/specs/tm9901" schemaLocation="tm9901.xsd"/>
  <xs:import namespace="http://www.tei-c.org/ns/1.0" schemaLocation="ns1.xsd"/>
  <xs:import namespace="http://www.tei-c.org/ns/teidocx/1.0" schemaLocation="teidocx.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="isotei.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:attribute name="style"/>
  <xs:attribute name="meta">
    <xs:annotation>
      <xs:documentation>label a metadata element</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="Date completed">
          <xs:annotation>
            <xs:documentation>Date completed</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="Dialogue Language">
          <xs:annotation>
            <xs:documentation>Dialogue Language</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="Document number">
          <xs:annotation>
            <xs:documentation>Document number</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="Language">
          <xs:annotation>
            <xs:documentation>Language</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="Solution ID">
          <xs:annotation>
            <xs:documentation>Solution ID</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="committeeReference">
          <xs:annotation>
            <xs:documentation>Committee</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="complementaryTitle">
          <xs:annotation>
            <xs:documentation>Complementary Title</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="complementaryTitle_fr">
          <xs:annotation>
            <xs:documentation>Complementary Title in French</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="copyright">
          <xs:annotation>
            <xs:documentation>Copyright</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="docBaseName">
          <xs:annotation>
            <xs:documentation>document base name</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="docDate">
          <xs:annotation>
            <xs:documentation>Document date</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="docEdition">
          <xs:annotation>
            <xs:documentation>Document edition</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="docLanguage">
          <xs:annotation>
            <xs:documentation>Document language</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="docLanguage">
          <xs:annotation>
            <xs:documentation>document language</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="docNumber">
          <xs:annotation>
            <xs:documentation>Document number</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="docPartNumber">
          <xs:annotation>
            <xs:documentation>Document Part number</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="docReference">
          <xs:annotation>
            <xs:documentation>document reference</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="docStage">
          <xs:annotation>
            <xs:documentation>Document stage</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="docSubtype">
          <xs:annotation>
            <xs:documentation>Document subtype</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="docType">
          <xs:annotation>
            <xs:documentation>Document Type</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="docTypeFull">
          <xs:annotation>
            <xs:documentation>Document Type in full</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="draftNumber">
          <xs:annotation>
            <xs:documentation>Draft number</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="fullTitle">
          <xs:annotation>
            <xs:documentation>Full title</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="fullTitle_fr">
          <xs:annotation>
            <xs:documentation>Full title in French</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="fw_parts">
          <xs:annotation>
            <xs:documentation>Parts description in Foreword</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="fw_patents">
          <xs:annotation>
            <xs:documentation>Patent description in Foreword</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="fw_revision">
          <xs:annotation>
            <xs:documentation>Revision description in Foreword</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="introductoryTitle">
          <xs:annotation>
            <xs:documentation>Introductory Title</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="introductoryTitle_fr">
          <xs:annotation>
            <xs:documentation>Introductory Title in French</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="mainTitle">
          <xs:annotation>
            <xs:documentation>Main title</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="mainTitle_fr">
          <xs:annotation>
            <xs:documentation>Main title in French</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="organization">
          <xs:annotation>
            <xs:documentation>Organization</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="partNumber">
          <xs:annotation>
            <xs:documentation>Part Number</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="projectId">
          <xs:annotation>
            <xs:documentation>Project ID</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="scNumber">
          <xs:annotation>
            <xs:documentation>Subcommittee</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="secretariat">
          <xs:annotation>
            <xs:documentation>Secretariat</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="serialNumber">
          <xs:annotation>
            <xs:documentation>Serial number</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="stage">
          <xs:annotation>
            <xs:documentation>Producion stage</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="supplementTitle">
          <xs:annotation>
            <xs:documentation>Supplementary title</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="supplementTitle_fr">
          <xs:annotation>
            <xs:documentation>Supplementisoary title in French</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="tcNumber">
          <xs:annotation>
            <xs:documentation>Technical Committee</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="wgNumber">
          <xs:annotation>
            <xs:documentation>Working Group number</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="referenceNumber"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="status">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="normative">
          <xs:annotation>
            <xs:documentation>Normative prose</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="informative">
          <xs:annotation>
            <xs:documentation>Informative or illustrative prose</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="provision">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="requirement">
          <xs:annotation>
            <xs:documentation>Requirement</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="recommendation">
          <xs:annotation>
            <xs:documentation>Recommendation</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="statement">
          <xs:annotation>
            <xs:documentation>Statement</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="permission">
          <xs:annotation>
            <xs:documentation>Permission</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="capability">
          <xs:annotation>
            <xs:documentation>Capability</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="possibility">
          <xs:annotation>
            <xs:documentation>Possibility</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
        <xs:enumeration value="possibilityandcapability">
          <xs:annotation>
            <xs:documentation>Possibility
		  and capability</xs:documentation>
          </xs:annotation>
        </xs:enumeration>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>
  <xs:attribute name="spaceBefore" type="xs:token"/>
  <xs:attribute name="spaceAfter" type="xs:token"/>
  <xs:attribute name="align" type="xs:token"/>
  <xs:attribute name="replaceable" type="xs:token"/>
  <xs:element name="wordObject">
    <xs:annotation>
      <xs:documentation>Any Word-specific chunk of XML code</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:group ref="mathml:anyOOXML"/>
        <xs:group ref="mathml:anyOLE"/>
        <xs:group ref="mathml:anyVML"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
