Stylesheets/Test2/test.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en"  xmlns="http://www.tei-c.org/ns/1.0"
 xmlns:rng="http://relaxng.org/ns/structure/1.0" n="testdrama">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI</title>
            <author>Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
	   <p> </p>
	 </publicationStmt>
         <sourceDesc>
            <p>authored from scratch</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>
  <p>Consider the behaviour of <gi>p</gi>, <gi>para</gi> and <gi>div</gi></p>

    <schemaSpec ident="test" start="TEI">
      <moduleRef key="header"/>
      <moduleRef key="core"/>
      <moduleRef key="tei"/>
      <moduleRef key="textstructure"/>
      <moduleRef key="linking"/>
      <moduleRef key="figures"/>
      <elementSpec ident="p" mode="change">
	<altIdent>para</altIdent>
      </elementSpec>
      <elementSpec ident="div" mode="change">
	<gloss>divisionette</gloss>
      </elementSpec>
      <elementSpec ident="att.typed" mode="change">
	<attList>
	  <attDef ident="type" mode="change">
	    <altIdent>typo</altIdent>
	  </attDef>
	</attList>
      </elementSpec>
    </schemaSpec>
</body>
</text>
</TEI>



