Carthage/dpp/dtd.dtd

<!-- DTD for DTDs -->

<!-- Revisions:                                               -->
<!-- 1995-03-31 : CMSMcQ : allow ps intermixed with msKey,    -->
<!--                       to match dpp's current treatment   -->
<!--                       of marked section keywords         -->
<!-- 1994-08-19 : CMSMcQ : add dExtern                        -->
<!-- 1994-08-05 : CMSMcQ : minor revisions, make names short  -->
<!-- 1994-08-02 : CMSMcQ : complete version 1 (no PS)         -->
<!-- 1994-08-01 : CMSMcQ : began                              -->

<!-- To do:

1 add ps where needed (version 2)

2 wherever peref is legal, modify grammar to allow (peref | peStart ...
Ee), and if necessary specify what is allowed within the parameter
entity by using different names, and defining appropriate content
models.  (version 3)

No.  Since perefs can be asynchronous with respect to grammatical
constructs (the only rule is that they must begin and end in a ps, not
that they must begin and end in a ps in the same production), attempting
to do peref checking this way is doomed to exploding complexity:  each
construct must be expanded all the way down to its lowest-level
parameters, and then we can apply the grammatical rules, with a
geometric explosion in the number of rules, and lots of reduce-reduce
conflicts.

If we decide we still care about peref validation (and I'm not sure I
do, after struggling with it ...), we can implement non-syntactic
checking.  E.g. we have the following two constraints:

          - a peref in a ds must end in a ds (i.e. contain an
          integral number of declarations
          - a peref within a declaration must end within the same
          declaration, and a declaration must begin and end in the same
          entity

If the second is true, so is the first (if each declaration begins and
ends in the same entity, then each entity containing declarations must
contain an integral number of them.  (Proof or disproof by formal
methods left as a useful exercise.)  So we check the first by checking
the second.

One way to try checking the second is to keep a counter of entity depth,
incremented upon peref and decremented upon EE.  The MDO and MDC of a
declaration must occur at the same depth.  But that's not enough:  if
entity A contains the first half of declaration 1, and entity B contains
the second half, declaration 1 begins and ends at the same depth, but
not in the same entity.  In fact, each declaration should begin and end
in the same entity, not merely at the same depth.  Since cyclic entity
references are not possible, all we have to do is check the name of the
currently open element at the beginning and ending of each declaration.

The rules for perefs appear in file perefs.doc.

-->


<!-- This DTD provides an alternative syntax for the          -->
<!-- expression of SGML document grammars, defining elements  -->
<!-- and attributes suitable for capturing the content of     -->
<!-- SGML DTDs in an SGML document instance; this allows      -->
<!-- DTDs to be processed by conventional SGML tools.  The    -->
<!-- immediate occasion for specifying this DTD is the        -->
<!-- desire to develop a suite of DTD pre-processing tools.   -->
<!-- A DTD parser will parse a DTD (the object DTD) and       -->
<!-- emit, as output, either an SGML document instance of     -->
<!-- this DTD (the meta-DTD), or an SGMLS data stream         -->
<!-- representing the element structure information set       -->
<!-- (ESIS) of the document instance.  Specialized tools for  -->
<!-- DTD manipulation will work on the sgmls data stream; a   -->
<!-- DTD unparser will translate from an sgmls data stream    -->
<!-- back into DTD notation.  Details of presentation (e.g.   -->
<!-- white space) will be normalized along the way.           -->

<!-- The individual filters now planned for the DPP (DTD      -->
<!-- pre-processor) suite will:                               -->
<!--      * expand selected parameter entity references (and  -->
<!--        optionally suppress their declarations)           -->
<!--      * list all undeclared elements                      -->
<!--      * suppress IGNORED marked sections                  -->
<!--      * suppress all marked section markup                -->
<!--      * (list all unreachable elements)                   -->
<!--      * suppress references to selected elements          -->
<!--                                                          -->
<!--      * add x-dot indirection to m-dot class entities     -->
<!--      * add n-dot indirection to generic identifiers      -->
<!--      * add marked sections around element and            -->
<!--        attlist declarations                              -->
<!--      * pretty print the DTD                              -->
<!--                                                          -->

<!-- In its current form, this DTD supports (I think) all     -->
<!-- the constructs allowed in an SGML DTD; constructs        -->
<!-- associated with the RANK and DATATAG features, and with  -->
<!-- SHORTREFs, are enclosed within marked sections to        -->
<!-- ensure that they can be turned off or on as desired.     -->
<!-- The elements for formal public identifiers are           -->
<!-- unreachable, as is the formal definition of formal       -->
<!-- public identifiers in the grammar defined in ISO 8879.   -->

<!-- ******************************************************** -->
<!-- * Marked Section parameter entities                    * -->
<!-- ******************************************************** -->
<!ENTITY % DATATAG 'IGNORE'                                     >
<!ENTITY % RANK    'IGNORE'                                     >
<!ENTITY % FORMAL  'IGNORE'                                     >
<!ENTITY % SREF    'IGNORE'                                     >

<!-- ******************************************************** -->
<!-- * Parameter Entities for Models, etc.                  * -->
<!-- ******************************************************** -->
<!ENTITY % oProlog  'commDecl | pi'                             >
<!ENTITY % ps.comp  'comment | peref | Ee'                      >
<!ENTITY % ps       '(%ps.comp)*'                               >
<!ENTITY % ts       'peref | Ee'                                >
<!ENTITY % ds       'peref | commDecl | pi | msDecl | Ee'       >

<!-- 65  ps   = 5 s | EE                                      -->
<!--          | 60+ parameter entity reference                -->
<!--          | 92 comment                                    -->
<!-- 70  ts   = 5 s | EE | 60+ parameter entity reference     -->
<!-- 71  ds   = 5 s | EE | 60+ parameter entity reference     -->
<!--          | 91 comment declaration                        -->
<!--          | 44 processing instruction                     -->
<!--          | 93 marked section declaration                 -->

<!ENTITY % entSet 'entity'                                      >
<!ENTITY % elemSet 'element | attlist | notation'               >
<!ENTITY % srSet 'srMap | srUse'                                >

<!-- 113  entity set = (101 entity declaration | 71 ds)*      -->
<!-- 114 element set =                                        -->
<!--           (116 element declaration                       -->
<!--           | 141+ attribute definition list declaration   -->
<!--           | 148 notation declaration                     -->
<!--           | 71 ds)*                                      -->
<!-- 115  short reference set =                               -->
<!--           (101 entity declaration                        -->
<!--           | 150 short reference mapping declaration      -->
<!--           | 152 short reference use declaration          -->
<!--           | 71 ds)*                                      -->

<!ENTITY % ranked 'rankElem | rankGrp'                          >
<!ENTITY % dCont 'CDATA | RCDATA | EMPTY'                       >
<!ENTITY % pToken  'PCDATA | eToken | dtGrp'                    >
<!ENTITY % cToken  '%pToken | modelGrp'                         >
<!ENTITY % enttext 'literal | external'                         >

<!-- ******************************************************** -->
<!-- * DTD 1:  prolog                                       * -->
<!-- ******************************************************** -->

<!ELEMENT prolog        - -  ((%oProlog)*, dtd,
                             (%oProlog)*)                       >

<!-- 7 prolog = 8 other prolog*,                              -->
<!--     9 base document type declaration,                    -->
<!--     (110 document type declaration | 8 other prolog)*,   -->
<!--     (154+ link type declaration    | 8 other prolog)*    -->
<!-- 9 base document type declaration =                       -->
<!--     110 document type declaration                        -->


<!ELEMENT dtd           - -  (doctype, extid?, dSubset?,
                             dExtern?)                          >

<!-- With ps and prose notes accounted for, this becomes:     -->
<!-- <!ELEMENT dtd         - -  (comment?, doctype, comment?, -->
<!--                              (extid, comment?, (dSubset, -->
<!--                              comment?)?)?)             > -->

<!-- 110  document type declaration                           -->
<!--        = MDO, "DOCTYPE",                                 -->
<!--          65 ps+, 111 document type name,                 -->
<!--          (65 ps+, 73 external identifier)?,              -->
<!--          (65 ps+, DSO,                                   -->
<!--          112 document type declaration subset,           -->
<!--          DSC)?,                                          -->
<!--          65 ps*,                                         -->
<!--          MDC                                             -->
<!-- "An EE or parameter entity reference cannot occur in a   -->
<!-- document type declaration, except within the document    -->
<!-- type declaration subset" (11.1, Amendment 1).  This is   -->
<!-- in direct contradiction to the use of ps in production   -->
<!-- 110, which should be replaced by (s | comment) in this   -->
<!-- case.  Cf. 154.                                          -->

<!ELEMENT doctype       - O  (#PCDATA)                          >

<!-- 111  document type name = 30 generic identifier          -->

<!ELEMENT dSubset       - -  (%entSet | %elemSet | %srSet |
                             %ds)*                              >
<!ELEMENT dExtern       - -  (%entSet | %elemSet | %srSet |
                             %ds)*                              >

<!-- 112  document type declaration subset                    -->
<!--                       = (113 entity set                  -->
<!--                       | 114 element set                  -->
<!--                       | 115 short reference set)*        -->


<!-- ******************************************************** -->
<!-- * DTD II:  Element Declaration                         * -->
<!-- ******************************************************** -->

<!ELEMENT element       - -  (elemType, omiss?,
                             (%dCont | model))                  >

<!-- <!ELEMENT element  - -  ((%ps), elemType, (%ps),         -->
<!--                         (omiss, (%ps))?,                 -->
<!--                         (%declared | model), (%ps))>     -->
<!-- 116  element declaration =                               -->
<!--     MDO, "ELEMENT",                                      -->
<!--     65 ps+, element type,                                -->
<!--     (65 ps+, 122 omitted tag minimization)?,             -->
<!--     65 ps+, (125 declared content | 126 content model),  -->
<!--     65 ps*, MDC                                          -->

<!ELEMENT elemType      - -  (gi | nameGrp | %ranked)           >

<!-- 117  element type     = 30 generic identifier            -->
<!--                       | 69 name group                    -->
<!--                       | 118 ranked element               -->
<!--                       | 119 ranked group                 -->

<!ELEMENT omiss         - -  (#PCDATA)                          >

<!-- 122  omitted tag minimization =                          -->
<!--          123 start-tag minimization,                     -->
<!--          124 end-tag minimization                        -->
<!-- 123  start-tag minimization = "O" | MINUS                -->
<!-- 124  end-tag minimization = "O" | MINUS                  -->

<!-- Declared content                                         -->
<!ELEMENT CDATA         - O  EMPTY                              >
<!ELEMENT RCDATA        - O  EMPTY                              >
<!ELEMENT EMPTY         - O  EMPTY                              >

<!-- 125  declared content = "CDATA" | "RCDATA" | "EMPTY"     -->


<!-- ******************************************************** -->
<!-- * Ranked Elements, Ranked Groups                       * -->
<!-- ******************************************************** -->
<![ %RANK [
<!ELEMENT rankElem      - -  (name)                             >
<!ATTLIST rankElem
          rankStem           NUMBER              #REQUIRED      >
<!ELEMENT rankGrp       - -  (name+)                            >
<!ATTLIST rankGrp
          rankStem           NUMBER              #REQUIRED
          conn               (seq | and | or)    #REQUIRED      >

<!-- 118  ranked element =                                    -->
<!--          120 rank stem, 65 ps+, 121 rank suffix          -->
<!-- 119 ranked group =                                       -->
<!--          GRPO, 70 ts*, 120 rank stem,                    -->
<!--          (70 ts*, 131 connector,                         -->
<!--          70 ts*, 120 rank stem),                         -->
<!--          70 ts*, GRPC,                                   -->
<!--          65 ps+, 121 rank suffix                         -->
<!-- 120 rank stem = 55 name                                  -->
<!-- 121 rank suffix = 56 number                              -->

]]>

<!-- ******************************************************** -->
<!-- * DTD III:  Attribute Definition List Declaration      * -->
<!-- ******************************************************** -->

<!ELEMENT attlist       - -  ((elemType | notName), attdefs)    >

<!-- <!ELEMENT attlist  - -  ((%ps), (elemType | notName),    -->
<!--                         (%ps), attdefs, (%ps))         > -->

<!-- 141+ attribute definition list declaration               -->
<!--        = MDO, "ATTLIST",                                 -->
<!--          65 ps+,                                         -->
<!--          ( 72 associated element type                    -->
<!--          | 149.1+ associated notation name),             -->
<!--          65 ps+, 142 attribute definition list,          -->
<!--          65 ps*, MDC                                     -->

<!ELEMENT attdefs       - -  (attdef+)                          >

<!-- 142 attribute definition list                            -->
<!--        = 143 attribute definition,                       -->
<!--          (65 ps+, 143 attribute definition)*             -->

<!ELEMENT attdef        - -  (name, dValue, default)            >
<!ELEMENT name          - O  (#PCDATA)                          >

<!-- 143  attribute definition = 144 attribute name,          -->
<!--                         65 ps+, 145+ declared value,     -->
<!--                         65 ps+, 147 default value        -->
<!--                                                          -->
<!-- 144  attribute name   = 55 name                          -->

<!ELEMENT dValue        - O  (dvKeywd | dvNotn | ntGrp)         >
<!ELEMENT dvKeywd       - O  EMPTY                              >
<!ATTLIST dvKeywd
          type               (CDATA | ENTITY | ENTITIES | ID |
                             IDREF | IDREFS | NAME | NAMES |
                             NMTOKEN | NMTOKENS |
                             NUMBER  | NUMBERS  |
                             NUTOKEN | NUTOKENS) #REQUIRED      >

<!-- 145+ declared value   = "CDATA"   |                      -->
<!--                         "ENTITY"  | "ENTITIES" |         -->
<!--                         "ID"      |                      -->
<!--                         "IDREF"   | "IDREFS"   |         -->
<!--                         "NAME"    | "NAMES"    |         -->
<!--                         "NMTOKEN" | "NMTOKENS" |         -->
<!--                         "NUMBER"  | "NUMBERS"  |         -->
<!--                         "NUTOKEN" | "NUTOKENS" |         -->
<!--                         146 notation  |                  -->
<!--                         68 name token group              -->

<!-- ID and NOTATION may be declared only once each in an     -->
<!-- attribute definition list.  NOTATION may not be          -->
<!-- declared if element is empty.  No token may appear more  -->
<!-- than once in an attribute definition list, even in       -->
<!-- different groups.  [This applies only to the token       -->
<!-- lists in declared values; the same token may occur as    -->
<!-- an attribute name and an attribute value.] Declared      -->
<!-- value of a data attribute cannot be ENTITY, ENTITIES,    -->
<!-- ID, IDREF, IDREFS, or NOTATION.                          -->

<!ELEMENT dvNotn        - -  (nameGrp)                          >

<!-- 146  notation        = "NOTATION", 65 ps+, 69 name group -->

<!ELEMENT default       - -  ((FIXED?, avSpec) | REQUIRED |
                             CURRENT | CONREF | IMPLIED)        >
<!ELEMENT FIXED         - O  EMPTY                              >
<!ELEMENT REQUIRED      - O  EMPTY                              >
<!ELEMENT CURRENT       - O  EMPTY                              >
<!ELEMENT CONREF        - O  EMPTY                              >
<!ELEMENT IMPLIED       - O  EMPTY                              >

<!-- 147  default value                                       -->
<!--        = (  (RNI, "FIXED", 65 ps+)?,                     -->
<!--          33 attribute value specification)               -->
<!--        | ( RNI,                                          -->
<!--          ( "REQUIRED" | "CURRENT"                        -->
<!--          | "CONREF" | "IMPLIED"))                        -->

<!-- For ID attributes, default must be REQUIRED or IMPLIED.  -->
<!-- If element is empty, default may not be CONREF.  Data    -->
<!-- attributes cannot have default value of CURRENT or       -->
<!-- CONREF.                                                  -->

<!ELEMENT avSpec        - -  (#PCDATA)                          >

<!-- 33 attribute value specification =                       -->
<!--           35 attribute value                             -->
<!--           | 34 attribute value literal                   -->
<!-- 34 attribute value literal =                             -->
<!--           (LIT,  46 replaceable character data*, LIT)    -->
<!--           | (LITA, 46 replaceable character data*, LITA) -->

<!ELEMENT notName       - -  (name | nameGrp)                   >

<!-- 149.1+ associated notation name                          -->
<!--         = RNI, "NOTATION",                               -->
<!--           65 ps+, (41 notation name | 69 name group)     -->

<!ELEMENT ntGrp         - -  (nToken+)                          >
<!ATTLIST ntGrp
          conn               (seq | and | or)    #REQUIRED      >
<!ELEMENT nToken        - O  (#PCDATA)                          >

<!-- 68   name token group =                                  -->
<!--           GRPO, 70 ts*, 57 name token,                   -->
<!--           (70 ts*, 131 connector,                        -->
<!--           70 ts*, 57 name token)*,                       -->
<!--           70 ts*, GRPC                                   -->

<!-- ******************************************************** -->
<!-- * DTD IV:  Notation Declaration                        * -->
<!-- ******************************************************** -->

<!ELEMENT notation      - -  (name, extId)                      >

<!-- 148  notation declaration                                -->
<!--        = MDO, "NOTATION",                                -->
<!--          65 ps+, 41 notation name,                       -->
<!--          65 ps+, 149 notation identifier,                -->
<!--          65 ps*, MDC                                     -->
<!--                                                          -->
<!-- 41   notation name    = 55 name                          -->
<!--                                                          -->
<!-- 149  notation identifier = 73 external identifier        -->


<!-- ******************************************************** -->
<!-- * DTD V:  Content Model                                * -->
<!-- ******************************************************** -->

<!ELEMENT model         - -  ((ANY | modelGrp), exceptns?)      >
<!ELEMENT ANY           - O  EMPTY                              >

<!-- 126  content model                                       -->
<!--        = (127 model group | "ANY"),                      -->
<!--          (65 ps+, 138 exceptions)?                       -->

<!ELEMENT modelGrp          - -  (%cToken)+                     >
<!ATTLIST modelGrp
          conn               (seq | and | or)    #REQUIRED
          occ                (rep | plus | opt | nil)
                                                 #REQUIRED      >

<!-- 127  model group      = GRPO,                            -->
<!--                         70 ts*, 128 content token,       -->
<!--                         (70 ts*, 131 connector,          -->
<!--                         70 ts*, 128 content token)*,     -->
<!--                         70 ts*,                          -->
<!--                         GRPC,                            -->
<!--                         132 occurrence indicator?        -->
<!-- Only one kind of connector is allowed at the top level   -->
<!-- of a single model group.  I.e. no implicit order of      -->
<!-- precedence is defined or allowed.  Precedence must be    -->
<!-- indicated explicitly by parentheses.                     -->

<!-- MENT contentToken  - -  (pToken | modelGrp)              -->
<!-- MENT pToken        - -  (PCDATA | eToken | dtGrp)        -->
<!ENTITY % pToken  'PCDATA | eToken | dtGrp'                    >
<!ENTITY % cToken  '%pToken | modelGrp'                         >

<!ELEMENT PCDATA        - O  EMPTY                              >
<!ELEMENT eToken        - O  (#PCDATA)                          >
<!ATTLIST eToken
          occ                (rep | plus | opt | nil)
                                                 #REQUIRED      >

<!-- 128  content token    = 129 primitive content token      -->
<!--                         | 127 model group                -->
<!-- 129  primitive content token                             -->
<!--                       = (RNI, "PCDATA")                  -->
<!--                       | 130 element token                -->
<!--                       | 133+ data tag group              -->

<!-- Data tag groups are allowed only in base document type   -->
<!-- declaration.                                             -->
<!-- 130  element token                                       -->
<!--        = 30 generic identifier,                          -->
<!--          132 occurrence indicator?                       -->

<!ELEMENT exceptns      - -  (excl?, incl?)                     >

<!-- 138  exceptions                                          -->
<!--        = (140 exclusions, (65 ps+, 139 inclusions)?)     -->
<!--          | 139 inclusions                                -->

<!-- If any element is covered both by an inclusion and by    -->
<!-- an exclusion, it is treated as an exclusion.             -->

<!ELEMENT excl          - -  (nameGrp)                          >
<!ELEMENT incl          - -  (nameGrp)                          >
<!-- 139  inclusions       = PLUS, 69 name group              -->
<!-- 140  exclusions       = MINUS, 69 name group             -->

<!-- Exclusions may be applied only to elements which either  -->
<!-- have ? or * occurrence indicators, or appear within an   -->
<!-- OR group.  It is not allowed to exclude all              -->
<!-- alternatives within a required group, even if each is    -->
<!-- individually optional.                                   -->


<!-- ******************************************************** -->
<!-- * DTD VI:  Data Tag Group                              * -->
<!-- ******************************************************** -->
<![ %DATATAG [
<!ELEMENT dtGrp         - -  (gi, dtPatt)                       >
<!ATTLIST dtGrp
          occ                (rep | plus | opt | nil)
                                                 #REQUIRED      >

<!-- 133+ data tag group   =                                  -->
<!--           DTGO, 70 ts*, 30 generic identifier,           -->
<!--           70 ts*, SEQ,                                   -->
<!--           70 ts*, 134 data tag pattern,                  -->
<!--           70 ts*, TDGC,                                  -->
<!--           132 occurrence indicator?                      -->

<!-- Data tag groups are allowed only in base document type   -->
<!-- declaration.                                             -->

<!ELEMENT dtPatt        - -  ((dtTemGrp | dtTem), dtPad?)       >
<!ELEMENT dtTemGrp      - -  (dtTem*)                           >
<!ELEMENT dtTem         - -  (#PCDATA)                          >
<!ELEMENT dtPad         - -  (#PCDATA)                          >

<!-- 134  data tag pattern =                                  -->
<!--           (135 data tag template group                   -->
<!--           | 136 data tag template),                      -->
<!--           (70 ts*, SEQ,                                  -->
<!--           70 ts*, 137 data tag padding template)?        -->
<!-- 135  data tag template group =                           -->
<!--           GRPO,                                          -->
<!--           70 ts*, 136 data tag template,                 -->
<!--           (70 ts*, OR,                                   -->
<!--           70 ts*, 136 data tag template)*,               -->
<!--           70 ts*, GRPC                                   -->
<!-- 136  data tag template = 66 parameter literal            -->
<!-- 137  data tag padding template = 66 parameter literal    -->
]]>

<!-- ******************************************************** -->
<!-- * DTD VII:  Entity Set                                 * -->
<!-- ******************************************************** -->

<!ELEMENT entity        - -  (entname, (%enttext))              >
<!ATTLIST entity
          type               (pe | ge)           #REQUIRED      >
<!ELEMENT entname       - O  (#PCDATA)                          >

<!-- 113  entity set = (101 entity declaration | 71 ds)*      -->
<!-- 101  entity declaration =                                -->
<!--           MDO, "ENTITY",                                 -->
<!--           65 ps+, 102 entity name,                       -->
<!--           65 ps+, 105 entity text,                       -->
<!--           65 ps+, MDC                                    -->
<!-- 102  entity name = 103 general entity name               -->
<!--                    | 104 parameter entity name           -->
<!--                                                          -->
<!-- 103  general entity name = 55 name | (RNI, "DEFAULT")    -->
<!--                                                          -->
<!-- 104  parameter entity name = PERO, 65 ps+, 55 name       -->

<!ENTITY % enttext 'literal | external'                         >
<!ELEMENT literal       - -  (#PCDATA | peref | EE)*            >
<!ATTLIST literal
          type               (CDATA | SDATA | PI | STARTTAG
                             | ENDTAG | MS | MD | NORMAL)
                                                 'NORMAL'       >
<!-- 105  entity text =                                       -->
<!--           66 parameter literal                           -->
<!--           | 106 data text                                -->
<!--           | 107 bracketed text                           -->
<!--           | 108 external entity specification            -->
<!-- 106  data text =                                         -->
<!--           ("CDATA" | "SDATA" | "PI"),                    -->
<!--           65 ps+, 66 parameter literal                   -->
<!-- 107  bracketed text =                                    -->
<!--           ("STARTTAG" | "ENDTAG" | "MS" | "MD"),         -->
<!--           65 ps+, 66 parameter literal                   -->

<!ELEMENT external      - -  (extid, exttype?)                  >
<!ELEMENT exttype       - -  (subdoc | extdata)                 >
<!ELEMENT subdoc        - O  EMPTY                              >
<!ELEMENT extdata       - -  (dataAtt*)                         >
<!ATTLIST extdata
          notation           NAME                #REQUIRED
          type               (CDATA | NDATA | SDATA)
                                                 #REQUIRED      >

<!-- 108  external entity specification =                     -->
<!--           73 external identifier,                        -->
<!--           (65 ps+, 109+ entity type)?                    -->
<!-- 109+ entity type =                                       -->
<!--           "SUBDOC"                                       -->
<!--           | (("CDATA" | "NDATA" | "SDATA"),              -->
<!--           65 ps+,                                        -->
<!--           41 notation name,                              -->
<!--           149.2+ data attribute specification?)          -->

<!ELEMENT dataAtt       - O  EMPTY                              >
<!ATTLIST dataAtt
          att           NAME                     #REQUIRED
          value         CDATA                    #REQUIRED      >

<!-- 149.2+ data attribute specification =                    -->
<!--           65 ps+, DSO,                                   -->
<!--           31 attribute specification list,               -->
<!--           5 s*, DSC                                      -->
<!-- 31 attribute specification list =                        -->
<!--           32 attribute specification*                    -->
<!-- 32 attribute specification =                             -->
<!--           5 s*,                                          -->
<!--           (55 name, 5 s*, VI, 5 s*)?,                    -->
<!--           33 attribute value specification               -->

<!-- 33 attribute value specification =                       -->
<!--           35 attribute value                             -->
<!--           | 34 attribute value literal                   -->
<!-- 34 attribute value literal =                             -->
<!--           (LIT,  46 replaceable character data*, LIT)    -->
<!--           | (LITA, 46 replaceable character data*, LITA) -->

<!-- ******************************************************** -->
<!-- * DTD VIII:  Short Reference Set                       * -->
<!-- ******************************************************** -->
<!-- DTD VIII 115 short reference set  -->

<![ %SREF [
<!ELEMENT srMap         - -  (mapName, mapping+)                >
<!ELEMENT mapName       - -  (#PCDATA)                          >
<!ELEMENT mapping       - -  (#PCDATA)                          >
<!ATTLIST mapping
          entName            NAME                #REQUIRED      >

<!-- 150  short reference mapping declaration =               -->
<!--           MDO, "SHORTREF",                               -->
<!--           65 ps+, 151 map name,                          -->
<!--           (65 ps+, 66 parameter literal,                 -->
<!--           65 ps+, 55 name)+,                             -->
<!--           65 ps*, MDC                                    -->

<!-- Map name must be unique (as map name) within the DTD.    -->
<!-- The parameter literal is a short-reference delimiter     -->
<!-- mapped to the name of a general entity defined in the    -->
<!-- same DTD.  Each short-reference delimiter may be mapped  -->
<!-- only once within a short-reference-mapping declaration.  -->

<!-- 151 map name = 55 name                                   -->

<!ELEMENT srUse         - -  (mapName, elemType)                >

<!-- 152  short reference use declaration =                   -->
<!--           MDO, "USEMAP",                                 -->
<!--           65 ps+, 153 map specification,                 -->
<!--           (65 ps+, 72 associated element type)?,         -->
<!--           65 ps*, MDC                                    -->

<!-- The map specification in 152 must be defined before      -->
<!-- being used, though not necessarily before this           -->
<!-- declaration.  Element type must be specified if          -->
<!-- short-reference use declaration appears within a DTD;    -->
<!-- multiple specifications for same element type are not    -->
<!-- an error but only the first has an effect.  Element      -->
<!-- type must be omitted if short-reference use declaration  -->
<!-- appears within the document content; in that case the    -->
<!-- map takes effect for the rest of the element within      -->
<!-- which it occurs, unless superseded by an embedded        -->
<!-- element with its own map.                                -->

<!-- 153  map specification = 151 map name                    -->
<!--                        | (RNI, "EMPTY")                  -->

]]>

<!-- The following sections of the DTD grammar are not        -->
<!-- represented here:                                        -->
<!--     DTD IX 154 link type declaration                     -->
<!--     DTD X  161 link type declaration subset              -->
<!--     DTD XI 163.1 link rule                               -->

<!-- ******************************************************** -->
<!-- * DTD XII:  External Identifier                        * -->
<!-- ******************************************************** -->

<!ELEMENT extid         - -  ((SYSTEM | public), literal?)      >
<!ELEMENT SYSTEM        - O  EMPTY                              >
<!ELEMENT public        - O  (#PCDATA)                          >

<!-- 73  external identifier =                                -->
<!--           ("SYSTEM"                                      -->
<!--           | ("PUBLIC", 65 ps+, 74 public identifier)),   -->
<!--           (65 ps+, 75 system identifier)?                -->

<!-- In 73, the system identifier is optional if the system   -->
<!-- doesn't require an explicit identifier but can find the  -->
<!-- data on the basis of the public identifier and other     -->
<!-- available information.                                   -->

<!-- 74 public identifier = 76 minimum literal                -->

<!-- 75  system identifier = (LIT,  45 system data, LIT) |    -->
<!--                         (LITA, 45 system data, LITA)     -->


<!-- ******************************************************** -->
<!-- * DTD XIII:  Formal Public Identifier                  * -->
<!-- ******************************************************** -->
<![ %FORMAL [
<!ELEMENT formal        - -  (owner, textid)                    >
<!ELEMENT owner         - O  (#PCDATA)                          >
<!ATTLIST owner
          type          (ISO | reg | unreg)      #REQUIRED      >

<!-- 79  formal public identifier =                           -->
<!--           80 owner identifier, "//", 84 text identifier  -->
<!-- 80  owner identifier  =                                  -->
<!--           81 ISO owner identifier                        -->
<!--           | 82 registered owner identifier               -->
<!--           | 83 unregistered owner identifier             -->
<!-- 81  ISO owner identifier = 77 minimum data               -->
<!-- 82  registered owner identifier = "+//", 77 minimum data -->
<!-- 83  unregistered owner identifier = "-//", 77 minimum data -->

<!ELEMENT textid        - -  (desc, (lang | seq))               >
<!ATTLIST textid
          class              (CAPACITY | CHARSET | DOCUMENT
                             | DTD | ELEMENTS | ENTITIES | LPD
                             | NONSGML | NOTATION | SHORTREF
                             | SUBDOC | SYNTAX | TEXT)
                                                 #REQUIRED
          avail              (avail | unavail)   'AVAIL'
          version            CDATA               #IMPLIED       >

<!-- 84  text identifier   =                                  -->
<!--           86 public text class, SPACE,                   -->
<!--           85 unavailable text indicator?,                -->
<!--           87 public text description,                    -->
<!--           "//",                                          -->
<!--           (88 public text language                       -->
<!--           | 89+ public text designating sequence),       -->
<!--           ("//", 90 public text display version)?        -->

<!-- If public text class is 'CHARSET' then 84 contains a     -->
<!-- public text designating sequence.  Otherwise it          -->
<!-- contains a public text language.  No two text            -->
<!-- identifiers with same owner may be the same.  See also   -->
<!-- under 90:  if text class is CAPACITY, CHARSET,           -->
<!-- NOTATION, OR SYNTAX, public text display version must    -->
<!-- be omitted.                                              -->
<!-- 85  unavailable text indicator = "-//"                   -->
<!-- 86  public text class = 55 name                          -->

<!-- In 86, the name must be from this list:  CAPACITY,       -->
<!-- CHARSET, DOCUMENT, DTD, ELEMENTS, ENTITIES, LPD,         -->
<!-- NONSGML, NOTATION, SHORTREF, SUBDOC, SYNTAX, TEXT.       -->

<!-- 86 bis  public text class  =                             -->
<!--           "CAPACITY" | "CHARSET" | "DOCUMENT"            -->
<!--           | "DTD" | "ELEMENTS" | "ENTITIES" | "LPD"      -->
<!--           | "NONSGML" | "NOTATION" | "SHORTREF"          -->
<!--           | "SUBDOC" | "SYNTAX" | "TEXT"                 -->

<!ELEMENT desc          - -  (#PCDATA)                          >
<!ELEMENT lang          - -  (#PCDATA)                          >
<!ELEMENT seq           - -  (#PCDATA)                          >

<!-- 87 public text description = 87.1 ISO text description   -->
<!--                            | 77 minimum data             -->
<!-- 87.1+ ISO text description = 77 minimum data             -->
<!-- 88    public text language = 55 name                     -->
<!-- (In 88, public text language should use code from ISO 639.) -->
<!-- 89+   public text designating sequence = 77 minimum data -->
<!-- In 89+, minimum data should be external form of ISO      -->
<!-- 2022 escape sequence for character set:  ESC 2/8 4/0     -->
<!-- for ISO 646 IRV, for example.                            -->

<!-- 90  public text display version = 77 minimum data        -->

<!-- See comment under 84:  omit if text class is CAPACITY,   -->
<!-- CHARSET, NOTATION, or SYNTAX.  For other classes,        -->
<!-- describe devices supported or the coding scheme used.    -->

]]>

<!-- ******************************************************** -->
<!-- * DTD XIV:  Associated Element Type                    * -->
<!-- ******************************************************** -->

<!-- 72  associated element type =                            -->
<!--           30 generic identifier                          -->
<!--           | 69 name group                                -->

<!ELEMENT gi            - -  (#PCDATA)                          >
<!ELEMENT nameGrp       - -  (name+)                            >
<!ATTLIST nameGrp
          conn               (seq | and | or)    #REQUIRED      >

<!-- 69   name group =                                        -->
<!--           GRPO, 70 ts*, 55 name,                         -->
<!--           (70 ts*, 131 connector, 70 ts*, 55 name)*,     -->
<!--           70 ts*, GRPC                                   -->
<!-- (Only one type of connector should be used in a single   -->
<!-- group. 10.1.3)                                           -->
<!-- 131  connector            = AND | OR | SEQ               -->
<!-- 132  occurrence indicator = OPT | PLUS | REP             -->


<!-- ******************************************************** -->
<!-- * Miscellaneous                                        * -->
<!-- ******************************************************** -->
<!ELEMENT commDecl      - -  (comment*)                         >
<!ELEMENT comment       - O  (#PCDATA)                          >
<!ELEMENT pi            - O  (#PCDATA)                          >

<!ELEMENT peref         - O  EMPTY                              >
<!ATTLIST peref
          entName            NAME                #REQUIRED      >

<!ELEMENT Ee            - O  EMPTY                              >
<!ATTLIST Ee
          entName            NAME                #IMPLIED       >

<!-- In a DTD, marked sections must contain integral numbers  -->
<!-- of declarations.  Their content is therefore the same    -->
<!-- as dtdsubset itself.                                     -->
<!ELEMENT msDecl        - -  ((msKey | %ps)*, msData)           >
<!ATTLIST msDecl
          keyWord            (INCLUDE | IGNORE | CDATA | RCDATA
                             | TEMP | NIL)       #REQUIRED      >
<!ELEMENT msKey         - O  EMPTY                              >
<!ATTLIST msKey
          keyWord            (INCLUDE | IGNORE | CDATA | RCDATA
                             | TEMP)             #REQUIRED      >
<!ELEMENT msData        - -  (%entSet | %elemSet | %srSet |
                             %ds)*                              >
<!-- 93 marked section declaration = 94 marked section start, -->
<!--                    97+ status keyword specification,     -->
<!--                    DSO,                                  -->
<!--                    96 marked section,                    -->
<!--                    95 marked section end                 -->
<!-- 94  marked section start = MDO, DSO                      -->
<!-- 95  marked section end  = MSC, MDC                       -->
<!-- 96  marked section    = 50 SGML character*               -->
<!-- 97+ status keyword specification = (65 ps+,              -->
<!--                    (100 status keyword | "TEMP"))*,      -->
<!--                    65 ps*                                -->
<!-- 100 status keyword = "CDATA" | "IGNORE" | "INCLUDE"      -->
<!--                    | "RCDATA"                            -->
<!-- n.b. 98 and 99 are deleted by Amendment 1                -->

<!-- List of name equivalents between RCS and longname DTDs   -->
<!--      oProlog            otherProlog                      -->
<!--      entSet             entitySet                        -->
<!--      elemSet            elementSet                       -->
<!--      srSet              shortrefSet                      -->
<!--      dCont              declContent                      -->
<!--      pToken             primitiveToken                   -->
<!--      cToken             contentToken                     -->
<!--      dSubset            dtdSubset                        -->
<!--      omiss              omissibility                     -->
<!--      notName            notationName                     -->
<!--      dValue             declValue                        -->
<!--      dvKeywd            dvKeyword                        -->
<!--      dvNotn             dvNotation                       -->
<!--      avSpec             attvalSpec                       -->
<!--     *mGrp               modelGrp                         -->
<!--      exceptns           exceptions                       -->
<!--      incl               inclusions                       -->
<!--      excl               exclusions                       -->
<!--      dtGrp              datatagGrp                       -->
<!--      dtPatt             datatagPattern                   -->
<!--      dtTemGrp           datatagTemplateGrp               -->
<!--      dtTem              datatagTemplate                  -->
<!--      dtPad              datatagPadding                   -->
