Extensions/BNC/bnc.odd

<TEI 
 xmlns="http://www.tei-c.org/ns/1.0"
 lang="en"
 xmlns:rng="http://relaxng.org/ns/structure/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>The BNC TEI Extensions</title>
            <author>Lou Burnard</author>
         </titleStmt>
         <publicationStmt>
	   <p></p>
	 </publicationStmt>
         <sourceDesc>
            <p>derived from old DTD extension files for P4 by
	    Sebastian Rahtz</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>

<p>

<schemaSpec ident="bnc" start="bnc bncDoc">

<elementSpec ident="teiCorpus" mode="change">
 <altIdent>bnc</altIdent>
</elementSpec>

<elementSpec ident="TEI" mode="change">
 <altIdent>bncDoc</altIdent>
</elementSpec>
<elementSpec ident="p" mode="change">
 <altIdent>para</altIdent>
</elementSpec>
<elementSpec ident="speaker" mode="change">
 <altIdent>spkr</altIdent>
</elementSpec>

<!-- 

these elements have  extra attribs in BNC 

<!ENTITY % person "IGNORE">
<!ENTITY % author "IGNORE">
<!ENTITY % recording "IGNORE">
<!ENTITY % activity "IGNORE">
<!ENTITY % unclear "IGNORE">

these lose a mandatory attribute 
<!ENTITY % shift "IGNORE">
<!ENTITY % timeline "IGNORE">


these three all use various kinds of minimization (endtag and shortref)
<!ENTITY % c "IGNORE">
<!ENTITY % w "IGNORE">
<!ENTITY % s "IGNORE">
-->

<!-- Add new elements to appropriate places in  the content model -->
<!ENTITY % x.common  "caption|poem|unclear|">
<!ENTITY % x.chunk "p|"> <!--  (we renamed the TEI p as para above ) -->
<!ENTITY % x.seg "trunc|">
<!ENTITY % x.divtop "align|">


<!-- why isnt ptr in %x.globincl? -->

                <!-- The following elements have modified content -->

<!ENTITY % change "IGNORE" >   <!-- to use PARA  -->
<!ENTITY % TEI.2  "IGNORE" >   <!-- to allow stext or text -->
<!ENTITY % item   "IGNORE" >   <!-- to disallow mixed content -->
<!ENTITY % quote  "IGNORE" >   <!-- to disallow mixed content -->
<!ENTITY % text   "IGNORE" >   <!-- to simplify content -->
<!ENTITY % sp     "IGNORE" >   <!-- to use P rather than PARA -->
<!ENTITY % body   "IGNORE" >   <!-- to simplify content -->
<!ENTITY % div1   "IGNORE" >
<!ENTITY % div2   "IGNORE" >
<!ENTITY % div3   "IGNORE" >
<!ENTITY % div4   "IGNORE" >
<!ENTITY % div    "IGNORE" >


              <!-- The following elements are not used -->

<elementSpec ident="ab" mode="delete"/>
<elementSpec ident="abbr" mode="delete"/>
<elementSpec ident="add" mode="delete"/>
<elementSpec ident="affiliation" mode="delete"/>
<elementSpec ident="alt" mode="delete"/>
<elementSpec ident="altGrp" mode="delete"/>
<elementSpec ident="anchor" mode="delete"/>
<elementSpec ident="argument" mode="delete"/>
<elementSpec ident="authority" mode="delete"/>
<elementSpec ident="back" mode="delete"/>
<elementSpec ident="biblFull" mode="delete"/>
<elementSpec ident="birth" mode="delete"/>
<elementSpec ident="broadcast" mode="delete"/>
<elementSpec ident="byline" mode="delete"/>
<elementSpec ident="cb" mode="delete"/>
<elementSpec ident="channel" mode="delete"/>
<elementSpec ident="cit" mode="delete"/>
<elementSpec ident="cl" mode="delete"/>
<elementSpec ident="constitution" mode="delete"/>
<elementSpec ident="correction" mode="delete"/>
<elementSpec ident="dateline" mode="delete"/>
<elementSpec ident="dateRange" mode="delete"/>
<elementSpec ident="del" mode="delete"/>
<elementSpec ident="derivation" mode="delete"/>
<elementSpec ident="distinct" mode="delete"/>
<elementSpec ident="div0" mode="delete"/>
<elementSpec ident="div5" mode="delete"/>
<elementSpec ident="div6" mode="delete"/>
<elementSpec ident="div7" mode="delete"/>
<elementSpec ident="divGen" mode="delete"/>
<elementSpec ident="docAuthor" mode="delete"/>
<elementSpec ident="docDate" mode="delete"/>
<elementSpec ident="docEdition" mode="delete"/>
<elementSpec ident="docImprint" mode="delete"/>
<elementSpec ident="docTitle" mode="delete"/>
<elementSpec ident="domain" mode="delete"/>
<elementSpec ident="education" mode="delete"/>
<elementSpec ident="emph" mode="delete"/>
<elementSpec ident="epigraph" mode="delete"/>
<elementSpec ident="equipment" mode="delete"/>
<elementSpec ident="expan" mode="delete"/>
<elementSpec ident="factuality" mode="delete"/>
<elementSpec ident="firstLang" mode="delete"/>
<elementSpec ident="foreign" mode="delete"/>
<elementSpec ident="front" mode="delete"/>
<elementSpec ident="fsdDecl" mode="delete"/>
<elementSpec ident="funder" mode="delete"/>
<elementSpec ident="gloss" mode="delete"/>
<elementSpec ident="group" mode="delete"/>
<elementSpec ident="headLabel" mode="delete"/>
<elementSpec ident="headItem" mode="delete"/>
<elementSpec ident="hyphenation" mode="delete"/>
<elementSpec ident="index" mode="delete"/>
<elementSpec ident="interp" mode="delete"/>
<elementSpec ident="interpGrp" mode="delete"/>
<elementSpec ident="interpretation" mode="delete"/>
<elementSpec ident="join" mode="delete"/>
<elementSpec ident="joinGrp" mode="delete"/>
<elementSpec ident="kinesic" mode="delete"/>
<elementSpec ident="link" mode="delete"/>
<elementSpec ident="linkGrp" mode="delete"/>
<elementSpec ident="m" mode="delete"/>
<elementSpec ident="measure" mode="delete"/>
<elementSpec ident="meeting" mode="delete"/>
<elementSpec ident="metDecl" mode="delete"/>
<elementSpec ident="mentioned" mode="delete"/>
<elementSpec ident="milestone" mode="delete"/>
<elementSpec ident="normalization" mode="delete"/>
<elementSpec ident="notesStmt" mode="delete"/>
<elementSpec ident="num" mode="delete"/>
<elementSpec ident="opener" mode="delete"/>
<elementSpec ident="orig" mode="delete"/>
<elementSpec ident="personGrp" mode="delete"/>
<elementSpec ident="phr" mode="delete"/>
<elementSpec ident="postBox" mode="delete"/>
<elementSpec ident="postCode" mode="delete"/>
<elementSpec ident="preparedness" mode="delete"/>
<elementSpec ident="principal" mode="delete"/>
<elementSpec ident="purpose" mode="delete"/>
<elementSpec ident="q" mode="delete"/>
<elementSpec ident="quotation" mode="delete"/>
<elementSpec ident="rendition" mode="delete"/>
<elementSpec ident="residence" mode="delete"/>
<elementSpec ident="rs" mode="delete"/>
<elementSpec ident="reg" mode="delete"/>
<elementSpec ident="scriptStmt" mode="delete"/>
<elementSpec ident="seg" mode="delete"/>
<elementSpec ident="segmentation" mode="delete"/>
<elementSpec ident="series" mode="delete"/>
<elementSpec ident="seriesStmt" mode="delete"/>
<elementSpec ident="signed" mode="delete"/>
<elementSpec ident="soCalled" mode="delete"/>
<elementSpec ident="socecStatus" mode="delete"/>
<elementSpec ident="span" mode="delete"/>
<elementSpec ident="spanGrp" mode="delete"/>
<elementSpec ident="sponsor" mode="delete"/>
<elementSpec ident="state" mode="delete"/>
<elementSpec ident="stdVals" mode="delete"/>
<elementSpec ident="step" mode="delete"/>
<elementSpec ident="street" mode="delete"/>
<elementSpec ident="symbol" mode="delete"/>
<elementSpec ident="textDesc" mode="delete"/>
<elementSpec ident="time" mode="delete"/>
<elementSpec ident="timeRange" mode="delete"/>
<elementSpec ident="titlePage" mode="delete"/>
<elementSpec ident="titlePart" mode="delete"/>
<elementSpec ident="trailer" mode="delete"/>
<elementSpec ident="variantEncoding" mode="delete"/>
<elementSpec ident="when" mode="delete"/>
<elementSpec ident="writing" mode="delete"/>
<elementSpec ident="xptr" mode="delete"/>
<elementSpec ident="xref" mode="delete"/>


<classSpec ident="tei.linking" mode="delete"/>


<!-- NB must add CAUSE CDATA #IMPLIED to CORR and SIC -->


<!-- revised definition for person element -->
<elementSpec ident="person" mode="change" module="corpus">
  <content>
    <rng:zeroOrMore>
      <rng:choice>
	<rng:text/>
	<rng:ref name="name"/>
	<rng:ref name="p"/>
	<rng:ref name="occupation"/>
	<rng:ref name="age"/>
	<rng:ref name="dialect"/>
      </rng:choice>
    </rng:zeroOrMore>
  </content>
  
  <attList>
    <attDef ident="id" mode="change">
      <datatype><rng:data type="ID"/></datatype>
    </attDef>
    <attDef ident="soc" mode="add">
      <defaultVal>UU</defaultVal>
      <valList type="closed">
	<valItem ident="AB"/>
	<valItem ident="C1"/>
	<valItem ident="C2"/>
	<valItem ident="DE"/>
	<valItem ident="UU"/>
      </valList>
    </attDef>
    <attDef ident="resp" mode="add">
      <datatype><rng:data type="IDREF"/></datatype>
    </attDef>
    <attDef ident="age" mode="add">
      <defaultVal>X</defaultVal>
      <valList type="closed">
	<valItem ident="0"/>
	<valItem ident="1"/>
	<valItem ident="2"/>
	<valItem ident="3"/>
	<valItem ident="4"/>
	<valItem ident="5"/>
	<valItem ident="X"/>
      </valList>
    </attDef>
    <attDef ident="dialect" mode="add">
      <datatype><rng:text/></datatype>
      <defaultVal>NONE</defaultVal>
    </attDef>
    <attDef ident="flang" mode="add">
      <datatype><rng:text/></datatype>
    </attDef>
    <attDef ident="educ" mode="add">
      <datatype><rng:text/></datatype>
    </attDef>
  </attList>
</elementSpec>

<elementSpec ident="age" mode="add">
  <content><rng:text/></content>
</elementSpec>

<elementSpec ident="dialect" mode="add">
  <content><rng:text/></content>
</elementSpec>

<!-- revised definition for author element -->

<elementSpec ident="author" mode="change" module="core">
  <content><rng:text/></content>
  <attList>
    <attDef ident="domicile" mode="add" usage="opt">
      <datatype><rng:text/></datatype>
    </attDef>
    <attDef ident="born" mode="add" usage="opt">
      <datatype><rng:text/></datatype>
    </attDef>
  </attList>
</elementSpec>

<!-- revised definition for recording element -->

<elementSpec ident="recording" mode="change">
  <content>
    <rng:text/>
  </content>
  <attList>
    <attDef ident="type" mode="change">
      <defaultVal>Unknown</defaultVal>
      <valList type="closed">
	<valItem ident="DAT"/>
	<valItem ident="Walkman"/>
	<valItem ident="Unknown"/>
      </valList>
    </attDef>
    <attDef ident="date" mode="add">
      <datatype><rng:text/></datatype>
    </attDef>
    <attDef ident="time" mode="add">
      <datatype><rng:text/></datatype>
    </attDef>
  </attList>
</elementSpec>

<!-- revised definition for change element -->

<elementSpec ident="recording" mode="change">
  <content>
    <rng:ref name="date"/>
    <rng:oneOrMore>
      <rng:ref name="respStmt"/>
    </rng:oneOrMore>
    <rng:ref name="p"/>
  </content>
</elementSpec>

<!-- simpler content, and an additional attribute -->

<elementSpec ident="activity" mode="change">
  <content>
    <rng:text/>
  </content>
  <attList>
    <attDef ident="spont">
      <defaultVal>X</defaultVal>
      <valList>
	<valItem ident="H"/>
	<valItem ident="M"/>
	<valItem ident="L"/>
	<valItem ident="X"/>
      </valList>
    </attDef>
  </attList>
</elementSpec>


<elementSpec ident="activity" mode="change">
  <content>
    <rng:text/>
  </content>
<!ELEMENT c - O 
	(#PCDATA) >


<!ATTLIST c 
	id ID #IMPLIED
	n CDATA #IMPLIED
	type (PUL | PUN | PUQ | PUR) #REQUIRED
	TEIform CDATA "c" >






	
<elementSpec ident="w" mode="change">
  <content>
    <rng:zeroOrMore>
      <rng:choice>
	<rng:text/>
	<rng:ref name="gap"/>
	<rng:ref name="lb"/>
	<rng:ref name="loc"/>
	<rng:ref name="pb"/>
	<rng:ref name="ptr"/>
	<rng:ref name="event"/>
	<rng:ref name="pause"/>
	<rng:ref name="shift"/>
	<rng:ref name="unclear"/>
	<rng:ref name="vocal"/>
      </rng:choice>
    </rng:zeroOrMore>
  </content>
  <attList>
    <attDef ident="type" mode="change">
      <valList type="closed">
	<valItem ident="AJ0"/>
	<valItem ident="AJC"/>
	<valItem ident="AJS"/>
	<valItem ident="AT0"/>
	<valItem ident="AV0"/>
	<valItem ident="AVP"/>
	<valItem ident="AVQ"/>
	<valItem ident="CJC"/>
	<valItem ident="CJS"/>
	<valItem ident="CJT"/>
	<valItem ident="CRD"/>
	<valItem ident="DPS"/>
	<valItem ident="DT0"/>
	<valItem ident="DTQ"/>
	<valItem ident="EX0"/>
	<valItem ident="ITJ"/>
	<valItem ident="NN0"/>
	<valItem ident="NN1"/>
	<valItem ident="NN2"/>
	<valItem ident="NP0"/>
	<valItem ident="ONE"/>
	<valItem ident="ORD"/>
	<valItem ident="PNI"/>
	<valItem ident="PNP"/>
	<valItem ident="PNQ"/>
	<valItem ident="PNX"/>
	<valItem ident="POS"/>
	<valItem ident="PRF"/>
	<valItem ident="PRP"/>
	<valItem ident="TO0"/>
	<valItem ident="UNC"/>
	<valItem ident="VBB"/>
	<valItem ident="VBD"/>
	<valItem ident="VBG"/>
	<valItem ident="VBI"/>
	<valItem ident="VBN"/>
	<valItem ident="VBZ"/>
	<valItem ident="VDB"/>
	<valItem ident="VDD"/>
	<valItem ident="VDG"/>
	<valItem ident="VDI"/>
	<valItem ident="VDN"/>
	<valItem ident="VDZ"/>
	<valItem ident="VHB"/>
	<valItem ident="VHD"/>
	<valItem ident="VHG"/>
	<valItem ident="HI"/>
	<valItem ident="VHN"/>
	<valItem ident="VHZ"/>
	<valItem ident="VM0"/>
	<valItem ident="VVB"/>
	<valItem ident="VVD"/>
	<valItem ident="VVG"/>
	<valItem ident="VVI"/>
	<valItem ident="VVN"/>
	<valItem ident="VVZ"/>
	<valItem ident="XX0"/>
	<valItem ident="ZZ0"/>
	<valItem ident="AJ0-AV0"/>
	<valItem ident="AV0-AJ0"/>
	<valItem ident="AJ0-NN1"/>
	<valItem ident="AJ0-VVD"/>
	<valItem ident="AJ0-VVG"/>
	<valItem ident="NN1-AJ0"/>
	<valItem ident="VVD-AJ0"/>
	<valItem ident="VVG-AJ0"/>
	<valItem ident="AJ0-VVN"/>
	<valItem ident="AVP-PRP"/>
	<valItem ident="AVQ-CJS"/>
	<valItem ident="VVN-AJ0"/>
	<valItem ident="PRP-AVP"/>
	<valItem ident="CJS-AVQ"/>
	<valItem ident="CJS-PRP"/>
	<valItem ident="CJT-DT0"/>
	<valItem ident="CRD-PNI"/>
	<valItem ident="PRP-CJS"/>
	<valItem ident="DT0-CJT"/>
	<valItem ident="PNI-CRD"/>
	<valItem ident="NN1-NP0"/>
	<valItem ident="NN1-VVB"/>
	<valItem ident="NN1-VVG"/>
	<valItem ident="NP0-NN1"/>
	<valItem ident="VVB-NN1"/>
	<valItem ident="VVG-NN1"/>
	<valItem ident="NN2-VVZ"/>
	<valItem ident="VVD-VVN"/>
	<valItem ident="VVZ-NN2"/>
	<valItem ident="VVN-VVD"/>
      </valList>
    </attDef>
  </attList>
</elementSpec>


<elementSpec ident="s" mode="add">
	(w | c | hi | sic | trunc | reg | salute | gap | lb | corr 
	| pb | ptr | event | pause | shift | unclear | vocal)* >
</elementSpec>

<!ATTLIST s 
	id ID #IMPLIED
	n CDATA #IMPLIED
	p (Y | N) "N"
	TEIform CDATA "s" >

<!-- p and item have  more restrictive content models -->
<elementSpec ident="p" mode="change">
	(s | bibl | caption | list | note | poem | quote | gap | 
	lb | pb | ptr)+ >
</elementSpec>

<!ATTLIST p 
	id ID #IMPLIED
	n CDATA #IMPLIED
        rend CDATA #IMPLIED
	TEIform CDATA "p" >

<elementSpec ident="item" mode="add">
	(s | bibl | caption | list | note | poem | quote | gap | 
	lb | pb | ptr | p | para)+ >
</elementSpec>

<!ATTLIST item
	id ID #IMPLIED
	n CDATA #IMPLIED
        rend CDATA #IMPLIED
	TEIform CDATA "item" >


<elementSpec ident="sp" mode="add">
	(spkr?, (p | l | lg | poem | stage | note | caption)+) >
</elementSpec>

<!ATTLIST sp 
	id ID #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
        who CDATA #IMPLIED  
	n CDATA #IMPLIED
	TEIform CDATA "sp" > <!-- who should be IDREFS in TEI -->



<!-- caption and poem are specializations of existing TEI elements -->

<elementSpec ident="caption" mode="add">
	(s | p | sp | bibl | list | poem | note | quote | gap)+ >
</elementSpec>

<!ATTLIST caption 
	id ID #IMPLIED
	n CDATA #IMPLIED
        rend CDATA #IMPLIED
	type (attached | display | byline | unspec) "unspec"
	TEIform CDATA "head" >

<elementSpec ident="poem" mode="add">
	(head*, (l | gap | lb | loc | pb | ptr)+) >
</elementSpec>

<!ATTLIST poem 
	id ID #IMPLIED
	n CDATA #IMPLIED
        rend CDATA #IMPLIED
	TEIform CDATA "text" >

<!-- we apparently need to redefine quote with a more restrictive content model 
     because  of the TEI bug relating to extension of the common class -->

<elementSpec ident="quote" mode="add">
	(p | sp | s | bibl | caption | list | note | poem | l | lg | quote)+ >
</elementSpec>
<!ATTLIST quote 
	id ID #IMPLIED
	n CDATA #IMPLIED
        rend CDATA #IMPLIED
	type (inline | display | unspec) "inline"
	TEIform CDATA "quote" >


<elementSpec ident="trunc" mode="add">
	(w | c | reg | salute | gap | ptr | event | pause | shift | unclear | vocal)* >
</elementSpec>

<!ATTLIST trunc 
	id ID #IMPLIED
	n CDATA #IMPLIED
        rend CDATA #IMPLIED
	TEIform CDATA "seg" >

<!-- in TEI the FEATURE attribute is mandatory: surely somemkstake... -->

<elementSpec ident="shift" mode="add">
	EMPTY >
</elementSpec>

<!ATTLIST shift 
	id ID #IMPLIED
	n CDATA #IMPLIED
	new CDATA #IMPLIED
	TEIform CDATA "shift" >


<elementSpec ident="unclear" mode="add">
	EMPTY >
</elementSpec>

<!ATTLIST unclear 
	id ID #IMPLIED
	n CDATA #IMPLIED
	who IDREF #IMPLIED
	dur CDATA #IMPLIED
	TEIform CDATA "unclear" >


<!-- allow for text or stext within a TEI.2 -->

<elementSpec ident="bncDoc" mode="add">
	(teiHeader, (text | stext)) >
</elementSpec>

<!ATTLIST bncDoc 
	id ID #IMPLIED
	n CDATA #IMPLIED
	TEIform CDATA "TEI.2" >

<!-- extra attribs; specialised content model -->


<elementSpec ident="stext" mode="add">
 	(align?, (u | note | event | pause | shift |unclear| vocal )*, div*) 
                 +(gap | ptr)>
 
<!ATTLIST stext 
	id ID #IMPLIED
	n CDATA #IMPLIED
	decls IDREFS #IMPLIED
	org (composite | seq) "seq"
	TEIform CDATA "text" >
</elementSpec>
<elementSpec ident="div" mode="add">
	(align?, (u | note | event | pause | shift | unclear | vocal 
	| gap | lb | ptr)*) >
</elementSpec>

<!ATTLIST div 
	id ID #IMPLIED
	n CDATA #IMPLIED
	complete (Y | N) "Y"
	type CDATA #IMPLIED
	org (compo | seq) "seq"
	decls IDREFS #IMPLIED
	TEIform CDATA "div" >




<elementSpec ident="text" mode="change" module="textstructure">
	(body) +(gap | lb | milestone | pb | ptr) >
</elementSpec>

<!-- anything new?

<!ATTLIST text 
	id ID #IMPLIED
	n CDATA #IMPLIED
	decls IDREFS #IMPLIED
	org (composite | seq) "seq"
	TEIform CDATA "text" >
-->

<elementSpec ident="body" mode="change" module="textstructure">
  <content>
    <rng:zeroOrMore>
      <rng:ref name="head"/>
    </rng:zeroOrMore>
    <rng:zeroOrMore>
      <rng:choice>
	<rng:ref name="p"/>
	<rng:ref name="sp"/>
	<rng:ref name="bibl"/>
	<rng:ref name="caption"/>
	<rng:ref name="list"/>
	<rng:ref name="note"/>
	<rng:ref name="poem"/>
	<rng:ref name="quote"/>
      </rng:choice>
    </rng:zeroOrMore>
    <rng:zeroOrMore>
      <rng:ref name="div1"/>
    </rng:zeroOrMore>
  </content>
</elementSpec>

<elementSpec ident="div1" mode="change" module="textstructure">
  <content>
    <rng:zeroOrMore>
      <rng:ref name="head"/>
    </rng:zeroOrMore>
    <rng:zeroOrMore>
      <rng:choice>
	<rng:ref name="p"/>
	<rng:ref name="sp"/>
	<rng:ref name="bibl"/>
	<rng:ref name="caption"/>
	<rng:ref name="list"/>
	<rng:ref name="note"/>
	<rng:ref name="poem"/>
	<rng:ref name="quote"/>
      </rng:choice>
    </rng:zeroOrMore>
    <rng:zeroOrMore>
      <rng:ref name="div2"/>
    </rng:zeroOrMore>
  </content>
</elementSpec>

<elementSpec ident="div2" mode="change" module="textstructure">
  <content>
    <rng:zeroOrMore>
      <rng:ref name="head"/>
    </rng:zeroOrMore>
    <rng:zeroOrMore>
      <rng:choice>
	<rng:ref name="p"/>
	<rng:ref name="sp"/>
	<rng:ref name="bibl"/>
	<rng:ref name="caption"/>
	<rng:ref name="list"/>
	<rng:ref name="note"/>
	<rng:ref name="poem"/>
	<rng:ref name="quote"/>
      </rng:choice>
    </rng:zeroOrMore>
    <rng:zeroOrMore>
      <rng:ref name="div3"/>
    </rng:zeroOrMore>
  </content>
</elementSpec>

<elementSpec ident="div3" mode="change" module="textstructure">
  <content>
    <rng:zeroOrMore>
      <rng:ref name="head"/>
    </rng:zeroOrMore>
    <rng:zeroOrMore>
      <rng:choice>
	<rng:ref name="p"/>
	<rng:ref name="sp"/>
	<rng:ref name="bibl"/>
	<rng:ref name="caption"/>
	<rng:ref name="list"/>
	<rng:ref name="note"/>
	<rng:ref name="poem"/>
	<rng:ref name="quote"/>
      </rng:choice>
    </rng:zeroOrMore>
    <rng:zeroOrMore>
      <rng:ref name="div4"/>
    </rng:zeroOrMore>
  </content>
</elementSpec>

<elementSpec ident="div4" mode="change" module="textstructure">
  <content>
    <rng:zeroOrMore>
      <rng:ref name="head"/>
    </rng:zeroOrMore>
    <rng:zeroOrMore>
      <rng:choice>
	<rng:ref name="p"/>
	<rng:ref name="sp"/>
	<rng:ref name="bibl"/>
	<rng:ref name="caption"/>
	<rng:ref name="list"/>
	<rng:ref name="note"/>
	<rng:ref name="poem"/>
	<rng:ref name="quote"/>
      </rng:choice>
    </rng:zeroOrMore>
  </content>
</elementSpec>

<!-- anything new here?
<!ATTLIST (body|div1|div2|div3|div4)
	rend CDATA #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | seq) "seq"
	decls IDREFS #IMPLIED
	TEIform CDATA "div1" >

-->

<!-- redefined attributes -->

<elementSpec ident="timeLine" mode="change">
  <altIdent>align</altIdent>
  <content>
    <rng:oneOrMore>
      <rng:ref name="loc"/>
    </rng:oneOrMore>
  </content>
</elementSpec>

<elementSpec ident="when" mode="change">
  <altIdent>loc</altIdent>
  <content><rng:empty/></content>
</elementSpec>


<!--
<elementSpec ident="catRef" mode="add">
	(#PCDATA) >
</

<!ATTLIST catRef 
	id ID #IMPLIED
	n CDATA #IMPLIED
	target IDREFS #REQUIRED
	TEIform CDATA "catRef" >

-->











