Extensions/BNC/bncxml.odd

<?xml version="1.0"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0"
 xml:lang="en"
 xmlns:rng="http://relaxng.org/ns/structure/1.0"
 xmlns:xaira="http://www.xaira.org/ns/1.0/spec">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>BNC XML Specification</title>
            <author>Lou Burnard</author>
	    <author>in part generated by Roma 2.1</author>
         </titleStmt>
         <publicationStmt>
	   <p></p>
	 </publicationStmt>
<sourceDesc><p>created on Thursday 10th August 2006 11:16:34 AM by the
form at http://www.tei-c.org.uk/Roma/, using data from
/BNC/ODD/modulelist.txt and cross-checked with old DTD extension files for P4</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>

<text>
<body>

<p>This is the formal specification for the BNC XML schema as a
TEI-conformant application.
</p>
<schemaSpec ident="bncxml" xml:lang="en" prefix="" ns=""
	    start="teiHeader bncDoc teiCorpus">

<moduleRef key="analysis"/>
<moduleRef key="core"/>
<moduleRef key="corpus"/>
<moduleRef key="header"/>
<moduleRef key="namesdates"/>
<moduleRef key="spoken"/>
<moduleRef key="tagdocs"/>
<!--moduleRef url="xairaspec.rng"/-->
<moduleRef key="tei"/>
<moduleRef key="textstructure"/>




<!-- modified elements -->

<elementSpec ident="activity" module="header" mode="change">
<attList>
<attDef ident="spont" mode="add">
<desc>level of spontaneity</desc>
<valList>
<valItem ident="H"><desc>high</desc></valItem>
<valItem ident="M"><desc>medium</desc></valItem>
<valItem ident="L"><desc>low</desc></valItem>
<valItem ident="X"><desc>not applicable or unknown</desc></valItem>
</valList>
</attDef>
</attList>
</elementSpec>

<elementSpec ident="address" module="core" mode="change">
<content>
<rng:text/>
</content>
</elementSpec>

<elementSpec ident="author" module="core" mode="change">
<attList>
<attDef ident="domicile" mode="add">
<desc>main country of residence where known</desc>
<datatype><rng:text/></datatype>
</attDef>
<attDef ident="n" mode="add">
<desc>internal identifier</desc>
<datatype><rng:text/></datatype>
</attDef>
<attDef ident="born" mode="add">
<desc>year of birth where known</desc>
<datatype><rng:text/></datatype>
</attDef>
</attList></elementSpec>


<elementSpec ident="availability" module="header" mode="change">
<content>
<rng:zeroOrMore>
<rng:choice>
<rng:text/>
<rng:ref name="para"/>
</rng:choice></rng:zeroOrMore>
</content>
<attList>
<attDef ident="status" mode="delete"/>
</attList>
</elementSpec>

<elementSpec ident="bibl" module="core" mode="change">
<classes>
  <memberOf key="att.rendered"/>
  <memberOf key="model.biblLike"/>
</classes>
<content>
<rng:choice>
<rng:oneOrMore>
<rng:ref name="s"/>
</rng:oneOrMore>
<rng:group>
<rng:oneOrMore><rng:ref name="title"/></rng:oneOrMore>
<rng:zeroOrMore>
  <rng:choice>
    <rng:ref name="editor"/>
    <rng:ref name="author"/>
  </rng:choice>
</rng:zeroOrMore>
<rng:ref name="imprint"/>
<rng:optional>
<rng:ref name="pp"/>
</rng:optional>
</rng:group>
</rng:choice>
</content>
</elementSpec>

<elementSpec ident="c" module="analysis" mode="change">
<desc>contains a significant punctuation mark as identified by the CLAWS tagger. </desc>
<content>
<rng:text/>
</content>
<attList>
  <attDef ident="type" mode="delete"/>
<attDef ident="c5" usage="req">
   <desc>the CLAWS 5 code associated with this punctuation
   mark. </desc>
<datatype><rng:ref name="data.code"/></datatype>
<valList type="closed">
<valItem ident="PUN"><desc>any separating punctuation mark</desc></valItem>
<valItem ident="PUL"><desc>opening round or square parenthesis</desc></valItem>
<valItem ident="PUR"><desc>closing round or square parenthesis</desc></valItem>
<valItem ident="PUQ"><desc>any quotation mark</desc></valItem>
</valList>
</attDef>
</attList>
</elementSpec>

<elementSpec ident="catDesc" module="header" mode="change">
<desc>provides a description for one category within the text taxonomies
provided in the corpus header.</desc>
</elementSpec>

<elementSpec ident="catRef" module="header" mode="change">
<desc>provides a list of codes identifying the categories to which
this text has been assigned, each code referencing a category element
declared in the corpus header.</desc>
<attList>
<attDef ident="scheme" mode="delete"/>
<attDef ident="target" mode="change">
<altIdent>targets</altIdent>
</attDef>
</attList>
</elementSpec>


<elementSpec ident="category" module="header"  mode="change">
<desc>defines a single category within a taxonomy of texts.</desc>
<classes>
<memberOf key="att.uniqueId"/>
</classes>
</elementSpec>

<elementSpec ident="corr" module="core" mode="change">
<classes>
  <memberOf key="att.rendered"/>
  <memberOf key="att.editLike"/>
  <memberOf key="model.pPart.edit"/>
</classes>
<content>
<rng:zeroOrMore>
<rng:choice>
<rng:ref name="w"/>
<rng:ref name="c"/>
<rng:ref name="mw"/>
<rng:ref name="gap"/>
</rng:choice>
</rng:zeroOrMore>
</content><!-- removed pcdata option -->
<attList>
<attDef ident="sic" mode="add">
<desc>contains verbatim text which has been corrected, or an empty string if
the correction consists of an addition. </desc>
<datatype><rng:text/></datatype>
</attDef>
<attDef ident="resp" mode="change">
<desc>a code identifying the agency responsible for making the
correction.</desc>
 <valList>
<valItem ident="OUP"><desc>OUP</desc></valItem>
<valItem ident="OUCS"><desc>OUCS</desc></valItem>
<valItem ident="Longman"><desc>Longman</desc></valItem>
</valList>
</attDef>
</attList>
</elementSpec>

<elementSpec ident="creation" mode="change" module="header">
<attList>
<attDef ident="date" mode="add">
<desc>supplies the year of original composition, if known; or zero if
this is unknown. </desc>
<datatype><rng:text/></datatype>
</attDef>
</attList>
</elementSpec><!-- content model already permits pcdata -->

<elementSpec ident="date" module="core" mode="change">
  <classes>
    <memberOf key="model.dateLike"/>
    <memberOf key="model.publicationStmtPart"/>
    <memberOf key="att.datePart"/><!-- was att.dateLike -->
    <memberOf key="att.datable"/>
  </classes>
<attList>
<attDef ident="calendar" mode="delete"/>
<attDef ident="dur" mode="delete"/>
<attDef ident="precision" mode="delete"/>
</attList>
</elementSpec>

<elementSpec ident="distributor" module="header" mode="change">
<content>
<rng:zeroOrMore>
<rng:choice><rng:text/><rng:ref name="address"/></rng:choice>
</rng:zeroOrMore>
</content>
</elementSpec>


<elementSpec ident="div" module="textstructure" mode="change">

<classes>
<memberOf key="att.divLike"/>
<memberOf key="att.rendered"/>
<!--memberOf key="att.declaring"/-->
</classes>

  <content>
    <rng:group xmlns:rng="http://relaxng.org/ns/structure/1.0">

      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.divWrapper"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>


<rng:optional>
      <rng:choice>

	<rng:group>
	  <rng:oneOrMore>
	    <rng:choice>
	      <rng:ref name="div"/>
	      <rng:ref name="divGen"/>
	    </rng:choice>
	    <rng:zeroOrMore>
	      <rng:ref name="model.global"/>
	    </rng:zeroOrMore>
	  </rng:oneOrMore>
	</rng:group>

        <rng:group>
          <rng:oneOrMore>
            <rng:ref name="macro.component"/>
	    <rng:zeroOrMore>
	      <rng:ref name="model.global"/>
	    </rng:zeroOrMore>
          </rng:oneOrMore>
          <rng:zeroOrMore>
	    <rng:choice>
              <rng:ref name="div"/>
              <rng:ref name="divGen"/>
            </rng:choice>
	    <rng:zeroOrMore>
	      <rng:ref name="model.global"/>
	    </rng:zeroOrMore>
	  </rng:zeroOrMore>
        </rng:group>

      </rng:choice>
      
	  <rng:zeroOrMore>
	    <rng:choice>
	      <rng:ref name="model.divWrapper"/>
	      <rng:ref name="model.divWrapper.bottom"/>
	    </rng:choice>
	    <rng:zeroOrMore>
	      <rng:ref name="model.global"/>
	    </rng:zeroOrMore>
	  </rng:zeroOrMore>
</rng:optional>
    </rng:group>
  
  </content>

<attList>
<attDef ident="n" mode="add">
<desc>for a spoken text, identities the tape corresponding to this
division. </desc></attDef>
</attList>
</elementSpec>

<elementSpec ident="editionStmt" module="header" mode="change">
<content>
<rng:ref name="edition"/>
</content>
</elementSpec>

<elementSpec ident="edition" module="header" mode="change">
<attList>
<attDef ident="n" mode="add">
<desc>supplies an identifying number for the edition</desc>
<datatype><rng:ref name="data.count"/></datatype>
</attDef>
</attList>
</elementSpec>

<elementSpec ident="editor" module="header" mode="change">
<attList>
<attDef ident="n" mode="add">
<desc>supplies an identifier for the editor</desc>
</attDef>
<attDef ident="role" mode="delete"/>
</attList>
</elementSpec>

<elementSpec ident="editorialDecl" module="header" mode="change">
<content>
<rng:zeroOrMore>
<rng:choice>
<rng:text/>
<rng:ref name="para"/>
</rng:choice></rng:zeroOrMore></content>
</elementSpec>

<elementSpec ident="encodingDesc" module="header" mode="change">
<content>
<rng:zeroOrMore>
<rng:ref name="model.encodingPart"/>
</rng:zeroOrMore>
</content>
</elementSpec>

<elementSpec ident="event" module="spoken" mode="change">
<content>
<rng:empty/>
</content>
<attList>
<attDef ident="iterated" mode="delete"/>
<attDef ident="who" mode="delete"/>
<attDef ident="desc" mode="add">
<desc>provides a brief description of the event</desc>
<datatype><rng:text/></datatype>
</attDef>
</attList>
</elementSpec>

<elementSpec ident="gap" module="core" mode="change">
<desc>indicates a point where material has been omitted from the
transcription. </desc>
<content>
<rng:empty/>
</content>
<attList>
<attDef ident="agent" mode="delete"/>
<attDef ident="hand" mode="delete"/>
<attDef ident="extent" mode="delete"/>
<attDef ident="desc" mode="add">
<desc>briefly describes the material which has been omitted. </desc>
<datatype><rng:text/></datatype>
</attDef>
<attDef ident="reason">
<desc>gives further details of the reason for omission.</desc>
</attDef>
</attList>
</elementSpec>

<elementSpec ident="head" module="core" mode="change">
<classes>
<memberOf key="att.rendered"/>
<memberOf key="model.divWrapper"/>
</classes>
<content>
<rng:oneOrMore>
<rng:choice>
<rng:ref name="s"/>
<rng:ref name="gap"/>
<rng:ref name="pb"/>
</rng:choice>
</rng:oneOrMore>
</content>
<attList>
<attDef ident="type" mode="replace">
<datatype>data.enumerated</datatype>
<valList type="closed">
<valItem ident="MAIN"><desc>a major heading. </desc></valItem>
<valItem ident="SUB"><desc>any sub-heading.</desc></valItem>
<valItem ident="BYLINE"><desc>a sub-heading providing the name of a
journalist or other source of a newspaper report.</desc></valItem>
</valList></attDef></attList>
</elementSpec>


<elementSpec ident="hi" module="core" mode="change">
<classes>
<memberOf key="att.rendered"/>
<memberOf key="model.hiLike"/>
</classes>
</elementSpec>

<elementSpec ident="idno" module="header" mode="change">
<desc>supplies an identifying code for a text.</desc>
<attDef ident="type">
<desc>categorizes the code number used.</desc>
<valList>
<valItem ident="bnc">the canonical three character text
identifier</valItem>
<valItem ident="old">a superceded six-character identifier used during
production of the BNC</valItem>
</valList>
</attDef></elementSpec>

<elementSpec ident="imprint" module="core" mode="change">
<content>
<rng:zeroOrMore>
<rng:choice>
<rng:ref name="pubPlace"/>
<rng:ref name="publisher"/>
<rng:ref name="date"/>
<rng:ref name="pp"/>
</rng:choice></rng:zeroOrMore>
</content>
<attList>
<attDef ident="n" mode="add">
<desc>internal identifier</desc>
<datatype><rng:text/></datatype>
</attDef>
</attList>
</elementSpec>

<elementSpec ident="item" module="core" mode="change">
<classes>
<memberOf key="att.rendered"/>
</classes>
<content>
<!--rng:choice>
<rng:oneOrMore>
<rng:ref name="para"/>
</rng:oneOrMore>
</rng:choice-->
<rng:ref name="macro.specialPara"/>
</content>
</elementSpec>

<elementSpec ident="keywords" module="header" mode="change">
<content>
<rng:oneOrMore>
<rng:ref name="term"/>
</rng:oneOrMore>
</content>
<attList>
<attDef ident="scheme" mode="change" usage="opt">
</attDef>
</attList>
</elementSpec>



<elementSpec ident="l" module="core" mode="change">
<classes>
<memberOf key="att.rendered"/>
<memberOf key="model.divPart"/>
<memberOf key="model.lLike"/>
</classes>
<content>
<rng:oneOrMore>
<rng:choice>
<rng:ref name="s"/>
<rng:ref name="gap"/>
<rng:ref name="pb"/>
</rng:choice>
</rng:oneOrMore>
</content>
<attList>
<attDef ident="part" mode="delete"/>
</attList>
</elementSpec>

<elementSpec ident="label" module="core" mode="change">
<classes>
<memberOf key="att.rendered"/>
</classes>
<content>
<rng:oneOrMore>
<rng:choice>
<rng:ref name="s"/>
<rng:ref name="gap"/>
<rng:ref name="pb"/>
</rng:choice>
</rng:oneOrMore>
</content>
</elementSpec>

<elementSpec ident="language" module="header" mode="change">
<attList>
<attDef ident="usage" mode="delete"/>
</attList>
</elementSpec>

<elementSpec ident="lg" module="core" mode="change">
<classes>
  <memberOf key="model.qLike"/>
  <memberOf key="model.divPart"/>
</classes>
  <content>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.divWrapper"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:choice>
        <rng:ref name="model.lLike"/>
        <rng:ref name="lg"/>
      </rng:choice>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.lLike"/>
          <rng:ref name="lg"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:zeroOrMore>
	  <rng:ref name="model.divWrapper.bottom"/>
      </rng:zeroOrMore>
  </content>
</elementSpec>

<elementSpec ident="list" module="core" mode="change">
<classes>
  <memberOf key="att.rendered"/>
  <memberOf key="model.listLike"/>
  <memberOf key="model.divPart"/>
</classes>
<content xmlns:rng="http://relaxng.org/ns/structure/1.0">
    <rng:group>
      <rng:zeroOrMore>
	<rng:choice>
	    <rng:ref name="model.divWrapper"/>
	    <rng:ref name="model.global"/>
	</rng:choice>
      </rng:zeroOrMore>
      <rng:choice>
      <rng:oneOrMore>
	  <rng:ref name="item"/>
	  <rng:zeroOrMore>
	    <rng:ref name="model.global"/>
	  </rng:zeroOrMore>
      </rng:oneOrMore>
      <rng:oneOrMore>
	  <rng:ref name="label"/>
	  <rng:zeroOrMore>
	      <rng:ref name="model.global"/>
	  </rng:zeroOrMore>
	  <rng:ref name="item"/>
	  <rng:zeroOrMore>
	     <rng:ref name="model.global"/>
	  </rng:zeroOrMore>
	 </rng:oneOrMore>
      </rng:choice>
      <rng:zeroOrMore>
	  <rng:group>
	    <rng:ref name="model.divWrapper.bottom"/>
	  </rng:group>
      </rng:zeroOrMore>
    </rng:group>
</content>
<attList>
<attDef ident="type" mode="delete"/>
</attList>
</elementSpec>

<!--<elementSpec ident="name" module="core" mode="change">
<classes>
<memberOf key="att.uniqueId"/>
</classes>
</elementSpec>-->

<elementSpec ident="note" module="core" mode="change">
<content>
<rng:oneOrMore>
<rng:ref name="s"/>
</rng:oneOrMore>
</content>
<attList>
<attDef ident="place" mode="change">
<valList>
<valItem ident="FOOT"><desc>footnote</desc></valItem>
<valItem ident="SIDE"><desc>side note</desc></valItem>
<valItem ident="END"><desc>endnote</desc></valItem>
</valList>
</attDef>
<attDef ident="type" mode="delete"/>
<attDef ident="resp" mode="delete"/>
<attDef ident="anchored" mode="delete"/>
<attDef ident="target" mode="delete"/>
<attDef ident="targetEnd" mode="delete"/>
<attDef ident="n" mode="add">
<desc>internal identifier</desc>
<datatype><rng:text/></datatype>
</attDef>


</attList>
</elementSpec>

<elementSpec ident="occupation" module="namesdates" mode="change">
<attList>
<attDef ident="scheme" mode="delete"/>
<attDef ident="code" mode="delete"/>
</attList>
</elementSpec>

<elementSpec ident="p" module="core" mode="change">
<classes>
<!--memberOf key="att.typed"/-->
<memberOf key="att.rendered"/>
<memberOf key="model.pLike"/>
<memberOf key="model.divPart"/>
</classes>
<attList>
<attDef ident="type" mode="add">
<desc>indicates how the paragraph is displayed</desc>
<valList>
<valItem ident="caption"><desc>the paragraph is displayed as a
caption</desc></valItem>
<valItem ident="caption:byline"><desc>the displayed paragraph contains
a byline</desc></valItem>
<valItem ident="caption:display"><desc>the paragraph is displayed as a
floating caption</desc></valItem>
<valItem ident="caption:attached"><desc>the paragraph is displayed as
an attached caption</desc></valItem>
</valList></attDef></attList>
</elementSpec>

<elementSpec ident="particDesc" module="header" mode="change">
<content>
<rng:group>
<rng:oneOrMore>
<rng:ref name="person"/>
</rng:oneOrMore>
<rng:zeroOrMore>
<rng:ref name="relation"/>
</rng:zeroOrMore>
</rng:group></content>
<attList>
<attDef ident="n" mode="add">
<desc>internal identifier</desc>
<datatype><rng:text/></datatype>
</attDef>
</attList>

</elementSpec>

<elementSpec ident="pause" module="spoken" mode="change">
<classes>
<memberOf key="model.divPart.spoken"/>
<memberOf key="att.timed"/>
</classes>
</elementSpec>

<elementSpec ident="pb" module="core" mode="change">
<attList>
<attDef ident="ed" mode="delete"/>
<attDef ident="n" mode="add">
<desc>gives the number of the page beginning here</desc>
<datatype><rng:text/></datatype>
</attDef>
</attList>
</elementSpec>


<elementSpec ident="placeName" module="namesdates" mode="change">
<classes>
<memberOf key="model.settingPart"/>
<memberOf key="att.uniqueId"/>
</classes>
<attList >
<attDef ident="type" mode="delete"/>
</attList></elementSpec>

<elementSpec ident="persName" module="namesdates" mode="change">
<attList >
<attDef ident="type" mode="delete"/>
</attList></elementSpec>

<elementSpec ident="person" module="namesdates" mode="change">
<classes>
<memberOf key="att.uniqueId"/>
</classes>
<attList >
<attDef ident="age" mode="delete"/>
<attDef ident="ageGroup" mode="add">
<desc>specifies the age group to which the participant belongs. </desc>
<datatype><rng:ref name="data.code"/></datatype>

<valList>
<valItem ident="0"><desc>Under 15 years</desc></valItem>
<valItem ident="1"><desc>15 to 24 years</desc></valItem>
<valItem ident="2"><desc>25 to 34 years</desc></valItem>
<valItem ident="3"><desc>35 to 44 years</desc></valItem>
<valItem ident="4"><desc>45 to 59 years</desc></valItem>
<valItem ident="5"><desc>Over 59 years</desc></valItem>
<valItem ident="X"><desc>Unknown</desc></valItem>
</valList>

</attDef>
<attDef ident="dialect" mode="add">
<desc>specifies the dialect or accent of a participant's speech, as identified
by the respondent. </desc> 
<valList>
<valItem ident="CAN"><desc>Canadian</desc></valItem>
<valItem ident="NONE"><desc>No accent recorded</desc></valItem>
<valItem ident="XDE"><desc>German</desc></valItem>
<valItem ident="XEA"><desc>East Anglian</desc></valItem>
<valItem ident="XFR"><desc>French</desc></valItem>
<valItem ident="XHC"><desc>Home Counties </desc></valItem>
<valItem ident="XHM"><desc>Humberside</desc></valItem>
<valItem ident="XIR"><desc>Irish</desc></valItem>
<valItem ident="XIS"><desc>Indian subcontinent</desc></valItem>
<valItem ident="XLC"><desc>Lancashire</desc></valItem>
<valItem ident="XLO"><desc>London</desc></valItem>
<valItem ident="XMC"><desc>Central Midlands</desc></valItem>
<valItem ident="XMD"><desc>Merseyside</desc></valItem>
<valItem ident="XME"><desc>North-east Midlands</desc></valItem>
<valItem ident="XMI"><desc>Midlands</desc></valItem>
<valItem ident="XMS"><desc>South Midlands</desc></valItem>
<valItem ident="XMW"><desc>North-west Midlands</desc></valItem>
<valItem ident="XNC"><desc>Central Northern England</desc></valItem>
<valItem ident="XNE"><desc>North-east England</desc></valItem>
<valItem ident="XNO"><desc>Northern England</desc></valItem>
<valItem ident="XOT"><desc>Other or unidentifiable</desc></valItem>
<valItem ident="XSD"><desc>Scottish</desc></valItem>
<valItem ident="XSL"><desc>Lower south-west England</desc></valItem>
<valItem ident="XSS"><desc>Central south-west England</desc></valItem>
<valItem ident="XSU"><desc>Upper south-west England</desc></valItem>
<valItem ident="XUR"><desc>European</desc></valItem>
<valItem ident="XUS"><desc>American (US)</desc></valItem>
<valItem ident="XWA"><desc>Welsh</desc></valItem>
<valItem ident="XWE"><desc>West Indian</desc></valItem>
</valList>
</attDef>
<attDef ident="firstLang" mode="add">
<desc>specifies the country of origin  of the 
participant, as identified
by the respondent. </desc> 
<valList>
<valItem ident="XX-XXX"><desc>Unknown</desc></valItem>
<valItem ident="DE-DEU"><desc>German</desc></valItem>
<valItem ident="FR-FRA"><desc>French</desc></valItem>
<valItem ident="EN-GBR"><desc>British English</desc></valItem>
<valItem ident="EN-USA"><desc>North American English</desc></valItem>
<valItem ident="XX-IND"><desc>Unknown Indian language</desc></valItem>
</valList>
</attDef>
<attDef ident="n" mode="add">
<desc>internal identifier</desc>
<datatype><rng:text/></datatype>
</attDef>
<attDef ident="soc" mode="replace">
<desc>specifies the social class of the participant. </desc>
<valList><valItem ident="AB"><desc>Higher management: administrative or  professional</desc></valItem>
<valItem ident="C1"><desc>Lower management: supervisory or clerical</desc></valItem>
<valItem ident="C2"><desc>Skilled manual</desc></valItem>
<valItem ident="DE"><desc>Semi-skilled or unskilled</desc></valItem>
<valItem ident="UU"><desc>Social class unknown</desc></valItem>
</valList>
</attDef>
<attDef ident="educ" mode="add">
<desc>specifies the age at which the participant ceased full-time 
education. </desc>
<valList>
<valItem ident="0"><desc>Still in education</desc></valItem>
<valItem ident="1"><desc>Left school aged 14 or under</desc></valItem>
<valItem ident="4"><desc>Education continued until age 19 or over</desc></valItem>
<valItem ident="X"><desc>Unknown</desc></valItem>
</valList>
</attDef>
<attDef ident="sex" mode="replace">
<desc>specifies the sex of the participant. </desc>
<valList>
<valItem ident="m"><desc>male</desc></valItem>
<valItem ident="f"><desc>female</desc></valItem>
<valItem ident="u"><desc>unknown</desc></valItem>
</valList>
</attDef>
<attDef ident="role" mode="replace">
<desc>describes the relationship or role of this participant with respect to the
respondent. </desc>
<valDesc>77 discrete values are used</valDesc>
</attDef>
<!--attDef ident="xml:id" mode="change" usage="req">
<desc>supplies a unique code used to identify this speaker and
their utterances in the transcription</desc>
</attDef-->
</attList>
</elementSpec>

<elementSpec ident="projectDesc" mode="change" module="header">
<content>
<rng:oneOrMore>
<rng:ref name="para"/>
</rng:oneOrMore>
</content>
</elementSpec>

<elementSpec ident="ptr" mode="change" module="core">
<attList>
<attDef ident="decls" mode="delete"/>
<attDef ident="cRef" mode="delete"/>
</attList>
</elementSpec>

<elementSpec ident="quote" mode="change" module="core">
<classes>
<memberOf key="model.qLike"/>
<memberOf key="model.divPart"/>
<memberOf key="att.rendered"/>
<memberOf key="att.typed"/>
</classes>
</elementSpec>


<elementSpec ident="recording" mode="change" module="header">
<!--<classes>
<memberOf key="att.timed"/>
</classes>-->
<content>
<rng:text/>
</content>
<attList>
<attDef ident="date" mode="add">
<desc>date of the recording in standardized form.</desc>
<datatype>data.date</datatype>
</attDef>
<attDef ident="dur" mode="change">
<desc>duration of the recording in minutes.</desc>
<datatype>data.count</datatype>
</attDef>
<attDef ident="n" mode="add">
<desc>tape number. </desc>
<datatype><rng:text/></datatype>
</attDef>
<attDef ident="time" mode="add">
<desc>time of day the recording was made. </desc>
</attDef>
<attDef ident="type" mode="change">
<desc>kind of recording</desc>
<valList mode="replace">
<valItem ident="dat"><desc>recording made directly to Digital Audio tape</desc>
</valItem>
<valItem ident="walkman"><desc>recording made to Walkman tape</desc>
</valItem>
</valList></attDef>
</attList></elementSpec>


<elementSpec ident="refsDecl" mode="change" module="header">
<desc>provides documentation for the reference system applicable to
the corpus. </desc>
<content>
<rng:oneOrMore>
<rng:ref name="para"/>
</rng:oneOrMore>
</content>
<attList>
<attDef ident="doctype" mode="delete"/>
</attList>
</elementSpec>

<elementSpec ident="relation" mode="change" module="namesdates">
<classes>
<memberOf key="model.persStateLike"/>
</classes>
<attList>
<attDef ident="type" mode="delete"/>
<attDef ident="name" mode="change">
<altIdent>desc</altIdent>
<valList>
<valItem ident="patient">A is patient of P</valItem>
<valItem ident="colleagu">M are all colleagues</valItem>
<valItem ident="intervee">A is being interviewed by P</valItem>
<valItem ident="teacher">A is teacher, trainer, or tutor of P</valItem>
<valItem ident="wife">A is wife of P</valItem>
<valItem ident="speaker">A is speaking to P</valItem>
<valItem ident="parent">A is parent of P</valItem>
<valItem ident="employer">A is employer of P</valItem>
<valItem ident="secretary">A is secretary of A</valItem>
<valItem ident="friend">M are all friends or neighbours</valItem>
</valList>
</attDef>
</attList>
<remarks>Relationship information is also provided by the role attribute of
person, which indicates the relationship between a person and the
respondent.</remarks>
 </elementSpec>

<elementSpec ident="respStmt" mode="change" module="core">
<classes/>
<content>
<rng:oneOrMore>
<rng:choice>
<rng:ref name="name"/>
<rng:ref name="resp"/>
</rng:choice>
</rng:oneOrMore></content>
</elementSpec>

<elementSpec ident="revisionDesc" mode="change" module="header">
<content>
<rng:oneOrMore>
<rng:ref name="change"/>
</rng:oneOrMore>
</content></elementSpec>

<elementSpec ident="s" module="analysis" mode="change">
<classes>
<memberOf key="model.segLike"/>
</classes>
<content>
<rng:oneOrMore>
<rng:choice>
<rng:ref name="model.global"/>
<rng:ref name="model.phrase"/>
<rng:ref name="model.divPart.spoken"/>
</rng:choice>
</rng:oneOrMore>
</content>
<attList>
<attDef ident="n" usage="req" mode="add">
<desc>sequence number </desc>
<datatype><rng:text/></datatype>
</attDef></attList></elementSpec>

<elementSpec ident="samplingDecl" mode="change" module="header">
<content>
<rng:zeroOrMore>
<rng:choice>
<rng:text/>
<rng:ref name="para"/>
</rng:choice></rng:zeroOrMore>
</content>
</elementSpec>
<elementSpec ident="segmentation" mode="change" module="header">
<content>
<rng:zeroOrMore>
<rng:choice>
<rng:text/>
<rng:ref name="para"/>
</rng:choice></rng:zeroOrMore>
</content>
</elementSpec>

<elementSpec ident="setting" mode="change" module="header">
<content>
<rng:zeroOrMore>
<rng:choice>
<rng:ref name="date"/>
<rng:ref name="model.settingPart"/>
</rng:choice>
</rng:zeroOrMore>
</content>
<attList>
<attDef ident="n" mode="add">
<desc>an internal identifier for a setting</desc>
</attDef>
</attList>
</elementSpec>

<elementSpec ident="settingDesc" mode="change" module="header">
<content>
<rng:oneOrMore>
<rng:ref name="setting"/>
</rng:oneOrMore>
</content>
</elementSpec>

<elementSpec ident="shift" mode="change" module="spoken">
<attList>
<attDef ident="feature" mode="delete"/>
</attList></elementSpec>

<!--elementSpec ident="sic" mode="change" module="core">
<attList>
<attDef ident="resp" mode="add">
<valList>
<valItem ident="OUP"><desc>OUP</desc></valItem>
<valItem ident="OUCS"><desc>OUCS</desc></valItem>
<valItem ident="Longman"><desc>Longman</desc></valItem>
</valList>
</attDef>
</attList></elementSpec-->

<elementSpec ident="sourceDesc" mode="change" module="header">
<content>
<rng:choice>
<rng:ref name="bibl"/>
<rng:ref name="recordingStmt"/>
<rng:oneOrMore>
<rng:ref name="para"/>
</rng:oneOrMore>
</rng:choice>
</content>
</elementSpec>


<elementSpec ident="stage" mode="change" module="core">
<classes>
<memberOf key="att.rendered"/>
<memberOf key="model.stageLike"/>
</classes>
<attList>
<attDef ident="type" mode="delete"/>
</attList>
</elementSpec>

<elementSpec ident="tagUsage" mode="change" module="header">
<attList>
<attDef ident="withId" mode="delete"/>
<attDef ident="render" mode="delete"/>
</attList>
</elementSpec>

<elementSpec ident="taxonomy" mode="change" module="header">
<content>
<rng:optional>
<rng:ref name="desc"/>
</rng:optional>
<rng:choice>
  <rng:oneOrMore>
     <rng:ref name="category"/>
   </rng:oneOrMore>
   <rng:ref name="model.biblLike"/>
</rng:choice>
</content>
<classes>
<memberOf key="att.uniqueId"/>
</classes>
</elementSpec>


<elementSpec ident="teiHeader" module="header" mode="change">
<attList>
<attDef ident="type" mode="delete">
</attDef></attList>
</elementSpec>

<elementSpec ident="term" module="core" mode="change">
<desc>contains a word or phrase used to describe the topic or nature of a text. </desc>
<classes/>
<attList>
<attDef ident="sortKey" mode="delete"/>
<attDef ident="target" mode="delete"/>
<attDef ident="cRef" mode="delete"/>
</attList>
</elementSpec>

<elementSpec ident="textClass" module="header" mode="change">
<content>
  <rng:ref name="catRef"/>
  <rng:zeroOrMore>
    <rng:ref name="classCode"/>
  </rng:zeroOrMore>
  <rng:zeroOrMore>
    <rng:ref name="keywords"/>
  </rng:zeroOrMore>
</content>
</elementSpec>



<elementSpec ident="text" module="textstructure" mode="change">
<desc>contains a single written text. </desc>
<!--classes>
<memberOf key="att.declaring"/>
</classes-->
<content>
  <rng:group>
    <rng:zeroOrMore>
      <rng:choice>
    <rng:ref name="model.divPart"/>
    <rng:ref name="model.global"/>
      </rng:choice>
  </rng:zeroOrMore>
  <rng:optional>
    <rng:group>
      <rng:ref name="div"/>
      <rng:zeroOrMore>
	<rng:choice>
	  <rng:ref name="div"/>
	  <rng:ref name="model.global"/>
	</rng:choice>
      </rng:zeroOrMore>
    </rng:group>
  </rng:optional>
  </rng:group>
</content>
<attList>
<attDef ident="type" mode="add">
<desc>basic genre classification for all texts</desc>
<valList>
  <valItem ident="UNPUB"><desc>Unpublished materials</desc></valItem>
  <valItem ident="FICTION"><desc>Published fiction</desc></valItem>
  <valItem ident="NEWS"><desc>Newspaper text</desc></valItem>
  <valItem ident="ACPROSE"><desc>Academic prose writing</desc></valItem>
  <valItem ident="NONFIC"><desc>Any other written text</desc></valItem>
</valList>
</attDef>
</attList>
</elementSpec>


<elementSpec ident="title" module="core" mode="change">
<classes/>
<content>
  <rng:text/>
</content>
<attList>
<attDef ident="type" mode="delete"/>

</attList>
</elementSpec>


<elementSpec ident="w" module="analysis" mode="change">
<classes>
<memberOf key="att.c5coded"/>
<memberOf key="model.segLike"/>
</classes>
<content>
<rng:text/>
</content>
<attList>
<attDef ident="pos" usage="req" mode="add">
      <equiv/>
      <desc>supplies a simplified  part-of-speech code.</desc>
      <valList type="closed">
<valItem ident="ADJ"><desc>adjective</desc></valItem>
<valItem ident="ADV"><desc>adverb</desc></valItem>
<valItem ident="ART"><desc>article</desc></valItem>
<valItem ident="CONJ"><desc>conjunction</desc></valItem>
<valItem ident="INTERJ"><desc>interjection</desc></valItem>
<valItem ident="PREP"><desc>preposition</desc></valItem>
<valItem ident="PRON"><desc>pronoun</desc></valItem>
<valItem ident="STOP"><desc>punctuation</desc></valItem>
<valItem ident="SUBST"><desc>substantive</desc></valItem>
<valItem ident="UNK"><desc>unknown or non-lexical word</desc></valItem>
<valItem ident="VERB"><desc>verb</desc></valItem>
<valItem ident="XXX"><desc>unspecified</desc></valItem>
      </valList>
    </attDef>
<attDef ident="lemma" mode="delete" />
<attDef ident="hw" usage="req">
<!--altIdent>hw</altIdent-->
      <desc>specifies the headword under which this lexical unit is
      conventionally grouped, where known.</desc>
<datatype><rng:text/></datatype>
      <valDesc>a lower-case only normalised form of a word</valDesc>
</attDef>
</attList>
</elementSpec>


<elementSpec ident="teiCorpus" mode="change" module="textstructure">
 <altIdent>bnc</altIdent>
<content>
<rng:ref name="teiHeader"/>
<rng:oneOrMore>
<rng:ref name="bncDoc"/>
</rng:oneOrMore>
</content>
</elementSpec>

<elementSpec ident="TEI" mode="delete" module="textstructure"/>

<elementSpec ident="bncDoc" mode="add">
 <desc>contains a distinct document within the corpus, either spoken
 or written.</desc>
 <content>
   <rng:group>
     <rng:ref name="teiHeader"/>
     <rng:choice>
       <rng:ref name="text"/>
       <rng:ref name="stext"/>
     </rng:choice>
   </rng:group>
 </content>
<classes>
 <memberOf key="att.uniqueId"/>
</classes>
</elementSpec>


<elementSpec ident="u" module="spoken" mode="change">
<classes>
<memberOf key="att.ascribed"/>
<memberOf key="model.divPart.spoken"/>
</classes>
<attList>
<attDef ident="trans" mode="delete"/>
</attList>
</elementSpec>




<elementSpec ident="unclear" module="spoken" mode="change">
<classes>
<memberOf key="att.timed"/>
<memberOf key="model.pPart.edit"/>
</classes>
<content>
<rng:empty/>
</content>
<attList>
<attDef ident="reason" mode="delete"/>
<attDef ident="hand" mode="delete"/>
<attDef ident="agent" mode="delete"/>
</attList>
</elementSpec>


<elementSpec ident="vocal" module="spoken" mode="change">
<content>
<rng:empty/>
</content>
<attList>
<attDef ident="iterated" mode="delete"/>
<attDef ident="desc" mode="add">
<desc>provides a brief description of the vocal event</desc>
<datatype><rng:text/></datatype>
</attDef>
</attList>
</elementSpec>



<!-- new elements in alpha order -->



<elementSpec ident="age" module="namesdates" mode="change">
  <desc>specifies the age in years of a recorded participant at the time of the
  recording in which they participate. </desc>
  <classes>
    <memberOf key="model.persStateLike"/>
  </classes>
  <content>
    <rng:text/>
  </content>
  <exemplum><egXML xmlns="http://www.tei-c.org/ns/Examples"><![CDATA[
    <age>25</age>
]]>  </egXML></exemplum>
<attList>
<attDef ident="resp" mode="delete"/>
<attDef ident="value" mode="delete"/>
          </attList>

</elementSpec>



<elementSpec ident="align">
  <desc>marks an temporal alignment point within transcribed speech</desc>
  <classes>
    <memberOf key="model.ptrLike"/>
  </classes>
  <content>
    <rng:empty/>
  </content>
  <attList>
    <attDef ident="with" usage="req">
      <equiv/>
      <desc>supplies an arbitrary identifier; all
      elements specifying the same value for this attribute are
      understood to be aligned with each other in time.</desc>
      <datatype>
	<rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.pointer"/>
      </datatype>
      <valDesc>A unique identifier in the form....</valDesc>
    </attDef>
  </attList>
  <exemplum><egXML xmlns="http://www.tei-c.org/ns/Examples"><![CDATA[<u who="PS6SF">
   <s n="12">
        <w c5="VVB" hw="tell" pos="VERB">tell </w>
        <w c5="NP0" hw="billy" pos="SUBST">Billy </w>
        <align with="KSWLC001"/>
        <w c5="DT0" hw="that" pos="ADJ">that </w>
    </s></u>
<u who="PS6SJ">
  <s n="13">
       <align with="KSWLC001"/>
       <w c5="ITJ" hw="hello" pos="INTERJ">Hello </w>
       <w c5="AV0" hw="now" pos="ADV">now </w>
       <w c5="VM0" hw="can" pos="VERB">can </w>
       <w c5="PNP" hw="you" pos="PRON">you </w>
       <w c5="VVI" hw="hear" pos="VERB">hear </w>
       <w c5="PNP" hw="i" pos="PRON">me</w>
  </s></u>  ]]></egXML></exemplum>
</elementSpec>

<elementSpec ident="dialect">
<desc>contains an informal description of the regional variety of
English used by a participant in a spoken text. </desc>
  <classes>
    <memberOf key="model.persStateLike"/>
  </classes>
<content>
  <rng:text/>
</content>
  <exemplum><egXML xmlns="http://www.tei-c.org/ns/Examples"><![CDATA[
    <dialect>Home Counties</dialect>
]]>  </egXML></exemplum>
</elementSpec>

<elementSpec ident="mw">
<desc>contains a multi-word unit as identified by CLAWS, that is, a
sequence of individual tokens which function syntactically as a single
unit with a single part of speech code. </desc>
<classes>
<memberOf key="model.segLike"/>
<memberOf key="att.c5coded"/>
</classes>
<content>
  <rng:oneOrMore>
    <rng:ref name="w"/>
  </rng:oneOrMore>
</content>
</elementSpec>

<elementSpec ident="para">
<desc>contains descriptive text appearing within components of a TEI header</desc>
<content>
<rng:zeroOrMore>
  <rng:choice>
    <rng:text/>
    <rng:ref name="hi"/>
    <rng:ref name="list"/>
  </rng:choice>
</rng:zeroOrMore>
</content>
</elementSpec>


<elementSpec ident="persNote">
<desc>contains any additional information supplied about a participant in a spoken text </desc>
  <classes>
    <memberOf key="model.persStateLike"/>
  </classes>
<content>
  <rng:text/>
</content>
</elementSpec>


<elementSpec ident="pp">
<desc>supplies page numbers for a bibliographic citation.</desc>
<classes>
<memberOf key="model.biblPart"/>
</classes>
<content><rng:text/>
</content>
</elementSpec>




<elementSpec ident="stext">
<desc>contains a single spoken text, i.e. a transcription or
collection of transcriptions from a single source. </desc>
<content>
  <rng:group>
    <rng:zeroOrMore>
    <rng:ref name="model.divPart.spoken"/>
  </rng:zeroOrMore>
  <rng:zeroOrMore>
    <rng:ref name="div"/>
  </rng:zeroOrMore>
  </rng:group>
</content>
<attList>
<attDef ident="type">
<desc>gives a basic genre classification for the  text. </desc>
<valList type="closed">
  <valItem ident="CONVRSN"><desc>demographically sampled conversation</desc></valItem>
  <valItem ident="OTHER-SP"><desc>any other spoken text</desc></valItem>
</valList>
</attDef>
</attList>
</elementSpec>


<elementSpec ident="trunc">
<desc>contains one or more truncated words in transcribed speech.</desc>
<classes>
<memberOf key="model.divPart.spoken"/>
</classes>

<content>
<rng:oneOrMore>
  <rng:choice>
    <rng:ref name="w"/>
    <rng:ref name="mw"/>
    <rng:ref name="gap"/>
    <rng:ref name="unclear"/>
  </rng:choice>
</rng:oneOrMore>
</content>
</elementSpec>

<!-- XAIRA specific parts -->

<elementSpec ident="xairaSpecification" >
<desc>specifies additional information needed by xaira. </desc>
<classes>
<memberOf key="model.encodingPart"/>
</classes>
<content>
<rng:oneOrMore>
  <rng:ref name="xairaList"/>
</rng:oneOrMore>
</content>
</elementSpec>




<elementSpec ident="attributePolicy">
<desc>specifies the indexing policy to be used for one or more
attributes. </desc>
<classes>
<memberOf key="att.identifiable"/>
</classes>
<content>
<rng:optional>
  <rng:ref name="nameList"/>
</rng:optional>
<rng:optional>
  <rng:ref name="joinTo"/>
</rng:optional>
</content>
<attList>
<attDef ident="ident"><desc>identifies the attribute to which the
indexing policy applies</desc></attDef>
<attDef ident="type"><desc>specifies the required indexing policy
</desc>
<valList type="closed">
<valItem ident="none"><desc>no part of the attribute will be indexed</desc>
</valItem>
<valItem ident="jointo"><desc>the attribute supplies an identifier
which can be linked to from elsewhere</desc>
</valItem>
<valItem ident="joinfrom"><desc>the value of the attribute is used as
an  identifier on some other element</desc></valItem>
<valItem ident="taxonomy"><desc>the value of the attribute is used to
supply a key for some predefined codebook or taxonomy of possible
values</desc>
</valItem>
</valList>
</attDef>

</attList>
</elementSpec>

<elementSpec ident="collate">
<desc>supplies any additional ICU-conformant collating rules to be used when sorting
words in the corpus. </desc>
<content><rng:text/>
</content>
<remarks>The format for collating rules is defined at 
http://icu.sourceforge.net/userguide/Collate_Customization.html</remarks>
</elementSpec>


<elementSpec ident="elementPolicy">
<desc>specifies the xaira indexing policy to be used for one or more
elements. </desc>
<content>
<rng:optional>
  <rng:ref name="nameList"/>
</rng:optional>
</content>
<attList>
<attDef ident="ident"><desc>identifies the element to which the
indexing policy applies.</desc></attDef>
<attDef ident="type"><desc>specifies the required indexing policy.
</desc>
<valList type="closed">
<valItem ident="none"><desc>no part of the element or its
content will be indexed.</desc>
</valItem>
<valItem ident="children"><desc>no part of the element will be
indexed, but any child elements will be.</desc>
</valItem>
<valItem ident="content"><desc>only the text and child content of the element will be
indexed.</desc></valItem>
<valItem ident="markup"><desc>only the start and end tags for the
element and any child elements not otherwise specified will be
indexed.</desc>
</valItem>
</valList>
</attDef></attList>
</elementSpec>

<elementSpec ident="labelGen">
<desc>specifies the label to be generated for the parent reference. </desc>
<content><rng:text/>
</content>
<attList>
<attDef ident="change">
<desc>specifies when the new label is to be generated. </desc>
<valList type="closed">
<valItem ident="onStart"><desc>a new label is generated when a new
instance of the scope-defining element is found, and remains in force
until the next such element is found.</desc></valItem>
<valItem ident="within"><desc>a new label is generated when a new
instance of the scope-defining element is found, and remains in force
until that instance ends.</desc></valItem>
</valList>
</attDef>
</attList>
</elementSpec>

<elementSpec ident="nameList">
<desc>supplies a list of element names or attribute identifiers</desc>
<content>
<rng:oneOrMore>
<rng:choice>
<rng:ref name="gi"/>
<rng:ref name="ident"/>
</rng:choice>
</rng:oneOrMore>
</content>
</elementSpec>

<elementSpec ident="joinTo">
<desc>supplies a list of element names carrying an attribute which has
been specified with the xaira "joinTo" indexing policy.</desc>
<content>
<rng:oneOrMore>
<rng:ref name="gi"/>
</rng:oneOrMore>
</content>
</elementSpec>


<elementSpec ident="tokenize">
<desc>supplies any additional ICU-conformant rules to be used
when tokenization is performed by xaira rather than by explicit XML markup. </desc>
<content><rng:text/>
</content>
</elementSpec>

<elementSpec ident="gi" module="tagdocs" mode="change">
<classes>
<memberOf key="att.identifiable"/>
</classes>
<attList>
<attDef ident="scheme" mode="delete"/>
</attList>
</elementSpec>

<elementSpec ident="valSource">
<desc>specifies where the indexer is to find a value. </desc>
<classes>
<memberOf key="att.identifiable"/>
</classes>
<content>
<rng:group>
<rng:optional>
  <rng:ref name="nameList"/>
</rng:optional>
<rng:optional>
  <rng:choice>
    <rng:ref name="defaultVal"/>
    <rng:ref name="labelGen"/>
  </rng:choice>
</rng:optional>
</rng:group>
</content>
<attList>
<attDef ident="type">
<desc>indicates the kind of value to be found. </desc>
<valList type="closed">
<valItem ident="element"><desc>element content. </desc></valItem>
<valItem ident="attribute"><desc>attribute content. </desc></valItem>
<valItem ident="pseudo"><desc>content returned by one of the pseudo-
functions count(), sysid(), or lineno() </desc></valItem>
</valList></attDef>
<!--
<attdef ident="ident">
<desc>supplies the identifier for the element, attribute, or pseudo-function
concerned</desc>
</attdef>
-->
<attDef ident="caseFold">
<desc>indicates whether the value required should be casefolded or
not. </desc>
<datatype>xsd:boolean</datatype>
</attDef>
<!--<attDef ident="ns">
<desc>supplies a namespace  for the required value</desc>
</attDef>-->
</attList>
</elementSpec>


<elementSpec ident="xairaItem" mode="add">
<desc>provides data needed to define one part of a  xaira specification. </desc>
<classes>
<memberOf key="att.identifiable"/>
</classes>
<content>
<rng:group>
<rng:zeroOrMore>
  <rng:ref name="desc"/>
</rng:zeroOrMore>
<rng:optional>
  <rng:choice>
    <rng:group>
     <rng:ref name="valSource"/>
     <rng:optional>
      <rng:ref name="labelGen"/>
     </rng:optional>
    </rng:group>
    <rng:ref name="attList"/>
    <rng:ref name="nameList"/>
    <rng:ref name="elementPolicy"/>
    <rng:ref name="attributePolicy"/>
    <rng:ref name="tokenize"/>
    <rng:ref name="collate"/>
  </rng:choice>
</rng:optional>
</rng:group>
</content>
<attList>
<attDef ident="type">
<desc>indicates what is defined by this part of the specification.</desc>
<valList  type="closed">
<valItem ident="element"><desc> an element and its attributes.</desc></valItem>
<valItem ident="form"><desc>a lexical form. </desc></valItem>
<valItem ident="addKey"><desc>an additional key. </desc></valItem>
<valItem ident="lemmaScheme"><desc>a lemmatization scheme.</desc></valItem>
<valItem ident="textRef"><desc>the reference used to identify
a document in the corpus.</desc></valItem>
<valItem ident="scopeRef"><desc>the default scope for results
obtained from a corpus.</desc></valItem>
<valItem ident="unitRef"><desc>the reference used to identify
some segmentation of a corpus document.</desc></valItem>
<valItem ident="indexPol"><desc>the indexing policy for some
corpus component.</desc></valItem>
<valItem ident="defaultLang"><desc>the default language for
a corpus. </desc></valItem>
<valItem ident="langRules"><desc>any additional tokenization or
collation rules for some language used in a corpus. </desc></valItem>
</valList>
</attDef>
</attList>
</elementSpec>

<elementSpec ident="xairaList">
<desc>contains a list of xaira parameters of a particular type</desc>
<content>
<rng:oneOrMore>
<rng:ref name="xairaItem"/>
</rng:oneOrMore>
</content>
<attList>
<attDef ident="type">
<desc>indicates the function of this part of the specification.</desc>
<valList  type="closed">
<valItem ident="elementSpec"><desc>lists and glosses the elements,
attributes, and codebooks used in a corpus </desc></valItem>
<valItem ident="keySpec"><desc>specifies how items are to be indexed. </desc></valItem>
<valItem ident="lemmaSpec"><desc>specifies any lemmatization schemes
used. </desc></valItem>
<valItem ident="refSpec"><desc>specifies how items are to be referenced. </desc></valItem>
<valItem ident="indexSpec"><desc>specifies any special indexing
policies. </desc></valItem>
<valItem ident="langSpec"><desc>specifies any language-specific rules. </desc></valItem>
</valList>
</attDef></attList></elementSpec>

<!--
<elementSpec ident="desc">
<desc>supplies explanatory text</desc>
<content><rng:text/></content>
</elementSpec>
-->
<elementSpec module="tagdocs" ident="attList" mode="change">
<content>
<rng:oneOrMore>
<rng:ref name="attDef"/>
</rng:oneOrMore>
</content>
<attList>
<attDef ident="org" mode="delete"/>
</attList>
</elementSpec>

<!--

<elementSpec module="tagdocs" ident="attDef" mode="change">
<classes>
<memberOf key="att.identifiable"/>
</classes>
<content>
<rng:group>
<rng:zeroOrMore>
<rng:ref name="desc"/>
</rng:zeroOrMore>
<rng:optional>
<rng:ref name="valList"/>
</rng:optional>
</rng:group></content>
<attList>
<attDef ident="ns" mode="delete"/>
<attDef ident="usage" mode="delete"/>
</attList>
</elementSpec> -->

<!--elementSpec ident="attList" mode="change">
<desc>documents a group of  attributes. </desc>
<content>
<rng:oneOrMore>
<rng:ref name="attDef"/>
</rng:oneOrMore>
</content>
</elementSpec-->

<elementSpec ident="attDef" mode="change" module="tagdocs">
<desc>provides the definition for a single attribute.</desc>
<classes>
<memberOf key="att.identifiable"/>
</classes>
<content>
<rng:group>
<rng:zeroOrMore>
<rng:ref name="desc"/>
</rng:zeroOrMore>
<rng:optional>
<rng:ref name="valList"/>
</rng:optional>
</rng:group></content>
<attList>
<attDef ident="ns" mode="delete"/>
<attDef ident="usage" mode="delete"/>
</attList>
</elementSpec> 


<elementSpec module="tagdocs" ident="valItem" mode="change">
<classes>
<memberOf key="att.identifiable"/>
</classes>
<content><rng:ref name="desc"/></content>
</elementSpec>

<elementSpec ident="valList" module="tagdocs" mode="change">
<classes>
<memberOf key="att.identifiable"/>
</classes>
<attList>
<attDef ident="copyOf" mode="add">
<desc>supplies the identifier of a previously-defined value list to be
used at this point</desc>
<datatype>data.pointer</datatype>
</attDef>
<attDef ident="mode" mode="delete"/>
</attList>
</elementSpec>

<classSpec ident="att.uniqueId" type="atts" mode="add">
<attList>
<attDef ident="xml:id" usage="req">
<desc>provides a unique identifier for this category</desc>
</attDef>
</attList>
</classSpec>


<classSpec ident="att.identifiable" type="atts">
<attList>
<attDef ident="ident"><desc>supplies a unique identifier.</desc>
<datatype>xsd:name</datatype>
</attDef>
<attDef ident="ns">
<desc>supplies the namespace within which the identifier is to be
found. </desc>
</attDef>
</attList>
</classSpec>

<classSpec ident="att.identified" type="atts" mode="delete"/>
<!--elementSpec module="tagdocs" ident="attList" mode="delete"/-->
<!--elementSpec module="tagdocs" ident="attDef" mode="delete"/-->
<elementSpec module="tagdocs" ident="att" mode="delete"/>
<elementSpec module="tagdocs" ident="attRef" mode="delete"/>
<elementSpec module="tagdocs" ident="classSpec" mode="delete"/>
<elementSpec module="tagdocs" ident="classes" mode="delete"/>
<elementSpec module="tagdocs" ident="code" mode="delete"/>
<elementSpec module="tagdocs" ident="content" mode="delete"/>
<elementSpec module="tagdocs" ident="datatype" mode="delete"/>
<elementSpec module="tagdocs" ident="eg" mode="delete"/>
<elementSpec module="tagdocs" ident="egXML" mode="delete"/>
<elementSpec module="tagdocs" ident="elementSpec" mode="delete"/>
<elementSpec module="tagdocs" ident="exemplum" mode="delete"/>
<elementSpec module="tagdocs" ident="listRef" mode="delete"/>
<elementSpec module="tagdocs" ident="macroSpec" mode="delete"/>
<elementSpec module="tagdocs" ident="memberOf" mode="delete"/>
<elementSpec module="tagdocs" ident="moduleRef" mode="delete"/>
<elementSpec module="tagdocs" ident="moduleSpec" mode="delete"/>
<elementSpec module="tagdocs" ident="remarks" mode="delete"/>
<elementSpec module="tagdocs" ident="schemaSpec" mode="delete"/>
<elementSpec module="tagdocs" ident="specDesc" mode="delete"/>
<elementSpec module="tagdocs" ident="specGrp" mode="delete"/>
<elementSpec module="tagdocs" ident="specGrpRef" mode="delete"/>
<elementSpec module="tagdocs" ident="specList" mode="delete"/>
<elementSpec module="tagdocs" ident="stringVal" mode="delete"/>
<elementSpec module="tagdocs" ident="tag" mode="delete"/>
<elementSpec module="tagdocs" ident="val" mode="delete"/>
<elementSpec module="tagdocs" ident="valDesc" mode="delete"/>





<!-- classes added -->

<classSpec ident="att.rendered" mode="add" type="atts">
<desc>the class of elements whose rendition has been recorded
intermittently in the BNC</desc>
<attList>
<attDef ident="rend">
<desc>a code briefly characterising the way the element content was originally
presented. </desc>
<valList type="closed">
<valItem ident="bo"><desc>bold weight font</desc></valItem>
<valItem ident="bx"><desc>boxed</desc></valItem>
<valItem ident="hi"><desc>superscript</desc></valItem>
<valItem ident="ib"><desc>italic and bold</desc></valItem>
<valItem ident="ih"><desc>italic superscript</desc></valItem>
<valItem ident="il"><desc>italic subscript</desc></valItem>
<valItem ident="it"><desc>italic font</desc></valItem>
<valItem ident="iu"><desc>italic and underlined</desc></valItem>
<valItem ident="lo"><desc>subscript</desc></valItem>
<valItem ident="qc"><desc>centre-aligned</desc></valItem>
<valItem ident="ro"><desc>roman within italic</desc></valItem>
<valItem ident="st"><desc>strike-out</desc></valItem>
<valItem ident="ub"><desc>bold underlined </desc></valItem>
<valItem ident="ul"><desc>underlined</desc></valItem>
<valItem ident="xx"><desc>crossed-out</desc></valItem>
</valList>
</attDef></attList>
</classSpec>


<classSpec ident="att.c5coded" mode="add" type="atts">
<desc>elements which carry a CLAWS 5 Part of speech code</desc>
<attList>
<attDef ident="c5" usage="req">
 <desc>supplies the CLAWS 5 code associated with this word.</desc>
<datatype><rng:ref name="data.code"/></datatype>
<valList type="closed">
<valItem ident="AJ0" n="m2adj"><desc>Adjective (general or positive) (e.g. <q>good</q>, <q>old</q>, <q>beautiful</q>)</desc></valItem>
<valItem ident="AJC" n="m2adj"><desc>Comparative adjective (e.g. <q>better</q>, <q>older</q>)</desc></valItem>
<valItem ident="AJS" n="m2adj"><desc>Superlative adjective (e.g. <q>best</q>, <q>oldest</q>)</desc></valItem>
<valItem ident="AT0" n="m2art"><desc>Article (e.g. <q>the</q>, <q>a</q>, <q>an</q>, <q>no</q>)</desc></valItem>
<valItem ident="AV0" n="m2adv"><desc>General adverb: an adverb not subclassified as AVP or AVQ (see below) (e.g. <q>often</q>, <q>well</q>, <q>longer</q> (adv.), <q>furthest</q>.</desc></valItem>
<valItem ident="AVP" n="m2prep"><desc>Adverb particle (e.g. <q>up</q>, <q>off</q>, <q>out</q>)</desc></valItem>
<valItem ident="AVQ" n="m2adv"><desc>Wh-adverb (e.g. <q>when</q>, <q>where</q>, <q>how</q>, <q>why</q>, <q>wherever</q>) </desc></valItem>
<valItem ident="CJC" n="m2conj"><desc>Coordinating conjunction (e.g. <q>and</q>, <q>or</q>, <q>but</q>)</desc></valItem>
<valItem ident="CJS" n="m2conj"><desc>Subordinating conjunction (e.g. <q>although</q>, <q>when</q>)</desc></valItem>
<valItem ident="CJT" n="m2conj"><desc>The subordinating conjunction <q>that</q> </desc></valItem>
<valItem ident="CRD" n="m2num"><desc>Cardinal number (e.g. <q>one</q>, <q>3</q>, <q>fifty-five</q>, <q>3609</q>)</desc></valItem>
<valItem ident="DPS" n="m2art"><desc>Possessive determiner-pronoun (e.g. <q>your</q>, <q>their</q>, <q>his</q>)</desc></valItem>
<valItem ident="DT0" n="m2art"><desc>General determiner-pronoun: i.e. a determiner-pronoun which is not a DTQ or an AT0. </desc></valItem>
<valItem ident="DTQ" n="m2art"><desc>Wh-determiner-pronoun (e.g. <q>which</q>, <q>what</q>, <q>whose</q>, <q>whichever</q>) </desc></valItem>
<valItem ident="EX0" n="ex0"><desc>Existential there, i.e. <q>there</q> occurring in the <q>there is</q> ... or <q>there are</q> ... construction</desc></valItem>
<valItem ident="ITJ" n="itj"><desc>Interjection or other isolate (e.g. <q>oh</q>, <q>yes</q>, <q>mhm</q>, <q>wow</q>)</desc></valItem>
<valItem ident="NN0" n="m2nn"><desc>Common noun, neutral for number (e.g. <q>aircraft</q>, <q>data</q>, <q>committee</q>) </desc></valItem>
<valItem ident="NN1" n="m2nn"><desc>Singular common noun (e.g. <q>pencil</q>, <q>goose</q>, <q>time</q>, <q>revelation</q>)</desc></valItem>
<valItem ident="NN2" n="m2nn"><desc>Plural common noun (e.g. <q>pencils</q>, <q>geese</q>, <q>times</q>, <q>revelations</q>)</desc></valItem>
<valItem ident="NP0" n="m2np0"><desc>Proper noun (e.g. <q>London</q>, <q>Michael</q>, <q>Mars</q>, <q>IBM</q>) </desc></valItem>
<valItem ident="ORD" n="m2ord"><desc>Ordinal numeral (e.g. <q>first</q>, <q>sixth</q>, <q>77th</q>, <q>last</q>) .</desc></valItem>
<valItem ident="PNI" n="m2art"><desc>Indefinite pronoun (e.g. <q>none</q>, <q>everything</q>, <q>one</q> [as pronoun], <q>nobody</q>)</desc></valItem>
<valItem ident="PNP" n="m2art"><desc>Personal pronoun (e.g. <q>I</q>, <q>you</q>, <q>them</q>, <q>ours</q>)</desc></valItem>
<valItem ident="PNQ" n="m2art"><desc>Wh-pronoun (e.g. <q>who</q>, <q>whoever</q>, <q>whom</q>)</desc></valItem>
<valItem ident="PNX" n="m2art"><desc>Reflexive pronoun (e.g. <q>myself</q>, <q>yourself</q>, <q>itself</q>, <q>ourselves</q>)</desc></valItem>
<valItem ident="POS" n="pos"><desc>The possessive or genitive marker <q>'s </q>or <q>'</q></desc></valItem>
<valItem ident="PRF" n="m2prep"><desc>The preposition <q>of</q></desc></valItem>
<valItem ident="PRP" n="m2prep"><desc>Preposition (except for <q>of</q>) (e.g. <q>about</q>, <q>at</q>, <q>in</q>, <q>on</q>, <q>on behalf of</q>, <q>with</q>)</desc></valItem>
<valItem ident="TO0" n="to0"><desc>Infinitive marker <q>to</q> </desc></valItem>
<valItem ident="UNC" n="unc"><desc>Unclassified items which are not appropriately considered as items of the English lexicon.</desc></valItem>
<valItem ident="VBB" n="m2vb"><desc>The present tense forms of the verb BE, except for <q>is</q>, <q>'s</q>: i.e. <q>am</q>, <q>are</q>, <q>'m</q>, <q>'re</q> and <q>be</q> [subjunctive or imperative]</desc></valItem>
<valItem ident="VBD" n="m2vb"><desc>The past tense forms of the verb BE: <q>was</q> and <q>were</q></desc></valItem>
<valItem ident="VBG" n="m2vb"><desc>The -ing form of the verb BE: <q>being</q></desc></valItem>
<valItem ident="VBI" n="m2vb"><desc>The infinitive form of the verb BE: <q>be</q></desc></valItem>
<valItem ident="VBN" n="m2vb"><desc>The past participle form of the verb BE: <q>been</q></desc></valItem>
<valItem ident="VBZ" n="m2vb"><desc>The -s form of the verb BE: <q>is</q>, <q>'s</q></desc></valItem>
<valItem ident="VDB" n="m2vb"><desc>The finite base form of the verb BE: <q>do</q></desc></valItem>
<valItem ident="VDD" n="m2vb"><desc>The past tense form of the verb DO: <q>did</q></desc></valItem>
<valItem ident="VDG" n="m2vb"><desc>The -ing form of the verb DO: <q>doing</q></desc></valItem>
<valItem ident="VDI" n="m2vb"><desc>The infinitive form of the verb DO: <q>do</q></desc></valItem>
<valItem ident="VDN" n="m2vb"><desc>The past participle form of the verb DO: <q>done</q></desc></valItem>
<valItem ident="VDZ" n="m2vb"><desc>The -s form of the verb DO: <q>does</q>, <q>'s</q></desc></valItem>
<valItem ident="VHB" n="m2vb"><desc>The finite base form of the verb HAVE: <q>have</q>, <q>'ve</q></desc></valItem>
<valItem ident="VHD" n="m2vb"><desc>The past tense form of the verb HAVE: <q>had</q>, <q>'d</q></desc></valItem>
<valItem ident="VHG" n="m2vb"><desc>The -ing form of the verb HAVE: <q>having</q></desc></valItem>
<valItem ident="VHI" n="m2vb"><desc>The infinitive form of the verb HAVE: <q>have</q></desc></valItem>
<valItem ident="VHN" n="m2vb"><desc>The past participle form of the verb HAVE: <q>had</q></desc></valItem>
<valItem ident="VHZ" n="m2vb"><desc>The -s form of the verb HAVE: <q>has</q>, <q>'s</q></desc></valItem>
<valItem ident="VM0" n="m2vb"><desc>Modal auxiliary verb (e.g. <q>will</q>, <q>would</q>, <q>can</q>, <q>could</q>, <q>'ll</q>, <q>'d</q>)</desc></valItem>
<valItem ident="VVB" n="m2vb"><desc>The finite base form of lexical verbs (e.g. <q>forget</q>, <q>send</q>, <q>live</q>, <q>return</q>) [Including the imperative and present subjunctive]</desc></valItem>
<valItem ident="VVD" n="m2vb"><desc>The past tense form of lexical verbs (e.g. <q>forgot</q>, <q>sent</q>, <q>lived</q>, <q>returned</q>)</desc></valItem>
<valItem ident="VVG" n="m2vb"><desc>The -ing form of lexical verbs (e.g. <q>forgetting</q>, <q>sending</q>, <q>living</q>, <q>returning</q>)</desc></valItem>
<valItem ident="VVI" n="m2vb"><desc>The infinitive form of lexical verbs (e.g. <q>forget</q>, <q>send</q>, <q>live</q>, <q>return</q>)</desc></valItem>
<valItem ident="VVN" n="m2vb"><desc>The past participle form of lexical verbs (e.g. <q>forgotten</q>, <q>sent</q>, <q>lived</q>, <q>returned</q>)</desc></valItem>
<valItem ident="VVZ" n="m2vb"><desc>The -s form of lexical verbs (e.g. <q>forgets</q>, <q>sends</q>, <q>lives</q>, <q>returns</q>)</desc></valItem>
<valItem ident="XX0" n="xx0"><desc>The negative particle <q>not</q> or <q>n't </q></desc></valItem>
<valItem ident="XXX" n=""><desc>An unknown code</desc></valItem>
<valItem ident="ZZ0" n="zz0"><desc>Alphabetical symbols (e.g. <q>A</q>, <q>a</q>, <q>B</q>, <q>b</q>, <q>c</q>, <q>d</q>)</desc></valItem>
<valItem ident="AJ0-AV0"><desc>Either AJ0 or AV0</desc></valItem>
<valItem ident="AJ0-NN1"><desc>Either AJ0 or NN1</desc></valItem>
<valItem ident="AJ0-VVD"><desc>Either AJ0 or VVD</desc></valItem>
<valItem ident="AJ0-VVG"><desc>Either AJ0 or VVG</desc></valItem>
<valItem ident="AJ0-VVN"><desc>Either AJ0 or VVN</desc></valItem>
<valItem ident="AV0-AJ0"><desc>Either AV0 or AJ0</desc></valItem>
<valItem ident="AVP-PRP"><desc>Either AVP or PRP</desc></valItem>
<valItem ident="AVQ-CJS"><desc>Either AVQ or CJS</desc></valItem>
<valItem ident="CJS-AVQ"><desc>Either CJS or AVQ</desc></valItem>
<valItem ident="CJS-PRP"><desc>Either CJS or PRP</desc></valItem>
<valItem ident="CJT-DT0"><desc>Either CJT or DT0</desc></valItem>
<valItem ident="CRD-PNI"><desc>Either CRD or PNI</desc></valItem>
<valItem ident="DT0-CJT"><desc>Either DT0 or CJT</desc></valItem>
<valItem ident="NN1-AJ0"><desc>Either NN1 or AJ0</desc></valItem>
<valItem ident="NN1-NP0"><desc>Either NN1 or NP0</desc></valItem>
<valItem ident="NN1-VVB"><desc>Either NN1 or VVB</desc></valItem>
<valItem ident="NN1-VVG"><desc>Either NN1 or VVG</desc></valItem>
<valItem ident="NN2-VVZ"><desc>Either NN2 or VVZ</desc></valItem>
<valItem ident="NP0-NN1"><desc>Either NP0 or NN1</desc></valItem>
<valItem ident="PNI-CRD"><desc>Either PNI or CRD</desc></valItem>
<valItem ident="PRP-AVP"><desc>Either PRP or AVP</desc></valItem>
<valItem ident="PRP-CJS"><desc>Either PRP or CJS</desc></valItem>
<valItem ident="VVB-NN1"><desc>Either VVB or NN1</desc></valItem>
<valItem ident="VVD-AJ0"><desc>Either VVD or AJ0</desc></valItem>
<valItem ident="VVD-VVN"><desc>Either VVD or VVN</desc></valItem>
<valItem ident="VVG-AJ0"><desc>Either VVG or AJ0</desc></valItem>
<valItem ident="VVG-NN1"><desc>Either VVG or NN1</desc></valItem>
<valItem ident="VVN-AJ0"><desc>Either VVN or AJ0</desc></valItem>
<valItem ident="VVN-VVD"><desc>Either VVN or VVD</desc></valItem>
<valItem ident="VVZ-NN2"><desc>Either VVZ or NN2</desc></valItem>
</valList>
</attDef>
</attList></classSpec>


<!-- class changes -->

<classSpec ident="att.global" module="tei" mode="delete" type="atts"/>
<!--
<attList>
  <attDef ident="xml:space"  mode="delete"></attDef>
<attDef ident="xml:id"	mode="delete"></attDef>
<attDef ident="n" mode="delete"></attDef>
<attDef ident="xml:lang" mode="delete"/>
<attDef ident="rend" mode="delete"/>
<attDef ident="xml:base" mode="delete"/>
</attList>
</classSpec>-->

<classSpec ident="att.divLike" module="tei" mode="change" type="atts">
<!--<classes>
<memberOf key="att.rendered"/>
</classes>-->
<attList>
<attDef ident="org" mode="delete"/>
<attDef ident="sample" mode="delete"/>
<attDef ident="part" mode="delete"/>
<attDef ident="level" mode="add">
<desc>specifies the hierarchic level of this division as a number
between  1 (outermost or largest division) and 4
(innermost or smallest). </desc>
<datatype><rng:ref name="data.count"/></datatype>
</attDef>
<attDef ident="type" mode="change">
<desc>identifies the type or function of the division.</desc>
<valList>
<valItem ident="advertisement">advertisement section or insert</valItem>
<valItem ident="appendix">appendix</valItem>
<valItem ident="article">single article in a journal</valItem>
<valItem ident="blurb">any kind of promotional front matter</valItem>
<valItem ident="cartoon">cartoon</valItem>
<valItem ident="chapter">chapter of a novel etc.</valItem>
<valItem ident="column">newspaper column, regular feature etc.</valItem>
<valItem ident="compo">composite material</valItem> 
<valItem ident="contents">table of contents</valItem>
<valItem ident="front">any kind of front matter</valItem>
<valItem ident="leaflet">free-standing leaflet or pamphlet</valItem>
<valItem ident="paper">an academic paper in a collection</valItem>
<valItem ident="part">subdivision of a chapter</valItem>
<valItem ident="recipe">separate recipe in a cookbook</valItem>
<valItem ident="section">any subdivision</valItem>
<valItem ident="sidebar">sidebar or displayed paragraph e.g. in a news story</valItem>
<valItem ident="story">distinct story in a periodical or collection</valItem>
<valItem ident="subsection">smaller subdivision of any kind</valItem>
</valList> 
</attDef></attList></classSpec>

<classSpec ident="att.timed" module="tei" mode="change" type="atts">
<attList>
<attDef ident="start" mode="delete"/>
<attDef ident="end" mode="delete"/>
<attDef ident="dur" mode="change">
<desc>indicates the duration of the element in minutes. </desc>
<datatype>data.count</datatype>
</attDef>
</attList></classSpec>

<classSpec ident="att.editLike" module="tei" mode="change" type="atts">
<attList>
<attDef ident="cert" mode="delete"/>
<attDef ident="evidence" mode="delete"/>
</attList></classSpec>

<classSpec ident="att.typed" module="tei" mode="change" type="atts">
<attList>
<attDef ident="subtype" mode="delete"/>
</attList></classSpec>


<classSpec ident="att.placement" module="tei" mode="delete" type="atts"/>
<!--classSpec ident="att.placement" module="tei" mode="change" type="atts">
<attList>
<attDef ident="place" mode="change">
<valList>
<valItem ident="FOOT"><desc>footnote</desc></valItem>
<valItem ident="SIDE"><desc>side note</desc></valItem>
<valItem ident="END"><desc>endnote</desc></valItem>
</valList>
</attDef>
</attList>
</classSpec-->
-
<classSpec ident="att.datepart" type="atts" mode="change">
<attList>
<attDef ident="value">
<desc>supplies a standardized version of the date</desc>
<datatype>xsd:date</datatype>
</attDef>
<attDef ident="type" mode="delete"/>
<attDef ident="full" mode="delete"/>
</attList></classSpec>

<!-- class deletions -->

<classSpec ident="att.global.analytic" type="atts" mode="delete"/>
<classSpec ident="att.datable" type="atts" mode="delete"/>
<classSpec ident="att.declarable" type="atts" mode="delete"/>
<classSpec ident="att.naming" type="atts" mode="delete"/>
<classSpec ident="att.segLike" type="atts" mode="delete"/>
<classSpec ident="model.choicePart" type="model" mode="delete"/>
<classSpec ident="model.frontPart" type="model" mode="delete"/>
<classSpec ident="model.entryParts.top" type="model" mode="delete"/>
<classSpec ident="model.featureVal" type="model" mode="delete"/>
<classSpec ident="model.msItemPart" type="model" mode="delete"/>

<!-- The following elements are not used -->

<elementSpec module="analysis" ident="cl" mode="delete"/>
<elementSpec module="analysis" ident="interp" mode="delete"/>
<elementSpec module="analysis" ident="interpGrp" mode="delete"/>
<elementSpec module="analysis" ident="m" mode="delete"/>
<elementSpec module="analysis" ident="phr" mode="delete"/>
<elementSpec module="analysis" ident="span" mode="delete"/>
<elementSpec module="analysis" ident="spanGrp" mode="delete"/>
<elementSpec module="core" ident="abbr" mode="delete"/>
<elementSpec module="core" ident="add" mode="delete"/>
<elementSpec module="core" ident="addrLine" mode="delete"/>
<elementSpec module="core" ident="altIdent" mode="delete"/>
<elementSpec module="core" ident="analytic" mode="delete"/>
<elementSpec module="core" ident="biblFull" mode="delete"/>
<elementSpec module="core" ident="biblItem" mode="delete"/>
<elementSpec module="core" ident="biblScope" mode="delete"/>
<elementSpec module="core" ident="biblStruct" mode="delete"/>
<elementSpec module="core" ident="binaryObject" mode="delete"/>
<elementSpec module="core" ident="cb" mode="delete"/>
<elementSpec module="core" ident="choice" mode="delete"/>
<elementSpec module="core" ident="cit" mode="delete"/>
<elementSpec module="core" ident="dateRange" mode="delete"/>
<elementSpec module="core" ident="del" mode="delete"/>

<elementSpec module="core" ident="distinct" mode="delete"/>
<elementSpec module="core" ident="divGen" mode="delete"/>
<elementSpec module="core" ident="emph" mode="delete"/>
<elementSpec module="core" ident="equiv" mode="delete"/>
<elementSpec module="core" ident="expan" mode="delete"/>
<elementSpec module="core" ident="foreign" mode="delete"/>
<elementSpec module="core" ident="gloss" mode="delete"/>
<elementSpec module="core" ident="graphic" mode="delete"/>
<elementSpec module="core" ident="headItem" mode="delete"/>
<elementSpec module="core" ident="headLabel" mode="delete"/>
<elementSpec module="core" ident="index" mode="delete"/>
<elementSpec module="core" ident="lb" mode="delete"/>
<elementSpec module="core" ident="listBibl" mode="delete"/>
<elementSpec module="core" ident="measure" mode="delete"/>
<elementSpec module="core" ident="meeting" mode="delete"/>
<elementSpec module="core" ident="mentioned" mode="delete"/>
<elementSpec module="core" ident="milestone" mode="delete"/>
<elementSpec module="core" ident="monogr" mode="delete"/>
<elementSpec module="core" ident="num" mode="delete"/>
<elementSpec module="core" ident="orig" mode="delete"/>
<elementSpec module="core" ident="postBox" mode="delete"/>
<elementSpec module="core" ident="postCode" mode="delete"/>
<elementSpec module="core" ident="q" mode="delete"/>
<elementSpec module="core" ident="ref" mode="delete"/>
<elementSpec module="core" ident="reg" mode="delete"/>
<elementSpec module="core" ident="rs" mode="delete"/>
<elementSpec module="core" ident="sic" mode="delete"/>
<elementSpec module="core" ident="series" mode="delete"/>
<elementSpec module="core" ident="soCalled" mode="delete"/>
<elementSpec module="core" ident="street" mode="delete"/>
<elementSpec module="core" ident="time" mode="delete"/>
<elementSpec module="core" ident="timeRange" mode="delete"/>
<elementSpec module="corpus" ident="channel" mode="delete"/>
<elementSpec module="corpus" ident="constitution" mode="delete"/>
<elementSpec module="corpus" ident="derivation" mode="delete"/>
<elementSpec module="corpus" ident="domain" mode="delete"/>
<elementSpec module="corpus" ident="factuality" mode="delete"/>
<elementSpec module="corpus" ident="firstLang" mode="delete"/>
<elementSpec module="corpus" ident="interaction" mode="delete"/>
<elementSpec module="corpus" ident="preparedness" mode="delete"/>
<elementSpec module="corpus" ident="purpose" mode="delete"/>
<elementSpec module="corpus" ident="textDesc" mode="delete"/>
<elementSpec module="header" ident="authority" mode="delete"/>
<elementSpec module="header" ident="broadcast" mode="delete"/>
<elementSpec module="header" ident="cRefPattern" mode="delete"/>
<elementSpec module="header" ident="correction" mode="delete"/>
<elementSpec module="header" ident="equipment" mode="delete"/>
<elementSpec module="header" ident="fsdDecl" mode="delete"/>
<elementSpec module="header" ident="funder" mode="delete"/>
<elementSpec module="header" ident="hyphenation" mode="delete"/>
<elementSpec module="header" ident="interpretation" mode="delete"/>
<elementSpec module="header" ident="metDecl" mode="delete"/>
<elementSpec module="header" ident="metSym" mode="delete"/>
<!--elementSpec module="header" ident="namespace" mode="delete"/-->
<elementSpec module="header" ident="normalization" mode="delete"/>
<elementSpec module="header" ident="notesStmt" mode="delete"/>
<elementSpec module="header" ident="principal" mode="delete"/>
<elementSpec module="header" ident="quotation" mode="delete"/>
<elementSpec module="header" ident="rendition" mode="delete"/>
<elementSpec module="header" ident="scriptStmt" mode="delete"/>
<elementSpec module="header" ident="seriesStmt" mode="delete"/>
<elementSpec module="header" ident="sponsor" mode="delete"/>
<elementSpec module="header" ident="state" mode="delete"/>
<elementSpec module="header" ident="stdVals" mode="delete"/>
<elementSpec module="header" ident="variantEncoding" mode="delete"/>
<elementSpec module="namesdates" ident="addName" mode="delete"/>
<elementSpec module="namesdates" ident="affiliation" mode="delete"/>
<elementSpec module="namesdates" ident="birth" mode="delete"/>
<elementSpec module="namesdates" ident="bloc" mode="delete"/>
<elementSpec module="namesdates" ident="country" mode="delete"/>
<elementSpec module="namesdates" ident="day" mode="delete"/>
<elementSpec module="namesdates" ident="death" mode="delete"/>
<elementSpec module="namesdates" ident="distance" mode="delete"/>
<elementSpec module="namesdates" ident="district" mode="delete"/>
<elementSpec module="namesdates" ident="education" mode="delete"/>
<elementSpec module="namesdates" ident="faith" mode="delete"/>
<elementSpec module="namesdates" ident="floruit" mode="delete"/>
<elementSpec module="namesdates" ident="forename" mode="delete"/>
<elementSpec module="namesdates" ident="genName" mode="delete"/>
<elementSpec module="namesdates" ident="geog" mode="delete"/>
<elementSpec module="namesdates" ident="geogName" mode="delete"/>
<elementSpec module="namesdates" ident="hour" mode="delete"/>
<elementSpec module="namesdates" ident="langKnowledge" mode="delete"/>
<elementSpec module="namesdates" ident="langKnown" mode="delete"/>
<elementSpec module="namesdates" ident="listPerson" mode="delete"/>
<elementSpec module="namesdates" ident="minute" mode="delete"/>
<elementSpec module="namesdates" ident="month" mode="delete"/>
<elementSpec module="namesdates" ident="nameLink" mode="delete"/>
<elementSpec module="namesdates" ident="nationality" mode="delete"/>
<elementSpec module="namesdates" ident="occasion" mode="delete"/>
<elementSpec module="namesdates" ident="offset" mode="delete"/>
<elementSpec module="namesdates" ident="orgDivn" mode="delete"/>
<elementSpec module="namesdates" ident="orgName" mode="delete"/>
<elementSpec module="namesdates" ident="orgTitle" mode="delete"/>
<elementSpec module="namesdates" ident="orgType" mode="delete"/>
<elementSpec module="namesdates" ident="particLinks" mode="delete"/>
<elementSpec module="namesdates" ident="persEvent" mode="delete"/>
<elementSpec module="namesdates" ident="persState" mode="delete"/>
<elementSpec module="namesdates" ident="persTrait" mode="delete"/>
<elementSpec module="namesdates" ident="personGrp" mode="delete"/>
<!--elementSpec module="namesdates" ident="placeName" mode="delete"-->
<elementSpec module="namesdates" ident="region" mode="delete"/>
<elementSpec module="namesdates" ident="residence" mode="delete"/>
<elementSpec module="namesdates" ident="roleName" mode="delete"/>
<elementSpec module="namesdates" ident="second" mode="delete"/>
<elementSpec module="namesdates" ident="settlement" mode="delete"/>
<elementSpec module="namesdates" ident="sex" mode="delete"/>
<elementSpec module="namesdates" ident="socecStatus" mode="delete"/>
<elementSpec module="namesdates" ident="surname" mode="delete"/>
<elementSpec module="namesdates" ident="week" mode="delete"/>
<elementSpec module="namesdates" ident="year" mode="delete"/>
<elementSpec module="spoken" ident="kinesic" mode="delete"/>
<elementSpec module="spoken" ident="writing" mode="delete"/>
<elementSpec module="textstructure" ident="argument" mode="delete"/>
<elementSpec module="textstructure" ident="back" mode="delete"/>
<elementSpec module="textstructure" ident="body" mode="delete"/>
<elementSpec module="textstructure" ident="byline" mode="delete"/>
<elementSpec module="textstructure" ident="closer" mode="delete"/>
<elementSpec module="textstructure" ident="dateline" mode="delete"/>
<elementSpec module="textstructure" ident="div0" mode="delete"/>
<elementSpec module="textstructure" ident="div1" mode="delete"/>
<elementSpec module="textstructure" ident="div2" mode="delete"/>
<elementSpec module="textstructure" ident="div3" mode="delete"/>
<elementSpec module="textstructure" ident="div4" mode="delete"/>
<elementSpec module="textstructure" ident="div5" mode="delete"/>
<elementSpec module="textstructure" ident="div6" mode="delete"/>
<elementSpec module="textstructure" ident="div7" mode="delete"/>
<elementSpec module="textstructure" ident="docAuthor" mode="delete"/>
<elementSpec module="textstructure" ident="docDate" mode="delete"/>
<elementSpec module="textstructure" ident="docEdition" mode="delete"/>
<elementSpec module="textstructure" ident="docImprint" mode="delete"/>
<elementSpec module="textstructure" ident="docTitle" mode="delete"/>
<elementSpec module="textstructure" ident="epigraph" mode="delete"/>
<elementSpec module="textstructure" ident="front" mode="delete"/>
<elementSpec module="textstructure" ident="group" mode="delete"/>
<elementSpec module="textstructure" ident="imprimatur" mode="delete"/>
<elementSpec module="textstructure" ident="opener" mode="delete"/>
<elementSpec module="textstructure" ident="salute" mode="delete"/>
<elementSpec module="textstructure" ident="signed" mode="delete"/>
<elementSpec module="textstructure" ident="titlePage" mode="delete"/>
<elementSpec module="textstructure" ident="titlePart" mode="delete"/>
<elementSpec module="textstructure" ident="trailer" mode="delete"/>
<!-- macros deleted -->

<macroSpec ident="data.certainty" mode="delete"><content/></macroSpec>

<macroSpec ident="data.temporal" mode="change">
 <content><rng:choice>
<rng:data type="date"/>
<rng:data type="gYear"/>
<rng:data type="gYearMonth"/>
</rng:choice></content></macroSpec>

</schemaSpec>
</body>
</text>
</TEI>

