Documents/oldODDmanual/teidoc.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:xi="http://www.w3.org/2001/XInclude"
     xmlns:rng="http://relaxng.org/ns/structure/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>TEI Documentation</title>
            <author>Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
	   <p>for TEI web site only</p>
	 </publicationStmt>
         <sourceDesc>
            <p>derived from old DTD extension files for P4</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>
<p>The <ident>teidoc</ident> consists of some new elements,
and a subset of the TEI.</p>

<p>First, here is the small set of new elements:
<specGrp xml:id="TEIDOCADD">
 <elementSpec ident="output">
   <desc>Output from some computer program</desc>
  <classes>
    <memberOf key="tei.typed"/>
    <memberOf key="tei.data"/>
    <memberOf key="tei.common"/>
  </classes>
  <content>
    <rng:text/>
    <s:pattern name="testoutput"  xmlns:s="http://www.ascc.net/xml/schematron">
      <s:rule context="tei:output">
	<s:report test="* and @url">
	  child elements of "output" cannot be provided
	  if the URL attribute is also used
	</s:report>
      </s:rule>
    </s:pattern>
  </content>
  <attList>
    <attDef ident="url" usage="opt">
      <gloss>Location of file containing code</gloss>
      <datatype>
	<rng:data type="anyURI"/>
      </datatype>
    </attDef>
  </attList>
</elementSpec>

 <elementSpec ident="input">
   <desc>Input to some computer program, including formatted
   fragments of programming language</desc>
  <classes>
    <memberOf key="tei.data"/>
    <memberOf key="tei.common"/>
  </classes>
  <content>
    <rng:text/>
    <s:pattern name="testoutput"  xmlns:s="http://www.ascc.net/xml/schematron">
      <s:rule context="tei:output">
	<s:report test="* and @url">
	  child elements of "input" cannot be provided
	  if the URL attribute is also used
	</s:report>
      </s:rule>
    </s:pattern>
  </content>
  <attList>
    <attDef ident="url" usage="opt">
      <gloss>Location of file containing code</gloss>
      <datatype>
	<rng:data type="anyURI"/>
      </datatype>
    </attDef>
  </attList>
</elementSpec>

 <elementSpec ident="gi">
  <desc>contains the name (generic identifier) of an element.</desc>
  <classes><memberOf key="tei.data"/></classes>
  <content>
    <rng:text/>
  </content>
  <attList>
    <attDef usage="opt" ident="tei">
      <equiv/>
      <datatype><rng:data type="boolean"/></datatype>
      <defaultVal>true</defaultVal>
      <valList type="closed">
        <valItem ident="true">
          <equiv/>
          <gloss>this element is part of the TEI scheme.</gloss>
        </valItem>
        <valItem ident="false">
          <equiv/>
          <gloss>this element is not part of the TEI scheme.</gloss>
        </valItem>
      </valList>
      <desc>indicates whether this element is part of the TEI encoding
		scheme (i.e. defined in a TEI DTD fragment) or not.</desc>
    </attDef>
  </attList>
  <exemplum>
    <eg><![CDATA[An <gi tei="false">LI</gi> element is roughly
    analagous to an <gi>item</gi> element.]]></eg>
  </exemplum>
</elementSpec>

 <elementSpec ident="ident">
   <desc>The name of some object</desc>
   <classes><memberOf key="tei.data"/></classes>
   <content>
     <rng:text/>
   </content>
 </elementSpec>

 <elementSpec ident="value">
   <desc>The value of some identifier</desc>
   <classes><memberOf key="tei.data"/></classes>
   <content>
     <rng:text/>
   </content>
 </elementSpec>

 <elementSpec ident="code">
   <desc>Literal code from a computer program</desc>
   <classes><memberOf key="tei.data"/></classes>
   <content>
     <rng:text/>
  </content>
 </elementSpec>
 
 <elementSpec ident="kw">
   <desc>A keyword in a computer language</desc>
   <classes><memberOf key="tei.data"/></classes>
   <content>
     <rng:text/>
  </content>
 </elementSpec>
 
 <elementSpec ident="path">
   <desc>A directory or file specification</desc>
   <classes><memberOf key="tei.data"/></classes>
   <content>
     <rng:text/>
  </content>
 </elementSpec>
 
 <elementSpec ident="command">
   <desc>A command to be typed in a human</desc>
   <classes><memberOf key="tei.data"/></classes>
   <content>
     <rng:text/>
   </content>
 </elementSpec>
 
 <elementSpec ident="software">
   <desc>The name of a computer program</desc>
   <classes><memberOf key="tei.data"/></classes>
   <content>
     <rng:text/>
   </content>
 </elementSpec>
 
 <elementSpec ident="url">
   <desc>A representation of a URL, without making it a link</desc>
   <classes><memberOf key="tei.data"/></classes>
   <content>
    <rng:data type="anyURI"/>
   </content>
 </elementSpec>

 <elementSpec ident="glossList">
   <equiv/>
   <gloss/>
   <desc>A sequence of label and item pairs organized as a gloss list.</desc>
   <classes>
     <memberOf key="tei.lists"/>
   </classes>
   <content>
     <rng:zeroOrMore>
       <rng:group>
	 <rng:ref name="label"/>
	 <rng:ref name="item"/>
       </rng:group>
     </rng:zeroOrMore>
   </content>
 </elementSpec>

 <elementSpec ident="oList">
   <equiv/>
   <gloss/>
   <desc>A sequence of items organized as an ordered list.</desc>
   <classes>
     <memberOf key="tei.lists"/>
   </classes>
   <content>
     <rng:zeroOrMore>
       <rng:ref name="item"/>
     </rng:zeroOrMore>
   </content>
 </elementSpec>

 <elementSpec ident="uList">
   <equiv/>
   <gloss/>
   <desc>A sequence of items organized as an unordered list.</desc>
   <classes>
     <memberOf key="tei.lists"/>
   </classes>
   <content>
     <rng:zeroOrMore>
       <rng:ref name="item"/>
     </rng:zeroOrMore>
   </content>
</elementSpec>

<elementSpec ident="xinclude" mode="add" ns="http://www.w3.org/2001/XInclude">
  <altIdent>include</altIdent>
  <desc>The W3C XInclude element</desc>
  <classes>
    <memberOf key="tei.Incl"/>
  </classes>
  <content>
    <rng:optional>
      <rng:element name="fallback"
		   ns="http://www.w3.org/2001/XInclude">
	<rng:zeroOrMore>
	  <rng:element>
	    <rng:anyName/>
	    <rng:zeroOrMore>
	      <rng:attribute>
		<rng:anyName/>
	      </rng:attribute>
	    </rng:zeroOrMore>
	  </rng:element>
	</rng:zeroOrMore>
      </rng:element>
    </rng:optional>
  </content>
  <attList>
    <attDef ident="href" usage="req">
      <gloss>URI of resource to be include</gloss>
      <datatype>
	<rng:data type="anyURI"/>
      </datatype>
    </attDef>
    <attDef ident="parse">
      <datatype>
	<rng:choice>
	  <rng:value>xml</rng:value>
	  <rng:value>text</rng:value>
	</rng:choice>
      </datatype>
      <defaultVal>xml</defaultVal>
    </attDef>
    <attDef ident="xpointer">
      <datatype>
	<rng:text/>
      </datatype>
    </attDef>
    <attDef ident="encoding">
      <datatype>
	<rng:text/>
      </datatype>
    </attDef>
    <attDef ident="accept">
      <datatype>
	<rng:text/>
      </datatype>
    </attDef>
    <attDef
	ident="accept-charset">
      <datatype>
	<rng:text/>
      </datatype>
    </attDef>
    <attDef ident="accept-language">
      <datatype>
	<rng:text/>
      </datatype>
    </attDef>
  </attList>
</elementSpec>
</specGrp>
</p>


<p>Now for the wrapping schema, which imports 
selected TEI modules. Some existing elements are redefined
to be null.
<schemaSpec ident="teidoc">
  <specGrpRef target="#TEIDOCADD"/>
  <moduleRef key="tei"/>
  <moduleRef key="core"/>
  <moduleRef key="header"/>
  <moduleRef key="textstructure"/>
  <moduleRef key="figures"/>
  <moduleRef key="linking"/>
  <classSpec module="linking" ident="tei.linking" mode="change">
    <attList>
      <attDef ident="corresp" mode="delete"/>
      <attDef ident="synch" mode="delete"/>
      <attDef ident="sameAs" mode="delete"/>
      <attDef ident="copyOf" mode="delete"/>
      <attDef ident="next" mode="delete"/>
      <attDef ident="prev" mode="delete"/>
      <attDef ident="exclude" mode="delete"/>
      <attDef ident="select" mode="delete"/>
    </attList>
  </classSpec>
<elementSpec ident="alt" mode="delete" module="linking"  />
<elementSpec ident="altGrp" mode="delete" module="linking"  />
<elementSpec ident="analytic" mode="delete" module="core"  />
<elementSpec ident="broadcast" mode="delete" module="header"  />
<elementSpec ident="cb" mode="delete" module="core"  />
<elementSpec ident="correction" mode="delete" module="header"  />
<elementSpec ident="distinct" mode="delete" module="core"  />
<elementSpec ident="equipment" mode="delete" module="header"  />
<elementSpec ident="expan" mode="delete" module="core"  />
<elementSpec ident="fsdDecl" mode="delete" module="header"  />
<elementSpec ident="headItem" mode="delete" module="core"  />
<elementSpec ident="headLabel" mode="delete" module="core"  />
<elementSpec ident="hyphenation" mode="delete" module="header"  />
<elementSpec ident="interpretation" mode="delete" module="header"  />
<elementSpec ident="join" mode="delete" module="linking"  />
<elementSpec ident="joinGrp" mode="delete" module="linking"  />
<elementSpec ident="link" mode="delete" module="linking"  />
<elementSpec ident="linkGrp" mode="delete" module="linking"  />
<elementSpec ident="meeting" mode="delete" module="core"  />
<elementSpec ident="metDecl" mode="delete" module="header"  />
<elementSpec ident="normalization" mode="delete" module="header"  />
<elementSpec ident="num" mode="delete" module="core"  />
<elementSpec ident="recording" mode="delete" module="header"  />
<elementSpec ident="recordingStmt" mode="delete" module="header"  />
<elementSpec ident="scriptStmt" mode="delete" module="header"  />
<elementSpec ident="segmentation" mode="delete" module="header"  />
<elementSpec ident="series" mode="delete" module="core"  />
<elementSpec ident="state" mode="delete" module="header"  />
<elementSpec ident="stdVals" mode="delete" module="header"  />
<elementSpec ident="step" mode="delete" module="header"  />
<elementSpec ident="teiCorpus" mode="delete" module="core"  />
<elementSpec ident="timeRange" mode="delete" module="core"  />
<elementSpec ident="timeline" mode="delete" module="linking"  />
<elementSpec ident="variantEncoding" mode="delete" module="header"  />
<elementSpec ident="when" mode="delete" module="linking"  />

</schemaSpec>
</p>
</body>
</text>
</TEI>
