I18N/glossary.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_customization.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_customization.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title><!-- name of markup language being defined goes here --></title>
            <author><!-- primary author --></author>
            <editor><!-- editor or secondary author --></editor>
         </titleStmt>
         <publicationStmt>
           <publisher>TEI Internationalization Working Group</publisher>
        <!-- put <publisher>, <distributor>, or <authority> here -->
        <!-- put <availability> and other optional details about-->
        <!-- the publisher, distributor, or release authority here -->
      </publicationStmt>
         <sourceDesc>
            <p>born digital</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <head><!-- name of markup language being defined can be repeated here --></head>
         <p><!-- prose description of, and explanation of, markup language goes here;
              you can use any TEI constructs you like, including multiple paragarphs,
              tables, nested divisions, etc. Furthermore, <specGrp> elements may
              be used to include snippets of schema definitions, and <specList>
              can be used to include to insert a list of descriptions of elements
              and attributes. --></p>
         <schemaSpec ident="TEI-Glossary">     <!-- @ident is required -->
           <desc><!-- put a one-sentence description of this TEI customization here --></desc>
           <moduleRef key="tei"/>
           <moduleRef key="core" include="list item desc label gloss title p note hi ref"/>
           <moduleRef key="header" except="abstract appInfo application authority biblFull cRefPattern calendar calendarDesc catDesc catRef category change citeData citeStructure classCode classDecl conversion correction correspAction correspContext correspDesc creation distributor edition editionStmt editorialDecl encodingDesc extent funder geoDecl handNote hyphenation idno interpretation keywords listPrefixDef namespace normalization notesStmt prefixDef principal profileDesc projectDesc punctuation quotation refState refsDecl rendition samplingDecl schemaRef scriptNote segmentation seriesStmt sponsor stdVals styleDefDecl tagUsage tagsDecl taxonomy textClass unitDecl unitDef xenoData"/>
           <moduleRef key="textstructure" include="body TEI div text"/>
           <moduleRef key="tagdocs" include="eg gi att code"/>
            <!-- ODD-specific elements like <elementSpec> and <classSpec>;
             or references to <specGrp>s defined above using <specGrpRef>. -->
           <classSpec type="atts" ident="att.global" mode="change">
             <attList>
               <attDef ident="xml:lang" mode="change">
                 <datatype><dataRef key="teidata.enumerated"/></datatype>
                 <valList type="closed" mode="add">
                   <valItem ident="en">
                     <gloss xml:lang="en">English</gloss>
                   </valItem>
                   <valItem ident="es">
                     <gloss xml:lang="en">Spanish</gloss>
                   </valItem>
                   <valItem ident="de">
                     <gloss xml:lang="en">German</gloss>
                   </valItem>
                   <valItem ident="it">
                     <gloss xml:lang="en">Italian</gloss>
                   </valItem>
                   <valItem ident="ja">
                     <gloss xml:lang="en">Japanese</gloss>
                   </valItem>
                   <valItem ident="ko">
                     <gloss xml:lang="en">Korean</gloss>
                   </valItem>
                   <valItem ident="zh-TW">
                     <gloss xml:lang="en">Chinese</gloss>
                   </valItem>
                 </valList>
               </attDef>
             </attList>
           </classSpec>
           <elementSpec ident="body" mode="change" module="textstructure">
             <content>
               <elementRef key="div" minOccurs="1" maxOccurs="1"/>
             </content>
           </elementSpec>
           <elementSpec ident="div" mode="change" module="textstructure">
             <content>
               <sequence>
                 <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                 <elementRef key="list" minOccurs="1" maxOccurs="1"/>
               </sequence>
             </content>
           </elementSpec>
           <elementSpec ident="desc" mode="change" module="core">
             <attList>
               <attDef ident="xml:lang" mode="change" usage="req"/>                 
               <attDef ident="versionDate" mode="change" usage="req"/>
             </attList>
           </elementSpec>
           <elementSpec ident="gloss" mode="change" module="core">
             <attList>
               <attDef ident="xml:lang" mode="change" usage="req"/>                   
               <attDef ident="versionDate" mode="change" usage="req"/>
             </attList>
           </elementSpec>
           <elementSpec ident="item" mode="change" module="core">
             <content>
               <sequence>
                 <elementRef key="label" minOccurs="1" maxOccurs="1"/>
                 <elementRef key="gloss" minOccurs="1" maxOccurs="unbounded"/>
                 <elementRef key="desc" minOccurs="0" maxOccurs="unbounded"/>
                 <elementRef key="eg" minOccurs="0" maxOccurs="unbounded"/>
                 <elementRef key="note" minOccurs="0" maxOccurs="unbounded"/>
               </sequence>
             </content>
           </elementSpec>
           <elementSpec ident="list" mode="change" module="core">
             <content>
               <elementRef key="item" minOccurs="1" maxOccurs="unbounded"/>
             </content>
           </elementSpec>
           <elementSpec ident="label" mode="change" module="core">
             <constraintSpec ident="uniqlabel" scheme="schematron" mode="add">
               <constraint>
                 <report xmlns="http://purl.oclc.org/dsdl/schematron" test="../preceding-sibling::tei:item/tei:label = . or ../following-sibling::tei:item/tei:label = .">Labels must be unique.</report>
               </constraint>
             </constraintSpec>
           </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
