P5/p5.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0">

  <namespace ns="http://www.tei-c.org/ns/1.0">
    <validate schema="p5odds.rng">
      <mode>
	<namespace ns="http://relaxng.org/ns/structure/1.0">
	  <validate schema="relax.rng"/>
	</namespace>
	<namespace ns="http://www.tei-c.org/ns/Examples">
	  <validate schema="p5examples.rng">
	    <mode>
	      <anyNamespace>
		<allow/>
	      </anyNamespace>
	    </mode>
	  </validate>
	</namespace>
      </mode>
    </validate>
  </namespace>
</rules>