P5/p5odds-ex.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0"
     xmlns:rng="http://relaxng.org/ns/structure/1.0"
     xmlns:xi="http://www.w3.org/2001/XInclude">
  <teiHeader>
    <fileDesc>
      <titleStmt>
	<title>TEI with maximal setup</title>
	<author>Sebastian Rahtz</author>
      </titleStmt>
      <publicationStmt>
	<p> </p>
      </publicationStmt>
      <sourceDesc>
	<p>authored from scratch</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ns="http://www.tei-c.org/ns/Examples" ident="p5examples" prefix="TEI_" start="egXML">
	<moduleRef key="tei"/>
	<moduleRef key="core"/>
	<moduleRef url="Exemplars/mathml2-main.rng"/>
	<moduleRef url="Exemplars/relaxng.rng"/>
	<moduleRef url="Exemplars/svg11.rng"/>
	<moduleRef key="analysis"/>
	<moduleRef key="certainty"/>
	<moduleRef key="corpus"/>
	<moduleRef key="declarefs"/> 
	<moduleRef key="dictionaries"/>
	<moduleRef key="drama"/>
	<moduleRef key="figures"/>
	<moduleRef key="gaiji"/>
	<moduleRef key="header"/>
	<moduleRef key="iso-fs"/>
	<moduleRef key="linking"/>
	<moduleRef key="msdescription"/>
	<moduleRef key="namesdates"/>
	<moduleRef key="nets"/>
	<moduleRef key="spoken"/>
	<moduleRef key="tagdocs"/>
	<moduleRef key="textcrit"/>
	<moduleRef key="textstructure"/>
	<moduleRef key="transcr"/>
	<moduleRef key="verse"/>

	<elementSpec module="figures" mode="change" ident="formula">
	  <content>
	    <rng:choice>
	      <rng:ref name="mathml.math"/>
	      <rng:text/>
	    </rng:choice>
	  </content>
	</elementSpec>
	
	<macroSpec ident="anySchematron" mode="add">
	  <content>
	    <element xmlns="http://relaxng.org/ns/structure/1.0">
	      <nsName ns="http://www.ascc.net/xml/schematron"/>
	      <zeroOrMore>
		<choice>
		  <attribute>
		    <anyName/>
		  </attribute>
		  <ref name="anySchematron"/>
		  <text/>
		</choice>
	      </zeroOrMore>
	    </element>
	  </content>
	</macroSpec>
	
	<macroSpec ident="macro.schemapattern" mode="change"
		   module="tagdocs">
	  <content>
	    <group xmlns="http://relaxng.org/ns/structure/1.0">
	      <choice>
		<text/>
		<oneOrMore>
		  <ref name="pattern"/>
		</oneOrMore>
	      </choice>
	      <zeroOrMore>
		<ref name="anySchematron"/>
	      </zeroOrMore>
	    </group>
	  </content>
	</macroSpec>
	<!--
	    <classSpec mode="change" xmlns="http://www.tei-c.org/ns/1.0" module="tei" xml:id="GLOBAL" type="atts" ident="tei.global">
	    <attList>
	    <attDef ident="xml:id" usage="opt">
	    <datatype><rng:data xmlns:rng="http://relaxng.org/ns/structure/1.0" type="NMTOKEN"/></datatype>
	    </attDef>
	    </attList>
	    </classSpec>
	-->
	<elementSpec ident="egXML" module="tagdocs" mode="change">
	  <content>
	    <group xmlns="http://relaxng.org/ns/structure/1.0">
	      <zeroOrMore >
		<xi:include href="Exemplars/exnames.xml">
		  <xi:fallback> ERROR: cannot locate list of names</xi:fallback>
		</xi:include>
	      </zeroOrMore>
	    </group>
	  </content>
	</elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
