TEIOO-Deprecated/template/tei-oucs.dtd

<!-- TEI DTD  generated on 2002 04 0 -->

<!ELEMENT TEI.2 
	(teiHeader, text) >


<!ATTLIST TEI.2 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "TEI.2" >


<!ELEMENT table 
	((head | lb)*, (row, lb*)+) >


<!ATTLIST table 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	entity ENTITY #IMPLIED
	rows CDATA #IMPLIED
	cols CDATA #IMPLIED
	align CDATA #IMPLIED
	summary CDATA #IMPLIED
	width CDATA #IMPLIED
	border CDATA #IMPLIED
	frame CDATA #IMPLIED
	rules CDATA #IMPLIED
	cellspacing CDATA #IMPLIED
	cellpadding CDATA #IMPLIED
	TEIform CDATA "table" >


<!ELEMENT address 
	(addrLine+ | email+ | name*) >


<!ATTLIST address 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "address" >


<!ELEMENT email 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| anchor | lb)* >


<!ATTLIST email 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED >


<!ELEMENT figure 
	(head?, p*, figDesc?, text?) >


<!ATTLIST figure 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	entity ENTITY #IMPLIED
	width CDATA #IMPLIED
	height CDATA #IMPLIED
	scale CDATA #IMPLIED
	file CDATA #IMPLIED
	TEIform CDATA "figure" >


<!ELEMENT xptr 
	EMPTY >


<!ATTLIST xptr 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	doc ENTITY #IMPLIED
	from CDATA "ROOT"
	to CDATA "DITTO"
	url CDATA #IMPLIED
	TEIform CDATA "xptr" >


<!ELEMENT xref 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| anchor | lb)* >


<!ATTLIST xref 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	doc ENTITY #IMPLIED
	from CDATA "ROOT"
	to CDATA "DITTO"
	url CDATA #IMPLIED
	TEIform CDATA "xref" >


<!ELEMENT Key 
	(#PCDATA) >


<!ATTLIST Key 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "Key" >


<!ELEMENT Link 
	(#PCDATA) >


<!ATTLIST Link 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "Link" >


<!ELEMENT Field 
	(#PCDATA) >


<!ATTLIST Field 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "Field" >


<!ELEMENT Menu 
	(#PCDATA) >


<!ATTLIST Menu 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "Menu" >


<!ELEMENT Button 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| anchor | lb)* >


<!ATTLIST Button 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "Button" >


<!ELEMENT Command 
	(#PCDATA) >


<!ATTLIST Command 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "Command" >


<!ELEMENT Input 
	(#PCDATA) >


<!ATTLIST Input 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "Input" >


<!ELEMENT Prompt 
	(#PCDATA) >


<!ATTLIST Prompt 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "Prompt" >


<!ELEMENT Output 
	(#PCDATA) >


<!ATTLIST Output 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "Output" >


<!ELEMENT Screen 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| anchor | lb)* >


<!ATTLIST Screen 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "Screen" >


<!ELEMENT Program 
	(#PCDATA) >


<!ATTLIST Program 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "Program" >


<!ELEMENT Code 
	(#PCDATA) >


<!ATTLIST Code 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "Code" >


<!ELEMENT Filespec 
	(#PCDATA) >


<!ATTLIST Filespec 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "Filespec" >


<!ELEMENT Software 
	(#PCDATA) >


<!ATTLIST Software 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "Software" >


<!ELEMENT gi 
	(#PCDATA) >


<!ATTLIST gi 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEI (yes | no) "yes"
	TEIform CDATA "gi" >


<!ELEMENT Exercise 
	((docAuthor | docDate | head)*, (Screen | Output | Program 
	| Exercise | html:form | bibl | biblFull | biblStruct | 
	p | q | quote | label | list | listBibl | note)+) >


<!ATTLIST Exercise 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "Exercise" >


<!ELEMENT Keyword 
	(#PCDATA) >


<!ATTLIST Keyword 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED >


<!ELEMENT Value 
	(#PCDATA) >


<!ATTLIST Value 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED >


<!ELEMENT html:form 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| p | anchor | lb)* >


<!ATTLIST html:form 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	action CDATA #IMPLIED
	method (get | post) "get"
	enctype CDATA "application/x-www-form-urlencoded"
	onsubmit CDATA #IMPLIED
	onreset CDATA #IMPLIED
	accept CDATA #IMPLIED
	accept-charset CDATA #IMPLIED >


<!ELEMENT html:input 
	(#PCDATA) >


<!ATTLIST html:input 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "text"
	name CDATA #IMPLIED
	value CDATA #IMPLIED
	checked (checked) #IMPLIED
	disabled (disabled) #IMPLIED
	readonly (readonly) #IMPLIED
	size CDATA #IMPLIED
	maxlength CDATA #IMPLIED
	src CDATA #IMPLIED
	alt CDATA #IMPLIED
	usemap CDATA #IMPLIED
	tabindex CDATA #IMPLIED
	accesskey CDATA #IMPLIED
	onfocus CDATA #IMPLIED
	onblur CDATA #IMPLIED
	onselect CDATA #IMPLIED
	onchange CDATA #IMPLIED
	accept CDATA #IMPLIED >


<!ELEMENT html:select 
	(html:option)+ >


<!ATTLIST html:select 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	name CDATA #IMPLIED
	size CDATA #IMPLIED
	multiple (multiple) #IMPLIED
	disabled (disabled) #IMPLIED
	tabindex CDATA #IMPLIED
	onfocus CDATA #IMPLIED
	onblur CDATA #IMPLIED
	onchange CDATA #IMPLIED >


<!ELEMENT html:button 
	(#PCDATA) >


<!ATTLIST html:button 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	name CDATA #IMPLIED
	value CDATA #IMPLIED
	type (button | submit | reset) "submit"
	disabled (disabled) #IMPLIED
	tabindex CDATA #IMPLIED
	accesskey CDATA #IMPLIED
	onfocus CDATA #IMPLIED
	onblur CDATA #IMPLIED >


<!ELEMENT html:textarea 
	(#PCDATA) >


<!ATTLIST html:textarea 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	name CDATA #IMPLIED
	rows CDATA #REQUIRED
	cols CDATA #REQUIRED
	disabled (disabled) #IMPLIED
	readonly (readonly) #IMPLIED
	tabindex CDATA #IMPLIED
	accesskey CDATA #IMPLIED
	onfocus CDATA #IMPLIED
	onblur CDATA #IMPLIED
	onselect CDATA #IMPLIED
	onchange CDATA #IMPLIED >


<!ELEMENT html:option 
	(#PCDATA) >


<!ATTLIST html:option 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	selected (selected) #IMPLIED
	disabled (disabled) #IMPLIED
	label CDATA #IMPLIED
	value CDATA #IMPLIED >


<!ELEMENT teiHeader 
	(fileDesc, encodingDesc*, profileDesc*, revisionDesc?) >


<!ATTLIST teiHeader 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "text"
	creator CDATA #IMPLIED
	status (new | update) "new"
	date.created CDATA #IMPLIED
	date.updated CDATA #IMPLIED
	TEIform CDATA "teiHeader" >


<!ELEMENT fileDesc 
	(titleStmt, editionStmt?, extent?, publicationStmt, seriesStmt?, 
	notesStmt?, sourceDesc+) >


<!ATTLIST fileDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "fileDesc" >


<!ELEMENT titleStmt 
	(title+, (author | editor | sponsor | funder | principal 
	| respStmt)*) >


<!ATTLIST titleStmt 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "titleStmt" >


<!ELEMENT sponsor 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST sponsor 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "sponsor" >


<!ELEMENT funder 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST funder 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "funder" >


<!ELEMENT principal 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST principal 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "principal" >


<!ELEMENT editionStmt 
	((edition, respStmt*) | p+) >


<!ATTLIST editionStmt 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "editionStmt" >


<!ELEMENT edition 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST edition 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "edition" >


<!ELEMENT extent 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST extent 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "extent" >


<!ELEMENT publicationStmt 
	((p, (anchor | lb)*)+ | ((publisher | distributor | authority 
	| pubPlace | address | idno | availability | date), (anchor 
	| lb)*)+) >


<!ATTLIST publicationStmt 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "publicationStmt" >


<!ELEMENT distributor 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST distributor 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "distributor" >


<!ELEMENT authority 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST authority 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "authority" >


<!ELEMENT idno 
	(#PCDATA) >


<!ATTLIST idno 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "idno" >


<!ELEMENT availability 
	(p)+ >


<!ATTLIST availability 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	status (free | unknown | restricted) "unknown"
	TEIform CDATA "availability" >


<!ELEMENT seriesStmt 
	((title+, (idno | respStmt)*) | p+) >


<!ATTLIST seriesStmt 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "seriesStmt" >


<!ELEMENT notesStmt 
	(note)+ >


<!ATTLIST notesStmt 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "notesStmt" >


<!ELEMENT sourceDesc 
	(p | bibl | biblFull | biblStruct | listBibl | scriptStmt 
	| recordingStmt)+ >


<!ATTLIST sourceDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "sourceDesc" >


<!ELEMENT scriptStmt 
	(p+ | bibl | biblFull | biblStruct) >


<!ATTLIST scriptStmt 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "scriptStmt" >


<!ELEMENT recordingStmt 
	(p+ | recording+) >


<!ATTLIST recordingStmt 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "recordingStmt" >


<!ELEMENT recording 
	(p+ | (respStmt | equipment | broadcast | date)*) >


<!ATTLIST recording 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	type (audio | video) "audio"
	dur CDATA #IMPLIED
	TEIform CDATA "recording" >


<!ELEMENT equipment 
	(p)+ >


<!ATTLIST equipment 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "equipment" >


<!ELEMENT broadcast 
	(p+ | bibl | biblStruct | biblFull | recording) >


<!ATTLIST broadcast 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "broadcast" >


<!ELEMENT encodingDesc 
	(projectDesc*, samplingDecl*, editorialDecl*, tagsDecl?, 
	refsDecl*, classDecl*, metDecl*, fsdDecl*, variantEncoding*, 
	p*) >


<!ATTLIST encodingDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "encodingDesc" >


<!ELEMENT projectDesc 
	(p)+ >


<!ATTLIST projectDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "projectDesc" >


<!ELEMENT samplingDecl 
	(p)+ >


<!ATTLIST samplingDecl 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "samplingDecl" >


<!ELEMENT editorialDecl 
	(p+ | ((correction | normalization | quotation | hyphenation 
	| interpretation | segmentation | stdVals)+, p*)) >


<!ATTLIST editorialDecl 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "editorialDecl" >


<!ELEMENT correction 
	(p)+ >


<!ATTLIST correction 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	status (high | medium | low | unknown) "unknown"
	method (silent | tags) "silent"
	TEIform CDATA "correction" >


<!ELEMENT normalization 
	(p)+ >


<!ATTLIST normalization 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	source CDATA #IMPLIED
	method (silent | tags) "silent"
	TEIform CDATA "normalization" >


<!ELEMENT quotation 
	(p)+ >


<!ATTLIST quotation 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	marks (none | some | all) "all"
	form (data | rend | std | nonstd | unknown) "unknown"
	TEIform CDATA "quotation" >


<!ELEMENT hyphenation 
	(p)+ >


<!ATTLIST hyphenation 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	eol (all | some | none) "some"
	TEIform CDATA "hyphenation" >


<!ELEMENT segmentation 
	(p)+ >


<!ATTLIST segmentation 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "segmentation" >


<!ELEMENT stdVals 
	(p)+ >


<!ATTLIST stdVals 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "stdVals" >


<!ELEMENT interpretation 
	(p)+ >


<!ATTLIST interpretation 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "interpretation" >


<!ELEMENT tagsDecl 
	(rendition*, tagUsage*) >


<!ATTLIST tagsDecl 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "tagsDecl" >


<!ELEMENT tagUsage 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| anchor | lb)* >


<!ATTLIST tagUsage 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	gi CDATA #REQUIRED
	occurs CDATA #IMPLIED
	ident CDATA #IMPLIED
	render IDREF #IMPLIED
	TEIform CDATA "tagUsage" >


<!ELEMENT rendition 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| anchor | lb)* >


<!ATTLIST rendition 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "rendition" >


<!ELEMENT refsDecl 
	(p+ | step+ | state+) >


<!ATTLIST refsDecl 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	doctype CDATA "TEI.2"
	TEIform CDATA "refsDecl" >


<!ELEMENT step 
	EMPTY >


<!ATTLIST step 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	refunit CDATA #IMPLIED
	length CDATA #IMPLIED
	delim CDATA #IMPLIED
	from CDATA #REQUIRED
	to CDATA "DITTO"
	TEIform CDATA "step" >


<!ELEMENT state 
	EMPTY >


<!ATTLIST state 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	unit CDATA #REQUIRED
	length CDATA #IMPLIED
	delim CDATA #IMPLIED
	TEIform CDATA "state" >


<!ELEMENT classDecl 
	(taxonomy)+ >


<!ATTLIST classDecl 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "classDecl" >


<!ELEMENT taxonomy 
	(category+ | ((bibl | biblStruct | biblFull), category*)) >


<!ATTLIST taxonomy 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "taxonomy" >


<!ELEMENT category 
	(catDesc, category*) >


<!ATTLIST category 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "category" >


<!ELEMENT catDesc 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi)* >


<!ATTLIST catDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "catDesc" >


<!ELEMENT fsdDecl 
	EMPTY >


<!ATTLIST fsdDecl 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #REQUIRED
	fsd ENTITY #REQUIRED
	TEIform CDATA "fsdDecl" >


<!ELEMENT metDecl 
	(((Screen | Output | Program | Exercise | html:form | bibl 
	| biblFull | biblStruct | p | q | quote | label | list | 
	listBibl | note), (anchor | lb)*)* | symbol+) >


<!ATTLIST metDecl 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	type CDATA "met real"
	pattern CDATA #IMPLIED
	TEIform CDATA "metDecl" >


<!ELEMENT symbol 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST symbol 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #REQUIRED
	terminal (Y | N) "Y"
	TEIform CDATA "symbol" >


<!ELEMENT variantEncoding 
	EMPTY >


<!ATTLIST variantEncoding 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	method (location-referenced | double-end-point | parallel-segmentation) #REQUIRED
	location (internal | external) #REQUIRED
	TEIform CDATA "variantEncoding" >


<!ELEMENT profileDesc 
	(creation?, langUsage*, textClass*) >


<!ATTLIST profileDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "profileDesc" >


<!ELEMENT creation 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST creation 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "creation" >


<!ELEMENT langUsage 
	(p | language)+ >


<!ATTLIST langUsage 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "langUsage" >


<!ELEMENT language 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST language 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	wsd ENTITY #IMPLIED
	usage CDATA #IMPLIED
	TEIform CDATA "language" >


<!ELEMENT textClass 
	(classCode | catRef | keywords)* >


<!ATTLIST textClass 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "textClass" >


<!ELEMENT keywords 
	(term+ | list) >


<!ATTLIST keywords 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	scheme IDREF #IMPLIED
	TEIform CDATA "keywords" >


<!ELEMENT classCode 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST classCode 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	scheme IDREF #IMPLIED
	TEIform CDATA "classCode" >


<!ELEMENT catRef 
	EMPTY >


<!ATTLIST catRef 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	target IDREFS #REQUIRED
	scheme IDREF #IMPLIED
	TEIform CDATA "catRef" >


<!ELEMENT revisionDesc 
	(list | change+) >


<!ATTLIST revisionDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "revisionDesc" >


<!ELEMENT change 
	(date, respStmt+, item) >


<!ATTLIST change 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "change" >


<!ELEMENT p 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| anchor | lb)* >


<!ATTLIST p 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "p" >


<!ELEMENT emph 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| anchor | lb)* >


<!ATTLIST emph 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "emph" >


<!ELEMENT hi 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| anchor | lb)* >


<!ATTLIST hi 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "hi" >


<!ELEMENT q 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| p | anchor | lb)* >


<!ATTLIST q 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	direct (y | n | unspecified) "unspecified"
	who CDATA #IMPLIED
	TEIform CDATA "q" >


<!ELEMENT quote 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| p | anchor | lb)* >


<!ATTLIST quote 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "quote" >


<!ELEMENT soCalled 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST soCalled 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "soCalled" >


<!ELEMENT term 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST term 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "term" >


<!ELEMENT name 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST name 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "name" >


<!ELEMENT date 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST date 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	calendar CDATA #IMPLIED
	value CDATA #IMPLIED
	certainty CDATA #IMPLIED
	TEIform CDATA "date" >


<!ELEMENT abbr 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST abbr 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	expan CDATA #IMPLIED
	resp IDREF #IMPLIED
	cert CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "abbr" >


<!ELEMENT addrLine 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST addrLine 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "addrLine" >


<!ELEMENT ptr 
	EMPTY >


<!ATTLIST ptr 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	target IDREFS #REQUIRED
	TEIform CDATA "ptr" >


<!ELEMENT ref 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| anchor | lb)* >


<!ATTLIST ref 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	target IDREFS #IMPLIED
	TEIform CDATA "ref" >


<!ELEMENT list 
	((anchor | lb)*, (head, (anchor | lb)*)?, ((item, (anchor 
	| lb)*)* | (label, (anchor | lb)*, item, (anchor | lb)*)+)) >


<!ATTLIST list 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "simple"
	TEIform CDATA "list" >


<!ELEMENT item 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| p | anchor | lb)* >


<!ATTLIST item 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "item" >


<!ELEMENT label 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST label 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "label" >


<!ELEMENT head 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| anchor | lb)* >


<!ATTLIST head 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "head" >


<!ELEMENT note 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| p | anchor | lb)* >


<!ATTLIST note 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	place CDATA "unspecified"
	anchored (yes | no) "yes"
	target IDREFS #IMPLIED
	targetEnd IDREFS #IMPLIED
	TEIform CDATA "note" >


<!ELEMENT divGen 
	EMPTY >


<!ATTLIST divGen 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "divGen" >


<!ELEMENT lb 
	EMPTY >


<!ATTLIST lb 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	TEIform CDATA "lb" >


<!ELEMENT bibl 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | author | biblScope 
	| edition | editor | extent | idno | imprint | monogr | 
	note | pubPlace | publisher | respStmt | anchor | lb)* >


<!ATTLIST bibl 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "bibl" >


<!ELEMENT biblStruct 
	((anchor | lb)*, (monogr, (anchor | lb)*)+, ((note, (anchor 
	| lb)*) | (idno, (anchor | lb)*))*) >


<!ATTLIST biblStruct 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "biblStruct" >


<!ELEMENT biblFull 
	((anchor | lb)*, titleStmt, (anchor | lb)*, (editionStmt, 
	(anchor | lb)*)?, (extent, (anchor | lb)*)?, publicationStmt, 
	(anchor | lb)*, (seriesStmt, (anchor | lb)*)?, (notesStmt, 
	(anchor | lb)*)?, (sourceDesc, (anchor | lb)*)*) >


<!ATTLIST biblFull 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "biblFull" >


<!ELEMENT listBibl 
	((anchor | lb)*, (head, (anchor | lb)*)?, (bibl | biblStruct 
	| biblFull), (bibl | biblStruct | biblFull | anchor | lb)*) >


<!ATTLIST listBibl 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "listBibl" >


<!ELEMENT monogr 
	(((anchor | lb)*, (((author | editor | respStmt), (author 
	| editor | respStmt | anchor | lb)*, (title, (anchor | lb)*)+, 
	((editor | respStmt), (anchor | lb)*)*) | ((title, (anchor 
	| lb)*)+, ((author | editor | respStmt), (anchor | lb)*)*)))?, 
	(note, (anchor | lb)*)*, (edition, (editor | respStmt | 
	anchor | lb)*)*, imprint, (imprint | extent | biblScope 
	| anchor | lb)*) >


<!ATTLIST monogr 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "monogr" >


<!ELEMENT author 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST author 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "author" >


<!ELEMENT editor 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST editor 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	role CDATA "editor"
	TEIform CDATA "editor" >


<!ELEMENT respStmt 
	(name | anchor | lb)+ >


<!ATTLIST respStmt 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "respStmt" >


<!ELEMENT title 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| anchor | lb)* >


<!ATTLIST title 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	level (a | m | j | s | u) #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "title" >


<!ELEMENT imprint 
	(pubPlace | publisher | date | biblScope | anchor | lb)* >


<!ATTLIST imprint 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "imprint" >


<!ELEMENT publisher 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST publisher 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "publisher" >


<!ELEMENT biblScope 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST biblScope 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "biblScope" >


<!ELEMENT pubPlace 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST pubPlace 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	TEIform CDATA "pubPlace" >


<!ELEMENT text 
	((anchor | lb)*, (front, (anchor | lb)*)?, body, (anchor 
	| lb)*, (back, (anchor | lb)*)?) >


<!ATTLIST text 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "text" >


<!ELEMENT body 
	((docAuthor | docDate | head | anchor | lb)*, ((((Screen 
	| Output | Program | Exercise | html:form | bibl | biblFull 
	| biblStruct | p | q | quote | label | list | listBibl | 
	note), (anchor | lb)*)+, (divGen, (anchor | lb)*)*, (div, 
	(div | divGen | anchor | lb)*)?) | ((divGen, (anchor | lb)*)*, 
	div, (div | divGen | anchor | lb)*))) >


<!ATTLIST body 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "body" >


<!ELEMENT div 
	((docAuthor | docDate | head | anchor | lb)*, (((div | divGen), 
	(anchor | lb)*)+ | (((Screen | Output | Program | Exercise 
	| html:form | bibl | biblFull | biblStruct | p | q | quote 
	| label | list | listBibl | note), (anchor | lb)*)+, ((div 
	| divGen), (anchor | lb)*)*))) >


<!ATTLIST div 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	decls IDREFS #IMPLIED
	TEIform CDATA "div" >


<!ELEMENT front 
	((divGen | titlePage | anchor | lb)*, (((docAuthor | docDate 
	| docEdition | docImprint | docTitle | head | titlePart), 
	(docAuthor | docDate | docEdition | docImprint | docTitle 
	| head | titlePart | titlePage | anchor | lb)*) | (div, 
	(div | divGen | titlePage | anchor | lb)*))?) >


<!ATTLIST front 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "front" >


<!ELEMENT titlePage 
	((anchor | lb)*, (docAuthor | docDate | docEdition | docImprint 
	| docTitle | figure | titlePart), (docAuthor | docDate | 
	docEdition | docImprint | docTitle | figure | titlePart 
	| anchor | lb)*) >


<!ATTLIST titlePage 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "titlePage" >


<!ELEMENT docTitle 
	((anchor | lb)*, (titlePart, (anchor | lb)*)+) >


<!ATTLIST docTitle 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "docTitle" >


<!ELEMENT titlePart 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| anchor | lb)* >


<!ATTLIST titlePart 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "main"
	TEIform CDATA "titlePart" >


<!ELEMENT docAuthor 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST docAuthor 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "docAuthor" >


<!ELEMENT docEdition 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| anchor | lb)* >


<!ATTLIST docEdition 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "docEdition" >


<!ELEMENT docImprint 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | pubPlace | 
	docDate | publisher | anchor | lb)* >


<!ATTLIST docImprint 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "docImprint" >


<!ELEMENT docDate 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | anchor | lb)* >


<!ATTLIST docDate 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	TEIform CDATA "docDate" >


<!ELEMENT back 
	((divGen | titlePage | anchor | lb)*, (((docAuthor | docDate 
	| head), (docAuthor | docDate | head | titlePage | anchor 
	| lb)*) | (div, (div | divGen | titlePage | anchor | lb)*))?) >


<!ATTLIST back 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "back" >


<!ELEMENT anchor 
	EMPTY >


<!ATTLIST anchor 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	TEIform CDATA "anchor" >


<!ELEMENT row 
	((cell | table), (anchor | lb)*)+ >


<!ATTLIST row 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	role CDATA "data"
	TEIform CDATA "row" >


<!ELEMENT cell 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| anchor | lb)* >


<!ATTLIST cell 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	role CDATA "data"
	rows CDATA "1"
	cols CDATA "1"
	TEIform CDATA "cell" >


<!ELEMENT figDesc 
	(#PCDATA | Key | Keyword | Menu | Command | Button | Input 
	| Prompt | Code | Link | Field | Filespec | Software | Value 
	| html:input | html:select | html:textarea | html:button 
	| abbr | address | date | name | emph | hi | soCalled | 
	term | title | ptr | ref | xptr | xref | gi | Screen | Output 
	| Program | html:form | bibl | biblFull | biblStruct | figure 
	| q | quote | label | list | listBibl | note | table | text 
	| anchor | lb)* >


<!ATTLIST figDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "figDesc" >

