Extensions/ProtestantCemetery/cem.odd

<TEI 
 xmlns="http://www.tei-c.org/ns/1.0"
 lang="en"
 xmlns:rng="http://relaxng.org/ns/structure/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>The Protestant Cemetery TEI Extensions</title>
            <author>Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
	   <p></p>
	 </publicationStmt>
         <sourceDesc>
            <p>derived from old DTD extension files for P4 by
	    Sebastian Rahtz</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>

<p>The Protestant Cemetery TEI schema consists of some new elements and a
view of the TEI. 

<schemaSpec ident="teicem" start="TEI teiCorpus">

  <moduleRef key="core"/>
  <moduleRef key="corpus"/>
  <moduleRef key="figures"/>
  <moduleRef key="header"/>
  <moduleRef key="linking"/>
  <moduleRef key="namesdates"/>
  <moduleRef key="tei"/>
  <moduleRef key="textstructure"/>
  <moduleRef key="msdescription"/>

<elementSpec ident="death" mode="add">
  <classes>
    <memberOf key="model.personPart"/>
    <memberOf key="model.datePart"/>
  </classes>
  <attList>
    <attDef ident="date" usage="opt">
	<equiv/>
	<desc>specifies the date of birth in an ISO standard form (yyyy-mm-dd).</desc>
      <datatype><rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.temporal"/></datatype>
      <valDesc>a date in ISO standard form, generally ISO 8601:2000 5.2.1.1 Complete representation, extended format (yyyy-mm-dd).</valDesc>
    </attDef>
  </attList>
  <content>
    <rng:ref name="macro.phraseSeq"/> 
  </content>
</elementSpec>
 
<elementSpec ident="nationality" mode="add">
  <classes>
    <memberOf key="model.personPart"/>
  </classes>
  <content>
    <rng:ref name="macro.phraseSeq"/> 
  </content> 
  <attList>
    <attDef ident="target" usage="opt">
      <datatype>
        <rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="data.pointer"/>
      </datatype>
    </attDef>
  </attList>
</elementSpec>
 
  <elementSpec module="msdescription" ident="msDescription"
	       mode="change">
    <altIdent>stoneDescription</altIdent>
  </elementSpec>
  <elementSpec module="msdescription" ident="msIdentifier"
	       mode="change">
    <altIdent>stoneIdentifier</altIdent>
  </elementSpec>
  <elementSpec module="core" ident="add" mode="delete"/>
  <elementSpec module="core" ident="analytic" mode="delete"/>
  <elementSpec module="core" ident="cb" mode="delete"/>
  <elementSpec module="core" ident="cit" mode="delete"/>
  <elementSpec module="core" ident="corr" mode="delete"/>
  <elementSpec module="core" ident="dateRange" mode="delete"/>
  <elementSpec module="core" ident="del" mode="delete"/>
  <elementSpec module="core" ident="distinct" mode="delete"/>
  <elementSpec module="core" ident="expan" mode="delete"/>
  <elementSpec module="core" ident="gap" mode="delete"/>
  <elementSpec module="core" ident="gloss" mode="delete"/>
  <elementSpec module="core" ident="headItem" mode="delete"/>
  <elementSpec module="core" ident="headLabel" mode="delete"/>
  <elementSpec module="core" ident="index" mode="delete"/>
  <elementSpec module="core" ident="l" mode="delete"/>
  <elementSpec module="core" ident="lb" mode="delete"/>
  <elementSpec module="core" ident="lg" mode="delete"/>
  <elementSpec module="core" ident="meeting" mode="delete"/>
  <elementSpec module="core" ident="mentioned" mode="delete"/>
  <elementSpec module="core" ident="milestone" mode="delete"/>
  <elementSpec module="core" ident="orig" mode="delete"/>
  <elementSpec module="core" ident="pb" mode="delete"/>
  <elementSpec module="core" ident="postBox" mode="delete"/>
  <elementSpec module="core" ident="postCode" mode="delete"/>
  <elementSpec module="core" ident="reg" mode="delete"/>
  <elementSpec module="core" ident="series" mode="delete"/>
  <elementSpec module="core" ident="sic" mode="delete"/>
  <elementSpec module="core" ident="sp" mode="delete"/>
  <elementSpec module="core" ident="speaker" mode="delete"/>
  <elementSpec module="core" ident="stage" mode="delete"/>
  <elementSpec module="core" ident="street" mode="delete"/>
  <elementSpec module="core" ident="time" mode="delete"/>
  <elementSpec module="core" ident="timeRange" mode="delete"/>
  <elementSpec module="core" ident="unclear" mode="delete"/>
  <elementSpec module="figures" ident="formula" mode="delete"/>
  <elementSpec module="linking" ident="alt" mode="delete"/>
  <elementSpec module="linking" ident="altGrp" mode="delete"/>
  <elementSpec module="linking" ident="join" mode="delete"/>
  <elementSpec module="linking" ident="joinGrp" mode="delete"/>
  <elementSpec module="linking" ident="link" mode="delete"/>
  <elementSpec module="linking" ident="linkGrp" mode="delete"/>
  <elementSpec module="linking" ident="seg" mode="delete"/>
  <elementSpec module="linking" ident="timeline" mode="delete"/>
  <elementSpec module="linking" ident="when" mode="delete"/>
  <elementSpec module="textstructure" ident="argument" mode="delete"/>
  <elementSpec module="textstructure" ident="byline" mode="delete"/>
  <elementSpec module="textstructure" ident="closer" mode="delete"/>
  <elementSpec module="textstructure" ident="dateline" mode="delete"/>
  <elementSpec module="textstructure" ident="div0" mode="delete"/>
  <elementSpec module="textstructure" ident="div1" mode="delete"/>
  <elementSpec module="textstructure" ident="div2" mode="delete"/>
  <elementSpec module="textstructure" ident="div3" mode="delete"/>
  <elementSpec module="textstructure" ident="div4" mode="delete"/>
  <elementSpec module="textstructure" ident="div5" mode="delete"/>
  <elementSpec module="textstructure" ident="div6" mode="delete"/>
  <elementSpec module="textstructure" ident="div7" mode="delete"/>
  <elementSpec module="textstructure" ident="epigraph" mode="delete"/>
  <elementSpec module="textstructure" ident="imprimatur" mode="delete"/>
  <elementSpec module="textstructure" ident="opener" mode="delete"/>
  <elementSpec module="textstructure" ident="salute" mode="delete"/>
  <elementSpec module="textstructure" ident="signed" mode="delete"/>
  <elementSpec module="textstructure" ident="trailer" mode="delete"/>
<elementSpec module="msdescription" ident="accMat" mode="delete"/>
<elementSpec module="msdescription" ident="acquisition" mode="delete"/>
<elementSpec module="msdescription" ident="additions" mode="delete"/>
<elementSpec module="msdescription" ident="adminInfo" mode="delete"/>
<elementSpec module="msdescription" ident="altIdentifier" mode="delete"/>
<elementSpec module="msdescription" ident="altName" mode="delete"/>
<elementSpec module="msdescription" ident="binding" mode="delete"/>
<elementSpec module="msdescription" ident="bindingDesc" mode="delete"/>
<elementSpec module="msdescription" ident="catchwords" mode="delete"/>
<elementSpec module="msdescription" ident="collation" mode="delete"/>
<elementSpec module="msdescription" ident="collection" mode="delete"/>
<elementSpec module="msdescription" ident="colophon" mode="delete"/>
<elementSpec module="msdescription" ident="custEvent" mode="delete"/>
<elementSpec module="msdescription" ident="custodialHist" mode="delete"/>
<elementSpec module="msdescription" ident="decoDesc" mode="delete"/>
<elementSpec module="msdescription" ident="decoNote" mode="delete"/>
<elementSpec module="msdescription" ident="explicit" mode="delete"/>
<elementSpec module="msdescription" ident="filiation" mode="delete"/>
<elementSpec module="msdescription" ident="finalRubric" mode="delete"/>
<elementSpec module="msdescription" ident="foliation" mode="delete"/>
<elementSpec module="msdescription" ident="format" mode="delete"/>
<elementSpec module="msdescription" ident="handDesc" mode="delete"/>
<elementSpec module="msdescription" ident="handNote" mode="delete"/>
<elementSpec module="msdescription" ident="heraldry" mode="delete"/>
<elementSpec module="msdescription" ident="history" mode="delete"/>
<elementSpec module="msdescription" ident="incipit" mode="delete"/>
<elementSpec module="msdescription" ident="institution" mode="delete"/>
<elementSpec module="msdescription" ident="layout" mode="delete"/>
<elementSpec module="msdescription" ident="layoutDesc" mode="delete"/>
<elementSpec module="msdescription" ident="locus" mode="delete"/>
<elementSpec module="msdescription" ident="msContents" mode="delete"/>
<elementSpec module="msdescription" ident="msItem" mode="delete"/>
<elementSpec module="msdescription" ident="msItemStruct" mode="delete"/>
<elementSpec module="msdescription" ident="msPart" mode="delete"/>
<elementSpec module="msdescription" ident="musicNotation" mode="delete"/>
<elementSpec module="msdescription" ident="origDate" mode="delete"/>
<elementSpec module="msdescription" ident="origin" mode="delete"/>
<elementSpec module="msdescription" ident="origPlace" mode="delete"/>
<elementSpec module="msdescription" ident="provenance" mode="delete"/>
<elementSpec module="msdescription" ident="recordHist" mode="delete"/>
<elementSpec module="msdescription" ident="repository" mode="delete"/>
<elementSpec module="msdescription" ident="rubric" mode="delete"/>
<elementSpec module="msdescription" ident="seal" mode="delete"/>
<elementSpec module="msdescription" ident="sealDesc" mode="delete"/>
<elementSpec module="msdescription" ident="secFol" mode="delete"/>
<elementSpec module="msdescription" ident="signatures" mode="delete"/>
<elementSpec module="msdescription" ident="source" mode="delete"/>
<elementSpec module="msdescription" ident="summary" mode="delete"/>
<elementSpec module="msdescription" ident="support" mode="delete"/>
<elementSpec module="msdescription" ident="textLang" mode="delete"/>
<elementSpec module="msdescription" ident="watermark" mode="delete"/>
<elementSpec module="msdescription" ident="watermarks" mode="delete"/>
</schemaSpec>
</p>
</body>
</text>
</TEI>

<!--
<elementSpec module="msdescription" ident="material" mode="delete"/>
<elementSpec module="msdescription" ident="surrogates" mode="delete"/>
<elementSpec module="msdescription" ident="physDesc" mode="delete"/>
<elementSpec module="msdescription" ident="msDescription" mode="delete"/>
<elementSpec module="msdescription" ident="msIdentifier" mode="delete"/>
<elementSpec module="msdescription" ident="supportDesc" mode="delete"/>
<elementSpec module="msdescription" ident="width" mode="delete"/>
<elementSpec module="msdescription" ident="depth" mode="delete"/>
<elementSpec module="msdescription" ident="dimensions" mode="delete"/>
<elementSpec module="msdescription" ident="objectDesc" mode="delete"/>
<elementSpec module="msdescription" ident="additional" mode="delete"/>
<elementSpec module="msdescription" ident="condition" mode="delete"/>
<elementSpec module="msdescription" ident="height" mode="delete"/>

-->