Extensions/ProtestantCemetery/cem.odd

<TEI 
 xmlns="http://www.tei-c.org/ns/1.0"
 lang="en"
 xmlns:rng="http://relaxng.org/ns/structure/1.0">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>The Protestant Cemetery TEI Extensions</title>
            <author>Sebastian Rahtz</author>
         </titleStmt>
         <publicationStmt>
	   <p></p>
	 </publicationStmt>
         <sourceDesc>
            <p>derived from old DTD extension files for P4 by
	    Sebastian Rahtz</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
<text>
<body>

<p>The Protestant Cemetery TEI schema consists of some new elements and a
view of the TEI. 

<schemaSpec ident="teicem" start="TEI teiCorpus">

  <moduleRef key="core"/>
  <moduleRef key="corpus"/>
  <moduleRef key="figures"/>
  <moduleRef key="header"/>
  <moduleRef key="linking"/>
  <moduleRef key="namesdates"/>
  <moduleRef key="tei"/>
  <moduleRef key="textstructure"/>
  <moduleRef key="transcr"/>

<elementSpec ident="death" mode="add">
  <classes>
    <memberOf key="tei.demographic"/>
    <memberOf key="tei.temporalExpr"/>
  </classes>
  <content>
    <rng:ref name="macro.phraseSeq"/> 
  </content>
</elementSpec>
 
<elementSpec module="header" ident="language" mode="change">
  <attList>
    <attDef ident="ident" usage="req" mode="change">
      <datatype><rng:text/></datatype>
    </attDef>
  </attList>
</elementSpec>

<elementSpec ident="birth" module="corpus" mode="change">
  <classes>
    <memberOf key="tei.demographic"/>
  </classes>
  <content>
    <rng:ref name="macro.phraseSeq"/> 
  </content>
  <attList>
    <attDef ident="date" usage="opt" mode="delete"/>
    <attDef ident="value" usage="opt" mode="add">
	<equiv/>
	<desc>supplies the value of a date or time in a standard form.</desc>
      <datatype>
	<rng:choice xmlns:rng="http://relaxng.org/ns/structure/1.0">
	  <rng:data type="date"/>
	  <rng:data type="gYear"/>
	  <rng:data type="gMonth"/>
	  <rng:data type="gDay"/>
	  <rng:data type="gYearMonth"/>
	  <rng:data type="gMonthDay"/>
	  <rng:data type="time"/>
	  <rng:data type="dateTime"/>
	</rng:choice>
      </datatype>
    </attDef>
  </attList>
</elementSpec>
 
<elementSpec ident="nationality" mode="add">
  <classes>
    <memberOf key="tei.demographic"/>
  </classes>
  <content>
  <rng:ref name="macro.phraseSeq"/> 
  </content>
  <attList>
    <attDef ident="target">
      <datatype>
	<rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="datatype.uriList"/>
        </datatype>
    </attDef>
  </attList>

</elementSpec>
 
<elementSpec ident="stoneDescription" mode="add">
  <classes>
    <memberOf key="tei.sourcedesc"/>
  </classes>
  <content> 
    <rng:ref name="location"/>
    <rng:ref name="physicalDescription"/>
    <rng:ref name="history"/>
  </content>
</elementSpec>

<elementSpec ident="location" mode="add">
  <content> 
    <rng:ref name="plot"/>
    <rng:ref name="zone"/>
    <rng:optional>
      <rng:ref name="box"/>
    </rng:optional>
    <rng:oneOrMore> 
      <rng:ref name="polygon"/>
    </rng:oneOrMore>
  </content>
</elementSpec>

<elementSpec ident="plot" mode="add">
  <content> 
    <rng:text/>
  </content>
</elementSpec>

<elementSpec ident="zone" mode="add">
  <content> 
    <rng:empty/>
  </content>
  <attList>
    <attDef ident="target">
      <datatype>
	<rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="datatype.uriList"/>
        </datatype>
    </attDef>
  </attList>
</elementSpec>

<elementSpec ident="box" mode="add">
  <content>
    <rng:empty/>
  </content>
  <attList>
    <attDef ident="x">
      <datatype><rng:data type="decimal"/></datatype>
    </attDef>
    <attDef ident="y">
      <datatype><rng:data type="decimal"/></datatype>
    </attDef>
    <attDef ident="width">
      <datatype><rng:data type="decimal"/></datatype>
    </attDef>
    <attDef ident="height">
      <datatype><rng:data type="decimal"/></datatype>
    </attDef>
  </attList>
</elementSpec>

<elementSpec ident="polygon" mode="add">
  <content> 
    <rng:empty/>
  </content>
  <attList>
    <attDef ident="points">
      <datatype><rng:text/></datatype>
    </attDef>
  </attList>
</elementSpec>

<elementSpec ident="physicalDescription" mode="add">
  <content>
    <rng:ref name="dimensions"/>
    <rng:ref name="form"/>
    <rng:ref name="material"/>
    <rng:ref name="numElements"/>
    <rng:ref name="features"/>
    <rng:ref name="condition"/>
    <rng:optional>
      <rng:ref name="faces"/>
    </rng:optional>
    <rng:ref name="decoration"/>
  </content>
</elementSpec>

<elementSpec ident="form" mode="add">
  <content> 
    <rng:text/>
  </content>
  <attList>
    <attDef ident="target">
      <datatype>
	<rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="datatype.uriList"/>
      </datatype>
    </attDef>
  </attList>
</elementSpec>


<elementSpec ident="material" mode="add">
  <content>
    <rng:text/>
  </content>
  <attList>
    <attDef ident="target">
      <datatype>
	<rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="datatype.uriList"/>
      </datatype>
    </attDef>
  </attList>
</elementSpec>

<elementSpec ident="numElements" mode="add">
  <content>
    <rng:text/>
  </content>
</elementSpec>

<elementSpec ident="features" mode="add">
  <content>
    <rng:text/>
  </content>
</elementSpec>

<elementSpec ident="dimensions" mode="add">
  <content> 
    <rng:optional>
      <rng:ref name="height"/>
    </rng:optional>
    <rng:optional>
      <rng:ref name="breadth"/>
    </rng:optional>
    <rng:optional>
      <rng:ref name="width"/>
    </rng:optional>
    <rng:optional>
      <rng:ref name="diam"/>
    </rng:optional>
  </content>
</elementSpec>

<elementSpec ident="height" mode="add">
  <content> 
    <rng:text/>
  </content>
</elementSpec>

<elementSpec ident="breadth" mode="add">
  <content>
    <rng:text/>
  </content>
</elementSpec>

<elementSpec ident="width" mode="add">
  <content>  
    <rng:text/>
  </content>
</elementSpec>

<elementSpec ident="diam" mode="add">
  <content>   
    <rng:text/>
  </content>
</elementSpec>

<elementSpec ident="condition" mode="add">
  <content>
    <rng:text/>
  </content>
  <attList>
    <attDef ident="target">
      <datatype>
	<rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="datatype.uriList"/>
      </datatype>
    </attDef>
  </attList>

</elementSpec>

<elementSpec ident="faces" mode="add">
  <content>
    <rng:text/>
  </content>
  <attList>
    <attDef ident="target">
      <datatype>
	<rng:ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="datatype.uriList"/>
      </datatype>
    </attDef>
  </attList>
</elementSpec>

<elementSpec ident="decoration" mode="add">
  <content> 
    <rng:optional>
      <rng:ref name="p"/>
    </rng:optional>
    <rng:zeroOrMore>
      <rng:ref name="feature"/>
    </rng:zeroOrMore>
  </content>
</elementSpec>

<elementSpec ident="feature" mode="add">
  <content>
<rng:text/>
  </content>
  <attList>
    <attDef ident="occs">
      <datatype>
	<rng:text/>
      </datatype>
    </attDef>
    <attDef ident="decls">
      <datatype>
	<rng:text/>
      </datatype>
    </attDef>
  </attList>
</elementSpec>

<elementSpec ident="history" mode="add">
  <content>
    <rng:zeroOrMore>
      <rng:ref name="p"/>
    </rng:zeroOrMore>
    <rng:zeroOrMore>
      <rng:ref name="surrogates"/>
    </rng:zeroOrMore>
  </content>
</elementSpec>

<elementSpec ident="surrogates" mode="add">
  <content>
    <rng:zeroOrMore>
      <rng:ref name="photo"/>
    </rng:zeroOrMore>
  </content>
</elementSpec>

<elementSpec ident="photo" mode="add">
  <content> 
    <rng:text/> 
  </content>
  <attList>
    <attDef ident="film">
      <datatype>
	<rng:text/>
      </datatype>
    </attDef>
    <attDef ident="neg">
      <datatype>
	<rng:text/>
      </datatype>
    </attDef>
  </attList>
</elementSpec>

  <elementSpec module="core" ident="lg" mode="delete"/>
  <elementSpec module="core" ident="l" mode="delete"/>
  <elementSpec module="core" ident="add" mode="delete"/>
  <elementSpec module="linking" ident="alt" mode="delete"/>
  <elementSpec module="linking" ident="altGrp" mode="delete"/>
  <elementSpec module="core" ident="analytic" mode="delete"/>
  <elementSpec module="textstructure" ident="argument" mode="delete"/>
  <elementSpec module="textstructure" ident="byline" mode="delete"/>
  <elementSpec module="core" ident="cb" mode="delete"/>
  <elementSpec module="core" ident="cit" mode="delete"/>
  <elementSpec module="textstructure" ident="closer" mode="delete"/>
  <elementSpec module="core" ident="corr" mode="delete"/>
  <elementSpec module="core" ident="dateRange" mode="delete"/>
  <elementSpec module="textstructure" ident="dateline" mode="delete"/>
  <elementSpec module="core" ident="del" mode="delete"/>
  <elementSpec module="core" ident="distinct" mode="delete"/>
  <elementSpec module="textstructure" ident="div0" mode="delete"/>
  <elementSpec module="textstructure" ident="div1" mode="delete"/>
  <elementSpec module="textstructure" ident="div2" mode="delete"/>
  <elementSpec module="textstructure" ident="div3" mode="delete"/>
  <elementSpec module="textstructure" ident="div4" mode="delete"/>
  <elementSpec module="textstructure" ident="div5" mode="delete"/>
  <elementSpec module="textstructure" ident="div6" mode="delete"/>
  <elementSpec module="textstructure" ident="div7" mode="delete"/>
  <elementSpec module="textstructure" ident="epigraph" mode="delete"/>
  <elementSpec module="core" ident="expan" mode="delete"/>
  <elementSpec module="core" ident="foreign" mode="delete"/>
  <elementSpec module="figures" ident="formula" mode="delete"/>
  <elementSpec module="core" ident="gap" mode="delete"/>
  <elementSpec module="core" ident="gloss" mode="delete"/>
  <elementSpec module="core" ident="headItem" mode="delete"/>
  <elementSpec module="core" ident="headLabel" mode="delete"/>
  <elementSpec module="textstructure" ident="imprimatur" mode="delete"/>
  <elementSpec module="core" ident="index" mode="delete"/>
  <elementSpec module="linking" ident="join" mode="delete"/>
  <elementSpec module="linking" ident="joinGrp" mode="delete"/>
  <elementSpec module="linking" ident="link" mode="delete"/>
  <elementSpec module="linking" ident="linkGrp" mode="delete"/>
  <elementSpec module="core" ident="meeting" mode="delete"/>
  <elementSpec module="core" ident="mentioned" mode="delete"/>
  <elementSpec module="core" ident="milestone" mode="delete"/>
  <elementSpec module="textstructure" ident="opener" mode="delete"/>
  <elementSpec module="core" ident="orig" mode="delete"/>
  <elementSpec module="core" ident="pb" mode="delete"/>
  <elementSpec module="analysis" ident="phr" mode="delete"/>
  <elementSpec module="core" ident="postBox" mode="delete"/>
  <elementSpec module="core" ident="postCode" mode="delete"/>
  <elementSpec module="core" ident="reg" mode="delete"/>
  <elementSpec module="textstructure" ident="salute" mode="delete"/>
  <elementSpec module="linking" ident="seg" mode="delete"/>
  <elementSpec module="core" ident="series" mode="delete"/>
  <elementSpec module="core" ident="sic" mode="delete"/>
  <elementSpec module="textstructure" ident="signed" mode="delete"/>
  <elementSpec module="core" ident="sp" mode="delete"/>
  <elementSpec module="core" ident="speaker" mode="delete"/>
  <elementSpec module="core" ident="stage" mode="delete"/>
  <elementSpec module="core" ident="street" mode="delete"/>
  <elementSpec module="core" ident="time" mode="delete"/>
  <elementSpec module="core" ident="timeRange" mode="delete"/>
  <elementSpec module="linking" ident="timeline" mode="delete"/>
  <elementSpec module="textstructure" ident="trailer" mode="delete"/>
  <elementSpec module="core" ident="unclear" mode="delete"/>
  <elementSpec module="linking" ident="when" mode="delete"/>
</schemaSpec>
</p>
</body>
</text>
</TEI>
