passivetex/test/teixlite.dtd

<!-- TEI DTD  generated on 2003 11 19 -->
<!--
  ** Copyright 2003 Text Encoding Initiative Consortium.
  **
  ** This is the compiled version of TEI Lite, a view of the
  ** the TEI DTD, as documented in TEI U5, and is copyrighted.
  ** You may redistribute and use it, but may not change it.
  **
  ** **** THIS IS A GENERATED FILE: DO NOT EDIT IT ****
  **
  ** If you want to change this DTD, please do so by renaming and modifying
  ** the extension files teilitex.dtd and teilitex.ent and then
  ** recompiling. Use the pizzachef (available on the web at
  ** http://www.tei-c.org/TEI/pizza.html) or maketeidtd.
  **
  ** This XML version was created by maketeidtd using the driver
  ** file teixlite.dec
  **
  ** All files referenced here are available from
  ** http://www.tei-c.org/TEI/Lite/DTD/
-->

<!-- Input to carthage was:
   <!DOCTYPE TEI.2 SYSTEM "tei2.dtd" [
   <!ENTITY % TEI.prose "INCLUDE">
   <!ENTITY % TEI.linking "INCLUDE">
   <!ENTITY % TEI.analysis "INCLUDE">
   <!ENTITY % TEI.figures "INCLUDE">
   <!ENTITY % TEI.XML "INCLUDE">
   <!ENTITY % TEI.extensions.ent SYSTEM "teient.14545">
   <!ENTITY % TEI.extensions.dtd SYSTEM "teidtd.14545">
   ]>
-->

<!ENTITY aacute  "&#x00E1;" >


<!ENTITY Aacute  "&#x00C1;" >


<!ENTITY acirc  "&#x00E2;" >


<!ENTITY Acirc  "&#x00C2;" >


<!ENTITY agrave  "&#x00E0;" >


<!ENTITY Agrave  "&#x00C0;" >


<!ENTITY aring  "&#x00E5;" >


<!ENTITY Aring  "&#x00C5;" >


<!ENTITY atilde  "&#x00E3;" >


<!ENTITY Atilde  "&#x00C3;" >


<!ENTITY auml  "&#x00E4;" >


<!ENTITY Auml  "&#x00C4;" >


<!ENTITY aelig  "&#x00E6;" >


<!ENTITY AElig  "&#x00C6;" >


<!ENTITY ccedil  "&#x00E7;" >


<!ENTITY Ccedil  "&#x00C7;" >


<!ENTITY eth  "&#x00F0;" >


<!ENTITY ETH  "&#x00D0;" >


<!ENTITY eacute  "&#x00E9;" >


<!ENTITY Eacute  "&#x00C9;" >


<!ENTITY ecirc  "&#x00EA;" >


<!ENTITY Ecirc  "&#x00CA;" >


<!ENTITY egrave  "&#x00E8;" >


<!ENTITY Egrave  "&#x00C8;" >


<!ENTITY euml  "&#x00EB;" >


<!ENTITY Euml  "&#x00CB;" >


<!ENTITY iacute  "&#x00ED;" >


<!ENTITY Iacute  "&#x00CD;" >


<!ENTITY icirc  "&#x00EE;" >


<!ENTITY Icirc  "&#x00CE;" >


<!ENTITY igrave  "&#x00EC;" >


<!ENTITY Igrave  "&#x00CC;" >


<!ENTITY iuml  "&#x00EF;" >


<!ENTITY Iuml  "&#x00CF;" >


<!ENTITY ntilde  "&#x00F1;" >


<!ENTITY Ntilde  "&#x00D1;" >


<!ENTITY oacute  "&#x00F3;" >


<!ENTITY Oacute  "&#x00D3;" >


<!ENTITY ocirc  "&#x00F4;" >


<!ENTITY Ocirc  "&#x00D4;" >


<!ENTITY ograve  "&#x00F2;" >


<!ENTITY Ograve  "&#x00D2;" >


<!ENTITY oslash  "&#x00F8;" >


<!ENTITY Oslash  "&#x00D8;" >


<!ENTITY otilde  "&#x00F5;" >


<!ENTITY Otilde  "&#x00D5;" >


<!ENTITY ouml  "&#x00F6;" >


<!ENTITY Ouml  "&#x00D6;" >


<!ENTITY szlig  "&#x00DF;" >


<!ENTITY thorn  "&#x00FE;" >


<!ENTITY THORN  "&#x00DE;" >


<!ENTITY uacute  "&#x00FA;" >


<!ENTITY Uacute  "&#x00DA;" >


<!ENTITY ucirc  "&#x00FB;" >


<!ENTITY Ucirc  "&#x00DB;" >


<!ENTITY ugrave  "&#x00F9;" >


<!ENTITY Ugrave  "&#x00D9;" >


<!ENTITY uuml  "&#x00FC;" >


<!ENTITY Uuml  "&#x00DC;" >


<!ENTITY yacute  "&#x00FD;" >


<!ENTITY Yacute  "&#x00DD;" >


<!ENTITY yuml  "&#x00FF;" >


<!ENTITY abreve  "&#x0103;" >


<!ENTITY Abreve  "&#x0102;" >


<!ENTITY amacr  "&#x0101;" >


<!ENTITY Amacr  "&#x0100;" >


<!ENTITY aogon  "&#x0105;" >


<!ENTITY Aogon  "&#x0104;" >


<!ENTITY cacute  "&#x0107;" >


<!ENTITY Cacute  "&#x0106;" >


<!ENTITY ccaron  "&#x010D;" >


<!ENTITY Ccaron  "&#x010C;" >


<!ENTITY ccirc  "&#x0109;" >


<!ENTITY Ccirc  "&#x0108;" >


<!ENTITY cdot  "&#x010B;" >


<!ENTITY Cdot  "&#x010A;" >


<!ENTITY dcaron  "&#x010F;" >


<!ENTITY Dcaron  "&#x010E;" >


<!ENTITY dstrok  "&#x0111;" >


<!ENTITY Dstrok  "&#x0110;" >


<!ENTITY ecaron  "&#x011B;" >


<!ENTITY Ecaron  "&#x011A;" >


<!ENTITY edot  "&#x0117;" >


<!ENTITY Edot  "&#x0116;" >


<!ENTITY emacr  "&#x0113;" >


<!ENTITY Emacr  "&#x0112;" >


<!ENTITY eogon  "&#x0119;" >


<!ENTITY Eogon  "&#x0118;" >


<!ENTITY gacute  "&#x01F5;" >


<!ENTITY gbreve  "&#x011F;" >


<!ENTITY Gbreve  "&#x011E;" >


<!ENTITY Gcedil  "&#x0122;" >


<!ENTITY gcirc  "&#x011D;" >


<!ENTITY Gcirc  "&#x011C;" >


<!ENTITY gdot  "&#x0121;" >


<!ENTITY Gdot  "&#x0120;" >


<!ENTITY hcirc  "&#x0125;" >


<!ENTITY Hcirc  "&#x0124;" >


<!ENTITY hstrok  "&#x0127;" >


<!ENTITY Hstrok  "&#x0126;" >


<!ENTITY Idot  "&#x0130;" >


<!ENTITY Imacr  "&#x012A;" >


<!ENTITY imacr  "&#x012B;" >


<!ENTITY ijlig  "&#x0133;" >


<!ENTITY IJlig  "&#x0132;" >


<!ENTITY inodot  "&#x0131;" >


<!ENTITY iogon  "&#x012F;" >


<!ENTITY Iogon  "&#x012E;" >


<!ENTITY itilde  "&#x0129;" >


<!ENTITY Itilde  "&#x0128;" >


<!ENTITY jcirc  "&#x0135;" >


<!ENTITY Jcirc  "&#x0134;" >


<!ENTITY kcedil  "&#x0137;" >


<!ENTITY Kcedil  "&#x0136;" >


<!ENTITY kgreen  "&#x0138;" >


<!ENTITY lacute  "&#x013A;" >


<!ENTITY Lacute  "&#x0139;" >


<!ENTITY lcaron  "&#x013E;" >


<!ENTITY Lcaron  "&#x013D;" >


<!ENTITY lcedil  "&#x013C;" >


<!ENTITY Lcedil  "&#x013B;" >


<!ENTITY lmidot  "&#x0140;" >


<!ENTITY Lmidot  "&#x013F;" >


<!ENTITY lstrok  "&#x0142;" >


<!ENTITY Lstrok  "&#x0141;" >


<!ENTITY nacute  "&#x0144;" >


<!ENTITY Nacute  "&#x0143;" >


<!ENTITY eng  "&#x014B;" >


<!ENTITY ENG  "&#x014A;" >


<!ENTITY napos  "&#x0149;" >


<!ENTITY ncaron  "&#x0148;" >


<!ENTITY Ncaron  "&#x0147;" >


<!ENTITY ncedil  "&#x0146;" >


<!ENTITY Ncedil  "&#x0145;" >


<!ENTITY odblac  "&#x0151;" >


<!ENTITY Odblac  "&#x0150;" >


<!ENTITY Omacr  "&#x014C;" >


<!ENTITY omacr  "&#x014D;" >


<!ENTITY oelig  "&#x0153;" >


<!ENTITY OElig  "&#x0152;" >


<!ENTITY racute  "&#x0155;" >


<!ENTITY Racute  "&#x0154;" >


<!ENTITY rcaron  "&#x0159;" >


<!ENTITY Rcaron  "&#x0158;" >


<!ENTITY rcedil  "&#x0157;" >


<!ENTITY Rcedil  "&#x0156;" >


<!ENTITY sacute  "&#x015B;" >


<!ENTITY Sacute  "&#x015A;" >


<!ENTITY scaron  "&#x0161;" >


<!ENTITY Scaron  "&#x0160;" >


<!ENTITY scedil  "&#x015F;" >


<!ENTITY Scedil  "&#x015E;" >


<!ENTITY scirc  "&#x015D;" >


<!ENTITY Scirc  "&#x015C;" >


<!ENTITY tcaron  "&#x0165;" >


<!ENTITY Tcaron  "&#x0164;" >


<!ENTITY tcedil  "&#x0163;" >


<!ENTITY Tcedil  "&#x0162;" >


<!ENTITY tstrok  "&#x0167;" >


<!ENTITY Tstrok  "&#x0166;" >


<!ENTITY ubreve  "&#x016D;" >


<!ENTITY Ubreve  "&#x016C;" >


<!ENTITY udblac  "&#x0171;" >


<!ENTITY Udblac  "&#x0170;" >


<!ENTITY umacr  "&#x016B;" >


<!ENTITY Umacr  "&#x016A;" >


<!ENTITY uogon  "&#x0173;" >


<!ENTITY Uogon  "&#x0172;" >


<!ENTITY uring  "&#x016F;" >


<!ENTITY Uring  "&#x016E;" >


<!ENTITY utilde  "&#x0169;" >


<!ENTITY Utilde  "&#x0168;" >


<!ENTITY wcirc  "&#x0175;" >


<!ENTITY Wcirc  "&#x0174;" >


<!ENTITY ycirc  "&#x0177;" >


<!ENTITY Ycirc  "&#x0176;" >


<!ENTITY Yuml  "&#x0178;" >


<!ENTITY zacute  "&#x017A;" >


<!ENTITY Zacute  "&#x0179;" >


<!ENTITY zcaron  "&#x017E;" >


<!ENTITY Zcaron  "&#x017D;" >


<!ENTITY zdot  "&#x017C;" >


<!ENTITY Zdot  "&#x017B;" >


<!ENTITY half  "&#x00BD;" >


<!ENTITY frac12  "&#x00BD;" >


<!ENTITY frac14  "&#x00BC;" >


<!ENTITY frac34  "&#x00BE;" >


<!ENTITY frac18  "&#x215B;" >


<!ENTITY frac38  "&#x215C;" >


<!ENTITY frac58  "&#x215D;" >


<!ENTITY frac78  "&#x215E;" >


<!ENTITY sup1  "&#x00B9;" >


<!ENTITY sup2  "&#x00B2;" >


<!ENTITY sup3  "&#x00B3;" >


<!ENTITY plus  "&#x002B;" >


<!ENTITY plusmn  "&#x00B1;" >


<!ENTITY equals  "&#x003D;" >


<!ENTITY gt  "&#x003E;" >


<!ENTITY divide  "&#x00F7;" >


<!ENTITY times  "&#x00D7;" >


<!ENTITY curren  "&#x00A4;" >


<!ENTITY pound  "&#x00A3;" >


<!ENTITY dollar  "&#x0024;" >


<!ENTITY cent  "&#x00A2;" >


<!ENTITY yen  "&#x00A5;" >


<!ENTITY num  "&#x0023;" >


<!ENTITY percnt  "&#x0025;" >


<!ENTITY ast  "&#x2217;" >


<!ENTITY commat  "&#x0040;" >


<!ENTITY lsqb  "&#x005B;" >


<!ENTITY bsol  "&#x005C;" >


<!ENTITY rsqb  "&#x005D;" >


<!ENTITY lcub  "&#x007B;" >


<!ENTITY horbar  "&#x2015;" >


<!ENTITY verbar  "&#x007C;" >


<!ENTITY rcub  "&#x007D;" >


<!ENTITY micro  "&#x00B5;" >


<!ENTITY ohm  "&#x2126;" >


<!ENTITY deg  "&#x00B0;" >


<!ENTITY ordm  "&#x00BA;" >


<!ENTITY ordf  "&#x00AA;" >


<!ENTITY sect  "&#x00A7;" >


<!ENTITY para  "&#x00B6;" >


<!ENTITY middot  "&#x00B7;" >


<!ENTITY larr  "&#x2190;" >


<!ENTITY rarr  "&#x2192;" >


<!ENTITY uarr  "&#x2191;" >


<!ENTITY darr  "&#x2193;" >


<!ENTITY copy  "&#x00A9;" >


<!ENTITY reg  "&#x00AE;" >


<!ENTITY trade  "&#x2122;" >


<!ENTITY brvbar  "&#x00A6;" >


<!ENTITY not  "&#x00AC;" >


<!ENTITY sung  "&#x2669;" >


<!ENTITY excl  "&#x0021;" >


<!ENTITY iexcl  "&#x00A1;" >


<!ENTITY quot  "&#x0022;" >


<!ENTITY apos  "&#x0027;" >


<!ENTITY lpar  "&#x0028;" >


<!ENTITY rpar  "&#x0029;" >


<!ENTITY comma  "&#x002C;" >


<!ENTITY lowbar  "&#x005F;" >


<!ENTITY hyphen  "&#xE4F8;" >


<!ENTITY period  "&#x002E;" >


<!ENTITY sol  "&#x002F;" >


<!ENTITY colon  "&#x003A;" >


<!ENTITY semi  "&#x003B;" >


<!ENTITY quest  "&#x003F;" >


<!ENTITY iquest  "&#x00BF;" >


<!ENTITY laquo  "&#x00AB;" >


<!ENTITY raquo  "&#x00BB;" >


<!ENTITY lsquo  "&#x2018;" >


<!ENTITY rsquo  "&#x2019;" >


<!ENTITY ldquo  "&#x201C;" >


<!ENTITY rdquo  "&#x201D;" >


<!ENTITY nbsp  "&#x00A0;" >


<!ENTITY shy  "&#x00AD;" >


<!ENTITY emsp  "&#x2003;" >


<!ENTITY ensp  "&#x2002;" >


<!ENTITY emsp13  "&#x2004;" >


<!ENTITY emsp14  "&#x2005;" >


<!ENTITY numsp  "&#x2007;" >


<!ENTITY puncsp  "&#x2008;" >


<!ENTITY thinsp  "&#x2009;" >


<!ENTITY hairsp  "&#x200A;" >


<!ENTITY mdash  "&#x2014;" >


<!ENTITY ndash  "&#x2013;" >


<!ENTITY dash  "&#x2010;" >


<!ENTITY blank  "&#x2423;" >


<!ENTITY hellip  "&#x2026;" >


<!ENTITY nldr  "&#x2025;" >


<!ENTITY frac13  "&#x2153;" >


<!ENTITY frac23  "&#x2154;" >


<!ENTITY frac15  "&#x2155;" >


<!ENTITY frac25  "&#x2156;" >


<!ENTITY frac35  "&#x2157;" >


<!ENTITY frac45  "&#x2158;" >


<!ENTITY frac16  "&#x2159;" >


<!ENTITY frac56  "&#x215A;" >


<!ENTITY incare  "&#x2105;" >


<!ENTITY block  "&#x2588;" >


<!ENTITY uhblk  "&#x2580;" >


<!ENTITY lhblk  "&#x2584;" >


<!ENTITY blk14  "&#x2591;" >


<!ENTITY blk12  "&#x2592;" >


<!ENTITY blk34  "&#x2593;" >


<!ENTITY marker  "&#x25AE;" >


<!ENTITY cir  "&#x25CB;" >


<!ENTITY squ  "&#x25A1;" >


<!ENTITY rect  "&#x25AD;" >


<!ENTITY utri  "&#x25B5;" >


<!ENTITY dtri  "&#x25BF;" >


<!ENTITY star  "&#x22C6;" >


<!ENTITY bull  "&#x2022;" >


<!ENTITY squf  "&#x25AA;" >


<!ENTITY utrif  "&#x25B4;" >


<!ENTITY dtrif  "&#x25BE;" >


<!ENTITY ltrif  "&#x25C2;" >


<!ENTITY rtrif  "&#x25B8;" >


<!ENTITY clubs  "&#x2663;" >


<!ENTITY diams  "&#x2666;" >


<!ENTITY hearts  "&#x2665;" >


<!ENTITY spades  "&#x2660;" >


<!ENTITY malt  "&#x2720;" >


<!ENTITY dagger  "&#x2020;" >


<!ENTITY Dagger  "&#x2021;" >


<!ENTITY check  "&#x2713;" >


<!ENTITY cross  "&#x2717;" >


<!ENTITY sharp  "&#x266F;" >


<!ENTITY flat  "&#x266D;" >


<!ENTITY male  "&#x2642;" >


<!ENTITY female  "&#x2640;" >


<!ENTITY phone  "&#x260E;" >


<!ENTITY telrec  "&#x2315;" >


<!ENTITY copysr  "&#x2117;" >


<!ENTITY caret  "&#x2041;" >


<!ENTITY lsquor  "&#x201A;" >


<!ENTITY ldquor  "&#x201E;" >


<!ENTITY fflig  "&#xFB00;" >


<!ENTITY filig  "&#xFB01;" >


<!ENTITY ffilig  "&#xFB03;" >


<!ENTITY ffllig  "&#xFB04;" >


<!ENTITY fllig  "&#xFB02;" >


<!ENTITY mldr  "&#x2026;" >


<!ENTITY rdquor  "&#x201C;" >


<!ENTITY rsquor  "&#x2018;" >


<!ENTITY vellip  "&#x22EE;" >


<!ENTITY hybull  "&#x2043;" >


<!ENTITY loz  "&#x25CA;" >


<!ENTITY lozf  "&#x2726;" >


<!ENTITY ltri  "&#x25C3;" >


<!ENTITY rtri  "&#x25B9;" >


<!ENTITY starf  "&#x2605;" >


<!ENTITY natur  "&#x266E;" >


<!ENTITY rx  "&#x211E;" >


<!ENTITY sext  "&#x2736;" >


<!ENTITY target  "&#x2316;" >


<!ENTITY dlcrop  "&#x230D;" >


<!ENTITY drcrop  "&#x230C;" >


<!ENTITY ulcrop  "&#x230F;" >


<!ENTITY urcrop  "&#x230E;" >

<!NOTATION cgm PUBLIC "ISO 8632:1987//NOTATION Computer Graphics Metafile//EN" >
<!NOTATION png PUBLIC "-//TEI//NOTATION IETF RFC2083 Portable Network Graphics//EN" >
<!NOTATION jpeg PUBLIC "ISO DIS 10918//NOTATION JPEG Graphics Format//EN" >
<!NOTATION tiff PUBLIC "-//TEI//NOTATION Aldus Tagged Image File Format//EN" >
<!NOTATION gif PUBLIC "-//TEI//NOTATION Compuserve Graphics Interchange Format//EN" >
<!NOTATION sgml PUBLIC "ISO 8879:1986//NOTATION Standard Generalized Markup Language//EN" >
<!NOTATION wsd PUBLIC "-//TEI P3-1994//NOTATION Writing System Declaration//EN" >

<!ELEMENT TEI.2 
	(teiHeader, text) >


<!ATTLIST TEI.2 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "TEI.2" >


<!ELEMENT gi 
	(#PCDATA) >


<!ATTLIST gi 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEI (yes | no) "yes"
	TEIform CDATA "gi" >


<!ELEMENT eg 
	(#PCDATA) >


<!ATTLIST eg 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "eg" >


<!ELEMENT code 
	(#PCDATA) >


<!ATTLIST code 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED >


<!ELEMENT ident 
	(#PCDATA) >


<!ATTLIST ident 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED >


<!ELEMENT kw 
	(#PCDATA) >


<!ATTLIST kw 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED >


<!ELEMENT teiHeader 
	(fileDesc, encodingDesc*, profileDesc*, revisionDesc?) >


<!ATTLIST teiHeader 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "text"
	creator CDATA #IMPLIED
	status (new | update) "new"
	date.created CDATA #IMPLIED
	date.updated CDATA #IMPLIED
	TEIform CDATA "teiHeader" >


<!ELEMENT fileDesc 
	(titleStmt, editionStmt?, extent?, publicationStmt, seriesStmt?, 
	notesStmt?, sourceDesc+) >


<!ATTLIST fileDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "fileDesc" >


<!ELEMENT titleStmt 
	(title+, (author | editor | sponsor | funder | principal 
	| respStmt)*) >


<!ATTLIST titleStmt 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "titleStmt" >


<!ELEMENT sponsor 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST sponsor 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "sponsor" >


<!ELEMENT funder 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST funder 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "funder" >


<!ELEMENT principal 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST principal 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "principal" >


<!ELEMENT editionStmt 
	((edition, respStmt*) | p+) >


<!ATTLIST editionStmt 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "editionStmt" >


<!ELEMENT edition 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST edition 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "edition" >


<!ELEMENT extent 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST extent 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "extent" >


<!ELEMENT publicationStmt 
	((p, (anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*)+ | ((publisher | distributor | authority | pubPlace 
	| address | idno | availability | date), (anchor | gap | 
	index | interp | interpGrp | lb | milestone | pb)*)+) >


<!ATTLIST publicationStmt 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "publicationStmt" >


<!ELEMENT distributor 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST distributor 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "distributor" >


<!ELEMENT authority 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST authority 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "authority" >


<!ELEMENT idno 
	(#PCDATA) >


<!ATTLIST idno 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "idno" >


<!ELEMENT availability 
	(p)+ >


<!ATTLIST availability 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	status (free | unknown | restricted) "unknown"
	TEIform CDATA "availability" >


<!ELEMENT seriesStmt 
	((title+, (idno | respStmt)*) | p+) >


<!ATTLIST seriesStmt 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "seriesStmt" >


<!ELEMENT notesStmt 
	(note)+ >


<!ATTLIST notesStmt 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "notesStmt" >


<!ELEMENT sourceDesc 
	(p | bibl | biblFull | listBibl)+ >


<!ATTLIST sourceDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "sourceDesc" >


<!ELEMENT encodingDesc 
	(projectDesc*, samplingDecl*, editorialDecl*, tagsDecl?, 
	refsDecl*, classDecl*, p*) >


<!ATTLIST encodingDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "encodingDesc" >


<!ELEMENT projectDesc 
	(p)+ >


<!ATTLIST projectDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "projectDesc" >


<!ELEMENT samplingDecl 
	(p)+ >


<!ATTLIST samplingDecl 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "samplingDecl" >


<!ELEMENT editorialDecl 
	(p)+ >


<!ATTLIST editorialDecl 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "editorialDecl" >


<!ELEMENT tagsDecl 
	(rendition*, tagUsage*) >


<!ATTLIST tagsDecl 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "tagsDecl" >


<!ELEMENT tagUsage 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST tagUsage 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	gi CDATA #REQUIRED
	occurs CDATA #IMPLIED
	ident CDATA #IMPLIED
	render IDREF #IMPLIED
	TEIform CDATA "tagUsage" >


<!ELEMENT rendition 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST rendition 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "rendition" >


<!ELEMENT refsDecl 
	(p)+ >


<!ATTLIST refsDecl 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	doctype CDATA "TEI.2"
	TEIform CDATA "refsDecl" >


<!ELEMENT classDecl 
	(taxonomy)+ >


<!ATTLIST classDecl 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "classDecl" >


<!ELEMENT taxonomy 
	(category+ | ((bibl | biblFull), category*)) >


<!ATTLIST taxonomy 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "taxonomy" >


<!ELEMENT category 
	(catDesc, category*) >


<!ATTLIST category 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "category" >


<!ELEMENT catDesc 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi)* >


<!ATTLIST catDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "catDesc" >


<!ELEMENT profileDesc 
	(creation?, langUsage*, textClass*) >


<!ATTLIST profileDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "profileDesc" >


<!ELEMENT creation 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST creation 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "creation" >


<!ELEMENT langUsage 
	(p | language)+ >


<!ATTLIST langUsage 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "langUsage" >


<!ELEMENT language 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST language 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	wsd ENTITY #IMPLIED
	usage CDATA #IMPLIED
	TEIform CDATA "language" >


<!ELEMENT textClass 
	(classCode | catRef | keywords)* >


<!ATTLIST textClass 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "textClass" >


<!ELEMENT keywords 
	(term+ | list) >


<!ATTLIST keywords 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	scheme IDREF #IMPLIED
	TEIform CDATA "keywords" >


<!ELEMENT classCode 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST classCode 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	scheme IDREF #IMPLIED
	TEIform CDATA "classCode" >


<!ELEMENT catRef 
	EMPTY >


<!ATTLIST catRef 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	target IDREFS #REQUIRED
	scheme IDREF #IMPLIED
	TEIform CDATA "catRef" >


<!ELEMENT revisionDesc 
	(list | change+) >


<!ATTLIST revisionDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "revisionDesc" >


<!ELEMENT change 
	(date, respStmt+, item) >


<!ATTLIST change 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "change" >


<!ELEMENT p 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST p 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "p" >


<!ELEMENT foreign 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST foreign 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "foreign" >


<!ELEMENT emph 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST emph 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "emph" >


<!ELEMENT hi 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST hi 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "hi" >


<!ELEMENT q 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | ab | l 
	| lg | p | sp | anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)* >


<!ATTLIST q 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	direct (y | n | unspecified) "unspecified"
	who CDATA #IMPLIED
	TEIform CDATA "q" >


<!ELEMENT cit 
	(q | bibl | biblFull | ptr | ref | xptr | xref | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)+ >


<!ATTLIST cit 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "cit" >


<!ELEMENT soCalled 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST soCalled 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "soCalled" >


<!ELEMENT term 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST term 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "term" >


<!ELEMENT mentioned 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST mentioned 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "mentioned" >


<!ELEMENT gloss 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST gloss 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	target IDREF #IMPLIED
	TEIform CDATA "gloss" >


<!ELEMENT name 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST name 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "name" >


<!ELEMENT rs 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST rs 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "rs" >


<!ELEMENT num 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST num 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	value CDATA #IMPLIED
	TEIform CDATA "num" >


<!ELEMENT date 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST date 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	calendar CDATA #IMPLIED
	value CDATA #IMPLIED
	certainty CDATA #IMPLIED
	TEIform CDATA "date" >


<!ELEMENT time 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST time 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	type (am | pm | 24hour | descriptive) #IMPLIED
	zone CDATA #IMPLIED
	TEIform CDATA "time" >


<!ELEMENT abbr 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST abbr 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	expan CDATA #IMPLIED
	resp IDREF #IMPLIED
	cert CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "abbr" >


<!ELEMENT sic 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | ab | l 
	| lg | p | sp | anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)* >


<!ATTLIST sic 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	corr CDATA #IMPLIED
	resp CDATA #IMPLIED
	cert CDATA #IMPLIED
	TEIform CDATA "sic" >


<!ELEMENT corr 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | ab | l 
	| lg | p | sp | anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)* >


<!ATTLIST corr 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	sic CDATA #IMPLIED
	resp CDATA #IMPLIED
	cert CDATA #IMPLIED
	TEIform CDATA "corr" >


<!ELEMENT reg 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST reg 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	orig CDATA #IMPLIED
	resp CDATA #IMPLIED
	TEIform CDATA "reg" >


<!ELEMENT orig 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST orig 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	reg CDATA #IMPLIED
	resp CDATA #IMPLIED
	TEIform CDATA "orig" >


<!ELEMENT gap 
	EMPTY >


<!ATTLIST gap 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	desc CDATA #IMPLIED
	reason CDATA #IMPLIED
	resp IDREF #IMPLIED
	hand IDREF #IMPLIED
	agent CDATA #IMPLIED
	extent CDATA #IMPLIED
	TEIform CDATA "gap" >


<!ELEMENT add 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | ab | l 
	| lg | p | sp | anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)* >


<!ATTLIST add 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	place CDATA #IMPLIED
	resp IDREF #IMPLIED
	cert CDATA #IMPLIED
	hand IDREF #IMPLIED
	TEIform CDATA "add" >


<!ELEMENT del 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST del 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	status CDATA "unremarkable"
	resp IDREF #IMPLIED
	cert CDATA #IMPLIED
	hand IDREF #IMPLIED
	TEIform CDATA "del" >


<!ELEMENT unclear 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST unclear 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	reason CDATA #IMPLIED
	resp CDATA #IMPLIED
	cert CDATA #IMPLIED
	hand IDREF #IMPLIED
	agent CDATA #IMPLIED
	TEIform CDATA "unclear" >


<!ELEMENT address 
	((anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*, ((addrLine, (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)+ | (name, (anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*)*)) >


<!ATTLIST address 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "address" >


<!ELEMENT addrLine 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST addrLine 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "addrLine" >


<!ELEMENT ptr 
	EMPTY >


<!ATTLIST ptr 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	target IDREFS #REQUIRED
	TEIform CDATA "ptr" >


<!ELEMENT ref 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST ref 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	target IDREFS #IMPLIED
	TEIform CDATA "ref" >


<!ELEMENT list 
	((anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*, (head, (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)?, ((item, (anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*)* | (label, 
	(anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*, item, (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)+)) >


<!ATTLIST list 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "simple"
	TEIform CDATA "list" >


<!ELEMENT item 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | ab | l 
	| lg | p | sp | anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)* >


<!ATTLIST item 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "item" >


<!ELEMENT label 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST label 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "label" >


<!ELEMENT head 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST head 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "head" >


<!ELEMENT note 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | ab | l 
	| lg | p | sp | anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)* >


<!ATTLIST note 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	place CDATA "unspecified"
	anchored (yes | no) "yes"
	target IDREFS #IMPLIED
	targetEnd IDREFS #IMPLIED
	TEIform CDATA "note" >


<!ELEMENT index 
	EMPTY >


<!ATTLIST index 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	index CDATA #IMPLIED
	level1 CDATA #REQUIRED
	level2 CDATA #IMPLIED
	level3 CDATA #IMPLIED
	level4 CDATA #IMPLIED
	TEIform CDATA "index" >


<!ELEMENT divGen 
	EMPTY >


<!ATTLIST divGen 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "divGen" >


<!ELEMENT milestone 
	EMPTY >


<!ATTLIST milestone 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	unit CDATA #REQUIRED
	TEIform CDATA "milestone" >


<!ELEMENT pb 
	EMPTY >


<!ATTLIST pb 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	TEIform CDATA "pb" >


<!ELEMENT lb 
	EMPTY >


<!ATTLIST lb 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	ed CDATA #IMPLIED
	TEIform CDATA "lb" >


<!ELEMENT bibl 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | author | biblScope | edition | editor | extent 
	| idno | imprint | note | pubPlace | publisher | respStmt 
	| anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)* >


<!ATTLIST bibl 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "bibl" >


<!ELEMENT biblFull 
	((anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*, titleStmt, (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*, (editionStmt, (anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*)?, (extent, 
	(anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*)?, publicationStmt, (anchor | gap | index | interp 
	| interpGrp | lb | milestone | pb)*, (seriesStmt, (anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)*)?, 
	(notesStmt, (anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)*)?, (sourceDesc, (anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*)*) >


<!ATTLIST biblFull 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "biblFull" >


<!ELEMENT listBibl 
	((anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*, (head, (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)?, (bibl | biblFull), (bibl | biblFull 
	| anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*, (trailer, (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)?) >


<!ATTLIST listBibl 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	default (YES | NO) "NO"
	TEIform CDATA "listBibl" >


<!ELEMENT author 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST author 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "author" >


<!ELEMENT editor 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST editor 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	role CDATA "editor"
	TEIform CDATA "editor" >


<!ELEMENT respStmt 
	(resp | name | anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)+ >


<!ATTLIST respStmt 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "respStmt" >


<!ELEMENT resp 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST resp 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "resp" >


<!ELEMENT title 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST title 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	level (a | m | j | s | u) #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "title" >


<!ELEMENT imprint 
	(pubPlace | publisher | date | biblScope | anchor | gap 
	| index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST imprint 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "imprint" >


<!ELEMENT publisher 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST publisher 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "publisher" >


<!ELEMENT biblScope 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST biblScope 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "biblScope" >


<!ELEMENT pubPlace 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST pubPlace 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	key CDATA #IMPLIED
	reg CDATA #IMPLIED
	TEIform CDATA "pubPlace" >


<!ELEMENT l 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST l 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	TEIform CDATA "l" >


<!ELEMENT lg 
	((argument | byline | dateline | docAuthor | docDate | epigraph 
	| head | opener | salute | signed | anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*, (l | lg), 
	(l | lg | anchor | gap | index | interp | interpGrp | lb 
	| milestone | pb)*, ((byline | closer | dateline | epigraph 
	| salute | signed | trailer), (anchor | gap | index | interp 
	| interpGrp | lb | milestone | pb)*)*) >


<!ATTLIST lg 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	TEIform CDATA "lg" >


<!ELEMENT sp 
	((anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*, (speaker, (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)?, ((p | l | lg | ab | seg | stage), 
	(anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*)+) >


<!ATTLIST sp 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	who IDREFS #IMPLIED
	TEIform CDATA "sp" >


<!ELEMENT speaker 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST speaker 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "speaker" >


<!ELEMENT stage 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | ab | l 
	| lg | p | sp | anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)* >


<!ATTLIST stage 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "stage" >


<!ELEMENT text 
	((anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*, (front, (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)?, (body | group), (anchor | gap 
	| index | interp | interpGrp | lb | milestone | pb)*, (back, 
	(anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*)?) >


<!ATTLIST text 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "text" >


<!ELEMENT body 
	((argument | byline | dateline | docAuthor | docDate | epigraph 
	| head | opener | salute | signed | anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*, ((((eg | bibl 
	| biblFull | ab | l | lg | p | sp | figure | cit | q | label 
	| list | listBibl | note | stage | table), (anchor | gap 
	| index | interp | interpGrp | lb | milestone | pb)*)+, 
	(divGen, (anchor | gap | index | interp | interpGrp | lb 
	| milestone | pb)*)*, ((div, (div | divGen | anchor | gap 
	| index | interp | interpGrp | lb | milestone | pb)*) | 
	(div0, (div0 | divGen | anchor | gap | index | interp | 
	interpGrp | lb | milestone | pb)*) | (div1, (div1 | divGen 
	| anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*))?) | ((divGen, (anchor | gap | index | interp | 
	interpGrp | lb | milestone | pb)*)*, ((div, (div | divGen 
	| anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*) | (div0, (div0 | divGen | anchor | gap | index | 
	interp | interpGrp | lb | milestone | pb)*) | (div1, (div1 
	| divGen | anchor | gap | index | interp | interpGrp | lb 
	| milestone | pb)*)))), ((byline | closer | dateline | epigraph 
	| salute | signed | trailer), (anchor | gap | index | interp 
	| interpGrp | lb | milestone | pb)*)*) >


<!ATTLIST body 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "body" >


<!ELEMENT group 
	((argument | byline | dateline | docAuthor | docDate | epigraph 
	| head | opener | salute | signed | anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*, (text | group), 
	(text | group | anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*, ((byline | closer | dateline | 
	epigraph | salute | signed | trailer), (anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*)*) >


<!ATTLIST group 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "group" >


<!ELEMENT div 
	((argument | byline | dateline | docAuthor | docDate | epigraph 
	| head | opener | salute | signed | anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*, (((div | divGen), 
	(anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*)+ | (((eg | bibl | biblFull | ab | l | lg | p | sp 
	| figure | cit | q | label | list | listBibl | note | stage 
	| table), (anchor | gap | index | interp | interpGrp | lb 
	| milestone | pb)*)+, ((div | divGen), (anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*)*)), ((byline 
	| closer | dateline | epigraph | salute | signed | trailer), 
	(anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*)*) >


<!ATTLIST div 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	decls IDREFS #IMPLIED
	TEIform CDATA "div" >


<!ELEMENT div0 
	((argument | byline | dateline | docAuthor | docDate | epigraph 
	| head | opener | salute | signed | anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*, (((div1 | 
	divGen), (anchor | gap | index | interp | interpGrp | lb 
	| milestone | pb)*)+ | (((eg | bibl | biblFull | ab | l 
	| lg | p | sp | figure | cit | q | label | list | listBibl 
	| note | stage | table), (anchor | gap | index | interp 
	| interpGrp | lb | milestone | pb)*)+, ((div1 | divGen), 
	(anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*)*)), ((byline | closer | dateline | epigraph | salute 
	| signed | trailer), (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)*) >


<!ATTLIST div0 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	decls IDREFS #IMPLIED
	TEIform CDATA "div0" >


<!ELEMENT div1 
	((argument | byline | dateline | docAuthor | docDate | epigraph 
	| head | opener | salute | signed | anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*, (((div2 | 
	divGen), (anchor | gap | index | interp | interpGrp | lb 
	| milestone | pb)*)+ | (((eg | bibl | biblFull | ab | l 
	| lg | p | sp | figure | cit | q | label | list | listBibl 
	| note | stage | table), (anchor | gap | index | interp 
	| interpGrp | lb | milestone | pb)*)+, ((div2 | divGen), 
	(anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*)*)), ((byline | closer | dateline | epigraph | salute 
	| signed | trailer), (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)*) >


<!ATTLIST div1 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	decls IDREFS #IMPLIED
	TEIform CDATA "div1" >


<!ELEMENT div2 
	((argument | byline | dateline | docAuthor | docDate | epigraph 
	| head | opener | salute | signed | anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*, (((div3 | 
	divGen), (anchor | gap | index | interp | interpGrp | lb 
	| milestone | pb)*)+ | (((eg | bibl | biblFull | ab | l 
	| lg | p | sp | figure | cit | q | label | list | listBibl 
	| note | stage | table), (anchor | gap | index | interp 
	| interpGrp | lb | milestone | pb)*)+, ((div3 | divGen), 
	(anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*)*)), ((byline | closer | dateline | epigraph | salute 
	| signed | trailer), (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)*) >


<!ATTLIST div2 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	decls IDREFS #IMPLIED
	TEIform CDATA "div2" >


<!ELEMENT div3 
	((argument | byline | dateline | docAuthor | docDate | epigraph 
	| head | opener | salute | signed | anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*, (((div4 | 
	divGen), (anchor | gap | index | interp | interpGrp | lb 
	| milestone | pb)*)+ | (((eg | bibl | biblFull | ab | l 
	| lg | p | sp | figure | cit | q | label | list | listBibl 
	| note | stage | table), (anchor | gap | index | interp 
	| interpGrp | lb | milestone | pb)*)+, ((div4 | divGen), 
	(anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*)*)), ((byline | closer | dateline | epigraph | salute 
	| signed | trailer), (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)*) >


<!ATTLIST div3 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	decls IDREFS #IMPLIED
	TEIform CDATA "div3" >


<!ELEMENT div4 
	((argument | byline | dateline | docAuthor | docDate | epigraph 
	| head | opener | salute | signed | anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*, (((div5 | 
	divGen), (anchor | gap | index | interp | interpGrp | lb 
	| milestone | pb)*)+ | (((eg | bibl | biblFull | ab | l 
	| lg | p | sp | figure | cit | q | label | list | listBibl 
	| note | stage | table), (anchor | gap | index | interp 
	| interpGrp | lb | milestone | pb)*)+, ((div5 | divGen), 
	(anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*)*)), ((byline | closer | dateline | epigraph | salute 
	| signed | trailer), (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)*) >


<!ATTLIST div4 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	decls IDREFS #IMPLIED
	TEIform CDATA "div4" >


<!ELEMENT div5 
	((argument | byline | dateline | docAuthor | docDate | epigraph 
	| head | opener | salute | signed | anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*, (((div6 | 
	divGen), (anchor | gap | index | interp | interpGrp | lb 
	| milestone | pb)*)+ | (((eg | bibl | biblFull | ab | l 
	| lg | p | sp | figure | cit | q | label | list | listBibl 
	| note | stage | table), (anchor | gap | index | interp 
	| interpGrp | lb | milestone | pb)*)+, ((div6 | divGen), 
	(anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*)*)), ((byline | closer | dateline | epigraph | salute 
	| signed | trailer), (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)*) >


<!ATTLIST div5 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	decls IDREFS #IMPLIED
	TEIform CDATA "div5" >


<!ELEMENT div6 
	((argument | byline | dateline | docAuthor | docDate | epigraph 
	| head | opener | salute | signed | anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*, (((div7 | 
	divGen), (anchor | gap | index | interp | interpGrp | lb 
	| milestone | pb)*)+ | (((eg | bibl | biblFull | ab | l 
	| lg | p | sp | figure | cit | q | label | list | listBibl 
	| note | stage | table), (anchor | gap | index | interp 
	| interpGrp | lb | milestone | pb)*)+, ((div7 | divGen), 
	(anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*)*)), ((byline | closer | dateline | epigraph | salute 
	| signed | trailer), (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)*) >


<!ATTLIST div6 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	decls IDREFS #IMPLIED
	TEIform CDATA "div6" >


<!ELEMENT div7 
	((argument | byline | dateline | docAuthor | docDate | epigraph 
	| head | opener | salute | signed | anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*, ((eg | bibl 
	| biblFull | ab | l | lg | p | sp | figure | cit | q | label 
	| list | listBibl | note | stage | table), (anchor | gap 
	| index | interp | interpGrp | lb | milestone | pb)*)+, 
	((byline | closer | dateline | epigraph | salute | signed 
	| trailer), (anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)*)*) >


<!ATTLIST div7 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	org (composite | uniform) "uniform"
	sample (initial | medial | final | unknown | complete) "complete"
	part (Y | N | I | M | F) "N"
	decls IDREFS #IMPLIED
	TEIform CDATA "div7" >


<!ELEMENT trailer 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST trailer 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "trailer" >


<!ELEMENT byline 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | docAuthor | anchor | gap | index | interp | 
	interpGrp | lb | milestone | pb)* >


<!ATTLIST byline 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "byline" >


<!ELEMENT dateline 
	(#PCDATA | date | time | name | address | anchor | gap | 
	index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST dateline 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "dateline" >


<!ELEMENT argument 
	((anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*, head?, ((eg | bibl | biblFull | ab | l | lg | p 
	| sp | figure | cit | q | label | list | listBibl | note 
	| stage | table), (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)*) >


<!ATTLIST argument 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "argument" >


<!ELEMENT epigraph 
	((eg | bibl | biblFull | ab | l | lg | p | sp | figure | 
	cit | q | label | list | listBibl | note | stage | table), 
	(anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*)* >


<!ATTLIST epigraph 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "epigraph" >


<!ELEMENT opener 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | argument | byline | dateline | epigraph | salute 
	| signed | anchor | gap | index | interp | interpGrp | lb 
	| milestone | pb)* >


<!ATTLIST opener 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "opener" >


<!ELEMENT closer 
	(#PCDATA | signed | dateline | salute | ident | code | kw 
	| abbr | address | date | name | num | rs | time | add | 
	corr | del | orig | reg | sic | unclear | formula | emph 
	| foreign | gloss | hi | mentioned | soCalled | term | title 
	| ptr | ref | xptr | xref | s | seg | gi | anchor | gap 
	| index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST closer 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "closer" >


<!ELEMENT salute 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST salute 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "salute" >


<!ELEMENT signed 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST signed 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "signed" >


<!ELEMENT front 
	((divGen | titlePage | anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*, (((argument | byline | docAuthor 
	| docDate | docEdition | docImprint | docTitle | epigraph 
	| head | titlePart), (argument | byline | docAuthor | docDate 
	| docEdition | docImprint | docTitle | epigraph | head | 
	titlePart | titlePage | anchor | gap | index | interp | 
	interpGrp | lb | milestone | pb)*) | (div, (div | divGen 
	| titlePage | anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*) | (div1, (div1 | divGen | titlePage 
	| anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*))?) >


<!ATTLIST front 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "front" >


<!ELEMENT titlePage 
	((anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*, (byline | docAuthor | docDate | docEdition | docImprint 
	| docTitle | epigraph | figure | titlePart), (byline | docAuthor 
	| docDate | docEdition | docImprint | docTitle | epigraph 
	| figure | titlePart | anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*) >


<!ATTLIST titlePage 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	TEIform CDATA "titlePage" >


<!ELEMENT docTitle 
	((anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*, (titlePart, (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)+) >


<!ATTLIST docTitle 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "docTitle" >


<!ELEMENT titlePart 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST titlePart 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA "main"
	TEIform CDATA "titlePart" >


<!ELEMENT docAuthor 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST docAuthor 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "docAuthor" >


<!ELEMENT docEdition 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST docEdition 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "docEdition" >


<!ELEMENT docImprint 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | pubPlace | docDate | publisher | anchor | gap 
	| index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST docImprint 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "docImprint" >


<!ELEMENT docDate 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST docDate 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	value CDATA #IMPLIED
	TEIform CDATA "docDate" >


<!ELEMENT back 
	((divGen | titlePage | anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*, (((argument | byline | dateline 
	| docAuthor | docDate | epigraph | head | opener | salute 
	| signed), (argument | byline | dateline | docAuthor | docDate 
	| epigraph | head | opener | salute | signed | titlePage 
	| anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*) | (div, (div | divGen | titlePage | anchor | gap 
	| index | interp | interpGrp | lb | milestone | pb)*) | 
	(div1, (div1 | divGen | titlePage | anchor | gap | index 
	| interp | interpGrp | lb | milestone | pb)*))?, (trailer 
	| closer)*) >


<!ATTLIST back 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	decls IDREFS #IMPLIED
	TEIform CDATA "back" >


<!ELEMENT xref 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST xref 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	doc ENTITY #IMPLIED
	from CDATA "ROOT"
	to CDATA "DITTO"
	TEIform CDATA "xref" >


<!ELEMENT xptr 
	EMPTY >


<!ATTLIST xptr 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	resp CDATA #IMPLIED
	crdate CDATA #IMPLIED
	targType CDATA #IMPLIED
	targOrder (Y | N | U) "U"
	evaluate (all | one | none) #IMPLIED
	doc ENTITY #IMPLIED
	from CDATA "ROOT"
	to CDATA "DITTO"
	TEIform CDATA "xptr" >


<!ELEMENT anchor 
	EMPTY >


<!ATTLIST anchor 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	TEIform CDATA "anchor" >


<!ELEMENT seg 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST seg 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	function CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	subtype CDATA #IMPLIED
	TEIform CDATA "seg" >


<!ELEMENT ab 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST ab 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	subtype CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	TEIform CDATA "ab" >


<!ELEMENT interp 
	EMPTY >


<!ATTLIST interp 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	resp CDATA #IMPLIED
	type CDATA #IMPLIED
	inst IDREFS #IMPLIED
	value CDATA #REQUIRED
	TEIform CDATA "interp" >


<!ELEMENT interpGrp 
	(interp)* >


<!ATTLIST interpGrp 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	resp CDATA #IMPLIED
	type CDATA #IMPLIED
	inst IDREFS #IMPLIED
	TEIform CDATA "interpGrp" >


<!ELEMENT s 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | anchor | gap | index | interp | interpGrp | 
	lb | milestone | pb)* >


<!ATTLIST s 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	type CDATA #IMPLIED
	function CDATA #IMPLIED
	part (Y | N | I | M | F) "N"
	TEIform CDATA "s" >


<!ELEMENT table 
	((head | anchor | gap | index | interp | interpGrp | lb 
	| milestone | pb)*, (row, (anchor | gap | index | interp 
	| interpGrp | lb | milestone | pb)*)+) >


<!ATTLIST table 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	rows CDATA #IMPLIED
	cols CDATA #IMPLIED
	TEIform CDATA "table" >


<!ELEMENT row 
	((cell | table), (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)+ >


<!ATTLIST row 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	role CDATA "data"
	TEIform CDATA "row" >


<!ELEMENT cell 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST cell 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	role CDATA "data"
	rows CDATA "1"
	cols CDATA "1"
	TEIform CDATA "cell" >


<!ELEMENT formula 
	(#PCDATA) >


<!ATTLIST formula 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	notation CDATA #REQUIRED
	TEIform CDATA "formula" >


<!ELEMENT figure 
	((anchor | gap | index | interp | interpGrp | lb | milestone 
	| pb)*, (head, (anchor | gap | index | interp | interpGrp 
	| lb | milestone | pb)*)?, (p, (anchor | gap | index | interp 
	| interpGrp | lb | milestone | pb)*)*, (figDesc, (anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)*)?, 
	(text, (anchor | gap | index | interp | interpGrp | lb | 
	milestone | pb)*)?) >


<!ATTLIST figure 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	entity ENTITY #IMPLIED
	TEIform CDATA "figure" >


<!ELEMENT figDesc 
	(#PCDATA | ident | code | kw | abbr | address | date | name 
	| num | rs | time | add | corr | del | orig | reg | sic 
	| unclear | formula | emph | foreign | gloss | hi | mentioned 
	| soCalled | term | title | ptr | ref | xptr | xref | s 
	| seg | gi | eg | bibl | biblFull | figure | cit | q | label 
	| list | listBibl | note | stage | table | text | anchor 
	| gap | index | interp | interpGrp | lb | milestone | pb)* >


<!ATTLIST figDesc 
	corresp IDREFS #IMPLIED
	next IDREF #IMPLIED
	prev IDREF #IMPLIED
	ana IDREFS #IMPLIED
	id ID #IMPLIED
	n CDATA #IMPLIED
	lang IDREF #IMPLIED
	rend CDATA #IMPLIED
	TEIform CDATA "figDesc" >

