I18N/results-ja/tei.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
    Schema generated 2006-07-03T20:05:12+01:00..
    Copyright 2005 TEI Consortium.
    This is free software; you can redistribute it and/or
    	    modify it under the terms of the GNU General Public
    	    License as published by the Free Software Foundation;
    	    either version 2 of the License, or (at your option) any
    	    later version.
    This material is distributed in the hope that it will be
    	    useful, but WITHOUT ANY WARRANTY; without even the implied
    	    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
    	    PURPOSE. See the GNU General Public License for more
    	    details.
    You should have received a copy of the GNU General Public
    	    License along with this file; if not, write to the Free
    	    Software Foundation, Inc., 59 Temple Place, Suite 330,
    	    Boston, MA 02111-1307, USA.
    To contact the TEI Consortium use the following addresses.
    	    For general (non-technical) enquiries: 
    		  target="mailto:info@tei-c.org"/>info@tei-c.orgFor membership enquiries: membership@tei-c.orgFor technical enquiries, particularly about the
    		Guidelines, DTDs, schemas, or software available from
    		the TEI-C: editors@tei-c.orgFor up to date information, consult the TEI web site at http://www.tei-c.org/P5Declarations for datatypes, classes, and macros available to all
    TEI modules
  -->
  <!-- Definitions from module tei -->
  <!-- Set global predeclared macros -->
  <define name="TEI" combine="choice">
    <notAllowed/>
  </define>
  <define name="ab" combine="choice">
    <notAllowed/>
  </define>
  <define name="abbr" combine="choice">
    <notAllowed/>
  </define>
  <define name="accMat" combine="choice">
    <notAllowed/>
  </define>
  <define name="acquisition" combine="choice">
    <notAllowed/>
  </define>
  <define name="activity" combine="choice">
    <notAllowed/>
  </define>
  <define name="actor" combine="choice">
    <notAllowed/>
  </define>
  <define name="add" combine="choice">
    <notAllowed/>
  </define>
  <define name="addName" combine="choice">
    <notAllowed/>
  </define>
  <define name="addSpan" combine="choice">
    <notAllowed/>
  </define>
  <define name="additional" combine="choice">
    <notAllowed/>
  </define>
  <define name="additions" combine="choice">
    <notAllowed/>
  </define>
  <define name="addrLine" combine="choice">
    <notAllowed/>
  </define>
  <define name="address" combine="choice">
    <notAllowed/>
  </define>
  <define name="adminInfo" combine="choice">
    <notAllowed/>
  </define>
  <define name="affiliation" combine="choice">
    <notAllowed/>
  </define>
  <define name="alt" combine="choice">
    <notAllowed/>
  </define>
  <define name="altGrp" combine="choice">
    <notAllowed/>
  </define>
  <define name="altIdent" combine="choice">
    <notAllowed/>
  </define>
  <define name="altIdentifier" combine="choice">
    <notAllowed/>
  </define>
  <define name="analytic" combine="choice">
    <notAllowed/>
  </define>
  <define name="anchor" combine="choice">
    <notAllowed/>
  </define>
  <define name="app" combine="choice">
    <notAllowed/>
  </define>
  <define name="arc" combine="choice">
    <notAllowed/>
  </define>
  <define name="argument" combine="choice">
    <notAllowed/>
  </define>
  <define name="att" combine="choice">
    <notAllowed/>
  </define>
  <define name="attDef" combine="choice">
    <notAllowed/>
  </define>
  <define name="attList" combine="choice">
    <notAllowed/>
  </define>
  <define name="attRef" combine="choice">
    <notAllowed/>
  </define>
  <define name="author" combine="choice">
    <notAllowed/>
  </define>
  <define name="authority" combine="choice">
    <notAllowed/>
  </define>
  <define name="availability" combine="choice">
    <notAllowed/>
  </define>
  <define name="back" combine="choice">
    <notAllowed/>
  </define>
  <define name="bibl" combine="choice">
    <notAllowed/>
  </define>
  <define name="biblFull" combine="choice">
    <notAllowed/>
  </define>
  <define name="biblItem" combine="choice">
    <notAllowed/>
  </define>
  <define name="biblScope" combine="choice">
    <notAllowed/>
  </define>
  <define name="biblStruct" combine="choice">
    <notAllowed/>
  </define>
  <define name="bicond" combine="choice">
    <notAllowed/>
  </define>
  <define name="binary" combine="choice">
    <notAllowed/>
  </define>
  <define name="binaryObject" combine="choice">
    <notAllowed/>
  </define>
  <define name="binding" combine="choice">
    <notAllowed/>
  </define>
  <define name="bindingDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="birth" combine="choice">
    <notAllowed/>
  </define>
  <define name="bloc" combine="choice">
    <notAllowed/>
  </define>
  <define name="body" combine="choice">
    <notAllowed/>
  </define>
  <define name="broadcast" combine="choice">
    <notAllowed/>
  </define>
  <define name="byline" combine="choice">
    <notAllowed/>
  </define>
  <define name="c" combine="choice">
    <notAllowed/>
  </define>
  <define name="cRefPattern" combine="choice">
    <notAllowed/>
  </define>
  <define name="caesura" combine="choice">
    <notAllowed/>
  </define>
  <define name="camera" combine="choice">
    <notAllowed/>
  </define>
  <define name="caption" combine="choice">
    <notAllowed/>
  </define>
  <define name="case" combine="choice">
    <notAllowed/>
  </define>
  <define name="castGroup" combine="choice">
    <notAllowed/>
  </define>
  <define name="castItem" combine="choice">
    <notAllowed/>
  </define>
  <define name="castList" combine="choice">
    <notAllowed/>
  </define>
  <define name="catDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="catRef" combine="choice">
    <notAllowed/>
  </define>
  <define name="catchwords" combine="choice">
    <notAllowed/>
  </define>
  <define name="category" combine="choice">
    <notAllowed/>
  </define>
  <define name="cb" combine="choice">
    <notAllowed/>
  </define>
  <define name="cell" combine="choice">
    <notAllowed/>
  </define>
  <define name="certainty" combine="choice">
    <notAllowed/>
  </define>
  <define name="change" combine="choice">
    <notAllowed/>
  </define>
  <define name="channel" combine="choice">
    <notAllowed/>
  </define>
  <define name="char" combine="choice">
    <notAllowed/>
  </define>
  <define name="charDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="charName" combine="choice">
    <notAllowed/>
  </define>
  <define name="charProp" combine="choice">
    <notAllowed/>
  </define>
  <define name="choice" combine="choice">
    <notAllowed/>
  </define>
  <define name="cit" combine="choice">
    <notAllowed/>
  </define>
  <define name="cl" combine="choice">
    <notAllowed/>
  </define>
  <define name="classCode" combine="choice">
    <notAllowed/>
  </define>
  <define name="classDecl" combine="choice">
    <notAllowed/>
  </define>
  <define name="classSpec" combine="choice">
    <notAllowed/>
  </define>
  <define name="classes" combine="choice">
    <notAllowed/>
  </define>
  <define name="closer" combine="choice">
    <notAllowed/>
  </define>
  <define name="code" combine="choice">
    <notAllowed/>
  </define>
  <define name="col" combine="choice">
    <notAllowed/>
  </define>
  <define name="collation" combine="choice">
    <notAllowed/>
  </define>
  <define name="collection" combine="choice">
    <notAllowed/>
  </define>
  <define name="colloc" combine="choice">
    <notAllowed/>
  </define>
  <define name="colophon" combine="choice">
    <notAllowed/>
  </define>
  <define name="cond" combine="choice">
    <notAllowed/>
  </define>
  <define name="condition" combine="choice">
    <notAllowed/>
  </define>
  <define name="constitution" combine="choice">
    <notAllowed/>
  </define>
  <define name="content" combine="choice">
    <notAllowed/>
  </define>
  <define name="corr" combine="choice">
    <notAllowed/>
  </define>
  <define name="correction" combine="choice">
    <notAllowed/>
  </define>
  <define name="country" combine="choice">
    <notAllowed/>
  </define>
  <define name="creation" combine="choice">
    <notAllowed/>
  </define>
  <define name="custEvent" combine="choice">
    <notAllowed/>
  </define>
  <define name="custodialHist" combine="choice">
    <notAllowed/>
  </define>
  <define name="damage" combine="choice">
    <notAllowed/>
  </define>
  <define name="datatype" combine="choice">
    <notAllowed/>
  </define>
  <define name="date" combine="choice">
    <notAllowed/>
  </define>
  <define name="dateRange" combine="choice">
    <notAllowed/>
  </define>
  <define name="dateline" combine="choice">
    <notAllowed/>
  </define>
  <define name="day" combine="choice">
    <notAllowed/>
  </define>
  <define name="death" combine="choice">
    <notAllowed/>
  </define>
  <define name="decoDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="decoNote" combine="choice">
    <notAllowed/>
  </define>
  <define name="def" combine="choice">
    <notAllowed/>
  </define>
  <define name="default" combine="choice">
    <notAllowed/>
  </define>
  <define name="defaultVal" combine="choice">
    <notAllowed/>
  </define>
  <define name="del" combine="choice">
    <notAllowed/>
  </define>
  <define name="delSpan" combine="choice">
    <notAllowed/>
  </define>
  <define name="depth" combine="choice">
    <notAllowed/>
  </define>
  <define name="derivation" combine="choice">
    <notAllowed/>
  </define>
  <define name="desc" combine="choice">
    <notAllowed/>
  </define>
  <define name="dictScrap" combine="choice">
    <notAllowed/>
  </define>
  <define name="dicteg" combine="choice">
    <notAllowed/>
  </define>
  <define name="dimensions" combine="choice">
    <notAllowed/>
  </define>
  <define name="distance" combine="choice">
    <notAllowed/>
  </define>
  <define name="distinct" combine="choice">
    <notAllowed/>
  </define>
  <define name="distributor" combine="choice">
    <notAllowed/>
  </define>
  <define name="district" combine="choice">
    <notAllowed/>
  </define>
  <define name="div" combine="choice">
    <notAllowed/>
  </define>
  <define name="div0" combine="choice">
    <notAllowed/>
  </define>
  <define name="div1" combine="choice">
    <notAllowed/>
  </define>
  <define name="div2" combine="choice">
    <notAllowed/>
  </define>
  <define name="div3" combine="choice">
    <notAllowed/>
  </define>
  <define name="div4" combine="choice">
    <notAllowed/>
  </define>
  <define name="div5" combine="choice">
    <notAllowed/>
  </define>
  <define name="div6" combine="choice">
    <notAllowed/>
  </define>
  <define name="div7" combine="choice">
    <notAllowed/>
  </define>
  <define name="divGen" combine="choice">
    <notAllowed/>
  </define>
  <define name="docAuthor" combine="choice">
    <notAllowed/>
  </define>
  <define name="docDate" combine="choice">
    <notAllowed/>
  </define>
  <define name="docEdition" combine="choice">
    <notAllowed/>
  </define>
  <define name="docImprint" combine="choice">
    <notAllowed/>
  </define>
  <define name="docTitle" combine="choice">
    <notAllowed/>
  </define>
  <define name="domain" combine="choice">
    <notAllowed/>
  </define>
  <define name="eLeaf" combine="choice">
    <notAllowed/>
  </define>
  <define name="eTree" combine="choice">
    <notAllowed/>
  </define>
  <define name="edition" combine="choice">
    <notAllowed/>
  </define>
  <define name="editionStmt" combine="choice">
    <notAllowed/>
  </define>
  <define name="editor" combine="choice">
    <notAllowed/>
  </define>
  <define name="editorialDecl" combine="choice">
    <notAllowed/>
  </define>
  <define name="education" combine="choice">
    <notAllowed/>
  </define>
  <define name="eg" combine="choice">
    <notAllowed/>
  </define>
  <define name="egXML" combine="choice">
    <notAllowed/>
  </define>
  <define name="elementSpec" combine="choice">
    <notAllowed/>
  </define>
  <define name="emph" combine="choice">
    <notAllowed/>
  </define>
  <define name="encodingDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="entry" combine="choice">
    <notAllowed/>
  </define>
  <define name="entryFree" combine="choice">
    <notAllowed/>
  </define>
  <define name="epigraph" combine="choice">
    <notAllowed/>
  </define>
  <define name="epilogue" combine="choice">
    <notAllowed/>
  </define>
  <define name="equipment" combine="choice">
    <notAllowed/>
  </define>
  <define name="equiv" combine="choice">
    <notAllowed/>
  </define>
  <define name="etym" combine="choice">
    <notAllowed/>
  </define>
  <define name="event" combine="choice">
    <notAllowed/>
  </define>
  <define name="exemplum" combine="choice">
    <notAllowed/>
  </define>
  <define name="expan" combine="choice">
    <notAllowed/>
  </define>
  <define name="explicit" combine="choice">
    <notAllowed/>
  </define>
  <define name="extent" combine="choice">
    <notAllowed/>
  </define>
  <define name="f" combine="choice">
    <notAllowed/>
  </define>
  <define name="fDecl" combine="choice">
    <notAllowed/>
  </define>
  <define name="fDescr" combine="choice">
    <notAllowed/>
  </define>
  <define name="fLib" combine="choice">
    <notAllowed/>
  </define>
  <define name="factuality" combine="choice">
    <notAllowed/>
  </define>
  <define name="faith" combine="choice">
    <notAllowed/>
  </define>
  <define name="figDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="figure" combine="choice">
    <notAllowed/>
  </define>
  <define name="fileDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="filiation" combine="choice">
    <notAllowed/>
  </define>
  <define name="finalRubric" combine="choice">
    <notAllowed/>
  </define>
  <define name="firstLang" combine="choice">
    <notAllowed/>
  </define>
  <define name="floruit" combine="choice">
    <notAllowed/>
  </define>
  <define name="foliation" combine="choice">
    <notAllowed/>
  </define>
  <define name="foreign" combine="choice">
    <notAllowed/>
  </define>
  <define name="forename" combine="choice">
    <notAllowed/>
  </define>
  <define name="forest" combine="choice">
    <notAllowed/>
  </define>
  <define name="forestGrp" combine="choice">
    <notAllowed/>
  </define>
  <define name="form" combine="choice">
    <notAllowed/>
  </define>
  <define name="formula" combine="choice">
    <notAllowed/>
  </define>
  <define name="front" combine="choice">
    <notAllowed/>
  </define>
  <define name="fs" combine="choice">
    <notAllowed/>
  </define>
  <define name="fsConstraints" combine="choice">
    <notAllowed/>
  </define>
  <define name="fsDecl" combine="choice">
    <notAllowed/>
  </define>
  <define name="fsDescr" combine="choice">
    <notAllowed/>
  </define>
  <define name="fsdDecl" combine="choice">
    <notAllowed/>
  </define>
  <define name="funder" combine="choice">
    <notAllowed/>
  </define>
  <define name="fvLib" combine="choice">
    <notAllowed/>
  </define>
  <define name="fw" combine="choice">
    <notAllowed/>
  </define>
  <define name="g" combine="choice">
    <notAllowed/>
  </define>
  <define name="gap" combine="choice">
    <notAllowed/>
  </define>
  <define name="gen" combine="choice">
    <notAllowed/>
  </define>
  <define name="genName" combine="choice">
    <notAllowed/>
  </define>
  <define name="geog" combine="choice">
    <notAllowed/>
  </define>
  <define name="geogName" combine="choice">
    <notAllowed/>
  </define>
  <define name="gi" combine="choice">
    <notAllowed/>
  </define>
  <define name="gloss" combine="choice">
    <notAllowed/>
  </define>
  <define name="glyph" combine="choice">
    <notAllowed/>
  </define>
  <define name="glyphName" combine="choice">
    <notAllowed/>
  </define>
  <define name="gram" combine="choice">
    <notAllowed/>
  </define>
  <define name="gramGrp" combine="choice">
    <notAllowed/>
  </define>
  <define name="graph" combine="choice">
    <notAllowed/>
  </define>
  <define name="graphic" combine="choice">
    <notAllowed/>
  </define>
  <define name="group" combine="choice">
    <notAllowed/>
  </define>
  <define name="hand" combine="choice">
    <notAllowed/>
  </define>
  <define name="handDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="handList" combine="choice">
    <notAllowed/>
  </define>
  <define name="handNote" combine="choice">
    <notAllowed/>
  </define>
  <define name="handShift" combine="choice">
    <notAllowed/>
  </define>
  <define name="head" combine="choice">
    <notAllowed/>
  </define>
  <define name="headItem" combine="choice">
    <notAllowed/>
  </define>
  <define name="headLabel" combine="choice">
    <notAllowed/>
  </define>
  <define name="height" combine="choice">
    <notAllowed/>
  </define>
  <define name="heraldry" combine="choice">
    <notAllowed/>
  </define>
  <define name="hi" combine="choice">
    <notAllowed/>
  </define>
  <define name="history" combine="choice">
    <notAllowed/>
  </define>
  <define name="hom" combine="choice">
    <notAllowed/>
  </define>
  <define name="hour" combine="choice">
    <notAllowed/>
  </define>
  <define name="hyph" combine="choice">
    <notAllowed/>
  </define>
  <define name="hyphenation" combine="choice">
    <notAllowed/>
  </define>
  <define name="iNode" combine="choice">
    <notAllowed/>
  </define>
  <define name="iType" combine="choice">
    <notAllowed/>
  </define>
  <define name="ident" combine="choice">
    <notAllowed/>
  </define>
  <define name="idno" combine="choice">
    <notAllowed/>
  </define>
  <define name="if" combine="choice">
    <notAllowed/>
  </define>
  <define name="iff" combine="choice">
    <notAllowed/>
  </define>
  <define name="imprimatur" combine="choice">
    <notAllowed/>
  </define>
  <define name="imprint" combine="choice">
    <notAllowed/>
  </define>
  <define name="incipit" combine="choice">
    <notAllowed/>
  </define>
  <define name="index" combine="choice">
    <notAllowed/>
  </define>
  <define name="institution" combine="choice">
    <notAllowed/>
  </define>
  <define name="interaction" combine="choice">
    <notAllowed/>
  </define>
  <define name="interp" combine="choice">
    <notAllowed/>
  </define>
  <define name="interpGrp" combine="choice">
    <notAllowed/>
  </define>
  <define name="interpretation" combine="choice">
    <notAllowed/>
  </define>
  <define name="item" combine="choice">
    <notAllowed/>
  </define>
  <define name="join" combine="choice">
    <notAllowed/>
  </define>
  <define name="joinGrp" combine="choice">
    <notAllowed/>
  </define>
  <define name="keywords" combine="choice">
    <notAllowed/>
  </define>
  <define name="kinesic" combine="choice">
    <notAllowed/>
  </define>
  <define name="l" combine="choice">
    <notAllowed/>
  </define>
  <define name="label" combine="choice">
    <notAllowed/>
  </define>
  <define name="lacunaEnd" combine="choice">
    <notAllowed/>
  </define>
  <define name="lacunaStart" combine="choice">
    <notAllowed/>
  </define>
  <define name="lang" combine="choice">
    <notAllowed/>
  </define>
  <define name="langKnowledge" combine="choice">
    <notAllowed/>
  </define>
  <define name="langKnown" combine="choice">
    <notAllowed/>
  </define>
  <define name="langUsage" combine="choice">
    <notAllowed/>
  </define>
  <define name="language" combine="choice">
    <notAllowed/>
  </define>
  <define name="layout" combine="choice">
    <notAllowed/>
  </define>
  <define name="layoutDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="lb" combine="choice">
    <notAllowed/>
  </define>
  <define name="lbl" combine="choice">
    <notAllowed/>
  </define>
  <define name="leaf" combine="choice">
    <notAllowed/>
  </define>
  <define name="lem" combine="choice">
    <notAllowed/>
  </define>
  <define name="lg" combine="choice">
    <notAllowed/>
  </define>
  <define name="line" combine="choice">
    <notAllowed/>
  </define>
  <define name="link" combine="choice">
    <notAllowed/>
  </define>
  <define name="linkGrp" combine="choice">
    <notAllowed/>
  </define>
  <define name="list" combine="choice">
    <notAllowed/>
  </define>
  <define name="listBibl" combine="choice">
    <notAllowed/>
  </define>
  <define name="listPerson" combine="choice">
    <notAllowed/>
  </define>
  <define name="listRef" combine="choice">
    <notAllowed/>
  </define>
  <define name="localName" combine="choice">
    <notAllowed/>
  </define>
  <define name="locale" combine="choice">
    <notAllowed/>
  </define>
  <define name="locus" combine="choice">
    <notAllowed/>
  </define>
  <define name="m" combine="choice">
    <notAllowed/>
  </define>
  <define name="macroSpec" combine="choice">
    <notAllowed/>
  </define>
  <define name="mapping" combine="choice">
    <notAllowed/>
  </define>
  <define name="material" combine="choice">
    <notAllowed/>
  </define>
  <define name="measure" combine="choice">
    <notAllowed/>
  </define>
  <define name="meeting" combine="choice">
    <notAllowed/>
  </define>
  <define name="memberOf" combine="choice">
    <notAllowed/>
  </define>
  <define name="mentioned" combine="choice">
    <notAllowed/>
  </define>
  <define name="metDecl" combine="choice">
    <notAllowed/>
  </define>
  <define name="metSym" combine="choice">
    <notAllowed/>
  </define>
  <define name="milestone" combine="choice">
    <notAllowed/>
  </define>
  <define name="minute" combine="choice">
    <notAllowed/>
  </define>
  <define name="moduleRef" combine="choice">
    <notAllowed/>
  </define>
  <define name="moduleSpec" combine="choice">
    <notAllowed/>
  </define>
  <define name="monogr" combine="choice">
    <notAllowed/>
  </define>
  <define name="month" combine="choice">
    <notAllowed/>
  </define>
  <define name="mood" combine="choice">
    <notAllowed/>
  </define>
  <define name="move" combine="choice">
    <notAllowed/>
  </define>
  <define name="msContents" combine="choice">
    <notAllowed/>
  </define>
  <define name="msDescription" combine="choice">
    <notAllowed/>
  </define>
  <define name="msIdentifier" combine="choice">
    <notAllowed/>
  </define>
  <define name="msItem" combine="choice">
    <notAllowed/>
  </define>
  <define name="msItemStruct" combine="choice">
    <notAllowed/>
  </define>
  <define name="msName" combine="choice">
    <notAllowed/>
  </define>
  <define name="msPart" combine="choice">
    <notAllowed/>
  </define>
  <define name="musicNotation" combine="choice">
    <notAllowed/>
  </define>
  <define name="name" combine="choice">
    <notAllowed/>
  </define>
  <define name="nameLink" combine="choice">
    <notAllowed/>
  </define>
  <define name="namespace" combine="choice">
    <notAllowed/>
  </define>
  <define name="nationality" combine="choice">
    <notAllowed/>
  </define>
  <define name="node" combine="choice">
    <notAllowed/>
  </define>
  <define name="normalization" combine="choice">
    <notAllowed/>
  </define>
  <define name="note" combine="choice">
    <notAllowed/>
  </define>
  <define name="notesStmt" combine="choice">
    <notAllowed/>
  </define>
  <define name="num" combine="choice">
    <notAllowed/>
  </define>
  <define name="number" combine="choice">
    <notAllowed/>
  </define>
  <define name="numeric" combine="choice">
    <notAllowed/>
  </define>
  <define name="oRef" combine="choice">
    <notAllowed/>
  </define>
  <define name="oVar" combine="choice">
    <notAllowed/>
  </define>
  <define name="objectDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="occasion" combine="choice">
    <notAllowed/>
  </define>
  <define name="occupation" combine="choice">
    <notAllowed/>
  </define>
  <define name="offset" combine="choice">
    <notAllowed/>
  </define>
  <define name="opener" combine="choice">
    <notAllowed/>
  </define>
  <define name="orgDivn" combine="choice">
    <notAllowed/>
  </define>
  <define name="orgName" combine="choice">
    <notAllowed/>
  </define>
  <define name="orgTitle" combine="choice">
    <notAllowed/>
  </define>
  <define name="orgType" combine="choice">
    <notAllowed/>
  </define>
  <define name="orig" combine="choice">
    <notAllowed/>
  </define>
  <define name="origDate" combine="choice">
    <notAllowed/>
  </define>
  <define name="origPlace" combine="choice">
    <notAllowed/>
  </define>
  <define name="origin" combine="choice">
    <notAllowed/>
  </define>
  <define name="orth" combine="choice">
    <notAllowed/>
  </define>
  <define name="p" combine="choice">
    <notAllowed/>
  </define>
  <define name="pRef" combine="choice">
    <notAllowed/>
  </define>
  <define name="pVar" combine="choice">
    <notAllowed/>
  </define>
  <define name="page" combine="choice">
    <notAllowed/>
  </define>
  <define name="particDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="particLinks" combine="choice">
    <notAllowed/>
  </define>
  <define name="pause" combine="choice">
    <notAllowed/>
  </define>
  <define name="pb" combine="choice">
    <notAllowed/>
  </define>
  <define name="per" combine="choice">
    <notAllowed/>
  </define>
  <define name="performance" combine="choice">
    <notAllowed/>
  </define>
  <define name="persEvent" combine="choice">
    <notAllowed/>
  </define>
  <define name="persName" combine="choice">
    <notAllowed/>
  </define>
  <define name="persState" combine="choice">
    <notAllowed/>
  </define>
  <define name="persTrait" combine="choice">
    <notAllowed/>
  </define>
  <define name="person" combine="choice">
    <notAllowed/>
  </define>
  <define name="personGrp" combine="choice">
    <notAllowed/>
  </define>
  <define name="phr" combine="choice">
    <notAllowed/>
  </define>
  <define name="physDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="placeName" combine="choice">
    <notAllowed/>
  </define>
  <define name="pos" combine="choice">
    <notAllowed/>
  </define>
  <define name="postBox" combine="choice">
    <notAllowed/>
  </define>
  <define name="postCode" combine="choice">
    <notAllowed/>
  </define>
  <define name="preparedness" combine="choice">
    <notAllowed/>
  </define>
  <define name="principal" combine="choice">
    <notAllowed/>
  </define>
  <define name="profileDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="projectDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="prologue" combine="choice">
    <notAllowed/>
  </define>
  <define name="pron" combine="choice">
    <notAllowed/>
  </define>
  <define name="provenance" combine="choice">
    <notAllowed/>
  </define>
  <define name="ptr" combine="choice">
    <notAllowed/>
  </define>
  <define name="pubPlace" combine="choice">
    <notAllowed/>
  </define>
  <define name="publicationStmt" combine="choice">
    <notAllowed/>
  </define>
  <define name="publisher" combine="choice">
    <notAllowed/>
  </define>
  <define name="purpose" combine="choice">
    <notAllowed/>
  </define>
  <define name="q" combine="choice">
    <notAllowed/>
  </define>
  <define name="quotation" combine="choice">
    <notAllowed/>
  </define>
  <define name="quote" combine="choice">
    <notAllowed/>
  </define>
  <define name="rdg" combine="choice">
    <notAllowed/>
  </define>
  <define name="rdgGrp" combine="choice">
    <notAllowed/>
  </define>
  <define name="re" combine="choice">
    <notAllowed/>
  </define>
  <define name="recordHist" combine="choice">
    <notAllowed/>
  </define>
  <define name="recording" combine="choice">
    <notAllowed/>
  </define>
  <define name="recordingStmt" combine="choice">
    <notAllowed/>
  </define>
  <define name="ref" combine="choice">
    <notAllowed/>
  </define>
  <define name="refsDecl" combine="choice">
    <notAllowed/>
  </define>
  <define name="reg" combine="choice">
    <notAllowed/>
  </define>
  <define name="region" combine="choice">
    <notAllowed/>
  </define>
  <define name="relation" combine="choice">
    <notAllowed/>
  </define>
  <define name="remarks" combine="choice">
    <notAllowed/>
  </define>
  <define name="rendition" combine="choice">
    <notAllowed/>
  </define>
  <define name="repository" combine="choice">
    <notAllowed/>
  </define>
  <define name="residence" combine="choice">
    <notAllowed/>
  </define>
  <define name="resp" combine="choice">
    <notAllowed/>
  </define>
  <define name="respStmt" combine="choice">
    <notAllowed/>
  </define>
  <define name="respons" combine="choice">
    <notAllowed/>
  </define>
  <define name="restore" combine="choice">
    <notAllowed/>
  </define>
  <define name="revisionDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="rhyme" combine="choice">
    <notAllowed/>
  </define>
  <define name="role" combine="choice">
    <notAllowed/>
  </define>
  <define name="roleDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="roleName" combine="choice">
    <notAllowed/>
  </define>
  <define name="root" combine="choice">
    <notAllowed/>
  </define>
  <define name="row" combine="choice">
    <notAllowed/>
  </define>
  <define name="rs" combine="choice">
    <notAllowed/>
  </define>
  <define name="rubric" combine="choice">
    <notAllowed/>
  </define>
  <define name="s" combine="choice">
    <notAllowed/>
  </define>
  <define name="salute" combine="choice">
    <notAllowed/>
  </define>
  <define name="samplingDecl" combine="choice">
    <notAllowed/>
  </define>
  <define name="schemaSpec" combine="choice">
    <notAllowed/>
  </define>
  <define name="scriptStmt" combine="choice">
    <notAllowed/>
  </define>
  <define name="seal" combine="choice">
    <notAllowed/>
  </define>
  <define name="sealDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="secFol" combine="choice">
    <notAllowed/>
  </define>
  <define name="second" combine="choice">
    <notAllowed/>
  </define>
  <define name="seg" combine="choice">
    <notAllowed/>
  </define>
  <define name="segmentation" combine="choice">
    <notAllowed/>
  </define>
  <define name="sense" combine="choice">
    <notAllowed/>
  </define>
  <define name="series" combine="choice">
    <notAllowed/>
  </define>
  <define name="seriesStmt" combine="choice">
    <notAllowed/>
  </define>
  <define name="set" combine="choice">
    <notAllowed/>
  </define>
  <define name="setting" combine="choice">
    <notAllowed/>
  </define>
  <define name="settingDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="settlement" combine="choice">
    <notAllowed/>
  </define>
  <define name="sex" combine="choice">
    <notAllowed/>
  </define>
  <define name="shift" combine="choice">
    <notAllowed/>
  </define>
  <define name="sic" combine="choice">
    <notAllowed/>
  </define>
  <define name="signatures" combine="choice">
    <notAllowed/>
  </define>
  <define name="signed" combine="choice">
    <notAllowed/>
  </define>
  <define name="soCalled" combine="choice">
    <notAllowed/>
  </define>
  <define name="socecStatus" combine="choice">
    <notAllowed/>
  </define>
  <define name="sound" combine="choice">
    <notAllowed/>
  </define>
  <define name="source" combine="choice">
    <notAllowed/>
  </define>
  <define name="sourceDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="sp" combine="choice">
    <notAllowed/>
  </define>
  <define name="space" combine="choice">
    <notAllowed/>
  </define>
  <define name="span" combine="choice">
    <notAllowed/>
  </define>
  <define name="spanGrp" combine="choice">
    <notAllowed/>
  </define>
  <define name="speaker" combine="choice">
    <notAllowed/>
  </define>
  <define name="specDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="specGrp" combine="choice">
    <notAllowed/>
  </define>
  <define name="specGrpRef" combine="choice">
    <notAllowed/>
  </define>
  <define name="specList" combine="choice">
    <notAllowed/>
  </define>
  <define name="sponsor" combine="choice">
    <notAllowed/>
  </define>
  <define name="stage" combine="choice">
    <notAllowed/>
  </define>
  <define name="state" combine="choice">
    <notAllowed/>
  </define>
  <define name="stdVals" combine="choice">
    <notAllowed/>
  </define>
  <define name="street" combine="choice">
    <notAllowed/>
  </define>
  <define name="stress" combine="choice">
    <notAllowed/>
  </define>
  <define name="string" combine="choice">
    <notAllowed/>
  </define>
  <define name="stringVal" combine="choice">
    <notAllowed/>
  </define>
  <define name="subc" combine="choice">
    <notAllowed/>
  </define>
  <define name="summary" combine="choice">
    <notAllowed/>
  </define>
  <define name="superEntry" combine="choice">
    <notAllowed/>
  </define>
  <define name="supplied" combine="choice">
    <notAllowed/>
  </define>
  <define name="support" combine="choice">
    <notAllowed/>
  </define>
  <define name="supportDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="surname" combine="choice">
    <notAllowed/>
  </define>
  <define name="surrogates" combine="choice">
    <notAllowed/>
  </define>
  <define name="syll" combine="choice">
    <notAllowed/>
  </define>
  <define name="symbol" combine="choice">
    <notAllowed/>
  </define>
  <define name="table" combine="choice">
    <notAllowed/>
  </define>
  <define name="tag" combine="choice">
    <notAllowed/>
  </define>
  <define name="tagUsage" combine="choice">
    <notAllowed/>
  </define>
  <define name="tagsDecl" combine="choice">
    <notAllowed/>
  </define>
  <define name="taxonomy" combine="choice">
    <notAllowed/>
  </define>
  <define name="tech" combine="choice">
    <notAllowed/>
  </define>
  <define name="teiCorpus" combine="choice">
    <notAllowed/>
  </define>
  <define name="teiHeader" combine="choice">
    <notAllowed/>
  </define>
  <define name="teifsd" combine="choice">
    <notAllowed/>
  </define>
  <define name="term" combine="choice">
    <notAllowed/>
  </define>
  <define name="text" combine="choice">
    <notAllowed/>
  </define>
  <define name="textClass" combine="choice">
    <notAllowed/>
  </define>
  <define name="textDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="textLang" combine="choice">
    <notAllowed/>
  </define>
  <define name="then" combine="choice">
    <notAllowed/>
  </define>
  <define name="time" combine="choice">
    <notAllowed/>
  </define>
  <define name="timeRange" combine="choice">
    <notAllowed/>
  </define>
  <define name="timeline" combine="choice">
    <notAllowed/>
  </define>
  <define name="title" combine="choice">
    <notAllowed/>
  </define>
  <define name="titlePage" combine="choice">
    <notAllowed/>
  </define>
  <define name="titlePart" combine="choice">
    <notAllowed/>
  </define>
  <define name="titleStmt" combine="choice">
    <notAllowed/>
  </define>
  <define name="tns" combine="choice">
    <notAllowed/>
  </define>
  <define name="tr" combine="choice">
    <notAllowed/>
  </define>
  <define name="trailer" combine="choice">
    <notAllowed/>
  </define>
  <define name="trans" combine="choice">
    <notAllowed/>
  </define>
  <define name="tree" combine="choice">
    <notAllowed/>
  </define>
  <define name="triangle" combine="choice">
    <notAllowed/>
  </define>
  <define name="u" combine="choice">
    <notAllowed/>
  </define>
  <define name="unclear" combine="choice">
    <notAllowed/>
  </define>
  <define name="unicodeName" combine="choice">
    <notAllowed/>
  </define>
  <define name="usg" combine="choice">
    <notAllowed/>
  </define>
  <define name="vAlt" combine="choice">
    <notAllowed/>
  </define>
  <define name="vColl" combine="choice">
    <notAllowed/>
  </define>
  <define name="vDefault" combine="choice">
    <notAllowed/>
  </define>
  <define name="vLabel" combine="choice">
    <notAllowed/>
  </define>
  <define name="vMerge" combine="choice">
    <notAllowed/>
  </define>
  <define name="vNot" combine="choice">
    <notAllowed/>
  </define>
  <define name="vRange" combine="choice">
    <notAllowed/>
  </define>
  <define name="val" combine="choice">
    <notAllowed/>
  </define>
  <define name="valDesc" combine="choice">
    <notAllowed/>
  </define>
  <define name="valItem" combine="choice">
    <notAllowed/>
  </define>
  <define name="valList" combine="choice">
    <notAllowed/>
  </define>
  <define name="value" combine="choice">
    <notAllowed/>
  </define>
  <define name="variantEncoding" combine="choice">
    <notAllowed/>
  </define>
  <define name="vername" combine="choice">
    <notAllowed/>
  </define>
  <define name="view" combine="choice">
    <notAllowed/>
  </define>
  <define name="vocal" combine="choice">
    <notAllowed/>
  </define>
  <define name="vol" combine="choice">
    <notAllowed/>
  </define>
  <define name="w" combine="choice">
    <notAllowed/>
  </define>
  <define name="watermark" combine="choice">
    <notAllowed/>
  </define>
  <define name="week" combine="choice">
    <notAllowed/>
  </define>
  <define name="when" combine="choice">
    <notAllowed/>
  </define>
  <define name="width" combine="choice">
    <notAllowed/>
  </define>
  <define name="wit" combine="choice">
    <notAllowed/>
  </define>
  <define name="witDetail" combine="choice">
    <notAllowed/>
  </define>
  <define name="witEnd" combine="choice">
    <notAllowed/>
  </define>
  <define name="witList" combine="choice">
    <notAllowed/>
  </define>
  <define name="witStart" combine="choice">
    <notAllowed/>
  </define>
  <define name="witness" combine="choice">
    <notAllowed/>
  </define>
  <define name="writing" combine="choice">
    <notAllowed/>
  </define>
  <define name="xr" combine="choice">
    <notAllowed/>
  </define>
  <define name="year" combine="choice">
    <notAllowed/>
  </define>
  <define name="mix.drama">
    <notAllowed/>
  </define>
  <define name="mix.spoken">
    <notAllowed/>
  </define>
  <define name="mix.dictionaries">
    <notAllowed/>
  </define>
  <!-- Set predeclared macros -->
  <!-- 0. predeclared classes -->
  <define name="model.datePart" combine="choice">
    <notAllowed/>
  </define>
  <define name="att.metrical.attributes" combine="choice">
    <empty/>
  </define>
  <define name="att.enjamb.attributes" combine="choice">
    <empty/>
  </define>
  <define name="model.ptrLike.form" combine="choice">
    <notAllowed/>
  </define>
  <define name="att.ptrLike.form.attributes" combine="choice">
    <empty/>
  </define>
  <define name="att.global.linking.attributes" combine="choice">
    <empty/>
  </define>
  <define name="att.pointing.attributes" combine="choice">
    <empty/>
  </define>
  <define name="att.global.analytic.attributes" combine="choice">
    <empty/>
  </define>
  <define name="model.persNamePart" combine="choice">
    <notAllowed/>
  </define>
  <define name="att.personal.attributes" combine="choice">
    <empty/>
  </define>
  <define name="model.placeNamePart" combine="choice">
    <notAllowed/>
  </define>
  <!-- 0. predeclared macros -->
  <!-- 1. classes -->
  <define name="att.ascribed.attributes">
    <ref name="att.ascribed.attribute.who"/>
    <empty/>
  </define>
  <define name="att.ascribed.attribute.who">
    <optional>
      <attribute name="who">
        <a:documentation>当該要素の内容が示す人物やそのグループを示す．</a:documentation>
        <ref name="data.pointers"/>
      </attribute>
    </optional>
  </define>
  <define name="att.authorialIntervention.attributes">
    <ref name="att.authorialIntervention.attribute.hand"/>
    <ref name="att.authorialIntervention.attribute.status"/>
    <ref name="att.authorialIntervention.attribute.type"/>
    <empty/>
  </define>
  <define name="att.authorialIntervention.attribute.hand">
    <optional>
      <attribute name="hand">
        <a:documentation>追加・削除を行った主体の筆跡を特定する．</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="att.authorialIntervention.attribute.status">
    <optional>
      <attribute name="status" a:defaultValue="unremarkable">
        <a:documentation>誤った取り消し，例えば，指定が多すぎたり少なすぎたりしている取消
線や，間違った追記，例えば同じテキストを重複して挿入してあるもの
を示すためのもの．</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.authorialIntervention.attribute.type">
    <optional>
      <attribute name="type">
        <a:documentation>追加・削除の種類．</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.attributes">
    <ref name="att.datable.attribute.notBefore"/>
    <ref name="att.datable.attribute.notAfter"/>
    <empty/>
  </define>
  <define name="att.datable.attribute.notBefore">
    <optional>
      <attribute name="notBefore">
        <a:documentation>当該事象の一番古い日付を，標準形式で示す．例えば，yyyy-mm-dd．</a:documentation>
        <ref name="data.temporal"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datable.attribute.notAfter">
    <optional>
      <attribute name="notAfter">
        <a:documentation>当該事象の一番新しい日付を，標準形式で示す．例えば，yyyy-mm-dd．</a:documentation>
        <ref name="data.temporal"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datePart.attributes">
    <ref name="att.datePart.attribute.value"/>
    <ref name="att.datePart.attribute.type"/>
    <ref name="att.datePart.attribute.full"/>
    <empty/>
  </define>
  <define name="att.datePart.attribute.value">
    <optional>
      <attribute name="value">
        <a:documentation>日付や時間を，標準形式で示す．</a:documentation>
        <choice>
          <ref name="data.temporal"/>
          <ref name="data.duration"/>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att.datePart.attribute.type">
    <optional>
      <attribute name="type">
        <a:documentation>当該要素を，任意の基準で分類する．</a:documentation>
        <ref name="data.word"/>
      </attribute>
    </optional>
  </define>
  <define name="att.datePart.attribute.full">
    <optional>
      <attribute name="full" a:defaultValue="yes">
        <a:documentation>当該要素にある記述は，省略されていないか，省略の場合はその種類を示す．</a:documentation>
        <choice>
          <value>yes</value>
          <a:documentation>(当該時間表現は，省略なしの表現) </a:documentation>
          <value>abb</value>
          <a:documentation>(当該時間表現は，省略形) </a:documentation>
          <value>init</value>
          <a:documentation>(当該時間表現は，冒頭文字による簡略表現．) </a:documentation>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att.declarable.attributes">
    <ref name="att.declarable.attribute.default"/>
    <empty/>
  </define>
  <define name="att.declarable.attribute.default">
    <optional>
      <attribute name="default" a:defaultValue="false">
        <a:documentation>親要素が選択された場合に，当該要素がデフォルトとして選択されるか
どうかを示す．</a:documentation>
        <choice>
          <value>true</value>
          <a:documentation>(親要素が選択された場合，当該要素が選択される．)</a:documentation>
          <value>false</value>
          <a:documentation>(親要素が選択された場合でも，当該要素が選択される可能性が唯一で
ない場合に，明示的に当該要素が指定されたときのみ，選択される．</a:documentation>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att.declaring.attributes">
    <ref name="att.declaring.attribute.decls"/>
    <empty/>
  </define>
  <define name="att.declaring.attribute.decls">
    <optional>
      <attribute name="decls">
        <a:documentation>TEIヘダー内ある1つ以上の宣言可能要素を指定する．これらは，当該要
素の属性や内容に対応していると解釈される．</a:documentation>
        <ref name="data.pointers"/>
      </attribute>
    </optional>
  </define>
  <define name="att.divLike.attributes">
    <ref name="att.metrical.attributes"/>
    <ref name="att.divLike.attribute.type"/>
    <ref name="att.divLike.attribute.org"/>
    <ref name="att.divLike.attribute.sample"/>
    <ref name="att.divLike.attribute.part"/>
    <empty/>
  </define>
  <define name="att.divLike.attribute.type">
    <optional>
      <attribute name="type">
        <a:documentation>当該レベルを示す便宜上の名前を示す．例えば，場面，巻，冊子，節，編など．</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.divLike.attribute.org">
    <optional>
      <attribute name="org" a:defaultValue="uniform">
        <a:documentation>当該領域の内容がどのように構成されているかを示す．</a:documentation>
        <choice>
          <value>composite</value>
          <a:documentation>(合成内容．当該領域にある内容やそれらの関連性は，考慮しない．</a:documentation>
          <value>uniform</value>
          <a:documentation>(統一内容．当該領域にある内容は，ひとつの論理的単位を構成すると
見なされる．)</a:documentation>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att.divLike.attribute.sample">
    <optional>
      <attribute name="sample" a:defaultValue="complete">
        <a:documentation>当該領域が，元資料のものを含むか，そうであればその場所はどこかを
示す．</a:documentation>
        <choice>
          <value>initial</value>
          <a:documentation>(当該領域は，元資料の終わりの部分が欠けている．)</a:documentation>
          <value>medial</value>
          <a:documentation>(当該領域は，元資料の始めと終わりの部分が欠けている．)</a:documentation>
          <value>final</value>
          <a:documentation>(当該領域は，元資料の始めの部分が欠けている．)</a:documentation>
          <value>unknown</value>
          <a:documentation>(元資料のどの部分かは不明．)</a:documentation>
          <value>complete</value>
          <a:documentation>(当該領域は，元資料の一部ではない．)</a:documentation>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att.divLike.attribute.part">
    <optional>
      <attribute name="part" a:defaultValue="N">
        <a:documentation>当該領域が，他の構造要素の部分であるかどうかを示す．例えば，複数
の連に分けられる発話など．</a:documentation>
        <choice>
          <value>Y</value>
          <a:documentation>(当該領域は，ある視点では不完全である．)</a:documentation>
          <value>N</value>
          <a:documentation>(当該領域は，完全である，または完全である必要はない．)</a:documentation>
          <value>I</value>
          <a:documentation>(当該領域は不完全で，その始めの部分である．)</a:documentation>
          <value>M</value>
          <a:documentation>(当該領域は不完全で，その中部分である．)</a:documentation>
          <value>F</value>
          <a:documentation>(当該領域は不完全で，その終わりの部分である．)</a:documentation>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att.interpLike.attributes">
    <ref name="att.interpLike.attribute.resp"/>
    <ref name="att.interpLike.attribute.type"/>
    <ref name="att.interpLike.attribute.inst"/>
    <empty/>
  </define>
  <define name="att.interpLike.attribute.resp">
    <optional>
      <attribute name="resp">
        <a:documentation>当該解釈に責任を持つ人物を示す．</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="att.interpLike.attribute.type">
    <optional>
      <attribute name="type">
        <a:documentation>当該部分で，どのような面が指摘されているのかを示す．</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.interpLike.attribute.inst">
    <optional>
      <attribute name="inst">
        <a:documentation>当該要素で示されている分析や解釈の実体を示す．</a:documentation>
        <ref name="data.pointers"/>
      </attribute>
    </optional>
  </define>
  <define name="att.editLike.attributes">
    <ref name="att.editLike.attribute.cert"/>
    <ref name="att.editLike.attribute.resp"/>
    <ref name="att.editLike.attribute.evidence"/>
    <empty/>
  </define>
  <define name="att.editLike.attribute.cert">
    <optional>
      <attribute name="cert">
        <a:documentation>当該解釈や調整の確信度を示す．</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.editLike.attribute.resp">
    <optional>
      <attribute name="resp">
        <a:documentation>当該解釈や調整の責任者を示す．例えば，編集者，翻訳者など．</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="att.editLike.attribute.evidence">
    <optional>
      <attribute name="evidence">
        <a:documentation>当該解釈や調整の信頼度や正確さを判断する証拠を示す．</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attributes">
    <ref name="att.global.linking.attributes"/>
    <ref name="att.global.analytic.attributes"/>
    <ref name="att.global.attribute.xmlspace"/>
    <ref name="att.global.attribute.xmlid"/>
    <ref name="att.global.attribute.n"/>
    <ref name="att.global.attribute.xmllang"/>
    <ref name="att.global.attribute.rend"/>
    <ref name="att.global.attribute.xmlbase"/>
    <empty/>
  </define>
  <define name="att.global.attribute.xmlspace">
    <optional>
      <attribute name="xml:space">
        <a:documentation>空白文字類をアプリケーションがどう解釈するかを示す．</a:documentation>
        <choice>
          <value>default</value>
          <value>preserve</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attribute.xmlid">
    <optional>
      <attribute name="xml:id">
        <a:documentation>当該要素にユニークなIDを与える．</a:documentation>
        <data type="ID"/>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attribute.n">
    <optional>
      <attribute name="n">
        <a:documentation>当該要素に数値やラベルを与える．これは当該文書中でユニー
クである必要はない．</a:documentation>
        <ref name="data.words"/>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attribute.xmllang">
    <optional>
      <attribute name="xml:lang">
        <a:documentation>当該要素の内容で使用されている言語を，RFC3006に従って示す．</a:documentation>
        <ref name="data.language"/>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attribute.rend">
    <optional>
      <attribute name="rend">
        <a:documentation>当該要素が，元資料においてどのように表示されていたのかを示す．</a:documentation>
        <ref name="data.words"/>
      </attribute>
    </optional>
  </define>
  <define name="att.global.attribute.xmlbase">
    <optional>
      <attribute name="xml:base">
        <a:documentation>相対URIから絶対URIを構成する際に必要なベースURIを示す．</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="att.measured.attributes">
    <ref name="att.measured.attribute.unit"/>
    <ref name="att.measured.attribute.scope"/>
    <empty/>
  </define>
  <define name="att.measured.attribute.unit">
    <optional>
      <attribute name="unit">
        <a:documentation>当該数値の単位を示す．</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.measured.attribute.scope">
    <optional>
      <attribute name="scope">
        <a:documentation>対象物が複数合った場合に，当該数値の適応範囲を示す．</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.measurement.attributes">
    <ref name="att.measurement.attribute.unit"/>
    <ref name="att.measurement.attribute.quantity"/>
    <ref name="att.measurement.attribute.commodity"/>
    <empty/>
  </define>
  <define name="att.measurement.attribute.unit">
    <optional>
      <attribute name="unit">
        <a:documentation>計測単位を示す．</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.measurement.attribute.quantity">
    <optional>
      <attribute name="quantity">
        <a:documentation>計測単位の値を示す．</a:documentation>
        <ref name="data.numeric"/>
      </attribute>
    </optional>
  </define>
  <define name="att.measurement.attribute.commodity">
    <optional>
      <attribute name="commodity">
        <a:documentation>計測される対象を示す．</a:documentation>
        <ref name="data.words"/>
      </attribute>
    </optional>
  </define>
  <define name="att.naming.attributes">
    <ref name="att.naming.attribute.key"/>
    <empty/>
  </define>
  <define name="att.naming.attribute.key">
    <optional>
      <attribute name="key">
        <a:documentation>名前で特定できる実体の名前を示す．例えばデータベースにおけるレコードのキーやURI．</a:documentation>
        <ref name="data.code"/>
      </attribute>
    </optional>
  </define>
  <define name="att.placement.attributes">
    <ref name="att.placement.attribute.place"/>
    <empty/>
  </define>
  <define name="att.placement.attribute.place">
    <optional>
      <attribute name="place">
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.segLike.attributes">
    <ref name="att.metrical.attributes"/>
    <ref name="att.segLike.attribute.type"/>
    <ref name="att.segLike.attribute.function"/>
    <ref name="att.segLike.attribute.part"/>
    <empty/>
  </define>
  <define name="att.segLike.attribute.type">
    <optional>
      <attribute name="type">
        <a:documentation>分割の種類を示す．</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.segLike.attribute.function">
    <optional>
      <attribute name="function">
        <a:documentation>分割の役割を示す．</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.segLike.attribute.part">
    <optional>
      <attribute name="part" a:defaultValue="N">
        <a:documentation>当該分割が，他の要素によって分断されているかどうかを示す．例えば，
複数の文から構成されている句など．</a:documentation>
        <choice>
          <value>Y</value>
          <a:documentation>(当該分割は，完全ではない．)</a:documentation>
          <value>N</value>
          <a:documentation>(当該分割は，完全である，または完全さは問題にならない．)</a:documentation>
          <value>I</value>
          <a:documentation>(当該分割は，始めの部分が完全ではない．)</a:documentation>
          <value>M</value>
          <a:documentation>(当該分割は，中部分が完全ではない．)</a:documentation>
          <value>F</value>
          <a:documentation>(当該分割は，終わりの部分が完全ではない．)</a:documentation>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="att.spanning.attributes">
    <ref name="att.spanning.attribute.spanTo"/>
    <empty/>
  </define>
  <define name="att.spanning.attribute.spanTo">
    <optional>
      <attribute name="spanTo">
        <a:documentation>当該要素が示す範囲の終点を示す．</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="att.tableDecoration.attributes">
    <ref name="att.tableDecoration.attribute.role"/>
    <ref name="att.tableDecoration.attribute.rows"/>
    <ref name="att.tableDecoration.attribute.cols"/>
    <empty/>
  </define>
  <define name="att.tableDecoration.attribute.role">
    <optional>
      <attribute name="role" a:defaultValue="data">
        <a:documentation>当該セル，または当該列の各セルにある情報の種類を示す．</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define name="att.tableDecoration.attribute.rows">
    <optional>
      <attribute name="rows" a:defaultValue="1">
        <a:documentation>当該セルがある行，または当該行の，行番号を示す．</a:documentation>
        <ref name="data.count"/>
      </attribute>
    </optional>
  </define>
  <define name="att.tableDecoration.attribute.cols">
    <optional>
      <attribute name="cols" a:defaultValue="1">
        <a:documentation>当該セルまたは行がある，列番号を示す．</a:documentation>
        <ref name="data.count"/>
      </attribute>
    </optional>
  </define>
  <define name="att.timed.attributes">
    <ref name="att.timed.attribute.start"/>
    <ref name="att.timed.attribute.end"/>
    <ref name="att.timed.attribute.dur"/>
    <empty/>
  </define>
  <define name="att.timed.attribute.start">
    <optional>
      <attribute name="start">
        <a:documentation>当該要素が始まる時間点を示す．</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="att.timed.attribute.end">
    <optional>
      <attribute name="end">
        <a:documentation>当該要素が終わる時間点を示す．</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define name="att.timed.attribute.dur">
    <optional>
      <attribute name="dur">
        <a:documentation>当該要素の時間の長さを示す．</a:documentation>
        <data type="duration"/>
      </attribute>
    </optional>
  </define>
  <define name="att.typed.attributes">
    <ref name="att.typed.attribute.type"/>
    <ref name="att.typed.attribute.subtype"/>
    <empty/>
  </define>
  <define name="att.typed.attribute.type">
    <optional>
      <attribute name="type">
        <a:documentation>当該要素の種類を示す．</a:documentation>
        <ref name="data.word"/>
      </attribute>
    </optional>
  </define>
  <define name="att.typed.attribute.subtype">
    <optional>
      <attribute name="subtype">
        <a:documentation>当該要素の，必要があれば，副種類(下位分類)を示す．</a:documentation>
        <ref name="data.word"/>
      </attribute>
    </optional>
  </define>
  <define name="model.nameLike.agent">
    <choice>
      <ref name="name"/>
      <ref name="persName"/>
      <ref name="orgName"/>
    </choice>
  </define>
  <define name="model.segLike">
    <choice>
      <ref name="seg"/>
      <ref name="s"/>
      <ref name="cl"/>
      <ref name="phr"/>
      <ref name="w"/>
      <ref name="m"/>
      <ref name="c"/>
    </choice>
  </define>
  <define name="model.hiLike">
    <choice>
      <ref name="foreign"/>
      <ref name="emph"/>
      <ref name="hi"/>
      <ref name="distinct"/>
      <ref name="mentioned"/>
      <ref name="soCalled"/>
      <ref name="gloss"/>
      <ref name="term"/>
      <ref name="title"/>
    </choice>
  </define>
  <define name="model.dateLike">
    <choice>
      <ref name="date"/>
      <ref name="dateRange"/>
    </choice>
  </define>
  <define name="model.timeLike">
    <choice>
      <ref name="time"/>
      <ref name="timeRange"/>
    </choice>
  </define>
  <define name="model.measureLike">
    <choice>
      <ref name="num"/>
      <ref name="measure"/>
    </choice>
  </define>
  <define name="model.graphicLike">
    <choice>
      <ref name="graphic"/>
      <ref name="binaryObject"/>
      <ref name="formula"/>
      <ref name="eg"/>
      <ref name="egXML"/>
    </choice>
  </define>
  <define name="model.pPart.msdesc">
    <choice>
      <ref name="catchwords"/>
      <ref name="dimensions"/>
      <ref name="heraldry"/>
      <ref name="locus"/>
      <ref name="material"/>
      <ref name="origDate"/>
      <ref name="origPlace"/>
      <ref name="secFol"/>
      <ref name="signatures"/>
      <ref name="watermark"/>
      <ref name="handShift"/>
    </choice>
  </define>
  <define name="model.pPart.edit">
    <choice>
      <ref name="sic"/>
      <ref name="corr"/>
      <ref name="choice"/>
      <ref name="reg"/>
      <ref name="orig"/>
      <ref name="add"/>
      <ref name="del"/>
      <ref name="unclear"/>
      <ref name="abbr"/>
      <ref name="expan"/>
      <ref name="restore"/>
      <ref name="supplied"/>
      <ref name="damage"/>
      <ref name="space"/>
      <ref name="app"/>
    </choice>
  </define>
  <define name="model.ptrLike">
    <choice>
      <ref name="ptr"/>
      <ref name="ref"/>
    </choice>
  </define>
  <define name="model.lPart">
    <choice>
      <ref name="caesura"/>
      <ref name="rhyme"/>
    </choice>
  </define>
  <define name="model.global.meta">
    <choice>
      <ref name="index"/>
      <ref name="link"/>
      <ref name="linkGrp"/>
      <ref name="timeline"/>
      <ref name="join"/>
      <ref name="joinGrp"/>
      <ref name="alt"/>
      <ref name="altGrp"/>
      <ref name="span"/>
      <ref name="spanGrp"/>
      <ref name="interp"/>
      <ref name="interpGrp"/>
      <ref name="fs"/>
      <ref name="fLib"/>
      <ref name="fvLib"/>
      <ref name="certainty"/>
      <ref name="respons"/>
    </choice>
  </define>
  <define name="model.milestoneLike">
    <choice>
      <ref name="milestone"/>
      <ref name="pb"/>
      <ref name="lb"/>
      <ref name="cb"/>
      <ref name="fw"/>
    </choice>
  </define>
  <define name="model.gLike">
    <ref name="g"/>
  </define>
  <define name="model.oddDecl">
    <choice>
      <ref name="moduleSpec"/>
      <ref name="specGrp"/>
      <ref name="elementSpec"/>
      <ref name="classSpec"/>
      <ref name="macroSpec"/>
      <ref name="listRef"/>
    </choice>
  </define>
  <define name="model.oddRef">
    <choice>
      <ref name="moduleRef"/>
      <ref name="specGrpRef"/>
    </choice>
  </define>
  <define name="model.oddPhr">
    <choice>
      <ref name="att"/>
      <ref name="code"/>
      <ref name="gi"/>
      <ref name="ident"/>
      <ref name="tag"/>
      <ref name="val"/>
      <ref name="specList"/>
      <ref name="specDesc"/>
    </choice>
  </define>
  <define name="model.qLike">
    <choice>
      <ref name="q"/>
      <ref name="quote"/>
      <ref name="cit"/>
    </choice>
  </define>
  <define name="model.biblLike">
    <choice>
      <ref name="bibl"/>
      <ref name="biblItem"/>
      <ref name="biblStruct"/>
      <ref name="biblFull"/>
      <ref name="msDescription"/>
      <ref name="listPerson"/>
    </choice>
  </define>
  <define name="model.listLike">
    <choice>
      <ref name="list"/>
      <ref name="listBibl"/>
    </choice>
  </define>
  <define name="model.noteLike">
    <choice>
      <ref name="note"/>
      <ref name="witDetail"/>
    </choice>
  </define>
  <define name="model.stageLike">
    <choice>
      <ref name="stage"/>
      <ref name="move"/>
      <ref name="view"/>
      <ref name="camera"/>
      <ref name="sound"/>
      <ref name="caption"/>
      <ref name="tech"/>
    </choice>
  </define>
  <define name="model.complexVal">
    <choice>
      <ref name="fs"/>
      <ref name="vColl"/>
      <ref name="vNot"/>
      <ref name="vMerge"/>
    </choice>
  </define>
  <define name="model.singleVal">
    <choice>
      <ref name="binary"/>
      <ref name="symbol"/>
      <ref name="numeric"/>
      <ref name="string"/>
      <ref name="vLabel"/>
      <ref name="default"/>
      <ref name="vAlt"/>
    </choice>
  </define>
  <define name="model.entryParts.top">
    <choice>
      <ref name="note"/>
      <ref name="dictScrap"/>
      <ref name="form"/>
      <ref name="gramGrp"/>
      <ref name="def"/>
      <ref name="trans"/>
      <ref name="etym"/>
      <ref name="dicteg"/>
      <ref name="usg"/>
      <ref name="xr"/>
      <ref name="re"/>
    </choice>
  </define>
  <define name="model.global.edit">
    <choice>
      <ref name="gap"/>
      <ref name="addSpan"/>
      <ref name="delSpan"/>
    </choice>
  </define>
  <define name="model.divPart">
    <choice>
      <ref name="p"/>
      <ref name="l"/>
      <ref name="lg"/>
      <ref name="sp"/>
      <ref name="ab"/>
      <ref name="witList"/>
      <ref name="graph"/>
      <ref name="tree"/>
      <ref name="eTree"/>
      <ref name="schemaSpec"/>
    </choice>
  </define>
  <define name="model.blockLike">
    <ref name="seg"/>
  </define>
  <define name="model.pLike">
    <choice>
      <ref name="p"/>
      <ref name="ab"/>
    </choice>
  </define>
  <define name="model.persTraitLike">
    <choice>
      <ref name="faith"/>
      <ref name="langKnowledge"/>
      <ref name="nationality"/>
      <ref name="persTrait"/>
      <ref name="sex"/>
      <ref name="socecStatus"/>
    </choice>
  </define>
  <define name="model.persStateLike">
    <choice>
      <ref name="persName"/>
      <ref name="affiliation"/>
      <ref name="education"/>
      <ref name="floruit"/>
      <ref name="occupation"/>
      <ref name="persState"/>
      <ref name="relation"/>
      <ref name="residence"/>
    </choice>
  </define>
  <define name="model.persEventLike">
    <choice>
      <ref name="birth"/>
      <ref name="death"/>
      <ref name="persEvent"/>
    </choice>
  </define>
  <define name="model.assertLike">
    <choice>
      <ref name="model.persTraitLike"/>
      <ref name="model.persStateLike"/>
      <ref name="model.persEventLike"/>
    </choice>
  </define>
  <define name="model.personPart">
    <choice>
      <ref name="model.assertLike"/>
      <ref name="note"/>
      <ref name="bibl"/>
    </choice>
  </define>
  <define name="model.publicationStmtPart">
    <choice>
      <ref name="distributor"/>
      <ref name="authority"/>
      <ref name="idno"/>
      <ref name="availability"/>
      <ref name="address"/>
      <ref name="date"/>
      <ref name="publisher"/>
      <ref name="pubPlace"/>
    </choice>
  </define>
  <define name="model.glossLike">
    <choice>
      <ref name="altIdent"/>
      <ref name="desc"/>
      <ref name="equiv"/>
      <ref name="gloss"/>
    </choice>
  </define>
  <define name="model.quoteLike">
    <ref name="quote"/>
  </define>
  <define name="model.respLike">
    <choice>
      <ref name="author"/>
      <ref name="editor"/>
      <ref name="respStmt"/>
    </choice>
  </define>
  <define name="model.divWrapper.bottom">
    <choice>
      <ref name="trailer"/>
      <ref name="closer"/>
      <ref name="signed"/>
    </choice>
  </define>
  <define name="model.divWrapper">
    <choice>
      <ref name="head"/>
      <ref name="byline"/>
      <ref name="dateline"/>
      <ref name="argument"/>
      <ref name="epigraph"/>
      <ref name="opener"/>
      <ref name="salute"/>
      <ref name="docAuthor"/>
      <ref name="docDate"/>
    </choice>
  </define>
  <define name="model.frontPart.drama">
    <choice>
      <ref name="set"/>
      <ref name="prologue"/>
      <ref name="epilogue"/>
      <ref name="performance"/>
      <ref name="castList"/>
    </choice>
  </define>
  <define name="model.pLike.front">
    <choice>
      <ref name="head"/>
      <ref name="byline"/>
      <ref name="argument"/>
      <ref name="epigraph"/>
      <ref name="docTitle"/>
      <ref name="titlePart"/>
      <ref name="docAuthor"/>
      <ref name="docEdition"/>
      <ref name="docImprint"/>
      <ref name="docDate"/>
    </choice>
  </define>
  <define name="model.titlepagePart">
    <choice>
      <ref name="graphic"/>
      <ref name="binaryObject"/>
      <ref name="byline"/>
      <ref name="epigraph"/>
      <ref name="docTitle"/>
      <ref name="titlePart"/>
      <ref name="docAuthor"/>
      <ref name="imprimatur"/>
      <ref name="docEdition"/>
      <ref name="docImprint"/>
      <ref name="docDate"/>
      <ref name="figure"/>
    </choice>
  </define>
  <define name="model.msItemPart">
    <choice>
      <ref name="model.respLike"/>
      <ref name="q"/>
      <ref name="note"/>
      <ref name="bibl"/>
      <ref name="listBibl"/>
      <ref name="title"/>
      <ref name="colophon"/>
      <ref name="explicit"/>
      <ref name="filiation"/>
      <ref name="finalRubric"/>
      <ref name="incipit"/>
      <ref name="msItem"/>
      <ref name="msItemStruct"/>
      <ref name="rubric"/>
      <ref name="textLang"/>
      <ref name="decoNote"/>
    </choice>
  </define>
  <define name="model.choicePart">
    <choice>
      <ref name="sic"/>
      <ref name="corr"/>
      <ref name="reg"/>
      <ref name="orig"/>
      <ref name="unclear"/>
      <ref name="abbr"/>
      <ref name="expan"/>
      <ref name="seg"/>
    </choice>
  </define>
  <define name="model.lLike">
    <ref name="l"/>
  </define>
  <define name="model.recordingPart">
    <choice>
      <ref name="model.dateLike"/>
      <ref name="equipment"/>
      <ref name="broadcast"/>
      <ref name="respStmt"/>
    </choice>
  </define>
  <define name="model.imprintPart">
    <choice>
      <ref name="publisher"/>
      <ref name="biblScope"/>
      <ref name="pubPlace"/>
    </choice>
  </define>
  <define name="model.catDescPart">
    <ref name="textDesc"/>
  </define>
  <define name="model.settingPart">
    <choice>
      <ref name="locale"/>
      <ref name="activity"/>
    </choice>
  </define>
  <define name="model.textDescPart_sequence">
    <ref name="channel"/>
    <ref name="constitution"/>
    <ref name="derivation"/>
    <ref name="domain"/>
    <ref name="factuality"/>
    <ref name="interaction"/>
    <ref name="preparedness"/>
  </define>
  <define name="model.castItemPart">
    <choice>
      <ref name="role"/>
      <ref name="roleDesc"/>
      <ref name="actor"/>
    </choice>
  </define>
  <define name="model.physDescPart_sequenceOptional">
    <optional>
      <ref name="objectDesc"/>
    </optional>
    <optional>
      <ref name="handDesc"/>
    </optional>
    <optional>
      <ref name="musicNotation"/>
    </optional>
    <optional>
      <ref name="decoDesc"/>
    </optional>
    <optional>
      <ref name="additions"/>
    </optional>
    <optional>
      <ref name="bindingDesc"/>
    </optional>
    <optional>
      <ref name="sealDesc"/>
    </optional>
    <optional>
      <ref name="accMat"/>
    </optional>
  </define>
  <define name="model.nameLike">
    <choice>
      <ref name="model.nameLike.agent"/>
      <ref name="rs"/>
      <ref name="lang"/>
      <ref name="placeName"/>
      <ref name="geogName"/>
    </choice>
  </define>
  <define name="model.global">
    <choice>
      <ref name="model.global.meta"/>
      <ref name="model.milestoneLike"/>
      <ref name="model.global.edit"/>
      <ref name="anchor"/>
    </choice>
  </define>
  <define name="model.featureVal">
    <choice>
      <ref name="model.complexVal"/>
      <ref name="model.singleVal"/>
    </choice>
  </define>
  <define name="model.common">
    <choice>
      <ref name="model.oddDecl"/>
      <ref name="model.oddRef"/>
      <ref name="model.qLike"/>
      <ref name="model.biblLike"/>
      <ref name="model.listLike"/>
      <ref name="model.noteLike"/>
      <ref name="model.divPart"/>
      <ref name="label"/>
      <ref name="table"/>
      <ref name="figure"/>
      <ref name="eg"/>
      <ref name="egXML"/>
    </choice>
  </define>
  <define name="model.biblPart">
    <choice>
      <ref name="model.respLike"/>
      <ref name="model.imprintPart"/>
      <ref name="edition"/>
      <ref name="extent"/>
      <ref name="distributor"/>
      <ref name="idno"/>
      <ref name="note"/>
      <ref name="series"/>
      <ref name="msIdentifier"/>
    </choice>
  </define>
  <define name="model.datePart">
    <choice>
      <ref name="offset"/>
      <ref name="distance"/>
      <ref name="day"/>
      <ref name="week"/>
      <ref name="month"/>
      <ref name="year"/>
      <ref name="occasion"/>
      <ref name="second"/>
      <ref name="minute"/>
      <ref name="hour"/>
    </choice>
  </define>
  <define name="model.frontPart">
    <choice>
      <ref name="model.frontPart.drama"/>
      <ref name="divGen"/>
      <ref name="titlePage"/>
    </choice>
  </define>
  <define name="model.addrPart">
    <choice>
      <ref name="model.nameLike"/>
      <ref name="addrLine"/>
      <ref name="street"/>
      <ref name="postCode"/>
      <ref name="postBox"/>
    </choice>
  </define>
  <define name="model.pPart.data">
    <choice>
      <ref name="model.dateLike"/>
      <ref name="model.timeLike"/>
      <ref name="model.measureLike"/>
      <ref name="model.nameLike"/>
      <ref name="address"/>
    </choice>
  </define>
  <define name="model.inter">
    <choice>
      <ref name="model.oddDecl"/>
      <ref name="model.oddRef"/>
      <ref name="model.qLike"/>
      <ref name="model.biblLike"/>
      <ref name="model.listLike"/>
      <ref name="model.noteLike"/>
      <ref name="model.stageLike"/>
      <ref name="label"/>
      <ref name="text"/>
      <ref name="castList"/>
      <ref name="table"/>
      <ref name="figure"/>
    </choice>
  </define>
  <define name="model.phrase">
    <choice>
      <ref name="model.segLike"/>
      <ref name="model.hiLike"/>
      <ref name="model.graphicLike"/>
      <ref name="model.pPart.msdesc"/>
      <ref name="model.pPart.edit"/>
      <ref name="model.ptrLike"/>
      <ref name="model.lPart"/>
      <ref name="model.oddPhr"/>
      <ref name="model.pPart.data"/>
      <ref name="model.ptrLike.form"/>
    </choice>
  </define>
  <!-- 2. elements -->
  <!-- 3. macros -->
  <define name="data.certainty">
    <choice>
      <value>high</value>
      <value>medium</value>
      <value>low</value>
      <value>unknown</value>
    </choice>
  </define>
  <define name="data.probability">
    <data type="double">
      <param name="minInclusive">0</param>
      <param name="maxInclusive">1</param>
    </data>
  </define>
  <define name="data.numeric">
    <choice>
      <data type="double"/>
      <data type="decimal"/>
    </choice>
  </define>
  <define name="data.count">
    <data type="nonNegativeInteger"/>
  </define>
  <define name="data.temporal">
    <choice>
      <data type="date"/>
      <data type="gYear"/>
      <data type="gMonth"/>
      <data type="gDay"/>
      <data type="gYearMonth"/>
      <data type="gMonthDay"/>
      <data type="time"/>
      <data type="dateTime"/>
      <data type="token">
        <param name="pattern">(-?[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])T)?([01][0-9]|2[0-3])(:[0-5][0-9])?(Z|[+\-]((0[0-9]|1[0-3]):[0-5][0-9]|14:00))?</param>
      </data>
    </choice>
  </define>
  <define name="data.duration">
    <data type="duration"/>
  </define>
  <define name="data.truthValue">
    <data type="boolean"/>
  </define>
  <define name="data.xTruthValue">
    <choice>
      <data type="boolean"/>
      <value>unknown</value>
      <value>inapplicable</value>
    </choice>
  </define>
  <define name="data.language">
    <data type="language"/>
  </define>
  <define name="data.sex">
    <choice>
      <value>0</value>
      <value>1</value>
      <value>2</value>
      <value>9</value>
    </choice>
  </define>
  <define name="data.namespace">
    <data type="anyURI"/>
  </define>
  <define name="data.outputMeasurement">
    <data type="token">
      <param name="pattern">[\-+]?\d+(\.\d+)?(%|cm|mm|in|pt|pc|px|em|ex|gd|rem|vw|vh|vm)</param>
    </data>
  </define>
  <define name="data.pattern">
    <data type="token"/>
  </define>
  <define name="data.pointer">
    <data type="anyURI"/>
  </define>
  <define name="data.pointers">
    <list>
      <oneOrMore>
        <ref name="data.pointer"/>
      </oneOrMore>
    </list>
  </define>
  <define name="data.code">
    <data type="anyURI"/>
  </define>
  <define name="data.enumerated">
    <data type="token"/>
  </define>
  <define name="data.key">
    <data type="string"/>
  </define>
  <define name="data.word">
    <data type="token">
      <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
    </data>
  </define>
  <define name="data.names">
    <list>
      <oneOrMore>
        <ref name="data.name"/>
      </oneOrMore>
    </list>
  </define>
  <define name="data.words">
    <list>
      <oneOrMore>
        <ref name="data.word"/>
      </oneOrMore>
    </list>
  </define>
  <define name="data.name">
    <data type="Name"/>
  </define>
  <define name="macro.bodyPart.div">
    <ref name="div"/>
    <zeroOrMore>
      <choice>
        <ref name="div"/>
        <ref name="divGen"/>
        <ref name="model.global"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="macro.bodyPart.div0">
    <ref name="div0"/>
    <zeroOrMore>
      <choice>
        <ref name="div0"/>
        <ref name="divGen"/>
        <ref name="model.global"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="macro.bodyPart.div1">
    <ref name="div1"/>
    <zeroOrMore>
      <choice>
        <ref name="div1"/>
        <ref name="divGen"/>
        <ref name="model.global"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="macro.bodyPart.pre">
    <zeroOrMore>
      <ref name="divGen"/>
      <zeroOrMore>
        <ref name="model.global"/>
      </zeroOrMore>
    </zeroOrMore>
  </define>
  <define name="macro.bodyPart.main">
    <ref name="macro.bodyPart.pre"/>
    <choice>
      <ref name="macro.bodyPart.div"/>
      <ref name="macro.bodyPart.div0"/>
      <ref name="macro.bodyPart.div1"/>
    </choice>
  </define>
  <define name="macro.component" combine="choice">
    <choice>
      <ref name="model.common"/>
      <ref name="mix.drama"/>
      <ref name="mix.spoken"/>
      <ref name="mix.dictionaries"/>
    </choice>
  </define>
  <define name="macro.componentSeq" combine="choice">
    <zeroOrMore>
      <choice>
        <ref name="macro.component"/>
        <ref name="model.global"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="macro.paraContent">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.gLike"/>
        <ref name="model.phrase"/>
        <ref name="model.inter"/>
        <ref name="model.global"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="macro.phraseSeq">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.gLike"/>
        <ref name="model.phrase"/>
        <ref name="model.global"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="macro.specialPara">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.gLike"/>
        <ref name="model.phrase"/>
        <ref name="model.inter"/>
        <ref name="model.divPart"/>
        <ref name="model.global"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="macro.xtext">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="model.gLike"/>
      </choice>
    </zeroOrMore>
  </define>
  <define name="macro.fileDescPart">
    <ref name="titleStmt"/>
    <optional>
      <ref name="editionStmt"/>
    </optional>
    <optional>
      <ref name="extent"/>
    </optional>
    <ref name="publicationStmt"/>
    <optional>
      <ref name="seriesStmt"/>
    </optional>
    <optional>
      <ref name="notesStmt"/>
    </optional>
  </define>
  <define name="macro.glossSeq">
    <optional>
      <ref name="altIdent"/>
    </optional>
    <zeroOrMore>
      <ref name="equiv"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="gloss"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="desc"/>
    </zeroOrMore>
  </define>
</grammar>
